[2015-10-06 05:16] zetok commented on #383
Closing, since #1938 was merged.

[2015-10-06 05:16] #383 closed, assigned to nobody

[2015-10-06 05:17] zetok commented on #2347
@Jacobtey mind supplying more info about your environment, since issue seems to affect only you (i.e. other plasma 5 users didn't have this issue so far)?

If you could, please refer to https://github.com/tux3/qTox/wiki/Writing-Useful-Bug-Reports

Also, are you sure that you have enabled tray icon?

[2015-10-06 05:32] Jacobtey commented on #2347
Yes, I'm sure. I've used qtox and qtox-qt5.4.2 packages. No tray icon both black and white. I've tried them in kubuntu vivid vervet than upgraded it to wily beta2. No effect as well. Now I've got Kubuntu 15.10 beta2: plasma 5.4.2 qt 5.4.2 kde framework 5.14.0. Everything works correctly except qtox tray icon. What info else should I give?

[2015-10-06 06:16] agilob commented on #2347
@zetok can he test this? https://github.com/tux3/qTox/pull/2132#issuecomment-143035753

@Jacobtey you're probably missing statusnotifier now, the PR above removes SN dependency for KDE.

[2015-10-06 07:24] Jacobtey commented on #2347
Ok, what should I do? Is there tutorial? Starting qtox in konsole gets "Warning: No system tray detected!"
If "in KDE5 qTox will use Qt backend instead buggy status-notifier" why missing statusnotifier is a problem for me?

[2015-10-06 10:21] zetok commented on #2347
@agilob yep

@Jacobtey could you test
https://build.tox.chat/job/qTox-testing_build_linux_x86-64_release/13/artifact/qTox-testing_build_linux_x86-64_release.tar.xz
and
https://build.tox.chat/job/qTox-testing-qt5.4.2_build_linux_x86-64_release/15/artifact/qTox-testing-qt5.4.2_build_linux_x86-64_release.tar.xz
?

[2015-10-06 11:54] agilob commented on #2342
Do I understand it? when you logout, qtox process should be killed, when you login, it shouldn't start unless you have autostart enabled. Could you reproduce it and give us log from starting qtox after logout? This might be related to  #1485 or something new.

[2015-10-06 12:16] Jacobtey commented on #2347
@zetok I'll try to package them tonight and give U feedback later. Thanx

[2015-10-06 12:44] zetok commented on #2347
@Jacobtey you don't need to package anything - just unpack and run it

[2015-10-06 13:18] PKEv commented on #1595
closed

[2015-10-06 13:34] #1595 closed, assigned to nobody

[2015-10-06 16:09] towlie opened #2349 "qTox changes window position on every restart"
I saw this on Windows 7 and 10 (x64)
It moves a few pixels to the left and a huge step to the top:
The unwanted behaviour starts at 3. Window size is the same.
1. New position set:
   ![0](https://cloud.githubusercontent.com/assets/6986141/10314287/537dd926-6c54-11e5-9099-41103fd4e90c.jpg)
2. First restart (nothing changed):
   ![1](https://cloud.githubusercontent.com/assets/6986141/10314369/b3b7b

[2015-10-06 17:09] Jacobtey commented on #2347
[19:58:10.666] src/widget/widget.cpp:1720 : Warning: No system tray detected!

[2015-10-06 17:56] #2259 closed, assigned to nobody

[2015-10-06 18:01] #1999 closed, assigned to nobody

[2015-10-06 18:04] agilob commented on #2347
Did you get this from the first archive?

[2015-10-06 18:08] Jacobtey commented on #2347
From both.

[2015-10-06 18:16] agilob commented on #2347
What is your distribution, version of plasma?

[2015-10-06 18:16] zetok commented on #2347
um.

[2015-10-06 18:18] agilob commented on #2347
Ym... could you try `./simple_make.sh` from qtox directory?

[2015-10-06 18:19] Jacobtey commented on #2347
From qtox directory? Where is it?

[2015-10-06 18:20] agilob commented on #2347
[code]

[2015-10-06 18:25] Jacobtey commented on #2347
jacobtey@jacobtey-laptop:~$ git clone git@github.com:tux3/qTox.git
Клонирование в «qTox»…
The authenticity of host 'github.com (192.30.252.130)' can't be established.
RSA key fingerprint is SHA256:nThbg6kXUpJWGl7E1IGOCspRomTxdCARLviKw6E5SY8.
Are you sure you want to continue connecting (yes/no)? yes
Warning: Permanently added 'github.com,192.30.252.130' (RSA) to the list of known hosts.
Permission

[2015-10-06 18:26] agilob commented on #2347
Ymm ok, you must:
1. add you ssh publick key to your github account or
2. `git clone https://github.com/tux3/qTox.git`

[2015-10-06 18:39] zetok commented on #2167
@PKEv thing is, users often try to add friend by PK (64 chars) - since qTox only adds valid IDs (76 chars) or toxdns entries - when user inputs 64 character long string, they think that they are supplying an ID, and when qTox parses input, user gets some cryptic message about toxdns not working.

This isn't good - user should be informed that what they supplied isn't a Tox ID.

For that, input mus

[2015-10-06 19:10] PKEv commented on #2349
http://doc.qt.io/qt-5/application-windows.html#window-geometry

[2015-10-06 19:18] gusarg81 commented on #1353
Hi, this is not fixed (at least for me). Tested in Kubuntu 15.04 and 15.10 beta 2:

[16:15:58.651] src/widget/widget.cpp:1706 : Warning: No system tray detected!

Using qTox e1509a9.

Cheers,

[2015-10-06 19:33] zetok commented on #1353
From #2347, thanks to @Jacobtey:

#

Yes, I'm sure. I've used qtox and qtox-qt5.4.2 packages. No tray icon both black and white. I've tried them in kubuntu vivid vervet than upgraded it to wily beta2. No effect as well. Now I've got Kubuntu 15.10 beta2: plasma 5.4.2 qt 5.4.2 kde framework 5.14.0. Everything works correctly except qtox tray icon. What info else should I give?

---

@Jacobtey tested

[2015-10-06 19:34] zetok commented on #2347
heh, so I did remember correctly that there was an issue about it, and that this is a duplicate → #1353

Since it's a dup, closing.

@Jacobtey um, could you give reply about what @agilob asked in #1353 ?

[2015-10-06 19:34] #2347 closed, assigned to nobody

[2015-10-06 19:42] gusarg81 commented on #1353
Hi again,

Just in case, I've tested latest (150-eaf44c4 according to deb package) and still no system tray icon:

[16:40:59.651] src/widget/widget.cpp:1706 : Warning: No system tray detected!

Cheers.

[2015-10-06 19:44] zetok commented on #1353
@gusarg81 yep, thanks.

@agilob are you sure that you didn't compile qTox with GTK tray backend when you were testing your PR?

[2015-10-06 19:45] gusarg81 commented on #1353
@zetok no problem, let me know if you need more testing (I can compile it too if needed).

Cheers.

[2015-10-06 19:47] zetok commented on #1353
oh wait - the packages in repos aren't the one that I've linked to - i.e. `qTox-testing` builds aren't pushed to repos

[2015-10-06 20:05] Jacobtey commented on #1353
Hallelujah! I've got it with ./simple_make.sh
![systemsettings1](https://cloud.githubusercontent.com/assets/7997512/10320938/ad57e7be-6c7e-11e5-8e71-6a32133a994e.png)

[2015-10-06 20:08] agilob commented on #1353
So you were missing some libraries ;)

[2015-10-06 20:12] zetok commented on #1353
@agilob that's not it - `simle_make.sh` compiles qTox with support for GTK tray backends, while builds on jenkins don't.

[2015-10-06 20:14] Jacobtey commented on #1353
Well. Why haven't they be found during installation of qTox from repository?
Only made with ./simple_make.sh qTox has an icon in tray. Compiled by U one and qTox from repository have not.

[2015-10-06 20:36] zetok commented on #1353
qTox build on jenkins isn't compiled with support for GTK tray backends.

Generally, I've tried to make jenkins builds as static as possible, and linking to GTK wouldn't help with it.

@agilob's PR is supposed to render dependency on GTK ~deprecated, though it seems that it still depends on it in order to make tray work under KDE5.

[2015-10-06 20:48] antis81 commented on #2303
Had a look at it. My guess was right, but I don't know how to fix it… Unfortunately we don't have direct access to the main window (should become the parent of all classes inheriting `Widget` - excluding itself of course). @PKEv Probably one for you? I can help on questions.

[2015-10-06 20:57] zetok commented on #1353
So, according to @agilob, it's not reproducible on Arch (i.e. PR works without support for GTK) - that makes me wonder if kubuntu isn't at fault here…

[2015-10-06 21:02] gusarg81 commented on #1353
Ok, tested building from git and works just fine on Kubuntu (15.10) :)

[2015-10-06 21:06] redsteakraw commented on #1353
@zetok  @agilob

This is a hack no GTK dependencies should be needed for a Qt 5 app.  [KDE modularised their libs so they are like any other 3rd Party Qt lib.](http://www.frameworks.org/api) What is needed is the old GTK and other hacked libs to be thrown out and replaced with one capible Frameworks 5 lib [KNotifications](http://api.kde.org/frameworks-api/frameworks5-apidocs/knotifications/html/cl

[2015-10-06 21:13] towlie commented on #2349
Ah I see, it always takes the border size when it moves to the left and up. So it seems that qTox is missing special window geometry parameters which are required for windows.

[2015-10-06 21:32] Jacobtey commented on #1353
@redsteakraw why  KNotifiations doesn't work for qTox in Kubuntu?

[2015-10-06 21:35] zetok commented on #1353
@gusarg81

Did you test it with or without GTK support?
(if you just ran `simple_make.sh` then it's with GTK support)

https://github.com/tux3/qTox/wiki/Tray-icon

[2015-10-06 21:48] redsteakraw commented on #1353
@zetok  @agilob Also native [Qt lib can be used for Qt 5.4+](http://blog.martin-graesslin.com/blog/2014/06/where-are-my-systray-icons) if that is set to the minimum Qt lib version the problem and complexity for all desktops can be simplified.  Ideally just mandating Qt 5.4 and using the native lib will simplify the build system and this issue in general.

[2015-10-06 22:31] gusarg81 commented on #1353
@zetok I just used the script simple_make.sh (which installs libgtk2.0-dev, but it means it compiles with GTK support?)

[2015-10-07 04:51] Jacobtey commented on #1353
And what kind of tray backends should builds on jenkins support?

[2015-10-07 06:19] agilob commented on #2303
QApplication::allWidgets() -> foreach hide?

[2015-10-07 09:40] agilob commented on #1353
Bug in Gnome3 - we can't do it, G3 can't take svg as tray icon.

Bug in Qt 5.0-5.4, we can't do it, tray icon is located in random location on start and refuses to put itself in tray. We had at least 2 issues about it.

This is not a solution... we would end up having: qtox-gtk, qtox-unity and third... qtox-kde.

What I did in that branch simplifies trayicon, G3 and KDE use the same Qt backend. It

[2015-10-07 12:09] Jacobtey opened #2351 "Webcam doesn't switch off after ending a videocall"
Windows 10 ASUS K43S
Kubuntu 15.10 Acer Aspire 4720Z
1. Start qTox
2. Open tab "Audio/Video"
3. Choose Video device - Webcam LED lights
4. Out from tab "Audio/Video" - Webcam LED goes out
5. Start videocall - Webcam LED lights - Webcam works
6. End videocall - Webcam LED still lights - Webcam window is out

[2015-10-07 12:12] PKEv opened #2352 "show the last correspondence history"
Now history is displayed in the last 7 days,
I think it would be useful if there is no history in the last 7 days of the show At least the last 5 posts (or the number selected by the user)

[2015-10-07 12:49] zetok commented on #2352
Yeah, 5 last messages being shown if there were no messages in last 7 days sounds good to me.

[2015-10-07 12:52] alexeysvrv opened #2353 "qTox freezing when opening Webcam..."
Hello. I Russian and i use Qtox. But CameraDevice.cpp error on 224(opendevice). Qtox is freeze. And only cloze Qtox - Ctrl+C in terminale. My system Ubuntu 14.04
![none device](https://cloud.githubusercontent.com/assets/15014747/10337843/1f3edcd4-6d0b-11e5-86bd-24ba91eede7b.png)
First screenshot - device None, second - opening camera and freeze. Help me please
![opening camera device](https://clou

[2015-10-07 13:11] tux3 commented on #2334
The problem could be that qTox stalls for n*5 seconds while the IPC is timing out trying to deal with the first instance.

The IPC in qTox is currently horribly broken and only "works" by pure coincidence. But that's not really new, so if you only noticed recently your problem is probably something else.

[2015-10-07 13:36] alexeysvrv commented on #2353
Sometimes closing from terminale with Ctrl+C not working and closing even "kill -9 PID Qtox"(SIGKILL) who are not working... Closing only with help HARD reset, because soft reset back to defautl theme on system

[2015-10-07 13:41] ovalseven8 commented on #2352
@TheSpiritXIII's PR will change the current behaviour, anyway.

https://github.com/tux3/qTox/pull/2013:

[2015-10-07 13:42] ovalseven8 commented on #2351
Priority 'medium' at least.
But perhaps closable when https://github.com/tux3/qTox/pull/2093 gets merged?

[2015-10-07 14:04] tux3 commented on #2353
Does it work if you use your webcam in other programs?

[2015-10-07 14:28] zetok commented on #2352
oh, right

[2015-10-07 15:20] #2228 closed, assigned to tux3

[2015-10-07 19:49] alexeysvrv commented on #2353
My webcam worked in other programs. In Skype and web browser webcam great are worked. This regression from jule, august mounts... Early all was OK!

[2015-10-07 21:15] antis81 commented on #2303
@agilob  Why such bullshit? Simply assign the parent correctly (the main window is the parent) and it will behave correctly in every situation! (100 exclamation marks :smile:)

**EDIT** Well… we could do `foreach(QWidget* w, QApplication::topLevelWidgets()) { w->hide; }`. Though the missing parent will cause other problems as well. Have a look at qthelp://org.qt-project.qtwidgets.550/qtwidgets/qap

[2015-10-07 22:32] BiTOk commented on #2257
Can someone assign this bug to me?

[2015-10-08 00:41] aaannndddyyy commented on #2338
Sounds reasonable at first.
But what should it protect against?

If you want to protect the user from accidentally deleting his profile, a simple "Are you sure?" Pop up dialogue is enough.

What happens, if you forget your password? Then the profile is useless.
You can either keeping it, hoping you will remember the password at a later time, or you may want to get rid of the useless profile - with

[2015-10-08 05:19] TheNain38 commented on #2338
@ovalseven8 Yes, you can't prevent someone from deleting files and, so tox profiles too

[2015-10-08 05:32] ProMcTagonist commented on #2338
No.

https://elementary.io/docs/human-interface-guidelines#always-provide-an-undo

[2015-10-08 06:54] antis81 commented on #2332
@agilob The .desktop file will also help with integrating qTox into alternate panel (task bar) solutions like `docky` or `cairo-dock`.

[2015-10-08 06:57] antis81 commented on #2353
Experiencing this for quite some time now on my system (Lubuntu 14.04/15.04 on MacBook 2,1) as well. @tux3 I didn't have time yet to check your latest improvements.

[2015-10-08 07:32] aaannndddyyy commented on #2338
Then provide an undo button. But typing the password does not accomplish what you want. You would need to move 'deleted' profiles to an internal trash bin . . .
Needlessly typing a password is a nuissance, and users want to easily get rid of old unused profiles.

[2015-10-08 09:32] #2294 closed, assigned to nobody

[2015-10-08 09:38] zetok opened #2358 "There are 2 emoticons in TwitterEmojiSVG that use `^_^` - which one should keep it?"
https://github.com/tux3/qTox/blob/3e75fd4dbc5dc623553ba255fed17c8f98258693/smileys/TwitterEmojiSVG/emoticons.xml#L25,L27
and
https://github.com/tux3/qTox/blob/3e75fd4dbc5dc623553ba255fed17c8f98258693/smileys/TwitterEmojiSVG/emoticons.xml#L51,L53

Those are very similar - anyone, any thoughts on this?

[2015-10-08 09:58] ghost commented on #2353
Can't reproduce on Mint 17.2 (Ubuntu 14.04 based). Tested with 9cafb31eca79b1da89db446ba27c0e6c189abed3 and bfc62ab38ce3173919516715d3cbf0f482571713 changing between `None` and the integrated camera several times.

[2015-10-08 10:00] ghost commented on #2358
#L51,L53 is more like it.

[2015-10-08 10:11] agilob commented on #2358
Which one is used now then you type the emoticon? I think we should stay with the one which is printed now.

[2015-10-08 10:26] zetok commented on #2358
![currently used](https://cloud.githubusercontent.com/assets/3148759/10363909/56dbf1e6-6daf-11e5-8224-822b97c626b6.png)

[2015-10-08 10:59] TheNain38 commented on #2334
@tux3 Maybe it's just me that didn't see that earlier, and that's not a regression? Because it takes about 7 seconds

[2015-10-08 14:38] #2261 closed, assigned to nobody

[2015-10-08 14:42] tux3 commented on #2261
@fenque Is it fixed, and did you figure out what the problem was?

[2015-10-08 14:46] tux3 commented on #2334
@TheNain38 I can't really tell without more info. Could you start a second qTox instance in a profiler or debugger and interrupt it while it's stalling so we know where exactly the problem is?

[2015-10-08 15:27] TheNain38 commented on #2334
@tux3 for me with a debugger, it is waiting in
- https://github.com/tux3/qTox/blob/42659aefe8f7fd6f2299defec2edd1767cad8292/src/main.cpp#L241
- https://github.com/tux3/qTox/blob/42659aefe8f7fd6f2299defec2edd1767cad8292/src/ipc.cpp#L191

And also there is a blank window
![Blank window](https://cloud.githubusercontent.com/assets/13149763/10372233/248a24e6-6de7-11e5-8440-8a53eee1b902.PNG)

And when c

[2015-10-08 15:30] soredake commented on #2261
I switched to gentoo, so now i can not determine what the problem was.

[2015-10-08 16:18] tux3 commented on #2334
No surprise, the IPC code is going to need just a _teeny tiny_ bit of an overhaul.

[2015-10-08 16:24] TheNain38 commented on #2334
@tux3 So, this isn't a regression? It's just me that didn't see that earlier?

[2015-10-08 16:30] tux3 commented on #2334
It's been this way for a couple months, at least.

[2015-10-08 17:03] zetok commented on #2342
@agilob I think that @programizer meant "Logging out" in qTox via profile page

[2015-10-08 17:52] tux3 commented on #2334
Oh wait, found the problem.

![snapshot36](https://cloud.githubusercontent.com/assets/5155966/10374909/f79faf8c-6df5-11e5-9cdd-3b33922f0021.png)

It's just sleeping a thousand times too long because of a typo...

[2015-10-08 17:54] #2334 closed, assigned to nobody

[2015-10-08 17:56] #2358 closed, assigned to zetok

[2015-10-08 18:39] TheNain38 opened #2360 "Can't start a second instance"
@tux3 Why waiting less make qTox not able to start a second instance? 59e06920692a5966645bf60baa8753f440842651

Is the timeout too low?
https://github.com/tux3/qTox/blob/59e06920692a5966645bf60baa8753f440842651/src/ipc.cpp#L192

[2015-10-08 18:42] agilob commented on #2360
you can start second instance with `./qtox -p profile`

toxcore isn't designed to handle two the same IDs in the network.

[2015-10-08 19:05] TheNain38 commented on #2360
@agilob Yes, because it doesn't use IPC when qTox is started like that, but the other one is.

[2015-10-08 19:31] benwaffle commented on #2334
:laughing:

[2015-10-08 19:39] #2063 closed, assigned to nobody

[2015-10-08 19:40] agilob commented on #2360
Well, than it works for me. I am able to start two profiles without any problem.

[2015-10-08 20:34] tux3 commented on #2292
Repro:
- Talk to THIS. IS. TOX. bot with unencrypted history enabled
- Wait a couple seconds/minutes
- Restart qTox
- History should be gone

[2015-10-08 21:07] PKEv commented on #2292
History is not reset, but written not all
![qtox_screenshot_2015-10-08 23-51-47 495](https://cloud.githubusercontent.com/assets/6053197/10379942/c585ee8e-6e19-11e5-8926-bfe9b9d24c55.png)

[2015-10-08 21:12] TheNain38 commented on #2360
@agilob Well on my case it doesn't work with Virtualbox with guest O.S. lunbuntu, I will test on my second machine when I have access

[2015-10-08 21:12] sudden6 commented on #2353
Another problem with cyrilic (or non ASCII chars in general) chars in device names?

[2015-10-08 21:23] zetok opened #2362 "qTox doesn't save received messages when they're received <5s before closing qTox"
OS: Hardened Gentoo Linux x86_64
FS: ext4
sqlite: `3.8.10.2`
qTox 6e0c0d1210847b0e767e8a01f8d3a4903f238244

Steps to reproduce:
1. Start qTox
2. Add spambot - `C7719C6808C14B77348004956D1D98046CE09A34370E7608150EAD74C3815D30C8BA3AB9BEB9`
3. wait for spambot to come online
4. send a message and close qTox <5s (spambot will send back message, just before closing qTox you should receive it)

Reproduc

[2015-10-09 06:07] alexeysvrv commented on #2353
![-6](https://cloud.githubusercontent.com/assets/15014747/10386913/0eb5aaea-6e65-11e5-9f79-211a708ea779.png)
Its my lsusb -v device Webcamera. Ciryllic i dont find in the name

[2015-10-09 06:23] zetok commented on #2353
@alexeysvrv instead of screenshot, could you just put the text in comment, in between (without space before "`"):

[code]

?

[2015-10-09 06:28] agilob commented on #2292
what a useful bot

could be done with sed

[2015-10-09 06:31] agilob commented on #2362
![weblate10](https://cloud.githubusercontent.com/assets/2544251/10387241/bead7788-6e57-11e5-8bd9-b67c3d127069.png)

[2015-10-09 06:33] zetok commented on #2362
Yes.

[2015-10-09 06:35] alexeysvrv commented on #2353
@zetok I do it

[code]

[2015-10-09 06:56] alexeysvrv commented on #2353
It's my `strace` log when i opening device webcam

[code]

[2015-10-09 07:37] tux3 commented on #2353
@alexeysvrv Could you try running it in a debugger, and taking a backtrace of all threads (`thread apply all bt` with gdb) when it's freezing so we know exactly where the problem is?

@antis81 Is your webcam USB as well?

[2015-10-09 07:45] tux3 commented on #2360
@TheNain38 It should still work the same way, it's sleeping in a loop so how long it sleeps shouldn't matter.

If it's freezing, can you take a backtrace of where it's stuck and post the log?

[2015-10-09 07:51] alexeysvrv commented on #2353
Sorry guys. All OK. I just update Linux kernel to version 4.2.3 from 3.16
Issue was in Linux Kernel. I can select resolution camera in options and camera normally worked.

[2015-10-09 08:44] #2353 closed, assigned to nobody

[2015-10-09 11:53] agilob commented on #2362
Does that mean that SQLite decides when to commit data to file? If so, DB should be committed before closing qtox on every logger level.

[2015-10-09 11:55] agilob commented on #2353
Now I remember I had the same problem on linux 2.6

[2015-10-09 11:55] ghost commented on #2275
Yes, you're right, better keep it simple (length == 16, no special chars in every OS). The nick can be changed anyway.

The current regex only permits alphanumeric chars (https://github.com/PKEv/qTox/commit/432cd4f15d4d709fa20c6c2522d5308158a5e96d#diff-1e0d837757bc75752ac84d02d7e8ed44R104). In my opinion, `-`, `_` and `.` should be permitted too. Maybe even white spaces?

@PKEv @agilob

[2015-10-09 11:58] agilob commented on #2275
I think those should be forbidden: https://en.wikipedia.org/wiki/Filename#Reserved_characters_and_words

[2015-10-09 12:04] zetok commented on #2275
Err, that would cause problems..

[2015-10-09 12:04] ghost commented on #2275
`-` and `_` are harmless
`.` can only be problematic in Windows if the file name ends with a dot, which doesn't happen in this case
I'm not a fan of white spaces either, but they're everywhere in Windows' paths, so they must be handled anyway

Also: should names be case insensitive, to prevent Windows errors or overwritten files?

@zetok backwards compatibility? What about qTox looking for any str

[2015-10-09 12:15] zetok commented on #2275
@kehugter so far, backwards compatibility wasn't affected by any of PRs (at least AFAIR) - problem is though that limiting to certain chars would be a huge regression.

What would be better, is just not allowing a few certain chars to be used, without really limiting what user can use.also, as per length limit - not sure about it, I don't see it being a real problem, but then again, perhaps there

[2015-10-09 12:26] ghost commented on #1723
~~For the record: now it behaves as it "should" - closing, not minimising.~~ Nope, I just forgot to uncheck "Minimize to tray".

`Ctrl + q` still closes to tray.

[2015-10-09 13:29] zetok commented on #2287
IMHO rather than enforcing proxy by default, there should be an option to tick `Enforce proxy`, which would make sure that qTox connects only via proxy (disabled UDP & toxdns support)

[2015-10-09 14:19] antis81 commented on #2353
Hm… still having this problem with current 3.19 kernel. GUVCView works all fine though… ??

[2015-10-09 15:44] tux3 commented on #2353
@antis81 Could you try to get a backtrace?

[2015-10-09 16:22] TheNain38 commented on #2360
First I start one qTox instance and then a second, the second terminates and then a blank window is open.
- Here is the backtrace when first qTox instance receive a `SIGSEV` because I close the blank window: https://gist.github.com/TheNain38/7e29f062713834af0ed8#file-backtrace-virtualbox-lunbuntu
- And here is the call stack: https://gist.github.com/TheNain38/b24c17fff8d1853e94ae#file-call-stack

[2015-10-09 16:26] ProMcTagonist commented on #2287
If a user has entered a proxy, I think it's incredibly likely that they need and expect it to be used.

[2015-10-09 16:47] ghost opened #2365 "Behaviour when tray icon is clicked"
Relevant checked settings
- Show system tray icon
- Close to tray

Current behaviour
- Window closed, tray icon clicked -> window maximised
- Window minimised, tray icon clicked -> window maximised
- Window maximised, tray icon clicked -> window minimised

What I would expect
- Window closed, tray icon clicked -> window maximised
- Window minimised, tray icon clicked -> window closed to tray
- Win

[2015-10-09 17:03] ghost commented on #2349
RE "Windows only?": for me (Cinnamon v2.6.13, 2 monitors), it starts always in the same position. The login window in the primary monitor, at the top-middle; after login in, the user window appears in the second monitor, at the top-left corner.

[2015-10-09 17:12] BiTOk commented on #2167
I'll do this.

[2015-10-09 18:03] #2365 closed, assigned to nobody

[2015-10-09 18:03] agilob commented on #1413
#2365

[2015-10-09 18:04] agilob commented on #1542
#2365

[2015-10-09 18:46] agilob opened #2366 "Gdk: (No space left on device)"
[code]

I have 10GB on / and 45Gb on /home left.

[2015-10-09 19:03] ghost commented on #2365
Oops, sorry, I thought I checked for duplicates last time.

[2015-10-09 19:12] ghost commented on #1542
Programs that have the "usual" close/maximise tray icon behaviour in Linux: qBittorrent, DeadBeef, Banshee, bomi, HexChat.

[qBittorrent](https://github.com/qbittorrent/qBittorrent) uses Qt4 and [bomi](https://github.com/xylosper/bomi) Qt5, maybe some code could be copied from there? Both projects are GPLv2.

[2015-10-09 19:16] agilob commented on #1542
It worked when I implemented it first time, then someone came and broke it. It's easy to fix...

[2015-10-09 20:40] Zer0-One commented on #2366
@agilob shmget() acquires shared volatile memory. your filesystems probably don't have any bearing here.

[2015-10-09 20:40] zetok commented on #2366
So it tried to use shared memory - i.e. probably either `/tmp` (which is mounted by systemd as tmpfs) or /dev/shm ..

Could you see which one of your mounted fs has no ~~memory~~ space left?

[2015-10-10 04:21] zetok commented on #1285
Since no one responded to that for over a month, closing. If problem is still reproducible, please comment for reopen.

[2015-10-10 04:21] #1285 closed, assigned to nobody

[2015-10-10 04:25] zetok commented on #1586
Since no response for over than month, closing.

[2015-10-10 04:25] #1586 closed, assigned to nobody

[2015-10-10 04:27] zetok commented on #1765
Apparently qTox sometimes doesn't send avatars, independently from OS - @agilob that's what you ran into recently when you were testing saving avatars to DB, right?

[2015-10-10 04:29] zetok commented on #2161
Anything?

There was no response for over a month, but I don't want to close this, given how severe repercussions of that happening again are.

Were you able to reproduce it?
Or anyone else for that matter?

[2015-10-10 06:01] ProMcTagonist commented on #2161
Sorry for not responding earlier. It happened again a couple times, each time after making a new profile and using that for a bit (the user only had two contacts, luckily).

I'm now pretty sure it's the result of corruption due to there being not enough space left on C:\ because
1) there's not enough space on C:\, and
2) two new profiles appeared, with the same name.tox but with extra characters a

[2015-10-10 06:08] ProMcTagonist commented on #1586
No need to reopen unless other people comment too. I'd just like to say that if it continues to be a problem, what if clicking on the profile picture simply navigated to the (re-added) Profile settings tab?

[2015-10-10 06:30] zetok commented on #2161
Uh, that would mean that data is not being encrypted, but rather erased, and qTox (toxcore?) interprets it as encrypted profile…

steps to reproduce error about wrong password when profile was erased:
1. erase contents of qTox profile

[code]

\2. try to load $profile_to_erase → qTox shows error message `Wrong password.`

#

Since it is qTox itself that erases profile, bumping priority to highest.

[2015-10-10 06:47] zetok commented on #2349
Re: "Windows only?" - apparently not for @agilob; from https://github.com/tux3/qTox/pull/2348#issuecomment-146640793:

#

(…) KDE5. Window is moved a few pixels each restart.

[2015-10-10 07:13] zetok commented on #2360
Can reproduce with:

[code]

`git bisect` with
bad commit: b0647b0b4bcda0ff4ebd01017ab2261b0b9ad24a
good commit: 9a47a88125bc9ebb7054dcbff6e391ae6514579c

points to 59e06920692a5966645bf60baa8753f440842651

[code]

[2015-10-10 07:16] zetok commented on #2360
And reverting 59e06920692a5966645bf60baa8753f440842651 fixes this issue.

[2015-10-10 07:53] agilob commented on #1765
Yup, Antox sends avatar only on change, never on connect, µtox not always. I received avatar from zetok automatically, but from his second account kotez, after a few hours of being online.

[2015-10-10 07:55] agilob commented on #2366
`/tmp` is under `/`, I have two partitions.
![weblate11](https://cloud.githubusercontent.com/assets/2544251/10410025/ac8165bc-6f2c-11e5-96e0-0cbaa99dcde3.png)

[2015-10-10 07:57] zetok commented on #2366
Yes, and since you're using Arch, which uses systemd, `/tmp` is mounted automatically as tmpfs - unless you explicitly disabled that, which I assume is not the case?

[2015-10-10 08:01] agilob commented on #2366
ok, I didn't know that.

[2015-10-10 08:01] #2366 closed, assigned to nobody

[2015-10-10 09:14] Zer0-One opened #2368 "Login buttons mouseover color"
When the mouse cursor is over the "Load" or "Create Profile" button on the login window, the button's color should change in order to indicate that the control is active (like EVERY other button everywhere).

[2015-10-10 09:24] towlie commented on #2349
I think what @kehugter described is something else. When you start qTox the first time without moving it then qTox will spawn on the upper left of your desktop next time. That happens because qTox only saves the position on move or size change. (And maybe he uses an old version which did not allow saving a new start position? See https://github.com/tux3/qTox/issues/2348)

[2015-10-10 10:00] ghost commented on #2349
So it seems. Updated again and now the user window remembers the size, but it moves a few pixels up and to the left after every _login_ (no need to restart qTox). The login window is displayed on a fixed position every time:

![01](https://cloud.githubusercontent.com/assets/6382342/10410642/3d440512-6f48-11e5-8080-f7558b845663.png)

The window properties are shared among profiles. Is that OK?

Als

[2015-10-10 10:39] antis81 commented on #2303
@agilob First, apologies for my somewhat rude language - I was really pissed that day (long story…).

My first thought also was, that the `foreach…` might work. In short: It doesn't! Why? Simply because it will make **every** invisible top-level widget (hidden dialogs, qTox settings, etc.) visible. Funny result… :smile:

Thus, the only solution is to actually clean up the code and make at least ev

[2015-10-10 13:35] zetok commented on #2257
Since #2363 got merged, closing.

[2015-10-10 13:35] #2257 closed, assigned to nobody

[2015-10-10 15:15] Aralun opened #2372 "Why does prefixing a message with '>' turn it green?"
When I send a message prefixed with `>` it turns green.

[code]

Why is that? Is there any other pretty colours shortcuts out there? I've tried a bunch of other prefixes :

[code]

to no avail.

[2015-10-10 15:31] zetok commented on #2372
It's quoting.

[2015-10-10 15:32] agilob commented on #2372
tox is (was?) a 4chan project.

[2015-10-10 15:34] zetok commented on #2372
Was.

[2015-10-10 15:58] zetok commented on #2372
@Aralun if that answers your question, could you close the issue?

[2015-10-10 15:59] Aralun commented on #2372
It perfectly does, thanks!

[2015-10-10 15:59] #2372 closed, assigned to nobody

[2015-10-10 16:14] agilob opened #2374 "Contacts sorter isn't saved"
1. change way you sort contacts
2. restart qtox

[2015-10-10 16:51] towlie commented on #2349
So it is not windows only. If look at http://doc.qt.io/qt-5/application-windows.html#window-geometry then this also makes sense. So we just have to wait until someone will look at this.

[2015-10-10 17:03] towlie commented on #2349
It looks like qTox is ignoring DE borders when it tries to restore the window position.
So it uses this as start point (upper left point):
![zoom](https://cloud.githubusercontent.com/assets/6986141/10412256/71671a68-6f80-11e5-8dd1-b319d4b1948f.jpg)

But it should use this point:
![zoom1](https://cloud.githubusercontent.com/assets/6986141/10412269/c5030a06-6f80-11e5-853a-01b2adc1d2c5.jpg)

[2015-10-10 20:30] ProMcTagonist commented on #992
https://github.com/tux3/qTox/issues/1027

https://github.com/tux3/qTox/issues/1294

Related. I think it's getting to be about time for stickers and that redesign, since FILE_KIND is done (I think? see https://github.com/tux3/qTox/issues/1804  and  https://github.com/irungentoo/toxcore/pull/1148)

[2015-10-10 22:03] zetok commented on #992
Well, using `FILE_KIND` constitutes adding to toxcore `TOX_FILE_KIND_NEWTYPE` - adding new types wouldn't result in API breakage, but clients would have to be updated in order to support new stuff.

[2015-10-10 23:24] zetok commented on #2015
Since #2376 is now merged, closing.

[2015-10-10 23:24] #2015 closed, assigned to nobody

[2015-10-11 02:58] ProMcTagonist commented on #992
That would have to happen regardless. I think a bigger concern is requiring a core change for every new filetype. I thought the whole point was to avoid that, so clients could rapidly come up with and agree on new filetypes themselves.

[2015-10-11 05:36] dimgel opened #2377 "Should be able to load chat history by date range, and search through whole history (not loaded)."
Hi. Currently qTox looks all great except history view.

If I don't remember the day (or month, or even year) conversation happend on, I would never find it - loading history day by day is hell. Skype/linux, for example, can load history for last day/week/month/year or whole into memory, but it would be more convenient to allow user specify both boundary dates of loaded range. For example, if whol

[2015-10-11 06:23] zetok commented on #2377
Searching loaded history is implemented in #2013.

Thus, issue is about:
- ability to load history by date range
- ability to search through whole history

[2015-10-11 06:46] dimgel commented on #2377
Weird, nothing happens for me when I press Ctrl+F in chat window (non-empty, containing some messages) or anywhere. Also didn't find any clue about it; there should be some button or context menu item.

gentoo/amd64

[2015-10-11 06:49] zetok commented on #2377
Well, #2013 is not merged yet

[2015-10-11 06:51] zetok commented on #2326
@quininer why closing?

[2015-10-11 06:54] dimgel commented on #2377
Ah, sorry. :)

[2015-10-11 06:55] quininer commented on #2326
@zetok I believe they have found a solution, I should open it?

[2015-10-11 06:56] zetok commented on #2326
Well, until issue gets fixed, it should be open

[2015-10-11 06:57] zetok commented on #2326
@nurupo so what about those shared Qt builds?

[2015-10-11 06:59] nurupo commented on #2326
@zetok see https://github.com/tux3/qTox/issues/2326#issuecomment-144775975

I still haven't got any response whether the "qTox-shared" binary idea is fine with you.

It also doesn't seem right that some 3rd party input method software would work on a software dynamically linked to Qt5, but won't work on a software statically linked to it -- not even sure what is the issue with fcitx-qt5 in the fir

[2015-10-11 07:03] agilob commented on #859
No response, no more reports about it, closing.

[2015-10-11 07:03] #859 closed, assigned to nobody

[2015-10-11 07:09] zetok commented on #2351
It's partially a toxcore problem - some of it was qTox fault, and is fixed in #2370, rest will depend on new A/V API PR: https://github.com/irungentoo/toxcore/pull/1375

[2015-10-11 09:32] ovalseven8 opened #2378 "After 'Multiple window mode' -> Contact list too wide"
Reproduce:
1. Go to the settings
2. Activate 'Multiple windows mode'
3. Deactivate 'Multiple window mode'
4. Maximize window
   => Contact list is too wide

![Screenshot](https://cloud.githubusercontent.com/assets/8258609/10416194/14a532ec-700c-11e5-9d40-b82f60bc6c78.png)

[2015-10-11 09:40] ovalseven8 opened #2379 "Singular form '1 minute' instead of '1 minutes'"
Just a small issue:

At the moment there is only the plural form:
![Screenshot](https://cloud.githubusercontent.com/assets/8258609/10416199/76c1b8e2-700c-11e5-8be8-98f8eb31dc26.png)

~~1 minutes~~
**1 minute**

[2015-10-11 09:45] ovalseven8 opened #2380 "Use indentation in qTox Settings"
Hello,

another minor issue:
Use identation in the qTox Settings to improve readability and clarity.

So, I would indent 'Open each chat in an individual window' because it is a subitem of 'Multiple windows mode'.
![Screenshot](https://cloud.githubusercontent.com/assets/8258609/10416218/75201078-700d-11e5-8ad5-71f28da78027.png)

[2015-10-11 10:14] antis81 commented on #2368
Related to #2333. @zetok Could you fix it there? Can be set in the css pseudo-state `hover` …

[2015-10-11 10:19] zetok commented on #2368
@antis81 I'll see what I can do

[2015-10-11 10:28] ovalseven8 commented on #2211
'P-medium' to my mind.

[2015-10-11 10:37] ovalseven8 opened #2381 "One style, two names in General Settings"
In the General Settings, there are three different styles:
- None
- Windows
- Fusion

'None' and 'Fusion' are the same for me. Are there any differences?
If not, it doesn't make sense to have the same styles with two different names in the settings.

Furthermore, the style that is used by default should be called 'Standard' or 'Default' instead of 'None'.

[2015-10-11 10:53] ovalseven8 opened #2382 "Rename Smiley Packs"
Hello,

I'm not really happy with the current names of the Smiley Packs.

In my mind, we should choose names the people can imagine what it is about. Or what are the differences between them.

Current names:
- cylgom
- krepa098
- TwitterEmojiSimple
- TwitterEmojiSVG

Additionally, I can't see any difference between 'TwitterEmojiSimple' and 'TwitterEmojiSVG'. It could be confusing for people, so if

[2015-10-11 10:57] subliun commented on #1765
Not true, see:
https://github.com/subliun/Antox/blob/master/app/src/main/scala/chat/tox/antox/callbacks/AntoxOnConnectionStatusCallback.scala#L53

[2015-10-11 11:19] ovalseven8 commented on #1695
Further issues:

---
1. Failed to send file:
   ![Screenshot](https://cloud.githubusercontent.com/assets/8258609/10416516/8ecb7a96-701a-11e5-9bec-b080a111cc5a.png)
2. Change language
3. Still in English:
   ![Screenshot](https://cloud.githubusercontent.com/assets/8258609/10416516/8ecb7a96-701a-11e5-9bec-b080a111cc5a.png)

---
1. Hover audio or video call etc. -> Tooltip: ![Screenshot 2](https://cl

[2015-10-11 11:44] NoxNoctium commented on #1695
User counter and (possibly?) default name for new groupchats:
![](http://qs.lc/tocug)

[2015-10-11 11:54] zetok commented on #2382
It's not the same.

[2015-10-11 11:55] antis81 commented on #2360
@zetok, @tux3 Could you check with #2383? This PR will not fix the issue directly, but fixes some major problems in IPC class.

[2015-10-11 12:02] zetok commented on #2360
#2383 didn't fix it for me

[2015-10-11 12:02] ovalseven8 opened #2384 "Avatar: Select visible area"
Hello,

something I miss in qTox and would improve the usability a lot is that you're able to select the visible area.

What I mean:
Assume you have a picture that is too big for an avatar. But still you'd like to use it.
So did Bob => ![Bob's Avatar](https://cloud.githubusercontent.com/assets/8258609/10416693/048f39f2-7020-11e5-9032-21064576b629.GIF)

But in qTox it looks not how Bob likes it (![

[2015-10-11 12:04] antis81 commented on #2368
@zetok Just add something like this:

[code]

**EDIT:** You can replace the css code directly (just change the colors).

[2015-10-11 12:04] ovalseven8 commented on #2382
I see, thanks. What are the differences? Couldn't see at first sight.

[2015-10-11 12:09] antis81 commented on #2360
@zetok Like I said, it will not fix this issue, but put things into place. The problem with `-p $profile` parameter is a different one. Could you please check, if that works with the **10 seconds** sleep in line 192 -> `QThread::sleep(10)`? If so, I'll look up the real problem and fix it as well.

[2015-10-11 12:21] TheNain38 commented on #2360
@antis81 With `QThread::sleep(10);` it works

[2015-10-11 12:24] antis81 commented on #2360
Thanks @TheNain38! I'll look up the problem and fix it.

[2015-10-11 12:48] zetok commented on #2368
Sorry, I can't get it working. Someone else should do it.

[2015-10-11 12:48] zetok commented on #2382
"Simple" doesn't change text emotions to images, e.g. `:|` would not be changed.

[2015-10-11 13:55] zetok commented on #2384
While it would be useful, I'm not convinced that it should be a part of qTox.

How would it function UI-wise?

[2015-10-11 14:03] SkyzohKey commented on #2368
[code]

should do the work. :)

[2015-10-11 14:16] ovalseven8 commented on #2384
I was thinking about something like that:
![Screenshot 1](https://cloud.githubusercontent.com/assets/8258609/10417210/16002b34-7033-11e5-8543-23de42c9adeb.png) -> ![Screenshot 2](https://cloud.githubusercontent.com/assets/8258609/10417211/192c748e-7033-11e5-9ff8-45efc24a3f22.png)

So that you can drag the visible region with the mouse.

[2015-10-11 16:25] agilob commented on #2379
Won't fix because in Polish that would be:

1 minuta
2 minuty
3 minuty
4 minuty
5 minut
6 minut
... minut
22 minuty
30 minut

that would require a library or something bigger just to operate on one word.

[2015-10-11 16:28] agilob commented on #2381
Those are built-in qt styles, can't do anything about it.

[2015-10-11 16:28] #2381 closed, assigned to nobody

[2015-10-11 16:57] ovalseven8 commented on #2381
@agilob: Why shouldn't it be possible to change names or to remove a style?

[2015-10-11 17:02] agilob commented on #2381
Styles are loaded from your Qt configuration, we don't have any impact on this. It works on Linux and (afaik) OSX.

[2015-10-11 17:12] ovalseven8 commented on #2381
Well, please reopen.
I think there is a better solution, anyway. 'None' and 'Fusion' are the same and especially 'None' looks ugly.

[2015-10-11 17:19] ovalseven8 commented on #2382
Thank you!

To be honest, it's confusing and an oxymoron. If emoticons are enabled, also `:)` should be one. I don't see the need for that Smiley Pack - would prefer to follow the KISS principle.
But if you absolutely must have this function, then it should be clear what are the differences. And, of course, let's rename the Smiley Packs. ;)

[2015-10-11 17:23] agilob commented on #2381
All we could possibly do is to set it default to Fusion, but if someone doesn't have Fusion, then it will fallback to none, and user would lose possibility to change it to anything else. For me none and fusion aren't the same.

Well... just don't select None.

ArchLinux with Gnome3 and KDE5 installed:
![weblate13](https://cloud.githubusercontent.com/assets/2544251/10417931/ef236f46-7044-11e5-8f51-

[2015-10-11 17:25] ovalseven8 commented on #2381
@agilob: On my device 'None' is automatically the same as 'Fusion'. Wouldn't it be possible to remove 'None' from the list, so that it is just called 'Fusion' by default?

[2015-10-11 17:36] agilob commented on #2381
We do not modify or add or remove those styles, all you have on the list is referenced from Qt.
http://blog.qt.io/blog/2012/10/30/cleaning-up-styles-in-qt5-and-adding-fusion/
http://doc.qt.io/qt-5/gallery-fusion.html

If those styles look the same, it's problem with Qt or your operating system.

[2015-10-11 17:37] SkyzohKey commented on #2381
Selecting GTK+ on Fedora23 with Arc-Dark theme activated:
![Uglyness of qTox](http://i.imgur.com/vZ4mMYK.png)

[2015-10-11 17:42] SkyzohKey opened #2385 "Bug: Unchecking "compact mode" makes qTox segfault."
OS: Fedora 23 64 bits.
Gnome 3.18.0

When unchecking the "compact mode" checkbox in settings qTox segfaults.

[code]

[2015-10-11 18:28] zetok commented on #2385
Which qTox version?

[2015-10-11 18:34] suhr commented on #2382
I disagree. Emoticons should be separated from ASCII. And yes, “Simple” is confusing.

[2015-10-11 18:41] ProMcTagonist commented on #2379
The only option seems to be minutes. So take the word out of the box and put it before the colon. That's acceptable in English:

`Auto away after (0 to disable) minutes: 1`

Is that acceptable in other languages too?

[2015-10-11 18:50] agilob commented on #2379
We had `x min` before but someone else complained about it.

[2015-10-11 19:07] zetok commented on #2385
You seem to be using something terribly outdated - get recent version, and if you'll be able to reproduce, comment for reopen.

[2015-10-11 19:07] #2385 closed, assigned to nobody

[2015-10-11 19:20] ghost commented on #2384
I think that it improves the usability (Tox project goal), it'd be nice to have such feature included.

If the client manages the user avatar, then it should help making it look the way it should, doesn't it?

[2015-10-11 19:21] #2339 closed, assigned to nobody

[2015-10-11 19:27] #2303 closed, assigned to nobody

[2015-10-11 19:34] ghost commented on #2382
+1 to descriptive names for the emoticon packs. The current ones, if needed, can be displayed as tooltips.

The samples below the list could also be better. For example, the first 3 may parse the same symbol for all packs (`:)`, `>:(` and `:P` for instance) to make it easier to compare between them, and the last 2 could be something "special" in that particular pack. That'd also help people notice

[2015-10-11 19:37] ghost commented on #2378
Can reproduce in Cinnamon. The modified friend list width is noticeable even before maximising.

[2015-10-11 19:52] ProMcTagonist commented on #2384
![qtox profile image resizing mockup](https://cloud.githubusercontent.com/assets/4358079/10418688/df4d5c68-7016-11e5-9f00-76f263770b8b.png)

In this concept, clicking and dragging on Bob himself moves him around behind the viewport, and the profile image is whatever we see through it. (This requires qTox saving the full image internally so it can be changed later without reselecting.)

There's a c

[2015-10-11 19:53] NoxNoctium opened #2387 "Graphical glitches on switching between smiley packs"
After realizing the difference between TwitterEmojiSVG and -Simple as explained in #2382 I switched between both packs mid-conversation.
![](http://qs.lc/tpqf3)
ASCII-smileys which were previously replaced with the emoticons of the TwitterEmojiSVG-pack changed to a placeholder image.
![](http://qs.lc/b4dt0)

[2015-10-11 20:00] ProMcTagonist commented on #2379
Why?

[2015-10-11 20:00] zetok commented on #2384
@ProMcTagonist ooh, that's nice/awesome

[2015-10-11 20:10] ProMcTagonist commented on #2382
It would be nice if they had text descriptions, but that would be extending the KDE emoticons spec, I think

[2015-10-11 20:10] TheNain38 commented on #2379
@agilob I think `x min` is better because it doesn't need any translation and is universal. What was the complaint?

[2015-10-11 21:26] ProMcTagonist commented on #2379
Even in non-latin languages?

[2015-10-11 21:32] TheNain38 commented on #2379
@ProMcTagonist Err... I don't know, but the [**SI**](https://en.wikipedia.org/wiki/International_System_of_Units) symbol of `minute` is `min`

[2015-10-12 09:31] zetok commented on #1025
Could you link to the previous discussion?

[2015-10-12 10:00] ghost commented on #2384
:+1: @ProMcTagonist

I wonder if the zoom slider and buttons could be hidden while the user isn't changing/editing the profile picture, to keep the interface cleaner. Something like

Normal state, just like now

![001](https://cloud.githubusercontent.com/assets/6382342/10425448/0fccd442-70d8-11e5-9b6e-5604e1985d54.png)

On hover, change the appearance (it can be not-ugly, I'm just bad at Gimp). Cl

[2015-10-12 12:07] ovalseven8 commented on #2384
Great ideas, @ProMcTagonist and @kehugter!
Think also that it's important to hide the zoom slider and buttons and make it visible only if you need it.

[2015-10-12 14:38] necrophcodr commented on #2019
I can confirm to still have this issue with qTox 1.1 on Void Linux amd64. However, deleting both qtox.ini and qtox.log somehow resolved the issue (for now).

[2015-10-12 14:41] tux3 commented on #2019
@necrophcodr Can you post the result of running `ls -la ~/.config/tox/` please?

[2015-10-12 18:20] tux3 opened #2389 "Make sure everything works OOTB on Win10 with an antivirus"
The out of the box Tox experience for some Win10 users is pretty abysmal.

Some problems encountered by one user:
- Able to connect to the network, but unable to connect to a friend
- Unable to add groupbot@toxme.io (id not found)
- Cryptic error (qTox trying to use toxdns1) when trying to add a PK instead of a full ID of a friend

After disabling the antivirus:
- Still unable to add groupbot@toxm

[2015-10-12 18:25] agilob commented on #2389
Since we don't have the old domain, windows updater doesn't work.

[2015-10-12 18:25] tux3 commented on #2389
That too, and I'm not sure where I could find a new domain and server.

[2015-10-12 18:26] agilob commented on #2389
why not use current jenkins?

alternatively, I'm going to buy a dedicated server but it will be a linux server but I can host windows builds.

[2015-10-12 18:28] zetok commented on #2389
#2167

[2015-10-12 18:30] tux3 commented on #2389
I don't have access to the current Jenkins's server. I'd need a HTTP server jenkins can write to.
I could put it on AWS again, but it uses a TON of bandwith and AWS bills per bandwith used.

[2015-10-12 18:38] agilob commented on #2389
How much bandwith per month do you need, and diskspace?

[2015-10-12 18:54] tux3 commented on #2389
It's hard to say since the last stats I have are from half a year ago.
In February 2015 for the Windows update server only on AWS I had 75GB of outbound data, 1.5GB of inbound data, some 200MB of disk space used, and the bandwidth used was steadily doubling every month (that's when I moved it out of AWS and stopped keeping stats).

[2015-10-12 19:57] agilob commented on #2389
That's not much. I have a VPS with >300 days uptime which currently serves 170GB in 3 days (3 domains and Tor node), but I don't have TLS certificate (self-signed), you can give me a script which downloads and serves files if you want.

[2015-10-12 19:59] BiTOk commented on #2389
On Windows 10 x64 with lastest updates:
Able to connect to the network, but unable to connect to a friend - working correctly
Unable to add groupbot@toxme.io (id not found) - working correctly
Cryptic error (qTox trying to use toxdns1) when trying to add a PK instead of a full ID of a friend - I'll finish #2167 soon :-)

[2015-10-12 20:01] tux3 commented on #2389
@BiTOk Do you have an antivirus/firewall? I suspect this is the problematic part.

[2015-10-12 20:05] BiTOk commented on #2389
@tux3 just standart windows defender. We can't assign problem with abstract 'antivirus'. Their methods of work can vary greatly. What antivirus encourage described problem?

[2015-10-12 20:10] tux3 commented on #2389
@BiTOk I unfortunately didn't ask what antivirus was causing problems this time, but it's not the first time we have problems with several antiviruses.

I'm thinking about some sort of antivirus continuous integration, maybe something like @hackedteam's test harnesses....

[2015-10-12 20:12] tux3 commented on #2389
@agilob
You're right, now that I put it in context it's really nothing. I actually run a Tor relay, it's pushing some 500GiB per day now, I didn't even think about it but I could totally put the update server there.
AWS bandwidth is just ridiculously overpriced.

![snap5](https://cloud.githubusercontent.com/assets/5155966/10437579/657e87e0-712e-11e5-8ffc-acac9abca51a.png) <-- Unmetered bandwith :)

[2015-10-12 20:15] BiTOk commented on #2389
@tux3 what do you think about http://cloudatcost.com/#hosting? $17.50 vps in perpetuity for 500GB monthly transfer.

[2015-10-12 20:18] tux3 commented on #2389
@BiTOk I actually have 200Mbit/s of unmetered bandwidth for 3€/month at [Scaleway's](http://scaleway.com) hardware cloud, and I didn't even think about it...
That's a fine place to put the update server.

[2015-10-12 20:20] BiTOk commented on #2389
@tux3 It should pay off in less than half of the year

[2015-10-12 20:24] agilob commented on #2389
I have a domain service with unlimited number of subdomains with dnssec. want one? tux3.agilob.net? It's on ititch.com, you can pay with BTC, have ID protection, dnssec and unlimited number of subdomains for 0.1BTC

[2015-10-12 20:25] tux3 commented on #2389
If you can guarantee it won't silently expire in a couple years, I'll take it! Otherwise I'll just hardcode the server's IP.

[2015-10-12 20:55] mannol commented on #2351
toxcore has nothing to do with webcam.

[2015-10-12 22:41] ProMcTagonist commented on #1063
It should be noted that average users are not good at asking questions/providing answers that are accurate down to the character, which zero-knowledge would require.

[2015-10-12 22:46] ProMcTagonist commented on #2389
We really really should be using SSL for client updates, shouldn't we? That sounds like a serious potential exploit vector.

[2015-10-12 23:05] tux3 commented on #2389
Everything the update server sends is signed and can be checked by a key hardcoded into every qTox client. If a client finds that the signature doesn't match, it aborts the update immediately and logs the event.

If anyone at any point other than the update server itself and the user's machine tampers with the updates, it will be detected. The worse someone could do is blackhole the update server

[2015-10-13 00:17] ProMcTagonist commented on #2389
+1, thank you for the explanation.

[2015-10-13 03:02] linux-modder commented on #1063
@ProMcTagonist , while true....several in the community (myself included)  have asked and volunteered to  setup a 'primer' for  users to ensure this method and  many  other  `best "secure" practices`.... The biggest  end-user hurdle is  education (or often the lack of  such),  A great  way  to get  trust , user-base and  educated safe users would to do something like that, which also would NOT req

[2015-10-13 03:11] ProMcTagonist commented on #1063
@linux-modder What sort of "primer" do you mean? An introductory guide? I would love to help.

Sorry for off-topic.

[2015-10-13 03:20] linux-modder commented on #1063
@ProMcTagonist  Precisely....  I have a  nice  project  planning to make a  secure  laptop that is a true all in one and has 2  501(c)3 's  planned one is  purely  for  educating users  so they don't  just  disable  everything then  bitch they got had...(...../ameridea/SkunkWorks if you're interested)

[2015-10-13 06:10] SkyzohKey commented on #1063
A nice idea would be to allow users to setup their PGP public key to their profile. If another client request it (via custom packets) qTox would send the PGP pubkey to the other client. Then the other client could verify the user easily.

[2015-10-13 06:17] agilob commented on #2389
@tux3 the domain won't change. the address IP will when I move to dedicated server (I need my own CI for my projects), TLS will be available when dedicated is ready and configured (this year)

[2015-10-13 13:21] PKEv commented on #2210
closed?

[2015-10-13 14:08] SlugFiller opened #2391 "Allow viewing profile information of a contact"
After the profile information of a contact is loaded, the list is updated with the name and (size-reduced) picture, instead of the ID. If you set an Alias (which is necessary to prevent people playing around with names), the name they set for themselves is no longer visible, as pointed out in #1195.

From my experience with certain other programs, I was expecting to be able to right click the cont

[2015-10-13 14:40] zetok commented on #2391
#1189

#1636

[2015-10-13 14:43] SlugFiller opened #2392 "Cascaded circles, or tags"
Being able to set people into circles is really helpful in sorting out people from different aspects of your life. But people don't always fall into just one category.

For example, "family" could be immediate family, or distant relatives. "Game friend" can be separated by individual games, and also by random person vs close friend vs guild member.

Having a separate circle for each sub-category c

[2015-10-13 14:51] SlugFiller commented on #2391
I was actually more concerned about a person's future names (since an alias would obscure those), than past ones. And also, more technical things, like the ID, which isn't a name at all (e.g. If I want to give a contact's ID to someone, so they can talk to each other). But I do see the mention of the user "About" page, which would definitely be needed for this.

[2015-10-13 14:58] necrophcodr commented on #2019
After running it for a while, the issue seems to have returned.

Output is

drwxr-xr-x 1 necrophcodr necrophcodr  156 13 okt 16:57 ./
drwx------ 1 necrophcodr necrophcodr 1326 10 okt 09:58 ../
drwx------ 1 necrophcodr necrophcodr    0 23 sep 16:05 avatars/
-rw-r--r-- 1 necrophcodr necrophcodr   80 23 sep 16:20 necrophcodr.ini
-rw-r--r-- 1 necrophcodr necrophcodr 4802 23 sep 16:20 necrophcodr.tox
-

[2015-10-13 15:32] ovalseven8 commented on #2210
No, if you use 'Multiple windows mode' the problem is still there.

[2015-10-13 16:39] SkyzohKey commented on #2392
Yes, circles were stupids. Tags system is a lot better. :+1:

[2015-10-13 17:12] agilob commented on #2392
I like groups.

[2015-10-13 17:13] ProMcTagonist commented on #2392
If you could put contacts into multiple circles, they would be tags.

[2015-10-13 17:56] SlugFiller opened #2393 "Log incoming friend requests in history"
I've noticed that outgoing friend requests are properly logged as part of the chat history, even before they are accepted. Incoming ones, however, receive no such grace, whether they are accepted or rejected.

If someone friend-requests me, in addition to the popup, I want it to keep a log of it, including the time. It can be particularly useful to know the exact time it came in if I receive it wh

[2015-10-13 17:59] zetok commented on #2392
Cascaded circles - no.

Tags - would need good UI.

Edit: btw, I think that limiting tags to what OP described may be underusing their potential `:)`

[2015-10-13 18:16] agilob commented on #2393
It was implemented bug buggy and was reverted...

[2015-10-13 18:22] ovalseven8 commented on #2393
https://github.com/tux3/qTox/pull/2092

[2015-10-13 18:28] SlugFiller commented on #2393
That request is closed, and seems to be abandoned (It's from August). I'm not sure if the correct policy should be to reopen a request for fix up, or leave it closed and wait for a new PR.

[2015-10-13 18:51] agilob commented on #2384
I wonder how will implement it...

[2015-10-13 18:57] zetok commented on #2393
@SlugFiller https://github.com/tux3/qTox/pull/2146#issuecomment-136362788

[2015-10-13 19:14] PKEv commented on #2210
in Win:
![default](https://cloud.githubusercontent.com/assets/6053197/10465478/c14572b8-71f7-11e5-82e7-734ecefdfa1e.png)

[2015-10-13 19:20] ovalseven8 commented on #2210
Oh, I see. But the icon looks a little bit pixelated, anyway. ;-)
Then it's only a problem for Linux and perhaps MacOS.

[2015-10-13 19:58] BiTOk opened #2394 "Fix possible problems from static analysis"
- [x] FriendListWidget utilizing before check:

[code]
- [x] GenericChatForm constant part of condition expression (!rightCol in last line):

[code]
- [x] DirectShow redundant check?:

[code]
- [ ] GroupWidget equivalent functions:

[code]
- [ ] VideoSurface comparition real without epsilon:

[code]

[2015-10-14 00:05] #2333 closed, assigned to zetok

[2015-10-14 00:05] #2368 closed, assigned to nobody

[2015-10-14 03:01] 2bdkid opened #2396 "Can't build with qmake-qt5 on Fedora"
The compiling instructions mentions qmake-qt5 will freak out in Fedora but doesn't mention how to get around it.

[code]

[2015-10-14 06:55] zetok commented on #2396
You need that to make things work, and also `lupdate` tool - dunno how package with them is called on fedora.. though, I thought that INSTALL.md has specified all deps for Fedora?

https://github.com/tux3/qTox/blob/master/INSTALL.md#fedora-1 ← could you check whether you have those depds installed, and if that's not the case, see whether installing them would help?

[2015-10-14 06:58] zetok commented on #2396
Well, that's unrelated to this problem - this note is about problem when one would try to build qTox against qt4 instead of qt5, which wouldn't work. Problem here is that you don't have installed a package with `lupdate` and `lrelease` tools.

[2015-10-14 08:58] SlugFiller commented on #2392
On the UI front, tags would require a separate list, perhaps to the left of the list of contacts. Each tag would need buttons/checkboxes to set it to "must be present", "must be absent", or "don't care", which would filter the contact list accordingly. Perhaps a 3-state checkbox (V, X, and O, for present, absent, and don't care respectively).

The remaining UI challenge would be adding or removing

[2015-10-14 11:29] linux-modder commented on #2396
qt5  is  normal now on 22 (the svg,linguist,and their  devel parts however are not)   Have  made a PR adding the needed deps for  the translation bits (PR#2397)

[2015-10-14 12:13] #2396 closed, assigned to zetok

[2015-10-14 12:29] 2bdkid commented on #2396
The only qtlinguist package in Fedora is qt5-linguist.
qt5-qtlinguist and qt5-qtlinguist-devel are not available packages.

[2015-10-14 12:51] 2bdkid opened #2399 "Missing dependencies in Fedora"
The compile instructions says to install qt5-qtlinguist qt5-qtlinguist-devel but these are not valid packages, but qt5-linguist works.

gtk2-devel is also needed for gdk/gdk.h. It also pulls in gdk-pixbuf2-devel which is also needed.

It's also worth mentioning ffmpeg-devel can come from RPMfusion

[2015-10-14 13:45] Spencer-H commented on #2392
I think perhaps the most effective way would be to allow tagging of anything (group or user in this case) and then simply add them to the drop down list for Online, Offline, Friends, Groups. And them simply change the functionality of that so that selecting one puts a Check next to it and hides all users that don't apply to that group. That way you could for example select: Family, Online. This wo

[2015-10-14 13:45] zetok commented on #2399
Ok, thanks.

[2015-10-14 13:47] #2399 closed, assigned to zetok

[2015-10-14 14:26] ovalseven8 commented on #2382
So, what do you think?
- ~~cylgom~~ **Basic**
- ~~krepa098~~ **Classic**
- ~~TwitterEmojiSimple~~ **Universe [with text emoticons, like _:)_, available]**
- ~~TwitterEmojiSVG~~ **Universe [without text emoticons]**

[2015-10-14 15:01] #2299 closed, assigned to nobody

[2015-10-14 15:04] ghost opened #2400 "Audio and video call although contact is offline"
If a contact is offline, the buttons to start a video call or audio call are still active and not gray.

There's something wrong.
Click to the buttons one, two or three times and wait a few seconds -> The buttons become gray for a short time.

[2015-10-14 17:23] agilob commented on #2382
If at some point emoticons will be (were they?) adopted by other tox clients - antox or µtox they will have to rename them as well.

[2015-10-14 20:41] SlugFiller commented on #2392
I don't like the idea of hiding it in a dropdown. It's too similar to what Skype does with groups. Not very accessible.

[2015-10-14 21:46] agilob commented on #2270
I have Gnome3, do you have any suggestion what I could try?

[2015-10-14 21:48] agilob commented on #2197
This is very strong argument, I think the issue can be closed unless someone has better idea how to improve it.

[2015-10-14 21:56] suhr commented on #2392
Nice label, @agilob.

[2015-10-14 22:07] ghost commented on #2197
Sounds like something for a couple of PhD theses.

[2015-10-14 22:18] aaannndddyyy commented on #2197
It all depends what you want this option for. If you want this option to anonymize your voice reliably, then close this issue and make a new one about researching the matter.
But if the intention is simply to have some fun settings for changing your vouce and entertaining your friends, then this is perfectly legit too. Just make ir clear it is no reliable obfuscation.

agilob notifications@github.

[2015-10-14 22:33] ghost commented on #2270
If you use VMware, you could run [Maui](http://www.maui-project.org/download/). Virtualbox doesn't support Wayland yet.

[2015-10-14 23:23] ProMcTagonist commented on #2384
UX is not bikeshedding. Features are not bikeshedding.

Arguing about the color of the sliders would be bikeshedding.

Allowing users to import a picture of any size or shape and zoom/crop it easily within qTox, greatly increasing the accessibility of avatars, is not bikeshedding.

[2015-10-15 06:06] agilob commented on #2270
I can switch to wayland, kde5 supports it.

[2015-10-15 06:18] agilob commented on #2392
my favourite so far!

[2015-10-15 06:23] agilob commented on #2384
so you want a picture editor inside qtox?

would better waste time on increasing quality of audio filter, detect more video devices, fix plenty of issues with chat area. Most people on my contact list don't even have avatar, so I find this issue on the bottom of `P-low`. bikeshedding is not a kind of a feature, it's about meaning of the feature and time spent on it (discussion).

[2015-10-15 08:44] zetok commented on #2197
Yeah, this is what this issue is about.

[2015-10-15 09:17] agilob commented on #2197
"Fun settings" should be done as plugins. I think this can be closed as original idea was to:

[2015-10-15 09:56] zetok commented on #2197
@agilob there's no reason to close it just because qTox doesn't have resources to do it - even if "security" is not achievable, qTox could be still improved, by providing something that people would want to use.

As for getting security - who knows, perhaps in the future there will be resources to pull off something like that.

As soon as there will actually be a plugin interface. Also, why someth

[2015-10-15 11:01] SlugFiller commented on #2292
Fix me if this is related or not, because I don't know if to open a new issue: I've had a power break while qTox was running, and upon coming back, my whole chat history was gone, including pending fake offline messages. I've tried right clicking and loading chat history, but nothing.

To be clear, this was not shortly after receiving messages, but rather, several hours later, so I reasonably expe

[2015-10-15 11:36] agilob commented on #2292
@SlugFiller your issue is related to (the same as?) #2362

[2015-10-15 11:45] agilob opened #2402 "We hit 100 contributors!"
https://github.com/tux3/qTox/graphs/contributors

and 200 forks!

![untitled](https://cloud.githubusercontent.com/assets/2544251/10512783/df836e4e-733a-11e5-9b72-e68ed51dceb5.png)

[2015-10-15 11:51] Spencer-H commented on #2392
I don't so much mean a drop down like what Skype has, but more like if you
look at the way qTox already sorts those status's. A little menu at the top
of the list.

On Wednesday, October 14, 2015, SlugFiller notifications@github.com wrote:

[2015-10-15 11:56] zamaudio commented on #2197
Guess what, they open sourced Steven Hawkins' voice thing, maybe we could use that?

[2015-10-15 12:03] agilob commented on #2197
Shouldn't it be a audio_filter (that one from toxcore) feature?

[2015-10-15 13:11] SlugFiller commented on #2292
No, because, like I've said, it wasn't 5 seconds after, or even 5 minutes after. It was hours after, and all my contacts were offline anyway. So there's no reason for it to not be already flushed, or for it to have been corrupted.

[2015-10-15 13:19] zetok commented on #2292
Well.. qTox is still in alpha, so no guarantees (yet). That being said, bugs about data loss should have highest possible priority..

[2015-10-15 14:04] ovalseven8 commented on #2384
No, it's not bikeshedding.

[2015-10-15 14:06] ovalseven8 commented on #2402
The new 'Bikeshedding' label is unnecessary.

[2015-10-15 16:27] tux3 commented on #2384
What is even the point of a "bikeshedding" tag? This isn't helpful.

[2015-10-15 16:29] zetok commented on #2384
I agree.

[2015-10-15 17:39] ProMcTagonist commented on #2197
This should not be included with qTox.
1) It's definitely well into the scope of addons/plugins/extensions
2) It's irresponsible to include with qTox by default because people WILL think it'll give them extra security, and we KNOW that. We should be making it harder to expose yourself, not easier.

[2015-10-15 18:55] #2402 closed, assigned to nobody

[2015-10-15 20:38] antis81 commented on #2402
Nice! We keep moving forward :walking: :+1:

[2015-10-15 20:47] antis81 commented on #2210
There's no such thing with multiple icons on OS X (see the one and only Dock)… :)

[2015-10-16 11:19] SlugFiller commented on #2292
Update: I've re-tested, and simply restarting qTox normally killed my history. So a power break is not required. It seems history currently isn't saved at all between runs. So it's probably this bug.

In case it matters, I'm running in portable mode.

[2015-10-16 13:49] zetok commented on #2292
Uh.

@SlugFiller I guess that I'll make qTox build with 564b32eb7c196b39016dfd67c5c4260fb78b8fca reverted, and if it'll work for you, I'll push that to master.

[2015-10-16 14:16] SlugFiller commented on #2292
On second thought, never mind. It seems to be related to #2142. I've removed the password from the account, and it works perfectly now. It seems qTox has some issue reading its own encrypted history (And silently deletes it instead of issuing a visible warning).

[2015-10-16 15:17] TheNain38 opened #2405 "When changing password if you type a character and then delete it, it shows "The password is too short""
![Change password problem](https://cloud.githubusercontent.com/assets/13149763/10545551/95845d90-7429-11e5-9bf1-8fbd3e081e1d.PNG)

It shouldn't because there is no more password

[2015-10-16 16:37] #2360 closed, assigned to antis81

[2015-10-16 19:00] ProMcTagonist commented on #2292
This happens to me on every single qTox start.

[code]

[2015-10-16 19:18] zetok opened #2407 "qTox fails to compile with Qt 5.2"
reported by @abbat,

https://github.com/tux3/qTox/commit/073d4f0ad329511dd0cf3211e18b60dd3d6f2d32#diff-6891a8673df6107b3f58a72f73bd7006R114 ← this line breaks it, since it's available only in Qt >=5.4
@antis81

So, the question is, how long qTox is supposed to support Qt <5.4 ?

AFAIK there are reasons to bump minimal Qt version to 5.4, e.g. [accessibility support](https://github.com/tux3/qTox/mil

[2015-10-16 19:36] abbat commented on #2407
Pay attention what Qt < 5.4 is at least in these active (not EOL) distros:
- Debian 7 (Qt 5.3.2)
- Debian 8 (Qt 5.3.2)
- Ubuntu 14.04 LTS (Qt 5.2.1)
- Fedora 21 (Qt 5.3.2)

[2015-10-16 20:34] TheNain38 commented on #2360
Please reopen, for me it works but only when a profile is loaded if you try to open two instances with the first one on the login screen then it segfault and the second terminates with error code `0`

[2015-10-16 21:19] antis81 commented on #2360
Yeah, I've noticed this behaviour. It's not the same thing though. The issue discussed here is solved. Feel free to open new one.

[2015-10-16 21:29] TheNain38 opened #2408 "qTox segfault when opening a second instance while the first is on the login screen"
Reproduce:
- open one instance on the login screen
- open a second instance
- then the first instance segfault and the second terminates with error code 0

It works correctly only when the first instance has loaded a profile

[2015-10-16 22:07] ghost commented on #2408
Can't reproduce starting the first instance with
`$ qtox`
and the second with
`$ qtox -p thatOtherProfile`

5ecf9b729bc853d5e15c762d22b34c5c86dd49ba
Mint Cinnamon 17.2

[2015-10-16 22:10] TheNain38 commented on #2408
@kehugter And if you open the two instances with `qtox` ?

[2015-10-16 22:21] ghost commented on #2408
Never tried that before. Segfault indeed.

First terminal

[code]

Second terminal

[code]

[2015-10-17 08:52] zetok commented on #2292
@ProMcTagonist that's most likely #2142

[2015-10-17 14:25] ovalseven8 commented on #2384
Hopefully somebody can implement it. :)

Question:
What is very important concerning this issue is that the visible area will be the same for every client. But is that really assured at the moment?
**Additionally, the client should only save the visible area then, what's not the case at the moment:**

![Bob's original avatar](https://cloud.githubusercontent.com/assets/8258609/10416693/048f39f2-702

[2015-10-17 14:35] #2332 closed, assigned to nobody

[2015-10-17 15:39] zetok commented on #2380
Since #2386 is merged, closing.

[2015-10-17 15:39] #2380 closed, assigned to nobody

[2015-10-17 15:40] zetok commented on #2293
Since #2386 is merged, closing.

[2015-10-17 15:40] #2293 closed, assigned to nobody

[2015-10-17 17:18] #2405 closed, assigned to zetok

[2015-10-17 17:22] zetok commented on #2408
It can also crash when doing some other things with multiple instances; for me it happened when I've changed my status via tray icon.

[2015-10-17 18:02] ovalseven8 opened #2410 "Not able to start a second instance"
Compared to https://github.com/tux3/qTox/issues/2408 I am not even able to start a second instance (with `./qtox`) when the profile of the first instance is already loaded.

[code]

Only possible with `./qtox -p [profile]`. Formerly, I could use two instances with just `./qtox`.

[2015-10-17 18:33] zetok commented on #2410
Well, this is not a bug - it is supposed to work like that, thus closing.

If it worked like that before, then it was a bug, and it got fixed.

[2015-10-17 18:33] #2410 closed, assigned to nobody

[2015-10-17 18:39] zetok commented on #2410
Also, you should update, some fixes in regard to that has been merged since that build `:)`

[2015-10-17 19:09] ovalseven8 opened #2411 "Login window: Make button readable again"
Hello,

the 'OK'-button is not really readable since new CSS in Login window:
![Screenshot](https://cloud.githubusercontent.com/assets/8258609/10560691/12f87038-7513-11e5-81e6-43cf95fbf13b.png)

[2015-10-17 19:24] ovalseven8 opened #2412 "Change text if no profile available"
Hello,

if no profile is in your /tox-directory and you're clicking 'Load', the following appears:
![Screenshot](https://cloud.githubusercontent.com/assets/8258609/10560762/04f5e9fa-7515-11e5-9e3e-efa4af6ace06.png)

'Could not open file' with 'Wrong password.' is meaningless in that case.
Something like 'No profile selected' would be better.

[2015-10-17 19:56] ovalseven8 commented on #1560
Is this still an issue? I can't reproduce it...

[2015-10-17 20:00] ovalseven8 commented on #1788
Closable because hover effect is implemented.

[2015-10-17 21:53] zetok commented on #1788
Not quite, since there is still no hover effect for tabs - though, I guess that I could fix it.

[2015-10-17 22:09] zetok commented on #1788
# 1

![1a](https://cloud.githubusercontent.com/assets/3148759/10561497/d6b588e4-7522-11e5-9b9b-d1450ad399fa.png)
![1b](https://cloud.githubusercontent.com/assets/3148759/10561500/0d2b1272-7523-11e5-835d-3d6a70e339cb.png)

#

# 2

![2a](https://cloud.githubusercontent.com/assets/3148759/10561509/988fda32-7523-11e5-9d43-bc921c0f866a.png)
![2b](https://cloud.githubusercontent.com/assets/3148759/10561

[2015-10-17 22:16] towlie commented on #1788
2

[2015-10-17 22:28] BiTOk commented on #1788
1.
   Everywhere in the form lines are straight

[2015-10-17 22:29] zetok commented on #1788
# 4

![4?](https://cloud.githubusercontent.com/assets/3148759/10561565/179b7c76-7526-11e5-88d3-e978d60d8107.png)
mockup - note though that I doubt whether I could make it look like that, so most likely someone else will have to do it

[2015-10-17 22:30] BiTOk commented on #1788
May be 4 without horizontal delimiter?

[2015-10-17 23:08] zetok commented on #1788
Actually, I wonder whether highlighting buttons on the left is really needed…

[2015-10-17 23:10] zetok commented on #1560
@ovalseven8 did your internet connection break?

[2015-10-18 00:51] ProMcTagonist commented on #1788
Definitely 4. The line needs to be removed on hover, though, like @BiTOk said.

[2015-10-18 01:32] subliun commented on #2280
![small font](https://cloud.githubusercontent.com/assets/2082980/10562068/049c0202-7590-11e5-9637-f19a8e80af8b.png)
It's much worse on Windows

[2015-10-18 07:07] ovalseven8 commented on #1788
Number 3 looks most elegant.

[2015-10-18 10:18] zetok commented on #2378
Can't reproduce on 7b90ed1abba3023c2ead1e596a053f11b4ed8fd8 any longer, thus closing.

If it's still reproducible, please comment for reopen.

[2015-10-18 11:14] ghost commented on #2378
Nope, still there in 7b90ed1abba3023c2ead1e596a053f11b4ed8fd8 for me.

[2015-10-18 11:15] alexeysvrv commented on #2378
And me

[2015-10-18 14:54] dvor commented on #2384
Well, the client should just save square photo, it will solve all the problems

[2015-10-18 15:08] ovalseven8 commented on #2384
Yes, the format of the avatars in every Tox Client must be square as well.

And concerning this issue, qTox would have to save only the visible area, what's square as well. And then the visible area of the avatar would be the same, no matter which client you're using.

[2015-10-18 16:33] ProMcTagonist commented on #2384
1) Ugly, and
2) not needed at all.

[2015-10-18 17:04] #2214 closed, assigned to nobody

[2015-10-18 17:05] agilob commented on #2222
Unable to reproduce after IPC was fixed. thanks @antis81

[2015-10-18 17:05] #2222 closed, assigned to nobody

[2015-10-18 17:06] suhr commented on #2384
3) pure bikeshedding

[2015-10-18 18:22] antis81 commented on #2411
Thanks @ovalseven8 for spotting this.

[2015-10-18 19:52] zetok opened #2419 "input / output audio device selection is being reset to default one upon visiting a/v settings tab"

[2015-10-18 19:57] #2037 closed, assigned to nobody

[2015-10-18 19:57] #2046 closed, assigned to nobody

[2015-10-18 19:57] #994 closed, assigned to nobody

[2015-10-18 19:57] #1971 closed, assigned to nobody

[2015-10-18 19:59] agilob commented on #2351
@Jacobtey  please test current version and tell us it that can be closed, if not, which client was used on the other side?

[2015-10-18 20:13] #2411 closed, assigned to zetok

[2015-10-18 20:33] Jacobtey commented on #2351
@agilob , should I compile it from git or upgrade from ppa?

[2015-10-18 20:48] antis81 commented on #2037
@zetok Perhaps this explains why segfault is gone after rebaseing #2415 … ;)

[2015-10-18 20:54] zetok commented on #2037
Yeah, most likely - though it's really strange that I couldn't reproduce that problem until I've started testing audio PR.

[2015-10-18 20:55] antis81 commented on #2037
It sits on top of Agilob's changes and merges fine with them now… :)

[2015-10-18 20:56] An-dy commented on #2338
If you want get sure that a profile don't get deleted, the solution is simple with Linux: (ext2-4 filesystem)
chattr +i /home/user/.config/tox/ProfileName.tox    (un-immutable with chattr -i )
And the profile is immutable from delete.

P.S. Btw. interesting reaction from qtox:
src/persistence/profile.cpp:299 : Debug: Saving tox save to  "/home/user/.config/tox/ProfileName.tox"
src/persistence/prof

[2015-10-18 21:07] GrayHatter commented on #2384
No, this is stupid... you don't need permission from uTox to decide how you want to crop avatars... You decide how you want avatars to look, you crop as needed, and then you send the CROPPED avatar to your contacts. YOU DO NOT, send uncropped avatars to another client, and then tell them how you expect them to crop it. That's stupid...

[2015-10-18 21:12] aaannndddyyy commented on #2338
the file needs to be writeable

[2015-10-18 21:16] zetok commented on #2351
@Jacobtey not sure how quickly new builds propagate to the repo, but you it shouldn't take longer than a day for it.

btw, it's not a PPA `:)`

[2015-10-18 21:46] An-dy commented on #2338
You are right. I mixed it up with the +a attribute.
"The “a” stands for “append” and this flag indicates that a file can only be opened for append operations, i.e. additional content can only be added to the file but none of the existing content can be modified."
It works. You can change things and they get saved but you can't delete it. I checked it.

[2015-10-18 21:55] ProMcTagonist commented on #2384
@GrayHatter he just wants clients to send square avatars to avoid disagreements about what to display if a tall rectangular avatar overflows, it's not really relevant to the issue of allowing fine-grained avatar control in-client before sending the image

[2015-10-18 22:15] necrophcodr commented on #2019
Problem seems to persist even through deleting those files. I am unable to receive any messages as it appears to crash the entirety.

The log file grows by megabytes per second, containing the following line:

[code]

Having had the application running for just a few seconds after sending a single message, before killing it, it had already output a massive >130.000 lines like the one above.

It ap

[2015-10-18 22:38] necrophcodr commented on #2019
My apologies. Upon further inspection, I have informed the package maintainers of Void Linux to add the qt5-plugin-sqlite package as a runtime dependency. It seemed it wasn't installed, and caused the crash.

[2015-10-19 02:03] Spencer-H opened #2420 "Custom Notifications."
It would be nice to add support for the ability to run some arbitrary script / play some arbitrary sound on a specific event, such as a chat message being received. Skype has this, and I don't think it's something completely out there, so having it would be nice.

I'm thinking something like a simple text box where a user can write a command like say: `notify-send %user %message` where %user and %

[2015-10-19 05:33] UC3829 opened #2421 "Crashes at launch on CPU's without SSE2 support [win32]"
Problem signature:

  Problem Event Name:   APPCRASH
  Application Name: qtox.exe
  Application Version:  0.0.0.0

  Fault Module Name:    Qt5Gui.dll
  Fault Module Version: 5.3.2.0

  Exception Code:   c000001d
  Exception Offset: 0032c9fe

---

Related information:

https://stackoverflow.com/questions/21256792/write-access-violation-on-read-instruction
http://zone.ni.com/reference/en-XX/help/371

[2015-10-19 06:08] ProMcTagonist commented on #2420
That would be wonderful.

[2015-10-19 07:07] tux3 commented on #2421
SSE2 is a 10-15 years old technology, hardware that old is going to really struggle running Tox.
Disabling it would slow things down significantly for everyone.

We could create a special qTox build without SSE2 for really old hardware, but I'm not sure if it's worth it.

[2015-10-19 08:15] zetok commented on #2019
Well then, since it's not a problem with qTox itself, closing.

[2015-10-19 08:15] #2019 closed, assigned to nobody

[2015-10-19 08:21] zetok commented on #1880
#2415 should close this.

[2015-10-19 08:26] zetok commented on #2420
hmm, I'm almost sure that it's a duplicate, but I can't find the issue.. anyone?

[2015-10-19 08:27] zetok commented on #2420
Ok, what is needed for it is **good** UI - ideas?

[2015-10-19 10:49] DanTheBritish commented on #2129
Still occurring on 1fc703c2815470235765e3cd48587a411046f743 with above version of ffmpeg and same kernel version as OP.

[2015-10-19 10:52] DanTheBritish commented on #929
This was done a while ago, thanks contributors!

![image](https://cloud.githubusercontent.com/assets/4997521/10575943/c250c8e2-7657-11e5-87a6-4c2d95c3f56e.png)

[2015-10-19 10:52] #929 closed, assigned to nobody

[2015-10-19 11:53] linux-modder commented on #1788
#3  my fav too

[2015-10-19 11:59] Spencer-H commented on #2420
I would suggest adding a tab for notifications, in which you can turn
specific ones on and off, and gives the option to pick a custom sound file
for each one. And then perhaps under an advanced section, the ability to
type in a script/program to execute.

I think this would look good if you just divide each notification by type.
And then use a pair of On/Off radio buttons, and a button for choosin

[2015-10-19 12:15] DanTheBritish commented on #1788
4 with no line

someone should strawpoll this

[2015-10-19 12:26] agilob commented on #1788
The line is already there as a separator and IMO it should stay there to keep UI consistent between views on mouse hover and without mouse hover.

[2015-10-19 14:13] Jacobtey commented on #2351
Tried Jenkins' nightly build for windows. Webcam works only if webcam settings tab is open.
Linux version will be tried tonight

[2015-10-19 15:22] ghost opened #2422 "Question - Automatic gain (volume) control?"
Hello

I noticed that some voice clients, such as Mumble, perform automatic gain control that automatically normalizes the volume of clients. This applies to 1-to-1 voice chats but is probably most relevant for group chats, as it ensures that all participants have an equal volume and it makes fine tuning of microphone and volume settings a lot easier. Is such a feature perhaps already on the roadm

[2015-10-19 16:32] ovalseven8 opened #2423 "New video view: qTox spams log file and crashes sometimes"
Hello,

I'm not sure why it was ignored, so here again:
https://github.com/tux3/qTox/pull/2093#issuecomment-138590880
- During a video chat I changed my avatar and qTox crashed sometimes
  - But it happens only sometimes. Perhaps some of you could also test it.
- Tox log file is spammed: http://pastebin.com/6J0nwyuF

[2015-10-19 16:59] ovalseven8 opened #2424 "Switch between video devices in new qTox video view"
Hello,

the switches between the video devices during a video call aren't working properly at the moment.
Sometimes is works a little bit, sometimes it doesn't work at all.

For example if I had 'Desktop' and switched to 'None' it should display my avatar on the screen of the friend. But it doesn't change there. There is still the desktop, but only a picture of it that doesn't change.

[2015-10-19 17:05] ovalseven8 commented on #2423
Some new information about the crash - I tested with two instances of qTox on my device:
Finally, both instances crashed - that's the report in terminal:
`Speicherzugriffsfehler (Speicherabzug geschrieben)`
in English something like:
`Memory access error`

[2015-10-19 17:09] ovalseven8 commented on #2423
Now qTox crashed again, this one time with the following report in terminal:
`[19:08:06.636] src/ipc.cpp:258 : Debug: Previous owner timed out, taking ownership 14609214455770097701 -> 5941558863648664925`

One way to reproduce:
Start two instances of qTox. The profile's of the two instances have to be friend, then start a video call. Then ring off. Now, one of the instances have to change the ava

[2015-10-19 17:23] agilob commented on #2424
This is now easily doable.

[2015-10-19 17:26] agilob commented on #2423
IPC related.

[2015-10-19 17:53] zetok commented on #2408
From #2423 thanks to @ovalseven8

#

Now qTox crashed again, this one time with the following report in terminal:
`[19:08:06.636] src/ipc.cpp:258 : Debug: Previous owner timed out, taking ownership 14609214455770097701 -> 5941558863648664925`

One way to reproduce:
Start two instances of qTox. The profile's of the two instances have to be friend, then start a video call. Then ring off. Now, one of

[2015-10-19 17:54] zetok commented on #2423
Duplicate of #2408, thus closing.

[2015-10-19 17:54] #2423 closed, assigned to nobody

[2015-10-19 18:12] Vastrix commented on #1903
+1 :+1:

[2015-10-19 18:16] ovalseven8 commented on #2423
I see. But perhaps someone could fix that the log file won't be spammed anymore.

[2015-10-19 18:19] agilob commented on #2423
I'm not convinced it's duplicate, similar behaviour, but is cause the same? @antis81 ?

[2015-10-19 18:43] zetok commented on #2423
@agilob I had #2408 happen randomly, and independently from whether there is a login screen or not launched - generally, you just need to have multiple instances, and thanks to @ovalseven8 there's a way to reproduce it `:)`

[2015-10-19 18:59] ovalseven8 commented on #2424
Please check and you'll see that it doesn't work properly yet.

[2015-10-19 19:05] agilob commented on #2424
I know the problem, it's not yet implemented, but what I say, it's easy to do it now. This will wait until new AV is merged so less code will conflict, and new AV is high priority.

[2015-10-19 19:55] towlie commented on #1862
Until now this issue will not be solved by https://github.com/tux3/qTox/issues/2415 see https://github.com/tux3/qTox/pull/2415#issuecomment-149213985

[2015-10-19 23:22] ProMcTagonist commented on #2420
Instead of on/off radio buttons, a simple combobox with None at the top, recents/defaults in the middle, and a file choosing option at the bottom?

[2015-10-20 01:53] antis81 commented on #2419
Should be fixed by #2415. @zetok Can you test please?

[2015-10-20 07:19] zetok commented on #2419
Yeah, seems to be fixed on b7cf4df13f741a0eb812531ab39a8c0b7195610a.

[2015-10-20 08:47] aaannndddyyy commented on #1903
should be/have
- per friend
- option to disable it
- option to resolve links via tor even if tox communication is not going through tor
- on first run, ask the user whether this feature should be on or off for all friends
- no whitelist (user sends link of his new home page, which is not whitelisted and so does not show  -> bad ux

Sendr-side fetching of the data also sounds nice, however, you wou

[2015-10-20 09:05] antis81 commented on #2419
Thanks! That's good news. :+1:

Oops, wrong issue -> moved following text to PR:
~~Unfortunately there's yet another problem (bug) to be solved. When opening A/V settings tab now, I get lots of "AL: ... resource busy" errors. This depends on how the input device is opened. Actually I'm not happy with current solution as we mix in-/outputs. @agilob @BiTOk I will need your help. Can you please revie

[2015-10-20 12:12] agilob commented on #2389
Let's encrypt has landed, I'm going to give it a go and can serve content over TLS3 only.

[2015-10-20 14:15] icefinger commented on #1916
For me it's sounds as a very useful feature. I totally imagine to send the qrcode as image to my aunt/father/grand father saying that he has to open it with qtox in the "add friends" tab. Since there is a NoSpam tool, it's sounds reasonable.
It exists some nice and simple implementations of this usage, such as in https://code.google.com/p/qtqr/

[2015-10-20 14:37] agilob commented on #1916
Like toxid which can be imported by **any** tox client.

@icefinger why would you prefer to send image of qrcode from plaintext instead just a plaintext? If you change your NoSpam you will have to regenerate and republish the qrcode.

qtqr is written in python.

[2015-10-20 14:37] ovalseven8 commented on #2424
@agilob: I see, sorry. :wink:

[2015-10-20 15:02] icefinger commented on #1916
I totally don't prefer to send an image instead of a plain text (I spoke about "family" people).
But I totally know that most people prefer to "open a bar code like image with buttons and file explorer" than "copy paste a strange/unusual very long number", even if it is much harder and heavier.
Why ? because they (believe to) know what a bar code is, they use it every day, and because every usual

[2015-10-20 15:36] lillelilje opened #2425 "Bring back popup video view in call"
Hello!

After updating recently I found myself faced with a in-chat video view.
I can't find a way to turn on the old "pop-out" video.

Was this purposely removed? Would it be possible to enable this in a setting?

Thank you!

[2015-10-20 15:50] rugk commented on #2389
&

Anyway it's still not a bad idea to use HTTPS. Two-layered security never hurts and you may be able to hide the fact that the connection is a Tox update (if there is other content on the domain and you exclude analysis of  the size of downloaded data from the attack model).
At least you can prevent an attacker to get the exact version number the user (updates from or) is updating to.
Of course

[2015-10-20 15:54] agilob commented on #2389
I also serve Tor HS if you need extra layers of encryption ;)

[2015-10-20 15:55] agilob commented on #2425
Yes, there will be. first things first, improved audio, new av api.

[2015-10-20 18:15] aaannndddyyy opened #2426 "feature request: voice messages"
would be a nice feature to be able to send voice clips just like in whatsapp and other apps.

why voice clips and not a call?
because the other peer may be afk and I simply want to leave a message in voice format.
or I simply don't want a full-scale call.

compatible with other clients,
https://github.com/GrayHatter/uTox/issues/19
https://github.com/subliun/Antox/issues/191

and sendable as pseudo

[2015-10-20 18:26] rugk commented on #2389
Interesting idea. This could indeed be used when the user has set up to use Tor in the settings.
This would effectively hide all metadata and IMO it would be nice to see that Tox is routing all traffic (even update checks) through Tor if it's selected to use it.*

\* besides this: as Hidden Services can sometimes be tricky: if you want to implement a fallback you could use the regular domain throu

[2015-10-20 18:27] rugk commented on #2389
BTW:

Nice you'll invent a new protocol. :wink:

[2015-10-20 18:29] agilob commented on #2389
Oh NICE I didn't know I'm that smart ;)

ofc I meant TLS1.2 on nginx (and tls1.3 as soon as it's supported by nginx).
HS-> agiloblulimjeqlq.onion

[2015-10-20 18:30] rugk commented on #2389
What about HTTP/2? :smiley:
(updates need to be fast :wink:)

[2015-10-20 18:32] agilob commented on #2389
I tried beta http2 on nginx in March/April but performance was terrible ;/

give me a second to try it again it's stable now!

[2015-10-20 18:39] agilob commented on #2426
Duplicate: https://github.com/tux3/qTox/issues/1804

[2015-10-20 18:41] aaannndddyyy commented on #2426
right. Closing it as dup

[2015-10-20 18:41] #2426 closed, assigned to nobody

[2015-10-20 18:41] agilob commented on #2426
in qtox it would be actually possible to detect file type of transferred file and allow playing it the same way we show tooltip of transferred image, since we link ffmpeg anyway.

[2015-10-20 18:42] agilob commented on #1804
in qtox it would be actually possible to detect file type of transferred file and allow playing it the same way we show tooltip of transferred image, since we link ffmpeg anyway.

[2015-10-20 18:44] aaannndddyyy commented on #1804
the important difference to standard file transfers:
- usage : it is all integrated and you do not need an external app to record, then find the file and send it.
- transfer: pseudo-offline, once offline messages exist in core, also use those.

[2015-10-20 20:00] ovalseven8 commented on #2423
Shall I create an extra issue for the log file spam?

[2015-10-20 20:04] zetok commented on #2288
Fixed in #2346, thus closing.

[2015-10-20 20:04] #2288 closed, assigned to nobody

[2015-10-20 20:27] zetok opened #2427 "[Regression] screenshot button pops out in the wrong place during video call"
![screenshot button](https://cloud.githubusercontent.com/assets/3148759/10620043/efcb7a0a-7770-11e5-806b-126d2ceeaa0d.png)

Reproducible: Always

Steps to reproduce:
1. Make video call
2. Move cursor over the file sending button

[2015-10-20 20:35] zetok commented on #2423
@ovalseven8 yeah, you probably should

[2015-10-21 04:23] ProMcTagonist commented on #1916
@icefinger :+1:

[2015-10-21 04:29] ProMcTagonist commented on #1903
Disagree, Tox is configurationless on first run. If you have to ask permission, ask for permission when you need it.
http://techcrunch.com/2014/04/04/the-right-way-to-ask-users-for-ios-permissions/

Concerning whitelist issues... Would it be annoying to have every new domain be a non-oneboxed link, with a little button saying to automatically preview from this site in the future, and build the whi

[2015-10-21 04:43] aaannndddyyy commented on #1903
the first run question was in order not to decide between on by default or off by default.
on by default has privacy concerns against it, off by default means many users won't even know the feature exixsts.

tox is not totally questionless, i mean on first run you have to provide a user name already and decide whether or not to encrypt the profile. a simple checkbox could be enough or a single pop

[2015-10-21 06:38] Vastrix commented on #1903
I think that if anything it should be "Security + pretty features = hard" (In this case anyway)

Unless it's an ip logging link (and onebox tries to load it) or the web admin is "compromised", privacy doesn't seem to be a huge concern in this case..?

Security on the other hand.. Onebox carelessly dling/loading data from a site.. that smells dangerous.. :s

[2015-10-21 06:48] ProMcTagonist commented on #1903
@aaannndddyyy

The point was that they can be prompted for that when they're first sent a link instead of cluttering up the first run. It makes the question relevant and not annoying. The link I posted explains. Sorry for seeming confusing by bringing up whitelist prompting right afterward, though.

They're not mutually exclusive. There should definitely be a setting to toggle on or off oneboxing

[2015-10-21 08:00] zetok opened #2428 "Stuck on avatars importing"
From https://github.com/irungentoo/toxcore/issues/1458, thanks to @StSav012:
#

qTox (both qtox and qtox-unity) doesn't load. The last thing writes to the terminal is,
`[time_stamp] src/persistence/historykeeper.cpp:178 : Debug: "Try import avatar for: UID."`
Then doesn't respond anything.
Neither any of my contacts, nor me have avatars loaded.

I'm running Ubuntu 14.04 LTS 64 bit, qtox-unity has

[2015-10-21 08:11] zetok commented on #2428
@StSav012 I can't reproduce with both new profile, and older profiles.

Could you provide steps to reproduce?

[2015-10-21 09:39] rugk commented on #2389
I'm quite sure this was SPDY. HTTP/2 was not standardized at this time. BTW nginx 1.9.5 is the first version of nginx which supports it.
But I'm not sure whether HSs support HTTP/2.

[2015-10-21 11:13] zetok commented on #2428
Ok, to reproduce encrypted profile is needed - unencrypted profiles aren't affected.
1. `HOME=$PWD qtox`
2. make an encrypted profile
3. qTox hangs

[2015-10-21 11:33] ovalseven8 opened #2429 "New video view spams log file"
Hello,

now an extra issue for this.

The new video view spams the log file: http://pastebin.com/6J0nwyuF

[code]

[2015-10-21 11:42] agilob commented on #2429
Include log there, in the post.

[2015-10-21 12:08] zetok commented on #2428
according to bisect - 20d0eb06f6d8180b1d37645f93d8bb6606c3115b

[code]

[2015-10-21 12:10] lillelilje commented on #2425
Alright! Thank you for all the hard work, devs!

[2015-10-21 12:18] #2428 closed, assigned to nobody

[2015-10-21 15:08] ghost opened #2431 "Only turn on audio when a certain volume is hit"
Mumble has the functionality that the microphone only turns on when a certain volume is hit.
I think it would perhaps be a good idea for qTox as well.

Especially, for suppressing background noise.

[code]

[2015-10-21 15:36] agilob commented on #2431
Related to push to talk?

[2015-10-21 16:17] StSav012 commented on #2428
Thanks a lot! I've been at work, and couldn't reply.

[2015-10-21 16:25] PKEv commented on #2428
Sorry, my bug....
Only saw was at work.

[2015-10-21 16:36] SkyzohKey commented on #2420
Maybe sliders would be better ? :)
![](http://a.uguu.se/oqanwn_.png)

[2015-10-21 16:38] Spencer-H commented on #2420
I think both of those look nice. The sliders are more obvious, but the
combo box is more compact.

On Wednesday, October 21, 2015, SkyzohKey notifications@github.com wrote:

[2015-10-21 16:43] mannol commented on #2431
like push to talk but automatic

[2015-10-21 17:16] ovalseven8 commented on #2425
What are the advantages of the old video view?

[2015-10-21 17:33] Jeeppler commented on #1903
I still think this feature should be disabled by default and you have to unlock it if you want.
There could be a small icon on every link, which requires a click to load the preview. This question should appear on the first link the user get's, than he can enable or disable the feature completely.

This feature is not important enough to bug the user during account creation.

[2015-10-21 18:02] agilob commented on #2425
takes less place on a screen?

tbh I don't see any advantage of the new view.

[2015-10-21 18:06] #2412 closed, assigned to zetok

[2015-10-21 18:13] #2167 closed, assigned to nobody

[2015-10-21 18:25] ghost opened #2432 "qTox does not encrypt"
1. Create account without password
2. Set password
3. qTox doesn't encrypt the history file immediately!
4. After restart it's apparently encrypted BUT there's still the unencrypted file!

Don't know if the tox profile file gets encrypted properly too.

[2015-10-21 18:35] mannol commented on #2431
It can easily be done. I can show you how if you are interested.

[2015-10-21 18:58] RowenStipe opened #2433 "Overloaded operator issue with historykeeper.cpp"
On line 527 the '!=' operator get's flagged as an error with:
../qTox/src/persistence/historykeeper.cpp:527:62: error: use of overloaded operator '!=' is ambiguous (with operand types 'QByteArray' and 'long')
    if (sqlAnswer.first() && sqlAnswer.value(0).toByteArray()!=NULL)

I'm not even 60% sure what's going on here exactly, new to dealing with QT, but from what I could understand both sqlAnsw

[2015-10-21 19:11] zetok commented on #2433
@PKEv

[2015-10-21 19:21] lillelilje commented on #2425
I agree agilob. The old video view was small, very flexible and easy to use. Now you have to manually resize all of the components to get something that isn't nearly as neat :)

However, I do see the advantage of the new view. It's more intuative and closer to skype. Should be the default even though I prefer the old one by a long shot.

[2015-10-21 20:29] towlie opened #2434 "qTox doesn't play any sound from a call after having one call"
Intorduced by: https://github.com/tux3/qTox/pull/2415

After having one call qTox is not able to play any sound from later calls anymore. But it is still able to play sound notifications like message beep or call ring.
@antis81

[2015-10-21 20:30] ProMcTagonist commented on #2431
+1, especially if it really does save bandwidth. We need as much of that conserved as possible.

[2015-10-21 20:32] towlie opened #2435 "Output device isn't paused/closed after playing a ringtone/message beep"
@antis81
https://github.com/tux3/qTox/pull/2415#issuecomment-149213985

[2015-10-21 20:32] towlie commented on #1862
This is not fully solved. Successor:https://github.com/tux3/qTox/issues/2435

[2015-10-21 20:32] #1862 closed, assigned to nobody

[2015-10-21 20:33] agilob commented on #2435
Similarly, number of subscribed devices is 1 (should be 0) after video call, might be related.

[2015-10-22 03:08] RowenStipe opened #2437 "Missing include for cmath in several files."
Both `audio.h` and `moveablewidget.cpp` require:
`#include <cmath>`
To properly compile on Mac.

[2015-10-22 04:50] dolugen opened #2438 "Clicking on Audio/Video settings tab freezes GUI"
Note that this only happens when a webcam is plugged in. Otherwise I can visit the tab fine.

Running it from a terminal shows some info. Clicking on the tab shows below info. It doesn't say anything about video input/output.

System: 64bit Ubuntu 14.04 with i3 WM

[code]

[2015-10-22 04:54] dolugen commented on #2438
It's the same with Unity DE.

[2015-10-22 04:58] zetok commented on #2438
Is that a regression?

If not, it could be related to https://github.com/tux3/qTox/issues/2353#issuecomment-146786665 - updating your kernel might help.

[2015-10-22 05:03] #2292 closed, assigned to tux3

[2015-10-22 05:03] zetok opened #2439 "[Regression] messages with NULL are truncated after it when writing to DB"
When message contains `NULL` character, everything after it is truncated.

qTox d2aa9441bfaa1145afc6a8790debd12be3a85c1c

Related:
#2292
#2364

Edit: I think that the same might apply to the nick (i.e. part after null in nick might be truncated), but I haven't tested.

Edit2: for testing use [spambot](https://github.com/zetok/tox-rust-neurological-warfare-bot) - it sends random stuff, including NU

[2015-10-22 05:29] zetok opened #2440 "[Feature request] better ringtone"
qTox could make some use of better sounds.

`Fairies in the woods.flac` from https://github.com/Tox-Clients/Tox-Sounds should be pretty awesome to have as a call notification sound.

So, there are the problems:
- qTox currently is ~slightly broken: https://github.com/tux3/qTox/blob/d2aa9441bfaa1145afc6a8790debd12be3a85c1c/src/widget/widget.cpp#L1264
- if one would try to use `.pcm` made from the `

[2015-10-22 05:51] dolugen commented on #2438
Upgraded kernel, not fixed (3.13.0 -> 4.0.9). Do you need more information? I saw the Writing Useful Bug Reports page after I filed this bug.

[2015-10-22 06:13] dolugen commented on #2438
I tried switching webcams and it works now... It's not because of the new kernel, I tested with the older one too.

The second webcam triggered some message about video driver changing resolution & framerate. After that both webcams work. I don't know why.

Just now going to the tab, the first webcam did this and worked:

[code]

[2015-10-22 06:15] agilob commented on #2438
Well, sorry about that, couldn't test such case I have only one webcam.

Does it work normally in video-call?
1. turn off qtox
2. start video call
3. ?

[2015-10-22 06:16] RowenStipe commented on #2437
Fixed in: https://github.com/tux3/qTox/commit/e107de12c040ed53b810027af5034f6dc973653b

[2015-10-22 06:16] #2437 closed, assigned to nobody

[2015-10-22 06:16] agilob commented on #2440
I bet there were at least two issue about ringtone.

[2015-10-22 06:17] dolugen commented on #2438
But does the initial bug appear for you?

[2015-10-22 06:18] agilob commented on #2438
No, on my machine everything works great, using desktop as video source and camera, tested on second laptop with windows and also no problems.

[2015-10-22 06:20] agilob commented on #2439
Test it now, I merged code from @RowenStipe

-.-'

[2015-10-22 06:58] zetok commented on #2440
Well, there is #637, which does mention that ringtone should loop and be longer - aside from that, I can't find issues that would be about changing ringtone.. although there is #1832, which is about adding some sound at the end of the call.

[2015-10-22 07:00] zetok commented on #1832
Update: there is https://github.com/Tox-Clients/Tox-Sounds , thanks to @abique

[2015-10-22 07:04] zetok commented on #2439
Well, I was told by @tux3 to tag issues that result in data loss as `P-very-high`.

And yes, normal users can encounter this bug, given that some clients do copy NULL at the end of someone's nick when doing tab-completion.

[2015-10-22 07:06] zetok commented on #1416
Should be fixed by #2415, thus closing.

If you still have this issue, please comment for reopen.

Note that there is #2435.

[2015-10-22 07:06] #1416 closed, assigned to nobody

[2015-10-22 07:08] zetok commented on #1880
Should be fixed by #2415, thus closing.

If you still have this issue, please comment for reopen.

Note that there is #2435.

[2015-10-22 07:08] #1880 closed, assigned to nobody

[2015-10-22 07:08] zetok commented on #1995
Should be fixed by #2415, thus closing.

If you still have this issue, please comment for reopen.

[2015-10-22 07:08] #1995 closed, assigned to nobody

[2015-10-22 07:09] suhr commented on #2439
I wonder...

[2015-10-22 07:10] zetok commented on #1139
#2415 should help with it, and was merged. Is the issue fixed?

[2015-10-22 07:14] zetok commented on #1250
Ok, now the sound is being cut off instantly when accepting call, but still isn't cut-off instantly when rejecting the call.

[2015-10-22 07:16] antis81 commented on #2438
@agilob FYI: As soon as I select a webcam device, qTox "freezes" for me too (builtin iSight on old MB2,1). Having this behaviour for months now - so nothing bad introduced by our latest PRs. :smile:

[2015-10-22 07:16] zetok commented on #1750
@antis81 is this issue still present, given https://github.com/tux3/qTox/pull/2415#issuecomment-149498226 ?

[2015-10-22 07:17] dolugen commented on #2438
Just tested this, video call works.

[2015-10-22 08:06] An-dy commented on #2431
+1 (as a option when it not enable easy crypto analysis based on word length (silence "no" silence and silence "yes" silence need to be indistinguishable)).

[2015-10-22 09:10] ProMcTagonist commented on #1832
Neat. Eagerly awaiting UI sounds. Watched.

[2015-10-22 10:52] TheNain38 commented on #2432
I think it's a regression since #2346 was merged in commit c07aee18ad67414d45744fbda61c289796c8f4c7. It also happened to me

[2015-10-22 12:04] zetok commented on #2432
@PKEv ?

[2015-10-22 12:07] zetok commented on #2439
@agilob reproducible on 8185893ab56a01350a6b72a81e6d782f7624f6d2

[2015-10-22 12:56] agilob commented on #2438
@antis81  for a few seconds or for ever?

[2015-10-22 13:31] antis81 commented on #2438
Apparently for ever.

[2015-10-22 13:33] antis81 commented on #2419
@zetok Should be fixed by #2415 -> closing.

[2015-10-22 13:33] #2419 closed, assigned to nobody

[2015-10-22 15:07] agilob commented on #1750
Can you reproduce it with echobot?

[2015-10-22 15:09] codedust commented on #1832
:+1: nice!

[2015-10-22 15:29] abique commented on #1832
Hello, I'm happy that you're happy :)
I think it would be helpful to create issues on https://github.com/Tox-Clients/Tox-Sounds to describe which notification you need.

Thank you :)

[2015-10-22 15:31] ovalseven8 opened #2443 "Audio feedback widget lags and freezes for short times"
Hello,

because the audio improvements were merged now, here the issue:
The audio feedback widget lags and during a call it is also freezing for short times.

[2015-10-22 15:33] ovalseven8 opened #2444 "Feedback widget is not refreshed properly"
The feedback widget isn't refreshed when I choose another capture device. I have to click to another tab and then to 'Audio/Video' again to let it work.

[2015-10-22 15:36] ovalseven8 opened #2445 "Changing input/output devices during call don't have any effect"
I can't change (input/output) devices during a call. Well, of course I can - but it doesn't have any effects. Don't think that it's desired behaviour.

[2015-10-22 17:12] ovalseven8 opened #2446 "Focus effect even if you're not clicking on buttons"
Hello,

the new focus effect in the login window doesn't work perfectly yet.

Way to reproduce:
1. Go with computer mouse over the button in login window
2. Click and during the click go away from button
3. If you are no longer on the button, you can skip/drop the mouse button
4. => Button is in focus status even if you're not clicking at the moment:
![Screenshot](https://cloud.githubusercontent.c

[2015-10-22 17:36] antis81 commented on #1750
I check it right now… Stay tuned.

**EDIT** Unfortunately echobot is sleeping :frowning: :sleeping:

[2015-10-22 17:43] zetok commented on #1832
Made the issue https://github.com/Tox-Clients/Tox-Sounds/issues/1 `:)`

[2015-10-22 18:42] zetok commented on #2444
I can't reproduce it.

I do have some strange freezes though when switching between cam and desktop.

[2015-10-22 19:14] RowenStipe opened #2447 "OSX Issues after compile"
As of https://github.com/tux3/qTox/commit/8185893ab56a01350a6b72a81e6d782f7624f6d2 qTox will segfault only presenting the account creation window for a moment before crashing. Running again (even after waiting several minutes) will cause qTox to crash with out ever presenting the account creation window.

The following is the terminal outputs from launching qTox

_First Run_

[code]

_Second Run_

[2015-10-22 21:45] antis81 commented on #2446
@zetok Please have a look into `loginScreen.css` and remove the `:focus` roles someone merged. ;)

For explanation: These buttons are marked as `default` (react on "enter" key) -> they are actually focused. Don't know why this got merged though…

[2015-10-22 23:28] RowenStipe commented on #2447
Confirmed issue is present even when using QT 5.5 to build qTox on Mac updated original post with link to a crash report generated by Apple about issue.

Seems to be a problem for QT applications and libraries on Macs.

[2015-10-23 02:01] vi opened #2448 "Messages getting dropped if peer is unavailable."
If qTox knows that the peer is offline, it remembers the message for eventual delivery and shows "in progress" indicator instead of timestamp.

But if qTox doesn't yet know that the peer is gone, messages disappear entirely. Such disappeared message look exactly like a successfully delivered message.

| Message | qTox's knowledge about peer | Peer actual status |
| --- | --- | --- |
| msg1 | Onlin

[2015-10-23 02:13] vi commented on #2448
Update: not reproducible if peer is qTox. Reproducible if peer is Toxic.

If Toxic does not support some required part of protocol needed for this, qTox should put, for example, question mark near the delivery time to tell user that reliably delivery don't work now.

[2015-10-23 02:17] vi opened #2449 "Can't start second qTox instance on Linux"
[code]

Workaround: use TMPDIR

[code]

[2015-10-23 02:19] vi commented on #2448
Update 2: re-tested with qTox + toxic again, can't reproduce... Strange, I remember setting timestamp appearing instantly even though peer was terminated by `kill -9`...

Tested yet again - there was a small sub-second window where message got lost to Toxic.

[2015-10-23 07:07] zetok commented on #2448
Nah, that's not the case. Confirmation of message delivery is done on ~toxcore level.

It's a qTox issue - it doesn't correctly mark messages as "try to send" when peer appears to be online. _Edit: i.e. qTox incorrectly marks message as `delivered` without actually getting the delivery confirmation_

Thanks for extensive testing `:)`

[2015-10-23 07:12] zetok commented on #2449
Well, starting second instance by using `qtox` is not supported - you would need to use `qtox -p $profilename` to be able to start second instance.

With that being said, it shouldn't crash.

[2015-10-23 08:00] agilob commented on #2448
do you have more info about it? It's annoying me personally I thought it was antox bug -.-' Let me know what you know about it so I can try fixing it over the weekend.

[2015-10-23 08:48] optimumtact opened #2450 "qtox jenkins configs"
@zetok you popped off irc before I could link them to you, can you contact me on irc or over tox

toxid:7931471B37E3429B0C2DBCC3A457799C4302CF66AEBEB6D7048EF9551F8F7F55B53368E4F2AC

or via my email (should be listed in my profile)

[2015-10-23 10:12] vi commented on #2449
The problem is not a profile, but `/tmp/qipc_sharedmemory_qtox45bdc9c0c458c8a25fc32de3a5f6d795f60b53f9` and `/tmp/qipc_sharedmemory_qtox45bdc9c0c458c8a25fc32de3a5f6d795f60b53f9` directories.

[2015-10-23 10:32] vi commented on #2448
I've seen the state where the peer's indicator is still green, but the message has rotating circle instead of timestamp.

(I'd shown the peer indicator as yellow instead of green until the delivery notification finally arrives if it lasts for more than two seconds).

[2015-10-23 12:18] tux3 commented on #2142
Part of the problem is that the way we currently encrypt the database is absolutely insane. Essentially and from what I understood, we keep everything that ever happened as text SQL queries, encrypt/decrypt the resulting text file, and execute everything on startup, if anything unexpected happens it's super easy to corrupt the "database".

I think moving to the SQLite Encryption Extension instead

[2015-10-23 12:18] ovalseven8 commented on #2446
It's this PR: https://github.com/tux3/qTox/pull/2430

[2015-10-23 12:31] tux3 commented on #2447
The crash report clearly shows where the bug is, but since this is OS X specific code I'm not sure what the fix should be.

@RowenStipe
Can you apply this patch and check if it works? It should fix the crash, but I'm not sure if the OS X menu will still work correctly after that.

[code]

[2015-10-23 12:54] zetok commented on #2449
Yeah, problem with IPC,

@antis81 ↑ ?

[2015-10-23 12:56] RowenStipe commented on #2447
This fixed it. I'm now able to compile and launch qTox for the first time on a Mac.
Bonus: The menu bar does work.

[2015-10-23 13:05] tux3 commented on #2129
@LapFox Could you post the output of the following commands in a pastebin (on your current kernel, with the webcam powered on)?

[code]

Thanks.

[2015-10-23 13:19] tux3 commented on #2447
Awsome, merging it now!

[2015-10-23 13:36] zetok opened #2452 "[newav_final] microphone volume slider doesn't work"
I've set it to 0, and I still could hear microphone/music (in fact, volume of sound (AFACT) did not change at all) on 7d9eb98bfdee63b090e279c28077316c83c0da22

I've set it to `0` during a video call, but even after turning it off and starting an audio call sound was still the same.

Playback volume slider in settings works.

Actually.

In client that was receiving sound, setting microphone slider

[2015-10-23 13:38] zetok opened #2453 "[newav_final] received video is shown in place of the video preview"
on 7d9eb98bfdee63b090e279c28077316c83c0da22:

![misplaced](https://cloud.githubusercontent.com/assets/3148759/10693959/7cecc4ec-7993-11e5-8a7c-665c8bfd7c08.png)
↑ instead of avatars, there should be received desktop shown.

[2015-10-23 13:51] zetok commented on #2450
@optimumtact yep, thanks - I went afk, and my net got borked, but at least I did receive & accept your FR `:)`

[2015-10-23 13:51] #2450 closed, assigned to nobody

[2015-10-23 14:51] #2217 closed, assigned to nobody

[2015-10-23 14:51] #2447 closed, assigned to nobody

[2015-10-23 15:59] zetok commented on #2448
Well.. Antox also has bugs with that, at least on version that I have, so there's that.

I haven't really tested it, but quite often (always?) qTox fails to send faux offline message to a peer that it still "thinks" that is online, but the friend went offline (i.e. toxcore didn't get to the point where it signals that friend timed out).

I guess that the way to reproduce it would be to write messa

[2015-10-23 16:48] zetok commented on #2446
@antis81 ok, done in #2455

[2015-10-23 17:10] tux3 commented on #2452
On newav_final_for_realsies the microphone slider ~works for me, it changes the loudness of the captured sound, the only problm is that at 0 it's still somewhat audible.

[2015-10-23 17:14] zetok opened #2457 "[newav_final_for_realsies] qTox crashes on exit"
Reproducible: Always

steps to reproduce:
1. turn qTox on with a profile (`qtox -p $profilename`)
2. turn qTox off

https://gist.github.com/zetok/9501616e51a487ee385f

[2015-10-23 17:23] zetok commented on #2452
Well, it doesn't work for me, just makes call quality **really bad**. (sound like some sort of static interference?)

[2015-10-23 17:26] tux3 commented on #2452
Found the problem, we were only adjusting the volume on the first audio channels.

[2015-10-23 17:32] tux3 commented on #2457
Norepro, but I think the problem is just that the CoreAV timer is deleted from the wrong thread.

[2015-10-23 17:50] zetok commented on #2457
1f758efc2f19fd4e9a9847c517e57ad021364c0f: https://gist.github.com/zetok/b8f91c73aacbc83d9513

[2015-10-23 18:08] RowenStipe opened #2458 "OSX Tray missing quit button"
As of 636bb918983f8d2c25e57a6a61479054271f8167 in OSX the tray icon menu list is missing the `Quit` option evidenced here: ![](http://i.imgur.com/2UZnIlL.png)

[2015-10-23 18:09] agilob commented on #2458
known.

on KDE5 we have two ;)

![snapshot1](https://cloud.githubusercontent.com/assets/2544251/10701098/d0e7bd2e-79b9-11e5-8e68-b012aa4b369c.png)

[2015-10-23 18:11] RowenStipe commented on #2458
Removed from report and updated the report title then.

[2015-10-23 18:15] zetok commented on #2457
Seems to be fixed on 8d2ae07c9fea211ac86b831d6e3a73b33701bf9d

[2015-10-23 18:16] #2457 closed, assigned to tux3

[2015-10-23 19:39] antis81 commented on #1750
Yep, after echobot is awake again it works -> closing.

[2015-10-23 19:39] #1750 closed, assigned to nobody

[2015-10-23 19:59] towlie commented on #2434
I don't quiet get your label pattern. Why isn't this P high? Calls are broken after one call.

[2015-10-23 21:12] vi commented on #2448
I expect the chat logs to eventually include the same messages on both peers regardless of comcast settings.

[2015-10-23 21:21] tux3 commented on #2453
Fixed in toxav.

[2015-10-23 21:21] #2453 closed, assigned to tux3

[2015-10-23 22:17] antis81 commented on #2449
Relates to #2408.

[2015-10-23 22:25] antis81 commented on #2458
Problem is in `widget.cpp`, where `Ctrl+Q` is registered with `Qt::WidgetContext` (the default). Every class inheriting Widget will get its own Ctrl+Q shortcut (friendlistwidget, chatform, etc.):
1. Ctrl+Q contrext needs to be set to `Qt::ApplicationContext`.
2. It's an (application-)global shortcut -> move to `main()`.

[2015-10-23 22:26] antis81 commented on #2458
Relates to #1723.

[2015-10-23 22:39] tux3 commented on #2434
I can't repro on the new AV branch, does the log say that the audio failed to open on the second call, or does it silently (heh) fails?

[2015-10-23 22:51] antis81 commented on #2434
@tux3 I can reproduce (on **master**) and tried to investigate w/o success so far. It "works" with the code, that I removed from @TheSpiritXIII - but it's no solution. In Audio::subscribeInput add the following lines:

[code]

The log says this:

[code]

Does this help?

[2015-10-24 01:03] tux3 commented on #2434
Gratuitous timers! That's not a fix, it's a voodoo kludge.

Please try with the newav branch if you can, I fixed many A/V bugs there, and in particular I can't repro this there.

[2015-10-24 01:09] tux3 commented on #2445
Should be fixed by new AV #2456

[2015-10-24 01:12] tux3 commented on #2438
If someone can still reproduce a freeze, please run qTox in a debugger (or profiler) and take a backtrace while it's freezing so we know where exactly the problem is.

I want to say the problem is in the Linux kernel or the ffmpeg code that talks to it, but I can't say for sure.

[2015-10-24 01:13] tux3 commented on #1250
This is fixed by the new AV PR #2456

[2015-10-24 01:15] tux3 commented on #2440
The ringtone getting looped is done in the new AV PR #2456

[2015-10-24 01:17] tux3 commented on #2429
This _might_ be fixed by the new AV PR #2456, since qTox is now less likely to hit this condition. Please leave a comment if you can still reproduce with the new AV code.

[2015-10-24 02:29] tux3 commented on #2424
Fixed by the new AV PR #2456

[2015-10-24 06:17] akhilman opened #2459 "Separate audio device for notifications and calling"
In my setup I have usb headset which I use when calling and speakers for other things.
I would like to hear notifications like ringtone through speakers but still use headset as voice call output without switching audio device in settings.

Solution is two separate fields in audio settings for notifications and voice output.

[2015-10-24 06:46] zetok commented on #2438
@tux3 from what @antis81 said, it's not really possible to get a backtrace of frozen qTox - so it would look like it's a problem with the kernel

[2015-10-24 06:48] antis81 commented on #2434
@tux3 I'm totally with you :+1: - I'll check the branch and report back.

[2015-10-24 08:59] denniszl commented on #1434
Hello,

I noticed this bug today on my first use of group calls. I believe this is the issue:

A call has been created already, and someone is added to the group.
I am not sure about the exact code, however logically onUserListChanged() cannot handle this, as the call button changing has a conditional only on if (peersCount != 1).

Not sure if this code is relevant but in my 30 mins of looking thr

[2015-10-24 12:33] TheNain38 opened #2460 ""Ligth icon" is grayed out because when qTox is starting I didn't have "Show system tray icon" checked"
If I have "Show sytem tray icon" checked, then when qTox would start "Light icon" wouldn't be grayed out

[2015-10-24 12:47] agilob commented on #2438
or ffmpeg.

It freezes for me, but just for 1-2seconds (video is starting)

[2015-10-24 12:50] tristan-k commented on #2129
I'm running the mac os x build from https://github.com/RowenStipe/qTox-OSX and I can confirm the issue. My camera is working fine in other applications.

[code]

![ishot-1](https://cloud.githubusercontent.com/assets/732025/10710521/8752de82-7a5e-11e5-850f-c6f632c12b92.jpg)

[2015-10-24 12:50] PKEv commented on #2433
Close

[2015-10-24 13:36] #2433 closed, assigned to nobody

[2015-10-24 14:50] agilob commented on #2459
Any other application supports it? Seems like over kill of settings panel for me.

[2015-10-24 16:30] antis81 commented on #2459
@agilob That's the wrong question. It would be a nice feature and I can imagine a few people finding this useful. Anyway, this should be optional (off by default). Of course this would be a bit more work, than just simply adding another selector for ouput device and we need to first finish the current a/v issues, before thinking about this -> in some future version.

[2015-10-24 16:39] zetok commented on #2460
Can reproduce:
![greyed out](https://cloud.githubusercontent.com/assets/3148759/10711529/10882812-7a76-11e5-94bb-f20b4689f352.png)

[2015-10-24 16:47] agilob commented on #2460
I'm pretty sure I was fixing this when adding indents...

[2015-10-24 16:50] TheNain38 commented on #2460
I added a fix

[2015-10-24 16:51] agilob commented on #2460
I just did it too ;)

[2015-10-24 19:29] RowenStipe commented on #2129
The camera function wasn't working when I put the package out I can confirm on my system.

[2015-10-24 20:00] tux3 commented on #2459
How many people would actually use this every day?

Adding too many things to the settings costs valuable pixel real estate and risks introducing new bugs.

[2015-10-24 20:02] tux3 commented on #2434
Thanks.

[2015-10-24 20:09] tux3 commented on #2438
If it freezes for 1-2 seconds, it's just passably bad UI. If it freezes forever, I'd love to get a backtrace, just a core dump, or a profiler log, maybe even a syscall trace, anything to get an idea of what function is responsible!

The bare minimum we can do then would be to fail gracefully instead of locking up.

[2015-10-24 20:30] antis81 commented on #2459
@tux3 Even if only a few people can make use of it, why not providing a useful feature? You're right, that risk of breaking stuff is high at the moment. If you ask me, I would "ignore" this by now and address the discussion to some future version where a/v core has matured a bit more than today.

[2015-10-24 22:58] akhilman commented on #2459
@agilob Skype and Linphone supports it. But yes, there are a lot of much more important tasks.
![linphone](https://cloud.githubusercontent.com/assets/180812/10713179/f4031c42-7ad4-11e5-9ff2-61a34715dbda.jpg)
![skype](https://cloud.githubusercontent.com/assets/180812/10713180/f404da28-7ad4-11e5-9361-c55041fc9029.png)

[2015-10-25 08:26] ovalseven8 commented on #2287
Just tested with `Proxy: 127.0.0.1 and Port 9150` and Tor was not running.
Seems qTox didn't bypass proxy, I never got online. Of course, UDP was deactivated.

@src386: Did you deactivate UDP?
@tux3: What should be the desired behaviour? Do we need force proxy option or should it already work with UDP disabled?

Everyone: Could you test it with some proxies?

[2015-10-25 08:47] agilob commented on #2438
I just get this message when it's lagging (see last line)

[code]

It happens only once per qtox run. It just looks like opening camera device is slowing qtox down because it happens on the same thread. I know how to fx my issue: just replace camera preview with button, and show camera when clicked.

[2015-10-25 08:48] ovalseven8 opened #2465 "Proxy settings shouldn't be global"
Hello,

I am not sure if there is already a PR for this.

Would prefer that there is a qtox.ini for every profile.
For example if I have two profiles, Alice and Bob, and Alice would like to connect via Proxy and Bob wouldn't like, I have a problem. Because it's saved globally in qtox.ini.

[2015-10-25 09:29] vit9696 commented on #1891
Well, I am currently experiencing this issue and can hopefully help with understanding it. For now, as a reporter.

I run OS X 10.10 and have just updated from a self-compiled build to
https://github.com/RowenStipe/qTox-OSX/releases/tag/1.0.EXPERIMENTAL.1

I have profile encryption on and DB writing is set to synced (safest). And the bug is also confirmed by the log:

[] ../qTox/src/core/coreencry

[2015-10-25 10:00] ovalseven8 commented on #1656
Should be left alone. Toxcore and client settings should definitely be separated.

Basically, the compatibility with other clients is first priority. And import/export should work easy too. All in all, the structure must be clean and easily understandable.

[2015-10-25 10:57] TheNain38 commented on #2287
Tor default proxy is port 9050 not 9150 and by desactivating udp and ipv6 I got online

[2015-10-25 11:03] ovalseven8 commented on #2287
@TheNain38: You're right, but I used the Tor Browser, which is using Port 9150.

[2015-10-25 11:09] TheNain38 commented on #2287
Ok, if Tor isn't running then I don't have any connexion he was referring that if UDP is enabled then it didn't used the socks proxy

[2015-10-25 17:17] Spencer-H commented on #2459
I would certainly love to have the notifications and the call as separate devices, since it allows me to turn down my notifications so that they don't cover things up, without having the call be so quiet I can't hear it over background noise.

[2015-10-25 17:31] alexeysvrv opened #2469 "Automatically adjusts the microphone level"
In the main branch in the program setting level microphone is not connected to a level in the microphone system. I would like to automatically adjust the level of the microphone, depending on the volume of your voice. This can be done?

[2015-10-25 17:57] RowenStipe opened #2470 "[OSX] Audio selection using global values and show only a single device"
Commit: 49aca4fcdc25ef2cd20bfe58e8e52af6381d7d71

qTox doesn't show the complete list of audio devices available for selection

![](http://i.imgur.com/TCGYPFH.png)

Also changing the selected sound device for qTox requires changing the device from the Sounds settings in OSX and then clicking `Rescan audio devices` in the qTox `Settinngs > Audio/Video` to update to a different audio selection.

[2015-10-25 18:31] ivanbistrovic opened #2471 "No qtox icon in Cinnamon menu"
I use Debian 8 with Cinnamon desktop. I can't access qtox from menus because there is no icon and it can't be found by searching, only by invoking qtox through terminal. Tested with qtox and qtox-qt5.4.2, same thing happens. Some other clients work fine. What did I do wrong? :D

[2015-10-25 18:41] agilob commented on #2471
do you mean tray icon or after installing application?

[2015-10-25 18:52] ivanbistrovic commented on #2471
After installing an application. qtox works fine, I just can't access it through desktop environment because there are no menu entries.

[2015-10-25 19:27] ghost commented on #2471
If you copied the binaries in your path (or is there an unofficial .deb?), there's no package creating the necessary entries for the menu. To add a custom entry graphically, either open the menu configuration and then go to "menu editor", or create a new launcher  anywhere (can be deleted afterwards) and select "also add a menu entry" after clicking ok.

[2015-10-25 20:20] agilob commented on #2465
I don't have it?

[2015-10-25 21:11] ivanbistrovic commented on #2471
I installed it with package manager using Tox repository. Yes, manual adding of menu entry was simple but I was just asking maybe it can be fixed at the source. Thanks.

[2015-10-26 05:49] zetok commented on #2471
It's up to @Zer0-One to fix it, given that I no longer have access to jenkins.

[2015-10-26 05:50] Zer0-One commented on #2471
I'll look into it and report back here with any updates.

[2015-10-26 09:05] muchweb opened #2472 "Program is recording audio at all time"
qTox is always showing in PulseAudio 'Recording' device list. Which means that it is constantly recording my audio.

This is trust and security issue. User will need to mute recording manually to make sure it's not snooping by accident.

Instead, it should behave same as other programs like Ekiga, Pidgin, Empathy, that only start recording once audio call is initialized.

---

qTox 7afeb41b1e51a39

[2015-10-26 09:32] agilob commented on #2472
Duplicate of #1862 #1416 #1880 which we marked as closed a few days ago @antis81 @zetok ?

[2015-10-26 09:33] muchweb commented on #2472
@agilob, thanks. I'll give it a try on a new version.

[2015-10-26 09:45] muchweb commented on #2472
Is fixed in 3a3be50c643b904ceb7c3b1948783bdfe4890275 build.

[2015-10-26 09:45] #2472 closed, assigned to nobody

[2015-10-26 10:24] agilob commented on #2472
:+1:

[2015-10-26 12:36] DanTheBritish commented on #2459
Jabber VoIP supports this also, and is a great feature. My computer loudspeaker rings, and I answer on my headset, a very good feature.

[2015-10-26 12:46] RowenStipe opened #2473 "Multi-window mode alert issue [Duplicate Issue]"
Just ignore this I goofed on making the issue, dupe of #2211

[2015-10-26 13:55] BiTOk commented on #2438
The same problem exists in windows. I counted executions of camera.open() on av settings tab opening, it's 2. One from AVForm::updateVideoModes-[signal]>onVideoModesIndexChanged, second from AVForm::getVideoDevices. Can we remove?:

[code]

Why is opened same audio device thrice for one tab opening?

[2015-10-26 16:42] CM3PTb opened #2474 "qTox doesn't turn off camera after selecting it in preferences."
If you select a web cam in prefs, it turns it on, and doesn't turn it off.  it should be off after selecting in prefs, until you make a video call.
<Impyy> same issue with utox

[2015-10-26 18:17] zetok commented on #2473
Since it's a duplicate of #2211, closing.

[2015-10-26 18:17] #2473 closed, assigned to nobody

[2015-10-26 18:20] zetok commented on #2474
Possibly affected by #2456, should be checked again when it gets merged.

[2015-10-26 19:33] PKEv opened #2475 "updater don't work"
can make it as a separate project, and if the automatic update is not working to make it even be a reminder that there is already a newer version

[2015-10-27 13:26] ElLamparto opened #2477 "Audio works only once after qTox start up."
qTox version with the "VU meter" and picture-in-picture, downloaded 26 Oct.

It seems that audio works correctly after qTox start up, but in the following calls there is no audio or sometimes only one way audio.

When both parties switch to µTox, there is no problem. Therefore I suppose the bug is in qTox (clean up after audio session?).

Video seems to work always (often without audio) - but I ha

[2015-10-27 14:53] fcore117 opened #2478 "Simple dark mode"
Please add simple dark mode to chat window, something like this i dirty improvised with paint filling color.
![capture](https://cloud.githubusercontent.com/assets/1313813/10761377/c39a322e-7cc9-11e5-86ab-9a50747d3009.jpg)

[2015-10-27 16:27] ovalseven8 commented on #2477
There will be an update soon. Then, the issue should be closable.

[2015-10-27 17:15] Haarolean opened #2479 "Wrong comma color in group users list"
The comma after my nickname is colored green, I think it should be black 8)
![rwcdude](https://cloud.githubusercontent.com/assets/1494347/10766142/7de51df4-7cef-11e5-9ff3-2a7b32036997.png)

[2015-10-27 17:53] ProMcTagonist commented on #2478
@agilob whatever happened to your themes branch?

[2015-10-27 18:26] agilob commented on #2478
no one could make a code review and test it for ~2months so it's full of code conflicts and development was stopped.

[2015-10-27 18:40] fcore117 commented on #2478
Maybe something simpler is possible? themes branch may take ages but simple dark mode is most wanted to avoid eyeburn and is meant for night.

[2015-10-27 18:48] agilob commented on #2478
it's impossible to change colour scheme without fundamental changes in qtox.

[2015-10-27 19:38] zetok commented on #2477
Fixed in #2456, to be closed when PR gets merged.

[2015-10-27 19:43] zetok commented on #2478
Duplicate of #1639, thus closing.

[2015-10-27 19:43] #2478 closed, assigned to nobody

[2015-10-27 19:43] zetok commented on #1639
Thanks to @fcore117 from #2478:

#

Please add simple dark mode to chat window, something like this i dirty improvised with paint filling color.
![capture](https://cloud.githubusercontent.com/assets/1313813/10761377/c39a322e-7cc9-11e5-86ab-9a50747d3009.jpg)

[2015-10-27 19:52] fcore117 commented on #1639
Lets hope creating simple color themes without adding any cost to memory usage or cpu will come.

[2015-10-28 08:05] rugk commented on #2475
There were already some issues about this: https://github.com/tux3/qTox/issues/2085 https://github.com/tux3/qTox/issues/1488

If you want to create an updater this would be nice IMHO.

[2015-10-28 08:50] agilob commented on #2475
https://github.com/tux3/qTox/issues/2389

[2015-10-28 11:02] PKEv opened #2480 "crash after logout"
if logout from context menu in tray - program crash

[2015-10-28 12:14] ovalseven8 commented on #2479
Agree.

[2015-10-28 21:18] ghost opened #2481 "How to view the history?"
I have:
- User with password
- $HOME/.config/tox/${USER}.qtox_history.encrypted
- Conversation with some contact

The problem: `Right click -> Load chat history` doesn't work (I'm choosing the correct day in calendar). Sometimes the history is loaded automatically for a specific day (not necessarily current)...

[2015-10-28 21:34] ghost commented on #2481
Really. Apparently, history just is not saved. The table on the screen - for example - no message at the 27th day. I am sure that the history file would not yield to any changes from outside.
![View history using `sqlitebrowser`](http://i.imgur.com/Y17iCeG.png)

[2015-10-29 07:13] subliun opened #2482 "Phase out dns and switch to ToxMe http json api"
https://github.com/subliun/toxme/blob/master/doc/api.md

ToxMe has numerous advantages, including support for Tor, a well-documented api and the possibility to remove the hack that is toxdns from core. https://toxme.io will be dropping support for toxdns by the end of this year.

[2015-10-29 10:16] towlie commented on #2477
Duplicate https://github.com/tux3/qTox/issues/2434

[2015-10-29 13:27] Doom032 opened #2483 "qTox doesn't work with alternative keyboard layouts"
My default keyboard layout is us-altgr-intl ( https://zuttobenkyou.wordpress.com/2011/08/24/xorg-using-the-us-international-altgr-intl-variant-keyboard-layout/ ). It makes characters like ", ' and ~ regular keys instead of dead ones. Instead of typing ' and then e to type é, it allows you to type é with altgr+' and then e. It also adds keys not available in the regular international keyboard, like

[2015-10-29 15:51] vi opened #2484 "Selecting inaccessible location while accepting incoming file breaks qTox's UI."
It shows weird inline message which cannot be closed.

![pic](http://funkyimg.com/i/23UGA.png)

Whole qTox UI is blocked, even systray icon.

I still see new incoming messages and "typing..." notifications. The message get shifted upwards when new messages arrives.

[2015-10-29 15:52] Haarolean opened #2485 "'tox user' instead of user nickname in group users list"
There's 'tox user' instead of my nickname colored green. No idea how that happened.
![rqhbukc](https://cloud.githubusercontent.com/assets/1494347/10823734/6a6a726e-7e76-11e5-9431-44df9ec1a542.png)

[2015-10-29 16:23] agilob commented on #2485
What's your profile name?

[2015-10-29 16:25] agilob commented on #2483
Any other Qt application you could compile with the same version of Qt and test?

[2015-10-29 17:00] GitHub-devel opened #2486 "openSUSE compilation error"
## I'm trying to compile recent source and get the following error for any openSUSE (13.1, 13.2, Tumbleweed) :

[ 266s] src/audio/audiofilterer.cpp: In member function 'bool AudioFilterer::enableDisableFilters(int, int, int, int)':
[  266s] src/audio/audiofilterer.cpp:49:80: error: too many arguments to function 'int enable_disable_filters(Filter_Audio_, int, int, int)'
[  266s]      return filter

[2015-10-29 17:07] ovalseven8 commented on #2485
Yep, that's qTox bug.

[2015-10-29 17:33] antis81 commented on #2485
@agilob Obviously the profile name is `Tox User` (the default) -> see right side of screenshot. :)

[2015-10-29 17:49] ghost commented on #2485
No, it happens with other profile names too. Confirmed using the latest binaries where profile name and alias != "Tox User".

In uTox I see the right alias for both the loaded uTox profile and the user in qTox.

[2015-10-29 19:37] zetok commented on #2477
Closing, since it's a duplicate.

[2015-10-29 19:37] #2477 closed, assigned to nobody

[2015-10-29 20:41] rugk commented on #2440
I think all ringtones in https://github.com/Tox-Clients/Tox-Sounds/tree/master/ringtones are nice, so why not offer them all and let the user select one of these predefined ones?

Additionally it would of course be nice to be able to set your own ringtone, but that's really only a "nice to have" thing.

[2015-10-29 21:04] rugk commented on #2440
Also mind the license issues https://github.com/Tox-Clients/Tox-Sounds/issues/3. The sounds are all CC-BY 4.0 licensed.

[2015-10-29 21:14] agilob commented on #2440
Licence page in qtox is planned ^(soon)^

[2015-10-30 05:06] zetok commented on #2486
You don't have recent filter_audio, update it.

[2015-10-30 05:06] #2486 closed, assigned to nobody

[2015-10-30 05:09] zetok commented on #2485
@antis81 as @kehugter said, it's a qTox bug.

[2015-10-30 05:13] zetok commented on #2480
Can reproduce on Gentoo with Qt 5.4.2.

Problem disappeared for @tux3 after update to Qt 5.5.1 on Linux.

Given that, @Zer0-One should see whether using it for qTox builds on jenkins is feasible (no regressions, etc).

[2015-10-30 06:28] agilob commented on #2480
Can you give stacktrace? I cant reproduce it :<

[2015-10-30 09:20] Doom032 commented on #2483
Hm, I can't even compile qTox right now, because I don't have the time to do that and compile ffmpeg and all that's needed. I can tell that the bug is present on both my laptop (Linux Mint 17.1) and my home PC (Xubuntu 14.04), both based on the latest Ubuntu LTS.

Okular uses Qt, right? It doesn't have the issue on either OS. But of course my version of Qt might be different from the one that qTox

[2015-10-30 10:17] agilob commented on #2483
Where did you get qtox from? @zetok should know the Qt version of your build.

Maybe we should add Qt version in about page?

[2015-10-31 04:14] zetok commented on #2483
It uses  Qt 4 on those distros.

[2015-10-31 06:04] UC3829 commented on #2421
If you have to maintain a separate build then I understand why it would not be worth the trouble.  Just thought it might be a convenient way to repurpose old laptops as a dedicated text messaging terminal.  By the way, uTox seems to work, but I also wanted to mention these similar projects for the benefit of the community:

https://ricochet.im
https://blog.torproject.org/blog/tor-messenger-beta-ch

[2015-10-31 08:39] agilob commented on #2483
5.5.1?

[2015-10-31 09:11] antis81 commented on #2483
~~Checked it: The packaged Qt version on Ubuntu 14.04 is **5.2.1**.~~

[2015-10-31 09:42] agilob commented on #2483
We need version of Qt which was used to build his qTox package. He didn't build it himself.

[2015-10-31 09:43] agilob commented on #2421
Recently I was contacted by people coming from tor messenger to qtox :) They said they prefer qtox/µtox :) It's good they are alternatives, bad they're not compatible with each other :<

µtox uses different technologies, Qt is more "modern" and you will find qTox more bloated and resources-hungry, for old devices I would stick with µtox.

[2015-10-31 09:51] antis81 commented on #2483
Ok, I understand. Put this into a terminal of your choice:

`apt-cache rdepends qtox`

Output:

[code]

And the winner is… **Qt 5.4.2** :smile:

[2015-10-31 10:06] borrougagnou opened #2487 "[MAC OSX Experimental] the Webcam not found and other add."
The Webcam not found in qTox parameters
![capture d ecran 2015-10-31 a 10 55 04](https://cloud.githubusercontent.com/assets/10796546/10862971/14cd7ab0-7fbe-11e5-9d04-cd5f30099a5c.png)

and how to test speaker?
![capture d ecran 2015-10-31 a 10 58 07](https://cloud.githubusercontent.com/assets/10796546/10862980/4cde2d6e-7fbe-11e5-84c6-ffecb9aa9826.png)
I just want to stay mic... not speaker.

and h

[2015-10-31 19:23] Kommynct opened #2489 "When "Multiple Windows mode" is enabled, the window you receive a message from isn't the one that pops up."
The contats list pops up, and then you have to click where you got the message from, this seems kinda silly.

Dunno if this has been posted before, but I couldn't find it when I looked.

[2015-10-31 19:29] ovalseven8 opened #2490 "File is saved even if file transfer was cancelled"
Hello,

when Alice is sending a file to Bob and the file transfer gets cancelled for whatever reason, the uncomplete and so corrupt file is saved anyway.

For me, it's a bug. I can't see any purpose why the file should be saved.

[2015-10-31 19:46] ovalseven8 commented on #2489
Yep, that's an annoying bug.
Related to https://github.com/tux3/qTox/issues/2211.

[2015-10-31 23:23] agilob commented on #2490
@zetok toxcore supports resuming file transfers right?

I would say, having a broken part of a file is better than not having anything after cancelled file transfer.

[2015-11-01 00:00] ghost commented on #2490
Unless the transfer was manually cancelled.

[2015-11-01 11:53] SlugFiller commented on #2490
I would actually view deleting the file as a bug. Especially if it's a particularly large file, and you spent some time getting those bytes. This is why, for example, torrent clients give you the option between deleting the torrent and data, to just deleting the torrent.

A lot of downloaders, including some browsers, don't view "Stop" as "Delete all the progress you have so far". In some cases (e

[2015-11-01 12:34] alexbakker opened #2491 "Ridiculously big logout icon in tray context menu"
As the title says:
<img src="https://impy.me/i/f7144e.png"/>

I'm using XFCE on Arch Linux.

[2015-11-01 14:30] agilob commented on #2389
I just got added to lets encrypted beta and have 4 domains working on both http and [HTTPS](https://agilob.net) https://tls.imirhil.fr/https/agilob.net

[2015-11-01 14:31] agilob commented on #2491
I will fix it when master is unfrozen.

@tux3 are we there yet?

[2015-11-01 15:04] tux3 commented on #2491
@agilob As far as I can tell, new AV isn't in toxcore master yet, but as long as you don't cause ANY conflict with the newav branch, I suppose it's okay to push to master.

[2015-11-01 15:25] agilob commented on #2491
It's a one line fix I think, I'll have XFCE tomorrow on mint.

[2015-11-01 16:57] ovalseven8 commented on #2491
I can't see any difference between 'Logout' and 'Exit'. Wouldn't it be useful if after clicking 'Logout' the Login window is displayed so that you can load another profile?

[2015-11-01 17:07] agilob commented on #2491
Both icons are provided from your desktop manager.

I don't understand, that's what happens now (for me).

[2015-11-01 17:12] ovalseven8 commented on #2491
@agilob: No, that's not the case on my machine.

When I logout in the profile menu in qTox, everything works fine. But when I use the tray context menu, 'Logout' is the same than 'Exit'.

Perhaps because of that error that occurs?

[code]

[2015-11-01 17:31] agilob commented on #2491
This is your issue: https://github.com/tux3/qTox/issues/2480 qTox crashes for you when you logout. I can't reproduce it and don't have backtrace. If you could provide me backtrace than I can fix it.

[2015-11-01 17:51] rugk commented on #2389
You should create unique DH ciphers >= 2048bit to prevent the [Logjam](https://weakdh.org/) attack.

[2015-11-01 18:11] agilob commented on #2389
DH ciphers were generated by letsencrypt do you know how can I change the length?

[2015-11-01 18:26] ovalseven8 commented on #2480
When I logout in the profile menu in qTox, everything works fine. But when I use the tray context menu, it doesn't work.

Perhaps because of that error that occurs?

[code]

Additional information:

[code]

[2015-11-01 19:17] ProMcTagonist commented on #2490
This isn't a bug. File transfers are supposed to support resuming, even if that itself is buggy right now.

If collecting lots of abandoned .parts becomes a real concern, maybe clients could delete old ones after a set time period. Or just have a single Clean Up Old Canceled Files button in the Advanced settings.

[2015-11-02 07:05] ovalseven8 commented on #2490
At least when the file transfer was manually cancelled, the file should be removed.

[2015-11-02 12:19] tr37ion commented on #1306
How can I delete pending messages until this is fixed? The only left option for me is not use qtox currently. Which isn't a good way to revert non-relevant (old) messages anymore :(

[2015-11-02 13:00] agilob commented on #1306
Clear chat history with a contact, I guess?

[2015-11-02 14:25] ghost opened #2492 "Problems with the history and encryption of the files"
Hello, i'm having a issue while trying to load chat history that seems not working.
That's what i found in the logs (.config/tox/qtox.log):
src/core/coreencryption.cpp:83 : Warning: Decryption failed
src/persistence/db/encrypteddb.cpp:104 : Warning: pullFileContent: Encrypted history log is corrupted: can't decrypt, will be deleted

I'm using Debian Jessie - 3.16.0-4-amd64

Commit hash:  3a3be50c6

[2015-11-02 18:30] zetok commented on #2483
@antis81 not really.

[2015-11-02 19:11] antis81 commented on #2483
#2493 will solve the Qt version riddle :)

[2015-11-02 20:05] rugk commented on #2389
DH ciphers are not generated by LE AFAIK. Here is a guide which explains how to create them: https://weakdh.org/sysadmin.html

[2015-11-02 21:12] agilob commented on #2389
I didn't generate it, it was all automatic process. I just changed config of a domain to set directory where cert and key files are.
https://github.com/letsencrypt/letsencrypt/issues/374

Edit:

anyway, I changed it manually to 4k.

[2015-11-02 21:16] agilob opened #2495 "Remove Exit action from tray menu if user is on kde5"

[2015-11-02 22:02] rugk commented on #2389
Yeah I'm also not really sure whether/how this is handled by LE.
AFAIK it does not create the DH certs. And if it did they were too small.

Nevertheless I've created a topic in the LE forum, so this may help more: https://community.letsencrypt.org/t/does-the-le-client-also-cares-for-the-diffie-hellman-keys/2723

BTW thanks for the link to the GitHub issue.

[2015-11-03 19:44] antis81 commented on #2471
@Zer0-One Guess the `.desktop` file is missing -> also no panel-menu entry in Lubuntu 14.04. This would also allow for integration with "3rd-party" panel replacements like glx-dock, docky, etc. right?

[2015-11-03 21:32] Getron commented on #1353
I think this can be fixed, but, i don't know how.

For example, the NoMachine (Free Remote Desktop Client) has the same problem with tray icon long time, until today, and, i have today installed the newest update for client, and the icon it works on my Fedora 22 KDE (Plasma 5) for NoMachine. Therefore, i think, it can be fixed from the App itself, somehow.

Just to inform the devs, maybe, they ask

[2015-11-04 09:06] agilob commented on #1353
This is most probably problem with KDE5 or Qt. It works completely fine on my Arch.

Btw. it is not a good idea to use KDE on Fedora, Fedora don't like KDE and Qt and they purposely decrease quality of KDE packages and delay Qt updates. [Also biggest Qt/KDE contributor to Fedora repos](https://lists.fedoraproject.org/pipermail/kde/2015-October/016315.html) left the team a few days ago so it will b

[2015-11-04 17:29] WinterDOS opened #2496 ""No system tray detected!" | ElementaryOS 0.3.1 Freya (32-bit)"
Then i minimize window it disappears.

ERROR
[17:19:33.372] src/widget/widget.cpp:1746 : Warning: No system tray detected!

Elementary OS 0.3.1 Freya (32-bit)
Built on Ubuntu 14.04

Hardware
Processor: Dual-Core Intel® Atom™ CPU N450   @ 1.66GHz
Memory: 990.9MiB
Graphics: Intel Corporation Atom Processor D4xx/D5xx/N4xx/N5xx Integrated Graphics Controller

[2015-11-04 19:28] rugk opened #2497 "Markdown for messaging"
I think it would be a nice thing to be able to use some basic markdown to format your messages.
I think you all like it and it is very easy to use too. :)

E.g. Skype also allows simple formatting like `**bold**`, `__underlined__`, ... if I remember correctly. That's similar to markdown, but I think for (q)Tox real markdown should be used of course.
You can also see how nice this is in Discourse f

[2015-11-04 19:36] ovalseven8 commented on #2497
Personally, I don't necessarily need it.
Additionally, it's more complicated in Tox compared to Skype or internet forums because of the compatibility between the different clients.

[2015-11-04 20:13] agilob commented on #2497
3 weeks ago there was html and people complained!

[2015-11-04 21:20] rbi commented on #907
Tox1 still does not work for me. I've tried it with my own DNS record and with "zeluboba@cronfire.ru" from above which still seem to have a valid TXT record. I can see the message box asking if I want to use unsecure tox1. When I confirm it another message box appears telling that the Tox ID does not exist.

Looking at the network traffic with wireshark qTox seams to only query for "_tox.cronfire.

[2015-11-04 22:36] rugk commented on #2497
Html(!)?

So you could send `<a href="tox.chat">my link</a>`?
Also `<script type="text/javascript">alert("Hi!");</script>`? 😉
In this case I would also have complained about this...

---

The cross-compatible issue is true - however markdown was designed to (also) look good when displaying the plain text, so it won't look so bad.
Additionally I can of course also ask this on toxcore so that this p

[2015-11-05 12:55] uxname opened #2498 "Toxcore version is 0.0.0"
Toxcore version is 0.0.0 always:
![2015-11-05_155405](https://cloud.githubusercontent.com/assets/2634142/10968887/99a1f85e-83d5-11e5-8dcc-567c84a2fa2f.png)

[2015-11-05 13:01] ovalseven8 commented on #2498
There is no version for toxcore at the moment.
It's more like a placeholder.

[2015-11-05 13:29] #2498 closed, assigned to nobody

[2015-11-05 13:30] agilob commented on #2498
Version is taken directly from toxcore, current "version" doesn't have... version.

Sorry for confusion, we hope to fix it this week by merging new AV API @tux3 ?

[2015-11-05 14:29] ovalseven8 commented on #2480
@agilob @tux3

Further information:
When you want to restart qTox after you logged out using the new context menu (crashed), the command `./qtox` doesn't work the first time:

[code]

You have to type in `./qtox` once again, then qTox is starting.

[2015-11-05 14:54] agilob commented on #2480
@ovalseven8 what desktop evn. do you use?

[2015-11-05 15:05] ovalseven8 opened #2499 "qTox should use file manager from system"
Hello,

I'm not sure if there is already an issue about that, but I couldn't find one.

At the moment, qTox isn't using the file manager from the system (for example PCManFM when using Lubuntu). Instead, there is, well I don't know, this one: ![Screenshot](https://cloud.githubusercontent.com/assets/8258609/10971742/116eff1c-83d6-11e5-8a7d-b44433f7cbcb.png)

[2015-11-05 15:07] ovalseven8 commented on #2480
@agilob: I am using Lubuntu 14.04. But I don't think that it has something to do with LXDE etc.

[2015-11-05 15:14] agilob commented on #2480
on kde5 and gnome3 it works fine, it's DE or Qt version.

[2015-11-05 15:15] agilob commented on #2499
it is one provided by Qt, it's multiplatform and more flexible. there was an issue about it already somewhere.

[2015-11-05 16:02] MAH69IK opened #2500 "Build failed when update (’ToxAv’ has not been declared)"
I can't update Tox on Gentoo from tox-overlay

[code]

USE-flgas:

[code]

Complete build log: http://mah69k.net/build.log
emerge --info '=net-im/qtox-9999::tox-overlay': http://mah69k.net/emerge.info

And I can't run qTox anymore :(

[code]

[2015-11-05 16:20] kybin opened #2501 "I can't type korean in linux."
I could type korean in windows but not in linux.
Same problem is also happened in telegram (also linux).
So maybe it's more like Qt problem.
But please check if you could fix it.
Thanks in advance.

[2015-11-05 16:23] sdlarsen commented on #2500
I second that. Also on gentoo trying to build qTox for the first time.

[2015-11-05 20:42] Zer0-One commented on #2500
Fixing this soon. Please be patient.

[2015-11-05 20:55] aaannndddyyy opened #2502 "enhancement: toggle autoaccept transfer for all users"
there already is per-user autoaccept filetransfer and global.

But if global were done by simply setting all existent and all new contacts to autoaccept (using the individual setting), then it would also be easy to accept from all but one or two.
right now this would be more difficult for the user.
Either all, or a few, but not all but a few.

[2015-11-05 21:12] agilob commented on #2502
Not sure what you mean...

![twitchinstallarch4](https://cloud.githubusercontent.com/assets/2544251/10981847/f5a0cc12-8401-11e5-9c43-904bdfe98ab6.png)

[2015-11-05 21:19] aaannndddyyy commented on #2502
I mean: have 100 contacts and you want autoaccept file transfers from all but 3 of them.
So you choose autoaccepts file from all users, then you go to the three and uncheck them.

[2015-11-05 22:28] aaannndddyyy commented on #2501
I can confirm this.
I can type in Korean in my browser, in text editor, in the terminal, and other qt4 apps, but not in qtox.

@kybin: try utox, it works for me

[2015-11-06 00:22] ProMcTagonist commented on #2134
New AV is merged in core

[2015-11-06 00:23] ProMcTagonist commented on #2499
like java

- no Recent
- starts in an inappropriate place
- awkward to navigate
- no media previews
- looks awful

What does "flexible" mean?

[2015-11-06 00:29] ProMcTagonist commented on #2497
Agreed, lots of people **already*\* emphasize like this.

Markdown gracefully degrades and shouldn't cause problems for anyone.

[2015-11-06 00:38] kybin commented on #2501
@aaannndddyyy Hi, thank you for the suggestion. I've also tried it. But it didn't work for me. What input method do you use? I tried ibus/nabi in centos7.

[2015-11-06 00:53] #2452 closed, assigned to tux3

[2015-11-06 06:29] Zer0-One opened #2503 "Segfault when video-calling Echobot"
When video-calling the audio-only echobot, I get a segfault. I ran it through valgrind and got the following trace: https://gist.github.com/Zer0-One/19b6c2c39b205564d634

If I run it through gdb, a backtrace gives me garbage: https://gist.github.com/Zer0-One/f567fabdc3b512901b60

I can reproduce this every time. This issue existed before the new a/v stuff was merged, so it isn't related to any cha

[2015-11-06 07:56] agilob commented on #2499
dont bother supporting different types of file pickers with different implementations which is not standarised

there are 5 different kinds of file pickers in Qt, feel free to investigate them and see how they look on different platforms, this one is universal

d&d to chat area, only times when you **need** file picker is to import profile, export profile and choose autoaccept directory - which ar

[2015-11-06 07:59] MAH69IK commented on #2500
Now it works. Thank you!

[2015-11-06 08:01] Zer0-One commented on #2500
new a/v has been pushed to master. this issue can be closed now.

[2015-11-06 08:06] #2500 closed, assigned to nobody

[2015-11-06 08:07] agilob commented on #2497
This is not a toxcore issue but µtox, antox, toxic and other clients.

[2015-11-06 08:19] zetok commented on #2445
Since it should be fixed now, closing.

If you can still reproduce it on new AV, please comment for reopen.

[2015-11-06 08:19] #2445 closed, assigned to nobody

[2015-11-06 08:19] zetok commented on #1250
Since it should be fixed now, closing.

If you can still reproduce it on new AV, please comment for reopen.

[2015-11-06 08:19] #1250 closed, assigned to nobody

[2015-11-06 08:20] zetok commented on #2424
Since it should be fixed now, closing.

If you can still reproduce it on new AV, please comment for reopen.

[2015-11-06 08:31] aaannndddyyy commented on #2501
@kybin: ibus-hangul on *buntu

[2015-11-06 08:45] ovalseven8 commented on #2424
Please reopen.

Just tested it and it's even worse now.
It doesn't work properly and qTox hangs when changing the video device.

Please use two qTox instances and test it comprehensively. I think that would be most helpful because you can see the errors/failures.
For example the own video in the video view isn't updated and so on. Now, during a video call, qTox hangs in general.

[2015-11-06 08:52] ovalseven8 commented on #2445
Works. :+1:

[2015-11-06 08:54] zetok commented on #2424
Can't reproduce.

[2015-11-06 08:55] ovalseven8 commented on #2444
Works now. :+1:

[2015-11-06 09:01] ovalseven8 commented on #2429
Yeah, it seems like it's fixed for the most part now. Well, I still can read `Warning: None of the frames are valid! Did someone release us?` in my log file but only a few times.

But to play it safe, perhaps some of you could also test it.

[2015-11-06 09:07] zetok commented on #2444
If it works, close the issue?

[2015-11-06 09:07] ovalseven8 commented on #2444
Yep, you can close it.

[2015-11-06 09:07] quininer commented on #2501
https://github.com/tux3/qTox/issues/2326

[2015-11-06 09:07] #2444 closed, assigned to nobody

[2015-11-06 09:11] ovalseven8 opened #2504 "Filter audio in qTox is broken"
Hello,

since the merge of ToxAV, the filter audio function is broken in qTox.
You can activate it but the audio is awfully ugly then.

Also tested it with uTox and it works fine - it seems only to be a qTox issue.

[2015-11-06 09:21] ovalseven8 opened #2505 "qTox crashes when changing Audio call to Video call"
Hello,

Reproduce:
1. Use one qTox instance and one uTox instance
2. Make an audio call
3. Change in uTox audio chat to video chat during the audio call (in qTox you can't change it during a call?)
=> qTox crashes

[2015-11-06 10:43] zetok commented on #2499
@ovalseven8 this seems to me like an upstream problem - i.e. Qt will try to use something that is a better file picker in your system, but if it won't find one, it'll default to this one.

I.e. it's a problem with the distro that you use, since it doesn't support file picker acceptable by Qt5.

With that being said, note that I on Gentoo also have this ugly one.

On the other hand, e.g. Arch users

[2015-11-06 10:46] zetok commented on #2495
@agilob um, will you be working on it, or should `help wanted` label be added?

[2015-11-06 10:51] zetok commented on #2497
@rugk

No.

There was an issue on STS on how to do it properly - if you're interested in why, you may want to go to there and read it.

@agilob

Eh, not quite. This ~is partially a toxcore issue, given how toxcore API works and what it is supposed to do.
But yes, it's also a client issue.

[2015-11-06 10:51] tux3 commented on #2424
@ovalseven8 If you see qTox hanging, can you please try to take a backtrace in a debugger? It would help a lot to resolve the problem.

[2015-11-06 10:53] zetok commented on #2058
#2467 should help with it.

[2015-11-06 10:54] zetok commented on #1826
Since it works after #2456 got merged, closing.

[2015-11-06 10:54] #1826 closed, assigned to nobody

[2015-11-06 10:56] zetok commented on #2505
I think that there was an issue like that already, but I can't find it.

[2015-11-06 10:58] quininer commented on #2497
It is a good idea, I want to have a tag no longer make qTox eat my code indentation. ;)

[2015-11-06 11:00] zetok commented on #2497
Well, this is a bug that is fixed in #2013 - I kinda wonder when remaining issues with it could be fixed, so that it could be merged.

[2015-11-06 11:30] tux3 commented on #2505
I can repro.

[2015-11-06 12:16] agilob commented on #2495
antis made a custom icon for logout, so I will make those two changes in on PR. Just didn't have much time in the last few days.

[2015-11-06 13:01] tux3 commented on #2495
I think the issue is more complicated than just removing it on KDE5, because I only have one Exit action on Kubuntu KDE5, so you can't just remove this one.

[2015-11-06 13:14] agilob commented on #2495
Hmm I will investigate it! I have one Exit which is "ours" and one which is automatically added by KDE to any Qt application - qtox, qbittorrent, skype, clementine...

[2015-11-06 13:25] ovalseven8 commented on #2499
@zetok: Well, I just tried with Kubuntu 15.10 (Plasma 5) and there wasn't the default file manager too. I think qTox should be able to find a better solution.

@tux3: Do you have any idea how to fix that problem?

I'm not sure if it's helpful:
- https://forum.qt.io/topic/17087/how-to-open-a-folder-using-default-file-explorer-or-any-file-using-the-default-application-for-that-file
- https://stackov

[2015-11-06 13:26] Balloon2mars opened #2506 "qTox crashes when resizing the 'user area' in a group a/v chat"

[2015-11-06 13:33] tux3 commented on #2499
@ovalseven8
Qt is supposed to use the native file dialog as long as we link dynamically to the system Qt installation, so this is either an upstream problem or a qTox packaging problem.

[2015-11-06 13:48] ovalseven8 commented on #2134
Just for information:
What's still missing is (automatically) bitrate management provided from A/V API.

[2015-11-06 14:10] ovalseven8 commented on #2499
@tux3:
Just compiled qTox on Lubuntu 15.04 (Qt 5.4.1) and, yeah, now the file manager from the system is used. :+1: (Well, still the wrong language, but anyway)
So, the problem is the official packaging.

Hope that in the future the Tox packaging system will improve and then also change to dynamic linking.

[2015-11-06 14:38] towlie commented on #2434
Fixed by @tux3 new av.

[2015-11-06 14:38] #2434 closed, assigned to nobody

[2015-11-06 14:46] ovalseven8 commented on #2480
Compiled qTox on Kubuntu 15.10 (Qt 5.4.2) and everything works well. So, perhaps it has something to do with the DE. What we know so far is that it's definitely not an upstream issue.

Nonetheless, perhaps could someone look through the information I posted here. @agilob @tux3
I'm not sure, but the information looks like it's fixable anyway!

[2015-11-06 14:54] towlie commented on #2038
Fixed somehow at an unknown time.

[2015-11-06 14:54] #2038 closed, assigned to nobody

[2015-11-06 14:56] agilob commented on #2038
:+1: my favourite response.

[2015-11-06 14:58] agilob commented on #2480
@dmshynk maybe do you know anything about it?

[2015-11-06 15:04] towlie commented on #1970
Looks like it is fixed. (Mouse doesn't flicker and memory usage is reduced on close)

[2015-11-06 15:04] #1970 closed, assigned to nobody

[2015-11-06 15:15] ovalseven8 opened #2507 "qTox A/V spams log file and is very buggy"
Hello,

I am just making a video call with two qTox instances:
http://pastebin.com/wZg4LG4H
And it goes on and goes on!

On one instance I don't have a video device and on the other instance I have one (<- this one spams the log file).

And qTox is unbelievably slow and hangs for many seconds with video on!

Oh... my log file is already ~ 2 MB large since the video call started.

OS: Lubuntu 14.04

[2015-11-06 15:31] ovalseven8 commented on #2424
@tux3:
Here some information. Hope it will help a little. I just opened qTox (without making a video/audio call) and changed my video settings (one time using Desktop, one time using Webcam, ...).
Because of that qTox was unbelievably slow and hanged for many seconds again and again. So, not really usable at all.

[code]

[2015-11-06 15:50] alexbakker commented on #2491
This is still an issue, please reopen.
<img src="https://impy.me/i/0747cf.png"/>

[2015-11-06 16:00] towlie opened #2508 "Chatform glitch"
I don't know how to reproduce. And I forgot to check if it disappears when I end the call.
![chatform](https://cloud.githubusercontent.com/assets/6986141/11001518/cdab8e1c-84a7-11e5-95eb-36949fd05037.jpg)
![chatform2](https://cloud.githubusercontent.com/assets/6986141/11001521/d1256482-84a7-11e5-8425-fae953a683eb.jpg)

[2015-11-06 16:02] towlie commented on #2508
For me it looks like the invisible border, which should be above the text input field, moved down a bit.

[2015-11-06 16:45] #2460 closed, assigned to nobody

[2015-11-06 17:39] TheNain38 commented on #2389
@agilob You could also serve an I2P HS too, if you can serve a Tor HS

[2015-11-06 18:01] ghost commented on #2492
The problem is that: if you put a wrong the password the first time it can't decrypt the file so it delete all history logs.
If you put the right password the first time it does the work perfectly and the chat history is still there.

[2015-11-06 18:23] agilob commented on #2389
And I will, I actually have a bigger project using toxcore and I2P in my mind ;)

MY current server has old centos where i2p won't go because of outdated java ;)
I think i2pd is stable enough to give it a try.

[2015-11-06 18:37] agilob commented on #2491
interesting that exit icons has normal size

[2015-11-06 19:32] TheNain38 commented on #2389
@agilob Ok, cool :)

[2015-11-06 19:44] tux3 commented on #2424
@ovalseven8 Thanks, but please use "thread apply all bt" instead of just "bt" if you can, otherwise it doesn't say much.

But is it hanging forever, or just really slow? If you wait, does it eventually unfreeze?

[2015-11-06 19:47] #2505 closed, assigned to nobody

[2015-11-06 19:56] #2507 closed, assigned to nobody

[2015-11-06 20:07] ovalseven8 commented on #2424
@tux3:
No, it's not hanging forever. If I change video settings to my webcam for example, qTox hangs. After many seconds or perhaps 1-2 minutes, it's over. Then, when I click somewhere, it hangs again and so on. So, qTox isn't really usable.

[code]

[2015-11-06 20:40] tux3 commented on #2424
@ovalseven8
Alright thanks. It looks like a Linux problem, can I ask you to run a couple of commands?

[code]

[2015-11-06 20:50] tux3 commented on #2492
I seriously need to rewrite the whole encrypted database code, it's incredibly fragile and kludgy. If you lost your history log, then that is a problem. Data loss isn't acceptable.

[2015-11-06 20:56] ovalseven8 commented on #2424
@tux3:
I've created a video for you, hopefully it will help: https://vid.me/lkpt

[code]

[2015-11-06 21:22] TheNain38 commented on #2497
This is a very good idea, markdown's design makes it looks good even when in plain text, so I think this would be cool to implement :)

[2015-11-06 21:56] SlugFiller commented on #1930
New AV landed, but this is still not possible. Soon, hopefully...

[2015-11-06 22:28] #2446 closed, assigned to nobody

[2015-11-06 23:24] alexbakker commented on #2491
The ride never ends.
<img src="https://impy.me/i/ef9f2e.png"/>

[2015-11-06 23:26] TheNain38 commented on #2480
It also happens for me on Windows 8.1 64-bits 09a9b160cafdb1568b7a8dfd02e159b4aa564b2f

[2015-11-06 23:27] tux3 commented on #2491
@Impyy Oh come on! :)

[2015-11-06 23:30] TheNain38 commented on #1877
Could it be closed? #2386 was merged

[2015-11-06 23:34] towlie commented on #2480
Also happens on windows 7 with qt 5.5.1

[2015-11-06 23:34] TheNain38 opened #2512 "Commit version in About tab is cut with some language translation"
![Text Cut](https://cloud.githubusercontent.com/assets/13149763/11011340/3c69c01e-84e7-11e5-9ee7-47efad5d939f.PNG)

[2015-11-07 00:01] #2512 closed, assigned to nobody

[2015-11-07 01:27] towlie commented on #2480
@dmshynk  No it doesn't fix it.
Strange is that it only crashes if you logout from tray. So I guess something goes wrong when it removes the tray while the context menu is open?

[2015-11-07 01:51] towlie commented on #2480
This is my backtrace: Windows 7 qt5.5.0
https://gist.github.com/towlie/9b919c61630e1762721f

[2015-11-07 03:31] vessd commented on #2491
The same for me
Xfce, Arch
![_2015-11-07_06-22-50](https://cloud.githubusercontent.com/assets/8783865/11013308/80f45ef2-8518-11e5-8722-739dcdf25b5c.png)

[2015-11-07 04:09] vessd commented on #2491
hmm, I tried the binary version and the problem disappeared...
#1583 also solved

before that I used the version from AUR
I'm not sure about the version from the https://github.com/Tox/arch-repo-tox, because I cann't compile it (https://github.com/Tox/arch-repo-tox/issues/16), but if I resolve dependencies by my self, then come to the same result

Fonts in the binary version look worse
![_2015-11-

[2015-11-07 04:19] tux3 commented on #2480
@towlie Thanks for the debug backtrace, now I think I understand the problem, lemme write that down in a 5AM braindump so I don't forget.
When someone clicks on the logout button in the system tray icon, it calls the function that destroys everything while we're sitting on a call stack that goes through the system tray icon to handle Qt's mouse event. By the time we're done logging out, Qt resumes

[2015-11-07 04:29] #1877 closed, assigned to nobody

[2015-11-07 06:55] #2407 closed, assigned to nobody

[2015-11-07 09:04] CalcProgrammer1 opened #2514 "[feature request] Option to hide your outgoing video preview"
If I'm viewing my friend's desktop that he's sharing, I can't see a good portion of it because my camera preview is occupying a good 8th of the window.  I can drag my local video around just fine, but it would be nice to be able to resize it and toggle it on and off as well.  If group video calling is planned, an option to have multiple video feed previews that you can click on to switch between t

[2015-11-07 09:57] agilob commented on #2491
I will have mint with xfce today and test it...

[2015-11-07 09:59] agilob opened #2515 "Logout windows needs styling"
KDE dark breeze

![twitchinstallarch7](https://cloud.githubusercontent.com/assets/2544251/11014606/30ef7f72-8536-11e5-9ef2-4dbc91436804.png)

[2015-11-07 10:54] alexeysvrv opened #2517 "Echo during A/V calls"
There is a strong echo in the audio call. If you enable filtering of audio, it is still much hiss and noise, often interrupted by the voice. You can talk, but very uncomfortable. I use Echobot for check

[2015-11-07 11:44] TheNain38 commented on #2508
When it does this glitch if you hover the sendfile icon with your mouse the button to send a screenshot appears in the video...

[2015-11-07 12:56] TheNain38 commented on #2504
Maybe it is caused because now, microphone's gain can be modified? Maybe, the filtering is not done at the right moment.

[2015-11-07 14:14] TheNain38 commented on #1903
Or it could be enabled by default and in the settings you could have an option to desactivate the thing on the links which ask if you want to enable oneboxing for this site

[2015-11-07 15:08] ovalseven8 opened #2520 "Can't invite contact in group"
Hello,

at the moment, I can't invite my contact into my created group.
The contact doesn't get an invitation.

Can you reproduce?

[2015-11-07 15:09] Doom032 commented on #2483
I tried to compile it on my Xubuntu 14.04.3 (LTS) but failed on the following error: http://pastebin.com/zWvzCWE9

It's probably a Qt version mismatch, because the current Qt version in compiled qTox is 5.5.1 (t. #2493), and the version on my distro is 5.2.1+dfsg-1ubuntu14 (t. apt-cache)

Anyway, I doubt getting my qTox compiled is gonna help with finding the cause of this issue. I see many issues

[2015-11-07 15:39] ovalseven8 opened #2522 "Faux offline messaging doesn't work when clearing displayed messages"
Hello,

Reproduce:
1. Write messages to a contact who is offline
2. Clear displayed messages (right-click)
3. Write some messages again
4. When contact is coming online -> Messages you've written _before clearing_ the chat aren't sent!

[2015-11-07 15:46] tux3 opened #2523 "Opening A/V tab on Linux can cut system audio for a second"

[2015-11-07 15:47] tux3 commented on #2429
I can't reproduce anymore, it should be fixed. Please leave a comment if you still have this bug, and I'll reopen.

[2015-11-07 15:47] #2429 closed, assigned to nobody

[2015-11-07 15:48] agilob commented on #2523
can't reproduce

[2015-11-07 17:31] tux3 commented on #2424
@ovalseven8 Could you try again with the latest version?
The performance problems should be gone, or at least much smaller.

[2015-11-07 17:49] tux3 commented on #2517
Isn't the point of Echobot to create echo? How do you check, since it's _supposed_ to echo back to you?

[2015-11-07 17:52] alexeysvrv commented on #2517
@tux3 By increasing the sensitivity of the microphone or speaker, speaker begins to buzz, even if I do not say anything. And the echo of the bot is wrong, not the net, with echoes not natural

[2015-11-07 17:55] tux3 commented on #2520
I can't repro here.

[2015-11-07 17:56] tux3 commented on #2517
@alexeysvrv If you increase the mic sensitivity above 100% it will degrade the quality a **LOT**, that's normal. If your speakers buzz when no sound is playing, now that's strange.
Do you have the same problem if you don't use Echobot?

[2015-11-07 18:00] alexeysvrv commented on #2517
@tux3 I have no one to call to check, in addition to the bot. And more than 100% I did not do sensitivity. Even filter works very poorly.It gives noise. Without it, the sound is cleaner

[2015-11-07 18:01] tux3 commented on #2517
@alexeysvrv Okay, I'll try to reproduce it.

[2015-11-07 18:05] alexeysvrv commented on #2517
@tux3 In qTox mic level 100%. In system mic level ~40-50%. If >50-60% is rising slowly squeaking speakers (

[2015-11-07 18:41] ovalseven8 commented on #2424
@tux3:
Yep, the performance is much better now. Not perfect, but OK.

But:
When I start a video call, the problem occurs again! :( So, the issue is not solved.
(And when the call is over, it works again.)

[2015-11-07 18:47] ovalseven8 commented on #2520
Well, I think I've got it now.

@tux3:
Invite an offline contact to a group.
So, when the contact is coming online:
- He don't get an invitation
- => You're not able to invite the contact anymore

Can you reproduce?

[2015-11-07 19:21] agilob commented on #2520
1. You can't call offline contact.
2. You can't invite offline contact to a group.

seems pretty obvious

[2015-11-07 19:23] tux3 commented on #2520
That's "not a bug", but maybe we should gray out the invite option for offline people.

[2015-11-07 19:24] agilob commented on #2520
Or just show popup, but popups are so '90s

[2015-11-07 19:24] ovalseven8 commented on #2520
Why isn't that a bug?

I cannot invite a contact when the contact is ONLINE! Only because I tried to invite the contact when he was offline.

[2015-11-07 19:25] tux3 commented on #2520
Let's turn this into a "make the UI not completely stupid" bug then.

[2015-11-07 19:27] ovalseven8 commented on #2520
Yeah, that the invite option isn't grayed out when the contact is offline, is bad UI.
But that I am not able to invite the contact anymore when he comes online is simply a bug.

[2015-11-07 19:28] tux3 commented on #2520
Toxcore doesn't let us send the same invite to the same group twice, if you invite someone offline to a group, the invite is lost because your friend is offline, and you can't send the invite again later because you already failed to send it (you could say that's a toxcore bug, but we can fix that in the UI).

You can always invite your friend to another group thought. It's a different bug because

[2015-11-07 19:29] ProMcTagonist commented on #2520
If group invitations showed in the chatform, and queued like messages if users were offline, it would help.

[2015-11-07 19:30] tux3 commented on #2520
The problem is we can't resend group invites when the friend comes back online, toxcore won't let us. You could call that a toxcore bug, but it's a non issue if we just don't send invites to offline friends in the first place.

[2015-11-07 19:33] ProMcTagonist commented on #2520
qTox would ideally not send the invite until the friend comes back online, as with normal queued messages.

[2015-11-07 19:34] tux3 commented on #2520
You're right, didn't think of that somehow :)

[2015-11-07 19:36] ovalseven8 opened #2525 "Message when group is no longer available"
Hello,

just a small issue:
1. Alice invites Bob to a group
2. Alice removes the group
3. Bob accepts the group invitation

**Now, there should be a message for Bob saying that the group is no longer available.**
Otherwise, it could be confusing for the user.

[2015-11-07 19:46] agilob commented on #2520
I don't agree. qTox should not queue invitation for offline contacts. I can invite you to a group when you're offline, which doesn't exist when you come online.

[2015-11-07 19:48] agilob commented on #2525
It's how toxcore works.

[2015-11-07 19:58] ProMcTagonist commented on #2525
+1

[2015-11-07 20:06] zetok commented on #2525
Not doable, thus closing.

You may want to inquire a in an issue on toxcore whether this would be possible to make toxcore work like that.. but I have doubts that it is.

[2015-11-07 20:06] #2525 closed, assigned to nobody

[2015-11-07 20:08] ovalseven8 commented on #2525
Well, the old groupchat is history soon, hopefully.

Will it be possible with the new one, @JFreegman?

[2015-11-07 20:40] #2495 closed, assigned to agilob

[2015-11-07 20:40] agilob commented on #2491
Ok, I have xfce on Mint Ubuntu and can't reproduce it.

[2015-11-07 20:51] vessd commented on #2491
@agilob I can reproduce it with Xubuntu 15.10 in VirtualBox...

[2015-11-07 21:05] JFreegman commented on #2525
In the new groupchats, if you can't connect to a group you'll just get a timeout error.

Also this would probably be doable in the current groups, though not worth the effort at this point.

[2015-11-07 21:09] ProMcTagonist commented on #2525
Issue should be held open for new groups.

[2015-11-07 21:11] agilob commented on #2491
I've just installed xfce4 and will fix it tomorrow.

[2015-11-07 21:22] ovalseven8 commented on #2525
@JFreegman:
I see. But definitely something for the future. Would also keep it open as reminder.

[2015-11-07 21:26] TheNain38 commented on #2520
I'm with @agilob's opinion, I think it should just not let the user be able to send an invite to an offline friend. For example, if you invite an offline contact, then this contact comes online 8 hours later, he would join the group, and you at that moment you will not want him to join the group anymore

[2015-11-07 22:53] tux3 commented on #2520
@TheNain38 Let's just change the UI and grey out the invite button for offline friends then

[2015-11-08 00:06] TheNain38 opened #2526 "Add a checkbox to make new contacts automatically have "autoaccept files transfer", or not"
And it should not be checked by default

[2015-11-08 00:08] TheNain38 commented on #2502
+1, it could be cool, but it also need another option to disable "autoaccept transfer" for all users :)

[2015-11-08 00:17] TheNain38 opened #2527 "Video preview: If you choose "desktop" and restart qTox then the preview isn't shown"
It happens since bf8bdaf61956cec40dd67d6b333591aa5cf684f1 or 5c8dc1d7c9d07f0a24d0def9fd453f8162683341 was merged, I don't remember. Also I can't do regression testing right now to tell what exact commit caused it.
![bug desktop](https://cloud.githubusercontent.com/assets/13149763/11018046/4fbd710e-85b6-11e5-8b7a-055b7328ed5a.PNG)

[2015-11-08 01:24] TheNain38 opened #2528 "For an unknown reason when restarting qTox, Playback volume is written "100" even though it is saved as "30" normally"
It was saved at 30 and when restarting it is written that:
![playback written 100](https://cloud.githubusercontent.com/assets/13149763/11018220/9d6bc870-85bf-11e5-97f9-3047a3a6e164.PNG)

[2015-11-08 01:28] #2527 closed, assigned to nobody

[2015-11-08 01:30] tux3 commented on #2528
I can't reproduce

[2015-11-08 01:45] TheNain38 commented on #2528
Sometimes I can sometimes not.
Maybe it's when I get an upgraded version of qTox.

[2015-11-08 01:46] TheNain38 commented on #2528
And also, microphone was also set to 61 and not 100, the value is just displayed incorrectly

[2015-11-08 06:25] CalcProgrammer1 opened #2529 "Video corruption (edit: and audio)"
I'm getting frequent video corruption with qTox.  It happens occasionally on my LAN between two local machines, but it happens almost constantly when I'm talking to my friend.  His WiFi connection isn't very good and it seems this causes the video codec to mess up.  It happens regardless of if he uses camera or desktop streaming.  Here is a screenshot of what I'm seeing (I'm using Windows 10 64, h

[2015-11-08 06:43] CalcProgrammer1 commented on #2529
We tried again from his Windows 10 64-bit desktop that has a better WiFi connection.  I can now see his video with no corruption but the audio is severely broken.  I hear a constant rumbling and clicking sound and any time he talks it comes out as a high pitched digital squealing and beeping sound, almost like an old Atari game.  It also only comes out of my right speaker.  He's using the mic buil

[2015-11-08 09:19] agilob commented on #2528
settings are saved every n-seconds, not automatically to prevent overusing your harddrive. could you try changing the settings, wait half a minute and restart?

[2015-11-08 10:13] aaannndddyyy commented on #2483
dead keys working fine for me with kytv*'s unofficial version, but not with the binary from your website.
I tried the characters from above and they work.
But it does not work with ibus either.
Reason is probably that my ibus is qt4-only while qtox uses qt5.

*) kytv is a volunteer building unofficial debian and *buntu packages of tox and making them freely and transparently available. His build s

[2015-11-08 10:40] mikalehmann opened #2530 "Missing icon on Linux"
As you can see here ![](http://i.imgur.com/dbUZhPK.png), there is no qTox icon on Kubuntu.
Also, if you search for qTox in the application launcher, it doesn't show an icon.
I'm not sure if this also applies to other distributions as well.

[2015-11-08 11:17] TheNain38 commented on #2528
@agilob The settings were saved correctly

[2015-11-08 11:34] tux3 commented on #2528
I think I found the bug, it looks like applying a translation always shows 100 no matter what the real number is.

[2015-11-08 11:46] tux3 commented on #2483
So I suspect this is broken because the version we ship is statically compiled instead of linking dynamically to the system's Qt installation. The versions I compile on my system also work just fine with dead keys ËûÀ, unicode input★ and the compose key™
It would be great if we started building "real" packages like kytv does, but that's more work.

[2015-11-08 12:08] TheNain38 commented on #2528
@tux3 It isn't fixed, but I found the bug. If I use the keyboard to change the value of the sliders then, their values aren't saved, but if I use my mouse and drag it, it is saved. It wasn't translations that were causing the bug.

[2015-11-08 12:14] tux3 commented on #2528
@TheNain38 I can't reproduce that, the keyboard keys work fine for me here.

[2015-11-08 12:15] TheNain38 commented on #2528
If I use the left or the right arrows to change the value
https://github.com/tux3/qTox/blob/9d527e7edd5af92826b6058cbbcf94597ac64cca/src/widget/form/settings/avform.cpp#L67
https://github.com/tux3/qTox/blob/9d527e7edd5af92826b6058cbbcf94597ac64cca/src/widget/form/settings/avform.cpp#L68

[2015-11-08 12:16] tux3 commented on #2528
@TheNain38 So it works when you drag it with your mouse, but not with the left/right arrow keys?
For me all of that works, if it doesn't, that's very strange.

[2015-11-08 12:19] TheNain38 commented on #2528
http://doc.qt.io/qt-5/qabstractslider.html#sliderReleased
It is written:

[code]

[2015-11-08 12:23] tux3 commented on #2528
Yes, but the text is updated on valueChanged with autoconnect (`AVForm::on_playbackSlider_valueChanged`).
http://doc.qt.io/qt-5/qabstractslider.html#valueChanged

[2015-11-08 12:26] TheNain38 commented on #2528
Yes, the display of the value works correctly, but if you restart qTox after changing the sliders only using left and right arrows, then on restart thay are the same as before you change them

[2015-11-08 12:26] tux3 commented on #2528
Indeed, let's fix that then.

[2015-11-08 12:27] TheNain38 commented on #2528
And you can revert the last commit it isn't needed

[2015-11-08 12:27] tux3 commented on #2528
It is needed if you change translations, that was a real bug.

[2015-11-08 12:28] TheNain38 commented on #2528
Oh, yes, didn't see that

[2015-11-08 12:29] tux3 commented on #2528
This should be fixed by b6d752fd4b21ad4b22523fe6cc221649b8055305, can you confirm?

[2015-11-08 12:30] TheNain38 commented on #2528
When, jenkins finish building it, I could say. But normally it should be fixed, I see no reason it wouldn't.

[2015-11-08 12:31] #2528 closed, assigned to nobody

[2015-11-08 12:33] TheNain38 commented on #2528
@tux3 You should also change the method's names:
- https://github.com/tux3/qTox/blob/master/src/widget/form/settings/avform.cpp#L67
- https://github.com/tux3/qTox/blob/master/src/widget/form/settings/avform.cpp#L68
- https://github.com/tux3/qTox/blob/master/src/widget/form/settings/avform.cpp#L359
- https://github.com/tux3/qTox/blob/master/src/widget/form/settings/avform.cpp#L364

[2015-11-08 12:34] ovalseven8 commented on #2530
Not long ago I tested qTox on Kubuntu 15.10 (Plasma 5) with the build from the Tox website and there was no icon in the system tray as well.
But when I compiled qTox by myself, it worked. So, it's probably a problem concerning the packaging and static linking.

[2015-11-08 12:38] agilob commented on #2530
@zetok it's a packaging problem, the same on mint xfce, qtox doesn't have an icon, qtox is not accessible from application menu.

[2015-11-08 12:39] TheNain38 commented on #2528
Or even better, this: https://github.com/tux3/qTox/blob/master/src/widget/form/settings/avform.cpp#L347
is called when the value change, you could place this line: https://github.com/tux3/qTox/blob/master/src/widget/form/settings/avform.cpp#L361
directly in

[2015-11-08 12:39] tux3 commented on #2528
I merged the 4 slots into 2

[2015-11-08 12:49] TheNain38 commented on #2528
This is fixed in b6d752fd4b21ad4b22523fe6cc221649b8055305, thanks!

[2015-11-08 16:28] darkman088 opened #2534 "Feedback on the latest qTox"
Hello dear friends,

I haven't been active here for quite some time and I have been using one version of the product which works just fine, so I have decided to check what's new on the project and what has happened during my absence.
The original link which I have saved for downloading the latest versions of qTox:

https://github.com/tux3/qTox/releases

Seems to not be containing anything pre-comp

[2015-11-08 16:51] vessd commented on #1583
@agilob maybe you have some ideas about this issue?
I do not have this problem with the binary version (Jenkins builds).

[2015-11-08 16:56] alexbakker commented on #2491
Fixed by 7189844b2ad90f21f7b55c78b1b33953306b1636

[2015-11-08 16:56] #2491 closed, assigned to nobody

[2015-11-08 17:07] agilob commented on #1583
I'll be making 3rd approach to styling soon.

[2015-11-08 17:48] aaannndddyyy commented on #2483
@tux3 Re more work: he only does so for Debian and Ubuntu derivatives. I think even for Raspberry…  But you are free to take his work and use it. Build scripts are free open source too. But this will not help you with other systems.
He's got utox, qtox, ratox, weechat-tox, toxcore, toxic, pidgin-tox (now defunct due to no versioning in toxcore), . . .
You are free to use his work for building it o

[2015-11-08 18:04] darkman088 commented on #2534
Trying to call and be called from a contact, using uTox 0.2r doesn't work at all !!
The called party is not being informed of any incoming call !! Chatting works flawlessly though...
Maybe there has been some change in the protocol. Calls from uTox 0.2r to uTox 0.4.2 don't work either, so I believe that this is not a qTox problem

[2015-11-08 18:11] agilob commented on #2534
I guess it's time to start updating your software. You are using out of date version, it's your fault.

[2015-11-08 18:14] darkman088 commented on #2534
Yes but this will not bring the missing 'Copy Friend ID' feature back :-)

[2015-11-08 18:20] agilob commented on #2534
It was broken from toxcore, not our fault, if you would you it, you would see it didn't work anyway.

I will be closing this issue as irrelevant and useless complaining, if you want to fill a bug procesd to: [Writing Useful Bug Reports](https://github.com/tux3/qTox/wiki/Writing-Useful-Bug-Reports)

Patches are welcome...

[2015-11-08 18:21] #2534 closed, assigned to nobody

[2015-11-08 18:52] darkman088 commented on #2534
Hi agilob,

well, it was working from the beginning. Then I came to know, that there was some major change in the protocol / toxcore, everybody was busy implementing it. I guess that it has been isolated from the core back then. Can I write them and ask for it again ?
Thanks in advance and sorry for bothering...

[2015-11-08 19:32] ProMcTagonist commented on #2534
It was never supported by core. qTox just saved IDs of friends that you had added by pasting in their ID. If you had tried to get the ID of a friend that you had never initially already had the ID of, it would have failed and given you only their public key.

This feature may eventually come back with some work done outside of core. A client issue you can watch concerning this is https://github.co

[2015-11-08 20:26] #1932 closed, assigned to nobody

[2015-11-08 21:25] towlie commented on #2529
I had the exact same issue with audio and video. Logfile was the same.
One side always received broken video and audio. But it was able to send fine.
Clients were connected locally via WLAN.

[2015-11-08 21:28] darkman088 commented on #2534
Yes, I think that saving the ID is a good idea! Honestly, I don't know how you might not have had the ID of a friend ? You need the ID to add him to the contact list! Or am I wrong ?
Additionally, one more hiccup which I found is, that it's not possible to manually sort the contacts - when I try to drag a contact in order to move him up or down the list, nothing happens.
I don't want to say bad wo

[2015-11-08 21:31] towlie opened #2536 "Grayed out settings stop the "mouse wheel" scroll ability."
![scroll](https://cloud.githubusercontent.com/assets/6986141/11022793/4d5ec87e-8668-11e5-9d0c-b0d57f05a3b1.jpg)

If you hit this setting then you have to move the cursor away from it to scroll further.

[2015-11-08 21:33] ghost commented on #2536
#2302

[2015-11-08 21:35] antis81 commented on #2523
Probably be fixed by #2509. @tux3 Can you check please?

[2015-11-08 21:36] #2536 closed, assigned to nobody

[2015-11-08 21:37] tux3 commented on #2523
I can't reproduce, that's a report from IRC. If nobody can repro, this is closeable.

[2015-11-08 22:14] agilob commented on #2523
Tried that during L4D2 game and music on, can't reproduce.

[2015-11-08 22:24] tux3 commented on #2523
If someone can repro, leave a comment.

[2015-11-08 22:24] #2523 closed, assigned to nobody

[2015-11-08 23:57] TheNain38 commented on #2302
Can someone assign this to me?

[2015-11-09 01:20] #2302 closed, assigned to nobody

[2015-11-09 01:21] tux3 commented on #2302
@TheNain38 Unfortunately it's impossible to assign bugs to people who don't have write access
GitHub doesn't allow it.

[2015-11-09 01:21] TheNain38 commented on #2302
Ah, didn't know that

[2015-11-09 05:16] ProMcTagonist commented on #2534
Someone can send you a friend request by adding you with your ID, and all you have to do is accept, in which case you never get their full ID.

Right now it's in discussion whether dragging contacts should be used for sorting, creating groups, or something else. Related issues are https://github.com/tux3/qTox/issues/645 and https://github.com/tux3/qTox/issues/2269.

I believe he has working AV in

[2015-11-09 09:26] ElLamparto opened #2540 "qTox fails on Win7 32bit"
Version of today (9th Nov). qTox starts, asks to select profile and then quits without showing the main window.

[2015-11-09 10:29] agilob commented on #2534
This is a community driven, free of charge project that people work on in their **spare time**, we are not paid by anyone, we don't even expect donations, we run our servers from our money, we maintain the code and servers ourself. Everything in tox ecosysystem is out of good will... If you urge to get a feature more quickly, you can start a paid bounty for it. Bigger issues take more time to deve

[2015-11-09 12:17] towlie opened #2541 "qTox crashes after clicking the login button"
It doesn't crash always but often.
https://gist.github.com/towlie/cf23cfd75fed707e14fe

bt full:
https://gist.github.com/towlie/0394ba0ba93ac1552ebe

[2015-11-09 12:25] towlie commented on #2541
This also happened to me with qt5.4.2
But I don't have a debug version.
I can only get this:

[code]

[2015-11-09 12:36] towlie commented on #2541
One of the commits made in the last days must have introduced this.

[2015-11-09 14:06] Dalamar6 opened #2542 "Doesn't reconnect."
Windows 10 64 bit, Commit hash: a8746e68571edb051d10688de2de14cd7f1e3909

Several versions of tox have been showing people offline, presumably not reconnecting or something.

My ISP's legendary badness and refusal to investigate my 8-11pm disconnections/timeouts results in a massive amount of disconnections - or long periods of no throughput that aren't recognized as disconnects - is probably the

[2015-11-09 15:37] tux3 commented on #2541
Yep, at widget.cpp:138 we connect to 0xBAADFOOD since ProfileForm is only constructed at line 227.

@agilob It's your commit https://github.com/tux3/qTox/commit/7189844b2ad90f21f7b55c78b1b33953306b1636 that caused this, the fix is trivial so either send a PR now or I'll fix it later today when I get home

[2015-11-09 15:38] tux3 commented on #2541
Dup of #2540, but keeping this one open since it has more info

[2015-11-09 15:38] #2540 closed, assigned to nobody

[2015-11-09 15:39] agilob commented on #2541
Ah right, windows char escpaing... I right clicked on resource in qtcreator and selected copy resource link and it came with two slashes, so I assumed this is the right way :>

[2015-11-09 15:41] tux3 commented on #2542
This looks like a toxcore networking problem, you should try with other Tox clients, if they all have the same problem, this is a bug you need to report against [toxcore](https://github.com/irungentoo/toxcore)

[2015-11-09 15:43] tux3 commented on #2541
@agilob Uhm. The problem isn't with the slashes :)
At line 138 you connect something to profileForm, but profileForm is not initialized before line 227. You're using uninitialized data.
Just move the connect after profileForm is constructed!