[2016-10-25 05:38] AliceGrey commented on #3795
@zetok After A LOT of digging and debugging I found the culprate. I'll submit a PR :+1:

[2016-10-25 06:20] Diadlo commented on #3795
@AliceGrey

Becouse `Offline` status [here](https://github.com/qTox/qTox/blob/master/src/core/core.cpp#L879:L880) leads to the `default` case and return without `emit statusSet(status);`

[2016-10-25 07:58] rodolpheh commented on #3801
Could you reopen it ? It seems that the executable is not present since the last four builds (since October 15th).

[2016-10-25 10:11] initramfs commented on #3801
@rodolpheh Issue confirmed. The issue seems to be that when Jenkins fails a compile, it doesn't quit out, listing it as a successful compile. As such, when packaging no qtox.exe is available since it doesn't exist.

The current issue stems from commit abaa41e which removes RTTI. Unfortunately one instance of code requiring RTTI still existed and didn't play well with the compiler on Jenkins. PR #3

[2016-10-25 10:15] zetok commented on #3801
@nurupo / @optimumtact could you fix that?

[2016-10-25 10:19] initramfs opened #3831 "Jenkins does not fail out on failed builds"
##### Brief Description

Currently Jenkins seems to mark builds that fail out as still being successful, creating a series of recurring "no qtox binary in archive" issues (see: #3801 #3557). Evidence of this can be seen from the build logs of Jenkins, in particular build 858:

Though the ideal solution would be travis set up to track (and potentially) build for Windows as well, for now Jenkins nee

[2016-10-25 10:20] initramfs commented on #3801
@zetok I submitted issue #3831 to track that problem since this issue will get autoclosed as soon as PR #3830 gets merged.

[2016-10-26 08:09] nurupo commented on #3831
The issue was that qTox windows builds were calling a common build script which didn't have `set -e` set, so even though things inside the script fail, it doesn't fail the build.

Illustration of the build script for `qTox_build_windows_x86_release`

[code]

If anything in here return a non-zero error code, the build fails. But the `qtox-build-script_src.sh` script always succeeded, because by def

[2016-10-26 08:10] nurupo commented on #3801
@zetok replied in https://github.com/qTox/qTox/issues/3831

[2016-10-26 08:46] AliceGrey commented on #3689
@Kron4ek @zetok I'm able to reproduce this with the current git build without having to do parallel calls.

**Steps to reproduce**
1. Call client1 from client2
2. Accept call
3. Minimize client1
4. Send message from client2 to client1

[2016-10-26 09:33] #3801 closed, assigned to tux3

[2016-10-26 13:34] ElLamparto commented on #2726
@zetok, @ddobrev is just angry, that's all.

[2016-10-27 17:43] sudden6 commented on #3753
Closing this, since nobody thinks splitting the emoji from the binary is a good idea.
Additionally emoji packs are already possible since #3737 was merged.

[2016-10-27 17:43] #3753 closed, assigned to nobody

[2016-10-27 17:54] #3689 closed, assigned to nobody

[2016-10-27 20:04] sudden6 opened #3837 "qTox doesn't seem to check the Checksum of ToxId's"
In https://github.com/qTox/qTox/blob/master/src/core/toxid.cpp#L141 qTox should also check the checksum of the ToxId and not assume any hex string with the correct length is a valid ToxId.

[2016-10-28 13:21] zetok opened #3840 "Segfault when trying to make a video call after logout & load"
##### Brief Description

qTox crashes when one tries to have a video call after logging out & loading profile

OS: Gentoo Linux amd64
qTox version: v1.5.2-218-ge8e946d
Commit hash: e8e946d4c8f21e55680ab7ff8ea0a60026b399e2
toxcore: 0.0.0
Qt: 5.6.1

Reproducible: Always
##### Steps to reproduce
1. Multiple windows mode
2. Open settings
3. Open Profile
4. Open friend window (chatform)
5. Open About f

[2016-10-28 16:38] zetok commented on #3812
@Diadlo not really.

@SergeyDjam since you seem to be using arch, there should be `qtox-git` in AUR.

[2016-10-28 16:40] zetok commented on #3775
There won't be one, AFAIK, given that things start to fail to build and no one is going to fix them on jenkins.

[2016-10-28 16:53] zetok commented on #3730
Since it doesn't look like a problem anymore, closing.

[2016-10-28 16:53] #3730 closed, assigned to nobody

[2016-10-28 17:07] SergeyDjam commented on #3812
No, i using ROSA LInux Fresh R8

[2016-10-28 19:23] Hasshu commented on #927
(Shameless) bump.

No matter how you look at it, an issue with (at least) 4 duplicates cannot be "P-low".

[2016-10-29 03:47] unode commented on #2114
Hi all. Just tested and the problem remains.

[2016-10-29 07:10] #3795 closed, assigned to nobody

[2016-10-29 07:22] zetok commented on #2114
@Unode

↑ this issue? If so, could you open a new issue specifically dedicated to it after testing latest `qtox-alpha` package from OBS?

This proposal (vertical & horizontal switches for camera in settings) has not been implemented yet.

[2016-10-29 11:41] zetok opened #3843 "Packages for Mageia"
Apparently there are people who run qTox on Mageia.
According to https://software.opensuse.org/download/doc it should be possible to have packages for Mageia on OBS.

@abbat would you be interested in packaging for Mageia?

[2016-10-29 14:24] Talkless commented on #3372
@AliceGrey I'm also experimenting with building on Windows.

First, I've built required libraries and qTox using msys1, qTox launches but crashes.

Then I've made sure that I build qTox and other dependencies using gcc from Qt installation directory, so Qt's and qTox's compiler was the same, and MSYS1 was only use for other build tools. qTox launches and works, though there is strange hardcoded pa

[2016-10-29 14:30] DX37 commented on #3372
@Talkless Hmm... Did you remove -fno-rttio option or something?
In my case I didn't saw this error.

[2016-10-29 14:42] initramfs commented on #3372
@AliceGrey @DX37 The latest version from master should no longer need RTTI as all instances of `std::dynamic_cast` and `std::dynamic_pointer_cast` has been removed as per #3830.

[2016-10-29 14:57] Talkless commented on #3372
@DX37 in my case, toxcore's `configure.ac` does not detect OS as Windows, because `$host_os` is `msys`, not `mingw`. OK workarounded that, but now it does not find `pthread-config` nowhere in path...

Enought for today.

I think that I'll just try to PR that version where gcc from Qt directory is used and all (except OpenSSL IIRC) libs are built manually...

[2016-10-29 18:35] abbat commented on #3843
Done.

[2016-10-29 18:38] zetok commented on #3843
Awesome, thanks!

[2016-10-29 18:39] #3843 closed, assigned to nobody

[2016-10-29 18:46] dolohow commented on #3538
qtox-alpha fixes this issue.

[2016-10-29 18:59] unode commented on #2114
Hi @zetok,

The black window hasn't happened in a while. I was referring to the flipped camera.
For now I've been using [this workaround](https://github.com/qTox/qTox/wiki/Video).

[2016-10-30 02:16] nurupo commented on #3840
Is it known if this is qTox or toxcore issue?

[2016-10-30 10:15] Diadlo commented on #3840
@nurupo seems qTox. [Here](https://github.com/qTox/qTox/blob/master/src/core/toxcall.cpp#L127) `ToxFriendCall` take invalid `av` on the last step of @zetok instruction

[2016-10-30 10:34] #2655 closed, assigned to tux3

[2016-10-30 15:09] Hasshu commented on #927
@zetok Thanks.

[2016-10-30 21:57] SergeyDjam commented on #3812
I build revision 84208d0b3f70448121958b51a8a403bed456a650
This revision no fix problem

[2016-10-30 22:17] SergeyDjam commented on #3812
i build revision: 2b0fbae44b2576df7abdec4566ce6d21b60d8685
d'nt fix problem

[2016-10-31 04:26] Diadlo commented on #3812
@SergeyDjam Just to be possible to change other settings on AV tab you can use this workaround to reset video device:
1. Open `~/.config/tox/qtox.ini`
2. Find `videoDev=<someValue>` line
3. Remove `<someValue>` i.e. line should be `videoDev=`
4. Save file
5. Start qTox

[2016-10-31 10:26] SergeyDjam commented on #3812
Yes, i'do this
Hm, skype too d'nt viewing test video, but no freeze programm...

[2016-10-31 10:40] ghost commented on #2144
Yes, I'm not able to reproduce in Qt `5.6.1` running qTox 2b0fbae44b2576df7abdec4566ce6d21b60d8685.

[2016-10-31 21:14] networkjanitor commented on #3518
Happens on qTox v1.5.2-obs on Fedora 24 too (installed via "official" repository)

[2016-11-02 18:48] yurivict opened #3849 "File transfers from auto-accept users fail"
This isn't a dialog issue (https://github.com/qTox/qTox/issues/3284) because there should be no dialog. And this isn't a toxcore issue (see https://github.com/irungentoo/toxcore/issues/1468).

Single, one at a time file transfer from auto-accept users should succeed. This should be high priority.

[2016-11-02 19:10] zetok commented on #3849
Logs, and other info?

edit: can't reproduce on  6ee3b95b6f315af2b63c685b2ff38067e04b9fc7

[2016-11-02 19:30] yurivict commented on #3849
When the file comes in, only this is printed:

[code]

At this time it hangs for many minutes at ~60% complete.

[2016-11-02 19:34] yurivict commented on #3849
Transfer never succeeds, just sits in half-finished state. Maybe peer connection-down is what causes the actual failure on the qTox side.

Some such transfers succeed, but most fail this way.

1.5.2 on FreeBSD

[2016-11-02 19:52] zetok commented on #2926
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-11-02 19:52] #2926 closed, assigned to nobody

[2016-11-02 19:53] zetok commented on #3120
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-11-02 19:53] #3120 closed, assigned to nobody

[2016-11-02 19:56] zetok commented on #3732
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-11-02 19:56] #3732 closed, assigned to nobody

[2016-11-03 09:12] dobersoft opened #3850 "switching keyboard layouts does not work"
##### Brief Description
OS:  Linux (ubuntu 14.04)
qTox version v1.5.2-obs. (have tried several versions)
Commit hash: f05b7e040a073c7afadaf763dda5beaf130c6dbd
Qt version: 5.6.1
Reproducible: Always

##### Steps to reproduce
Just run qTox

##### Observed Behavior
Keyboard layouts switches everywhere but not in qTox.
Icon in tray chanches, but english letters is still inputed in all the fields in qT

[2016-11-03 09:56] sudden6 commented on #3850
Does this persist if you restart qTox after switching the layout?

[2016-11-03 10:28] dobersoft commented on #3850
sudden6, Yes, it does persist if I restart qTox after switching the layout.
I have shared layout for all apps/windows, if it matters.

[2016-11-03 10:37] zetok commented on #3850
Can't reproduce, switching keyboard layout works for me.

[code]

(Caps Lock to switch)

It looks like a problem with your system..?

[2016-11-03 10:42] dobersoft commented on #3850
zetok, maybe it's a problem with my system, but problem occurs only with qTox.
All the other applications (including Qt-based) work fine.

[2016-11-03 10:51] zetok commented on #3850
Does that include Qt applications using the same Qt version as qTox?

[2016-11-03 10:58] zetok commented on #3850
Also, have you tried to use the command above? Perhaps without the `(phonetic)` part.

[2016-11-03 11:06] dobersoft commented on #3850
The command above does not help.
I've check out, other tested apps use Qt4, not Qt5.
Also, i use lxde, if it matters.

[2016-11-03 14:29] zetok commented on #1145
from IRC

[code]

[2016-11-03 15:13] zetok opened #3851 "Policy about calling static member functions through pointers"
[code]

[2016-11-03 16:30] sudden6 commented on #3850
@dobersoft Please find a Qt5 app to test against. I strongly suspect lxde is only changing the keyboard layout for Qt4.

I tested it against qTox version v1.5.2-177-g84208d0, Qt version: 5.6.1 with KDE plasmashell 5.8.2 and it worked without issues. I remember similar issues during the migration from KDE4 to KDE5 with Qt4 and Qt5 applications being controlled by two different systemsettings applic

[2016-11-04 00:11] zetok commented on #3716
Note: to not unnecessarily redo effort, link to http://www.wikihow.com/Install-Ubuntu-on-VirtualBox

With this, following stuff is missing:
- getting shared dir
- docker stuff

[2016-11-04 04:24] Recharged commented on #2728
@wdbm Sorry for the really late reply, I never get emails about notifications anymore. Yeah, what kehugter said is what I meant. Move your own Tox ID profile(s) back into the config directory.

[2016-11-05 15:23] vladimiry commented on #2820
Is there some progress? Is there a hope that this long-standing problem will be fixed?

[2016-11-05 15:34] zetok commented on #2820
Yes and no. Progress happens all the time, not necessarily strictly related to this issue though. There's quite a bit of things in toxcore that need to be done first before there will be focus on this. That is, assuming that this bug won't go away due to refactoring being done.

At some point, yeah. With that being said, the more people help, the faster things get fixed :)

[2016-11-06 11:25] Delocca opened #3859 "Need better notifications (of both messages and contact status)"
My biggest issue with qTox is that I miss messages due to the lack of visual notifications and I have to keep the contacts window open to see if friends connect.

I've checked all the notification options you already have but it's not enough.
For new messages, I'd like to have blinking tray icon and desktop notification.
For contact connection, I'd like a sound and desktop notification.

Thanks!

[2016-11-06 11:56] Diadlo commented on #3859
Duplicate of #483 and #3696
And blinking icon already implemented

[2016-11-06 11:56] #3859 closed, assigned to nobody

[2016-11-06 18:46] Kaylang commented on #3850
Confirm. Don't swich from Russian/English/Italien
Ubuntu 14.04 LTS
qTox v1.5.2-obs

[2016-11-06 20:45] Diadlo commented on #3850
@Kaylang Can you test it with any Qt5 application?

[2016-11-06 21:37] zetok commented on #3805
Note: also happens due to `Logout` after changing the setting.

[2016-11-06 23:38] yurivict commented on #3849
Any idea how to troubleshoot this? Any way to increase the log level? This might be FreeBSD-specifit, and it might be in toxcore too.

[2016-11-07 05:18] Kaylang commented on #3850
@Diadlo i'm newby in Linux and my english is poor. Do you speak Russian? Can You find me in qTox?

[2016-11-07 08:04] zetok opened #3861 "[Regression] friendlist can't be resized with open settings"
##### Brief Description
Friendlist can't be resized when there are open settings

OS: Gentoo Linux amd64
qTox version:
Commit hash:  efecd8f8fd9550ffdccec792ee1a930aaaf80b4d
toxcore:  0.0.0
Qt:  5.6.1

Reproducible: Always

##### Steps to reproduce

1. Single window mode
2. Start qTox and resize friend widget to be bigger than minimal
3. Go to settings, at this point friend widget should resize it

[2016-11-07 14:11] Diadlo commented on #3850
@Kaylang Yes. Give me your ToxId. Or add manuly: `diadlo@toxme.io`

[2016-11-07 14:27] Kaylang commented on #3850
Done. I've added You.

[2016-11-07 17:13] Kaylang commented on #3850
For all Qt4 and Qt5 apps layout switching works correct (VideoLAN, Opera, Qt Creator 3.0.1 Based on Qt 5.2.1 (GCC 4.8.2, 64 bit) )

[2016-11-07 18:55] Diadlo commented on #3861
It's not a bug. It's minimal width of settings. If you make window wider you will can resize friend widget. I can make it smaller, but this behaviour always will exists

[2016-11-07 19:07] zetok commented on #3861
Thing is, I could resize friendlist before, and now I can't, with the same window size. That's a bug.

[2016-11-09 17:00] sudden6 commented on #3861
I can't reproduce this behaviour on https://github.com/qTox/qTox/commit/83fd0855bb65730d3eb7404eeb40ec2e48e6d672

There are only problems when the window width is at it's minimum.

Do you use any special DPI settings or stuff like that?

[2016-11-09 17:52] zetok commented on #3861
X session DPI: 103

[2016-11-09 19:51] sudden6 commented on #3861
hmm, it's `resolution:    96x96 dots per inch` over here.

[2016-11-09 20:43] initramfs commented on #3861
Just for the sake of information, I'm using Gentoo Linux on amd64 with Cinnamon as the DE with a DPI of 283 and I can't reproduce.

[2016-11-10 08:50] ElLamparto commented on #3849
I might add, when the sender is µTox and the receiver qTox (on autoaccept), the transfer always succeeds. Recently I pomped 2.2 GB file over without problems. Smaller files I transfer quite often.

[2016-11-10 21:42] sudden6 commented on #3849
@yurivict

The log level is already at the maximum, the next best option would be to start qtcreator and look at qTox through the debugger.

[2016-11-10 21:54] #3805 closed, assigned to nobody

[2016-11-11 20:29] ulrichard commented on #3184
Why not provide a package for the official debian repo? Then it will be merged to ubuntu automatically. And nobody would have to add 3rd party repos and keys.

[2016-11-11 20:43] zetok commented on #3184
@ulrichard gist of it: https://github.com/qTox/qtox-irc-logs/blob/4af3db8f369e17ba6d28a266628af71894a0661d/2016/07/%23qtox_20160710.log.txt#L51,L58

[2016-11-11 21:53] ProMcTagonist commented on #1145
If you just want to paint and then send an image, this is easy.

If you want double-sided interaction and special treatment of the drawings, this is more advanced, like stickers, voice messages, etc, and it's uncertain what they require because fingers are being pointed but no one wants to implement it (it's a custom packets thing! no it's a core thing!)

[2016-11-11 21:58] sudden6 opened #3872 "Better UI for NoSpam"
The NoSpam UI could be improved to keep track of used NoSpam values in case one wants to temporarily change it, because of a Friend Request Spam and change it back to the value posted in e.g. e-mail signatures, bussiness cards,... after the attack.

The idea is to keep a list with the following fields:

| NoSpam | Last Activated | Deactivated | Comment|
|------------|--------------------|---------

[2016-11-12 15:43] naortega opened #3874 "Debian Repo release key invalid"
#### Basic Description
I get an invalid key warning when adding the qTox repo to my `sources.list.d/qtox.list`.

OS: Debian GNU/Linux Stretch (Testing)
qTox version: N/A
Commit hash: N/A
toxcore: N/A
Qt: N/A
Hardware: amd64
…

Reproducible: Always

##### Steps to reproduce
Follow the
1. Follow the Debian installation instructions for OpenSUSE
2. Add the key
3. It breaks.

##### Observed Behavior
I

[2016-11-12 19:21] abbat commented on #3874
Seems temporary problems with OBS (not qtox only affected).

[2016-11-12 20:09] Diadlo opened #3875 "Important note is untranslated"
##### Brief Description

OS: Linux
qTox version: v1.5.2-238-gfb45aa4
Commit hash: fb45aa4929e5dbc83a4e3e304afa87222c995e5f
toxcore: 0.0.0
Qt: 5.7.0

Reproducible: Always

##### Steps to reproduce

1. Select any language
2. Goto `Advanced tab`

##### Observed Behavior
Important note is untranslated

##### Expected Behavior
Translated important note

[2016-11-13 00:36] abbat commented on #3874
My fault, key really expired. You have to update key:

[code]

or

[code]

[2016-11-13 00:49] naortega commented on #3874
Alright, it's all working now. I also appreciate the Stretch repo :wink:
Thanks!

[2016-11-13 00:49] #3874 closed, assigned to nobody

[2016-11-13 20:49] ilmaisin opened #3879 "Flatpak support?"
Would it be good idea to offer qTox as a flatpak? AFAIK pretty much everyone except Ubuntu, even [Debian](https://packages.debian.org/search?keywords=flatpak), seems to be adopting it as a way to install desktop software.

[2016-11-13 23:23] zetok commented on #3879
If someone is interested in spending their time on making & maintaining it, why not.

BTW, about the packaging formats; there's also AppImage which IMO looks better than either of corpo-backed projects.

[2016-11-14 00:37] ProMcTagonist commented on #927
Doesn't do anything yet (actually it puts "This should be a link!" into the clipboard)

![copy link address](https://cloud.githubusercontent.com/assets/4358079/20250153/18581c2c-a9bf-11e6-8dbf-2b4c37d09a17.png)

Don't know how exactly to get the text from the message that was clicked on, or only show up when clicking on a link. Looking at Quassel right now (thanks @zetok). Advice appreciated.

Qua

[2016-11-14 10:20] fcore117 commented on #3849
yurivict: this might be core problem? i get this daily and on utox-utox, qtox-utox, utox-qtox. I usually work around this just closing and reopening client, friends get this same be it qtox or utox.

[2016-11-14 10:27] x368 commented on #3779
To clear up some misunderstandings:

One specific protection is explicitly missing in Tox, one's ip number is exposed to the observers.
The leak of this particular information can be very sensitive and ruin the privacy of the communication.

Fortunately routing Tox traffic via Tor adds the ip protection.
Unfortunately sending UDP to clearnet would reveal the ip number to the observers and fully br

[2016-11-14 16:58] yurivict commented on #3849
@fcore117  Are you on FreeBSD?

[2016-11-14 17:17] ilmaisin commented on #3879
Yes, there is AppImage too. However, it does not AFAIK take care of dependencies in any manner by itself, unlike Flatpak or snappy.

[2016-11-14 18:04] yurivict commented on #3779
Ideally, Tox should register the hidden service using the Tor control port to enable Tor-only connections. But this is also besides the point of this bug report.

[2016-11-14 18:06] fcore117 commented on #3849
yurivict: nope windows but sometimes ubuntu and same applies to friends so it is not a os problem.

[2016-11-14 18:09] yurivict commented on #3849
So this is a general problem. I thought it was a FreeBSD problem.

[2016-11-14 19:56] zetok commented on #2961
@yurivict this sounds like something that could and should be done using a separate, generic tools.

Splitting data, reassembling it, and printing are doable with generic tools.

Note: with small profiles (20 or so contacts), compressed data is still big enough to require 3 QR codes. With a bigger profile (>150 contacts) data after compression would be split into like 6 QR codes.

Btw, you can alr

[2016-11-14 20:00] zetok commented on #3849
Looks like a duplicate of #3292, thus closing.

[2016-11-14 20:00] #3849 closed, assigned to nobody

[2016-11-14 20:14] yurivict commented on #2961
@zetok How can a simple Windows user of qTox do this? Do you assume everybody has a computer science degree? It should be integrated, and easy to use for everybody.

[2016-11-14 20:22] sudden6 commented on #2961
@yurivict I fully agree with @zetok, this is already possible with Tools available on the Internet and is out of scope of qTox. If you insist on using Windows you can use http://ollydbg.de/Paperbak/ (obtained via a quick Google search).

[2016-11-14 20:32] yurivict commented on #2961
I disagree. It should be easy to use the function directly related to qTox, and what you suggest requires OCR. OCR doesn't always work. You assume that all users are knowledgeable, resourceful, educated, etc, but most are not. As a result, Tox will remain a system for nerds and geeks.

[2016-11-14 21:18] Diadlo opened #3882 "Opening chat after closing it in separated window, again separated"
##### Brief Description

OS: Linux
qTox version: 1.6.0
Commit hash:  5648106b34fc7dc3ad4e169651a0cbbd0139170a

Reproducible: Always

##### Steps to reproduce

1. Open Settings/UI
2. Enable `Multiple windows mode`
3. Enable `Open each chat in an individual window`
4. Open chat with Alice
5. Open chat with Bob
6. Disable `Open each chat in an individual window`
7. Click on main qTox window (with fri

[2016-11-14 21:26] zetok commented on #2961
Quite the opposite. This "feature" seems like something too hard for people to use, and people who would be able to use it easily can figure out how to use other tools.

What you would want, is proper documentation for those people on how to do those things.

[2016-11-14 21:37] yurivict commented on #2961
1. Press the button and produce the paper
2. Press another button and scan codes through the camera, one by one. How is this too difficult?

[2016-11-14 21:40] zetok commented on #2961
Doesn't work, 'cause printers.

Also doesn't work, given that there's little to no libs that support scanning QR codes, rather than creating them. One of reason why qTox doesn't support scanning QR codes with Tox IDs to add friends.

[2016-11-14 21:45] #2101 closed, assigned to nobody

[2016-11-14 21:51] yurivict commented on #2961
You said "seems like something too hard for people to use". Now you are saying the opposite: "hard to implement". -)

There is https://github.com/zxing/zxing library, and here someone says he runs it on the Linux server: http://stackoverflow.com/questions/7202930/zxing-qrcode-decoding-issue

[2016-11-14 22:09] zetok commented on #2961
Hard to do, and hard to use.

https://www.youtube.com/watch?v=pQGtucrJ8hM

What would work reliably, is producing images. If someone wants to print them, that's up to them.

There is still a question of how the actual UI should look & work like.

Interesting, perhaps could be used.
Kinda bad that it isn't packaged anywhere, but oh well.

[2016-11-14 22:16] yurivict commented on #2961
Printers aren't that bad as they say. -) Surprisingly, they actually work most of the time. Besides, it doesn't really have to be printed. It can be taken photo of, etc. The concept of the QR code is key here, not the printer.

There is also a C++ fork: https://github.com/glassechidna/zxing-cpp
I will package it for FreeBSD.

[2016-11-14 22:30] zetok commented on #2961
@yurivict how UI for it should look like and how is it supposed to be integrated in qTox?

[2016-11-14 22:32] Diadlo commented on #2961
@yurivict There some problem. We have not protocol to transfer your key by image. I.e. one QR code is too big and I think it will be hard to read it from A4 paper (didn't test it). If we will split it on N smaller pictures => other client should support import from exactly N pictures. Or qTox (and other clients) should support export/import with custom N

[2016-11-14 22:49] Diadlo commented on #2961
I strongly against reopening this issue
Maybe I want to support play `.tox` file in [dial-up style](https://www.youtube.com/watch?v=GSRG0TqxLWc) and record in on another device (or aother export/import format). qTox can support all those. That's the reason, why this issue should be solver but external tool

[2016-11-14 23:00] yurivict commented on #2961
UI should have a button that can "print" the paper with the sequence of QR codes. The way "print" function works today is that it also offers people to save it as pdf.

"Recover from QR" button should be near a "Create new account" button. It should display the dialog box first prompting to scan the first code. From the first code it should determine how many codes are left, and it should keep pro

[2016-11-14 23:02] Diadlo commented on #2961
It depends of your friend list

[2016-11-14 23:24] yurivict commented on #2961
I packaged zxing-cpp for FreeBSD https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=214519 , so it is easily packageable. Not sure how does it compare to the scanning ability of ZXing on Android.

[2016-11-14 23:26] initramfs commented on #2961
@yurivict I still see several problems associated with this proposal, as below:
1. qTox should not attempt to access hardware devices not immediately essential to use. I don't have a printer, what exactly should qTox do if I don't have a printer? Similarly, if I don't have a capture device or my capture device resolution and/or quality is not up to the level that can successfully read QR codes, wh

[2016-11-15 09:52] ddobrev opened #3883 "Provide a binary installer of 1.6.0 for macOS"
qTox 1.6.0 is finally out but there's no installer for macOS, please provide one.

[2016-11-15 09:58] zetok commented on #3883
Due to #3747 it wouldn't really work.

So right now build instructions should be followed to get qTox on OSX: https://github.com/qTox/qTox/blob/master/INSTALL.md#os-x

**If** there will be a patch that will make things work again merged long before the 1.7 release, patch release 1.6.1 with it will be made.

[2016-11-15 10:43] zetok commented on #3879
Doesn't seem to be the case:

[code]

Then again, Gentoo has a proper way of packaging stuff, so it doesn't need workarounds.

Anyways; I've been wondering for a while if there would be any financial support for flatpak and/or appimage qTox packages.

What do you think?

[2016-11-15 17:47] probonopd commented on #3879
AppImage is a self-mounting filesystem that simply executes what you put inside. It's up to you what you put inside, but if you follow the general rule to "bundle everything that cannot be reasonably expected to be part of each target system in a recent enough version", then chances are that it will run on many target systems.

[2016-11-16 09:39] zetok opened #3886 "User marked as talking when there's no groupchat participants"
##### Brief Description
While in groupchat, user is marked as talking while there are no other people in groupchat, and there is no audio.

OS: Gentoo amd64
qTox version: v1.5.2-243-gdcfbdf8
Commit hash: dcfbdf8f95c865c8336ed5ffbc094b91fb2315b2
toxcore: 0.0.0
Qt: 5.6.1

Reproducible: Always

##### Steps to reproduce

1. Start new groupchat and invite a contact
2. Both start audio chat
3. invited c

[2016-11-16 10:17] Potracheno opened #3887 "Problem import profile"
##### Brief Description

Ubuntu 14.04.5 LTS 3.13.0-71-generic #114-Ubuntu SMP Tue Dec 1 02:34:22 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
qTox v1.5.1-obs.
Commit hash:  f05b7e040a073c7afadaf763dda5beaf130c6dbd
toxcore:  0.0.0
Qt:  5.6.1
Hardware:  Lenovo b590
…

Reproducible: Almost Always

##### Steps to reproduce

1. Start qtox
2. Try import profile

##### Observed Behavior
System stuck
High load

[2016-11-16 14:25] zetok commented on #3861
https://github.com/qTox/qtox-irc-logs/blob/9d8e52d7322a9f4d5191d182688781d8434f37e8/2016/11/%23qtox_20161107.log.txt#L517

`gfrm` only – no problems
`uifrm` only – size is limited, resizing performance is slowed down(!), no longer fluid

[2016-11-16 14:52] antis81 commented on #3886
Could it be a misinterpretation of the status bar? If I get it right, the group chat's status bar doesn't mark a user as "talking", but only being part of the group - which is correct. In reality a group disappears and is closed, if the "member count" drops to 0.

[2016-11-16 15:28] sudden6 commented on #3887
Probably a problem with the folder browser dialog. Does it happen before you click "OK" after you have selected the profile?

[2016-11-16 15:28] zetok commented on #3886
No.

[2016-11-16 15:33] sudden6 commented on #3886
@antis81 no, there's functionality to mark a user as "talking" but IIRC it's not working/disabled.
@zetok The green highlighting is marking "your" username, IIRC again speaking was red.

[2016-11-16 15:35] Potracheno commented on #3887
I can't choose nothing. I click on import button then see transparent window of the folder browser dialog and system freeze.
I can try to make video but it slightly difficult because of system freeze.

[2016-11-16 15:43] zetok commented on #3886
@sudden6 oh, right. Sorry, I forgot about that.

[2016-11-16 15:43] #3886 closed, assigned to nobody

[2016-11-16 16:04] zetok commented on #3887
#3447 was supposed to fix this.

@VoteForNavalny do those lines in log appear after you click on the button?
What DE are you using?

[2016-11-16 16:15] antis81 commented on #3886
@zetok @sudden6

Ah ok, you talk about AV features. With the current implementation in `master` the call status (friend or group) simply cannot be reflected correctly and is actually guessed in certain places. And so the call buttons may or may not show a correct status. This core feature set is added and **completely solved** for friend calls in #3639 and targeted for group calls as well (works a

[2016-11-16 16:22] zetok commented on #3886
@antis81 there's 3rd option, something that @Diadlo already started doing.

 Merge in small chunks what works, that's the only way this thing is going to get merged. Otherwise the amount of regressions from PR will stop progress, and ongoing changes on master will cause increased load of conflicts to solve.

What goes on master works.

[2016-11-16 19:40] sudden6 commented on #3875
Hmm, there's a translation for that String available on weblate, but not applied.

[2016-11-16 20:24] zetok commented on #3779
Note: if any type of proxy is set, `Use UDP (recommended)` should change to `Do not use UDP (recommended)`, with a tooltip `It is not recommended to use UDP with proxy for privacy purposes.`

Or something like that.

[2016-11-16 20:25] Diadlo commented on #3861
@zetok Sorry, I mean `minimum width of QTabWidget is maximum of minimal width of tabs`
↓ Misclick here

[2016-11-16 20:25] sudden6 commented on #3779
The discussion on IRC revealed that even if a proxy is selected an activated and UDP is selected toxcore tries to use the non-proxied network for UDP and only uses the proxy for TCP.

[2016-11-16 20:29] Diadlo commented on #3875
@sudden6 I think, it's doesn't updates in `retranslateUI`

[2016-11-16 20:34] yurivict commented on #3779
^^^ This is the security violation. This is the whole point of this bug to guard against such things.

[2016-11-16 22:10] zetok opened #3890 "[Feature request] Add Pirate translation"
##### Brief Description
Website has it, but not the client. This is wrong.

Reproducible: Always

##### Steps to reproduce
1. Try to use Pirate translation

##### Observed Behavior
No Pirate translation.

##### Expected Behavior
Pirate translation available.

##### Additional Info
Website's Pirate translation: https://qtox.github.io/pr.html

[2016-11-17 15:22] zetok opened #3891 "Make Avatar on Profile page accessible"
##### Brief Description
Currently `Avatar` ~~and `Tox ID` aren't~~ is not accessible. It should be.

Reproducible: Always

[2016-11-17 23:30] phd21 opened #3892 "qTox couldn't open your chat logs, they will be disabled."
Hi Everyone,

Problem: "qTox couldn't open your chat logs, they will be disabled."

I have been running "qTox" for awhile on Linux Mint KDE 17.3 and it runs well. I have also been testing Linux Mint 18 KDE, and so I installed "qTox in that, then I copied my "tox" folder to that, so I did not have to redo adding friends and re-authenticating them. But, every time I start "qTox", I always get this e

[2016-11-18 06:15] Diadlo commented on #3892
Can you reproduse it with new account? Or only on current?
When did the error? Maybe after some OS crash?
Also, can you post here output of `cat ~/.config/tox/phd21.db | hexdump | head` and `du -h ~/.config/tox/phd21.db`?

[2016-11-18 12:45] ddobrev commented on #3883
What does it take to fix #3747 ? As far as I understand, unless it's fixed, we macOS users (the overwhelming majority of who can't or won't compile qTox themselves) are stuck with 1.4.1 which is months old.

[2016-11-18 13:41] zetok commented on #3883
It seems to be fixed in https://github.com/TokTok/qTox , so someone would need to port back the improvements. Will be done at some point, but might not be quick. As always, additional help would speed things up.

Is there any reason why someone on osx wouldn't be able to compile qTox, aside from lack of will? There are instructions on how to use the script that does all the work.

[2016-11-18 13:56] ddobrev commented on #3883
_someone_ might. The majority of users won't, especially each time a new version is released. If there actually is a fix, could you ask the author to create a pull request for you? I assume you have regular talks with her anyway since she is the new maintainer of Tox.

[2016-11-18 14:03] zetok commented on #3883
https://github.com/qTox/qtox-irc-logs/blob/45396c79d266351e39ab99e58afb49a582e9c5a5/2016/11/%23qtox_20161108.log.txt#L153,L163

[2016-11-18 15:36] phd21 commented on #3892
Hi Everyone,

Thanks for the replies...

I think I resolved this issue.  But none of my chat friends are currently available to test it with.

I had read somewhere that you could copy your "tox" configuration folder to your new system, and that should work. But when I did that from Linux Mint 17.3 to Linux Mint 18, that is when I started getting the chat log errors.

Today, I decided to use a comm

[2016-11-18 16:34] zetok commented on #711
I wrote something that could be used as identicon, and that actually represents PK. Image made from a random PK:

![out](https://cloud.githubusercontent.com/assets/3148759/20437626/9516b23c-adac-11e6-8d6a-af376854ccbf.png)

Would there be interest in it?

[2016-11-18 16:40] zetok commented on #3892
You won't have your old chat logs. And btw, when they're available, you can load your old chat logs.

[2016-11-18 18:26] zetok commented on #711
Reworked it, previous one looked ~ugly. The downside of new approach is that PK data is only duplicated.

![out](https://cloud.githubusercontent.com/assets/3148759/20441391/353f7582-adbc-11e6-8413-f7f94344f063.png)

![spectacle jd8726](https://cloud.githubusercontent.com/assets/3148759/20441397/3ea0bf78-adbc-11e6-845b-6d00e1973d6b.png)
↓
![spectacle cf9900](https://cloud.githubusercontent.com/asse

[2016-11-18 19:30] ovalseven8 commented on #711
The identicons by @SkyzohKey look much better IMHO: https://github.com/qTox/qTox/issues/711#issuecomment-202103191

[2016-11-18 19:38] zetok commented on #711
@ovalseven8 ~yeah. With that in mind:
1. There is no spec for @SkyzohKey's implementation, and their implementation being in vala means that it won't be used in clients, aside from @SkyzohKey's client. My implementation in Rust can provide easy to use, statically linked lib with C interface that all clients could easily compile & use.
2. It doesn't provide info about the PK, while what I've implem

[2016-11-18 19:48] zetok commented on #711
![out](https://cloud.githubusercontent.com/assets/3148759/20444026/502b93e8-adc7-11e6-9863-d3256e754cf5.png)
![out](https://cloud.githubusercontent.com/assets/3148759/20444070/8235203e-adc7-11e6-9c2d-c9129256a644.png)
![out](https://cloud.githubusercontent.com/assets/3148759/20444172/e5cc7e80-adc7-11e6-87a2-5d60e17a0dfd.png)

[2016-11-18 20:24] phd21 commented on #3892
Hi zetok, and everyone else,

I just tested "qTox" and all is working well again, including the chat logs.  :)

Zetok: Could you elaborate on your last comment. I know I don't have my old chat logs. What do you mean by "And btw, when they're available, you can load your old chat logs"? What file(s) are they stored in the ".db" file? Or, are you referring to some new update and or feature for handl

[2016-11-18 20:42] zetok commented on #3892
It's not a new feature:
![spectacle lx8235](https://cloud.githubusercontent.com/assets/3148759/20445978/4e650348-adcf-11e6-9ad4-f63a292394a4.png)

[2016-11-19 00:04] benwaffle commented on #711
@SkyzohKey 's implementation is based on github's identicons. It can be easily ported to C and other languages

[2016-11-19 00:42] zetok commented on #711
@benwaffle are there any docs?

[2016-11-19 02:30] benwaffle commented on #711
@zetok nope, it was just ported from JS https://github.com/stewartlord/identicon.js

[2016-11-19 10:19] zetok commented on #711
Well, if there would be, I could write it in Rust.

[2016-11-19 10:45] sudden6 commented on #711
@zetok Since you seem to have all the complicated code for drawing the image already, I think it would be easy to port the algorithm from JS to Rust.

If you don't want to do it, maybe I can do it.

EDIT: It would also be better to create the identicon from a hash of the private key, this way it can't be faked.

[2016-11-19 10:58] sudden6 commented on #3892
@zetok haha, not even I knew about this, care to add it to the user manual?

[2016-11-19 11:30] zetok commented on #711
@sudden6 well, the code isn't really that compilcated, the main logic is just a single line, rest is just colors & mirroring the image created from PK: https://gist.github.com/zetok/2a2dab30e75666e89bcc6c8467cace48#file-main-rs-L83

All the heavy-lifting is done by a lib :)

[2016-11-19 11:52] zetok commented on #3892
@sudden6 yeah, I've been meaning to somehow describe functionality of chatform for both variants (single contact, and groupchat), but I'm not quite sure how to get started with that thing :s

[2016-11-19 19:10] zetok commented on #3891
scratch that, apparently this is accessible

[2016-11-19 19:15] zetok commented on #3775
Needed info not provided for over a month, thus closing.

[2016-11-19 19:15] #3775 closed, assigned to nobody

[2016-11-19 19:41] Diadlo opened #3896 "Remove duplicates in translation"
##### Brief Description

We have some source string duplication in translation files.
Examples: `"%1 here! Tox me maybe?`, `Open chat in new window`, `None`

Full list:
[code]

**Added:** Reason of duplicates in different scopes in source. I.e. `QObject::tr` and `AddFriendForm::tr` will place source string in difference block in `.ts` file

[2016-11-19 19:42] ghost opened #3897 "Paste images as files from clipboard"
##### Brief Description

OS: Windows 7 x64
qTox version: v1.5.1-8-gfd04a28.
Commit hash: fd04a2832aa885d260ded4e476eefcddd49237b3
toxcore version: 0.0.0

Can you please add feature to paste images from clipboard?

I want to get working the following scenario:

1) Open some application.
2) Choose specific window of that application and press Alt + PrintScreen
3) Then press Shift+Ins inside qTox cha

[2016-11-19 19:56] zetok commented on #3897
Duplicate of #1290, thus closing.

[2016-11-19 19:56] #3897 closed, assigned to nobody

[2016-11-20 11:39] zetok opened #3898 "Link to contributors doesn't show all qTox contributors"
##### Brief Description
Even though description of the link in qTox claims to show all contributors, only 100 contributors with most commits are shown, due to link pointing to a github page.

qTox version: v1.6.0

Reproducible: Always

##### Steps to reproduce
1. Settings → About → click on the `contributors` link

##### Observed Behavior
Only top 100 contributors are shown

##### Expected Behavio

[2016-11-20 12:01] Diadlo opened #3899 "[Regression] Atomic build error"
##### Brief Description

OS: Slackware Linux 32bit
qTox version: v1.6.0
Commit hash:  af91885
GCC: 5.4.0

Reproducible: Always

##### Steps to reproduce

1. Clone qtox repo
2. Try to build

##### Observed Behavior
[code]

##### Expected Behavior
Normal build

##### Additional Info
Build was successful about May

[2016-11-20 12:19] sudden6 commented on #3898
I would prefer changing the text to the "top 100 contributors". Removing the text from qTox would be disrespectful to everybody who contributed IMO. Making a list of authors, would probably be the most portable solution, but is also the most resource consuming one I think. Because the list has to be updated for at least every release. But maybe this could be automated with the GH api.

[2016-11-20 12:56] zetok commented on #3898
Why would you depend on gh api when you don't need to?

Also, list can't be 100% automated, given that automation wouldn't give all contributors.

[2016-11-20 12:57] zetok commented on #3898
No, wait, scratch that, it could be automated, just not the first version of it.

[2016-11-20 13:11] zetok opened #3900 "Make `Add friend` page accessible"
##### Brief Description
`Add friend` page in qTox should be made accessible.

qTox version: v1.6.0

Reproducible: Always

[2016-11-20 13:25] sudden6 commented on #3898
@zetok also the first version could be automated, see https://developer.github.com/v3/repos/statistics/

[2016-11-20 13:36] zetok commented on #3898
@sudden6 nope, regardless of what the docs claim.

[2016-11-20 15:19] Diadlo commented on #3899
~~@initramfs~~

[code]

**Added:** Seems, it's qmake problem. It add `i486` as arch on `i686` and ignore manual added `march` CXX parameter

[2016-11-20 20:21] Diadlo commented on #3899
The workaround: after qmake, execute next command:

[code]

[2016-11-20 20:58] zetok commented on #3899
Migrating to CMake will fix it, right?

[2016-11-20 21:00] Diadlo commented on #3899
@zetok Yes, I think so

[2016-11-21 12:04] zetok opened #3903 "UI/refactor discussion"
https://github.com/qTox/qTox/milestone/6
https://github.com/qTox/qTox/pull/3639#issuecomment-261916356

@antis81

As has been said before: @Diadlo seems to be doing just fine moving stuff from UI/refactor in small chunks to master, so it's not impossible. With that in mind, even those small chunks could introduce regressions.

This probably wouldn't work, and in the end would result in more stuff

[2016-11-21 17:29] yurivict opened #3904 "Fails to open audio output "OSS Default", and pcm2:play:dsp2"
qTox fails to open the OSS Default device. The system trace log is like this:
[code]

This means qtox didn't even try to open the device and printed this message.

It also fails to open pcm2:play:dsp2:
[code]

qTox-1.5.2
FreeBSD 11

[2016-11-21 17:32] zetok commented on #3904
Does your OpenAL support your OSS?

[2016-11-21 17:55] yurivict commented on #3904
It did work when I updated to qTox-1.5.2, and also few days ago. Now I am trying to figure out what changed. It depends on something.

[2016-11-21 17:57] yurivict commented on #3904
But I also got the user report that audio in qTox doesn't work: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=214393

[2016-11-21 18:03] yurivict commented on #3904
Now I know what happened with me: openal-soft only works with pulseaudio on my system. PULSEAUDIO turned to "off" by the system upgrade, because "off" is a default, and it broke it for me.

So I suspect openal is broken either on FreeBSD in general, or with my card/some cards in particular.

[2016-11-21 18:14] yurivict commented on #3904
I think this is in the FreeBSD OpenAL port, closing.

https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=214710

[2016-11-21 18:44] vit9696 commented on #3747
Could anybody maintaining qTox reupload a proper 1.5.2 release to github releases?
It is rather annoying to explain people how to run it since _August_, and an insane [advice](https://github.com/qTox/qTox/issues/3747#issuecomment-253609267) to create symlinks in a system directory is just misleading.

This directory is not meant to be polluted by Qt rubbish. If the people were too ignorant to prov

[2016-11-21 19:27] zetok commented on #3747
@vit9696

There's not much point in uploading a proper release for 1.5.2, given that 1.6.0 has been released. Also, releases aren't really manually uploaded, but osx binary is automatically created & uploaded. If there will be merged a fix long before 1.7 release, a 1.6.1 release with fix applied will be made.

Providing correct library paths during compilation would be preferable..

Definitely, p

[2016-11-21 19:46] vit9696 commented on #3747
@zetok

Even if 1.6.0 does exist, no binary is uploaded, "broken" or not, so not much could be done from here. I have no desire to pollute my system with Qt or Homebrew, sorry. This would also take much more time than a few mins for fixing the library paths.

From what I know from the commit log, ffmpeg is now [linked statically](https://github.com/qTox/qTox/commit/ade0d43e1670905450eb833f2f861d68

[2016-11-21 19:50] zetok commented on #3747
Err, no, that wasn't merged, since it didn't work.

It also has been used for 1.5.2, so there's no difference.

[2016-11-21 19:59] Diadlo commented on #3903
@antis81

Better describe `usual feature` not as `single commit` , but `less, than few changes`.
Problem not in amount of commits. The problem is that it's impossible to review this PR.

[2016-11-21 20:24] vit9696 commented on #3747
It looks like you do not build ffmpeg for macOS, so cannot use a static version easily. It is quite unpleasant to suggest it, but I would expect adding a temporary hack to be reliable. Append the first loop of my script to your used (the structure looks pretty confusing) deploy script with a minor alteration regarding lib path:
— you seem to know it from somewhere;
— change filename lookups to obt

[2016-11-21 22:05] NicoHood opened #3905 "No information when message cannot be delivered"
In 1.5.1 for linux (archlinux) there is no way to determine if a message was delivered successfully or not. On antox for example there is. I have a lot of message loss with one contact and we never know which messages the othe rperson got and which not (qtox chatting with antox).

[2016-11-21 22:26] zetok commented on #3905
There is. If there is no spinning circle instead of message date, it was delivered successfully. Note that if you don't have enabled history that doesn't apply to client restarts.

If Antox doesn't display messages that it confirmed as received, it's a bug in Antox.

[2016-11-21 22:38] NicoHood commented on #3905
antox does, but qtox doesnt.
I never see any circle at all. Even if i write to offline contacts. It just displays the date on the right.

[2016-11-21 22:44] zetok commented on #3905
Do you have history enabled?

[2016-11-21 22:45] NicoHood commented on #3905
no. not at all.

[2016-11-21 22:45] zetok commented on #3905
Then it's not a bug.

[2016-11-21 22:45] NicoHood commented on #3905
but why? its totally confusing if i dont see if the message was received or not

[2016-11-21 22:55] zetok commented on #3905
I've made a PR with added docs, hopefully they make things more clear: https://github.com/qTox/qTox/pull/3908 . Would be nice if you checked.

[2016-11-21 22:59] NicoHood commented on #3905
This does not solve the problem. a) it does not even need to resend them. just give a notification if the message was not yet received. and b) the message is still in the ram, as its displayed on the screen. so there is still a way to resend it as long as the client is opened.

If i' at least know the sending failed, that'd extremely help.  automatic resending is something to still aim for though.

[2016-11-21 23:06] NicoHood commented on #3905
You should possibly reopen it then. Thanks for taking the time ;)

[2016-11-21 23:18] zetok commented on #3905
Oh, right, I forgot the press the button. Thanks for reminding. >.<"

[2016-11-22 06:15] Diadlo commented on #3905
@NicoHood

Just to describe situation: Problem is place, where it's stored. Now it's placed in chatform view. And it's really hard go get message from it. Trying to get the data from the `view` breaks design. qTox should be redesigned, we are working on it

[2016-11-22 09:42] LittleVulpix opened #3910 "qTox silently fails to update if an update is available"
##### Brief Description

OS: Windows 10 x64 AU, latest.
qTox version:1.4.1-1.6.0
Commit hash:  https://github.com/qTox/qTox/commit/5648106b34fc7dc3ad4e169651a0cbbd0139170a

Reproducible: Always

##### Steps to reproduce

1. Set qTox to update automatically
2. Have non-latest version of qTox
3. Start it

##### Observed Behavior
Nothing happens

##### Expected Behavior
You are prompted to update

##

[2016-11-22 09:52] nurupo commented on #3910
Looks like

is the culprit and it looks like an off-by-one error, as there exists a file with very similar name https://qtox-win.pkg.tox.chat/qtox/win64/files/d2d849d6954588eff3f5e19b3130451a40cb92f033ff840e2d8b62c5 on the web server.

Here is the comparison of the filenames in the monospace font:

[code]

Notice that the actual file that exists on the server doesn't have `8` at the beginning of i

[2016-11-22 12:55] Potracheno commented on #3887
Yes.
Unity (Installed by default).

[2016-11-22 16:35] NicoHood opened #3912 "GPG signatures for source validation"
As we all know, today more than ever before, it is crucial to be able to trust our computing environments. One of the main difficulties that package maintainers of Linux distributions face, is the difficulty to verify the authenticity and the integrity of the source code.

The Arch Linux team would appreciate it if you would provide us GPG signatures in order to verify easily and quickly of your s

[2016-11-22 16:53] zetok commented on #3912
keys should be on the server..?

As for release tarballs, they're made automatically by gh when git tag is pushed.

Feel free to provide a script/tool for that.
Preferably automate the whole thing. (download, verification, signing & uploading the signature)

[2016-11-22 17:09] NicoHood commented on #3912
[code]

You've possibly uploaded it to the "wrong" keyserver. You may want to try other keyservers.

As stated in the link you only need to run
[code]
And upload the signature. If you do this for a release it will not take longer than writing the changelog ;)

[2016-11-22 17:24] zetok commented on #3912
cc @initramfs

Well, good thing that I'm not writing the changelog since its generation is ~automated :D

So no, doing stuff manually would take a lot longer than generating changelog (last time generating took like 15ms?).

Script it, the command listed isn't even close to what the automated script should do. Certainly it should not blindly sign stuff without verifying it.

[2016-11-22 18:00] NicoHood commented on #3912
TBH: You only need to sign the tarball and publish it. As an alternative you can also create your own tarball if you dont like to verify the github download against that.

Scripting this is mostly impossible (as you need params such as download source, release number etc and you cannot upload it to github that simple if i am not wrong. Please, this takes no time if you tag a release every few mont

[2016-11-22 18:18] zetok commented on #3912
You are. The only required parameter is tag name that needs to be supplied to script. I mean, even that could be removed, but then script wouldn't be able to always reliably do its job.

They're constant, the only differing this is tag name. Which you supply.

You can, gh has an API for it. There was even a script in qTox's sauce to upload to releases: https://github.com/qTox/qTox/blob/db8bee381e7

[2016-11-23 09:52] ElLamparto opened #3914 "GPG error: KEYEXPIRED 1478959636"
W: GPG error: http://download.opensuse.org  Release: The following signatures were invalid: KEYEXPIRED 1478959636

Debian Jessie 32bit.

[2016-11-23 11:21] zetok commented on #3914
https://qtox.github.io/blog/2016/11/13/Expired-GPG-and-v1.6.0-release.html

[2016-11-23 11:21] #3914 closed, assigned to nobody

[2016-11-23 19:29] Hitaro opened #3915 "The character 'U+200C' is not supported!"
`U+200C` is a popular unicode character for Persian, Arabic, Hebrew, etc.

- Without `U+200C`, e.g: آنها
- With `U+200C`, e.g: آن‌ها

More Examples:
![screenshot_20161123_225427](https://cloud.githubusercontent.com/assets/18015032/20575752/dbd1b8e4-b1cf-11e6-8f38-3bf0830b9402.png)

---
OS: Linux (Debian)
qTox version: v1.6.0
Qt version: 5.7.0

[2016-11-23 19:55] zetok commented on #3915
Can't reproduce the issue on newest qTox, what are the steps and which exactly qTox version are you using (should be shown in Settings→About)?

[2016-11-24 03:51] Hitaro commented on #3915
The version: 1.6.0

![screenshot_20161124_070323](https://cloud.githubusercontent.com/assets/18015032/20585956/d0c8c42a-b214-11e6-82d5-541eea1b1a01.png)

Steps:
1. Using standard persian keyboard layout:, type/copy `آن`
2. `Shift`+`Spacebar` to insert `U+200C` character.
3. Type `ها`

==> It should be `آن‌ها`, but in qtox it is `آنها`, that means the inserted character has been ignored!

    آن =

[2016-11-24 03:54] Hitaro commented on #3915
You can find more details here: https://en.wikipedia.org/wiki/Zero-width_non-joiner

[2016-11-24 09:51] #3583 closed, assigned to nobody

[2016-11-24 09:53] iphydf commented on #3747
@vit9696 a script like the one you linked has been in use in TokTok/qTox for a few months, and so far it has always worked. We're currently working on merging it into qTox/qTox. See #3913.

[2016-11-24 10:57] sudden6 commented on #3912
I support the usage of a script, because people with knowledge can vanish, scripts stay.

[2016-11-24 14:24] zetok opened #3917 "TODO: zero the memory used to store password and derived from it key"
re: https://github.com/qTox/qTox/pull/3827#issuecomment-262052663

since we're depending on libsodium anyway, its memzero function perhaps could be used.

[2016-11-24 16:01] NicoHood commented on #3912
Maybe something more generic, not qtox specific would make sense. If it could parse the "origin" of the git, select the correct project etc to upload the data too would be nice. So yeah you might be right that a script makes sense. However this should not keep you from doing it manual for now.

[2016-11-24 19:21] sudden6 commented on #711
I also did an identicon algorithm based on https://github.com/stewartlord/identicon.js/blob/master/identicon.js but extended it to compute two colors from the hash. Additionally the algorithm ensures that there will be always a light and a dark color, to aid colorblind people. See these examples:

![out0](https://cloud.githubusercontent.com/assets/5585762/20608588/735f96e6-b283-11e6-8ba7-3b58f0bde

[2016-11-24 21:55] ovalseven8 commented on #711
Looks fine.

More important, however, is that if clients use identicons that they use the same library IMHO. If I use two different clients it would be nice to have the same identicons too :)

[2016-11-24 23:52] Kron4ek commented on #3721
The problem is not observed in version 1.6.0.

[2016-11-24 23:53] sudden6 commented on #711
@ovalseven8 yep, I plan to write a specification on how to generate them and publish a library for that.

[2016-11-25 06:53] #3721 closed, assigned to nobody

[2016-11-25 08:04] SkyzohKey commented on #711
@sudden6

Ricin already does that by hashing the public key with SHA512 before generating the identicon :)

[2016-11-25 10:24] n0lz opened #3919 "Wrong translation selected in connection menu"
##### Brief Description

OS: Windows 10 x64
qTox version: 1.6.0
Commit hash: 5648106b34fc7dc3ad4e169651a0cbbd0139170a
toxcore: 0.0.0
Qt: 5.5.1

Reproducible: Always

##### Steps to reproduce

1. open qTox
2. go to settings
3. switch language to german
4. go to advanced

##### Observed Behavior
Default selection of "Kein Videogerät ausgewählt" in "Proxy-Typ" drop-down

##### Expected Behavior
No en

[2016-11-25 13:01] zetok commented on #3919
Would you mind correcting `None` to the right translation?

[2016-11-25 13:32] n0lz commented on #3919
Corrected this one an the same issue under 'Theme' -> 'Style'

[2016-11-25 14:32] sudden6 commented on #711
@SkyzohKey so Ricin is setting a default avatar with identicon(SHA512(SK))?

After a little bit more thinking I came to the conclusion that making the identicon from the SK is useless, because you're basically broadcasting the avatar to anyone who you're "friends" with, so it can be easily copied.

I think it's better to generate the identicon from the PK on the client side, this way it's guarante

[2016-11-25 16:10] SkyzohKey commented on #711
@sudden6 that's why the identicon is never sent to friends, only kept local until you use a real avatar. Letting the friend's client decide whether to display a blank avatar or an identicon.

EDIT: Nope, ricin works like `identicon(SHA512(PUBLIC_KEY))` for friends/self and `identicon(SHA512(GROUP_NAME))` for groupchats. x)

[2016-11-25 17:14] sudden6 commented on #711
@SkyzohKey ah, sorry I misread that. Then it's the same thing that I meant. What is the point in hashing with SHA512 instead of SHA256, Tox PKs are only 256 Bit anyways?

[2016-11-25 17:30] SkyzohKey commented on #711
@sudden6 no real point here, that was a fully subjective choice x')

[2016-11-25 21:30] ilmaisin commented on #3879
So it pretty much works by luck. It's perhaps a decent intermediate solution, but does not sound like good engineering.

By the way, flatpak [has been in Ubuntu's universe repository beginning from 16.10](http://packages.ubuntu.com/search?keywords=flatpak). Don't know about when/if/why not Gentoo will adopt it. There AFAIK should be any major technical obstacles, since [it does not require systemd

[2016-11-26 10:32] probonopd commented on #3879
No; it works exactly like developing for a platform like macOS or Windows. Unless a subsequent version of the OS does something really stupid and breaks backward compatibility, it will work just fine.

[2016-11-26 12:21] ilmaisin commented on #3879
So AppImage is based on the flawed assumption that there is some kind of "Linux" operating system that has different "flavors"? In real world, we have different operating systems that have Linux kernel and happen to incidentally have some grade of binary compatibility due to the use of same libraries.

It does not matter a slightest amount if you think it is "stupid", you cannot derive is from oug

[2016-11-26 14:01] Delocca commented on #3879
@probonopd : When developping for Windows or MacOS, you target one or two versions of the OS, that will last for years. Not the same as developping for Linux, unless you target only one distro.

AppImage also lacks an updating system.

Still, the fact that it's a stand-alone package has practical advantages over runtime-based solution, so the best would be to provide both an AppImage and a Flatpak

[2016-11-26 16:09] probonopd commented on #3879
Not really, check [AppImageUpdate](https://github.com/probonopd/AppImageKit/blob/master/AppImageUpdate.AppDir/README.md).

[2016-11-26 16:27] SebastianBrings opened #3920 "qTox Win10 freezes on Invite"
##### Brief Description

OS: Windows 10 anniversary edition with all automatic updates
qTox version: v1.5.2-8-gfd04a28.
Commit hash:  Commit hash: fd04a2832aa885d260ded4e476eefcddd49237b3
toxcore:  oxcore version: 0.0.0
Qt:  5.5.1
Hardware:  Intel NUC Celeron
…

Reproducible: Happened once, now the messenger is unusable
##### Steps to reproduce

1. Got invitation by some stranger who contacted me

[2016-11-26 16:34] zetok commented on #3920
Could you provide [log](https://github.com/qTox/qTox/wiki/Writing-Useful-Bug-Reports)?
Also, could you manually install newest qTox version to see whether it still happens on it? There's a problem with automatic updates.

[2016-11-26 17:37] SebastianBrings commented on #3920
Hi,
it meanwhile seems it was not qTox related as also Skype froze in a similar way, I only noticed that later. As network connectivity was functional all the time, it could be rleated to A/V peripherals. I will keep an eye on this, in the meantime feel free to close this.

[2016-11-26 17:37] #3920 closed, assigned to nobody

[2016-11-27 20:03] ljgww commented on #3861
On Ubuntu 14.04, You are using qTox version v1.6.0-obs. Qt version: 5.6.1
On the line between contacts caret changes to 'resize' panes. But it looks like as if size of left pane (contacts) and size of right pane (chat) are set to some fixed value that cannot be changed by moving split line. Window content flickers (looks like it triggers the 'resize' event but then some other control mechanism set

[2016-11-27 22:09] ljgww commented on #3861
I have set windowed mode in order to be able to test various functions in chat. Apparently chat became usable on windowed mode.
After a little whie this almost crashed X. Then killed the qtox. Took some time.
After starting qtox again. It went back to original view (panes not individual windows for chats). But this time pane resizing works like nothing has happened before. And everything works wit

[2016-11-28 10:28] vit9696 commented on #3747
@iphydf that's great to hear, looking for it.

[2016-11-28 14:30] zetok commented on #3900
Mostly fixed in #3921. The remaining problem with maneuvering is already a part of #2100, thus closing.

[2016-11-28 14:30] #3900 closed, assigned to nobody

[2016-11-28 14:32] zetok commented on #2100
Note: the edit field is the friend request message in `addfriendform`.

One can go back from it by `shift + tab`, but not move forward.

I wonder if `tab` could be disabled in it.. or something.

[2016-11-28 20:46] ljgww commented on #3861
Problem is intermittent. On some runs behaves as described in first message, then on subsequent run it works just fine.
I am starting to believe that there is something between QT and Unity that represents on qTox bad behaviour. When first scenario happens, Unity gets so confused that it slows all other apps running plus starts messing with 'shadow' mask. Then I need to quit qtox and wait until al

[2016-11-28 21:01] Diadlo commented on #3896
[Non-stranslatable](https://github.com/qTox/qTox/wiki/Translating#non-translatable-stuff) words should be removed (also strings like `...`)

[2016-11-28 23:28] genodeftest opened #3925 "Use localization if possible"
##### Brief Description

OS: Linux: Fedora 25
qTox version: v1.6.0-38-g5921122
Commit hash:  592112296012a2159f09571bcff93066b8b6f847
toxcore:  dcf2aaa53005060608353b9d66b9917fd7ed18a9 (2016-09-28)
Qt:  5.7.0

Reproducible: Always

##### Steps to reproduce
1.  on a localized system, start qTox. System defaults to German in my case
2.  have a look at UI lanugage

##### Observed Behavior
qTox is not

[2016-11-28 23:50] genodeftest opened #3926 "qTox can't share screen on wayland"
OS: Linux: Fedora 25
qTox version: v1.6.0-38-g5921122
Commit hash: 5921122
toxcore: dcf2aaa53005060608353b9d66b9917fd7ed18a9 (2016-09-28)
Qt: 5.7.0

Reproducible: Always (by design)

##### Steps to reproduce

1. Open qTox
2. open preferences, section "Audio/Video"
3. as video device select "Desktop"

##### Observed Behavior
Preview is black, only showing the mouse pointer

##### Expected Behavior

[2016-11-28 23:56] zetok commented on #3925
Duplicate of #2758, thus closing.

[2016-11-28 23:56] #3925 closed, assigned to nobody

[2016-11-29 00:03] zetok commented on #3926
Is there a single API/lib that can be used to target all DEs?

[2016-11-29 00:20] genodeftest commented on #3926
As far as I know, no. But I've opened an upstream bug report: https://bugs.freedesktop.org/show_bug.cgi?id=98894

[2016-11-29 00:32] zetok commented on #3919
Should be fixed in #3923, thus closing.

[2016-11-29 00:32] #3919 closed, assigned to nobody

[2016-11-29 12:21] zetok commented on #1940
~fixed with #3806, thus closing.

[2016-11-29 12:21] #1940 closed, assigned to nobody

[2016-12-01 12:04] TheNain38 commented on #3494
Is there any news on this?

[2016-12-01 12:11] zetok commented on #3494
No.

[2016-12-01 20:07] mikevmk opened #3928 "Segfault on microphone capture"
##### Brief Description

OS: Ubuntu 16.10
qTox version: v1.6.0-54-gfed3e17-obs (the same on v1.6.0-obs)
Commit hash:  fed3e1706668587f98c36ddd97e0fbb4ab9eb611 (the same on 5648106b34fc7dc3ad4e169651a0cbbd0139170a)
toxcore:  0.0.0
Qt:   5.6.1
Hardware:  Lenovo E540

00:1b.0 Audio device: Intel Corporation 8 Series/C220 Series Chipset High Definition Audio Controller (rev 04)
	Subsystem: Lenovo 8 Se

[2016-12-01 23:02] sudden6 commented on #3928
#1 0x00007f4db81c5567 in ?? () from /usr/lib/x86_64-linux-gnu/libopenal.so.1
#2 0x00007f4db81a5e07 in alcCaptureSamples () from /usr/lib/x86_64-linux-gnu/libopenal.so.1

Looks like a problem in openAL, the only similar stuff I found on the internet was this bugreport https://github.com/Secretchronicles/TSC/issues/544#issuecomment-233895186

Can you try doing
[code]
and then starting qTox?

[2016-12-02 04:14] yurivict commented on #3904
It turned out that there is a memory corruption due to the use of the temporary object. Please apply the following patch:
[code]

I verified, this fixes the problem.

[2016-12-02 07:40] mikevmk commented on #3928
Ok, I think I found the real source of issue

qTox works perfectly between 'systemctl --user restart pulseaudio.service' and the first sound event from Docker container, which is runing with

	-v /dev/shm:/dev/shm \
        -e PULSE_SERVER=/run/user/${uid}/pulse/native \
        -v /run/user/${uid}/pulse:/run/user/${uid}/pulse \
        -v $HOME/.config/pulse:/home/${container_user}/.config/pulse

[2016-12-02 08:03] mikevmk commented on #3928
Fixed with
RUN echo "enable-shm = no" >> /etc/pulse/client.conf
in Dockerfile

But anyway segfault is not good reaction  I think

[2016-12-02 09:39] antis81 commented on #3928
This is definitely a bug in OpenAL. We call it correctly [here](https://github.com/qTox/qTox/blob/master/src/audio/audio.cpp#L605) and there's basically nothing we can do about it.

[2016-12-02 09:46] mikevmk commented on #3928
Shall we open bug in their bugtracker?

[2016-12-02 10:04] sudden6 commented on #3928
Yep, that would be good. I'll close this then as it's an upstream issue.

EDIT: After IRC discussion, keeping it open for others to know.

[2016-12-02 10:09] sudden6 commented on #3904
IIRC this temporary object was introduced to fix a memory leak, but I'm not 100% sure. @antis81 can you remember?

[2016-12-02 11:28] antis81 commented on #3904
@sudden6 This is so simple. Looks like someone removed the fix. Both lines in the patch are simply wrong!

`QString::toUtf8()` returns a constructed (temporary) QByteArray. Now if we store the pointer, it will segfault:

[code]

All clear? ^^

[2016-12-02 11:41] sudden6 commented on #3904
@antis81 I think I got it, but why does the patch above then "fix" the problem?

I'll prepare a PR with the fix and will assign it to you.

EDIT: Seems like it's already fixed on master https://github.com/qTox/qTox/blob/master/src/audio/audio.cpp#L369

@yurivict please update to the latest release, it should be fixed there. I'll close this issue then, please comment if you want it reopened.

EDIT2

[2016-12-02 12:12] zetok commented on #3768
Looks like another problem with lack of backward compatibility for settings :/

[2016-12-02 12:14] zetok commented on #3813
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-12-02 12:14] #3813 closed, assigned to nobody

[2016-12-02 12:15] zetok commented on #3816
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-12-02 12:15] #3816 closed, assigned to nobody

[2016-12-02 12:19] zetok commented on #3695
Why someone should need to type in again password if they already have one?
Also, why is there a need for an additional pop-up dialog?

[2016-12-02 12:21] zetok commented on #3448
Needed info not provided for over a month, thus closing.

[2016-12-02 12:21] #3448 closed, assigned to nobody

[2016-12-02 12:22] zetok commented on #3395
Needed info not provided for over a month, thus closing.

[2016-12-02 12:22] #3395 closed, assigned to nobody

[2016-12-02 12:29] DX37 commented on #3768
Wait-wait-wait, I forgot to post here what that issue seems resolved. I will check right now with latest nightly.

[2016-12-02 12:34] DX37 commented on #3768
Yep, portable mode works on latest nightly (v1.6.0-56 917812d).
But it creates %APPDATA%/tox directory, which remains empty. Should I create another issue, or rename current?

[2016-12-02 12:40] zetok commented on #3768
A new issue would be good. Could you link to this one from it?

Since it seems to be fixed, closing this one.

[2016-12-02 12:40] #3768 closed, assigned to nobody

[2016-12-02 12:46] DX37 opened #3929 "qTox creates in portable mode empty directory "tox" in %APPDATA%"
Some security issue, I guess.

OS: Windows 10.
qTox Build: v1.6.0-56 917812d.

Like I said in [this post](https://github.com/qTox/qTox/issues/3768#issuecomment-264444829) (#3768):

[2016-12-02 12:55] StSav012 commented on #3816
Well, I've got my own problems then. It turned out that my tray was not displayed whatever I tried to place there. Now I think that the problem was not in qTox itself but in the desktop. Having no solution found, I have switched to xfce. Now it works as designed. Thanks.

[2016-12-02 13:45] yurivict commented on #3904
It's fixed in the latest release 1.6.0.

Thanks!

[2016-12-02 13:45] #3904 closed, assigned to nobody

[2016-12-02 15:47] zetok opened #3930 "TODO: link to dependencies' websites from `Dependencies` table in INSTALL.md"
Each dependency name should be a link to the website of the dependency, to ease finding dependencies for users that might not have them on their distro/OS.

https://github.com/qTox/qTox/blob/master/INSTALL.md#dependencies

[2016-12-02 18:05] phd21 opened #3932 "Installing newer qTox is crashing my Linux Mint 17.3 KDE desktop!"
Hi Everyone at "qTox",

I have something strange to report.

Installing newer qTox is crashing my Linux Mint 17.3 KDE desktop!

Works fine on my Linux Mint 18 KDE on my testing partition ???

See screenshots.

OS: Linux Mint 17.3 KDE based on Ubuntu 14.04 Trusty
qTox version: Not sure, I think from 1.5.2 - 1.6.x
Commit hash:
toxcore:
Qt:
Hardware:
Machine:   System: IBM product: 8305G7U

[2016-12-02 18:11] zetok commented on #3932
cc @abbat ?

[2016-12-02 18:38] abbat commented on #3932
Linux Mint 17.3 uses Ubuntu Vivid’s Xorg/MESA stack. Probably you have to downgrade (or upgrade) *-vivid packages to default (without *-vivid) versions.

[2016-12-02 19:22] zetok commented on #3928
@mikevmk would you mind posting here a link to the upstream issue?

[2016-12-02 20:02] mikevmk commented on #3928
@zetok I'm sorry, I think I possibly did it wrong

I just sent an email to openal@openal.org with hope it reach the mailinglist and included the link to this issue.

If you have better idea then please go ahead as I don't think I can take care about this issue further

[2016-12-03 05:34] GitAClue commented on #3904
yurivict's patch was the correct solution. There is no need for any temporary variable, much less TWO!

The problem is the temporary QByteArray goes away after the assignment to that tmpDevName. If the entire construct is within the function call, as in yurivict's solution, then the temporary QByteArray exists for the duration of the function call, the exact time period during which the pointer mu

[2016-12-03 05:46] yurivict commented on #3904
In the latest version QByteArray objects are temporary, so it works now. I also think temporary objects aren't needed at all. Maybe some style considerations dictate such objects?

[2016-12-03 09:23] yurivict opened #3933 "No paste with middle mouse button from selection in the message history"
When some text in the message history is selected, it doesn't get into the primary clipboard (XA_PRIMARY) and doesn't get pasted on middle click as it is supposed to.

1.6.0 on FreeBSD 11.

[2016-12-03 11:54] zetok commented on #3932
@phd21 since looks like an issue with what Mint is doing (making a frankenbuntu or some other kind of an abomnation), there's not much (nothing?) that can be done about that.

In other words, your distro seems to be intentionally breaking things just because they cannot figure out how to recompile a few packages. Or figure out that mixing packages from different releases is not a good idea.

Since

[2016-12-03 11:54] #3932 closed, assigned to nobody

[2016-12-03 17:29] SlugFiller commented on #3695
The idea is to type in a DIFFERENT password (or be able to type in one even if they don't have one).

As I've explained in the opening post, people might want a different level of security for their local Tox installation (which has to be unlocked on every execution, but is only accessible to people with access to your harddrive), and a remote backup (which only needs to be unlocked if you're reco

[2016-12-03 17:41] zetok commented on #3695
Yes, but why would you make life harder for people who are perfectly fine with using their current password, and most likely would be the majority of use-cases?

Indeed you can, and the button is just a part of an easy-to-use UI.

[2016-12-03 18:39] SlugFiller commented on #3695
It's easy enough to add a "use existing password" button, if people who type that password every time they run Tox suddenly get lazy the once-in-a-century where they need to re-export their account.

And, as you've noted, even before that, the export, currently, is just "sugar" for an operation that is already trivial. While what I'm suggesting is something that is actually difficult to do, and ca

[2016-12-03 19:07] zetok commented on #3695
It's not about adding a button, but about making UI worse.

There's no need to retype the password in the first place. The only reason why retyping password would be needed is when someone would want to export with a different password, something that majority of users most likely wouldn't do.

And yes, people are lazy.

Trivial for some, not so trivial for others.

Right. There is a problem with

[2016-12-03 19:54] bitchecker opened #3934 "after system upgrade qtox is removed from package manager"
I've upgraded my system from Fedora 24 to Fedora 25 and qTox was removed from DNF package manager.

if i try to re-install it, i see this error message:

[code]

[2016-12-03 20:12] zetok commented on #3934
Do you have added repo for the F25?

[2016-12-03 20:19] bitchecker commented on #3934
system upgrade tool provides to update repositories...but not for qtox.

package installed after manual repo-file mod.

[2016-12-03 20:19] #3934 closed, assigned to nobody

[2016-12-03 20:35] SlugFiller commented on #3695
That seems reasonable. Anything is better than the current state, in which it is simply impossible.

[2016-12-04 13:06] zetok commented on #3928
@mikevmk http://openal.org/pipermail/openal/2016-December/thread.html ← there seems to be no message..?

[2016-12-05 21:06] nicolasmaia opened #3939 "" p, li { white-space: pre-wrap; }" gets copied along with message from the messagebox"
##### Brief Description

OS: GNU/Linux (Parabola [an Arch variant])
qTox version: v1.6.0
Commit hash: 5648106b34fc7dc3ad4e169651a0cbbd0139170a
toxcore: 0.0.0
Qt: 5.7.0
Hardware:  https://h-node.org/notebooks/view/en/1640/Samsung-ATIV-Book-2-NP270E4E-KD2BR

Reproducible: Yes

##### Steps to reproduce

1. Type something in the message box, but don't send.
2. Copy that message and paste somewhere els

[2016-12-05 21:43] zetok commented on #3939
Can't reproduce when copying to leafpad.

Can you supply a text sample?
Does pasting somewhere else change anything?

[2016-12-05 22:25] nicolasmaia commented on #3939
I just tried pasting to other places. Interestingly, this only seems to happen when I paste to a Pidgin conversation. Perhaps it's a bug on their end?

[2016-12-05 22:36] zetok commented on #3939
Possibly.

[2016-12-06 04:10] zetok commented on #1569
qTox now doesn't use native file picker, but the Qt one, so the bug should be fixed.

Could someone test?

[2016-12-06 04:13] zetok commented on #1652
Is this still an issue on newest qTox?

[2016-12-06 04:19] zetok commented on #1653
#1963

That's a problem with the font, and there isn't much that qTox can do about it.
https://github.com/qTox/qTox/wiki/FAQ#boxes-instead-of-the-text-tofu

The rich choice of icons is great but always start searching again from panel nr. 1 is not handy.

That's what this issue could be about. Renaming its title, since lots of issues in a single one are way too confusing.

[2016-12-06 04:23] yurivict opened #3943 "Switching video device from None to a valid choice doesn't immediately show the video"
On the Audio/Video page switching {None}->{Valid choice} doesn't immediately show the video. The video appears only when I switch to some other tab and back. This isn't right, can confuse users.

1.6.0 on FreeBSD 11

[2016-12-06 04:27] zetok commented on #1685
White lines seems to have been fixed and there is no apparent interest in the pointy corners, so I'm closing the issue.

![spectacle lh2985](https://cloud.githubusercontent.com/assets/3148759/20913006/09550e4c-bb6c-11e6-8e3e-943f6d4c81ae.png)
![spectacle ex2985](https://cloud.githubusercontent.com/assets/3148759/20913014/21536a02-bb6c-11e6-8df3-f37b2a5c6ee8.png)

[2016-12-06 04:27] #1685 closed, assigned to nobody

[2016-12-06 04:49] zetok opened #3944 "[Regression] friendlist no longer dynamically switches to/from compact mode"
##### Brief Description
It should be possible to switch contact list to/from compact mode during "runtime" without logging out/restarting.

OS: Gentoo Linux amd64
qTox version: v1.6.0-56-g917812d
Commit hash: 917812daaabc8b8118526691e67a3f6e2dd8fcb2
toxcore: 0.0.0
Qt: 5.6.1

Reproducible: Always

##### Steps to reproduce

1. Go to settings
2. Flip the checkbox for `Compact contact list`

##### Obs

[2016-12-06 04:52] zetok commented on #3943
Can't reproduce on feaedeed841f419a8eb5b7f40a14e27ef1e104cb on Gentoo Linux amd64

[2016-12-06 04:57] zetok commented on #1754
Note: IIRC this bug shouldn't affect encrypted profiles.

Does it still count as a bug if it only affects plain profiles? And should we really make data useless to other profiles if it's easily available anyway?

[2016-12-06 05:04] zetok commented on #1911
How do you switch locale?

[2016-12-06 09:51] ElLamparto commented on #3494
@TheNain38, personally I like the Qt picker. Anyway, like most people, I use drag and drop to transfer files. Rarely the picker. For me it is a very, very low priority issue.

[2016-12-06 10:59] ghost commented on #1754
The problem is that the profile picture is (was?) mixed between profiles. The VM profile shouldn't have seen any profile picture at all. I don't know if it's still reproducible, will give it a try later today.

[2016-12-06 12:34] zetok commented on #3943
Logs?

[2016-12-06 12:36] #3930 closed, assigned to nobody

[2016-12-06 16:07] DjDiabolik opened #3945 "Autologin it's not works ?"
##### Brief Description

OS: Windows 10 Home
qTox version: 1.6.0

Reproducible: Always

##### Steps to reproduce

1. Autologin it's not appears... i need every time to put my password...

How i can use the autologin ? On qtox.ini i have put:
[Login]
autoLogin=true

But apparently there's no working.......

[2016-12-06 16:08] zetok commented on #3945
https://github.com/qTox/qTox/wiki/FAQ#can-a-profile-be-automatically-loaded-if-its-password-protected

[2016-12-06 16:08] #3945 closed, assigned to nobody

[2016-12-06 16:11] DjDiabolik commented on #3945
Oh ok..... and if i have a "old" profile created whit utox how i can use on qtox ?

[2016-12-06 16:13] zetok commented on #3945
You can import it. If it's already in `~/.config/tox` qTox should autodetect it.

[2016-12-06 16:14] zetok commented on #3945
https://github.com/qTox/qTox/wiki/Profile actually, for windows there's a different dir

[2016-12-06 22:24] zetok commented on #2179
@yurivict could you provide steps to reproduce?

[2016-12-06 22:34] zetok opened #3946 "qTox should inform user that there's no free space on disk to save things"
##### Brief Description
Currently qTox doesn't inform user that there is "no space left on the device", instead silently failing to do stuff it is required to do, or creating cryptic errors that have nothing to do with the actual problem.

OS: Gentoo Linux amd64
qTox version: v1.6.0-58-gfeaedee
Commit hash: feaedeed841f419a8eb5b7f40a14e27ef1e104cb
toxcore: 0.0.0
Qt: 5.6.1

Reproducible: Always

##

[2016-12-06 22:40] zetok commented on #3910
Update: there's nothing that can be done about the current qTox instances in the wild.

Starting from qTox 1.7 updater will work. :/

[2016-12-06 23:10] zetok commented on #927
@ProMcTagonist could you open a WIP PR with the code you already have added?

[2016-12-06 23:25] LittleVulpix commented on #3910
So people who don't know about this will probably never update their qtox... :(

[2016-12-07 00:19] nurupo commented on #3910
Well, one thing that could be done is to keep https://qtox-win.pkg.tox.chat/qtox update repository compatible with qTox versions 1.5 and 1.6, i.e. keep it in the broken format to work around the bug introduced in 1.5 by #3380, so that 1.5 and 1.6 could update to 1.7. There also needs to be a new update repository with a fixed format somewhere, e.g. https://qtox-win.pkg.tox.chat/qtox-fixed/, which

[2016-12-07 02:18] yurivict commented on #2179
I believe SQLite has a bug that causes the data loss on disk full condition. I can't provide specific steps beyond staging the disk-full condition and trying to use qTox.

[2016-12-07 02:42] zetok commented on #2179
I couldn't reproduce history being erased under those conditions.

[2016-12-07 02:53] yurivict commented on #2179
I had the data loss in the unrelated app using SQLite too. I am pretty sure this is an SQLite problem.

[2016-12-07 02:56] zetok commented on #2179
Steps?

[2016-12-07 03:19] yurivict commented on #2179
Ok, I will close this because this isn't a qTox bug.

[2016-12-07 03:19] #2179 closed, assigned to nobody

[2016-12-07 03:32] zetok commented on #2179
There's no problem with keeping issues for qTox dependencies open as long as they're affecting qTox and haven't been fixed in the dependency.

The problem here is that the issue sounds like something that should be reproducible, but I couldn't reproduce it when I've tried.

I've found some other problems (#3946), but ho history loss. Now, there was message loss, but only of message that wasn't sav

[2016-12-07 03:53] yurivict commented on #2179
No, this kind of problem is sporadic, and hard to reproduce.
There should be the way to simulate random disk failures under the SQLite DB. I might find something suitable maybe based on FUSE FS mounts.

[2016-12-07 03:54] yurivict commented on #2179
Let's keep this closed, I am 99.9% sure this is SQLite fault.

[2016-12-07 13:30] zetok commented on #3747
It worked for some time, then suddenly things stopped working with no changes to qTox scripts.

[2016-12-07 23:31] zetok opened #3952 "[Feature request] button to copy own Tox ID / ToxMe on the add friend page"
##### Brief Description
Currently user to send a friend request (add someone) needs to go to the `Profile` page to get Tox ID. Not intuitive.

Providing a button to copy ID / ToxMe address if available on the `Add friend` page is more intuitive.

Perhaps there is a better way to provide ability to copy Tox ID or ToxMe.

Providing a r-click menu in the profile corner to copy ID / ToxMe?

[2016-12-07 23:41] #927 closed, assigned to nobody

[2016-12-07 23:59] sudden6 commented on #3952
I think a r-click menu wouldn't help much, because it's again invisible to the user by default. A button or a Label in the `Add friend` page, like in the `Profile` page would be the better idea.

[2016-12-08 05:59] DX37 opened #3954 "Seems like Reviewable is not need anymore :)"
There's a post by GitHub.
https://github.com/blog/2291-introducing-review-requests

[2016-12-08 06:14] Diadlo commented on #3954
This feature added PR-reviewer, but not improve github review system. Somewhere in IRC(#qtox or #toktok) was discussion about it.

[2016-12-08 06:14] #3954 closed, assigned to nobody

[2016-12-08 22:16] Chiitoo opened #3957 "[Regression] Timestamps appear in an unintended position."
Not to be confused with 'Timestamp misalignment #2579'.

##### Brief Description

OS: Gentoo Linux (~amd64)
qTox version: v1.6.0-62-g9acacbbf
Commit hash: fb96dd633e55db1f2e030826b939bce841b42af5
toxcore: 0_pre20160904
Qt: 5.8 (qtbase commit [50cb268](http://code.qt.io/cgit/qt/qtbase.git/commit/?id=50cb2687b2864acf66586fab9dd56716ebda4e9d))

Reproducible: Always

##### Steps to reproduce

1. Run q

[2016-12-08 23:10] Chiitoo commented on #3138
Something that comes in mind when I think of plaintext logs, is the ability to choose how they are saved.

One method I have seen and used elsewhere: '../logs/$year/$month/$contact'

Of course, optionally there would be no sorting into sub-directories like that, and simply have a file for each contact.

Just some quick thoughts!

[2016-12-09 00:38] vatterspun commented on #3929
According to Portablefreeware:

https://www.portablefreeware.com/index.php?id=2755

Related: #5354

[2016-12-09 00:44] vatterspun commented on #3349
**Possible workaround** (at least in Windows): Run qTox in concert with [Advanced Onion Router](http://www.te-home.net/?do=work&id=advor).  Both programs are portable and can be run self-contained.

That said, it would be nice to integrate them just so you can set clear expectations about image and file transfers: tor transfers are going to be considerably slower than other connections.

[2016-12-09 19:01] Diadlo opened #3960 "Information message is not copied"
##### Brief Description

OS: Slackware Linux x32
qTox version: v1.6.0-56-g917812d
Commit hash: 917812daaabc8b8118526691e67a3f6e2dd8fcb2
toxcore: 0.0.0
Qt: 5.7.0

Reproducible: Always

##### Steps to reproduce

1. Select info-message (like status or date changing)
2. Ctrl + C
3. Ctrl + V

##### Observed Behavior
Will be pasted previous clipboard content

##### Expected Behavior
Paste info-message

[2016-12-10 14:51] NicoHood commented on #3912
I am currently developing a script to tag a release, push it and then compare the github download against the local files. It will then create a hash of the files along with a gpg signature.

The only part that is left is the uploading of the signature and the hash. Since my script is just some bash, I also want to stick to bash for now. Do you have any ideas or wishes how to upload the release? I

[2016-12-10 16:34] sudden6 commented on #3912
depending on where it should run it could be hard to obtain a go environment, so I'd favor curl magic.

[2016-12-10 17:20] zetok commented on #3912
Tagging a release shouldn't be a part of the script that downloads, compares and signs release tarballs.

It's better to split separate stuff into separate scripts.

[2016-12-11 13:30] Talkless commented on #3372
@AliceGrey @DX37 could you please try to build qTox using my [bootstrap branch](https://github.com/Talkless/qTox/tree/bootstrap)? Please read updated INSTALL.md for setting things up.

qTox now can be built and debugged on Windows (which I need), though ffmpeg DX9/DX11 acceleration is disabled during compilation due to missing DX in Qt-bundled compiler (not sure how this affects video calls though

[2016-12-11 14:14] DX37 commented on #3372
I run `bootstrap.bat` and it still downloading old versions of ffmpeg and OpenAL. Building OpenAL failes on some moment and script continues to work.
Maybe you should update links.
I building this, again, on MSYS2. It also can download `yasm` as a package.

[2016-12-11 18:51] NicoHood commented on #3912
My first version is available here (link might change in the future, look at nicohood.de to find it somewhere if its offline later on).
https://github.com/NicoHood/NicoHood.github.io/wiki/Github-GPG-signed-release-script

You can modify it to your needs, it should be easy enough for most people.

[2016-12-11 18:57] zetok commented on #3912
@NicoHood there's no license info?

[2016-12-11 19:09] NicoHood commented on #3912
Good point. Just use it. Is it public domain then or what? I might some day collect those somewhere else, but that should not matter now.

[2016-12-11 19:37] zetok commented on #3912
Nope. If no license is specified, code is proprietary. Also, explicitly stating that code is public domain isn't valid, given that some jurisdictions don't allow placing stuff in public domain by the author. For that you would want to use `CC0`.

[2016-12-11 22:38] ghost opened #3963 "cross compiling for windows!"
##### How to Cross compile for windows ?

the current instruction for building on windows is broken.

I've tried this fork https://github.com/Talkless/qTox/tree/windows-bootstrap compiles but final qtox.exe crash with sig. fault ( i think caused by `Warning: resolving _getaddrinfo by linking to _getaddrinfo@16` )

so how to build using a linux box, i tried to follow jenkins console log but failed.

[2016-12-12 06:41] Talkless commented on #3372
Are you sure you checkouted right branch? Script should not continue after error [because there is a flag for that](https://github.com/Talkless/qTox/blob/bootstrap/windows/bootstrap.sh#L3).

Concerning versions, yeah, I should update them. At first all I wanted for it is just to build.

[2016-12-12 07:05] DX37 commented on #3372
I got it... I forgot to checkout bootstrap branch. Sorry. Will test script later.

[2016-12-12 10:01] DX37 commented on #3372
Can't `autoreconf -i` from script for toxcore. It says `aclocal-1.15: error: aclocal: file '/msys32/usr/share/aclocal/xsize.m4' does not exist`, when I run it from qTox root directory. But when I run it from `toxcore-master` dir, it works.

And, in some cases, we should use `make -j$(nproc)`, for better speed.

[2016-12-12 10:36] DX37 commented on #3372
Also in `QTOX_DIR` variable you should remove slash and two points, because of toxcore, that can't find vpx and opus in `libs` directory (QTOX_DIR shows directory, where qTox directory lies).

[2016-12-12 10:44] DX37 commented on #3372
@Talkless I have one question - can you install MSYS2?

[2016-12-12 10:49] DX37 commented on #3372
I still have that dumb error...

[2016-12-12 17:21] Talkless commented on #3372
You are using MSYS? It's still designed to be used with old MinGW, as original script did. Please move MSYS2 PATH's below MinGW.

Strange, I get
[code]
toxcore has flag `--with-dependency-search="${QTOX_DIR}/libs"` and `configure` documents:
[code]

So it should find `${QTOX_DIR}/libs/lib/libvpx.a`, at least it does *on my machine* (heh)

Anyway, long story short, I would suggest:
* Make msys2 ina

[2016-12-12 18:45] Talkless commented on #3372
By the way, please PULL some [some minor change](https://github.com/Talkless/qTox/commit/a9c844ab01769c70db5ad3c6ba455dd0cfecb11e).

[2016-12-13 15:50] NicoHood commented on #3912
I've written that its simple MIT. Modify as you wish. Would you mind to add a pgp signature of the github release?

[2016-12-13 18:14] zetok commented on #3912
@NicoHood the script in its current form won't work. Btw, it would be easier to make a repo for it.

[code]

There should be no args passed on the hashbang line – set stuff below it with `set -ex`.

Consider also using `-u -o pipefail`.

[code]

Why would you even need `BRANCH`? `TAG` is supposed to be all that is needed to verify whether given tarball matches.

[code]

The check for repo being co

[2016-12-13 23:11] #3944 closed, assigned to nobody

[2016-12-13 23:39] sudden6 commented on #3861
I can also reproduce this now, on KDE Plasma 5.8 with 2 screens and qTox in single window mode.

Edit: It seems to depend on the content of the chat area. If the chat window is empty, everything works like it should. If the chat area contains text, it breaks.

[2016-12-14 06:54] optimumtact commented on #3963
Here's the configured settings for the qtox windows x64 build on the tox jenkins
[code]

The build script is sourced from another job and can be viewed here:https://build.tox.chat/view/qtox/job/qtox-build-script_src/lastSuccessfulBuild/artifact/qtox-build-script_src.sh/*view*/

It's responsible for doing a lot of the configuration of the build system for the crosscompilation depending on the job i

[2016-12-14 12:43] Ivan97 opened #3966 "crash on macOS Sierra 10.12.2"
##### Brief Description

OS: version OS X
qTox version:1.5.1
toxcore:
Qt:
Hardware:  Macbook pro late 2016

Reproducible: Always
##### Steps to reproduce

just cannot run the application.

here is the log.

[qtox_crash.txt](https://github.com/qTox/qTox/files/651745/qtox_crash.txt)

[2016-12-14 14:25] sudden6 commented on #3966
Seems like ffmpeg is not properly installed. Idk, is it supposed to be in the image?

[2016-12-14 16:43] zetok commented on #3966
Duplicate of #3610, thus closing.

[2016-12-14 16:43] #3966 closed, assigned to nobody

[2016-12-15 07:14] ghost opened #3968 "Force qTox to be portable mode if the user download "portable" zip."
I've downloaded windows portable because I hate installer and I know what I'm doing.

However, when I extract it and start qTox, it creates a folder to user's directory.
This is not a portable at all.

How about adding a 1byte file named "portable.dat" to the zip file?
Then;

[2016-12-15 07:20] ghost commented on #3929
same here.
v1.6.0-78-ge9778e8

[2016-12-15 11:15] Extarys commented on #1307
Do everything and add the option to choose. :+1:

[2016-12-15 18:31] zetok opened #3969 "Video call buttons remain red after end of call"
##### Brief Description
If video call ends while chatform is not visible, buttons remain red instead of returning to green.

OS: Gentoo Linux amd64
qTox version: v1.6.0-76-g5455680
Commit hash: 54556803d1918f86e7422d32358d8bb2c919fe56
toxcore: 0.0.0
Qt: 5.6.2

Reproducible: Always

##### Steps to reproduce

1. Start video call
2. Go to settings
3. Video call ends

##### Observed Behavior
Call butt

[2016-12-15 19:29] NicoHood commented on #3646
Got a crash again.

dmesg:
[code]

[code]

[code]

[2016-12-16 12:41] ddobrev commented on #3883
@zetok @iphydf it's been a month. Do you plan to actually combine your efforts and fix this one instead of blaming each other, or should we all consider qTox for macOS dead?

[2016-12-16 13:09] NicoHood commented on #3912
https://github.com/NicoHood/gpgithub/blob/master/gpgtag.sh

Added. Thanks

The github release requires the branch as an option.

You are right, it is a general notice to please enable the commit signing in general.

Removed the exit code.

It is just to avoid that if people used git add but forget to commit those changes. Unstaged changes are quite likely for developing, so I will not check for th

[2016-12-16 14:11] Diadlo commented on #3883
Migration to CMake (#3913) will be merged after Toktok migration (#3736). Be patient, please :)
@iphydf said, that his version of CMake works correct on OSX

[2016-12-16 16:16] ddobrev commented on #3883
@Diadlo thank you very much, finally the productive answer I've been searching for. I look forward to the restored qTox for macOS.

[2016-12-16 17:49] iphydf commented on #3883
@ddobrev clearly we have combined our efforts. @Diadlo has been leading the merge, and I've been answering questions regarding the cmake stuff I made.

[2016-12-16 18:16] ddobrev commented on #3883
@iphydf I was extremely happy to hear it being totally unaware before. Thank you for your work.

[2016-12-16 20:20] Nurmagoz commented on #2856
this problem still persisting so i wonder if u open it again @zetok

[2016-12-16 21:41] #3890 closed, assigned to nobody

[2016-12-16 22:21] initramfs commented on #3912
@NicoHood

The key in question there is mine, and as seen [here](https://sks-keyservers.net/pks/lookup?op=vindex&search=0x78B8BDF87E9EF0AF) can indeed be found by a public keyserver. As far as I know, there is no default keyserver that is recommended by GnuPG, the closest thing to a recommendation is probably from this [FAQ entry](https://www.gnupg.org/faq/gnupg-faq.html#define_keyserver) on GnuPG

[2016-12-16 22:52] zetok commented on #2856
@TNTBOMBOM did you try what was asked?

[2016-12-16 23:17] zetok commented on #3883
@ddobrev

Do you plan on doing anything else than producing useless comments? Like actually helping?

Too bad that for all the searching of an answer done you couldn't even find out how to help.

If you want osx support help with it. That's about it.

And if you want to blame someone for osx support dying, how about starting from yourself? After all, you are the one who has that os and can test/fi

[2016-12-17 00:23] ddobrev commented on #3883
Useless? That's a good one. I have reported 14 issues and given my vote you for many others, almost all of them universal - to little avail. Whatever, I have already made my peace with the fact that qTox is not going to be useful to the general public any time soon. I'll just keep using it with a few other technical people who can put up with it and keep Skype for all the rest.

[2016-12-17 06:14] zetok commented on #3883
Reporting issues is great. Producing passive-aggressive comments that have little or nothing to do with those issues is not.

[2016-12-17 09:11] zetok commented on #3912
@initramfs

How many is "a few hours" ? It's been almost 12h since your post, and I for one still can't get it:

[code]

[2016-12-17 09:32] zetok commented on #3912
update:

[code]

[2016-12-17 10:25] ghost commented on #3452
Any progress? ASLR is an important security feature.

[2016-12-17 20:44] zetok commented on #3452
There is now #3976, which should help on windows, but before it could get merged someone would need to test whether it doesn't break windows builds.

[2016-12-18 09:58] NicoHood opened #3980 "Switch to c-toxcore"
Hi,
will this project switch to c-toxcore as it is the new upstream toxcore source now? Every other tox client switches to c-toxcore over time now and it would be essential for you to do so too if people want to use tuntox in their linux distribution.

[2016-12-18 10:20] sudden6 commented on #3980
It's nearly done, see https://github.com/qTox/qTox/pull/3736 for more info.

[2016-12-18 15:35] #3898 closed, assigned to nobody

[2016-12-19 00:15] zetok commented on #3980
#3736 with migration to TokTok has been merged, thus closing.

[2016-12-19 00:15] #3980 closed, assigned to nobody

[2016-12-19 14:10] dcapeletti opened #3990 "SSH Control over TOX"
Hello,
Many times I have the need to open a ssh session with the PC of a friend who does not know how to configure a NAT on your router or even know your public IP. Is it possible to use TOX to make a client server program for ssh control?

[2016-12-19 14:12] dcapeletti commented on #3990
I know it is not the right place, but if it is a feasible proposal, it would be interesting to share it in case someone wants to implement it.

[2016-12-19 15:36] sudden6 commented on #3990
You may want to take a look at https://github.com/gjedeer/tuntox

qTox will probably never implement this.

[2016-12-19 16:36] NicoHood commented on #3980
Thanks for the information. It would be nice if you can tag a new version if possible, so we can rebuild all tox clients with the new toxcore. Please also sign the release. Thanks a lot again :)

[2016-12-19 17:37] Diadlo commented on #3969
Can't reproduse on 9c3256386d0b28b5f9a24b2a3979f7326722970a

[2016-12-19 17:55] yurivict opened #3991 "[feature suggestion] Have a F11 shortcut to make qTox full screen"
The full screen feature allows the user to focus on the app better when he is involved in a conversation. All major browsers do this. There is also a line of thinking that users use computer to use apps, not to see the desktop, so individual apps should be able to occupy desktop 100%.

[2016-12-19 18:00] Diadlo commented on #3990
I think, sudden6 answered on your question. Thus I am closing it.
Also, you can contat with us in [freenode#qtox](https://webchat.freenode.net/?channels=qtox)

[2016-12-19 18:00] #3990 closed, assigned to nobody

[2016-12-19 18:03] zetok commented on #3991
Note: fullscreen is already possible when one uses proper window manager.

[2016-12-19 18:14] Diadlo opened #3992 ""Away" status doesn't revert automatically"
##### Brief Description

OS: Arch Linux
qTox version: v1.6.0-113-g9c325638
Commit hash: 9c3256386d0b28b5f9a24b2a3979f7326722970a
toxcore: 0.1.0
Qt: 5.7.1

Reproducible: Sometimes

##### Steps to reproduce

1. Setup small auto-away time
2. Setup "Online" status
3. Wait unitl your status will be "Away"
4. Disable network without any UI activity (take out the wire or use ssh to stop demon)
5. Enable

[2016-12-19 18:26] dcapeletti commented on #3990
Thanks

[2016-12-19 18:47] zetok commented on #3969
@Diadlo right, the instructions weren't very correct, sorry about that.

Improved ones:

1. Start video call
2. Go to settings
3. The other side ends video abnormally, e.g. due to `^C` in gdb
4. Wait in settings until peer is shown as offline
5. Open friend's chatform page, buttons are red.

Perhaps it matters that the open settings page was `Audio/Video`

[2016-12-19 19:24] sudden6 commented on #3980
@NicoHood The next release is planned for 2016-12-25, I also sent out an email to https://lists.tox.chat/pipermail/qtox-dev/ prewarning packagers for the change.

[2016-12-20 03:46] DX37 opened #3993 "Can't build latest qTox from git"
For this moment qTox can't be built, because of this error: http://pastebin.com/43m6rw79.
And last 4 Windows nightly builds can't be built. Almost same error happens on your build server.

[2016-12-20 04:38] zetok commented on #3993
cc @Encrypt @tux3

[2016-12-20 04:40] DX37 commented on #3993
@zetok wait wait wait, this error is on Linux too. I just forgot to say it...

[2016-12-20 04:55] nurupo commented on #3993
@DX37 do you use https://github.com/TokTok/c-toxcore?

[2016-12-20 04:58] nurupo commented on #3993
The Windows builds fail because they use https://github.com/irungentoo/toxcore. irungentoo toxcore uses TOX_PASS_KEY for the struct name, while TokTok uses Tox_Pass_Key, which are different names in C.

[2016-12-20 05:02] DX37 commented on #3993
I building qTox on Linux from AUR (ArchLinux User Repository). Maybe it's PKGBUILD need to be updated now, if you are using TokTok c-toxcore now. And switch to it for Windows builds, of course.

I think I should mail to contributors to replace 'toxcore' dependency to 'toxcore-toktok-git' or 'c-toxcore'. Or to clone 'c-toxcore' repo in qtox-git PKGBUILD.

[2016-12-20 05:22] DX37 commented on #3993
Just one question - why did you switch to 'c-toxcore' ?

[2016-12-20 05:30] zetok commented on #3993
Why wouldn't we?

[2016-12-20 05:32] DX37 commented on #3993
I'm not against. I'm just curious 😄

[2016-12-20 05:35] nurupo commented on #3993
@DX37
- [... Toxcore fork ...](https://blog.tox.chat/2016/08/update-new-client-xenial-packages-tox-in-google-play-toxcore-fork-and-more/)
- [First Stable Release of TokTok Toxcore](https://blog.tox.chat/2016/12/first-stable-release-of-toktok-toxcore/)

[2016-12-20 05:39] DX37 commented on #3993
Ah, now I understand. Thanks, @nurupo.

[2016-12-20 08:39] ghost opened #3995 "Issues in crypto implementation"
Google released a project that can test crypto library implementations against known attacks. This should be interesting to use on tox and clients like qTox.

https://github.com/google/wycheproof

[2016-12-20 10:23] zetok commented on #3995
Doesn't seem to be applicable?

[2016-12-20 17:45] sudden6 commented on #3991
IMO at least for Linux, it's not qTox's responsibility to remove the window borders. Most windowmanagers already have global shortcuts for this.

[2016-12-20 17:51] kcg295 commented on #2624
Hello! I am having a package authentication error on Debian 8.

[code]

I have done the following steps to try to fix this error:

1. `sudo apt-get update && sudo apt-get upgrade`
2. `sudo apt-key update`
3. `wget http://download.opensuse.org/repositories/home:antonbatenev:tox/Debian_8.0/Release.key && sudo apt-key add - < Release.key && sudo apt-get update && sudo apt-get upgrade`

(3rd step as p

[2016-12-20 18:13] yurivict commented on #3991
Same can be said for browsers. Some popular all WMs don't support this feature.

[2016-12-20 21:05] Diadlo opened #3997 "The name does not fit into a selection"
##### Brief Description

OS: Arch Linux
qTox version: v1.6.0-113-g9c325638
Commit hash: 9c3256386d0b28b5f9a24b2a3979f7326722970a
toxcore: 0.1.0
Qt: 5.7.1

Reproducible: Always

##### Steps to reproduce

1. Change Alice alias to `012345678901`
2. Receive message from Alice
3. Select message

##### Observed Behavior
The name does not fit into a selection

##### Expected Behavior
Normal selection

##

[2016-12-20 23:05] zetok commented on #2624
@kcg295 https://qtox.github.io/blog/2016/11/13/Expired-GPG-and-v1.6.0-release.html

Weird though, the key I get from wget is:
[code]
The relevant part:
[code]
Which makes me wonder if you were adding the right (new) `Release.key` ?

[2016-12-21 00:20] zetok commented on #3992
Can't reproduce on 9c3256386d0b28b5f9a24b2a3979f7326722970a

Qt 5.6.2
libXScrnSaver 1.2.2-r1
Xorg 1.18.4

[2016-12-21 05:18] Diadlo commented on #3992
I think, it forget something in steps, but can't remember. Or it's rare

[2016-12-21 07:37] antis81 commented on #3992
@Diadlo Have a look, how/where that user status is generated. You will probably find, that it Is not the right place to generate such an event in the UI (a widget)… and then look how it's done in `ui/redesign`… :)

[2016-12-21 10:47] Diadlo commented on #3992
@antis81 Ok, thanks. Maybe someday I will understand it and cherry-pick right part

[2016-12-21 12:02] antis81 commented on #3992
What I am trying to say is:
Just like with the call status, the status is not reflected correctly and sometimes it takes a minute or two, until a suspicious timer comes by and hopefully sees the right state. This is rather random and barely controllable. Instead, generate an event after (!) the status variable has changed (see `Friend::userStatus / Friend::connectionStatus`).

In the first place,

[2016-12-21 13:49] NicoHood opened #4000 "No Shortcut for kiss smiley"
Normally if you type a short `:D` the characters ar translated into a smiley. This does not apply for the kiss smiley. It would be nice to write kiss smileys like `:*` or `:-*`.

[2016-12-21 17:08] sudden6 commented on #4000
The definition for this smiley is just missing in the "Universe" smileypack, if you switch to "EmojiOne" it's there.
Fixing this would need to add the definition in `emoticon.xml`

Maybe you could submit a PR?

[2016-12-22 08:08] shinodem commented on #3992
have same issue with my friend

[2016-12-22 14:21] kcg295 commented on #2624
The problem was my own stupidity. Sorry for the confusion. It's fixed.

[2016-12-23 11:03] Nurmagoz commented on #2856
@zetok yeah i did , but the point is still the same which = we need to use the BACKPORTS repo in order to install qTox.

if u look at this link:- https://github.com/qTox/qTox/blob/deeb9b2308290e0404198a38a5d4c456ac39b328/INSTALL.md#community-builds

it mention the same thing:-

so we back to the same point that the instructions mentioned here to install qtox:-

https://software.opensuse.org/downlo

[2016-12-23 18:57] NicoHood opened #4003 "Mark message with triple click"
OS: ArchLinux
qTox version: 1.6

If you triple click a message I expect the GUI to mark the whole line/message. Test it on this github message with your browser. But qtox only knows the double click which marks a single word.

[2016-12-23 21:27] sudden6 commented on #4000
closed by af711c0527048a64ee74e58979217e49d4f39a64

[2016-12-23 21:27] #4000 closed, assigned to nobody

[2016-12-24 16:11] nazar-pc commented on #3637
I think latest or one of latest nightly builds fixed this. Can anyone confirm this?

[2016-12-25 00:26] initramfs opened #4004 "Incorrect display and behaviour of call buttons"
##### Brief Description

OS: Arch Linux
qTox version: master
Commit hash:  af711c0527048a64ee74e58979217e49d4f39a64
toxcore:  0.1.1
Qt:  5.7.1

Reproducible: Always

##### Observed Behavior

A regression introduced as part of 917812da has caused incorrect appearance of call related buttons in the chat form, as seen below:

![Compressed buttons and incorrect call button colors](http://i.imgur.com/P

[2016-12-25 00:27] initramfs commented on #4004
@Diadlo @sudden6 @antis81 I'm hoping this can be fixed for the 1.7.0 release, I can't debug it myself since I'm getting on an airplane in a few hours.

[2016-12-25 08:39] antis81 commented on #4004
@initramfs @sudden6 -> #3935

[2016-12-25 09:04] Diadlo commented on #4004
@antis81 #3935 doesn't fix it

[2016-12-25 14:24] #4004 closed, assigned to nobody

[2016-12-25 16:52] sudden6 commented on #3995
qTox isn't a crypto library and doesn't implement any cryptographic functions itself, this is eventually applicable to the crypto library toxcore uses, which is libsodium.

[2016-12-25 18:19] zetok commented on #3910
Fixed for >=1.7. Nothing can be done for the past releases, thus closing.

[2016-12-25 18:19] #3910 closed, assigned to tux3

[2016-12-25 20:08] NicoHood commented on #3980
@sudden6 Thanks. Could you please sign the release? #3912

[2016-12-25 20:29] yurivict opened #4009 "Clipped mike/speaker icons"
1.7.0 has this problem.
![qtox-clipped-audio-icons](https://cloud.githubusercontent.com/assets/271906/21472769/abb40b94-ca9d-11e6-8c7c-949d54e80105.png)

kde4.

[2016-12-25 21:12] yurivict opened #4010 "1.7.0 doesn't show the user went offline, only online"
Previous versions did show "offline" records, and it makes sense, so this is a regression:

![qtox-no-offline-records](https://cloud.githubusercontent.com/assets/271906/21472904/a4061d00-caa3-11e6-94af-f40a14c6b474.png)

[2016-12-25 21:12] sudden6 commented on #4009
@Diadlo this looks like a similar problem like we had in https://github.com/qTox/qTox/pull/3935

@yurivict are you using any special DPI settings or a HiDPI Display?

[2016-12-25 21:16] yurivict commented on #4009
79x78 dots per inch

[2016-12-25 22:49] VVD opened #4012 "[Regression] Russian letters in profiles names"
##### Brief Description

OS: FreeBSD 11.0
qTox version: 1.6.0
Commit hash:
toxcore:  0.160924
Qt:  5.6.2
Hardware:  i386 and amd64

Reproducible: Always

##### Steps to reproduce

1. Install qTox 1.5
2. Create profile with russian letters
3. Update qTox to 1.6

1. Install qTox 1.6
2. Create profile with russian letters

##### Observed Behavior
Don't show russian letters in profiles names.
Profiles

[2016-12-26 01:54] VVD commented on #4012
Tested on 1.7.0 - all same.

[2016-12-26 01:56] sudden6 opened #4014 "simple_make.sh fails on Debian 8"
##### Brief Description

OS: Debian 8
qTox version: 1.7.0
Commit hash:
…

Reproducible: Always

##### Steps to reproduce

1. run simple_make.sh

##### Observed Behavior

![spectacle u32579](https://cloud.githubusercontent.com/assets/5585762/21473831/cb3d08e8-cb16-11e6-83ae-9ed5a6846dce.png)

##### Expected Behavior

simple_make.sh works

##### Additional Info

changing the command to `git checkout

[2016-12-26 09:31] DX37 commented on #3993
Ok, I'm fine with building qTox on Linux. But nightlies from build.tox.chat still can't be built because of linking error. You know that? @zetok

[2016-12-26 10:51] sudden6 commented on #3912
This should now be done, see https://github.com/qTox/qTox/releases/tag/v1.7.0

[2016-12-26 12:03] zetok commented on #3993
Yeah.

[2016-12-26 12:06] nurupo commented on #3993
I notified @tux3, but you know, holidays happened, so it might take some time before he gets to look into it.

[2016-12-26 12:07] nurupo commented on #3993
I tried to fix it myself, but couldn't really figure out what was the issue.

[2016-12-26 22:12] VVD commented on #4012
Tested on 1.5.2 - all work fine with russian letters: open and import profiles.
Support of russian (all unicode?) letters was broken from 1.5.2 to 1.6.0.

[2016-12-26 22:55] #3837 closed, assigned to nobody

[2016-12-27 00:41] VVD commented on #4012
$ git bisect good
29da2210c98a2f1bf2dcaf6af18ba818ceef5d2c is the first bad commit
commit 29da2210c98a2f1bf2dcaf6af18ba818ceef5d2c
Author: sudden6 <sudden6@gmx.at>
Date:   Fri Sep 23 00:12:40 2016 +0200

    feat(smileys): try to load smileys from XDG_DATA_DIR directories

    This provides a location where users can store custom smiley packs

:040000 040000 fb3e0273179cbdab15cd3ed37e8ffcf43d8d82a

[2016-12-27 00:59] sudden6 commented on #4012
[code]

@Diadlo can you help me with this? I'm pretty puzzled why it breaks things...

[2016-12-27 05:52] Diadlo commented on #4012
@sudden6 I'm too :/
Can't reproduce the issue and have no idea, how it can change this behavior.
@VVD are you sure, that you revert this commit when you was on 1.7.0? AFAIR `git bisect` doesn't reset HEAD to the master automaticaly

[2016-12-27 06:18] zetok opened #4016 "[Regression] unable to cancel audio call before it starts"
##### Brief Description
qTox is unable to cancel audio call before it starts (when call button is yellow). It was possible on v1.6.0.

OS: Gentoo Linux amd64
qTox version: v1.7.0-5-gb4c4569
Commit hash: b4c4569299d734d8056e48a6d6dd62f4df2ae86f
toxcore: 0.1.2
Qt: 5.6.2

Reproducible: Always

##### Steps to reproduce

1. Press call button
2. Once it turns yellow, press it again to cancel audio call

[2016-12-27 06:28] #4014 closed, assigned to zetok

[2016-12-27 07:49] VVD commented on #4012
@Diadlo> Can't reproduce the issue and have no idea, how it can change this behavior.
Did you try with same environment - FreeBSD 11 and etc.?

@Diadlo> are you sure, that you revert this commit when you was on 1.7.0?
Ofc I'm sure. I did "./test-pr.sh 4013" before "git revert 29da2210c98a2f1bf2dcaf6af18ba818ceef5d2c" and qTox show version 1.7.0 in about window.

This error is same on 2 different h

[2016-12-27 10:20] sudden6 commented on #4012
The only thing that IMO could have an effect is `#include <QStandardPaths>`, but I looked into the [source of qt](https://code.qt.io/cgit/qt/qtbase.git/tree/src/corelib/io?h=5.6) and couldn't spot anything interesting

[2016-12-27 11:36] zetok opened #4018 "Can't invite friend to a conference"
##### Brief Description
Inviting friend to a conference doesn't work if they have been invited to it already when they were offline.

OS: Gentoo Linux amd64
qTox version: v1.7.0-5-gb4c4569
Commit hash: b4c4569299d734d8056e48a6d6dd62f4df2ae86f
toxcore: 0.1.2
Qt: 5.6.2

Reproducible: Always

##### Steps to reproduce

1. Create a conference by inviting an offline friend to it
2. Once friend comes onl

[2016-12-27 15:50] antis81 commented on #4016
-> #3935

[2016-12-27 20:04] Diadlo commented on #4012
@VVD Nope. Only on Arch linux. I haven't FreeBSD

[2016-12-27 23:42] sudden6 commented on #4012
See https://bugreports.qt.io/browse/QTBUG-57820

[2016-12-28 06:12] zetok commented on #4016
@antis81 no, #3935 doesn't fix it.

[2016-12-28 09:57] zetok commented on #2199
Update: still happens on v1.7.0, toxcore 0.1.2

[2016-12-28 14:09] zetok commented on #2892
Is this reproducible on newer qTox versions?

[2016-12-28 21:58] #4012 closed, assigned to nobody

[2016-12-29 06:14] Diadlo commented on #4018
The сonference shouldn't be created with offline user (toxcore returns error, but seems we ignore it for some reason)

[2016-12-29 10:23] AliceGrey commented on #4010
I'll take a look at this. ~~Most likely happened with merge #3983~~ or maybe sometime earlier? Any ideas @Diadlo

[2016-12-29 11:33] zetok commented on #4010
@AliceGrey generally when in doubt, `git bisect` :-)

#3983 was merged after v1.7.0 was released, so that's not it.

https://github.com/qTox/qTox/wiki/Testing#regression-testing ← a bit on using bisect

f5011cdb2feb2da042e373b4e4094e967bde8120 is the last commit that works with the 0.0.0 irungentoo toxcore, and most likely already has the regression included.

Working version for @yurivict is most

[2016-12-29 12:01] AliceGrey opened #4024 "Own tox id gets auto added to add friend tox id field"
##### Brief Description

OS: Arch Linux 4.4.39
qTox version: v1.7.0-13-gb9c1d59a
Commit hash:  b9c1d59a074a86c3f9b92e7f27f206de03b0fe01
toxcore: 0.1.2
Qt:  5.7.0

Reproducible: Always

##### Steps to reproduce

1. Click your user photo to open your profile
2. Click tox id to copy tox id to cliboard
3. Click add friend button

##### Observed Behavior

Your tox id gets automatically copied to the to

[2016-12-29 12:10] AliceGrey commented on #4010
Thank you @zetok. I'll take a look at that

[2016-12-29 12:36] zetok commented on #4024
git bisect with
[code]
points to the
2a88e5c0696fe5e2c0d8600febe09374994525b9 is the first bad commit
[code]

[2016-12-29 13:14] drrmmng commented on #1655
Any news? :)

[2016-12-29 14:47] #4024 closed, assigned to sudden6

[2016-12-31 08:47] wDraw opened #4030 "Unable to build 1.7.0"
I've taken the 1.7.0 source code as a tar.gz from the releases section. I've installed all depends needed. Am using Debian 8.
Ended up with:

**compiling src/friend.cpp
In file included from src/friend.cpp:26:0:
src/core/core.h:28:21: fatal error: tox/tox.h: No such file or directory
 #include <tox/tox.h>
                     ^
compilation terminated.
Makefile:4339: recipe for target 'friend.o' fa

[2016-12-31 09:07] zetok commented on #4030
You're still missing toxcore.

Also, you should check out https://github.com/qTox/qTox/pull/4022

[2016-12-31 09:49] wDraw commented on #4030
It seems I haven't installed all dependencies then. Sorry for the waste of time.

[2016-12-31 10:08] wDraw commented on #4030
Ok, so I've compiled and installed toxcore, I get now:

**In file included from src/core/coreav.h:27:0,
                 from src/nexus.cpp:24:
src/core/toxcall.h:10:23: fatal error: tox/toxav.h: No such file or directory
 #include <tox/toxav.h>
                       ^
compilation terminated.
Makefile:4420: recipe for target 'nexus.o' failed
make: *** [nexus.o] Error 1**

[2016-12-31 10:11] zetok commented on #4030
Your toxcore is missing AV.

[2016-12-31 10:35] zetok commented on #4030
Use [`bootstrap.sh`](https://github.com/qTox/qTox/blob/master/bootstrap.sh) – it'll either compile toxcore correctly, or it'll error out (in which case you know that you're missing dependencies).

[2016-12-31 10:41] wDraw commented on #4030
I now get:
**error: pathspec 'tags/v0.1.0' did not match any file(s) known to git.**

In my opinion the "Building packages" section, needs to be before the "Compile qTox" section, to avoid confusion.

[2016-12-31 10:56] zetok commented on #4030
Corrected in #4031.

This section is haven't been touched/revised in a very long time, I have no idea whether that stuff even works at all.

[2016-12-31 12:12] wDraw commented on #4030
Even after changing to 0.1.2 it still doesn't work. I don't know what should be done to the docs, but it's confusing for newcomers.

[2016-12-31 14:05] zetok commented on #4030
What was the exact command & error?

Right. I was thinking about simplifying the docs by pointing to `simple_make.sh` and `bootstrap.sh` scripts. What do you think about it?

Also, which parts exactly in the documentation are confusing?

[2017-01-01 12:06] zetok opened #4032 "TODO: refactor autoupdater code to make it work with multiple sources"
##### Brief Description
Currently only a single URL is used for distributing updates, and only single key is allowed for signature verification.

Refactor should make qTox check a list of URLs for binary and a list of PKs for correct signature.

OS: Windows
qTox version: 1.7

Reproducible: Always

##### Additional Info
https://github.com/qTox/qTox/blob/master/src/net/autoupdate.cpp

[2017-01-01 17:42] wDraw commented on #4030
Well I just recompiled toxcore with the 0.1.2 tag and after running `./bootstrap.sh` I got the same error as before.

About the docs I think something like "Common Errors" could be added as a section, to help not so good with git or linux people.

[2017-01-01 17:56] zetok commented on #4030
Oops. Sorry, I've just figured out that the fix (1d98a97e3b8373d351f63d2da1fb3191d8f62690) to the bootstrap.sh was made after v1.7.0 was released – if you're using the version from v1.7.0 tarball it's not going to work.

https://github.com/qTox/qTox/wiki/Troubleshooting-builds

[2017-01-01 20:44] tux3 commented on #4032
If we have to manage several domains and keys instead of one, there is a higher risk of accidentally losing control of a domain (forgetting to renew) or worse, losing control of a key.

The updater could use some improvements, but as it is I'm not sure if adding more sources of trust is a good idea.

[2017-01-01 20:46] zetok commented on #4032
That's a good point. Trust should be removed/minimized.

The scenario where domain owner could create a situation where qTox gets downgraded should be fixed.

[2017-01-01 20:54] sudden6 commented on #4032
We could use the number of commits in qTox as a monotonic increasing version number and only allow upgrades. Then trying to fetch qTox from multiple domains should be feasible and will actually be a good idea.

[2017-01-02 07:45] wDraw commented on #4030
Thanks, saved me some headaches.

Oh sorry, forgot about the wiki.

[2017-01-02 07:45] #4030 closed, assigned to nobody

[2017-01-02 08:45] abcd99 opened #4033 "the first four characters have not received.I-bug"
##### Brief Description

OS: Windows / OS X / Linux (include version and/or distro)
qTox version: v1.5.2-8-gfd04a28
Commit hash: fd04a2832aa885d260ded4e476eefcddd49237b3
toxcore: 0.0.0
Qt: 5.5.1
Hardware:
…

Reproducible: Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce

##### Steps to reproduce

1. Qtox sends a message to the phone's antox, for example the string "abcde", but the

[2017-01-02 09:07] zetok commented on #4033
Can't reproduce. Is your Antox up-to-date ?

[2017-01-02 09:12] zoff99 opened #4034 "qtox portable can not write received files anywere"
##### Brief Description

OS: Windows
qTox version: https://build.tox.chat/job/qTox_build_windows_x86-64_release/lastSuccessfulBuild/artifact/qTox_build_windows_x86-64_release.zip
Commit hash:
toxcore:
Qt:
Hardware:
…

Reproducible: Always

##### Steps to reproduce

1. recevie a file
2. try to save it anywhere

##### Observed Behavior
message says can not write to that directory

##### Expected Beh

[2017-01-02 09:39] abcd99 opened #4035 "I am in China. I report a very serious bug"
##### Brief Description

OS: android 4.4.2
tox version: Antox 0.14.1
Commit hash:
toxcore:
Qt:
Hardware:
…

Reproducible: Always

##### Steps to reproduce

1. in my phone there is an antox, click the settings menu, do not check the "WI-FI Only", antox immediately become offline, can not send and receive messages. My cell phone signal is very good, why it becomes offline? I am in China, the governm

[2017-01-02 09:49] zetok commented on #4035
That's a very old Antox version, you should update. Currently there's 0.24.427.

If issue is still reproducible on newest Antox, you should report it to https://github.com/Antox/Antox.

[2017-01-02 09:49] #4035 closed, assigned to nobody

[2017-01-02 09:51] zetok commented on #4035
Um, it's just probably a bug in Antox.

[2017-01-02 09:51] zetok commented on #4033
Caused by a very old Antox version (#4035), thus closing.

[2017-01-02 09:51] #4033 closed, assigned to nobody

[2017-01-02 09:52] zetok commented on #4034
Version of qTox, windows, other info?

[2017-01-02 11:12] zoff99 commented on #4034
![unbenannt](https://cloud.githubusercontent.com/assets/6833516/21588259/644cd4ea-d0e5-11e6-829e-43de71aec79a.PNG)
https://build.tox.chat/job/qTox_build_windows_x86-64_release/lastSuccessfulBuild/artifact/qTox_build_windows_x86-64_release.zip

this version from just now
32bbdb2b9857341f7230b88114f6a07e62113e3e

windows 7

[2017-01-02 11:19] zoff99 commented on #4034
[code]

[2017-01-02 11:26] zetok commented on #4034
What are the permission in the dir you're trying to save, and as which user is qTox running as?

[2017-01-02 11:44] zoff99 commented on #4034
i have created that directory with the same user as running qtox. also i can not save to any directory on any drive.
maybe its the ":" in the filenames? or something like that

[2017-01-02 11:48] zetok commented on #4034
Oh, right. Sometimes I forget how stupid windows' limitations are.

Duplicate of #1304, thus closing.

[2017-01-02 11:48] #4034 closed, assigned to nobody

[2017-01-02 12:18] zoff99 commented on #1304
please change illegal chars to "_" on atox for windows.

this bug is open for 2 years now :-(
will there be a fix?

[2017-01-02 21:43] Disinterpreter commented on #1304
@zoff99 lol xD

[2017-01-04 00:29] rcornea opened #4043 "[feat] picture-in-picture cannot be disabled. request to add a toggle switch for this."
##### Brief Description

OS:  Debian 8.6
qTox version:  1.7.0-33-gb5af649.
Commit hash:  b5af649190c3fb5347687f80158ac1544976c3df
toxcore:  0.1.2
Qt:  5.3.2
Hardware:  Dell Latitude E6530 / 1920x1080 / Intel Core i7-3720QM / 8GB RAM / Nvidia NVM5200M
…

Reproducible: Always

##### Steps to reproduce

1. Log into qTox.
2. Establish a video call w. someone else.
3. Try right-clicking on the video fr

[2017-01-04 06:37] farseerfc opened #4045 "Please provide source signature for 1.7.1"
I see a new release 1.7.1 is tagged. Please sign the released source tar.
Thanks!

[2017-01-04 08:31] zetok commented on #4045
Is there a script that automates that?

[2017-01-04 10:13] DX37 commented on #3993
Ok, windows nightlies starting now. Thanks to @tux3.
But I met new bug - my avatar and contacts are gone. And, I think, I can't add new contacts.
Logs don't say anything.

[2017-01-04 10:26] farseerfc commented on #4045
NicoHood wrote a script as well as some documentation for that https://github.com/NicoHood/gpgithub#43-sign-the-sources
See also: https://github.com/qTox/qTox/issues/3912
We will download and verify each released tarball during packaging.

In the future, it will be very helpful for us if the project leader can publish a list of fingerprints of trusted GPG keys to somewhere trustworthy (e.g. projec

[2017-01-04 10:57] zetok commented on #3993
Logs don't say anything.

That's a separate issue (a new one should be opened), closing this one.

[2017-01-04 10:57] #3993 closed, assigned to nobody

[2017-01-04 11:34] zetok commented on #4045
@farseerfc

Yeah, I've looked at that repo before making a comment. I haven't seen any docs on ~automated usage, only manual steps. Some of those steps are a bit misleading (e.g. `xz` for release tarballs, not a good format for archives).

The script in the repo probably does the job, but before using it I'd need to make sure that it really does what it should and nothing else. It has over 300 lin

[2017-01-04 13:46] farseerfc commented on #4045
Sorry I don't know any methods exists for automating the whole process. I don't know how qTox developers create releases currently, and how to integrate the signature part with the current process.
But the signing process itself is simple enough, that you just need to upload an asc file created by `gpg --detach-sign --armor` with every release.
If you use [GitHub API](https://developer.github.com/

[2017-01-04 13:50] zetok commented on #4045
Well, it's a simple `git tag -s $tagname && git push $tagname`, rest of the stuff (tarball, zip) is automatically provided by github.

[2017-01-04 14:00] farseerfc commented on #4045
Thanks for the clarification. I will work with @NicoHood to make the scripts usable and understandable.

[2017-01-04 15:23] NicoHood commented on #4045
@zetok The script is currently under development. The readme gives you all information for manual usage and it is really **super simple**. Also you dont need to use the .xz, its just a suggestion. Thanks for the note though, I will read through it. Please sign the new release, otherwise we cannot update the package.

@farseerfc If you want to help, join me on tox, I am working with someone else to

[2017-01-04 18:14] zetok commented on #4045
Made a release with signed tarball, thus closing.

[2017-01-04 18:14] #4045 closed, assigned to nobody

[2017-01-04 19:31] ddanila commented on #3377
Well, apparently problem is that it tries to open video device "DJH4182F117F6VTDR" which does not exist.
Hardcoding deviceName to "FaceTime HD Camera" in camerasource.cpp solves video preview issue, I can see myself in preferences and during the call.
But other party does not see or even hear me + once client crashed for me.
Need to be investigated further...

[2017-01-04 21:35] zetok opened #4048 "[Regression] avatar gets removed on restart"
##### Brief Description
qTox removes avatar from the profile on every restart.

OS: Gentoo Linux amd64
qTox version: v1.7.0-37-g03fe946
Commit hash: 03fe946c2a06b0ad49e38c30e907a35bc243ee92
toxcore: 0.1.2
Qt: 5.6.2

Reproducible: Always

##### Steps to reproduce

1. Set profile avatar
2. Restart qTox

##### Observed Behavior
Avatar is gone.

##### Expected Behavior
Avatar should be retained.

####

[2017-01-05 06:36] farseerfc opened #4052 "qTox 1.7.1 do not install icons"
##### Brief Description

OS: Arch Linux
qTox version: 1.7.1
Commit hash:  6f155d4db806a664d76457d42a20246ffbd5d1ac
toxcore:  0.1.2
Qt:  5.7.1
…

Reproducible: Always

##### Steps to reproduce

1. `make INSTALL_ROOT="$pkgdir" install` as always

##### Observed Behavior

Icons are not installed as 1.7.0, only qTox.desktop get installed.

##### Expected Behavior

Icons installed as 1.7.0

##### Addit

[2017-01-05 06:59] farseerfc commented on #4052
Reverting 8d320ca3be01cdbb137c827df071ce4eebe44e4c fixed the problem.
I think https://github.com/qTox/qTox/blob/8d320ca3be01cdbb137c827df071ce4eebe44e4c/qtox.pro#L272 should be limited to FreeBSD, not for Linux

[2017-01-05 08:00] zetok commented on #4052
cc @sudden6

[2017-01-05 10:29] #4048 closed, assigned to sudden6

[2017-01-05 20:18] #4052 closed, assigned to nobody

[2017-01-05 20:57] martin21 opened #4054 "segmentation fault on startup (sqlcipher packaging)"
Possible duplicates:

segmentation fault on startup after showing profile (main) window #4055 but there qtox crashes straight after showing profile (main) window. Its also qtox-alpha Debian package.

Segmentation fault on qTox startup in KDE #1116 but this dates back quite a while, however, I use Plasma.

##### Brief Description

OS: Linux
qTox version: 201611180121~v1.6.0 (qtox Debian package ver

[2017-01-05 21:08] martin21 opened #4055 "segmentation fault on startup after showing profile (main) window"
Possible duplicates:

segmentation fault on startup #4054 but there qtox crashes straight after login in, but before displaying profile window.

Segmentation fault on qTox startup in KDE #1116 but this dates back quite a while, however, I use Plasma.

##### Brief Description

OS: Debian GNU/Linux Sid

qTox version:: 201612181540~b392e2c (qtox-alpha Debian package version) but seems to crash differ

[2017-01-05 21:10] zetok commented on #4055
Duplicate of #4054, thus closing.

[2017-01-05 21:10] #4055 closed, assigned to nobody

[2017-01-05 21:13] zetok commented on #4054
It looks like a problem with your system.

I.e. since it crashes on `sqlcipher_openssl_cipher`, I'd guess that openssl from your system is incompatible with sqlcipher that qTox binary was linked against.

qTox should work just fine if you compile manually against your system libs. Unless that doesn't work too?

[2017-01-05 21:34] Diadlo commented on #4054
Interesting. The length of the password should be greater than 6

[2017-01-05 22:04] martin21 commented on #4054
Okay, this works. I had to compile toxcore and remove any and all libtox packages that were still installed, which also means I had to remove utox as well. Fortunately qtox seems to have imported the tox_save.tox of uTox, so not yet another tox id.

I compiled with toxcore 0.1.2, is that still recommended or should I use a newer version?

I hope for upgraded / recompiled Debian packages.

[2017-01-05 22:21] zetok commented on #4054
That's the latest release as of now. In a few hours there probably will be 0.1.3 released, careful with that one though since there were some slight problems with the code on master. It will be fixed before 0.1.3 release, but still, proceed with caution.

https://github.com/abbat/tox.pkg#toxpkg ← repo with stuff that is used to build packages for distros, it could make use of some help ;-)

[2017-01-05 22:22] zetok commented on #4054
Since it works, closing.

[2017-01-05 22:25] martin21 opened #4056 "Crash on setting profile password"
Possible duplicate:

segmentation fault on startup #4054

##### Brief Description
toxcore + qTox compiled from git, toxcore from tag v0.1.2

OS: Debian GNU/Linux Sid
qTox version: v1.7.0-43-g6b513819.
Commit-Hash: 6b51381980e4d742efff0905a697040efbcce049
Toxcore-Version: 0.1.2
Qt:  5.7.1-1

Plasma 5.8.4 LTS + KF 5.29

Hardware:  ThinkPad T520

[code]

Reproducible: Always

OS: Windows / OS X / Lin

[2017-01-05 22:32] martin21 commented on #4054
Nope, it doesn´t. The profile of uTox had no password and without password it qTox loaded it.

toxcore + qTox compiled from git, toxcore from tag v0.1.2

OS: Debian GNU/Linux Sid
qTox version: v1.7.0-43-g6b513819.
Commit-Hash: 6b51381980e4d742efff0905a697040efbcce049
Toxcore-Version: 0.1.2
Qt:  5.7.1-1

Yet, on setting a password it crashes

Crash on setting profile password #4056 probably another

[2017-01-05 22:49] martin21 commented on #4054
[code]

which depends on

```Depends: libc6 (>= 2.14), libssl1.1 (>= 1.1.0)```

which is:

[code]

[2017-01-05 23:01] zetok commented on #4056
Duplicate of #4054, thus closing.

[2017-01-05 23:01] #4056 closed, assigned to nobody

[2017-01-06 11:12] martin21 commented on #4054
Zetok, it is a distribution issue, as downgrading libsqlcipher debian package from 3.2.0-2 to 3.2.0-1.1+b2¹ fixes the issue for me.

Reported as Debian bug report:

Debian Bug #850421: libsqlcipher0: qTox segfaults with distro provided libsqlcipher0
https://bugs.debian.org/850421

[1] http://snapshot.debian.org/archive/debian/20161011T120354Z/pool/main/s/sqlcipher/libsqlcipher0_3.2.0-1.1%2Bb2_amd6

[2017-01-06 11:17] martin21 commented on #4054
Diadlo, I meant using test12 as a password. This works as qTox accepts a password with at least 6 characters.

[2017-01-07 06:02] #3452 closed, assigned to nobody

[2017-01-07 17:21] shinodem commented on #4010
i just update to 1.7 and can't see friends in online at old versions of qtox

[2017-01-07 18:02] yurivict commented on #4010
In 1.7.1 friends are online ok for me.

[2017-01-07 18:10] shinodem commented on #4010
@yurivict Where i can find that build? Thanks in advance

[2017-01-07 18:23] yurivict commented on #4010
This depends on your system.

[2017-01-07 18:49] zetok commented on #4010
@AliceGrey any update?

[2017-01-07 18:53] shinodem commented on #4010
@yurivict win10 x64

[2017-01-07 19:13] yurivict commented on #4010
1.7.0 is supposed to be the same as 1.7.1 though. It might be a Windows problem.
I don't use Windows.

[2017-01-08 06:59] shinodem commented on #4010
it seams what 1.7.0 need much time sometimes 10 minutes sometimes 1 hour to connect to friends to see them in online.

[2017-01-08 07:08] yurivict commented on #4010
@shinodem You need to create a separate bug for this. This must be the windows problem, because I don't see this.

[2017-01-08 09:04] zetok commented on #4010
Not a windows problem, but a separate issue should be created.

[2017-01-08 12:17] Diadlo commented on #3159
I'm against of `close to try` by default

[2017-01-08 12:18] sudden6 commented on #3159
Me too

[2017-01-08 13:18] zetok commented on #3159
Seems like there is an "overwhelming majority" in favor of not changing the default, thus closing.

NB: for those who would want default to be changed, you probably would want some more public to take part in the "voting" – perhaps ask reddit or some other places for help to make this happen. I'm sure that you can think of something ;-)

[2017-01-08 13:18] #3159 closed, assigned to nobody

[2017-01-09 03:50] ghost opened #4061 "[Feature Request] Force qTox to use specific internet connection"
##### Brief Description

OS: Windows
qTox version: You are using qTox version v1.7.0.

##### Steps to change connection

1. Settings --> Connections (Make a new tab)
2. Drop down box of list of adapters for internet (Bluetooth, Fiber, VPN, etc.)
3. Click the one you want (and reboot?)

I wasn't sure how to request this and I think this would be a really useful feature for me, and many others. Than

[2017-01-09 12:14] gustavklopp opened #4062 "Video: stuttered. Audio only: Ok. What is the minimum internet speed for video?"
My friend lives in a quite remote area with low speed internet.
Each time I try to connect by webcam, the video stuttered a lot, and even audio itself is very choppy, with background hiss sound.

Connected by audio only, the sound is good.

What are the internet speed requirements for video in fact?
By the way, connected by Apple Facetime (which I honestly don't want to use), even on his bad conne

[2017-01-09 18:02] zetok commented on #4062
That depends on the resolution of video used in the call. The higher the resolution, the higher bandwidth requirements.

Have you tried to set the webcam resolution to lowest possible value in qTox on both ends?

[2017-01-09 19:26] Diadlo commented on #4062
Also, small bandwidth with [this toxcore issue](https://github.com/TokTok/c-toxcore/issues/235) can provide ugly video stream

[2017-01-09 19:32] ddobrev opened #4063 "Provide a binary installer of 1.7.1 for macOS"
qTox 1.7.1 is out but there's no installer for macOS, please provide one.

This issue supersedes https://github.com/qTox/qTox/issues/3883.

[2017-01-09 19:32] ddobrev commented on #3883
Superseded by https://github.com/qTox/qTox/issues/4063.

[2017-01-09 19:32] #3883 closed, assigned to nobody

[2017-01-09 22:02] Diadlo commented on #4010
Should be fixed in current master. Can anyone confirm?
But in current master there is status message duplication (will be fixed in #4066)

[2017-01-09 23:24] Hasshu commented on #4061
Seems to be infeasible on Windows (see qTox/qTox#2965 and irungentoo/toxcore#1530).

[2017-01-10 05:42] yurivict commented on #4010
Still the same problem with 3b56a6e

[2017-01-10 08:30] Diadlo commented on #4010
I can't reproduce

[2017-01-10 08:33] yurivict commented on #4010
It prints "online" message many times in a row. They should be strictly alternating.

[2017-01-10 08:34] Diadlo commented on #4010
@yurivict Friend just goes offline -> online -> offline -> online?
![spectacle ns7124](https://cloud.githubusercontent.com/assets/6306608/21799079/2baf68e4-d731-11e6-8c5c-532e9d83bf47.png)

[2017-01-10 08:43] yurivict commented on #4010
yes, same kind of message several times in a row,

[2017-01-10 19:04] ghost commented on #4061
Ah, well I can use qTox in a VM if i have to. Thanks anyways.

😢

[2017-01-11 05:35] DX37 opened #4068 "Windows night builds again can't compile"
On build.tox.chat last nightlies can't compile.
Some errors from output:

 /*
 ^

and

/usr/bin/i686-w64-mingw32-ld: cannot find dynamicbase: No such file or directory
/usr/bin/i686-w64-mingw32-ld: cannot find nxcompat: No such file or directory
collect2: error: ld returned 1 exit status

Seems like linker trying to link flags xD

[2017-01-11 07:08] sudden6 commented on #4068
Could be https://github.com/qTox/qTox/commit/5928413b28f94764bf4fddfbd6a131d5bebbc46a

@zetok can you take a look?

[2017-01-11 10:47] ghost commented on #4068
Fix https://github.com/qTox/qTox/pull/4069

[2017-01-11 15:14] zetok commented on #4061
Since it doesn't seem doable, closing.

[2017-01-11 15:14] #4061 closed, assigned to nobody

[2017-01-11 16:30] zetok commented on #4068
#4069 was merged, thus closing. If it's still not fixed, comment for reopen.

[2017-01-11 16:30] #4068 closed, assigned to nobody

[2017-01-11 21:35] yurivict opened #4073 "Bogus 'locked profile' messages"
After qTox finishes ungracefully, it sometimes complains about the locked profile when restarted. The problem is this file: ~/.config/tox/{user}.tox.p33979

I think 33979 above is pid. It should only create a warning message when this pid is alive locally. When it is dead the file should be deleted.

Another improvement is to add the hostname to this file name. If my hostname isn't the same as the

[2017-01-11 22:15] zetok commented on #3129
Still happens on 1.7.1

From #4073, thanks to @yurivict

---

After qTox finishes ungracefully, it sometimes complains about the locked profile when restarted. The problem is this file: ~/.config/tox/{user}.tox.p33979

I think 33979 above is pid. It should only create a warning message when this pid is alive locally. When it is dead the file should be deleted.

Another improvement is to add the ho

[2017-01-11 22:16] zetok commented on #4073
Duplicate of #3129, thus closing.

[2017-01-11 22:16] #4073 closed, assigned to nobody

[2017-01-13 19:52] Hasshu opened #4074 "Still no option to disable local peer discovery in the settings?"
OS: Windows 7 Ultimate, SP1 (64-bit)
qTox: v1.7.0
Commit hash: 12c21b21d2d62a27b0002c1add7e4d7faa0d018d
toxcore: v0.1.3
Qt: v5.5.1

Disabling local peer discovery should have been [possible](/TokTok/c-toxcore/pull/306) since v0.1.1 of c-toxcore, but it seems that qTox still doesn't provide a way to do that via the settings.

[2017-01-13 20:13] zetok commented on #4074
Yeah, no one implemented support for it yet.

[2017-01-14 12:09] dcapeletti opened #4075 "New feature. Streaming audio."
**Observed Behavior**
Many people want to share their music with friends, various music themes or even complete folders. The download of each one of them and then reproduce them is a tedious task.

**Expected Behavior**
Then the user can share their entire audio files or folders and their friend can immediately play them from the client qtox by streaming audio.
Even when the user leaves a voice me

[2017-01-14 20:37] sudden6 commented on #2374
Duplicate of https://github.com/qTox/qTox/issues/1913 closing.

[2017-01-14 20:37] #2374 closed, assigned to nobody

[2017-01-16 01:08] yurivict opened #4078 "[feature suggestion] Display image as it comes, not only when it is complete"
Don't wait for the whole image to arrive, display it as it comes.

[2017-01-16 03:05] yurivict commented on #3537
Please remove the "upstream" label. https://github.com/TokTok/c-toxcore/issues/438#issuecomment-272760706

[2017-01-16 06:44] shinodem commented on #1734
it this feature work?

[2017-01-16 12:53] zetok commented on #3537
`upstream` label is there for the parallel file transfers.

[2017-01-17 05:41] DX37 opened #4079 "Windows nightlies builds again"
Linking error:

linking release/qtox.exe
/home/jenkins/workspace/qTox_build_windows_x86_release/libs/lib/libtoxnetcrypto.a(TCP_server.c.obj):TCP_server.c:(.text+0x21): undefined reference to `_imp__send@16'
/home/jenkins/workspace/qTox_build_windows_x86_release/libs/lib/libtoxnetcrypto.a(TCP_server.c.obj):TCP_server.c:(.text+0xda): undefined reference to `_imp__send@16'
/home/jenkins/workspace/qTo

[2017-01-17 10:00] yurivict commented on #4075
This is for the ToxCore.
I made a similar, more general suggestion before: https://github.com/irungentoo/toxcore/issues/1545

[2017-01-17 16:07] Artoria2e5 opened #4080 "Rename zh translation to "zh_cn", and create "zh_tw""
* qTox version: HEAD/482757e
* Reproducible: Always

The Chinese language is commonly written in two different scripts, Simplified and Traditional. The former is what is used in CN, MA, and SG, while the latter is used in TW, HK, and MO. Since the two scripts can look pretty different, most software projects include at least two variants, CN and TW. Additional HK support is usually preferred -- th

[2017-01-17 17:03] zetok commented on #4080
Rename done in #4082. I wonder if the string in https://github.com/qTox/qTox/blob/482757e6a2ab74410f33fca364af1b69f2695ae4/src/widget/form/settings/generalform.cpp#L107 also needs to be changed?

To create new translation via Weblate:
![spectacle ad9725](https://cloud.githubusercontent.com/assets/3148759/22030149/a9dfaadc-dcd4-11e6-8a4b-96084abc623a.png)

[2017-01-17 18:34] Artoria2e5 commented on #4080
Funny that it already says "Simplified Chinese". Although I would prefer "中文（中国）" to correspond better with zh_*CN* instead of zh_*Hans*……

[2017-01-17 18:41] Artoria2e5 commented on #4080
Hmm, I guess I should also suggest some fallback scheme across `zh` variants by [loading multiple translations in an instance](https://doc.qt.io/qt-5/qtranslator.html#using-multiple-translations). For a sensible default fallback order, try Ubuntu's [language-selector data](https://bazaar.launchpad.net/~ubuntu-branches/ubuntu/vivid/language-selector/vivid/view/head:/data/languagelist) (use `langlis

[2017-01-17 19:26] zetok commented on #4080
Would be good to make a separate issue for that.

[2017-01-17 19:57] Artoria2e5 opened #4083 "Implement translation fallbacks for variants"
* qTox version: HEAD/482757e
* Reproducible: Always

Following the changes mentioned in #4080, some translation fallback scheme across `zh` variants by [loading multiple translations in an instance](https://doc.qt.io/qt-5/qtranslator.html#using-multiple-translations) may be desired by users.

For a sensible default fallback order, try Ubuntu's [language-selector data](https://bazaar.launchpad.net/

[2017-01-17 20:05] #4079 closed, assigned to sudden6

[2017-01-18 06:17] Diadlo commented on #3915
Can't reproduse. Can you test it?
[code]
![image](https://cloud.githubusercontent.com/assets/6306608/22052991/e058e27e-dd5e-11e6-851b-21db54a78e0f.png)

[2017-01-18 09:14] yurivict commented on #3995
wycheproof seems to be Java only. It applies to Java implementations of their common cryptographic interface which is a standard there. It doesn't seem to apply to Tox at all.

[2017-01-18 14:42] BigElectricCat commented on #4063
`$ ./osx/qTox-Mac-Deployer-ULTIMATE.sh -b`\

`Starting qmake ... `
...
`compiling ../qTox/src/platform/timer_osx.cpp`
`clang: warning: argument unused during compilation: '-pie'`
`compiling ../qTox/src/platform/timer_win.cpp`
`clang: warning: argument unused during compilation: '-pie'`
`compiling ../qTox/src/platform/timer_x11.cpp`
`clang: warning: argument unused during compilation: '-pie'`
`comp

[2017-01-18 14:50] #4080 closed, assigned to zetok

[2017-01-18 14:56] zetok commented on #4063
@BigElectricCat did you follow https://github.com/qTox/qTox/blob/master/INSTALL.md#first-run--install ?

[2017-01-18 14:59] #3995 closed, assigned to nobody

[2017-01-18 16:54] gianni76 opened #4084 "UDP bootstrap for initial peer discovery"
I have been using Qtox mainly for simple secure chat and file transfers with colleagues when on the field (so almost exclusively in mobile an not-so-stable conditions).

Due to bandwith issues (very strict limits on mobile connections) we have to turn off UDP.
This is not a problem in normal situation, after the connection is established and peers discovered.
But starting with UDP disabled, we rar

[2017-01-18 17:24] BigElectricCat commented on #4063
Yes, I did. During the execution of the script error occurs. This error interrupted the operation of the script (the directory already exists). If you delete or rename the directories, the script is completed successfully.
I solved the problem by using the manual "git clone" for the desired directory (toxcore and qtox). Performing "./qTox-Mac-Deployer-ULTIMATE.sh -u" renewed well.

Sorry for my En

[2017-01-18 20:09] ddobrev commented on #4063
@BigElectricCat I attempted to run the script myself and got various errors, I don't have the time to try any more. So may I ask you for a favour? If you manage to build qTox and it does work, could you please upload the DMG (or app) somewhere (GitHub, DropBox, wherever if feels comfortable) so that I can try it too?

[2017-01-19 07:21] BigElectricCat commented on #4063
Ok, when i compile qtox, i will place it on mega.nz (or other file host).
Links are provided in this discussion.

[2017-01-19 12:06] ghost opened #4085 "qTox randomly forgets text size setting in text input area"
##### Brief Description

OS: Windows 7 x64 English UI, fully updated
qTox version: v1.7.0
Commit hash:  12c21b21d2d62a27b0002c1add7e4d7faa0d018d
toxcore:  0.1.2
Qt:  5.5.1
Hardware:  4K monitor, 3840 × 2160 resolution
High DPI setting in Windows.

Reproducible: Almost Always

##### Steps to reproduce

1. Start qTox.
2. Change Base font size in settings to 48px or some high number.
3. Observe that

[2017-01-19 14:29] zoff99 opened #4086 "Error message when trying to add friend: "couldn'""
##### Brief Description

OS: Windows
qTox version: v1.7.0-79-gf15888b
Commit hash: f15888bad1f04522de31762fcbdc00db0cba6c2f
toxcore: 0.1.4
Qt: 5.6.2
Hardware:
…

Reproducible: Always

##### Steps to reproduce

1. press "+" sign
2. enter toxID of friend
3. press "Enter" or "send friend request"

##### Observed Behavior
a small window with this error pops up every time

##### Expected Behavior
frien

[2017-01-20 02:38] VVD commented on #4012
qTox 1.7.1 affected, bug not fixed.

This workaround work for me:
[code]

More information here:
http://bugs.icu-project.org/trac/ticket/12886
https://bugreports.qt.io/browse/QTBUG-57522

[2017-01-20 09:58] ddobrev commented on #4063
@BigElectricCat hello, how is your compilation going? I would really love for qTox to work again on macOS. The last version that does is 1.4.1 and it's almost unbearable because of https://github.com/qTox/qTox/issues/3158.

[2017-01-20 13:06] shinodem opened #4087 "Gui icons in windows 10"
OS: Windows 10 1607 x64
qTox version: All versions
Commit hash:  all versions
toxcore:  0.1.4
Qt:  5.6.2

Reproducible: Always

##### Steps to reproduce

I always have icons like this
![2atwfn](https://cloud.githubusercontent.com/assets/8992581/22150512/61977d6a-df2a-11e6-8d32-fec7111f43cd.jpg)

[2017-01-20 13:29] Diadlo commented on #4087
Duplicate of #4009

[2017-01-20 13:29] #4087 closed, assigned to nobody

[2017-01-20 15:49] Getron commented on #3314
No one of devs shows little love for this feature...?

[2017-01-20 19:16] sudden6 commented on #4086
can you upload the log output when this is happening? Which language are you using?

[2017-01-20 19:23] zoff99 commented on #4086
there is no indication of any error in the log. with the stabe 32 bit version on the same windows machine it works fine.

[2017-01-20 19:32] sudden6 commented on #4086
Can you resize the error message text to read the full message? Also, are you using English as language in qTox?

[2017-01-20 19:46] sudden6 commented on #4086
Ok, I now why this happens and have a fix for it. This seems to prevent everybody to add someone by ToxID so I marked it as very high priority.

[2017-01-21 11:10] #4086 closed, assigned to sudden6

[2017-01-21 11:45] ddobrev commented on #4063
@iphydf could you please build a DMG for testing using the script? #3158 makes qTox horrible on macOS.

[2017-01-21 12:23] ddobrev commented on #4063
Well, congratulations. qTox is officially useless on macOS because of its constantly starting character-eating. My only remaining friend to use qTox regularly and I have just decided to temporarily go back to Skype until you at least produce a binary release for the Mac. Given how quickly you fix basic bugs, this temporarily is going to last forever. I've been waiting for almost a year now for you

[2017-01-21 15:35] zetok commented on #4063
@BigElectricCat could you make a separate issue for the errors that `./qTox-Mac-Deployer-ULTIMATE.sh` produces?

[2017-01-22 16:24] zetok commented on #4084
If you don't press `Reconnect` after checking that box, there's only placebo effect happening.

Regardless, this is a workaround for the problem, and is not going to be done in qTox. The only workaround that is acceptable is having `Reconnect` button.

The problem seems to be an unreliable (buggy) bootstrapping in TCP-only mode, and it should be reported on the toxcore repo: https://github.com/Tok

[2017-01-23 08:15] dolohow commented on #2965
Since it was implemented in c-toxcore can we add a switch to qTox in order to disable local peer detection/lan discovery feature?

[2017-01-23 16:37] zetok commented on #2965
Sure. Someone would have to do this though.

[2017-01-24 06:27] capta921 opened #4089 "How to compile qTox on linux for to make a windows binary?"

[2017-01-24 06:41] zetok commented on #4089
Duplicate of #3963, thus closing.

[2017-01-24 06:41] #4089 closed, assigned to nobody

[2017-01-24 09:44] capta921 commented on #4089
thank you.

[2017-01-25 08:33] wDraw opened #4093 "qTox autoupdates when there are no new updates"
##### Brief Description

OS: Windows 7
qTox version: 1.7.0
Commit hash:  12c21b21d2d62a27b0002c1add7e4d7faa0d018d
toxcore:  0.1.4
Qt:  5.5.1

Reproducible: Always

##### Steps to reproduce

1. Restart qTox
2. Check "About" section in the options

##### Observed Behavior

qTox autoupdates every time I restart the client, even though there are no new updates.

##### Expected Behavior

qTox to update

[2017-01-25 11:13] Hasshu commented on #2965
@dolohow See #4074.

[2017-01-25 11:21] Hasshu commented on #3314
@Getron

If someone untrustworthy has [physical access](https://en.wikipedia.org/wiki/Physical_access) to your PC, no amount of "locking" is going to help you - be it about security or privacy.

Frankly, I'm not sure what's more idiotic: using one's workplace PC for that kind of things, or expecting any privacy while doing it...

If Telegram is so awesome, why not just use it instead?

[2017-01-27 01:56] ghost opened #4095 "Build macOS Release on Cloud Service"
The [service](https://www.macincloud.com) allows you to rent time on a real, physical Mac with complete XTools etc. qTox will no longer need its own Mac to ship macOS binaries in a timely fashion.

[2017-01-27 14:58] cjsthompson commented on #3637
This is still a problem for me (Arch Linux). qTox is the only Qt app I use that has this scaling problem.

![screenshot_2017-01-27_15-57-04](https://cloud.githubusercontent.com/assets/359383/22375181/54f88cbe-e4a9-11e6-92d0-2769f3b7c56c.png)

[2017-01-27 23:22] ogbaba commented on #3637
Same here, the issue is still present under Fedora 25

[2017-01-27 23:36] im-grey opened #4096 "qTox crashes before/on start on OSX versions 10.8.5 and/through 10.12.2 running on any hardware."
qTox crashes before/on start on OSX versions 10.8.5 and/through 10.12.2

OS: OSX 10.8.5 and 10.12.12
qTox version: (version numbers in menu `Settings → About`)
Commit hash:  6f155d4db806a664d76457d42a20246ffbd5d1ac
toxcore:  Whatever came with 6f155d4db806a664d76457d42a20246ffbd5d1ac
Qt:  Whatever was packaged with 6f155d4db806a664d76457d42a20246ffbd5d1ac
Hardware:  Brand new OSX on Mac mini 2011,

[2017-01-28 00:58] zetok commented on #4096
Duplicate of #3747, thus closing.

[2017-01-28 00:58] #4096 closed, assigned to nobody

[2017-01-28 02:51] FoundOne commented on #3637
I'm on the latest git version under Arch Linux. All looks fine. The screen resolution is 1600x900.

[2017-01-28 02:54] im-grey commented on #4096
Darn, sorry dude. I didn't see it.

[2017-01-28 03:02] zetok commented on #4095
Who is going to pay for it?

[2017-01-28 15:54] sudden6 commented on #3637
@ogbaba @cjsthompson have you tried the `QT_AUTO_SCREEN_SCALE_FACTOR`and `QT_SCALE_FACTOR` variables?

[2017-01-28 21:32] #4009 closed, assigned to nobody

[2017-01-28 21:50] #4016 closed, assigned to nobody

[2017-01-28 22:09] zetok opened #4098 "[Regression] can't make audio/video call after rapidly clicking on audio/video buttons"
##### Brief Description
Rapidly clicking on audio/video call buttons causes some race condition in qTox that renders it unable to make a call.

OS: Linux
qTox version: 1.7..
Commit hash:  320099faf80ca51e60c68953463a60b50b23e4c2
toxcore:  0.1.4
Qt:  5.6.2

Reproducible: Always

##### Steps to reproduce

1. Rapidly click on audio/video call buttons when contact is online
2. If clicked fast enough,

[2017-01-29 00:32] zetok opened #4100 "[Regression] qtox compiled with cmake doesn't install icon or desktop files"
##### Brief Description

OS: Gentoo Linux amd64
qTox version: v1.7.0-104-gf0467ab
Commit hash:  f0467abc34f3dc2308b9cd4473550e8f1d4ce787
toxcore:  v0.1.6
Qt:  5.6.2

Reproducible: Always

##### Steps to reproduce

1. generate makefile with cmake
2. `make install`

##### Observed Behavior
There are no icon, desktop, etc files installed

##### Expected Behavior
Files should be installed just like wi

[2017-01-29 07:44] #3747 closed, assigned to nobody

[2017-01-29 08:07] yurivict opened #4101 "A lot of warnings from clang compiler: argument unused during compilation: '-pie'"
[code]

I think you need to use ```-Wl,-pie``` as per https://www.redhat.com/archives/libvir-list/2013-November/msg00877.html

[2017-01-29 08:20] zetok commented on #4101
@yurivict would you mind making a PR?

[2017-01-29 08:30] yurivict commented on #4101
What is the purpose of -pie and -fPIE in qTox?

[2017-01-29 08:30] zetok commented on #4101
Hardening. #3452

[2017-01-29 09:11] yurivict commented on #4101
Now it appears that ```-Wl,-pie``` is a wrong solution. I will consult FreeBSD compiler experts why ```-pic``` isn't supported.

[2017-01-29 11:49] #4100 closed, assigned to nobody

[2017-01-29 12:34] DX37 opened #4105 "Windows x64 nightly builds, x86 is not"
https://build.tox.chat/view/qtox/job/qTox_build_windows_x86_release/993/console

/home/jenkins/workspace/qTox_build_windows_x86_release/libs/lib/libavutil.a(file_open.o): In function 'avpriv_tempfile':
/home/jenkins/workspace/libffmpeg_build_windows_x86_static_release/libffmpeg/libavutil/file_open.c:136: undefined reference to 'mkstemp'
/home/jenkins/workspace/libffmpeg_build_windows_x86_static_re

[2017-01-29 12:36] DX37 opened #4106 "-fPIC build warnings on build.tox.chat"
For example:

release/moc_camerasource.cpp:1:0: warning: -fPIC ignored for target (all code is position independent)
 /****************************************************************************
 ^

Is this important?

[2017-01-30 10:00] sebasped opened #4109 "Group chats not saved after logout or quit"
##### Brief Description
Groups chats are not saved after logout or quit

OS: Linux (Parabola x64)
qTox version: 1.7.1.
Commit hash:
toxcore:
Qt:
Hardware:
…

Reproducible: Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce

##### Steps to reproduce

1.
2.
3. …

##### Observed Behavior

##### Expected Behavior

##### Additional Info
(links, images, etc go here)

----

E.g., include lo

[2017-01-30 11:20] sudden6 commented on #4109
This is currently a limitation of the Tox protocol, a WIP solution can be found here https://github.com/TokTok/c-toxcore/pull/295

[2017-01-30 18:34] yurivict commented on #4101
The original commit #3452 is wrong. ```-fPIE```  is a compilation flag, ```-pie``` is a link flag. They should be added to the respective variables, and not bunched together. #3452 needs to be fixed, this will resolve this problem.

[2017-01-31 06:29] zetok commented on #4109
Duplicate of #896, thus closing.

[2017-01-31 06:29] #4109 closed, assigned to nobody

[2017-01-31 09:31] nweyand opened #4112 "qTox version number"
When downloading qTox from the website, the file should be named something like setup-qtox-v1.7.0 instead of only setup-qtox, as this would allow to download new versions to the same folder without overwriting the previous installer.

Also, it would allow to determine the version number of an installer at first glance, which is quite nice to have. ;)

[2017-01-31 11:14] Hasshu commented on #4074
Some suggestions: "Enable Local Peer Discovery" could be a checkbox under **Advanced** -> **Connection Settings**, below "Enable UDP (recommended)"; its tooltip could consist of a general description of the feature, followed by a warning about VPN leaks being a possible side effect.

<s>Incidentally, could it be done by v1.8.0?</s>

[2017-01-31 19:36] ghost commented on #4085
After further testing, this bug is triggered when I press BACKSPACE.

In other words, I start qTox, text size is large when I type. The moment I press BACKSPACE, any further text becomes small and remains that way until I restart qTox.

[2017-02-01 05:54] nweyand opened #4113 "Chose intelligent place where to break long messages"
qTox should be able to choose more intelligent places where to beak long messages apart than it does now.

OS: any
qTox version: 1.7.0
toxcore:  0.1.5
Qt:  5.5.1

Reproducible: Always

##### Steps to reproduce

1. Go to your email client
2. Hit Reply on a very long email message
3. Copy the quoted email from the reply window
4. Use qTox to send it to somebody

##### Observed Behavior

The email is

[2017-02-01 12:16] Vort opened #4114 "qtox.svg is corrupted"
[qtox.svg](https://github.com/qTox/qTox/blob/master/img/icons/qtox.svg) logo differs in shape from [qtox.png](https://github.com/qTox/qTox/blob/master/img/icons/256x256/qtox.png)
Here is the difference visualization:
![qtox_diff](https://cloud.githubusercontent.com/assets/1242858/22506407/dd439220-e888-11e6-93b6-b364d34e8909.png)

[2017-02-01 14:44] antis81 commented on #4114
I'd rather say "png is corrupted" in this case… :smile:

[2017-02-01 16:23] zetok commented on #4114
@Vort would you be interested in fixing it?

[2017-02-01 16:57] Vort commented on #4114
@zetok, I don't really know which version should be preferred and why they are different.
My first thought was that asymmetry is a mistake, but it is better to find out what exactly happened here.

[2017-02-01 17:04] antis81 commented on #4114
@Vort When looking at the pattern it might come down to an applied antialiasing "filter" or something like that. It might even be a bug inside the rendering engine… nothing to be worried about too much, but interesting to investigate… have fun :+1:

[2017-02-01 17:07] Vort commented on #4114
@antis81, the one-pixel differences are not a problem, look at the middle of keyhole.

[2017-02-01 17:12] Vort commented on #4114
Screenshot from Inkscape:
![qtox_key](https://cloud.githubusercontent.com/assets/1242858/22517584/4ded7b7a-e8b2-11e6-8c16-840e88b9c81f.png)

[2017-02-01 17:18] antis81 commented on #4114
Ok, just wanted to answer, but you been quicker. You know how to use inkscape?

1. Convert the corner "dot" on the right into… well… a corner (like on the lefft).
2. Probably align the new corner on the right vertically to the one on the left.

So you are right the SVG is "broken" and just has not been exported. Congrats! :+1: :100:

[2017-02-01 18:43] Vort commented on #4114
I have found the source of problem: [this](https://github.com/notsecure/uTox/commit/559c5d94488fd9f6c0658760a4d55bee439cb441#diff-43cf970883fd690a6653ffa2488e5a72) optimization was done not carefully enough.

[2017-02-02 11:13] eagle500 commented on #4010
It happens to me also.

[2017-02-02 11:14] eagle500 commented on #3992
On windows x 64 1.7.0 version it happens all the time.

[2017-02-02 13:03] Mattel88 opened #4117 "Not working on macOS?"
It is not working on macOS. I'm using macOS Sierra and after I've downloaded the APP it instantly crashes.

I've downloaded it over https://tox.chat/download.html

[2017-02-02 20:42] yurivict opened #4118 "Selected text in the conversation history doesn't get copied to the clipboard (XA_PRIMARY)"
It has been the common behavior for GUI programs that selected text is automatically copied into the XA_PRIMARY clipboard, so that it can be easily pasted with the middle mouse button.

qTox doesn't copy selections in the conversation history.

[2017-02-02 21:06] yurivict commented on #4118
https://github.com/qTox/qTox/pull/4119

[2017-02-02 21:10] ghost commented on #4095
If you're pretty sure you could build public macOS releases of 1.7.X series then I can mail you the first $30 cash, just say where to send (I do not use PayPal or Flatter or anything like that, just cash).

[2017-02-03 02:58] nurupo commented on #3612
FFmpeg 3.2.0 includes [the fix](https://github.com/FFmpeg/FFmpeg/commit/18ce63a60e1bffc35b4df5d8a4f9a1ff1a96cb9a), so I have updated FFmpeg on our build server from 3.1.3 to 3.2.2. The patching we did on top of 3.1.3 is obviously removed now, since the commit made it into the release.

[2017-02-03 04:18] #4114 closed, assigned to nobody

[2017-02-03 06:04] #4118 closed, assigned to nobody

[2017-02-03 08:22] ghost opened #4125 "Which is better: qTox and Wire? And why?"
I was using qTox for a long time. I used "Wire" today and it was impressive.
It support desktop, android, iOS, and webapp. "Tox" support only desktop and android
and Antox is unusable condition(crash instantly, see their issues).
Why not collaborate Wire development instead? If you really think qTox is way better than Wire, then tell me, I want to know(not insulting, just for discussion).

https:/

[2017-02-03 09:10] pascalberger commented on #4112
This would also help to maintain the [Chocolatey Package](https://chocolatey.org/packages/qtox).

[2017-02-03 13:40] SkyzohKey commented on #3314
Telegram is a backdoor, thanks.

[2017-02-03 16:34] sudden6 commented on #4125
The main difference is Wire is a hosted service (somebody provides servers) whereas Tox is a decentralized peer to peer network (everybody takes part in helping the network).

The advantage that most popular messengers (including Wire) have, is that with a centralized server infrastructure it's easy to implement things like offline messaging and multiple devices with one account. Also with central

[2017-02-03 16:41] grinapo opened #4128 "[enhancement] join/leave indicator in group chats"
For me it seems an obvious basic requirement that the UI shows when someone joins or leaves the groupchat.

[2017-02-03 16:44] grinapo opened #4129 "multiple enter/quit groupchat make chat history to be in the wrong groupchat subwindow"
I have joined a few groupchats. I have left some, fallen out of others. I was reinvited into some.

Right now I have a groupchat which is Chat#2 (member set 2), but its subwindow shows the history of Chat#1 (and the stuff said by member set 1, who are not there and never been).

I can't reproduce it for you, but maybe you can still realise where the bug lies.

[2017-02-03 18:10] sudden6 commented on #4129
So the title of the chat window is wrong, or the title in the contact list?
Which OS and window manager do you use?

[2017-02-03 18:14] sudden6 commented on #4128
Good idea, needs an option to turn it of though.

[2017-02-03 18:29] sudden6 commented on #4112
@tux3 do you think you can implement this? Maybe replace setup-qtox-latest with a link to the current version.

[2017-02-03 19:16] grinapo commented on #4129
1) header is correct (group name, members)
2) the whole content below the header belongs to a different, already closed (and later rejoined) group

This is Debian/sid, xfce4, but it's not in a separate window but in the something you use which is like a tab content or whatever you call it. :-) Doesn't feel like an X problem, I can switch between the group chats and the content stays there just the

[2017-02-04 07:43] #4018 closed, assigned to nobody

[2017-02-04 14:58] #2671 closed, assigned to nobody

[2017-02-05 01:50] 13ilya-old opened #4133 "Config port in settings window"
OS: Linux/openSUSE
qTox version: (v1.6.0-obs)
Commit hash:  5648106b34fc7dc3ad4e169651a0cbbd0139170a
toxcore:  0.0.0
Qt:  5.7.1

The user should be able to specify the tcp/udp port in the Setup window, through which the client will work and which will be opened by the administrator in iptables.

[2017-02-05 01:55] ghost opened #4134 "Listing a long chat history makes qTox crash"
##### Brief Description

OS: Linux (Arch Linux)
qTox version: v1.7.1
Commit hash:  6f155d4db806a664d76457d42a20246ffbd5d1ac
toxcore:  0.1.5
Qt:  5.7.1
Hardware:  Generic x86 PC hardware
…
Reproducible: Always

##### Steps to reproduce

1.  Right-click in a conversation window that has a lot of history, a year or so.
2. Select "Load chat history..."
3. Go back as far as you think the chat history g

[2017-02-05 01:56] 13ilya-old opened #4135 "qTox ignore system style and theme (QtCurve)"
OS: Linux/openSUSE
qTox version: (v1.6.0-obs)
Commit hash:  5648106b34fc7dc3ad4e169651a0cbbd0139170a
toxcore:  0.0.0
Qt:  5.7.1

qTox ignore system style and theme (QtCurve) and it looks rather more like gtk3-application than native Qt5.
Most likely this is due to the desire to be like the new Skype, but with Linux it's very annoying.
Even if the style settings, select QtCurve, it applies only to

[2017-02-05 02:22] 13ilya-old opened #4136 "Use keychain to store and retrieve password"
OS: Linux/openSUSE
qTox version: (v1.6.0-obs)
Commit hash:  5648106b34fc7dc3ad4e169651a0cbbd0139170a
toxcore:  0.0.0
Qt:  5.7.1

qTox does not remember the password.
I, like most people, do not have a phenomenal memory to keep in mind 100500 passwords of type `pwgen -s 16 1`, and even if not by default, but the client must be a way to store the password without systemic wallets, such as the encryp

[2017-02-05 03:53] zetok commented on #4117
Duplicate of #3610, thus closing.

[2017-02-05 03:53] #4117 closed, assigned to nobody

[2017-02-05 04:31] zetok commented on #4136
Works as expected: https://github.com/qTox/qTox/wiki/FAQ#can-a-profile-be-automatically-loaded-if-its-password-protected

As for using keychain, there was a PR but issues with it were never fixed, so it didn't get merged: #3332

[2017-02-05 04:36] zetok commented on #3330
Supplying password via command line doesn't sound like the best way to go, instead a keychain should be used.

#4136 supersedes this issue, thus closing.

[2017-02-05 04:36] #3330 closed, assigned to nobody

[2017-02-05 04:38] zetok commented on #3329
I wonder if it's possible to implement support for that using a keychain (#4136).

[2017-02-05 06:36] Diadlo commented on #4133
Duplicate of #2581

[2017-02-05 06:36] #4133 closed, assigned to nobody

[2017-02-05 08:11] yurivict commented on #4125
Besides of what sudden6 said, Wire uses NodeJS. npm doesn't have package signing, and routinely picks package versions from github without any review. These practices are very insecure. NodeJS is currently very popular, but it isn't big on security.

Additionally, Wire is based on electron. electron generally doesn't build on anything but major OSes. For example, not on BSD. This is due to the ext

[2017-02-05 08:16] yurivict commented on #4093
Duplicate of https://github.com/qTox/qTox/issues/3771 ?

[2017-02-05 08:25] zetok commented on #4093
@yurivict Yeah, thanks.

[2017-02-05 08:25] #4093 closed, assigned to nobody

[2017-02-05 08:26] zetok commented on #3771
According to #4093 it's still reproducible on 1.7.0

[2017-02-05 08:41] yurivict commented on #3991
Closed via PR: https://github.com/qTox/qTox/pull/4141

[2017-02-05 08:53] zetok commented on #4010
Still not fixed on 5a043599017472c16aa08265edfed9123c94
![spectacle wy1802](https://cloud.githubusercontent.com/assets/3148759/22624881/59a905e4-eb80-11e6-9d0e-842e34bb13ee.png)

NB: if someone's status isn't `Online`, messages differ:
![spectacle ax1802](https://cloud.githubusercontent.com/assets/3148759/22624887/7c945c7a-eb80-11e6-9ea4-18af5de77c60.png)

[2017-02-05 12:48] ghost opened #4143 "[enhancement] Export full chat history to plaintext without listing it in the client"
As of now, when you want to export chat history, you first have to ask the client to list it, and then either choose to save the chat log from there, or copy and paste it into a text file. Listing it in the client can take a while if you have a lot of chat history since it has to wrap all the lines to fit into the window, and as can be seen in issue #4134 this can lead to qTox crashing.

Therefore

[2017-02-05 13:18] DX37 commented on #4105
For nightlies it fixed now. For stable builds - `qtox.pro` [patching failes](https://build.tox.chat/view/qtox/job/qTox-stable_build_windows_x86_release/153/console).

[2017-02-05 13:54] Diadlo commented on #3899
Should be fixed now. IDK, why I reopen it :)

[2017-02-05 13:54] #3899 closed, assigned to nobody

[2017-02-05 14:04] zetok commented on #4063
Done in https://github.com/qTox/qTox/releases/tag/v1.8.1, thus closing.

[2017-02-05 14:04] #4063 closed, assigned to nobody

[2017-02-05 14:08] zetok commented on #3610
qTox 1.8.1 has been [released](https://github.com/qTox/qTox/releases/tag/v1.8.1), could someone affected check if problem is still reproducible?

[2017-02-05 14:10] zetok commented on #4143
Related: #3138

[2017-02-05 14:30] zetok commented on #4095
Thing is, to build OSX release this service doesn't need to be used – travis does the job just fine: https://github.com/qTox/qTox/releases/tag/v1.8.1 , and it's free for FOSS projects.

The only problem is making sure that what is build is actually working – that's something that someone who has a osx license can check.

Closing, since what you seem to want (release build) is provided for newest 1

[2017-02-05 14:30] #4095 closed, assigned to nobody

[2017-02-05 23:40] pems21 opened #4147 "Can't see the other person in video calls"
##### Brief Description

OS: ArchLinux and Windows 7
qTox version: v1.7.1
Commit hash: 6f155d4db806a664d76457d42a20246ffbd5d1ac
toxcore: 0.1.5
Qt: 5.7.1

Reproducible: Always

##### Steps to reproduce

1. Initiate a videocall with someone from qTox 1.7.0 on Windows

##### Observed Behavior

Can only see myself during a videocall. The other person can see both cameras.

##### Expected Behavior

See

[2017-02-06 00:07] ghost commented on #4095
OK by me to close, but here are minor corrections.

1. Cloud service can be used for testing qTox on macOS (not just building it).
2. If you want free help testing qTox on Mac, try Mac forums.
3. I do not own a Mac. I just want people who do to get tox. Pitch as secure Skype on forums.
4. Release builds must update link at https://tox.chat/download.html or Mac folks won't find them. Currently that

[2017-02-06 00:14] ghost commented on #4135
I don't know anything about this issue but add that looking like Skype is a positive benefit from the standpoint of attracting those used to it. I am all in favor of easy style changes following normal Linux methodologies for the purpose. Looking like Skype should be the default if you ask me.

[2017-02-06 00:18] ghost commented on #4112
Ditto for [macOS release](https://github.com/qTox/qTox/releases/tag/v1.8.1) qTox-1.8.1.dmg with qTox-1.8.1.dmg.sig file as well.

[2017-02-06 09:08] Mattel88 opened #4148 "Compiling on macOS does not work."

[2017-02-06 10:07] sudden6 commented on #4148
You have to call the script again with the `-b` option. Call it with `-h` for help.

[2017-02-06 14:32] zetok commented on #4147
Does the other party use qTox as well?

[2017-02-06 18:05] pems21 commented on #4147
Yes, version 1.7.0 of qTox por Windows 64-bits

[2017-02-06 18:18] Diadlo commented on #4147
If I understand correct, this problem can be related with small bandwidth

[2017-02-06 19:12] Diadlo commented on #4125
I think, there enough answers. Thus closing.

[2017-02-06 19:12] #4125 closed, assigned to nobody

[2017-02-07 00:49] towlie opened #4150 "windows cross compilation fails with cmake"
It passes with qmake.

https://gist.github.com/towlie/e52e58bd66a83f362dafce8e0c48fc9a

[2017-02-07 01:33] ghost commented on #3018
Related issue #3968 and possible answer to OP with [Docker for Windows](https://docs.docker.com/docker-for-windows/). If Docker for Windows works as on Linux then offer a short dockerfile and/or build an image with it. I find the idea of portability appealing on all platforms. Mainly I do not want to reboot whatever device(s) just to access a qTox ID and account.

[2017-02-07 05:34] Diadlo commented on #4150
You have problem with [toxcore](https://github.com/TokTok/c-toxcore) build

[2017-02-07 08:55] zetok commented on #4147
@pems21 what is your upload bandwidth?

[2017-02-07 10:11] f8ttyc8t commented on #3610
qTox 1.8.1 works like a charm now.
Thanks for updating it!

[2017-02-07 10:37] towlie commented on #4150
So you want to tell me that toxcore uses libsqlcipher.
For me it looks like cmake cannot handle these static libs.
Was cmake ever tested in Jenkins for Windows builds? I would like to see that.

[2017-02-07 14:19] #3610 closed, assigned to nobody

[2017-02-07 17:56] Mattel88 commented on #4148
Works all. I forgot to -b

Keep up the good work. Worked perfectly.

[2017-02-07 18:01] Mattel88 opened #4155 "Losing connection over Tor a lot"
I'm using qTox on macOS. I realised that I do lose the connection to Tox a lot of the time. Is it normal? I use it over the Tor Browser.

I do not lose the connection as often with Adium for example.

[2017-02-07 18:07] #4148 closed, assigned to nobody

[2017-02-07 20:40] 01BTC10 opened #4156 "Segfault when starting on a fresh Debian Stretch install."
OS: Debian Stretch
qTox version: v1.6.0-obs.
Commit hash:  5648106b34fc7dc3ad4e169651a0cbbd0139170a
toxcore:  0.0.0
Qt:   5.7.1

Reproducible: Always

##### Steps to reproduce

1. Install qtox from "deb http://download.opensuse.org/repositories/home:/antonbatenev:/tox/Debian_Stretch/" on a fresh install.
2. Start qtox and create new profile.

##### Observed Behavior

Segmentation fault:
Thread 5 "

[2017-02-08 00:05] sudden6 commented on #4156
duplicate of  #4054 closing

[2017-02-08 00:05] #4156 closed, assigned to nobody

[2017-02-08 04:18] ProMcTagonist commented on #4155
This happens to me too.

[2017-02-08 05:07] icmtfk opened #4157 "P2P offline messaging feature?"
Let's say Alice(online) sent a message to Bob(offline), but Alice has to stay online in order to deliver that message until they are both online, which is the Pseudo-Offline messaging method. And that is very inconvenient. But what if the message Alice(online) sent to Bob(offline) was forwarded to Carl(online), and when Bob was online again, Carl will send the message to Bob, as a relay. Therefore

[2017-02-08 10:39] sudden6 commented on #4157
duplicate of  #3361 closing

[2017-02-08 10:39] #4157 closed, assigned to nobody

[2017-02-08 10:41] sudden6 commented on #4155
I don't think the connection over Tor is very stable. Additionally when using Tor you need to rely on TCP-Relays in the Tox network, which may also go offline at unexpected times. All in all, I wouldn't recommend using Tox over Tor.

[2017-02-08 10:55] Mattel88 commented on #4155
well but it is a anonymity issue then.

[2017-02-08 10:57] mirek967 commented on #1855
+1 for "contacts" too

[2017-02-08 14:15] agrecascino commented on #3359
Someone should close this, it's fixed.

[2017-02-08 15:06] #3359 closed, assigned to nobody

[2017-02-08 17:23] Mattel88 opened #4159 "How does Tox over Tor work?"
I'm a bit confused because the whole concept of Tox is p2p which connects directly to the other person. How is it possible to run Tox over Tor then? Does it help in order to "hide" your IP?

[2017-02-08 18:31] Nokia808 opened #4160 "Error in qTox repositories for Fedora 24 !"
Hi. I'm new user for Tox.

I'm on Fedora 24 X64 bit. I added repository for qTox from following site:
https://software.opensuse.org/download.html?project=home%3Aantonbatenev%3Atox&package=qtox
by entering in my terminal following:
dnf config-manager --add-repo http://download.opensuse.org/repositories/home:antonbatenev:tox/Fedora_24/home:antonbatenev:tox.repo

Then I installed qTox. I launched it,

[2017-02-09 01:32] icmtfk commented on #4157
Forgive my ignorance, but what does "upstream issue" mean? I'm new to git.

[2017-02-09 04:02] yurivict commented on #4159
My understanding is that Tox doesn't register onion addresses. Instead, it keeps the TCP connection to some of the seed hosts, and gets notifications and calls this way. 2 Tox instances in the tor VMs can connect to each other using the seed host as a proxy. Without the onion addresses there is no way to connect directly.

Practically speaking though, I am not convinced Tox doesn't leak your IP ad

[2017-02-09 05:41] Diadlo commented on #4157
@icmtfk qTox use [c-toxcore](https://github.com/TokTok/c-toxcore) to work with Tox network. And we don't implement protocol stuff directly. We just use API of toxcore library. Upstream means, that offline messaging should be added to the protocol and then to the clients

[2017-02-09 10:24] Mattel88 commented on #4159
If it leaks the IP address even using Tor it is not a solution for me.

[2017-02-09 10:52] sudden6 commented on #4160
the repository is maintained by @abbat please open an issue there https://github.com/abbat/tox.pkg

Although I don't think this is not a real issue.

[2017-02-09 11:03] zetok commented on #4159
Yes, internet is full of people who don't know what they're talking about.

[2017-02-09 11:39] Mattel88 commented on #4159
So I do not have to worry? Well I'm still a noob and wanted to ask. :)

[2017-02-09 12:46] DX37 commented on #4150
At [this](https://build.tox.chat/view/qtox/job/qTox_build_windows_x86_release/1022/consoleFull) moment - [nope](https://build.tox.chat/job/qtox-build-script_src/).

[2017-02-09 13:14] DX37 opened #4162 "Cannot login in encrypted profile"
OS: Arch Linux (maybe on other OSes too, I'm not tested this on Windows)
qTox version: 1.8.1.r22.g0bad48ed
Commit hash: 0bad48ed
toxcore: 0.1.5
Qt:  5.8.0

Reproducible: Always

##### Steps to reproduce
For example:
1. Create profile with or without password
2. Set password, if you not set it.
3. Quit qTox and log in again.

##### Observed Behavior
qTox will say `toxcore failed to start, the appli

[2017-02-09 15:25] sudden6 commented on #4162
@DX37 please test with the mentioned PR, it should fix it.

[2017-02-09 15:39] #3991 closed, assigned to nobody

[2017-02-09 17:40] yurivict commented on #4159
@Mattel88 If you want to be 100% sure, like with all other networking software, you should run Tox from the virtual machine connected to Tor. This minimizes the exposure to any potential bugs of this nature. Install Whonix on top of VirtualBox - this will do the trick. Tox works fine this way, even though without using onion addresses it often has to use the third host, which is inefficient.

[2017-02-09 18:19] yurivict commented on #4159
I just did a simple experiment. With 'Enable UDP'=off, 'Proxy type'=SOCKS5, 'Proxy address'=localhost I looked at system calls it makes, and found this:

[code]

This is the UDP socket for the clearnet IP 104.156.104.15. So Tox does leak IP despite the proxy setting.

With the above network settings all connections should go through the proxy, no UDP should be attempted. No IPs besides 127.0.0.1 s

[2017-02-09 19:19] fcore117 commented on #4159
ISP knows your IP and usually most of websites you visit normally every day, if you really fear IP leak then do not add friends in Tox who you do not know. yurivict: file bug raport about that UDP off

[2017-02-09 19:21] yurivict commented on #4159
No, you are wrong. ISP doesn't know what user does over Tor.

[2017-02-09 20:42] yatsenkoanton commented on #4162
I have the same issue with the same versions.  Old encrypted profiles are not loading

[2017-02-09 21:08] yurivict commented on #4159
https://github.com/TokTok/c-toxcore/issues/469

[2017-02-10 04:46] DX37 commented on #4162
Yep, it works.

[2017-02-10 16:37] Mattel88 opened #4164 "Why do I have version 0.1.0 with Toxcore?"
I'm using qTox with macOS and downloaded the .dmg installer for my mac.

qTox is working fine but I see that it is using the Toxcore version 0.1.0

Why is that?

0.1.6 is available

[2017-02-10 16:38] zetok commented on #4164
https://github.com/qTox/qTox/blob/1e7fc8cc5293b1e5063f29b40108e3c926c8b25b/osx/qTox-Mac-Deployer-ULTIMATE.sh#L129

[2017-02-10 16:49] Mattel88 commented on #4164
Anything I can do in order to fix that?

[2017-02-10 16:49] zetok commented on #4164
You can always make a PR to bump the version.

[2017-02-10 17:26] sudden6 commented on #4164
I think it would be a good idea to build with the newest compatible release automatically.

[2017-02-10 17:34] zetok commented on #4164
It would result in broken builds, be it sooner or later.

[2017-02-10 23:57] TheOuterLinux opened #4165 "MacOS: The wrong version numbers are showing for "Get info.""
##### Brief Description
The wrong version numbers are showing for both "Get info" and the Toxcore (unless using TokTok).

OS: macOS Sierra (Technically not OS X anymore)
qTox version: 1.8.1
Commit hash:  https://github.com/qTox/qTox/commit/bdbf2b461bd2fde5c2cc00fca364f76e5b448356
toxcore:  0.1.0
Qt:  5.8.0
Hardware:  Macbook Pro
…

Reproducible: Always

##### Steps to reproduce
1. Right-click qTox

[2017-02-11 01:11] #4162 closed, assigned to nobody

[2017-02-11 02:02] #4105 closed, assigned to nobody

[2017-02-11 06:11] zetok commented on #4165
#4164

[2017-02-11 10:43] Hasshu commented on #4112
By the way, how up-to-date are the recent non-Linux builds, <i>actually</i>?

At least under Windows, the toxcore version number seems to get updated every now and then, while qTox itself is stuck at "v1.7.0".

[2017-02-11 10:59] Hasshu commented on #4074
Any ETA?

This here is a gaping security hole.

[2017-02-11 12:35] zetok commented on #4074
No. `help wanted` label means that help is wanted with this one. Perhaps `up for grabs` would be more clear?

Not quite. Current tox security model only really covers privacy, and not anonymity.

[2017-02-11 13:48] zetok commented on #4135
@IlyaIndigo how do you propose to solve the problem and preserve qTox's look & feel?

[2017-02-11 14:33] 13ilya-old commented on #4135
I, unfortunately, do not have experience programming in both Qt and I do not know how to solve this problem.
But I know of Qt application and look the same as configured in QtCurve, except qTox.
![qtcurve](https://cloud.githubusercontent.com/assets/2612812/22854464/d5c8bfa6-f077-11e6-9f70-822bc7a3c02b.png)
![qtox](https://cloud.githubusercontent.com/assets/2612812/22854465/d5cc5ff8-f077-11e6-89e5-

[2017-02-11 14:46] zetok commented on #2786
Is it still reproducible?

[2017-02-11 14:52] zetok commented on #4135
@IlyaIndigo qTox on the screenshot seems to look just fine?

related: #1639 #1641

[2017-02-11 15:06] 13ilya-old commented on #4135
qTox on my screenshot looks awful, and not as set in the settings of the theme and what it looks like any other Qt-applications on my system.
Even Skype looked most similar to all other applications.
qTox partially ignores the color scheme (background should be dark blue and not white but yellow checkboxes elements it picks up), and all the elements should be green, not white, but one of the eleme

[2017-02-11 15:37] g4jc commented on #4159
The leaks I have seen are caused by bad user configuration.
1) Disable IPv6
2) Disable UDP
3) Set proxy.
4) Still leaks DNS queries, per bug yurvict mentioned, but not other traffic.

Failing to do this, you will definitely leak over IPv6 and UDP.

[2017-02-11 15:49] zetok commented on #4159
What @g4jc wrote should be added to the [user manual](https://github.com/qTox/qTox/blob/master/doc/user_manual_en.md) / [FAQ](https://github.com/qTox/qTox/wiki/FAQ).

[2017-02-11 16:05] Hasshu commented on #4074
@zetok

Actually...

(☞ﾟヮﾟ)☞

Do it!

[2017-02-11 18:21] Talkless commented on #3372
With new CMake build setup, new issues. Yay!
[code]

If I remove `C:/MinGW/msys/1.0/bin` from PATH (which is nonsense, how will `bootstrap.bat` will execute `windows/bootstrap.sh` then?), I get missing PKG_CONFIG_EXECUTABLE:
[code]

@DX37 Do you have any progress on building on Windows with MSYS2?

@zetok Seems like making qTox build on Windows "natively" is not only missing feature, but it's beco

[2017-02-11 22:32] Neogrey opened #4169 "qTox errors on start (after updating fedora)"
##### Brief Description

OS: Fedora 25
qTox version: 1.6.0-6.4
Qt:  5.7.1-13

##### Steps to reproduce

1. Updating Fedora 25 (include  Qt to 5.7.1-13)
2. Start qTox
3. Got Error

##### Observed Behavior
qTox not starting

##### Expected Behavior
qTox is starting

##### Additional Info

Maybe this is related to the update from Qt  5.7.1-10 to 5.7.1-13 ? or is this an Fedora bug ?

Error:

Updated

[2017-02-12 06:02] DX37 commented on #3372
Please, try it with MSYS2. Original MSYS is too old for using :/
And... I don't have any progress. But I didn't try to compile with cmake, so... Testing!

[2017-02-12 06:47] #4165 closed, assigned to nobody

[2017-02-12 09:10] DX37 commented on #3372
I can't compile sqlcipher!... There's a [pastebin](http://pastebin.com/qHVNwKgV).

[2017-02-12 12:08] soredake commented on #4159
@yurivict can you pls test with https://github.com/rofl0r/proxychains-ng?

[2017-02-12 16:39] zetok commented on #3377
Is this still reproducible on [newest](https://github.com/qTox/qTox/releases/latest) qTox 1.8.1 ?

[2017-02-12 16:40] zetok commented on #3117
Is this still reproducible on [newest](https://github.com/qTox/qTox/releases/latest) qTox 1.8.1 ?

[2017-02-12 17:18] ddanila commented on #3377
Yes, it's still reproducible:
`
[17:16:35.954 UTC] video/camerasource.cpp:355 : Debug: Closing device  "none"
[17:16:35.954 UTC] video/camerasource.cpp:269 : Debug: Opening device  "CC25065HCQCF6VVD1"
[AVFoundation input device @ 0x7fdf600befa0] Video device not found
[17:16:35.954 UTC] video/camerasource.cpp:283 : Warning: Failed to open device!
`
You are using qTox version v1.8.1.
Commit hash: b

[2017-02-12 22:18] yurivict commented on #4159
@soredake qTox seems to work fine with proxychains-ng on FreeBSD.

[2017-02-12 22:43] soredake commented on #4159
@yurivict no dns leaks?

[2017-02-12 22:56] yurivict commented on #4159
I don't see DNS leaks with proxychains-ng.

[2017-02-12 23:06] soredake commented on #4159
So it's worth mention in user manual or FAQ.

[2017-02-12 23:11] yurivict commented on #4159
Yes, as a workaround.

[2017-02-13 11:10] dolohow opened #4171 "Crash when attempting voice call"
##### Brief Description

OS:  Arch Linux
qTox version: 1.8.1
Commit hash:  bdbf2b461bd2fde5c2cc00fca364f76e5b448356
toxcore:  0.1.5
Qt:  5.8.0
…

Reproducible: Couldn't Reproduce

##### Steps to reproduce

1. Make a phone call

##### Observed Behavior
qTox crashes

##### Expected Behavior
Voice call is made

----

[code]

[2017-02-13 14:51] DjDiabolik opened #4172 "Lost all friends avatar after removing password from my profile......."
##### Brief Description

OS: Windows 10 Home X64
qTox version: 1.7.0
Commit hash:  12c21b21d2d62a27b0002c1add7e4d7faa0d018d
toxcore:  0.1.5
Qt:  5.5.1

Reproducible: Always

##### Steps to reproduce

1.  I have removed password from my profiles for obtain back the autologin works
2. On friends list now all the image picture it's not more present and no more loaded.
3. Also my friends can see my pr

[2017-02-13 14:52] DjDiabolik commented on #4172
mmmmmm.. i also can add.. i see a 1.8.1 it's present.. because no propose to me to upgrade ?

[2017-02-13 16:05] marmistrz opened #4173 "qTox hangs after enabling webcam"
##### Brief Description

OS: Arch Linux
qTox version: 1.7.1-5
Commit hash:  6f155d4db806a664d76457d42a20246ffbd5d1ac
toxcore: 1:0.1.5-1
Qt: 5.8.0-1
Hardware: Asus R556 notebook
…

Reproducible: Always, persistent after reboot

##### Steps to reproduce

1. Enter settings, audio/video
2. Video device is set to none
3. Enable video device

##### Observed Behavior
The LED indicating capturing picture

[2017-02-13 16:32] marmistrz commented on #4173
This seems to be a problem with my system: https://bbs.archlinux.org/viewtopic.php?pid=1690799#p1690799
I'll reopen this if it is not.

/edit: yes, this was solved by using `options uvcvideo nodrop=1`

[2017-02-13 16:32] #4173 closed, assigned to nobody

[2017-02-13 20:50] sudden6 opened #4174 "New OBS package maintainer needed"
Since the https://github.com/abbat/tox.pkg and the corresponding OBS repository is no longer maintained, we need a new maintainer who can do that.

[2017-02-13 22:09] yurivict commented on #4155
https://github.com/TokTok/c-toxcore/issues/475

[2017-02-13 22:12] yurivict commented on #4085
This is fixed in the master, please close this bug.

[2017-02-14 01:18] TheOuterLinux commented on #3562
My web cam doesn't show up in the list at all for me, but I'm running a custom made distro from SuseStudio on an old Macbook, so who knows (iSight nonsense); I can get Desktop mirroring to work though. My distro is 32-bit OpenSUSE 13.2 based. If you can get the webcam to work with a screen recorder and then use that with JACK for audio, it may be a crude but temporary fix for now.

Could you edit

[2017-02-14 05:33] #4085 closed, assigned to nobody

[2017-02-14 09:23] Hasshu commented on #4074
Lol, GJ.

`</ot>`

[2017-02-14 09:56] yurivict opened #4175 "cmake build fails"
[code]

```-D_THREAD_SAFE;-pthread``` gets into the command lines. Semicolon causes this problem.

Found on FreeBSD.

[2017-02-14 12:51] DjDiabolik commented on #4112
By the way because here on github it's present 1.8.1 and latest for windows it's 1.7.0 from site.....

[2017-02-14 12:55] DjDiabolik commented on #3891
@zetok question: You can watch the avatar of all your friends in friends list or in chat ? I have lost and all it's not visible after i have deleted the password from my account............

[2017-02-14 20:22] ghost opened #4176 "[Explained] Huge non-scallable windows (QTox 1.8.1 with Qt 5.6.2)"
##### Brief Description
OS: PCLinuxOS - stable, current, rolling distro
qTox version: 1.8.1
Commit hash:
toxcore:  0.1.6
Qt:  5.6.2
Reproducible: Always
##### Steps to reproduce
1. Run QTox
##### Observed Behavior
Login window and then main program window are huge and unscallable. All is similar as in https://github.com/qTox/qTox/issues/3637 . Setting up QT_AUTO_SCREEN_SCALE_FACTOR=0 environment v

[2017-02-14 21:51] Neogrey commented on #4169
Fixed with today qt update, so was an fedora problem.

[2017-02-14 21:51] #4169 closed, assigned to nobody

[2017-02-15 22:24] #4112 closed, assigned to nobody

[2017-02-15 23:47] smschumacher opened #4178 "qTox crashed when created passwort protected account"
##### Brief Description

OS: Debian 9 Stretch with Gnome, Linux mars 4.8.0-2-amd64 #1 SMP Debian 4.8.15-2 (2017-01-04) x86_64 GNU/Linux
qTox version:   qTox version v1.6.0-obs.
Commit hash:  5648106b34fc7dc3ad4e169651a0cbbd0139170a
toxcore: 0.0.0
Qt: Using Qt version 4.8.7 in /usr/lib/x86_64-linux-gnu. Obvious rather old for a rather new system stretch. Should I consider updating it? Password crea

[2017-02-16 03:23] tux3 commented on #4178
Please note that qTox is not compatible at all with Qt 4.8.7, you need at least Qt 5.3.0 (although I suspect that if you didn't have Qt 5 qTox wouldn't have started at all).

Edit: This seems to be a duplicate of #4054, this is a bug with the sqlcipher package in Debian. Downgrading to a previous version of sqlcipher fixes the problem in the meantime.

[2017-02-16 03:46] #4178 closed, assigned to nobody

[2017-02-16 16:54] Qwash commented on #4159
Sorry for that but, I didn't understand, disable the UDP result in IP leak or keeping the UDP result in the leak?

[2017-02-16 17:15] yurivict commented on #4159
This is still a Tox problem, it shouldn't allow UDP when not available.

[2017-02-16 23:15] smschumacher opened #4181 "[Enhancement] Import contact list"
Hello

I would like to be able to import a centrally managed user list ( essentially a list of Pubkeys, maybe with the current user names as additional information). We are a growing company and I would prefer a simpler alternative to the copy-and-paste-orgy which new users have to endure until all their colleagues are on the contact list.

Also: Should clicking on tox:toxid - links work in the mo

[2017-02-17 02:23] tux3 commented on #4181
Hello,

I wrote something quick to add a list of contacts from a file, would that solve your problem?
The tox:toxid URLs should work if qTox was installed correctly. If they don't, please file a bug with the details and I'll be happy to take a look at it.

You can also find a user manual on our wiki for more informations: https://github.com/qTox/qTox/blob/master/doc/user_manual_en.md

[2017-02-17 02:36] zetok commented on #1925
on qTox 1.8.1 it still doesn't work, although it results in error message: `<tox id> is not a valid Toxme address.`

[2017-02-17 02:39] zetok commented on #1926
on 1.8.1 bug is still present, although it results in 100% CPU usage only until one loads a profile

[2017-02-17 02:41] zetok commented on #4181
#1925 #1926

[2017-02-17 02:42] tux3 commented on #4181
@zetok Thanks! Seems I forgot about those, I'll investigate.
Edit: #4183 should fix that.

[2017-02-17 15:23] DjDiabolik commented on #4172
I have an example................ look there's a chat windows whit a my friends.

Look his avatar..........it's present on Chat windows but now in windows list.......  It's normal ? It's a bug ?

Link to watch the screenshot:
http://imgur.com/iJG6gG1

[2017-02-17 15:32] DjDiabolik commented on #4112
Now it's setup-qtox-1.8.1.exe....... but on version inside "Info about qtox" i continue to read 1.7.0... it's normal ?

Add a feature to check upgrade directly from app........... i thinks it's a good.

[2017-02-17 17:30] smschumacher commented on #4181
Hi

Thank you very much for your effort. In fact this would make the final rollout of qTox (in the moment I am testing it with the technical staff) a lot easier.

Yours Sincerely
Stefan

[2017-02-17 18:37] tux3 commented on #3460
Done, since we also have version numbers the installers are named like setup-qtox64-1.8.1.exe and setup-qtox32-1.8.1.exe

[2017-02-17 18:37] #3460 closed, assigned to tux3

[2017-02-18 17:21] smschumacher commented on #4181
Just one question: Does the contact list just contain the plain Tox-Ids? In that case, adding a name as comment would quite helpfull. I could easily identify users who have left the company and not add their names to the list of new users, which would only cause confusion. I was thinking of someting along tis line:
tox:E833B2F6DB8185940E014D3DAFC12648D18178893FB5F5E8C5CD7DDAA774844FBC97C7714DFA #