[2016-02-06 19:34] Talkless opened #2932 "Refactoring: move Qt generated files into subdirectory"
When compiling qTox _not_ in "shadow build" mode (Qt Creator), root project dir gets filled with ui*.h, moc*.cpp and *.o files, which is annoying.

I have prepared patch to use qmake's MOC_DIR, UI_DIR and others to move these generated files into tmp subdirectory.

[2016-02-06 19:55] ghost commented on #2921
The notifications are in the right screen but the wrong place (upper right corner instead of bottom right, too high) and they don't disappear unless I finish qfiction.

Before any notification

![01](https://cloud.githubusercontent.com/assets/6382342/12869008/e295d396-cd13-11e5-8409-3f15ed94bf24.png)

After 1 notification

![02](https://cloud.githubusercontent.com/assets/6382342/12869011/eb5c8bbe-

[2016-02-06 19:59] agilob commented on #2921
That's correct, it should be in right top corner, bottom right is wrong and you should feel bad.

Which is what should happen, I just asked to test if you have transparency and experience bug with multiscreen setup.

I don't understand anything else from your comment.

[2016-02-06 20:09] ghost commented on #2921
Eww, no, nothing goes where I change tabs.

The images are how I see it (ie cropped), `clang` is the extra dependency I had to install to compile, `x: 1544 y: 61` is qfiction's output in my terminal. Post edited.

[2016-02-06 20:28] agilob commented on #2921
My CI (FBSD) doesn't have gcc/g++ I didn't bother installing it, so it is clang, it will work with g++ just [remove two lines from .pro file](https://gitlab.com/agilob/qfiction/commit/a7f3af18e675bb968ca12f61c0d0a8d3daf682ab).

That's location on the screen where centre of the notification is, meaningless for you unless you have 3 screens, then those values would tell me how wide/high screens setu

[2016-02-06 22:06] khallebal commented on #2930
I have all the headers in the system path /boot/system/develop/headers/tox and all the libs but i keep hitting this error, something else is triggering this but i can't put my finger on it, i'm not familiar with qtox code. anything else i should check?

[2016-02-06 22:45] ghost commented on #1310
That sounds great!

[2016-02-07 05:00] RowenStipe commented on #2921
At this point we may as well have a separate tab in settings to deal with notifications.

[2016-02-07 05:09] RowenStipe commented on #2921
![OSX Screenshot](https://cloud.githubusercontent.com/assets/1356364/12870991/c7af81ce-cd2e-11e5-8b5c-46fd27ce76dd.png)

How it looks on OSX, I have a dual screen set up and it's appearing to the farthest right in the screen set up.

[2016-02-07 05:17] RowenStipe commented on #2921
Also update on my own progress, I've got basic debug outputs setup for [new messages](https://gist.github.com/RowenStipe/ab652ce2485159b8de91) and I have friend online status notifications working but it has lead me to [some interesting output](https://gist.github.com/RowenStipe/4cdbe303aa1464dc1a8f)

[2016-02-07 10:12] sudden6 commented on #2930
You can try manually adding the include path as follows:
`qmake INCLUDEPATH += /boot/system/develop/headers/tox`
or
`qmake INCLUDEPATH += /boot/system/develop/headers/`

If this also doesn't work, please post the full build output as a gist.

[2016-02-07 14:57] Granitoid opened #2935 "How to filter the history by keywords?"
I could not find a function!
I need a button "filter" and field for entering a keywords.
Also this field should will be open by hotkey Ctrl + F.
Something like this:
![qtox-hist](https://cloud.githubusercontent.com/assets/16450834/12873011/1bdd8580-cdc4-11e5-8eae-07c6cc20e78f.jpg)

[2016-02-07 19:15] zetok commented on #2935
Duplicate of #1734, thus closing.

[2016-02-07 19:15] #2935 closed, assigned to nobody

[2016-02-07 19:21] zvory opened #2936 "Cant make video/audio calls"
You are using qTox version v1.2-346-g49b8a48.
Commit hash: 49b8a48888b2f003f5c684b6967180ca3a65c318
toxcore version: 0.0.0
Qt version: 5.5.1
OS Version: Ubuntu 15.10 wily, x86_64 Linux 4.2.0-27-generic

I install qtox using apt-get install qtox (I also tried doing the thing where i install qtox-unity, same problem).
I make an account.
Me and the person I want to talk to add each other.
We can text

[2016-02-07 19:22] khallebal commented on #2930
Unfortunately that didn't work either, i found on the net the same failure with OSX but couldn't find how they fixed it, maybe someone remembers it, here is the link:

https://travis-ci.org/tux3/qTox/builds/87584538

I'm attaching the full build log as requested.

https://gist.github.com/khallebal/497b383d053c8a605ba8#file-error-toxav_friend_call_state-does-not-name-a-type

[2016-02-07 19:46] sudden6 commented on #2930
This error pretty much indicates gcc can't find `TOXAV_FRIEND_CALL_STATE` which should be defined in toxav.h
can you check the if toxav.h contains `TOXAV_FRIEND_CALL_STATE` and give the full path to the file?

[2016-02-07 20:06] azlux opened #2937 "focus on new message"
Hi,
With the option "close to tray", when a new message is coming, even with the option "On new message : Focus windows" disable, the window appear on the screen and not only on the taskbar .
I think this option will be better is the windows will not focus if we minimize or close the windows.
What do you think ?

qTox version v1.2.4.
Commit hash: d550aa08a2aa7cb644692031684f43209440a1d5
windows 10

[2016-02-07 20:45] ovalseven8 commented on #2937
Yep, that's a known bug -> https://github.com/tux3/qTox/issues/1985

[2016-02-07 21:03] zvory commented on #2936
Issue is fixed if I go back 10 commits and compile that.

[2016-02-07 21:04] anoadragon453 commented on #2936
@zvory What's the hash of the commit where it is working?

[2016-02-07 21:28] zvory commented on #2936
3a452a700fa0fe2d61ec1a3df5bea691889adb1f

Nevermind, thats more than 10 commits. I did checkout HEAD~10.

[2016-02-07 21:37] LuccoJ commented on #2931
I'd call _doing_ this a bit over the top. How could you damage anyone by sending spaces (any more than you could by spamming any other message type)?
On the other hand, implementing this could have unintended _drawbacks_, like breaking the formatting of things that are actually meant to only contain spaces. People often send "code-like" things as copied-and-pasted messages, even when maybe they sh

[2016-02-07 21:40] ghost commented on #2931
@LuccoJ, If there are other characters which are not invisible in the message, then the spaces wherever they may be would stay intact, I'm just saying if the message only has spaces for it not to be sent.

[2016-02-07 21:45] LuccoJ commented on #2931
@SeventhSonOfASeventhSon I understood what you said, but still there could be cases where a line made entirely of spaces is meaningful to, say, a programming language or other code (it's meaningful in MediaWiki markup, just to make a random example), and stripping it out would create problems for people trying to paste that, without any obvious advantage.

How can "I find it strange that it allows

[2016-02-07 21:58] anoadragon453 commented on #2921
Notification placement looks fine on i3, but the notification never disappears, or has any content. Single monitor, 2880x1620.

![ss](https://cloud.githubusercontent.com/assets/1342360/12875558/cb6018dc-cda2-11e5-9f0a-2068ce733ff7.png)

On commit 0d958b68

Log:

[code]

Edit: I should also note that there is no transparency with either one or more notifications.

[2016-02-07 22:14] anoadragon453 commented on #2921
Looks good on XFCE4, however notification continues to remain indefinitely. One monitor, different resolution of 2560x1440.

![screenshot_2016-02-07_14-12-24](https://cloud.githubusercontent.com/assets/1342360/12875716/f91ed572-cda4-11e5-85a3-c10cc33d86b1.png)

[code]

Same commit 0d958b68

[2016-02-07 22:20] anoadragon453 commented on #2921
Here it is on GNOME3 with scaling at 2x for HiDPI. Elements appear but are squished together. Remains indefinitely. Single monitor, 2880x1620.

![screenshot from 2016-02-07 14-16-48](https://cloud.githubusercontent.com/assets/1342360/12875766/e5d4ee10-cda5-11e5-9387-9f35b9eff957.png)

[code]

Same commit 0d958b68

[2016-02-07 22:35] khallebal commented on #2930
Hum... well, it's not defined! how is this possible? here is the full content of the header:

[code]

[2016-02-08 05:42] zetok commented on #2937
Since it's a duplicate of #1985, closing.

[2016-02-08 05:42] #2937 closed, assigned to nobody

[2016-02-08 05:57] zetok commented on #2930
@khallebal well, that makes things clear - it looks like you have there something that looks like an old API header.

As you can see, it doesn't provide `TOXAV_FRIEND_CALL_STATE`. Feel free to compare it to the current file: https://github.com/irungentoo/toxcore/blob/94cc8b11ff473064526737936f64b6f9a19c239d/toxav/toxav.h

I've edited your comment, so that it would have at least proper formatting -

[2016-02-08 06:05] zetok commented on #2936
That's weird - there shouldn't have been any changes to the A/V code in the last 10 commits..

@zvory could you perhaps recompile against ~current master, and see if compiled qTox would still work?

[code]

[2016-02-08 12:24] khallebal commented on #2930
indeed, i found that the recipe was using on old link to the src code i changed it to the current one and rebuild toxcore,that fixed the error.

Yeah, sorry about that, i'm new to github, i actually used gist but obviously i didn't use it the right way.
Thanks so much for helping me through this.
Now back to work i still have alot to do.

[2016-02-08 12:36] #2930 closed, assigned to nobody

[2016-02-08 13:39] ghost opened #2938 "Can one change the qTox call ring?"
When someone calls me on qTox is makes a ringing sound, when is the sound file for this stored and how can I change the ring? Is there just a sound file a can replace or something? Or is it not that simple? I am running Ubuntu GNOME 15.10 with GNOME 3.18 and qTox version `1.2-348-geb6082d-1`.

[2016-02-08 14:34] ghost opened #2939 "qTox weblinks should have tooltips showing URL"
Currently, for instance, in the About section there are many links which do not show the URL:

![about_section_qtox](https://cloud.githubusercontent.com/assets/11575271/12888160/93c84042-ce70-11e5-93d9-ff34f69545f3.png)

So I think that it would be very useful if it would provide tooltips for the links (at least the ones which aren't showing the URLs in the text) in order to show where they go to.

[2016-02-08 15:27] RonnieTiger commented on #2742
I'm still having this issue, it's very annoying.

[2016-02-08 15:35] ghost opened #2940 "Have an "About me" section where users can put what they want"
Though not all will have a use for this, for some this will just be something nice to have, but for others this will be something rather useful in some ways to put information that there aren't other fields for that they want their contacts to know without having to message each one about it. So I think that an "About me" section would be very useful (it would probably be located in the "Profile"

[2016-02-08 16:40] suhr opened #2942 "Remove “Filter audio” option from the settings"
Remove “Filter audio” option from the settings or make it inactive.

**Rationale:** At the present time (February 2016) filter_audio is badly broken. The purpose of filter_audio is improving audio quality, that means not only normalization&compression but also echo cancellation. But instead of removing echo it actually _adds_ it. Added echo is so loud, so it even causes a feedback effect with the

[2016-02-08 16:43] ovalseven8 commented on #2942
:+1:

[2016-02-08 17:56] ghost opened #2943 "Should those editing displayed text also update translation files?"
If I am to edit some text which is displayed in the qTox UI, should I also update translation files before making a pull request or can you guys deal with that? I assume that you will just deal with translations because you can't expect all the people here who want to make pull requests to know all the languages...

[2016-02-08 18:07] agilob commented on #2940
Not supported by toxcore.

[2016-02-08 18:07] #2940 closed, assigned to nobody

[2016-02-08 19:42] agilob commented on #2921
I made an update with the widget, not it disappears after n seconds, no need to test now.

I'll ask you  @anoadragon453 to test styling because you have some wired styling manager, it shouldn't be that big.

[2016-02-08 20:00] sudden6 commented on #2942
Can't we just disable the echo cancelation algorithm of filter_audio?

Also I read on IRC that filter_audio works, if the input latency is set correctly, maybe add a slider in the ui?
Of course this will only be useful for power users and we should find a proper solution for this problem.

[2016-02-08 20:01] sudden6 commented on #2939
This should be a very easy to fix with qt creator.

[2016-02-08 20:02] sudden6 commented on #2938
There is this project for sound files https://github.com/Tox/Sounds but qTox currently does not implement these.

[2016-02-08 20:26] ProMcTagonist commented on #2942
Why is it being set incorrectly? Is filter_audio broken or is qTox using it wrong? How does uTox use it?

[2016-02-08 20:34] agilob commented on #2943
Please make them as two pull requests, one with source code changes, one with translations. Translator edit their translations independently.

[2016-02-08 20:34] #2943 closed, assigned to nobody

[2016-02-08 20:52] zetok commented on #2942
Well, IMHO until it gets fixed it should be disabled.

#

@sudden6

Isn't that, like the only thing filter_audio is supposed to do?

[2016-02-08 21:35] zvory commented on #2936
Recompiling after running your commands makes it work.
I dunno eh, what could it be.

[2016-02-08 21:37] sudden6 commented on #2942
@zetok

quoting @suhr

It seems to have other capabilities, altough I didn't check if they can be separately enabled/disabled.
EDIT: It seems to be possible, to only disable echo cancellation.

[2016-02-08 21:41] antis81 commented on #2942
Unfortunately I don't have the time to look deeper into that topic in near future. However, I had a quick look into code and it looks like the filter is not initialized correctly and as a consequence, it is used wrong by qTox.

If you're interested in fixing this issue, have a look at this function (and related code):

[code]

I couldn't find any method making use of that. Initializing this will m

[2016-02-08 22:43] anoadragon453 commented on #2921
@agilob Sounds good, let me know when such changes are made.

[2016-02-08 22:59] yurivict opened #2944 "Duplicates messages problem"
I keep getting duplicate messages from another users. All qToxes are on FreeBSD.

I didn't specifically ask the users about this, but I am pretty sure they don't just send duplicates themselves.

[2016-02-09 00:27] Deleetdk commented on #991
Is anyone working on a solution for this problem? I'll set a .05 BTC (≈20 USD) bounty for whoever adds this feature.

[2016-02-09 00:31] redsteakraw commented on #991
@Deleetdk I can change easily, I just would need to remove the hardcoded font but this is here by design and most likely won't be accepted.

[2016-02-09 01:27] Deleetdk commented on #991
I'll be happy either with font change option (best) or option to use markdown so that I can use a monospace font when required.

[2016-02-09 06:18] ProMcTagonist commented on #991
#2832

no pre yet though

[2016-02-09 08:33] ovalseven8 commented on #2942
Possible that qTox is using it wrong.
But it's a known thing that the filter audio feature isn't matured yet in general. So, I definitely support the suggestion to completely remove the function at the moment.

[2016-02-09 08:34] agilob commented on #2921
Can I reproduce your setup using something like 144DPI or `export QT_DEVICE_PIXEL_RATIO=2`? What's `2x for HiDP` anyway?

[2016-02-09 08:37] agilob commented on #2944
This is a toxcore issue.

[2016-02-09 08:37] #2944 closed, assigned to nobody

[2016-02-09 09:00] Zer0-One commented on #2855
@agilob any interest in GSoC mentoring for qTox? AFAIK, you're the only candidate left. Everyone else is too busy. If not, is there anyone else who could step up?

[2016-02-09 09:02] TheNain38 commented on #2942
We could just as well add a tooltip saying it isn't "finished"

[2016-02-09 09:03] agilob commented on #2855
Sorry, but no, I'm running out of energy and motivation to keep myself in OSS.

[2016-02-09 09:28] agilob commented on #2942
and the whole toxcore...

[2016-02-09 11:24] Zer0-One commented on #1189
The last 10 will do. The list can shift from there, it doesn't need to scale.

Currently, this feature now has a place to be implemented (the contact details window), we just need to see it done.

[2016-02-09 12:27] Bryksin opened #2945 "Unable to make voice/video calls"
Hello

We are unable to use qTox (current stable release x64) across multiple users on Ubuntu 14.04.
Yesterday we spot that voice and video calls stop working for everyone.

**Symptoms:**
When someone call you:
- You  getting the incoming call
- Answer the call
- It hang up right away

In console we getting Error Nr2:

[code]

What is this Error 2? and how to fix it? I'm sure that voice was workin

[2016-02-09 12:51] agilob commented on #2945
Do you this can be related? https://github.com/tux3/qTox/issues/2936

[2016-02-09 12:52] alexeysvrv commented on #2945
Also i cant doing call and video(((

[2016-02-09 13:43] Granitoid opened #2946 "Hotkeys Ctrl+Insert and Shift+Insert does not work in history"
Ctrl+Insert and Shift+Insert are worked in text fields, but does not work in history.

I know about Ctrl+C and Ctrl+V, but any version of Windows binded these hotkeys:
Ctrl+Insert - copy
Shift+Insert - paste
Shift+Del - cut

Please, add this these hotkeys for history.
Thanks.

[2016-02-09 15:08] Granitoid opened #2947 "Quick answer on voice or video incoming calls"
When someone calls me a voice or video, I do not  know who is it.
I have to open the qtox and look in the contact list.
It would be convenient to have a small pop-up window with the avatar, nickname and press "accept / decline". Also this button bind to hotkeys, for example: Ctrl+Alt+PageUp and Ctrl+Alt+PageDown

![qtox-incoming](https://cloud.githubusercontent.com/assets/16450834/12919990/ba1f837

[2016-02-09 15:51] skotopes commented on #2920
For developers: There is an deadlock when qTox rotates logs. Basically it starts with line 138 in main.cpp, and happens on QDebug instance destruction at the end of section. I haven't done full debugging, but as I can guess that it happens because qTox do logging into file while doing rotation.

For everyone else: just wipe ~/Library/Application\ Support/Tox/qtox.log

[2016-02-09 15:52] agilob commented on #2947
I'm working on notifications and it was suggested too many times to even start looking for duplicates.
Interesting concept of notification but implementing it on more than one platform would be horrible coding experience.

[2016-02-09 15:53] agilob commented on #2920
@antis81 ?

[2016-02-09 15:53] #2947 closed, assigned to nobody

[2016-02-09 16:01] alexeysvrv commented on #2945
@agilob @antis81 Test call with Echobot is are not working. Why?

[2016-02-09 16:06] zetok commented on #2936
@agilob re-opening, since it's a problem with the package. I.e. @zvory tested first the package, and then compiled qTox.

Package is broken, and compiled version works.

[2016-02-09 16:10] anoadragon453 commented on #2921
You can try QT's Device Ratio. My DPI is apparently 96x96 as reported by `xdpyinfo`, however it all really stems from setting `Window Scaling` to 2 in Gnome Tweak Tool.

[2016-02-09 16:15] zetok commented on #2936
Well, assigning @tux3, since he's the only one with access to fix it.

[2016-02-09 16:22] agilob commented on #2936
Build problem? Did anyone make any changes to build scripts recently? Does jenkins build with latest toxcore every time?

[2016-02-09 16:48] ghost commented on #2943
So if I edited some text to make it the same as elsewhere, could I just submit that as a pull request and not have to worry about the translation files?

[2016-02-09 17:35] ghost commented on #2940
According to [this guy](https://github.com/irungentoo/toxcore/issues/1526#issuecomment-181970354) it is possible:

[2016-02-09 17:35] Bryksin commented on #2945
@agilob It potentially might be related to #2936, however in logs output it has different message!

I have:

[code]

They have:

[code]

But yes it could be the same reason, i have no idea

[2016-02-09 17:44] agilob commented on #2943
yes

[2016-02-09 18:59] agilob commented on #2945
Sorry, no idea, I just tested and I don't have any problems ;/

[2016-02-09 19:55] agilob commented on #2921
An update for you:
The widget is more interactive now, decays, disappears, emits signals when ok/no was clicked. The next stage is positioning in on "stack-like" way if more than one should be shown.

[2016-02-10 00:27] stal888 commented on #672
+1

[2016-02-10 01:21] ProMcTagonist commented on #672
+1

[2016-02-10 01:31] mqds commented on #672
+1

[2016-02-10 06:06] anoadragon453 commented on #2921
Widget's Accept and Reject buttons work great, they fire every time.

In terms of looks you can actually make out some faint outline button boxes on i3 now:

![ss2](https://cloud.githubusercontent.com/assets/1342360/12939863/e49722be-cf78-11e5-8178-1c254e4c83f5.png)

But the text is still invisible. Perhaps it's a font issue? i3 is pretty bare bones...

Looks great on XFCE4 on 2560x1440 still

Sti

[2016-02-10 06:35] agilob commented on #2921
There's no styling yet https://gitlab.com/agilob/qfiction/issues

[2016-02-10 07:01] darkman088 commented on #672
Pluses are welcome, but we already went past December +2 months. Did the desired Qt version come out as expected ? Could somebody be so kind and update us on the status of this ? Thanks!

[2016-02-10 07:59] anoadragon453 commented on #2921
Ah, I misunderstood:

Consider it free testing? :P

[2016-02-10 09:04] agilob commented on #2921
Yes, "test if you bother" ;)

[2016-02-10 12:29] Vadim-Zenin commented on #2945
Hi,
I have the same issue
OS: Ubuntu server 14.04 LTS 3 + KDE
Qt: 4.8.6
KDE Development Platform: 4.14.13

[2016-02-10 12:57] agilob commented on #2945
@Vadim-Zenin on ubuntu or any debian-based distro?

[2016-02-10 13:43] joosteto commented on #2945
Issue also present in debian 7

[2016-02-10 14:06] agilob commented on #2945
so this looks like something went wrong in packaging system... does @tux3 manage it?

[2016-02-10 14:45] Vadim-Zenin commented on #2945
@agilob
OS: Ubuntu server 14.04 LTS 3 + KDE
Qt: 4.8.6
KDE Development Platform: 4.14.13

[2016-02-10 17:49] agilob commented on #2921
![screenshot_20160210_174230](https://cloud.githubusercontent.com/assets/2544251/12956168/81bb49da-d01e-11e5-8e97-a644fcfd367b.png)

After making screenshot I decreased spacing between stacked widgets, from 20 to 10.

[2016-02-10 19:08] Granitoid commented on #2946
Also, in history "Right mouse click" on URL - add context action "Copy URL"

[2016-02-10 19:31] yurivict opened #2948 "File sent by the contact disappeared from the history after restart"
The contact sent me a file attachment, I viewed it few times, never deleted. After qTox is exited and restarted the whole record that the file was sent is gone from qTox window.

Restart shouldn't change the user history. File should be openable as before.

[2016-02-10 19:42] yurivict opened #2949 "Status icons in the popup menu in xfce became huge with 1.2.4 update"
Icons look fine in the same menu in kde4.
Observed on FreeBSD.

![screenshotqtoxicons](https://cloud.githubusercontent.com/assets/2544251/12976595/3779f75a-d0bd-11e5-95c7-f4bb8287258e.png)

// please attach screenshots to issues, ~agilob

[2016-02-10 20:14] anoadragon453 commented on #2921
Looks pretty good for the most part. I can still find myself clicking the button without a new notification appearing however. This is most notable when half of the notifications have disappeared, with the other half still to go. Pressing "Show Notification" doesn't seem to add a new notification anywhere. What I think it happening is that it's putting it under the newest notification, and we can'

[2016-02-10 20:35] agilob commented on #2921
Yes, but it's not a problem with notification but how they're handled. It will be implemented by @RowenStipe.

[2016-02-11 16:34] sysfu commented on #2720
Same issue here with v 1.2.4. Settings  => About tab shows v1.2.4 already in use yet app constantly prompts to 'update', and updater crashes everytime app is relaunched, even though updater progress meter reaches 100%.

[2016-02-11 17:06] DanTheBritish commented on #672
QT 5.6 did indeed come out.

[2016-02-11 20:30] ghost commented on #2946
That's a dupe -> #1236

[2016-02-11 22:46] khallebal opened #2950 "After a successfull build on haiku qtox won't start"
I should mention that i built it with "DISABLE_PLATFORM_EXT=YES" option, because i kept getting autorun compilation errors " setautorun , getsetautorun... Not declared in this scope.

[2016-02-12 07:18] zetok commented on #2940
Which is pretty much "not supported by toxcore".

[2016-02-12 07:23] zetok commented on #2948
Duplicate of  #1300, thus closing.

[2016-02-12 07:23] #2948 closed, assigned to nobody

[2016-02-13 19:48] Talkless opened #2952 "Downloaded file preview label has hand cursor, but cannot be actually clicked"
When file is downloaded and you hover mouse over preview label, you can see kinda hint that it can be clicked:
![qtox_hand_cursor](https://cloud.githubusercontent.com/assets/292191/13029653/c716fc8a-d29a-11e5-886d-6f4eb9c18497.png)

But clicking it does nothing.

I could implement a patch, either subclassing QLabel into ClickableLabel, or maybe simply changing it into button as other two widgets.

[2016-02-13 20:08] zetok commented on #2952
@agilob I told you that people would think that it's a bug.

@Talkless I guess that you could implement opening image also when one clicks on the thumbnail.

[2016-02-14 14:54] tristan-k commented on #2936
I can confirmt the issue. I tested three different devices with three different architectures (armhf, x86, x64) with the binaries from the github landing page. The calls will be requested but never established.

[2016-02-14 16:11] ghost commented on #2940
@zetok, Well, look, the guy [here](https://github.com/irungentoo/toxcore/issues/1526#issuecomment-183489398) says that it's possible, so, isn't?

[2016-02-14 18:31] ghost opened #2954 "Have the ability to be able to search for strings in chat history"
Perhaps in the "Load History Dialog" there should be the option to search through your chat history for strings (certain keywords to phrases - and you could specify if you only want it to show results where those words go after each other in that exact order, or if you just want any places with those keywords mentioned even if only one of them is), and of course also the ability to choose the time

[2016-02-14 19:00] ovalseven8 commented on #2954
At least https://github.com/tux3/qTox/pull/2013 would include:

Unfortunately, the PR is outdated. :/

[2016-02-14 22:13] zetok commented on #2940
@SeventhSonOfASeventhSon

Feel free to do it, if you think that it should be done like that.

[2016-02-14 22:30] ProMcTagonist commented on #2954
dup

https://github.com/tux3/qTox/issues/1734

https://github.com/tux3/qTox/issues/2377

[2016-02-14 22:32] tg-x opened #2955 "Crash when cancelling call"
Initiated a call, then cancelled without the other party accepting it.
Tried to reproduce but the next time it worked.
v1.2.4

[code]

[2016-02-14 22:34] zetok commented on #2954
Since it's a duplicate of #1734, closing.

[2016-02-14 22:34] #2954 closed, assigned to nobody

[2016-02-15 03:12] antis81 commented on #2955
Yep. That's a threading problem (assertion from posix thread). -> fails in tox core.

**EDIT:**
Method called is `bool CoreAV::cancelCall(uint32_t friendNum)` (which btw. can do some spooky things with threading - definitely not the case here) and then tries to call `toxav_call_control(toxav, friendNum, TOXAV_CALL_CONTROL_CANCEL, nullptr)` in turn, which triggers the assert.

Btw. the "3" in the l

[2016-02-15 03:38] antis81 commented on #2936
@agilob This might relate to issue #2955.

[2016-02-15 10:23] bitchecker commented on #2740
any updates?

[2016-02-15 17:52] Lesik opened #2956 "Unable to type accented characters (é è ê)"
Running Trisquel 7, I am not able to type any accented characters like é. They just appear as normal characters (e).

My keyboard layout it de (with dead keys).

I asked a Tox friend to try if he had the same problem, he confirmed.

I am using qTox version v1.2-164-gdefae04

[2016-02-15 23:19] sudden6 commented on #2956
duplicate of #2564

[2016-02-16 00:01] Lesik commented on #2956
Oh sorry, I only searched for "accent" and found nothing. The title of #2564 isn't too descriptive.

[2016-02-16 00:01] #2956 closed, assigned to nobody

[2016-02-16 08:34] antis81 commented on #2926
@octonet1 Changed title to something useful. :)

[2016-02-16 16:41] ovalseven8 opened #2960 "Try to prevent homograph attacks"
Hello,

homograph attacks are also possible with qTox and some other Tox clients.
So, it's possible that a user's IP address can be disclosed.

Although it's hard to prevent, we should discuss about it, I think.

More information: https://en.wikipedia.org/wiki/IDN_homograph_attack

[2016-02-16 17:48] SkyzohKey commented on #2960
From wikipedia:

[2016-02-16 19:28] zetok commented on #2960
Which part of the qTox?

[2016-02-16 22:10] sudden6 commented on #2960
I asume you are talking about friend request here.

I agree that this is possible, but only at the nickname level, because the ToxID can only contain 0-9 and A-F where I don't know a homograph. Also the ToxID isn't really a thing the attacker can choose.

Since the nickname isn't considered "verified" information (two users can have the same nick and be perfectly fine), technically we have no prob

[2016-02-16 22:30] anoadragon453 commented on #2942
I agree with removing it, it makes the audio sound terrible but is very tempting to check. I was fooled by it for a good few months, thinking Tox's audio was just terrible until a friend tried turning it off. Fixed it immediately.

[2016-02-16 23:19] sudden6 commented on #2942
After further testing I come to conclusion, that filter audio off gives better audio quality, but makes it harder to adjust the input gain of the microphone.
filter audio on, on the otherside does a very good job at normalizing the volume and suppressing background noise, but if the input gain is very high, it creates feedback, even while I'm using a headset, which is very annoying.

I did my test

[2016-02-17 12:57] #2950 closed, assigned to nobody

[2016-02-17 13:24] skotopes commented on #2920
Anyone? ;-)

[2016-02-17 19:18] ProMcTagonist commented on #2950
Solved?

[2016-02-17 19:42] jhunnius commented on #821
I'd love to see recordings of all the audio "tracks" as well. One file per participant.
Can be wav, can be FLAC, whatever is easier to implement.
Would be awesome for podcasters with interviewees in their shows.

[2016-02-18 03:03] yurivict opened #2961 "[feature suggestion] Ability to print a paper with the private key on it"
The same feature as Bitcoin Armory has. Bitcoin Armory is able to print the paper with the private key on it, so that the user can print it and store it in the secure location, and later in the case of a computer crash an account can be restored.

Users of course should have a backup on the file level, but having a paper might be a more intuitive way for the less sophisticated users to preserve th

[2016-02-18 11:01] LittleVulpix commented on #2961
To be honest, just having the key wouldn't solve much; you'd need to somehow know the whole tox id of all of your contacts - because your key alone is just your private key - without any stored contacts or anything.

If you want to print your profile, the easiest way to do so -> take your *.tox file, compress it with 7zip (add a password!!) and then encode that in base64 (I used total commander fo

[2016-02-18 11:11] darkman088 commented on #672
Then I really hope that we can see the desired functionality in the foreseeable future :-)
Thanks a million!

[2016-02-18 20:22] yurivict commented on #2961
Here is what prompted me: someone lost their phone with Antox on it, and the account is gone. Now this person needs to re-connect with every single person from the new account.

Besides the obvious file backup, tox doesn't offer the ability to recover an account. File backup isn't the easiest way too, in terms of the amount of clicks, etc, especially for a layman users. Another problem is how to t

[2016-02-18 20:45] LittleVulpix commented on #2961
I don't think you can fit all of the information in your profile into a QR code. Your private+public key alone is not good enough because then you do have your profile but you won't have any of your contacts on it anyway; you'd need to re-add all of them. I don't think it's possible to store a regular tox profile (even if you compress it) in a QR code.

There are no accounts per se, which is why y

[2016-02-18 21:55] yurivict commented on #2961
Multiple QR codes - that's what I was thinking. Be able to convert the .tox file into a sequence of the QR codes and back. If both qTox and Antox could do this, I could just "take" my account with me by scanning the QR codes. Currently I am not sure how to do this.

(Totally understood that there is no central "account", by account I mean a pair of keys)

[2016-02-19 11:22] khallebal commented on #2950
Nope, gave up.

[2016-02-19 13:30] sudden6 commented on #2961
If you already use a phone, why not bluetooth?
I agree with @LittleVulpix, integrating a print function into qTox doesn't seem like it's worth.

[2016-02-19 15:29] linux-modder commented on #2961
umm,  BT (especially  BT4.x) is very insecure kinda, and QR codes are already supported in both antox and qtox however not in a 'chained'  fashion as alluded to by the OP.  Also,  a backup aside would be using that paper or QR code as a password card related / or not to tox contacts as a QR code of  profile >  zipped >  base64'd will always hash the same.  While it would be a bit complex to implem

[2016-02-19 18:52] kertase opened #2963 "Big lag when making call with video activated on linux"
Hi,

So when I activate a video device when a call gets accepted or ended from either side their is a big lag, the program stops working for about half a minute. Then resumes showing the video after about half a minute later. Or the chat when video is cancelled.

Actually only the interface stops working sound starts normally and works but the program just does not react and interface is frozen.

[2016-02-19 19:35] yurivict commented on #2961
@sudden6 LittleVulpix didn't exactly say he disagreed, and what does bluetooth have to do with this?

[2016-02-19 20:07] yurivict commented on #2961
The feature consists of two parts
- Create the emergency backup: it will compress the tox file and convert it into a sequence of the QR codes and hex numbers, nicely printed on the paper with an explanation.
- Restore the emergency backup: it will "scan" the QR codes using the camera, or allow the user to type the hex sequence in, and restore the keys and the contact list from this data.

[2016-02-20 01:11] linux-modder commented on #2961
the explanation would have to be  concise and  non topical to the passerby imo for security reasons.  If the casual passerby or  evil player has a idea what it for that  makes its less secure too no?

[2016-02-20 01:44] yurivict commented on #2961
yes

[2016-02-20 01:46] g4jc opened #2964 "[feature request] Option to Screenshot a single window (instead of rectangle select)"
Using QT it should be possible to target a specific Window. This would allow users to share a Window without showing their background behind it.

e.g. https://stackoverflow.com/questions/1774222/taking-screenshot-of-a-specific-window-c-qt

This option could be a hotkey (Alt?) or setting, which enables the feature when clicking on the default screenshot icon.

[2016-02-20 19:34] Hasshu opened #2965 "Option to select network interface"
Proposal: add an option to select network interface (to prevent possible leaks).

Some background: I have a set of firewall rules to block qTox in case my VPN connection fails. But recently I noticed that qTox occasionally tries to reach something through the main network interface even when I'm connected to a VPN. Needless to say, that looks rather unsettling.

qTox: v1.2.4 (IPv6 disabled; UDP en

[2016-02-20 20:11] ProMcTagonist commented on #2964
Hotkey for sure.

[2016-02-20 20:13] ProMcTagonist commented on #2965
Priority critical if it's not a duplicate (I don't think this is quite the same as proxies).

How can you tell it's trying to reach things through the main interface?

[2016-02-20 20:47] Hasshu commented on #2965
I noticed that in the firewall logs (Comodo Firewall).

Every now and then qTox would try to connect to some address in the private network range of my ISP (10.0.0.0/8); the address doesn't belong to the gateway. Port 33445, UDP - the usual. Incidentally, I use no routers or modems.

[2016-02-20 20:53] sudden6 commented on #2965
This could be the local peer detection of toxcore? Since 10.0.0.0/8 would normally be a private IP.

[2016-02-20 21:10] SergeyDjam opened #2966 "[Request future] autotized proxy"
Hello. Please, add to form settings autorized proxy

[2016-02-20 21:15] ProMcTagonist commented on #2966
Can you please explain with more details what you mean?

[2016-02-20 21:16] ProMcTagonist commented on #2965
If someone is on a VPN, they may not want anyone in their local network to realize they're using Tox.

[2016-02-20 21:19] SergeyDjam commented on #2966
Now Playing missing fields to configure proxy authentication. There are times when you need to enter a user name and password for that would connect to the proxy to access the Internet

[2016-02-20 22:27] ProMcTagonist commented on #2966
https://github.com/tux3/qTox/issues/1286

[2016-02-20 22:29] SergeyDjam commented on #2966
Yes

[2016-02-20 22:57] ProMcTagonist commented on #2966
Blocked by https://github.com/irungentoo/toxcore/issues/1268

[2016-02-21 15:22] zetok commented on #2963
Duplicate of #2716, thus closing.

[2016-02-21 15:22] #2963 closed, assigned to nobody

[2016-02-21 15:36] zetok commented on #2965
@Hasshu
Not doable in qTox, since toxcore takes care of that, thus closing.

#

On a side note..

You may not be aware, but if you're using windows there's no way to block something from using internet.

If you want to use system that is capable of doing that, I'd suggest to use Linux.

#

@ProMcTagonist

If they really wouldn't want that, they'd just setup vpn/firewall in a way that would prevent

[2016-02-21 15:36] #2965 closed, assigned to nobody

[2016-02-21 15:41] zetok commented on #2966
Since it's a duplicate of #1286, closing.

[2016-02-21 15:41] #2966 closed, assigned to nobody

[2016-02-21 15:49] TheNotary opened #2968 "apt-get update... W: Failed to fetch https://pkg.tox.chat/debian/dists/nightly/InRelease Unable to find expected entry 'rafaela/binary-amd64/Packages' in Release file (Wrong sources.list entry or malformed file)"
I'm just starting out, following along with the consumption docs at [tox.chat](https://tox.chat/download.html#gnulinux).  I'm on Linux Mint, that close derivative to Ubuntu.  I'm hitting the below error.

[code]

(/etc/apt/sources.list.d/tox.list)

[code]

Thanks all for working on this important tool!

[2016-02-21 18:28] dougy1971 opened #2969 "problem with compiling qTox"
Can not compile qTox in Debien (jessie)...
Keep getting this....

rc/widget/form/addfriendform.cpp
src/widget/form/addfriendform.cpp:28:21: fatal error: /usr/local/include/tox/tox.h: Permission denied
 #include <tox/tox.h>
                     ^
compilation terminated.
Makefile:2334: recipe for target 'addfriendform.o' failed
make: **\* [addfriendform.o] Error 1

Can any one help please....

[2016-02-21 18:43] zetok commented on #2969
That's a problem with your system - i.e. wrong permissions, which result in qTox being unable to access files it needs to compile.

You should fix your system.

[2016-02-21 19:58] gustavklopp commented on #2901
I think finally it's a problem Ubuntu (at least 15.10) related. I've run it on Arch Linux and it's working without this crash.
My bet is that it's due to ffmpeg which doesn't seem always well integrated in Ubuntu... I may be wrong

EDIT: I've found a strange work around for this: I delete the entire ~/.config/qtox (or keep only username.tox and paste it again). And I'm able now to use this USB web

[2016-02-21 22:46] Hasshu commented on #2965
@zetok

If it weren't for vidya, I would have got rid of Windows a long time ago.

And that's exactly what I did. That said, Tox claims to be an _easy-to-use software_, which would mean it targets the non-techy crowd as well. And, as you may know, most of the commoners have no idea what a firewall is - let alone how to set it up.

What I see here is a feature that not only cannot be disabled, but

[2016-02-22 05:46] hethkar opened #2970 "Compiling sqlcipher(needed for qtox) in fedora"
Here:
There were instructions for fedora as : Note that sqlcipher is not included in Fedora(!).
This means that you have to compile sqlcipher yourself, otherwise compiling qTox will fail.
https://github.com/tux3/qTox/blob/master/INSTALL.md#sqlcipher

But at sqlcipher https://github.com/sqlcipher/sqlcipher the compiling instructions say :

These instructions are not included at https://github.com/t

[2016-02-22 09:18] ghost commented on #2970
@linux-modder I guess this one is for you (b998dba3738b8994bb43c8fa43eee0165b91efaa)

[2016-02-22 10:42] linux-modder commented on #2970
@suknight,  I need to add that to the INSTALL.md,  but use the make flags shown on sqlcipher for compiling sqlcipher, without it the not-so0new anymore  profile securities will fail.

The pertinent parts are whether you statically link or  dynamically  link.

Static:
cd sqlcipher
./configure --enable-tempstore=yes CFLAGS="-DSQLITE_HAS_CODEC" \
    LDFLAGS="/opt/local/lib/libcrypto.a"
make
sudo mak

[2016-02-22 17:59] hg8 commented on #975
Any news about this?

[2016-02-23 17:16] gardners commented on #2742
I'm also having this problem on OSX El Capitan. Happy to help test any fixes, try different builds / QT builds etc. For me, it is not restricted to any single key, but rather as I type, it will fairly often miss one or more characters.  SPACE is perhaps more affected than other keys, but that is only a feeling.

[2016-02-23 19:39] idanoo opened #2972 "After waking PC up - only user left in group chat."
Had a look through issues and couldn't find it anywhere. Will try include screencaps / more testing later.

qTox: 1.2.4
Commit hash: d550aa08a2aa7cb644692031684f43209440a1d5
toxcore: 0.0.0 (??)
Qt: 5.5.1
OS version: Win 10 Home

I put my PC to sleep, woke it up after a few hours and it was just me in the group chat. Had to leave and rejoin for it to work fine.

[2016-02-23 19:44] idanoo commented on #2929
From what I understand, he means have one computer run toxcore, and the rest route via the one connection instead of all running separately.

[2016-02-23 20:01] dongmaster opened #2973 "Notification sounds do not work."
qTox: v1.2-353-gef5b9b8
Commit hash: ef5b9b8c1e1a934d200743fbdc4ff0ed02cde023
toxcore: 0.0.0
Qt: 5.5.1
OS version: Windows 7 Enterprise SP1

I upgraded qTox recently. Everything worked just fine but after I recieved a few messages, I stopped getting notification sounds whenever anyone sent me a message or file.
Before you ask, yes, notification sounds are enabled in the settings. I have also tried

[2016-02-23 20:51] sudden6 commented on #2929
If I understand the code of the core, what you are trying to attempt is unnecessary and impossible. Because if the clients communicate only in your local network, toxcore should not generate any outbound traffic besides dht traffic, which is minimal.

And if you want to reduce the bandwith usage over your internet connection of a groupchat, with local and non local clients, I think it is technical

[2016-02-23 20:56] sudden6 commented on #2972
This is because groupchats are not permanent (yet). Whenever you loose the connection (by suspending your pc for example), you have to rejoin.

This is a known limitation of toxcore at this time, so it can probably be closed.

[2016-02-23 20:58] idanoo commented on #2972
Ah okay, Thanks for that.

I was thinking have some small notification at the end of the chat log saying:
 -Disconnected from group chat-

Just as a confirmation that all of your friends haven't ditched you, and you sit there talking to yourself for 5 minutes like I did. :)

[2016-02-23 21:00] sudden6 commented on #2964
At this point we could as well ship https://github.com/KDE/spectacle with qTox, or at least borrow some code to not reinvent the wheel.

[2016-02-23 21:02] sudden6 commented on #2972
I think this would actually be a great idea and shouldn't be too hard to implement.

[2016-02-23 21:04] idanoo commented on #2972
I'm just setting up my build env then I'll have a go at it. Thank!

[2016-02-23 21:04] #2972 closed, assigned to nobody

[2016-02-24 01:00] DeerSpotter commented on #2929
Okay Thanks. I'll see what i can come up with.

[2016-02-24 01:00] #2929 closed, assigned to nobody

[2016-02-24 08:40] PKEv opened #2975 "bootstrap error"
the script stops after downloading a ffmpeg with error

System: win7 x64
![default](https://cloud.githubusercontent.com/assets/6053197/13279819/4656025e-daeb-11e5-9f62-75c40e4c366e.PNG)

[2016-02-24 21:44] zetok commented on #2965
@Hasshu

And neither they know what is a vpn. Tox is supposed to provide privacy and it does that.

Err, considering that most people don't know what vpn is, they wouldn't have anything to "leak" in the first place.

In other words, you're creating a problem, and then expecting software that is not being made for this precise workload to work exactly in a way you would want it to work, even though

[2016-02-24 21:52] zetok commented on #2973
Actually, that's another bug - not sure if it's not something windows-specific, given that on Linux it just keeps blinking until one opens qTox.

[2016-02-24 21:56] LuccoJ commented on #2965
@zetok my bet is that most users who care about privacy in any more than an abstract way (i.e. without really understanding what it entails, and why/how Tox provides any of it, for instance) have definitely heard about VPNs.

My belief is also that if a piece of software should be reasonably expected to only communicate through a given network interface in a given situation, failing to do so is a

[2016-02-24 21:59] SergeyDjam commented on #2973
Yes, my qTox on Linux sound notification don't work too

[2016-02-24 22:02] zetok commented on #2965
@LuccoJ

Yes, I agree with that. With that being said, Tox is not expected to do that at all. What is expected, is Tox connecting to the network in whatever way that it is possible - this includes trying to use every network interface possible.

[2016-02-24 22:04] roman-yepishev opened #2976 "Stores non-config data in ~/.config/tox: screenshots, log"
qTox: v1.2-353-gef5b9b8
Commit hash: ef5b9b8c1e1a934d200743fbdc4ff0ed02cde023
toxcore: 72b1a17cc28c9a5a653823336bf0a495f6f271b1
Qt: 5.5.1
OS version: Fedora 23 x86_64

As per https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html,

As of today qTox creates the following files in ~/.config/tox:

[code]

The log and screenshots are not configuration data, so they should be move

[2016-02-24 23:54] sudden6 commented on #2976
Do we consider the screenshots non-essential? I understand "cached data" as data which can be deleted every reboot, without causing problems. What if a screenshot isn't yet send (faux offline messaging) and the cache is wiped?

[2016-02-24 23:58] dongmaster commented on #2973
Yeah I know it's another bug. Should I just create another issue for it? (The icon not blinking long enough bug)

[2016-02-25 00:33] roman-yepishev commented on #2976
For data that is not config, but should be persistent, `XDG_DATA_DIRS` - `~/.local/share` is provided - this is what `QStandardPaths::AppLocalDataLocation` is pointing to.

[2016-02-25 06:06] hethkar commented on #2970
@linux-modder got it thank you.

[2016-02-25 07:17] zetok commented on #2973
Well, it was blinking for me for >3 minutes after receiving message.

Can you check whether you still have issue with ~following settings:
![settings](https://cloud.githubusercontent.com/assets/3148759/13312560/91c4a70a-db8f-11e5-9a78-513faf67cc04.png)

And if not, how much your settings have to be ~altered in order for sound notifications & blinking to work?

#

Edit: I _think_ that those (blinki

[2016-02-25 09:05] ProMcTagonist commented on #2965
what

[2016-02-25 14:50] dongmaster commented on #2973
I used the same settings as you and could not hear a notification sound when someone sent me a message. The blinking of the qTox icon persisted for about 10-12 seconds. Here's a video of the blinking in action: https://my.mixtape.moe/jgbnbj.mp4 The blinking just stops after a while.

[2016-02-26 16:40] #2952 closed, assigned to nobody

[2016-02-26 17:55] sudden6 commented on #2973
seems like stopping the flashing after some time is a "feature" of qt on windows.

see https://github.com/tux3/qTox/blob/master/src/widget/widget.cpp#L1234

https://doc.qt.io/qt-5/qapplication.html#alert

tough it should stay orange afterwards...

[2016-02-26 22:09] Hasshu commented on #2965
@LuccoJ

Exactly.

Likewise, many people can (and do) use computers, even though few of them know how computers actually work.

@zetok

I'm merely expecting Tox not to leak.

Frankly, I'm not sure how having an _option_ could possibly hinder experience and/or usability for lots of other people.

Might as well just use Skype...

Jokes aside, why so belligerent? It's not like I came here to pick at

[2016-02-27 06:20] zetok commented on #2965
I know ;)
Thing is, if there is something about idea that strikes me as "problematic", I want to get feedback on that, and find out whether potential benefits from it outgrow downsides.

In this case

An option would make whole Tox design, from the lowest level to top more complex – and that's a bad thing. For variety of reasons, which lead to UX/usability. Note that making base more complex ~lead

[2016-02-27 11:46] sudden6 commented on #2917
This is weird, on linux it opens the active instance.
Please provide the console output of both instances.

[2016-02-28 15:18] Ezwen commented on #2945
Same issue here, with one person using qtox on Mint 17.3 with the official repo, another with the all-in-one binary on Fedora 23. We try to start a call, and it instantly stop as soon as the receiver accepts.

[2016-02-28 18:22] michals commented on #2874
Please find related pull request here: https://github.com/tux3/qTox/pull/2982
I apologize for missing '#' in [commit title](https://github.com/michals/qTox/commit/04b3276b0f7245a8b588a67d70311f7778566b0b).

[2016-02-28 18:35] bodtx commented on #2945
Same thing here with linux mint 17.2, with the official generic release v1.2-350-gd614f74.

[2016-02-28 19:46] Hasshu commented on #2965
@zetok Okay, I see your point.

I'm a proponent of "less is more" myself, so I hope there is a way to do something about this issue without bloating the software.

[2016-02-29 04:19] optimumtact commented on #2968
Qtox is packaged for the following distribution releases, jessie, sid, stretch, vivid and wily, if your distribution is not one of those, you should use the "release" codename which contains a statically compiled binary that will work on many distributions
your sources.list.d/tox.list will look like

[code]

If after that you still have issues, you will need to manually compile the software.

[2016-02-29 04:23] optimumtact commented on #2898
There is no specific package for qtox on opensuse, did you use the release binary? It probably doesn't have libxkbcommon statically compiled in, you may have to manually build qtox, or try these community provided packages

[code]

[2016-02-29 04:28] zetok commented on #2945
Could you re-test with newest binaries?

[2016-02-29 04:28] zetok commented on #2936
Could you re-test with newest binaries?

[2016-02-29 04:34] zetok commented on #2968
Well, since it looks like user error, closing.

If that's not the case, please comment for reopen.

[2016-02-29 04:34] #2968 closed, assigned to tux3

[2016-02-29 04:35] optimumtact commented on #2968
Apologies by the way, our website wording is incredibly bad and needs to be updated.

[2016-02-29 07:32] bodtx commented on #2945
hi, you mean the one from here?
https://build.tox.chat/view/Clients/job/qTox_build_linux_x86-64_release/lastSuccessfulBuild/artifact/qTox_build_linux_x86-64_release.tar.xz

[2016-02-29 07:51] ghost commented on #2945
It works for me now. Tested on echobot. Anyone else?

[2016-02-29 08:00] zetok commented on #2945
@bodtx yep.

@skmlcd thanks, since it appears to be fixed, closing.

[2016-02-29 08:00] #2945 closed, assigned to nobody

[2016-02-29 08:01] zetok commented on #2936
Since [it seems to be fixed](https://github.com/tux3/qTox/issues/2945#issuecomment-190081706), closing.

[2016-02-29 08:01] #2936 closed, assigned to tux3

[2016-02-29 18:00] DeerSpotter commented on #2917
I wont be able to give you console output as my "lead" told me to remove qtox from all the test machines. Now we are going the office 365 path :/

[2016-03-01 18:28] j0euk opened #2984 "Sending and receiving calls no longer works at all"
When clicking on the green phone button to send a call, the button turns yellow as expected.
However, when the other end answers, the call button immediately turns grey as if the call has ended.

When clicking on the "answer" button to receive a call, the same things happens: both buttons immediately just turn grey for a bit, before turning green.

---

The following lines output by the terminal m

[2016-03-01 18:48] minj opened #2985 "l10n needs to be abstracted out of HTML"
Please prevent useless style changes from affecting l10n. Otherwise I have to deal with such nonsensical diffs:

[code]

It's no wonder I messed up last time....

See the [actual change](https://github.com/tux3/qTox/commit/d22b7cb#diff-e14fc0a4463d1a27e5b683398741bb64L212). A `font-size` change, sigh...

This was not the first time this happened.

[2016-03-01 19:42] zetok commented on #2984
Update your qTox.

[2016-03-01 19:47] zetok commented on #2176
Closing, since it looks like a problem with your system configuration, and not qTox. I.e. there's nothing that qTox can or should do about broken system.

If you are able to reproduce it on a ~clean install of distro of your choice, please comment for reopen.

[2016-03-01 19:47] #2176 closed, assigned to nobody

[2016-03-01 23:17] antis81 commented on #2985
Thanks for spotting this :+1:. It is somewhat important, that we create a guideline first not to put HTML stuff inside UI files and further separate all translatable text. This also has the advantage, that HTML doesn't require to be escaped. For those who don't have an idea how to do that -> We can just write in c++ like e.g. so:

[code]

@zetok Do we have a guideline, telling how to write this? I

[2016-03-02 02:16] zetok commented on #2985
@antis81 added to https://github.com/tux3/qTox/wiki/Coding#no-translatable-html-tags

I wonder whether to not pull that wiki page into CONTRIBUTING.md..
(it's linked to from CONTRIBUTING.md, but still)

[2016-03-02 02:33] smc2000 opened #2987 "Tray icon disappears after hiding window in screenshot mode"
I am using qTox version 495-https://github.com/tux3/qTox/commit/1eb68542df922f2080e85c403dc3f866ef881e54 on Linux Mint 17.2 XFCE

1) Press the "Send a screenshot" button in a 1-on-1 chat.
2) Press the spacebar to hide the qTox window. This is when the tray icon disappears.
3) Pressing the spacebar again to show the qTox window does not restore the tray icon.

Here is my qtox.log:

2016-03-01 18:25

[2016-03-02 09:30] ghost commented on #2985
So I put a placeholder for the whole string in the `.ui` file and replace it in the `.cpp`?

[2016-03-02 12:15] antis81 commented on #2985
@kehugter Why so complicated? Simply build the HTML string via QString objects, just like in the example above.

[2016-03-02 13:01] ghost commented on #2985
I'm not sure how to do that right, #2983 is my first attempt in Qt and C++. I remove the whole line in the `.ui` and simply set the string for the widget in the `.cpp`?

[2016-03-02 13:56] antis81 commented on #2985
Yes, exactly. If it is a tooltip we're talking about, start using the `QWidget::setTooltip` method. We can consider writing some helper methods and create a few templates for writing HTML tooltips, but this is basically how to do it right. :smile:

[2016-03-02 16:47] ghost commented on #2985
Ok, thanks!

Before I push anything, 2 questions regarding this approach:
- To replace https://github.com/kehugter/qTox/blob/8e270dad67b51c9a3aade532efc448d0aff48294/src/widget/form/settings/aboutsettings.ui#L323, I end up with this monstrosity

[code]

 is it OK?
- Is there a workaround for Linguist showing a list of partial strings?

![sfsf](https://cloud.githubusercontent.com/assets/6382342/134

[2016-03-02 17:06] nurupo commented on #2965
@zetok toxcore provides an option to enable/disable LAN discovery, which is what this privage ip range scanning is. Can't qTox add an option in its settings to be able to disable it?

[2016-03-02 17:09] nurupo commented on #2965
Ok, apparently I can't find such an option in the API, was pretty sure there was one since I have it in the bootstrap daemon. Will ask iru to provide it then.

[2016-03-02 17:11] paly2 commented on #2901
I have the same problem...

@gustavklopp :

I tested this, and this works! But I have to delete the files before each starting of qTox and configure the webcam again :/

[2016-03-02 22:24] antis81 commented on #2985
Yes, that's ok. But don't worry. Consider this as a first step in the right direction, not as the final result. There's still potential for optimizing the writing workflow… :)

You shouldn't even think about workarounds, but a solution. And thus: Yes there is. We just need to find it. :)

Actually the original phrase should be cleaned up, but here's how such text fragments can be resolved and form

[2016-03-03 04:40] zetok commented on #2901
@paly2 could you see whether deleting only `qtox.log` helps?

[2016-03-03 10:25] paly2 commented on #2901
Deleting only `qtox.log` doesn't work, but deleting only `qtox.ini` works, and more precisely the last line of `qtox.ini` (`videoDev`).

[2016-03-03 18:36] ghost commented on #2639
Why can't this be implemented before the standardization? Wouldn't it just require some simple changes to make it compatible with a later standard?

[2016-03-04 05:25] zetok commented on #2639
And who would do the implementation?

[2016-03-04 12:10] cepauskas commented on #2973
same issue on Ubuntu 15.10

[2016-03-04 14:15] jurf commented on #2903
So uh, is it going to install it then?

[2016-03-04 18:57] sudden6 commented on #2973
@cepauskas which one? not blinking long enough or no notification sounds?

[2016-03-05 01:02] OrangeShark opened #2988 "Remove hardcoded include paths in qtox.pro"
I am currently working on packaging qTox for [GNU Guix](http://www.gnu.org/software/guix/) and one thing I noticed was this project hard codes the path for several libraries in qtox.pro. qmake has a [configuration feature](http://doc.qt.io/qt-5/qmake-project-files.html#configuration-features) to use [pkg-config](https://www.freedesktop.org/wiki/Software/pkg-config/) to find installed libraries and

[2016-03-05 09:44] antis81 commented on #2988
Sounds great, really! Would you mind to setup a PR onto current master Branch fixing the pro file?

[2016-03-05 17:59] 1KoT1 opened #2989 "Bug: Audio call button is disabled for group on Linux"
1) Create group.
2) Add some people to group.
Actual: Audio call button is disabled
Expectation: Audio call button is enabled and I can call to gruop.

Additional info:
1) Audio call of one person is valid.
2) Audio call of group on Windows is valid.
3) When star qTox from QtCreator I see in output: [22:09:05.287] :0 : Warning: QMetaObject::invokeMethod: No such method Audio::playGroupAudio(int,in

[2016-03-05 20:44] RowenStipe commented on #2639
@zetok It's something that I can work on a long with the Notification Management System I've been working on when I can.

[2016-03-05 21:53] PKEv commented on #2987
confirm in Linux Mint 17.3 Rosa Cinnamon
after these actions, the icon does not disappear but ceases to respond to mouse

[2016-03-06 00:53] I60R commented on #2922
+1, I need this feature for screen sharing

[2016-03-06 01:49] ProMcTagonist commented on #2922
semitransparent fullscreen icon overlaid on the bottom of the video window with other controls please

[2016-03-06 01:58] ghost opened #2991 "windows phone client"
Hi,

are there any plans to implement a native windows phone client?

[2016-03-06 02:05] ProMcTagonist commented on #2991
Hi! This repo is only for the desktop Tox client qTox, not for Tox in general.

I think you could get a better sample of answers by asking in #tox-dev on Freenode.

To my knowledge, there's an in-development Universal Windows Platform client [here](https://github.com/uruk/OneTox). I don't know much about Windows Phone, is that the same thing?

[2016-03-06 02:14] ghost commented on #2991
Sorry for my mistake. But thanks for your answer, that's what i wanted to know. According to the README there are plans to support Windows Phone, sometime :-).

Thank you

[2016-03-06 02:54] ProMcTagonist commented on #2991
No problem, thank you for your interest. Happy Toxing :)

[2016-03-06 06:53] #2991 closed, assigned to nobody

[2016-03-07 08:43] anoadragon453 commented on #2989
Looks like Audio::playGroupAudio was removed in ce2f8fd1d5948b6df6769ece4568d52040ce36fb. Correct me if I'm wrong, but it looks like [this line](https://github.com/tux3/qTox/blob/c82e41ff6f029dacb92ca32e8eac144505339082/src/audio/audio.cpp#L365) is still trying to call it.

[2016-03-07 12:53] 1KoT1 commented on #2989
You are right. I debug qTox. And I get Warning on this line.

Thank you for information.

[2016-03-07 16:02] ElLamparto commented on #2716
Can anyone raise priority of this issue? This bug makes life miserable...

[2016-03-08 10:56] zetok commented on #2916
on qTox 1eb68542df922f2080e85c403dc3f866ef881e54:
![status](https://cloud.githubusercontent.com/assets/3148759/13599672/29245d12-e51c-11e5-99ab-0b8a28095ab9.png)

Second client was just launched (the one with a green orb), for a moment showed yellow orb, but then it changed to a green one.

[2016-03-09 08:23] Smorgan05 commented on #975
On 4k there seems to be a scaling issue.  The name of the User your talking with and the settings bar are tiny.  Also is there a way to resize the columns in the main chat area on Windows?  Lastly the qtox main login does not scale properly for high dpi.

(I'm on Windows 10 with a dpi of 282.42)

[2016-03-09 08:41] Smorgan05 opened #2995 "4k (high DPI) Scaling for Qtox"
Ok I'm just going to take pictures and send them up.

The first picture is the login portal for qtox which measures 422 by 227 pixels. (poor scaling bc of 3840 by 2160)
The second picture needs a fix in the settings bar, Column widths in chat area, Person your chatting with font, and a bit of a bump in general on scaling.

![scale 1](https://cloud.githubusercontent.com/assets/15974943/13629637/6af

[2016-03-09 10:58] RonnieTiger commented on #2742
I'm not 100% sure but when i caught it cutting keystroked while i was typing and looking at the screen, it almost looked as if the letter was there briefly then deleted, like it had picked up a backspace from somewhere. my most affected keys seem to be D, Y and M, but more often than not it's completely random, and comes and goes in spouts. Only way to re-produce I would say is just continued norm

[2016-03-09 15:52] benwaffle commented on #975
icons still blurry
i'm using `QT_DEVICE_PIXEL_RATIO=2`

[2016-03-10 07:49] fmvin commented on #1567
Do you have any updates or plans regarding this long-playing issue?

It's strange that this basic and important feature for messengers waits to be released about 1 year.

[2016-03-10 15:37] Hasshu commented on #2965
@nurupo

Sounds like a fair compromise. I second that.

[2016-03-10 16:15] Hasshu commented on #2973
@dongmaster Just in case: do you have an actual playback device selected under the Audio/Video tab in the settings?

[2016-03-10 19:38] nurupo commented on #2965
@Hasshu

[2016-03-11 08:47] Hasshu commented on #2965
@nurupo Yes, I know how to read - just expressed my opinion on the matter.

Incidentally, is it normal for them to take so long to respond?

[2016-03-11 13:42] dongmaster commented on #2973
@Hasshu Yes.

[2016-03-11 14:21] g4jc commented on #1567
@fmvin it requires changes to toxcore (not qTox). So it's taking some time. You can track the issue here: https://github.com/irungentoo/toxcore/issues/1514

[2016-03-11 19:58] yurivict opened #2997 "Group chat user participation needs to be persistent"
Currently user that goes offline (often only temporarily offline) is dropped from the group chat. This doesn't look like a good way to handle user-offline situation because on poor connections users might go off and on again frequently.

In general I think group chat should be as persistent as possible.

User list should be able to show the online status of all group chat participants.

[2016-03-11 20:03] ProMcTagonist commented on #2997
https://github.com/tux3/qTox/issues/1567#issuecomment-195384513

[2016-03-11 20:26] Kengur8 opened #2998 "simple_make missing dnf dep qt5-qtsvg-devel"
qt5-qtsvg-devel
ffmpeg-devel

[2016-03-11 20:32] Deleetdk commented on #2997
Yes. This is the primary reason I don't use qTox for group conversations. Have to use Skype.

[2016-03-11 20:37] yurivict commented on #2997
Group chats in tox have a lot of space for improvement.

[2016-03-11 22:28] #2849 closed, assigned to tux3

[2016-03-11 22:37] tux3 commented on #2932
Closing, since the PR was rejected.

[2016-03-11 22:37] #2932 closed, assigned to nobody

[2016-03-11 22:42] tux3 commented on #2720
The auto-updater currently doesn't update itself, I'd recommend re-installing qTox (of course you'll keep your profile and settings) to be sure you have the latest updater version.

[2016-03-11 22:47] tux3 commented on #2955
This looks suspiciously like either an upstream problem or a packaging mistake, so for all I know #2936 might have fixed it.
If you still have this bug, or if you have more information (a backtrace would help a lot), please leave a comment.

[2016-03-11 22:47] #2955 closed, assigned to nobody

[2016-03-11 22:48] tux3 commented on #2740
We still don't have anyone in charge of RPM packages, and I'm afraid I don't really have the time to learn how to make them at the moment, so no real progress yet.

[2016-03-11 22:50] tux3 commented on #2926
@octonet1 Could you post the content of qtox.log in AppData please?

[2016-03-11 22:54] bitchecker commented on #2740
before domain change of tox project. there was an rpm repository!

if you have a spec file i'll try to work on it when i'll have time.

[2016-03-11 22:59] #2969 closed, assigned to nobody

[2016-03-11 23:13] #2942 closed, assigned to tux3

[2016-03-11 23:22] tux3 commented on #2765
It looks like your database is corrupt, unfortunately there's no way to recover it since it's strongly encrypted.
If you or anyone runs into this issue again, or if you find a way to reproduce the issue reliably, **please** leave a comment.
But without any way to reproduce, this bug seems to have been an unfortunate isolated corruption, so I don't think there's much we can do. Closing for now.

[2016-03-11 23:22] #2765 closed, assigned to nobody

[2016-03-11 23:42] tux3 commented on #2740
I wouldn't know if we still have a spec file, I'm not seeing anything on our Jenkins server

[2016-03-11 23:59] tux3 commented on #2874
Fixed by #2982, thanks @michals !

[2016-03-11 23:59] #2874 closed, assigned to nobody

[2016-03-12 00:47] zetok commented on #2497
Basic markdown support was merged in #2832, thus closing this issue.

For additional features/improvements for current implementation new issues should be opened if needed.

[2016-03-12 00:47] #2497 closed, assigned to nobody

[2016-03-12 00:48] zetok opened #2999 "Markdown monospace support"
“It would be very cool if qTox could support code highlighting, or at least monospace and indentation. So, +1.”

by @xenohunter in https://github.com/tux3/qTox/issues/2497#issuecomment-164678436

e.g. some `monospace` markdown

[2016-03-12 03:43] DX37 commented on #2849
Just tested qtox-updater.exe with nightly qTox. Upgrade to v1.3.0 is done! It works!
Thanks, @tux3!

[2016-03-12 04:03] sysfu commented on #2720
That did the trick, thank you.

[2016-03-12 09:04] strk commented on #1067
Do you know what fixed the bug @zetok ? As the same is happening with uTox now and would be nice to know how to fix (see https://github.com/GrayHatter/uTox/issues/235)

[2016-03-12 09:22] zetok commented on #2998
@Kengur8 could you open a PR with it added? :)

[2016-03-12 09:24] zetok commented on #2997
Duplicate of #1567, thus closing.

[2016-03-12 09:24] #2997 closed, assigned to nobody

[2016-03-12 09:59] zetok commented on #1067
@strk in qTox's case (IIRC), bump of Qt version fixed it.. so not really applicable for µTox.

[2016-03-12 10:12] strk commented on #1067
@zetok are you able to tell the Qt version that did NOT work and the one that DID ? I might look at the changelog for QT itself...

[2016-03-12 10:15] ovalseven8 commented on #2631
P-high

[2016-03-12 11:05] ovalseven8 opened #3002 "Markdown settings are not translateable"
This section is not translateable:
- **Markdown:**
  - Plaintext
  - Show Formatting Characters
  - Don't Show Formatting Characters

[2016-03-12 11:24] ovalseven8 commented on #2855
Closable.

[2016-03-12 11:43] ovalseven8 opened #3003 "Load history dynamically when scrolling up"
Hello,

it would be very convenient if the history is loading dynamically when scrolling up.

Old and unmerged PR's, but perhaps helpful:
https://github.com/TheSpiritXIII/qTox/commit/5b9d9cc7fbaf104f73bea48f59e9c93ea4ec54d8
https://github.com/TheSpiritXIII/qTox/commit/e9f702edd7cc0643c25e4100426e71946f3426d2

[2016-03-12 11:52] ovalseven8 opened #3004 "Load history by amount instead of days"
Hello,

chats always load with some history no matter how far back it was (up to 7 days back). It would be better if history was loaded by amount instead of days so it never loads too much or too little.

@TheSpiritXIII already worked on it, but the PR wasn't merged:
https://github.com/tux3/qTox/pull/2013

[2016-03-12 12:51] sudden6 commented on #2999
wasn't there a "code" formatting already planned?

[2016-03-12 14:15] zetok commented on #2999
@sudden6

Kinda.

This issue is specifically for tracking just monospace support, since this is currently the only mode that can work without problems, considering that message splitting can mess up code blocks, and some sort of plan for handling that case should be in place for code blocks to be implemented.

I.e. for codeblocks, there should be opened a new issue, and there plan for handling thi

[2016-03-12 14:18] zetok commented on #1067
@strk IIRC 5.4 didn't work, while 5.5 did work.

[2016-03-12 14:34] #2855 closed, assigned to nobody

[2016-03-12 14:36] #2481 closed, assigned to nobody

[2016-03-12 14:40] zetok commented on #1198
Thanks to @ovalseven8, from https://github.com/tux3/qTox/issues/3003:

#

Old and unmerged PR's, but perhaps helpful:
https://github.com/TheSpiritXIII/qTox/commit/5b9d9cc7fbaf104f73bea48f59e9c93ea4ec54d8
https://github.com/TheSpiritXIII/qTox/commit/e9f702edd7cc0643c25e4100426e71946f3426d2

[2016-03-12 14:40] zetok commented on #3003
Duplicate of #1198, thus closing.

[2016-03-12 14:40] #3003 closed, assigned to nobody

[2016-03-12 16:27] ProMcTagonist commented on #1198
A lot of users think chat history doesn't work at all because of lacking this

[2016-03-12 16:28] ProMcTagonist commented on #2999
How does message splitting affect code blocks in a way it doesn't affect other markup?

[2016-03-12 17:32] zetok commented on #2999
Affects to higher degree, which makes it ~unacceptable. I.e. codeblock is way more likely to have thousands of characters which would trigger the message split than just a normal piece of text with some basic markdown.

All those problems stem from toxcore not doing the message splitting :/

[2016-03-12 18:51] zetok commented on #711
Is there any good argument against identicons, as an opt-out feature?

Since they will be generated based on PK, what can be used for it, that would produce visually exactly the same image regardless of the output image resolution?

Is that doable?

[2016-03-12 22:32] dxerw opened #3007 "Too much wasted space (chat)"
Heya,

I've noticed that qTox is wasting too much space and the lines are getting extremely small (for example uTox can fit 3 extra words before it changes line!) is there a solution for this or is this just the way it is?

![qtox space](https://cloud.githubusercontent.com/assets/17804262/13725728/ee43de76-e8b2-11e5-826d-6ea0a6e9a8f3.png)

[2016-03-12 22:42] zetok commented on #3007
IIRC PR #2013 had some stuff that helped with this.

[2016-03-12 22:45] zetok commented on #1567
Hmm, looks like this issue is a duplicate of #896, thus closing.

[2016-03-12 22:45] #1567 closed, assigned to nobody

[2016-03-13 00:45] anoadragon453 commented on #3002
Anyone know how we mark strings as translatable?

[2016-03-13 09:16] zetok commented on #3002
`tr("string")`, but it won't work inside QStringList

[2016-03-13 09:29] anoadragon453 commented on #3002
Can we translate it outside of the list and then use that as input for it?

[2016-03-13 09:31] zetok commented on #3002
If it will work, why not.

[2016-03-13 09:32] anoadragon453 commented on #3002
How exactly do I check if a string is translating properly? Is there a file or dictionary with each translation?

Edit: It's probably in the translations folder, huh?

[2016-03-13 10:10] zetok commented on #3002
https://github.com/tux3/qTox/wiki/Translating#remove-obsolete-strings ← basically just this for some language, add translation for e.g. `Plaintext`, compile & check whether switching language brings translation during runtime.

[2016-03-13 13:36] rugk commented on #2475
This issue can be closed.

[2016-03-13 13:55] dolohow commented on #2530
I am fetching qtox on ubuntu from

[code]

and the icon is missing.

[2016-03-13 13:58] ghost commented on #2530
@dolohow, I have getting it from the same place, but now the icon is present.

[2016-03-13 14:00] dolohow opened #3009 "qtox-unity is missing on nightly wily"
I am using the following entry for apt for fetching qtox:

[code]

However, the package qtox-unity is missing there.

Related to #2153

[2016-03-13 14:00] dolohow commented on #2530
This is the version I have

[code]

[2016-03-13 14:45] rugk commented on #2960
What about using [Identicons](http://identicon.net/)?

[2016-03-13 15:08] ghost commented on #2530
@dolohow: I seem to have the same version as you, have you tried reinstalling it? And how long has the issue been present? Maybe it's just stayed behind from an older version and all you need is a reinstall...

[2016-03-13 15:25] dolohow commented on #2530
I unpacked the package and I don't see any icon files in it

[code]

qtox.desktop referes to icon file, but it is missing.

I also updated the icon cache, no luck.

[2016-03-13 19:24] ProMcTagonist commented on #2960
https://github.com/tux3/qTox/issues/711

[2016-03-14 11:52] #2475 closed, assigned to nobody

[2016-03-14 20:17] ghost opened #3013 "Unable to type in Japanese in Ubuntu GNOME"
Though I am able to compose message in qTox in English and Russian, I have found that I am unable to compose them in Japanese (specifically I am using the "Japanese (Anthy)" input source) and I end up just typing in English though it works fine in other applications.

I am running Ubuntu GNOME 15.10 with GNOME 3.18 and I have got qTox version `1.3.0-32-g9d8561a-1` installed.

[2016-03-14 20:50] ProMcTagonist commented on #3013
Does it work in other Qt applications? What version of Qt do you have installed?

[2016-03-14 22:23] ghost commented on #3013
@ProMcTagonist: It does, and as far as I can tell I have Qt version 5 installed but I'm not sure of the actual package name so unless you can tell me that or how to find the more detailed version number that's all I can give you.

[2016-03-14 23:34] zetok commented on #3013
Related / duplicate of #2326 ?

[2016-03-15 11:09] ghost commented on #3013
Can you check if pasting Japanese characters work? #2564

qTox -> Settings -> About

[2016-03-15 12:11] ghost commented on #3013
@kehugter: Ok, I have Qt version `5.4.2`, and yes, I am able to paste and send Japanese characters and my contacts are able to see them.

[2016-03-15 13:03] ghost opened #3015 "Formatting lost when message copied to clipboard"
For instance when someone sends me some code, and it is important for it to stay in the multi-line and indented format it is in (especially with languages such as Python), I find that the contest copied to the clipboard of a message is squished onto one line and all formatting is lost.

I am running Ubuntu GNOME 15.10 with GNOME 3.18 and have qTox version `1.3.0-38-ga48c422-1` installed.

[2016-03-15 13:12] ghost opened #3016 "'\u2028' illegal character comes with copied messages when there is a line space"
When I copy messages (code) from qTox into NetBeans IDE, I find that if the messages has a line space in it, so a message like this for example:

[code]

That NetBeans throws an error saying `illegal character '\u2028'`, however this does not happen if I copy and paste the same message from another program, so it seems as though that line space is being written out as a unicode character instead o

[2016-03-15 19:40] zetok commented on #3015
Duplicate of #902, thus closing.

[2016-03-15 19:40] #3015 closed, assigned to nobody

[2016-03-15 19:42] ghost commented on #902
It does even worse than that with me, with me it forces the whole lot onto one line.

[2016-03-15 19:43] zetok commented on #902
Since I can't reproduce lines being joined, would you mind providing some test code sample?

[2016-03-15 19:45] zetok commented on #902
@SeventhSonOfASeventhSon also, which qTox version?

[2016-03-15 19:45] ghost commented on #902
@zetok: Example:

So that this:

[code]

Becomes this:

[code]

[2016-03-15 19:46] ghost commented on #902
@zetok: qTox version `1.3.0-38-ga48c422-1`.

[2016-03-15 19:48] zetok commented on #902
That's weird, on exactly the same version (a48c4225938834db0d4406cff54a07378e9636f4) I can't reproduce lines being joined.

~~What OS are you using?~~ nvm, I've read issue again.

[2016-03-15 19:49] ghost commented on #902
@zetok: Ubuntu GNOME 15.10 with GNOME 3.18.

[2016-03-15 19:56] zetok commented on #902
Ok, I could reproduce the problem with the other code sample from issue #3016 - lines being joined is not this issue, but #3016.

[2016-03-15 20:03] ghost commented on #902
@zetok: Though it's probably related in some way, how does a strange illegal character being put in have anything to do with all lines being joined?

[2016-03-16 09:12] LittleVulpix commented on #2916
I have the same issue (I think). qtox (1.3.0) shows my other client as "online" every time after startup (of qtox), even though the other client is actually away. Only by switching the other client to online and then back to away, qtox registers the actual away status.

edit: by other client I mean a separate client on a separate tox id.

[2016-03-16 09:14] LittleVulpix commented on #2916
Possibly related to: https://github.com/tux3/qTox/issues/2199

[2016-03-16 11:03] zetok commented on #3009
cc @nurupo

[2016-03-16 16:19] nurupo commented on #3009
cc @tux3

[2016-03-16 20:02] LittleVulpix opened #3017 "Filetransfer auto-accept breaks destination permission checks"
Brief description:

Operating System: Windows Vista, UAC on
qTox version: 1.2.4 / 1.3.0

Reproducible: Always

**Steps to reproduce:**
1.  UAC turned on
2.  User is an administrator
3.  qtox is run normally (i.e. not right-click->run as admin)
…

**Observed Behavior:**
Incoming filetransfer is shown as normal and finishes without issues, but the file is not created in the destination due to unmet

[2016-03-16 20:23] ghost commented on #2564
This is working for me now with Qt 5.5.1. Could the error be somewhere else? I don't know which info could be relevant, please ask any if needed.

To be precise:
- äëïöüâêîôûçñã and the like can be typed and pasted (UK keyboard)
- Japanese (Kana keyboard) and Arabic (azerty keyboard) can be typed and pasted (#3013, #2857 etc)
- е́ (Ukrainian keyboard), can't be typed nor pasted (#2158)

---

qTox

[2016-03-16 20:24] ghost commented on #3013
@zetok dupe?

[2016-03-16 20:29] ghost commented on #3013
@zetok, This issue is still present when using IBus though.

[2016-03-16 20:30] ghost commented on #3013
Unless I am not understanding something as I am not very knowledgeable in the area of input methods...

[2016-03-16 20:40] LittleVulpix opened #3018 "qTox static lacks portability"
Since several months ago, qTox jenkins no longer has the "single fat exe" static build for windows.

It was magnificent, beautiful and simply awesome. Single exe!

Now it's an exe, a bunch of dll files and several folders. That's not nice :(

Is it possible to reinstate this static single-executable build? Several of my friends were using it and are very unhappy that the current versions are no lo

[2016-03-16 20:43] zetok commented on #3013
It could be an IBus issue?

Can you check if it works with other Qt5 apps?

[2016-03-16 20:46] ghost commented on #3013
@zetok, Well, I have tested it by setting the input method to "None", to "fcitx", and to "IBus", so it seems to be with all of them...

And as I think I mentioned before, this does not occur with other Qt5 apps, or any Qt apps at all, only qTox.

[2016-03-16 20:50] zetok commented on #3013
Well, it would be good to know in which Qt5 apps it works – and it doesn't really matter whether it works with Qt4 apps.

I have doubts whether 15.10 ships with Qt5 apps, and this is why I'd like to actually know what those apps are.

[2016-03-16 20:54] ghost commented on #3013
@zetok, The file manager dolphin was one of them, if you want, I can get a list of the others?

[2016-03-16 21:46] photonometric commented on #672
Excellent! Sounds like this is much-wanted. I barely need new glasses and have been accused of drunkenness because of the just-slightly-smallness. x3

If this might be a while, it would be awesome to have just a few of the key CSS text modifiers that @agilob et al found in #1882. That process would be an ordeal to find even if I was great at CSS these days ^^;;;

Thanks!

[2016-03-16 21:58] sudden6 commented on #3013
@SeventhSonOfASeventhSon Can you check if dolphin is a qt5 app? You can see the qt version of dolphin in help -> about dolphin or something similar.

[2016-03-16 22:00] ghost commented on #3013
@sudden6, I'm sure it is, I checked in its list of dependencies and lost of libs to do with Qt5 are there.

[2016-03-16 22:05] ghost commented on #3013
Dolphin's about info is useful, it tells which Qt version it is using and against which one it was built. You should post that.

[2016-03-16 22:14] ghost commented on #3013
@kehugter, Ok, well, it says it is using and was built against Qt version 5.5.1.

[2016-03-17 10:03] Doom032 commented on #2891
I actually came to add an issue specifically for

I often use this to copypaste YouTube links people send me into VLC, so that's my use case. Should this be a different issue or could it fit in with the general copy interface improvements?

Looks like it's when you switch focus to a different window and then alt-tab back to qTox. Focus should stay on the selected text in the log, but instead switc

[2016-03-17 10:41] Doom032 commented on #3013
Are you using Ubuntu 14.04 LTS? Because I'm also struck by #2326 on my home computer which uses this version of Ubuntu, but I found I don't have the problem on Debian Testing on my laptop. If all else fails, the next LTS version of Ubuntu, 16.04, will come out this april, and I think the updated software will probably have fixed this. If you can't wait that long but are still willing to update you

[2016-03-17 10:59] ghost commented on #3013
@Doom032, I already stated this information in my main post at the top.

[2016-03-17 13:31] ddobrev opened #3019 "Provide automatic builds for OS X"
Please provide automatic builds for OS X as you have for Windows and Linux. At the moment we rely on @RowenStipe for those but he needs to manually do it at each release and he doesn't always have the time - as evident by my request (https://github.com/RowenStipe/qTox-OSX/issues/7) from a work week ago which doesn't even have a reply. https://travis-ci.org/ offers free OS X builds for open source

[2016-03-17 13:52] ddobrev commented on #2920
A friend of mine has had this for at least a month and I only discovered this issue - and the workaround 3 comments above - by accident. Could you please make it more prominent, for example by adding a note to the README or wiki, until the problem is fixed?

[2016-03-17 15:20] vith commented on #1985
Just want to confirm what @ovalseven8 described is still happening. If the window exists, it will come to front and steal focus when a message is received even with `Open window` and `Focus window` both unchecked.

This can easily result in sending the end of what you were typing elsewhere as a message in qTox, even a password.

On Arch Linux / gnome-shell with `community/qtox 1.2.4-3`.

[2016-03-17 17:33] skotopes commented on #2920
@ddobrev No one give a duck. You can fix it by your own, just pull master, and then cherrypick commits from my branch.

[2016-03-17 17:42] ddobrev commented on #2920
@skotopes thank you for your reply, and for your workaround too. Fellows, I understand @skotopes needs to make some changes to [his PR](https://github.com/tux3/qTox/issues/2974) but could anyone help him do so? This is a serious problem and he has, as far as I can see, already thoroughly researched it and implemented the core fix. I think he only needs a little assistance from anyone familiar with

[2016-03-17 18:57] zetok commented on #2891
@Doom032

That would be #1236.

[2016-03-17 19:11] zetok commented on #3019
So, AFAIK it would require:
- travis build set up in a way that would produce standalone build - that seems to be easy part, feel free to make PR that would do it
- automatic uploading it $somewhere - with this part, it could be either uploaded automatically to releases on GH, which would require @tux3 to add deployment GH token to travis, and make travis automate creating new tags & uploading rel

[2016-03-17 19:12] zetok commented on #1985
@vith you have outdated qTox.

[2016-03-17 19:22] zetok commented on #2920
@ddobrev

If I actually knew C++, I'd surely help – with that being said, the only thing wrong about the C++ code that I could spot was that it didn't adhere to coding guidelines. Somewhere in the process of fixing that @skotopes broke compiling on travis, at which point it needs to be fixed first before merge.

As for changes to the script – AFAICT they're not needed. @skotopes said that they're

[2016-03-17 19:26] ddobrev commented on #2920
@skotopes what do you think?

[2016-03-17 19:51] skotopes commented on #2920
@ddobrev I think I'm lazy. And fat.

As for the topic, travis fails to build linux version because linux got old Qt. I do want to say that I care and want to fix it, but that will be a lie.
As for script, I've modified it to use with brew (which originally was proposed for building mac version of qTox), but as far as I see guys do not want to use brew. I also do want to say that I care and want to

[2016-03-17 22:32] Doom032 commented on #3013
Oh, sorry. I was being stupid. And I was all hopeful too because I hate this bug.

[2016-03-18 02:10] vith commented on #1985
@zetok right you are. I manually rebuilt the arch package for the 1.3.0 tag, same problem there, and also from a48c4225938834db0d4406cff54a07378e9636f4, again same problem.

[2016-03-18 14:43] zetok commented on #2920
Well, regarding using brew to get toxcore/filter_audio - I don't know how reliable (whether at all) can brew be, or will be in the future to get toxcore/filter_audio. At the same time, building toxcore is relatively "cheap & easy" via script, which results in a situation where toxcore is compiled by qTox script, while (all?) other missing deps are installed via brew.

If there was any guarantee th

[2016-03-18 15:58] ddobrev commented on #2820
Fellows, I can definitely see you have a plenty of bugs that need to be worked on but from what I've seen in your list of issues, this one and https://github.com/tux3/qTox/issues/2920 are the only ones that prevent the entire application from functioning at all and happen with any configuration. I understand I might have overlooked other critical problems but my personal impression is that the two

[2016-03-18 23:51] ghost opened #3021 "Ridiculously big CPU and RAM usage when video calling mode is being used"
Brief description:

Operating System: Parabola GNU/Linux-libre
qTox version: [1.2.4](https://www.parabola.nu/packages/community/x86_64/qtox/)
Hardware:
Motherboard model: GA-78LMT-USB3 6.0
CPU model: AMD FX(tm)-4130 Quad-Core Processor
CPU speed: 3800 MHz
RAM memory type: DDR3
RAM speed: 1333 MHz
RAM size: 4Gb
Video model: Geforce 9800 GT
Video RAM memory type: GDDR3
Video RAM size: 512Mb
…

Repro

[2016-03-19 12:49] ghost opened #3022 "Messages sent to other users while they are offline do not get through if message history is disabled on the sending side"
I have recently observed the following behaviour:

**When history is on:**

When the history is on all works fine with offline messages, I am able to send and receive them and all works as expected.

**When history is off:**

When history is turned off however things do not work quite as they should, if I turn off the history I find that if I send a message to someone while they are offline, inste

[2016-03-19 20:07] zetok commented on #3021
Update your qTox, you have old version.

[2016-03-19 20:26] sudden6 commented on #1445
In this case the file probably was only in the filesystem cache and not written to the disk by the OS.

One solution would be to force sync to disk. On Linux this is possible by calling `syncfs(int fd)`.

The drawbacks:
- Can hurt performance
- The data may only get to the HDDs cache, which is also lost on a forced reboot
- Very OS specific

[2016-03-19 22:09] Myppomeu opened #3023 "[Feature request] Public group chat"
Would be great to create public group chats, that available to everyone.
In toxcore issue tracker [people say](https://github.com/irungentoo/toxcore/issues/1490#issuecomment-196098154) that it "included".

[2016-03-19 22:47] ProMcTagonist commented on #3023
New groupchats will be joinable with an ID, instead of needing a request from a friend. Is that sufficiently "available to everyone" or were you imagining something else?

You can follow their progress at https://github.com/JFreegman/toxcore/tree/new_groupchats

[2016-03-20 00:15] Myppomeu commented on #3023
Yes, I think you understand me correct. Saying "available to everyone" I mean that everyone can join chat without request from a friend. For example, public link.
Is that "new groupchats" are what I'm talking about?

[2016-03-20 03:12] ProMcTagonist commented on #3023
Yep, with new groups you won't need to be friends with any group members to get in.

[2016-03-20 09:27] Myppomeu commented on #3023
Thanks!
Should I close issue or wait while new groupchats will be ready?

[2016-03-20 09:58] benefaktorix opened #3024 "Problems updating to 1.3.0"
Brief description:

Operating System: Windows 7
qTox version: 1.2.4
Hardware: i5 2450 2.5GHz,
Nvidia GT 630M 1Gb,
8gb ram

Reproducible: Always

**Steps to reproduce:**
1.  Turn on qtox
2.  Prompts for update to 1.3.0
3.  Download update, "Restart to update"
4. Get this ![qtox update](https://cloud.githubusercontent.com/assets/6757789/13903819/97f9d51c-ee92-11e5-824f-725dbc2dcfd4.PNG)
5. Turn qtox

[2016-03-20 11:41] LittleVulpix commented on #3024
Can confirm the same behavior on windows vista (updating from qtox 1.2.4). It is said to be fixed in some update but I think that if your update is broken, it deters people from updating... Installing the new version on top of current qtox actually works, but it's not optimal.

[2016-03-20 17:32] ProMcTagonist commented on #3023
I can't find any other open issues about your particular question (publicity of the chats) although there are others that are about new groups. I guess it's up to @zetok.

[2016-03-21 02:51] alojzjakob opened #3026 "Symlinked video devices crash application"
Brief description:

I have a webcam and a tv tuner, which occasionally change device numbers (almost after every system reboot), so i made udev rules to have my webcam always as /dev/video-webcam and tv tuner as /dev/video-tv, instead of /dev/video0, video1...

Choosing symlinked video device crashes application when on settings screen and when clicking on Audio/Video tab.

Operating System: openS

[2016-03-21 11:08] zetok commented on #3026
Could you provide udev rules, so that anyone could test with renamed device?
`cd /dev && ln -s video0 video-webcam` works for me with no crash on a48c4225938834db0d4406cff54a07378e9636f4.

Which makes me wonder if it's not a problem with how qTox handles your webcam.

Could you perhaps provide a backtrace?

[2016-03-21 12:50] sudden6 commented on #3026
I also can not reproduce on https://github.com/tux3/qTox/commit/a48c4225938834db0d4406cff54a07378e9636f4 with openSUSE Leap 42.1

could you additionally provide the output of `v4l2-ctl -d /dev/video-webcam --list-formats-ext` ?

[2016-03-21 13:06] alojzjakob commented on #3026
udev rules:

[code]

![image](https://cloud.githubusercontent.com/assets/17972823/13919460/e1ad1422-ef6d-11e5-802d-882ca37c02c5.png)

[2016-03-21 13:16] feeef commented on #2989
I confirm this bug. It was working on a previous release but after a recent upgrade of qtox it stopped working for me as well.

This is a feature that I really need as I use tox to do audio conferencing with my collaborators.

thanks for your help!

[2016-03-21 16:04] zetok opened #3028 "osx building script fails after Qt version is bumped in brew"
Operating System: OS X (whatever travis uses)

Reproducible: Always

**Steps to reproduce:**
1.  Qt version bump in brew

**Additional info:**
https://travis-ci.org/tux3/qTox/jobs/117480697#L2967 ← build failure, line above there's printed Qt version available

https://github.com/tux3/qTox/blob/ccb8fb9625d3dfea79a2f162a976bdb44861151b/osx/qTox-Mac-Deployer-ULTIMATE.sh#L33

Edit: note that "tempora

[2016-03-21 18:01] rugk commented on #2549
This issue is still there.

[2016-03-21 18:08] rugk opened #3030 "Error when trying to install on Debian"
Brief description: Wrong entry in sources.list; could not find "debian/binary-amd64/Packages" in release file.

Operating System: Linux Mint Debian Edition 2.0
qTox version: /

Reproducible: Always

**Steps to reproduce:**
1. Follow the instructions at https://tox.chat/download.html#gnulinux for Debian/Ubuntu

**Observed Behavior:**
Literally:

(German version)

**Expected Behavior:**
Install qTox

[2016-03-21 18:12] zetok commented on #3030
No.

If you have problem(s) with those instructions, you should report that to the people who actually maintain them.

[2016-03-21 18:12] #3030 closed, assigned to nobody

[2016-03-21 18:21] rugk commented on #3030
And who are that?
I mean as this are instructions for your piece of software you should also make sure they are correct...

[2016-03-21 18:27] zetok commented on #3030
No idea, and I don't really care.

Instructions are in [INSTALL.md](https://github.com/tux3/qTox/blob/d1446ae56f99357c188e83f09749a90ed8f3da1a/INSTALL.md#generic), and AFAIK they are correct. If not, please open an issue about it.

[2016-03-21 21:03] nurupo commented on #3030
The qTox author, @tux3, maintains the qTox packages. Also, if the instructions on the website aren't correct, [everyone is willing to get them fixed](https://github.com/Tox/tox.chat/issues/84).

@rugk could you paste the sources.list file in here (the single line with `pkg.tox.chat` in it would do), I would like to check something.

[2016-03-21 22:21] zetok commented on #3030
From what I see, the problem is about wrong instructions on your website, not about packages.

Sure, do that. Not a qTox issue.

[2016-03-21 22:48] zetok commented on #1080
Hmm, how does current update mechanism work?

I.e. are changes proposed here still applicable?

[2016-03-22 00:05] SkyzohKey commented on #1080
Would be a nice idea. ;)
@borrougagnou Cool, un français dans le monde de Tox :)

[2016-03-22 10:41] #2999 closed, assigned to nobody

[2016-03-22 11:23] ghost opened #3035 "Allow 2-step-verification - feature request"
I think there should be an optional option which allows one to enable 2-step-verification so that when they try to log in a code is sent to their phone or email or whatever they want it to be sent which they then have to enter before it allows them to continue to log in.

[2016-03-22 11:48] TheNain38 commented on #3035
@SeventhSonOfASeventhSon This isn't an account on a distant server, this is a profile, which is a file, when you setup a password, it encrypts the file with this password, so you can't have 2-step-verification...

[2016-03-22 11:52] ghost commented on #3035
Amen.

Interesting related read: http://sakurity.com/blog/2015/07/18/2fa.html

[2016-03-22 11:58] ghost commented on #3035
@TheNain38, I understand this but there could be ways of getting round this so that the way of it contacting you to give you the code is not actually encrypted, or is encrypted but is decrypted with your password, but then the code is needed to decrypt the rest in connection with the password or something... I'm sure there is some way of getting round this.

[2016-03-22 12:01] TheNain38 commented on #3035
@SeventhSonOfASeventhSon You can't... If I grab your .tox, then I get home, I just try to bruteforce it and your 2-step-verification is useless...

[2016-03-22 12:10] SkyzohKey commented on #3035
Related. https://github.com/RicinApp/Ricin/issues/51

[2016-03-22 12:14] LittleVulpix commented on #2726
People keep saying this is a toxcore issue and it is an extension thereof, but I believe qtox is "worse than others" at sending double messages. All of my friends that have qtox occassionally send me duplicate messages. Whereas I (using miranda NG) and some of my uTox friends NEVER send me duplicate messages.

There must be some kind of timeout in qtox that tries to resend a message if an ack(?) i

[2016-03-22 12:17] ghost commented on #3035
@TheNain38, I don't know, is there anyway to have it encrypt it all with the code too and have that somehow also encrypted and sent to you? So that each time you close qTox or something it re-encrypts everything using the code as well... I don't know, maybe that wouldn't be possible, but just a thought of something similar...

[2016-03-22 12:19] ghost commented on #2726
Though it may be something else, this may be completely failing here https://github.com/tux3/qTox/issues/3022.

[2016-03-22 12:21] zetok commented on #2726
Right, there is timeout, and IIRC it's a bit short. Increasing it might prove helpful, even if it won't fix the underlying issue.

[2016-03-22 12:23] ghost commented on #3035
Fractal-recursive-distributed-encryption? That should work.

[2016-03-22 15:20] rugk commented on #3030
It is the original line as mentioned in the instructions.

[2016-03-22 20:01] nurupo commented on #3030
Could you still paste it please? The line in instructions has `lsb_release -cs` call which gets replaced with your distro's release name, so the line can't be the same as in the instructions.

Also, as @zetok has mentioned, this is not qTox application issue but the issue on the website, so it might be better to open an issue in https://github.com/Tox/tox.chat/issues/ repository and continue the d

[2016-03-22 20:04] nurupo commented on #3030
Oh, sorry, just noticed that you have created the issue in the website repo.

[2016-03-23 08:01] ProMcTagonist commented on #2726
We need numbered messages in core. It's been talked about but probably not focused on because of new groups.

@zetok Do you know what the current timeout is? I agree it should be at least 15 seconds.

[2016-03-23 10:33] #3035 closed, assigned to nobody

[2016-03-23 10:42] zetok commented on #2726
@ProMcTagonist Um, from what I can see, timeout is currently 15s.

I'll make PR doubling it, or perhaps it should be 45s ?

[2016-03-23 10:46] #2848 closed, assigned to nobody

[2016-03-23 10:47] zetok commented on #2726
Actually, I'm not sure if that's it. It's either of 2 values, and that would be either 2s, or 15s. Well, PR will need to be tested.
Eh, if only qTox code had actual comments :/

[2016-03-23 10:51] #3028 closed, assigned to nobody

[2016-03-23 11:30] #2868 closed, assigned to nobody

[2016-03-23 14:50] #2976 closed, assigned to nobody

[2016-03-23 15:02] sudden6 commented on #2987
I can not reproduce this on openSUSE Tumbleweed with KDE/Plasma5. But for me pressing [space] does not hide the qTox tray icon, I suppose this is how it should work.

[2016-03-23 15:10] sudden6 commented on #2973
@dongmaster @SergeyDjam @cepauskas  does this still happen with the latest release? I couldn't reproduce this at https://github.com/tux3/qTox/commit/252c9c8fae35f0258381537fee444b5eb02a9d7c with Linux.

[2016-03-23 15:16] cepauskas commented on #2973
I can hear sounds now - thanks.

[2016-03-23 15:27] sudden6 commented on #2901
This should be fixed with 3f89cd95d5399814461f5dae8d7e2a524637988e

[2016-03-23 15:27] #2901 closed, assigned to tux3

[2016-03-23 15:41] sudden6 commented on #2634
doesn't seem to be a problem anymore

[2016-03-23 15:41] #2634 closed, assigned to nobody

[2016-03-23 15:45] zetok commented on #2987
I could reproduce;

qTox: 6c5d70d8629f598df552de31ded786cd4f293f99
Qt: 5.5.1
OS: Gentoo x86_64
DE/WM: i3 wm
Tray backend: Qt

Reproducible: Always

@sudden6 which tray backed do you use?
https://github.com/tux3/qTox/wiki/Tray-icon

Yep.

[2016-03-23 15:48] sudden6 commented on #2987
@zetok I get `[15:45:40.501] ../qTox/src/widget/systemtrayicon.cpp:93 : Debug: Using the Qt backend`

so KDE does something different than all the other DEs...

[2016-03-23 16:02] sudden6 commented on #658
this seems fixed at https://github.com/tux3/qTox/commit/252c9c8fae35f0258381537fee444b5eb02a9d7c

[2016-03-23 17:19] dongmaster commented on #2973
@sudden6 I have notification sounds now. The commit hash is b69042ec407c30b27ce3e56bb6daf14300facc8e
Thanks for fixing it.

[2016-03-23 17:19] #2973 closed, assigned to nobody

[2016-03-23 17:30] ghost commented on #2634
Had to remove KDE, can't confirm.

[2016-03-23 17:43] ProMcTagonist opened #3041 "Whitespace is not preserved in preformatted messages"
Brief description:
whitespace is not preserved in preformatted messages

Operating System: Debian Jessie
qTox version: v1.3.0-66-ga770b9b
Hardware: computer

Reproducible: Always

**Steps to reproduce:**
1.  update qTox to latest
2. send a message with multiple spaces inside ``

**Observed Behavior:**
whitespace is not preserved

**Expected Behavior:**
whitespace is preserved

**Additional info:**

[2016-03-23 17:49] zetok commented on #658
Re-opening; I can still reproduce it on 252c9c8fae35f0258381537fee444b5eb02a9d7c

[2016-03-23 18:18] zetok opened #3042 "[Regression] file transfers widget is too small when images are transferred"
Brief description: Images in file transfer widget aren't displayed properly any longer, and they're visible  "outside" of the file transfer widget

Operating System: Gentoo x86_64
qTox version: 252c9c8fae35f0258381537fee444b5eb02a9d7c
Qt: 5.5.1

Reproducible: Always

**Steps to reproduce:**
1.  Send/receive picture
2.  Look at left corners of the file transfer widget

**Observed Behavior:**
Visibl

[2016-03-23 19:46] soredake commented on #2866
Same for me

[2016-03-23 21:46] sudden6 commented on #658
how often did you switch tabs?

[2016-03-23 22:47] Bujiraso opened #3043 "[Feature Request] Keep emoticon option open until manually deselect"
Brief description: I and some of the people I chat with enjoy fooling around with streams of emoticons/emojis in lieu of actual text. To make this fun more easy, it would be nice to have the dialog remain open so I can spam a whole bunch to my buddy instead of having to open the dialog and find the page I was on again.

Operating System: Arch Linux (Linux 4.4.5-1)
toxcore (pacman package) version:

[2016-03-23 23:18] zetok commented on #658
As fast as I could, which would be about 1-2 switches per second.

[2016-03-23 23:57] anoadragon453 commented on #3043
Ran into this same issue yesterday when I was trying to write mean things to friends in emoji letters.

[2016-03-24 00:03] anoadragon453 commented on #3041
You're referring to the extra space added in front, correct?

[2016-03-24 01:41] anoadragon453 opened #3047 "[Discussion] Should markdown work next to punctuation?"
So we've disallowed markdown to work when next to any character other than a space or a newline. Should we also include punctuation? Ex. `.` `,` `?`

![screenshot_20160323_213924](https://cloud.githubusercontent.com/assets/1342360/14006084/045d0396-f140-11e5-9f53-b01098072c11.png)

Would help avoid situations like this.

[2016-03-24 04:43] zetok commented on #3047
What is punctuation though?
- `.` – https://en.wikipedia.org/wiki/Full_stop#Full_stops_in_other_scripts
- `,` – https://en.wikipedia.org/wiki/Comma#Comma_variants ; https://en.wikipedia.org/wiki/Comma#In_other_languages
- `?` – https://en.wikipedia.org/wiki/Question_mark#In_other_languages_and_scripts

And so on. Unless there is handy regexp that would do the job correctly 100% all the time?

[2016-03-24 09:59] vith commented on #1985
Well this is embarrassing. I was stepping through [Widget::newMessageAlert](https://github.com/tux3/qTox/blob/master/src/widget/widget.cpp#L1223-L1250) when I noticed a notification pop up and immediately disappear when the window got focused. Then I checked my gnome extensions and saw I had [Focus my window](https://extensions.gnome.org/extension/1005/focus-my-window/) enabled. Sorry if I wasted

[2016-03-24 14:32] qtoxer opened #3050 "qTox is changing my password profile!"
Using Linux Mint 17.3 Operating System
qTox version: the latest.
**Steps of the issue:**
1.  Did the latest update today which is v1.3.0-80-g252c9c8
2.  After rebooting the system, and logged in.
3.  Used the same password. It shows "Wrong Password"
…

**Additional info:**
![3340ua8](https://cloud.githubusercontent.com/assets/3148759/14022397/8a152486-f1d7-11e5-8868-ec0332bb238b.jpg)

_edited by z

[2016-03-24 15:09] ddobrev commented on #2920
A friend hit this bug. He deleted the log and qTox started again but in just a few days it started crashing more and more. My personal guess is that the reason is the gradually growing log file. Since @skotopes has actually fixed the coding style in another commit, if the only remaining problem is the changes to the build script, could you please just ignore them and merge the rest?

[2016-03-24 15:40] zetok commented on #3041
Nope, other whitespaces

[2016-03-24 15:41] zetok commented on #3041
Actually, I wonder whether that would be fixed by #2994

[2016-03-24 15:48] zetok commented on #3050
Could it be #2161?

Edit: i.e. are you sure that you had free space on your HDD?

[2016-03-24 15:53] qtoxer commented on #3050
I've checked it, and there is a lot of space. Also I've tried to use the command :
`qtox -p profile`
But it does not delete the profile, and I could not load any other profiles using the mouse nor the keyboard.
Do I have to uninstall the app, or what should I do?

[2016-03-24 17:38] Sheykhnur commented on #3026
Confirm, Archlinux x86-64, qtox version: 1.3.0-1, click on Audio/Video settings crash app with message:
[20:34:51.454] ../src/video/camerasource.cpp:282 : Debug: Closing device  "none"
[20:34:51.469] ../src/video/camerasource.cpp:209 : Debug: Opening device  "/dev/video0"
[video4linux2,v4l2 @ 0x2045d60] Cannot find a proper format for codec 'mjpeg' (id 8), pixel format 'none' (id -1)
Assertion *co

[2016-03-24 17:58] bignaux commented on #1820
Same here on LxQT 0.10.0 (tray plugin) / fresh qtox git / QT 5.7_alpha.
No light icon, no icon change on status change.
CMST (QT5) systray icon works fine (connect/disconnect ...)

[2016-03-24 18:33] ProMcTagonist commented on #3041
what I sent, with numbers as spaces, was:

[code]

Those spaces were stripped.

[2016-03-24 18:43] sudden6 commented on #3026
@Sheykhnur I think this problem should be fixed by https://github.com/tux3/qTox/commit/3f89cd95d5399814461f5dae8d7e2a524637988e

If you build the latest master it should work.

[2016-03-24 18:49] #2161 closed, assigned to nobody

[2016-03-24 18:53] #2866 closed, assigned to nobody

[2016-03-24 18:56] sysfu commented on #1969
qTox 1.3.0 is not saving the Audio and Video setting either.

[2016-03-24 18:58] zetok commented on #3050
The size of your `profile.tox` file is not `0`, right?

Edit:

I hope that you have backups..

[2016-03-24 19:02] sysfu commented on #2424
I have a lot of problems with qTox 1.3.0 hanging when I click on the Audio/Video tab. The app will lock up and I have to force close it. Then in usually requires a system reboot as the Logitech 9000 USB camera device becomes inaccessible. OS is Windows 7 x64

[2016-03-24 19:47] qtoxer commented on #3050
That is right, the profile.tox file is not 0 KB.

Yes I did, but is the uninstallment of qTox with reinstalling it a solution? or there is a better way?

[2016-03-24 19:52] zetok opened #3051 "Add missing docs to the user manual about saved friend requests and groupchat invites"
[User manual](https://github.com/tux3/qTox/blob/master/doc/user_manual_en.md) needs a section about functionality added in PR #2978 – saved friend requests & groupchats view.

How to use & what elements in those windows mean.

[2016-03-24 20:00] zetok commented on #3050
Reinstalling won't do anything – your profile is encrypted, and most likely was somehow corrupted, possibly by qTox, which would lead to a situation where qTox is not able to decrypt a corrupted file.

What you would want to do, is to save that file somewhere, try to restore file that you know was working from a backup, and see if that works.

[2016-03-24 20:02] ovalseven8 commented on #1985
My latest testing results:
- If qTox is minimized by 'Minimize to tray':
  - **Focus window doesn't work!**
  - **The opened window when you receive a new message is resized everytime, what's annoying**
- If qTox is minimized by 'Close to tray':
  - **No matter whether 'Focus window' is on or off: The qTox window gets focused.**
  - At least when the window is opened, it has the same size compared

[2016-03-24 20:03] anoadragon453 commented on #3041
Not sure about the tab situation, messages are `trimmed()` and markdown assumes surrounding spaces. Together these work quite nicely but I can try and see if that's causing the issues.

On March 24, 2016 2:33:36 PM EDT, ProMcTagonist notifications@github.com wrote:

[2016-03-24 20:26] zetok commented on #2899
So, apparently with #3040 (76d8e19320d2f15aeb019f72ecaaac2d6a23feab) this issue is fixed.

My suspicion was that

In any case.

Fix works only if both ends have it included e.g.
cda05bb772826378594eb7dd471fd279b46c8108 ↔ cda05bb772826378594eb7dd471fd279b46c8108 will not have second message being re-sent, while
e.g. 252c9c8fae35f0258381537fee444b5eb02a9d7c ↔ cda05bb772826378594eb7dd471fd279b46c8108

[2016-03-24 20:26] #2899 closed, assigned to nobody

[2016-03-24 20:35] qtoxer commented on #3050
Sorry, but I'm not an expert on this. Do you mean restore the profile.tox file to`~/.config/tox/` ?

[2016-03-24 21:28] qtoxer commented on #3050
Here is what happened before, and after the issue:
Usually I use LXDE desktop environment, and since it shows the update manager with accessing the root too it was easy to update and manage files around; unlike Enlightenment desktop environment it does not allow to use root nor any app that may want root access. Although, Enlightenment desktop environment does take less RAM than LXDE desktop envir

[2016-03-24 21:32] #3050 closed, assigned to nobody

[2016-03-25 02:09] zetok commented on #2789
No response for over a month, thus closing.

[2016-03-25 02:09] #2789 closed, assigned to nobody

[2016-03-25 02:16] zetok commented on #2050
Actually, this is a duplicate of #1872, thus closing.

[2016-03-25 02:16] #2050 closed, assigned to nobody

[2016-03-25 02:18] zetok commented on #1872
Note:
- part that should be implemented is importing via file picker
- there was a PR that seemed to do the job: #2140

#
- drag & drop way of importing possibly needs more discussion or that idea needs to be discarded

[2016-03-25 02:41] zetok opened #3052 "segfault on reconnecting after accepting FR"
Brief description: qTox segfaults if one accepts a FR, and then clicks on `Reconnect` in settings

Operating System: Gentoo x86_64
qTox version: cda05bb772826378594eb7dd471fd279b46c8108
Qt: 5.5.1

Reproducible: Always

**Steps to reproduce:**
1.  Receive a friend request and accept it.
2.  Go to settings and click on `Reconnect`
3.  segfault

**Observed Behavior:**
Segfault

**Expected Behavior:**

[2016-03-25 03:53] zetok opened #3053 "status change notifications in chatform appear to be blank when nick is LTR"
Brief description: When LTR (left-to-right) name is being used by some contact, status change notifications in chatform have only icon visible, with no letters.

Operating System: Gentoo x86_64
qTox version: cda05bb772826378594eb7dd471fd279b46c8108

Reproducible: Always

**Steps to reproduce:**
1.  contact with a LTR nick, e.g. `خ`
2.  contact changes status `Online` / `Away` / `Busy` / `Offline`

[2016-03-25 07:52] #3052 closed, assigned to nobody

[2016-03-25 11:10] zetok commented on #1119
Since 03329d81714dcb526ab837e80d953dce4ccada8d is in place, does that mean that this issue is fixed?

Additionally, qTox doesn't have separate window for video calling, so..

[2016-03-25 18:29] bignaux commented on #1655
try with pulseaudio : https://github.com/tux3/qTox/wiki/Pulseaudio#noise-and-echo-cancellation--module-echo-cancel

[2016-03-25 18:57] Sheykhnur commented on #3026
Yes, it is, building from latest master solved the problem.

[2016-03-25 19:30] c33s opened #3055 "qTox is raiding a SBIE2314 error if started in Sandboxie Sandbox"
Brief description:

Operating System: win7x64
qTox version: 1.3.0

Reproducible: Always

**Steps to reproduce:**
1.  setup sandboxie
2.  start in qtox in sandbox

**Observed Behavior:**
qtox not starting

**Expected Behavior:**
qtox starting

**Additional info:**

http://www.sandboxie.com/index.php?SBIE2314
http://www.sandboxie.com/

[2016-03-25 19:43] linux-modder commented on #1820
@Getron,
Still having  issue if you run it on F23 ?  https://tinyurl.com/live-respins

@kehugter,  can you try with a  compiled dynamic build?

@bignaux,   LxQT  is still using an ancient  version of  QT (confirmed with a friend) MOST QT things derp on F22 / F23  on LxQT.

[2016-03-25 19:52] ghost commented on #1820
@linux-modder not right now, I had to delete KDE. Will start a box if I have time today.

[2016-03-25 20:12] c33s commented on #3055
loosen the tight restrictions a bit. now having a registry problem.
but this issue is solved

[2016-03-25 20:12] #3055 closed, assigned to nobody

[2016-03-25 23:59] bignaux commented on #1820
@linux-modder : i'm sure i've recompiled all this stuff with Qt 5.7.0_alpha.

[2016-03-26 05:50] zetok commented on #1319
Since the bug was allegedly fixed, and dynamic loading is in #1198, closing this issue.

[2016-03-26 05:50] #1319 closed, assigned to nobody

[2016-03-26 08:51] gustavklopp commented on #2989
+1
@anoadragon453  How come it's working for windows and not linux since this function was deleted also for Windows code?

[2016-03-26 09:50] #2988 closed, assigned to nobody

[2016-03-26 09:57] ovalseven8 opened #3056 "Show group names for the invites"
Hello,

thanks to @sudden6, the old PR from @TheSpiritXIII got merged finally :) -> https://github.com/tux3/qTox/commit/78551e970e80c8e39118c14778c0e861ae6a5b13

However, there is an important detail to improve: At the moment, the group names for the invites aren't displayed. Here you can see a screenshot:

![Screenshot](https://cloud.githubusercontent.com/assets/8258609/14059408/48b531e2-f340-11e

[2016-03-26 10:02] #2920 closed, assigned to nobody

[2016-03-26 10:12] ovalseven8 opened #3057 "Update usernames at the group invites section"
**Brief description:**

At the group invites page, you can see the phrase `Invited by Alice`:
![2016-03-26-102429_1366x768_scrot](https://cloud.githubusercontent.com/assets/8258609/14059505/c005c53e-f342-11e5-89c0-fc167a87d4ec.png)
Assume that `Alice` is changing her username or you set a different alias for `Alice`, the invites page won't update it - what could be confusing in some circumstances.

[2016-03-26 10:18] ddobrev commented on #2920
Thank you very much. I really hope there will be a stable release soon.

[2016-03-26 10:22] ovalseven8 opened #3058 "Group invites page doesn't consider date format settings"
**Observed Behavior:**

The date is always formatted like this in the group invites page:
![2016-03-26-102429_1366x768_scrot](https://cloud.githubusercontent.com/assets/8258609/14059534/6bed855c-f344-11e5-98c1-e9a895ff1188.png)

It doesn't consider the general settings in your Tox profile:
![2016-03-26-112106_1366x768_scrot](https://cloud.githubusercontent.com/assets/8258609/14059547/e8e7f39e-f344

[2016-03-26 10:43] zetok commented on #3041
Since #2994 that fixes this issue was merged, closing.

[2016-03-26 10:43] #3041 closed, assigned to nobody

[2016-03-26 10:48] zetok commented on #3056
Yep, toxcore doesn't have that info, thus closing.

[2016-03-26 10:49] ovalseven8 commented on #3056
@zetok: Please reopen and label this issue with "upstream". It's too important for just closing.

[2016-03-26 11:26] ovalseven8 commented on #3056
@Jfreegman: Do you know if it will be possible with the new group chats?

The above example shows that the current solution is not optimal.

[2016-03-26 11:52] #1847 closed, assigned to nobody

[2016-03-26 11:52] #2600 closed, assigned to nobody

[2016-03-26 11:56] ovalseven8 commented on #711
Personally, I really like the idea to have identicons based on the PK. And if the user doesn't like the identicon, he could just choose another avatar. Because of that (and because too many options are not good anyway), it should not even be opt-out.

[2016-03-26 12:09] #2960 closed, assigned to nobody

[2016-03-26 12:13] sudden6 commented on #1972
This just happened to me at https://github.com/tux3/qTox/commit/631c37aef18a70c4c4b7d72570c22816b0f1f278 with openSUSE Tumbleweed (20160321) (x86_64)

Edit:
Further testing showed that if qTox is built against Qt 5.3.0 systray doesn't work and if qTox is built against Qt 5.5.1 it works as expected. So this is probably a Qt issue.

[2016-03-26 12:33] #1972 closed, assigned to nobody

[2016-03-26 14:21] lilydjwg commented on #1025
I don't know if this is related, but I find my qTox now uses a font for Chinese that looks ugly to me---many Chinese characters have different widths, heights or positions. It looks weird and used to be found on Windows. I'm on Arch Linux and with a 96dpi display.

This is a screenshot from qTox:
![](https://img.vim-cn.com/75/00cccd769aa608e1bd4474e7ba643421d8995f.png)

and the same text in leafpa

[2016-03-26 14:25] ghost commented on #1820
Tray icon works as it should in a KaOS box with all packages up to date using the latest qTox binaries.

qTox v1.3.0-117-gde48789
commit de4878909d75d9d4312db025f8c0fc30f9f79f39
Qt 5.5.1
Linux 4.4.5-1

[2016-03-26 14:40] ovalseven8 opened #3061 "qTox closing vncviewer window on display"
---

**Report from user `dingdong` in IRC:**

---

[code]

Reproducible: Always
Used program: TightVNC 1.3.10

**Steps to reproduce:**
1.  launch vncviewer
2.  launch qTox
3.  qTox closes vncviewer
4.  vncviewer doesn't close qTox in return when re-launched

**Observed Behavior:**
Observed terminal output when vncviewer window terminates:
CleanupXtErrorHandler called
Error: Event with wrong window

[2016-03-26 16:59] zetok commented on #1025
@lilydjwg could you include a sample text, not just an image of it?

[2016-03-26 17:00] ProMcTagonist commented on #711
With the stipulation that identicons be generated locally, without contacting any of the popular webservices that make them, I agree with @ovalseven8.

[2016-03-26 17:02] zetok commented on #3061
This sounds like a bug in TightVNC.

I.e. if it was qTox that crashed, it would be a qTox problem..

[2016-03-26 17:02] #3061 closed, assigned to nobody

[2016-03-26 17:05] ovalseven8 commented on #3061
Well, I don't know. But if it works for other programs it has something to do with qTox probably.

[2016-03-26 17:09] zetok commented on #3061
Yes, qTox grabs desktop as video input.

Which leads to the other program having to handle situation where qTox uses it – and it doesn't seem to be able to handle it.

[2016-03-26 17:13] ProMcTagonist commented on #3050
It sounds like your profile got corrupted.

[2016-03-26 17:16] ProMcTagonist commented on #3061
What other programs grab the desktop as video input? How do they affect TightVNC?

[2016-03-26 17:53] ProMcTagonist commented on #3042
Not sure what commit removed their padding but it should be reverted

[2016-03-26 19:53] JFreegman commented on #3056
@ovalseven8 Yes it would be possible. I'll think about it.

[2016-03-27 01:46] lilydjwg commented on #1025
@zetok Here's it:

[2016-03-27 03:46] suchpool opened #3062 "Update popup even after update to 1.3.0"
I updated to qtox 1.3.0 manually since I tought the updater wasn't working well cause the popup about an update kept coming. But even after updating (using the 64 bit installer) manually and seeing 1.3.0 in the about page I keep getting the popup that ask me to update. Every time I login the popup appear.

qTox version: 1.3.0
From the about page:
You are using qTox version v1.3.0.
Commit hash: b69

[2016-03-27 09:22] TON14 commented on #3062
I have same problem!

[2016-03-27 10:46] Fohroer commented on #672
+1

[2016-03-27 13:30] rugk opened #3063 "qtox: error while loading shared libraries: libwayland-cursor.so.0: cannot open shared object file: No such file or directory"
Brief description: This error is shown when trying to start qTox: `qtox: error while loading shared libraries: libwayland-cursor.so.0`

Operating System: Windows / OS X / Linux (include version and/or distro)
qTox version: 310-cb8b9dc (according to the apt-get package) - BTW: Who put the "best qTox client" into the description? :laughing: (reported: https://github.com/Tox/tox.chat/issues/94)
Hardw

[2016-03-27 13:32] rugk commented on #3063
I installed `libwayland-cursor0`.

Now I get:

But this is installed:
![libxcb-sync0](https://cloud.githubusercontent.com/assets/11966684/14065608/249e7a9c-f431-11e5-9978-05b1a779ab9d.png)

[2016-03-27 14:12] sudden6 commented on #3063
@zetok #2747 duplicate?

@rugk use the builds from README.md packages are broken :(

[2016-03-27 14:49] sudden6 commented on #3047
Currently it's also impossible to write something like:" _test_." in qTox.
Maybe we have to rethink the "no symbols right of MD" stuff?
Could it backfire if we remove this rule?

[2016-03-27 15:00] bitboy85 opened #3064 "[Feature Request] Enable/disable blinking icon"
If you recieve a message, the icon in the window list and in the task bar blinks if you recieve a new message. Having an option to disable this behaviour would be nice.

[2016-03-27 15:03] ovalseven8 opened #3065 "qTox crashes after screen turned off"
---

**Report from user `dingdong` in IRC:**

---

Brief description: qTox crashes on user logon from idle screen off

Operating System: Linux 15.04 64-bit Lubuntu + PCManFM
qTox version: (shown on `About` page in settings)  nightly
Hardware: Intel Core 2 Duo, 4 GB ram, 200+ GB HDD

Reproducible: Always

**Steps to reproduce:**
1.  computer idles with qTox and other apps running
2.  screen turns o

[2016-03-27 15:26] zetok commented on #3063
@sudden6 yep, thus closing this one.

#

Edit:
@rugk

:smirk_cat:

[2016-03-27 15:26] #3063 closed, assigned to nobody

[2016-03-27 15:31] ovalseven8 opened #3066 "Update friend request list after you have added the contact manually"
**Brief description:**
Assume Alice got a friend request from Bob. At the `Friend requests` tab you can see this and "Accept" or "Reject" the request. Everything fine so far.
But now, if Alice is adding Bob to her contact list manually via the `Add a friend` tab, you can still see the friend request from Bob in the `Friend requests` tab.

**Expected Behavior:**
Remove the friend request from the l

[2016-03-27 15:33] zetok commented on #3047
Yep, argument was that it would affect emoticons.

[2016-03-27 15:36] zetok commented on #3065
It would be good to get a backtrace if someone can reproduce.

[2016-03-27 15:50] suhr commented on #672
Github have a special button now, you know.

[2016-03-27 16:53] SkyzohKey commented on #711
![](http://i.imgur.com/zXXlIrF.png)

[2016-03-27 16:54] ovalseven8 commented on #711
@SkyzohKey: Based on https://gist.github.com/benwaffle/35ad7d6c49a6336ea1a8?

[2016-03-27 17:04] SkyzohKey commented on #711
The hsl2rgb/parse_base16 functions are from @benwaffle, yes. The @benwaffle code is a rewrite of this → https://gist.github.com/SkyzohKey/83e8e4c9ae2ef54db602

[2016-03-27 17:39] sudden6 commented on #3021
Please also post your webcam settings, you are probably trying to use a very high resolution and framrate.

[2016-03-27 17:52] sudden6 commented on #1445
with 9a80950ac6e602494557db1657abe802ba1ab9ff it should very unlikely to corrupt the Tox profile or any settings files under normal circumstances.
This explicitly excludes a hard reset of your pc, because we don't really have control over the various caches of the OS or the HDD.

[2016-03-27 17:54] sudden6 commented on #2733
@ovalseven8 Can you retest this? It should no longer happen.

[2016-03-27 18:05] #1445 closed, assigned to nobody

[2016-03-27 18:10] sudden6 commented on #3022
Can you retest this with latest master? 76d8e19320d2f15aeb019f72ecaaac2d6a23feab should at least reduce this behaviour.

[2016-03-27 18:18] ovalseven8 commented on #2733
Have just tested it: The issue still exists.

[2016-03-27 19:19] ghost commented on #3065
#2640? The issue is gone for me, but may be affecting other systems.

Another crash related to the screen I got: #2144.

I think more info is needed... I reproduce the same steps several times daily and qTox doesn't crash.

[2016-03-27 22:19] sudden6 commented on #3022
It generally increases the timeout to resend messages. This may also improve/change things for this bug.

[2016-03-27 22:22] sudden6 commented on #2847
The behaviour of drag and drop seems to have been changed. Now the whole chat + text input area act the same. Thus I will close this issue.

[2016-03-27 22:33] sudden6 commented on #2831
This doesn't seem to be an issue anymore, can you please retest with the newest qTox version?

[2016-03-27 22:49] sudden6 commented on #2727
This no longer seems to happen, thus closing.

[2016-03-27 22:49] #2727 closed, assigned to antis81

[2016-03-27 23:00] ProMcTagonist opened #3069 "[feature request] The groupchat invites alert should have a clickable join button if there's only one request"
Most users don't join tons of groups at the same time. The new invite alert is good for catching lots of invites but for only one pending invite the workflow has gone from one click to two plus some visual searching.

The invites message should have a clickable join button right on it if there's only one invite.

[2016-03-28 07:19] zetok commented on #3022
@SeventhSonOfASeventhSon

That sounds like a problem with the client of that contact - are they using qTox?

[2016-03-28 07:23] zetok commented on #3069
How it should look?
Currently:
![current look](https://cloud.githubusercontent.com/assets/3148759/14073117/4b083fbe-f4be-11e5-8ebb-1e35af05df68.png)

Edit: I.e. how the button should look, and on which side of the notification it should be located?

[2016-03-28 07:40] zetok commented on #1947
Well, given that now the whole chatform area including input can be used for sending files by drag & drop, original proposal is kinda ~moot, thus closing.

For those interested in using `CTRL` for sending file paths instead of files - please open a new issue, and perhaps link to it here.

[2016-03-28 07:40] #1947 closed, assigned to nobody

[2016-03-28 08:38] ProMcTagonist commented on #3069
![newgroupinvite](https://cloud.githubusercontent.com/assets/4358079/14074439/c42d39dc-f485-11e5-83a2-2e3271afdd98.png)

![newgroupinvite2](https://cloud.githubusercontent.com/assets/4358079/14074423/9cec0e52-f485-11e5-9fbc-d1c8234113b4.png)

[2016-03-28 09:40] sudden6 commented on #3069
I don't really like this idea, because how should the user know who is inviting him?

[2016-03-28 09:49] linux-modder commented on #3069
you click on the  toast notify  @sudden6 , seems  a  lot  less noisy to me used it  the other day was neat.

Shows up in FR section under  Friend request  with the Add a friend option still.

[2016-03-28 11:01] zetok commented on #3069
@sudden6

"Surprise!" :D
Well, it doesn't have to be a single button, but actually 2 – one for quick join that would appear on the right if there is only 1 groupchat invite, while the rest would works exactly in the same way as button currently works.

This way you get both desired functionality for the single invite, while preserving current functionality.

Would that be fine?

#

@linux-modder
Y

[2016-03-28 14:29] ghost commented on #3022
@zetok, I have figured out what the issue is and updated my initial description (as well as removing my comments which just confused and clogged things up).

[2016-03-28 14:35] zetok commented on #3022
I see. Just so you know, it's better to not remove messages, and if you want, just edit them to

[code]

Now, I'm not quite sure whether trying to keep some user data should actually happen when user explicitly disables option to keep that..

But yeah, qTox shouldn't inform that message was delivered when it simply failed to send it.

It probably should have a red `X` there if delivery was failed.

[2016-03-28 14:39] zetok commented on #2887
Well then, since there's nothing pointed out against using it, I'll make PR with info on what the commit message format is.

[2016-03-28 14:41] ghost commented on #3022
@zetok, I think that a good solution to this would be to provide another option in the settings which means that even if users disable history, they can check an option which means that offline messages will still be kept and get through until that is you are online, they get through, and then you quit qTox.

But it's not just like I send a message to someone while they are offline when history is

[2016-03-28 14:46] ghost commented on #3022
@zetok, I really think that history and offline messaging are different things in this respect though... The offline messages should at least be kept until they have properly been sent off... And if you say that all messages including offline ones will not be kept after a restart or whatever, then that does not explain them not getting through when I send them, the user comes online in a few minut

[2016-03-28 14:48] zetok commented on #3022
Yeah, that's a bug too.

[2016-03-28 15:24] ghost commented on #3022
@zetok, Just to mention it though, the tooltip for the `Faux offline messaging` does say `Messages you are trying to send to your friends when they are not online will be sent to them when they appear online to you.`, so I think what should be done is that when you disable history it should ask you if you also want to disable the `Faux offline messaging`, otherwise offline messaging should be sepa

[2016-03-28 17:36] sysfu opened #3072 "Feature request: add support for tray icon in Elementary OS 'wingpanel'"
Brief description: add support for tray icon in the Elementary OS [wingpanel](https://launchpad.net/wingpanel) (top menu bar notification area)

Operating System: elementary OS 0.3.2 Freya (32-bit)
qTox version:  v1.3.0-117-gde48789
Hardware: mid-2007 MacMini Core2Duo
…

Reproducible: Always

**Steps to reproduce:**
1.  Launch qtox
2.  Navigate to settings => general tab => check 'show system tray

[2016-03-28 17:50] rugk commented on #3063
Now I used https://build.tox.chat/view/Clients/job/qTox_build_linux_x86-64_release/lastSuccessfulBuild/artifact/qTox_build_linux_x86-64_release.tar.xz (from the Readme) and got exactly the same error...

[2016-03-28 18:25] FabrizioMarana commented on #3022
Affected too!

[2016-03-28 18:30] zetok commented on #3072
And what kind of foul sorcery does eOS require for tray to work?

Current tray implementation is able to work on most of DEs available, just not eOS.. which makes me wonder if it's not just simply a bug in eOS.

https://github.com/tux3/qTox/wiki/Tray-icon

[2016-03-28 18:49] sysfu commented on #3072
That's a good question, I have not dug into it myself and I'm not even sure that tray icon support for wingpanel has been documented yet.

Let me touch base with the elementary devs and see what they say.

[2016-03-28 18:50] zetok commented on #3063
Huh. Can you show output of `ldd qtox_binary_name` ?

[2016-03-28 19:46] anoadragon453 commented on #2989
@gustavklopp You sure you're running the latest nightly build on Windows?

[2016-03-28 22:48] sudden6 commented on #2733
@ovalseven8 I tried to reproduce this, but haven't succeeded yet. Can you give more info on how to reproduce?
- Are you running the Alice and Bob profiles on the same machine?
- Who makes the friendrequest?
- Does this also happen with profiles that aren't newly created?
- Is there a specific timing needed when crashing qTox?

[2016-03-29 01:12] borrougagnou commented on #1080
Sorry for long time I have work my project.
@zetok > Yes but, Firefox Update is not cool, If I check "Check for Update, but let me choose whether to install them" or check Automatically Update, Firefox Download okay but
each launch Firefox, I have a Message for Install a new Firefox version, Is not cool, I don't have a Buttons for skip version... ><""
and refuse install each firefox launch...
we m

[2016-03-29 05:46] ovalseven8 commented on #2733
Yes

Doesn't matter

No

I am not sure.

[2016-03-29 08:37] sudden6 commented on #2733
I'm still unsure about this. If Alice makes the friendrequest and Bob accepts it, is the profile not saved for Alice, Bob or both?

[2016-03-29 09:47] PKEv opened #3075 "[regression] No longer correctly processed messages to a local folder"
Brief description:

Operating System: Windows / OS X / Linux (include version and/or distro)
qTox version: 1.3
Reproducible: Always
after #3044

**Steps to reproduce:**

send a multiline message, for example

[code]

**Additional info:**
1. link to the catalog will not work because you do not handle the end of line
2. the reference was obtained by dragging the folder to set field message

[2016-03-29 10:44] zetok commented on #3064
What is the use case?

[2016-03-29 11:05] ovalseven8 commented on #2733
Well, in both Alice's and Bob's contact list the PK of the friend is saved, but not the username.

[2016-03-29 11:19] PKEv opened #3076 "Markdown types are not translated"
qTox version: 1.3

Types of Markdown from General settings impossible to translate into other languages

[2016-03-29 11:27] PKEv commented on #3076
a pop-up message at the sound test button is not translated too

[2016-03-29 11:32] sudden6 commented on #2733
So this issue is only about the other contacts username not being saved?

EDIT from IRC: yes only the username isn't saved.

[2016-03-29 11:43] ovalseven8 commented on #3076
=> #3002

[2016-03-29 11:47] #3076 closed, assigned to nobody

[2016-03-29 12:33] rugk commented on #3063
Here you go: https://gist.github.com/rugk/e77bff40ab0087fd8819

[2016-03-29 13:36] zetok commented on #3063
@rugk thanks.

It looks like someone has broken a static build.

Given that there's no one interested in fixing it, I wonder if it shouldn't be removed from INSTALL.md .. :/

[2016-03-29 13:56] dessalines commented on #3072
How did you even install qTox on elementary OS, I can't seem to do it from the instructions using `$(lsb_release)`.

[2016-03-29 15:32] zetok commented on #3042
`git bisect`:
good: v1.2.4
bad: 791d871737dc27371434386ca9b5c4def4d7a67a

857dfbcd4c1ecdab2b35c5bee8974bdcdef99558 is the first bad commit

[code]

Introduced in #2953.

With 857dfbcd4c1ecdab2b35c5bee8974bdcdef99558 reverted issue is gone.

cc @Talkless

#

Edit: image with proper file transfer widget:
![correct widget](https://cloud.githubusercontent.com/assets/3148759/14113762/43452c10-f5cc-11e5

[2016-03-29 15:35] gustavklopp commented on #2989
@anoadragon453  So it's disabled for Windows too? Because No, I don't have qtox installed on Windows platform, only Linux

[2016-03-29 15:36] anoadragon453 commented on #2989
I've got a windows partition, I'll test it when I get home.

On March 29, 2016 8:35:12 AM PDT, gustavklopp notifications@github.com wrote:

[2016-03-29 15:58] roranicus commented on #3064
I agree, an option to turn off notification would be greatly appreciated. I like to leave tox on, but blinking buttons can disrupt my workflow.

[2016-03-29 16:22] sysfu commented on #3072
The trick is to edit /etc/apt/sources.list.d/tox.list to read: 'deb https://pkg.tox.chat/debian nightly release'

Took me some digging to figure it out too.

[2016-03-29 16:37] sysfu commented on #3072
Also just as a point of comparison, I've noticed that the https://justgetflux.com/ and https://www.enpass.io apps successfully place 'tray' icons in the wingpanel, so it can be done. I've written the EOS devs and am waiting to hear back.

[2016-03-29 17:12] rugk commented on #3063
And where should I get the build now?

At first the installation according to the official website [failed](https://github.com/tux3/qTox/issues/3030), then I could finally download it, but it could not be executed (I now get to hear that the builds there are broken). And finally when using the builds in the Readme I to hear that they are broken too... :angry:

Do you have any working builds at all

[2016-03-29 17:19] bitboy85 commented on #3064
Yes, thats what i wanted to say. It could be irritating if something blinks on the screen when you need to concentrate.

[2016-03-29 18:09] ProMcTagonist commented on #3064
DND mode?

[2016-03-29 18:16] zetok commented on #3063
It's an official site of tox.chat, not qTox (qTox doesn't really have one). Note that there is a difference.

Um, I might have exaggerated on that - in general, if something doesn't "just work" for the user, I consider it to be "broken". AFAICS those builds would work, provided that you would install required dependencies. On that note, it seems weird that qTox was compiled in a way that makes `li

[2016-03-29 18:25] zetok commented on #3064
I think that `Busy` status could act as such. I.e. setting `Busy` is supposed to turn off notification sound, and I wonder if adding to that blinking would be a good idea.

Although that might be overloading functionality that most people would find annoying, and instead an option setting what `Busy` is supposed to do should be provided... :/

Opinions?

Related: regression to `Busy` functionality

[2016-03-29 18:31] Talkless commented on #3042
Oh damn.. I see now.

I was using picture with _white_ background while developing, so I failed to see that strange layout problem.

Gonna try to make take 2.

Thanks for report.

[2016-03-29 19:11] roranicus commented on #3064
Having to set a specific status for it is too specific. Speaking for myself, I like to appear as online and available, but still have no form of notification whatsoever. It's just a natural part of my workflow to keep tox on my second monitor and look at it ever 5 minutes or so.

If you look at most irc clients, they have a wide variety of notification options. While a busy status turning them off

[2016-03-29 20:28] rugk commented on #3063
Well... the first thing would of course that the package repositories get updated.

And please...

Yes I know. But you're one project and have one mission. And I am quite sure you can communicate to each other and make sure the website lists at least correct installation instructions. (Or a warning that builds are currently broken or whatever is the current state)
It is sad to see you distancing f

[2016-03-29 21:34] sudden6 commented on #2066
#2092 was fixed an merged

[2016-03-29 21:34] #2066 closed, assigned to nobody

[2016-03-29 21:41] sudden6 commented on #2733
@ovalseven8 can you confirm that it is fixed in this branch https://github.com/sudden6/qTox/tree/fix_friendusername_lost ?

[2016-03-29 21:43] anoadragon453 commented on #2921
Any progress on this @RowenStipe @agilob ?

[2016-03-29 22:00] zetok commented on #3063
Well, there are a few misconceptions.

Yes, it might appear that there is one mission. But no, Tox and qTox aren't the same project.
Personally, I'm not even convinced that Tox has the same "mission". If they do, then things they do seem rather strange and counter-intuitive to what one would expect.

Yes, I did try to communicate countless times. Typical reaction I was getting ranged from ignoring

[2016-03-29 22:11] zetok commented on #3064
On general principle `IRC ≠ user friendly`.

Generally, the more options, the less user-friendly software is.

Perhaps one option to disable all notification wouldn't be bad.

[2016-03-29 22:22] anoadragon453 commented on #2989
I'm getting some odd behavior. Here's my setup:
- qTox 791d871 Win8.1
- qTox 49b8a48 Arch Linux
- qTox db812fe Arch Linux

Putting them all into a groupchat together, I get the following:

Windows has the call button  active while it is not on either of the Linux clients. Calling and hanging up on the group from Windows crashes the clients (Group never receives call notification). One member of th

[2016-03-29 23:17] optimumtact commented on #3019
You can also use something like bintray for artefacts - it's free for OSS
https://bintray.com/

[2016-03-29 23:26] smc2000 opened #3078 "Detached chat windows remain open after disabling multi-window mode"
Brief description: The title already does a good job at describing what happens.

Operating System: Linux Mint 17.2 XFCE 64bit
qTox version: v1.3.0-127-g https://github.com/tux3/qTox/commit/791d871737dc27371434386ca9b5c4def4d7a67a

Reproducible: Always

**Steps to reproduce:**
1.  Start with qTox in single window mode.
2.  Enable multiple windows mode.
3.  Click a friend or group chat to open a de

[2016-03-29 23:30] Smorgan05 commented on #2995
Ok I have some good news.  I logged into Qtox and it appears that the High DPI issue is now fixed.

[2016-03-30 05:48] bitboy85 commented on #3064
In case of user friendly, there can be different points of view. Every software which steals focus, brings windows into foreground, blinks or plays sound forces the user to do something he may not want to do at the moment and stopping his workflow.
There are many examples. If you search for Win XP balloon tips, the first google results will tell you how to disable them. The sound "You have mail" w

[2016-03-30 06:52] zetok commented on #3078
In a "single window mode" you still can open detached windows, it's just not a "default" action.

So why would you expect them to be closed once option for just the behaviour gets changed?

[2016-03-30 06:53] zetok commented on #2995
If that is so, close the issue?

[2016-03-30 09:31] PKEv opened #3080 "Build issue on Windows"
Operating System: Windows
qTox version: 1.3

Reproducible: Always

When you run the script "bootstrap.bat" the program hangs at the stage of assembly ffmpeg-2.7

![default](https://cloud.githubusercontent.com/assets/6053197/14137970/3a32784c-f673-11e5-9878-fd47c5c89123.PNG)

[2016-03-30 10:12] zetok commented on #3080
Isn't that a duplicate of #2975?

It looks like a ffmpeg problem if it hangs when compiling it..

[2016-03-30 10:30] PKEv commented on #3080
Looks similar...
The question is how bypass

[2016-03-30 10:33] zetok commented on #3080
You might want to try with different ffmpeg version, perhaps 2.7, or 2.6

[2016-03-30 10:48] PKEv commented on #3080
could you tell how?

[2016-03-30 11:01] zetok commented on #3080
Huh, apparently it already uses 2.7.
In any case, ffmpeg versions: https://ffmpeg.org/download.html#releases

[code]

No idea whether diff would work.

[2016-03-30 11:09] rugk commented on #3063
Does @tux3 agree with your opinions? I mean does he also think qTox should be "cut of" tox?

[2016-03-30 11:20] zetok commented on #3063
Yes and no, depending on the opinion ;)

Clarification: I don't know whether qTox should be "cut off" from "Tox", and I'm not lobbying for that. I think that having a safe distance to something that might prove damaging is preferable.

As for the part that that needs to be fixed/cut off - those are packages provided by tox.chat, and given that they haven't been fixed for months, it's time to cut i

[2016-03-30 11:29] rugk commented on #3063
If they would at least provide their release key over HTTPS I would probably do...

[2016-03-30 11:38] zetok commented on #3063
I see. That's kinda a bummer, and I wonder if something can be done about it..

@sudden6 any idea on who would need to be contacted about https support for `downloads.opensuse.org` ?

In any case, here's the key I got by downloading it via http:

[code]

Also, note that you can get it by `gpg --search-keys antonbatenev`

[2016-03-30 11:40] ovalseven8 opened #3081 ""This Tox ID does not exist" after adding someone to your contact list using "Enter""
Operating System: Linux
qTox version: https://github.com/tux3/qTox/commit/375c9657ceecc67a66efe05480958fdfd3122c15
Reproducible: Always

**Steps to reproduce:**
1. Go to the "Add a friend" window
2. Paste a correct Tox ID
3. Press "Enter" (with clicking "Send friend request" everything works)
4. The Tox ID is added to your contact list
5. A "This Tox ID does not exist" popup is displayed now

Cann

[2016-03-30 13:02] ghost commented on #2887
@zetok, Good! When will the changelog be available through the About section then?

[2016-03-30 13:15] zetok commented on #2887
Not really fast. For changelog to be useful, you would need all contributors to conform to commit message format. I.e. currently there's me and @sudden6 who do that. I've emailed @tux3 about that, and when he'll have time he'd set up gitcop to check new PRs for whether commits in them conform to it.

gitcop in action: https://github.com/zetok/tox/pull/5

Setting gitcop wouldn't take even 5 min, gi

[2016-03-30 13:18] sudden6 commented on #3063
I have no idea if https support would be even possible with all the mirrors of downloads.opensuse.org

Maybe @abbat knows more?

[2016-03-30 13:35] ghost commented on #3013
A friend of mine tested this out using the normal Ubuntu 16.04 Beta 2 and apparently it worked as it should, though he did not get given the "Japanese (Anthy)" input source, just the "Japanese" one so I don't know if that could have been the difference, but anyway,he said it worked as expected... In other words this seems only to be a GNOME issue. Or an Ubuntu GNOME one, haven't tested this out ye

[2016-03-30 13:46] ghost commented on #3013
Could your friend test if he gets the same results as I did in https://github.com/tux3/qTox/issues/2564#issuecomment-197530292?

[2016-03-30 13:49] Smorgan05 commented on #2995
If we can get another person to confirm that the issue is fixed then yes.

[2016-03-30 13:53] abbat commented on #3063
downloads.opensuse.org owns by Novell and we can try to email to admin at opensuse.org to ask them to enable https (but I do not think they do it).

Also all packages signed by my GPG key (0x63E2FF3F ) which you can download from secure servers and check package integrity (apt do it for you automatically if you `apt-key add` my key).

[2016-03-30 13:55] ovalseven8 opened #3083 "Langugage inconsistent in new group chat invites page"
Brief description: The language in the new group chat invites page depends on which language you had set while you got the invite.

qTox version: https://github.com/tux3/qTox/commit/375c9657ceecc67a66efe05480958fdfd3122c15
Reproducible: Always

**Steps to reproduce:**
1. Set language to "English"
2. Get group chat invite (for example with sending `invite` to group bot)
3. Change language
4. Get fu

[2016-03-30 15:15] sudden6 commented on #2989
This PR should fix the audiocall buttons behavior on Linux and Windows:
- Remove db812fe Linux from groupchat (Windows client can no longer call)
- Call button inactive on Linux

Please test if there is actual Audio transmitted. (Probably not, but I don't fully understand the code yet)

Please report the crash of the windows client in a new issue, if possible with a backtrace and logs.

[2016-03-30 15:24] ovalseven8 opened #3085 "Group invites are cut off if somebody has too many of them"
Brief description: Group invites are cut off if somebody has too many open invites

Operating System: Lubuntu 15.10
qTox version: https://github.com/tux3/qTox/commit/af698d85372a5d2266c7f85ac35209b437cc5acb
Reproducible: Always

**Steps to reproduce:**
1. Add groupbot to your contact list
2. Type in `invite` many times
3. Look at the group invites window
4. Instead of a scrollbar, the invites are

[2016-03-30 15:30] SergeyDjam opened #3086 "qTox crashed on tab AV preference (1.3.0)"
uname -a
Linux nb 4.1.19-nrj-desktop-2rosa-x86_64 #1 SMP PREEMPT Fri Mar 11 17:31:47 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

cat /etc/release
ROSA Desktop Fresh R7 release 2014.1 for x86_64

qmake-qt5 --version
QMake version 3.0
Using Qt version 5.5.1 in /usr/lib64

rpm -qa | grep qtox
qtox-1.3.0-1-rosa2014.1.x86_64

rpm -qa | grep toxcore
toxcore-debuginfo-0.0.1-0.20150107-rosa2014.1.x86_64
lib6

[2016-03-30 15:43] zetok commented on #3086
It's most likely fixed on newest master. Care to re-test?

[2016-03-30 15:46] ovalseven8 opened #3087 "qTox crashed after I changed the language"
**Brief description:**
I played with qTox and suddenly it crashed. I am not sure why, so I can't list steps to reproduce it. But below you can find a full backtrace.
Seems like it has something to do with changing the language?

**Update:** See _Steps to reproduce_ below!

Operating System: Lubuntu 15.10
qTox version: https://github.com/tux3/qTox/commit/af698d85372a5d2266c7f85ac35209b437cc5acb
Rep

[2016-03-30 16:20] feeef commented on #2989
Thank you so much @sudden6  !

[2016-03-30 17:01] ghost commented on #3013
@kehugter, Sorry, my friend had some issues with uninstalling the Japanese and is now reluctant to do any more testing work for this... I have installed Ubuntu 16.04 in a VM now but I can't seem to get Japanese to work anywhere so I'm not sure if I'm going to be much help... I will try reloading the VM and let you know if I can answer your questions or find anyone else without the issue who would

[2016-03-30 17:52] rugk commented on #3063
Well... optional (and with the wget copy&past command line changed to https) would be enough.

[2016-03-30 20:46] ghost commented on #3013
@kehugter, Good news! I just installed Ubuntu 16.04 Beta 2 64-bit in a VM and Japanese works for me in qtox! So I will test to see if I get the same results as you do in the linked comment and get back to you...

[2016-03-30 22:05] ghost commented on #2564
I have tested this now in an Ubuntu 16.04 Beta 2 64-bit VM and I find that I get all the same results as @kehugter (I am not able to paste that letter, but I can't find it on they keyboard so can't test if I can type it...). Though there is an issue with the Arabic, though when I can copy the message once it has been sent and it displays fine, I only see a blank space where the Arabic letters shou

[2016-03-30 22:15] ghost commented on #3013
@kehugter, Right, please see my comment here https://github.com/tux3/qTox/issues/2564#issuecomment-203658784.

[2016-03-30 22:20] SergeyDjam commented on #3086
Rebuild master fix this problem. Thanks

[2016-03-30 22:21] #3086 closed, assigned to nobody

[2016-03-30 22:40] smc2000 commented on #3078
When you right click a friend in single window mode to open a chat in a new window, that is a very direct action that is clearly described by the option on the right click menu. The resulting action is therefore expected from the user's perspective. On the other hand, if a user wants to return qTox to single window mode by disabling the multi window option, I think it makes most sense that the use

[2016-03-31 00:48] Smorgan05 commented on #2995
Ok update we still have an improper scaling in the qtox login.  To be more specific the qtox logo area directly to the left of the user / pw entry area.

![qtox scaling](https://cloud.githubusercontent.com/assets/15974943/14162287/b3e23dae-f6b8-11e5-9e69-df5512913911.jpg)

Other than that we are looking good.

[2016-03-31 04:29] anoadragon453 commented on #2989
Will test in a bit, thanks @sudden6.

[2016-03-31 04:50] sysfu commented on #3072
[Here's a thread](https://elementaryos.stackexchange.com/questions/4574/spotify-icon-tray) discussing how support for a Spotify icon in the wingpanel 'tray' area was added.

Does that help?

[2016-03-31 06:33] SMOKExRA commented on #2530
The same problem on Ubuntu 15.10

[2016-03-31 07:08] fmvin opened #3088 "OS X: Public key truncated in Show Details dialog"
Brief description: For any contact in contact list a public key in "show details" dialog is truncated on several bytes. So adding new friend using public key is not possible. In the same time I cannot extract friend's ToxID from qTox.

Operating System: OS X 10.11.4
qTox version: v1.3.0-38-xxxx
Hardware: MacBook
…

Reproducible: Always

**Steps to reproduce:**
1. Select "Show details" for a user i

[2016-03-31 07:25] TheNain38 commented on #3088
When you say Public Key, you're talking about the ToxID, or really about the Public Key? Because the ToxID is 6 bytes longer than the PK because it contains, PK+NoSpam+Checksum, NoSpam is 4 bytes and Checksum is 2 bytes which adds up to 6 bytes

[2016-03-31 08:08] fmvin commented on #3088
The issue comes from that I would like share ToxID of my friend to another friend from my contact list. In qTox I found only "Public key" available on "Show details" dialog. If I send any public key to my friend then he cannot add a friend using this public key.

[2016-03-31 10:39] ghost commented on #3088
#2604

[2016-03-31 12:29] fmvin commented on #3088
Thats great. And how can I share contacts between friends in my contact list?
Only one solution I see here its to request ToxID from friend #1 and send it to friend #2 (extremely user friendly solution).

[2016-03-31 12:38] ghost commented on #3088
Yes, that, or use a DNS. More interesting discussion related to this issue in #235 and about sending IDs between friends in https://github.com/irungentoo/toxcore/issues/1350.

[2016-03-31 14:54] zetok commented on #3088
Indeed.
What you would want, is an automated way of doing that, i.e. you clicking once or twice, and qTox & toxcore handling the stuff. In a case where both of your friends would accept "request", they would be added to each other.
For that though there's required toxcore support.

Closing, since currently it's not doable, and it's an upstream issue. When upstream implements required functionality

[2016-03-31 14:54] #3088 closed, assigned to nobody

[2016-03-31 15:17] ProMcTagonist commented on #3088
How many duplicates have their been about sending friends to each other?

[2016-03-31 15:33] zetok commented on #3088
@ProMcTagonist #2604 has like 2 ATM.

[2016-03-31 19:22] ghost opened #3089 "Add client-side hook to validate commit messages"
GitCop can be too noisy (see #3079). To avoid this, qTox could ship a client-side `commit-msg` hook ([docs](https://git-scm.com/book/en/v2/Customizing-Git-An-Example-Git-Enforced-Policy#Client-Side-Hooks)).

TODO, if the idea is accepted:
- [ ] write the `commit-msg` script
- [ ] update `CONTRIBUTING.md`

[2016-03-31 23:29] ghost commented on #3089
http://addamhardy.com/2013/06/05/good-commit-messages-and-enforcing-them-with-git-hooks.html looks like a good start. Using python is a safe bet for most systems, but I couldn't tell if it's Windows-proof.

`.git/hooks/commit-msg` (created by the user, instructions in the wiki) should just call the actual script in qTox's repo. Will the script (`commit-msg-validator.py`?) be buried in a new/existi

[2016-03-31 23:46] ghost commented on #3064
Too many options => `about:config`-style manager. Anything beyond the scope of Average Joe gets buried there. That, of course, taking only the user perspective into account.

[2016-04-01 08:39] PKEv commented on #3080
In addition there is a problem with the Assembly for the override struct timespec.
Maybe someone solved this problem?

[2016-04-01 20:40] sudden6 commented on #2733
I'm setting this to low, since the username is retransmitted on every connection.

The solution to this would be to save the *.tox file on every username change, but to also implement some sort of rate limiting to one save per minute. The reasons for this can be found in the comments from @zetok in the above PR.

[2016-04-02 09:16] initramfs commented on #2995
Pixmap scaling issue may be related/caused by [QTBUG-49108](https://bugreports.qt.io/browse/QTBUG-49108) or [QTBUG-47844](https://bugreports.qt.io/browse/QTBUG-47844).

[2016-04-02 11:23] zetok commented on #3089
copypasting.
I guess that 72 chars are preferable.

#

I think that it would be better to include instructions for commit hook in the CONTRIBUTING.md.

Yeah sounds good to me; I was thinking of re-organizing scripts anyway, and putting them under `scripts/` dir.

[2016-04-02 14:20] initramfs opened #3092 "[Feature request] Desktop sharing size scaling"
Brief description:

As it currently stands, desktop captured footage is sent as-is in it's native resolution. In the case of high resolution displays this results in ridiculously high network bandwidth requirements for video, resulting in aggressive frame compression and artifacting.

Instead, if desktop sharing resolution can be manually selected and frame resizing (downsizing) can be performed,

[2016-04-02 14:22] initramfs commented on #3092
If someone can give me a quick overview of the video pipeline from source to sink I can attempt to implement this (sorry, I'm new to the project).

[2016-04-02 14:36] sudden6 commented on #3092
well, most of the video code is in `/src/video/` you would have to modify the options we give to libavformat and libavdevice in `/src/video/cameradevice.cpp` and make this options somehow selectable in the settings. Preferably one would use the existing dropdown for cameras to select the resolution.

[2016-04-02 16:07] Talkless commented on #3042
I need help with Git.

How could I "replay" these bad change on top of current head to start work on improved version?

If I do just `git checkout -b preview_click_v2 857dfbcd4c1ecdab2b35c5bee8974bdcdef99558`, then `git diff`  show nothing, as it is already commited.

[2016-04-02 16:15] zetok commented on #3042
@Talkless well, the bad change is still there, so it doesn't need to be replayed. What you probably would want to do, is to revert the change, and from there add functionality again without the bug.

to revert without committing any changes:

[code]

and from there you can start adding stuff from 857dfbcd4c1ecdab2b35c5bee8974bdcdef99558, and check what causes the bug.

[2016-04-02 16:23] Talkless commented on #3042
Oh OK so I just make a fix on top.

[2016-04-02 22:43] ghost commented on #3089
Me too, from https://github.com/torvalds/linux/pull/17 and http://tbaggery.com/2008/04/19/a-note-about-git-commit-messages.html

I'm at ~100 lines in the validation script, and I think that some things in the message specifications should be reviewed:

Has no real meaning, it would be simpler to specify an order for the body. Summary - breaking changes - solved issues, for example. Parsing the foo

[2016-04-03 02:01] fragtastic opened #3094 "Fresh qTox 64bit install crashes"
Brief description: Fresh qTox 64bit install. After opening qTox and logging in it freezes.

Operating System: Windows 10
qTox version: Debug: built on:  19:52:01 Mar 11 2016 ( 1457743787 ), commit:  b69042ec407c30b27ce3e56bb6daf14300facc8e
Hardware: i7  and 16GB ram

Reproducible: Always

**Steps to reproduce:**
1.  Install
2.  Open qTox
3.  Login
4.  Crash

**Observed Behavior:**
qTox freezes aft

[2016-04-03 02:44] fragtastic commented on #3094
Same result with the 32 bit installer. Log output is the same.

Debug: built on:  19:48:52 Mar 11 2016 ( 1457743418 )
Debug: commit:  b69042ec407c30b27ce3e56bb6daf14300facc8e

[2016-04-03 12:26] #3075 closed, assigned to nobody

[2016-04-03 19:02] SergeyDjam opened #3097 "[Feature request] Move button screencast in window chat"
Hello.
There is an idea to place a video call button on the selection of variants with the broadcast desktop or webcams. This is done in jitsi and skype

[2016-04-04 03:25] Nurmagoz commented on #2564
btw i figured out how u can type a full text in arabic and it can appear normally , but it is not sufficient to be used. but i hope it will help in solving the issue.

if u want ur typing to be appeared, try typing 40 letters (even if they similar) then after that type ur sentences or what ever u like, it will be like this:-

![whonix3](https://cloud.githubusercontent.com/assets/11895339/14237516/

[2016-04-04 04:42] anoadragon453 commented on #3097
You're suggesting there should be a button for screenshare in the call window that would set your desktop as your webcam?

[2016-04-04 11:36] Nurmagoz commented on #2856
btw , till now u cant install qtox from the installation tutorial which is mentioned in Tox website.

u must add debian-backport , so i wonder why dont u mention this in Tox website.

[2016-04-04 12:55] borrougagnou commented on #1080
this is an example.

[2016-04-04 14:16] ghost opened #3100 "On initial startup "qTox - Settings" is shown when "qTox - Add friend" should be shown"
I have recently found that when first starting up qTox it incorrectly labels the section at the top as `qTox - Settings` when it should be labelling it as `qTox - Add friend`:

![qtox-settingsincorrectlyshowing](https://cloud.githubusercontent.com/assets/11575271/14250961/9d37d50a-fa78-11e5-911b-839c309e4c99.png)

Though when going to another section and then coming back to that section it is labe

[2016-04-04 16:34] ProMcTagonist commented on #3097
+1

You should be able to select and control audio and video devices from within an active call's interface.

[2016-04-04 16:38] SergeyDjam commented on #3097
Yes, control AV in call's interface.

[2016-04-04 17:43] vith commented on #2903
Sorry about the "referenced" spam, didn't realize it would find the mentions in my fork repo.

If that PR is accepted the icon renaming workaround at arch linux shouldn't be necessary anymore and you'll be able to simplify the PKGBUILD similarly to this one I've been testing with https://gist.github.com/vith/97e3ccea15f53e0048f95d43daea6d74

[2016-04-04 18:19] zetok commented on #3097
No, at least to proposal of moving video call button.

No idea how that looks/works, but I suspect that it's not the best way to do things.

Could you provide good arguments in favour of moving & providing an unhelpful interface, as opposed to extending idea from #773 ?
↓
If there are no good arguments → #2102

[2016-04-04 19:20] zetok commented on #1785
Is it still reproducible?

[2016-04-04 19:25] Diadlo commented on #1785
I think, no.

[2016-04-04 19:25] #1785 closed, assigned to nobody

[2016-04-04 19:25] zetok commented on #2903
No problem – after all that doesn't get sent in mails anywhere :)

[2016-04-04 20:29] zetok commented on #1080
I guess that proposed changes are still applicable.

[2016-04-05 05:22] fragtastic commented on #3094
It seems there this was a case of **multiple downloads** of corrupt installers. Downloaded again today and the sha256 hashes from the multiple installers I downloaded previously are different than the ones today.

Tox log shows they all have the same build dates 19:52:01 Mar 11 2016 ( 1457743787 )

Functioning x86_64 sha256 F7AB4F97539F2AA400359EC04FE7733DE8307829FD000C5C52FB796CD7F30D52

Corrupt

[2016-04-05 05:22] #3094 closed, assigned to nobody

[2016-04-05 12:33] zetok opened #3103 "Binary blobs in tools/"
Are they needed? And if so, is it a good idea to use things >2 years old?

https://github.com/tux3/qTox/tree/20a61e4cc34815a6ffb5bf950cee3c710e8bb89e/tools

In either case, I'd propose to remove them, and if there's need, use something more appropriate, e.g. just make scripts that would allow for getting/compiling required stuff.

[2016-04-05 14:14] zetok commented on #2506
@NicoHood could you perhaps provide a backtrace if issue still exists?

Edit: https://github.com/tux3/qTox/wiki/Writing-Useful-Bug-Reports#providing-backtraces

[2016-04-05 14:18] zetok commented on #2551
Closing, since no good use case was provided.

[2016-04-05 14:18] #2551 closed, assigned to nobody

[2016-04-05 17:51] tux3 commented on #3103
Seconded. The binaries should be removed, some of the source code in there is still used though.

[2016-04-05 18:10] sysfu commented on #3072
@codygarver Can you please comment on this issue if you have a minute or two? I sent yourself and Daniel an email the other week, but maybe it got sent to the bitbucket.

[2016-04-05 20:04] darkman088 commented on #672
Hello, is it possible to have some update of the status, please ? This is now 1.5 years old...
Many thanks in advance!

[2016-04-05 20:32] zetok commented on #672
Well, its status is ~same as other issues tagged with [`help wanted`](https://github.com/tux3/qTox/labels/help%20wanted) – anyone is free to take a stab at fixing it, and when there will be a working fix, it will be merged.

[2016-04-05 22:14] #3103 closed, assigned to tux3

[2016-04-06 00:40] tux3 commented on #3009
Since this is a package specifically for Ubuntu Wily, there is no unity/non-unity split, the qtox-unity package will just be called qtox.
But you're right that it's not currently done, the package build script needs to be updated.

[2016-04-06 00:45] tux3 commented on #3018
We could, but it wouldn't work very well, the updater would immediately notice you don't have the same version as everyone else and it would try to download the bunch of DLLs again.
It would also mean maintaining a static windows builds for all our dependencies again, which uses quite a bit of resources.

[2016-04-06 08:45] LittleVulpix commented on #3018
Hmm, would it be possible to disable the autoupdater for the static build? After all you can't really update it if it's just a single fat binary.

[2016-04-06 09:56] dolohow commented on #3009
You can have KDE on Ubuntu as well, so not sure if it is a good idea to provide only one package qtox instead of qtox and qtox-unity.

[2016-04-06 17:46] ovalseven8 opened #3106 "One blank character too much if text in group chat is highlighted"
![2016-04-06-194416_1366x768_scrot](https://cloud.githubusercontent.com/assets/8258609/14326899/3928f7c4-fc30-11e5-96af-6458d7d6bc12.png)

![2016-04-06-194409_1366x768_scrot](https://cloud.githubusercontent.com/assets/8258609/14326896/364839ac-fc30-11e5-8b32-6c4b684fc725.png)

[2016-04-06 20:07] tux3 commented on #3018
It would make things more complicated, but I'm not sure what the benefit is, what's wrong with DLLs?
That's how most programs you install on your computer are shipped.

[2016-04-06 20:24] zetok commented on #3018
Is the goal to be like "most", and simply suck? Because that's how "most" of software is..

[2016-04-06 20:47] ProMcTagonist commented on #3097
Well that's not sensible.

Managing AV sources from within the call interface, per-call, is a necessary feature. I'm not going to dive into settings and change the global default video source when I want to show one person my desktop for a few minutes.

#2102 sounds like it would solve this use case, though.

[2016-04-06 20:48] LittleVulpix commented on #3018
The idea is that you don't install this. It's a portable build. It's a single exe that you just put _whereever_ and launch it.

And I agree with @zetok . This was simply very convenient. There is beauty in something that you don't have to install and that doesn't have 99999 files scattered around it. If you think it's not worth the effort, it's your right to reject this ticket. People who really w

[2016-04-06 21:37] zetok commented on #3097
I'm not sure about that. Note though that `A/V` source for me is a webcam, and not desktop streaming.
I.e. IMO for webcam you set it in settings (if manual action is needed at all, since qTox preferably should just make it work automatically).

As for desktop sharing (a ~separate feature) you'd just push another button in chat in order to stream it. As for options in screen sharing - that could be

[2016-04-06 21:37] #3097 closed, assigned to nobody

[2016-04-07 04:44] DX37 opened #3108 "qtox-git from AUR compiles latest 1.2 version instead of 1.3"
Brief description:
When I build qtox-git from AUR repo, it builds 1.2 version.

Operating System: Linux (updated Arch Linux)
Reproducible: Always

**Steps to reproduce:**
1.  Type `yaourt -S qtox-git`
2.  Wait for compile
3.  Look into version info - it's 1.2-**\* version

I've got a latest 1.3 git version, when I change 1.2 to 1.3 in qtox-git PKGBUILD.

[2016-04-07 06:47] NoxNoctium commented on #2995
Experienced the same on a 15" 4k screen with 250% dpi scaling, compare the size of the closing action to the actual UI-elements:

![](https://i.imgur.com/NnILxVZ.png)

![](https://i.imgur.com/uKLTfTl.png)
(this is the default window size)

Also, the window is hilariously small compared to the rest of the screen:

![](https://i.imgur.com/GpsAmfo.png)

[2016-04-07 08:13] ProMcTagonist commented on #3108
can we have an arch tag

[2016-04-07 08:33] zetok commented on #3108
That's a problem with arch.

[2016-04-07 08:33] #3108 closed, assigned to nobody

[2016-04-07 08:34] DX37 commented on #3108
Sorry, but after updating package from AUR, it compiles 1.3 version by default. Without changing default downloaded PKGBUILD.

[2016-04-07 22:38] BenjaminVettori opened #3109 "Allow higher Volume / Gain"
Operating System: Windows 10
qTox version: 1.3.0
Sound-Card: ASUS Xonare Essence STX Audio Device
Microphone: König CMP-MIC8
Headphones: Sennheiser HD 380 Pro

The person who I am talking to is also using qTox and has set the volume and microphone gain to maximum.

If i turn the microphone level and Volume to maximum, it is still quite low compared to other programs which have the same global volu

[2016-04-08 20:45] zetok commented on #2351
No response for over a month, assuming it was fixed, thus closing.

[2016-04-08 20:45] #2351 closed, assigned to nobody

[2016-04-08 20:59] zetok commented on #3109
It was done in #2415, but then, later on, reverted, since (IIRC) it was causing some problems.

Edit: related:  #2422

[2016-04-08 22:43] zetok commented on #3078
Except that it's not a switch on/off, but a switch for a default behaviour, which user can "override" without touching the option.

I.e. option doesn't change qTox's capabilities, but merely its default behaviour.

Thus,

`no multiwindow by default ≠ single window` would be correct.

[2016-04-10 11:32] ddobrev opened #3117 "Crash when pressing the button for reconnecting"
##### Brief Description

OS: OS X 10.11.4
qTox version: v1.3.0-38-ga48c422.
Commit hash: a48c4225938834db0d4406cff54a07378e9636f4
toxcore: 0.0.0
Qt: 5.5.1
Hardware:  MacBook Pro early 2009
…

Reproducible: Couldn't Reproduce
##### Steps to reproduce
1. Press the button for reconnecting.
##### Observed Behavior

A crash:

Process:               qtox [328]
Path:                  /Applications/qTox.a

[2016-04-10 16:07] Talkless opened #3119 "Undefined symbol with Qt 5.3 on Kubuntu 15.10"
##### Brief Description

OS: Kubuntu 15.10 amd64
qTox version: master
toxcore:  master
Qt:  5.3.2
Hardware:  VirtualBox

Reproducible: Always
##### Steps to reproduce
1. Build with Qt 5.3 on Kubuntu 15.10
2. Get image from other tox user
3. Click on image to open
##### Observed Behavior

Image did not open.
Output:

[code]
##### Expected Behavior

Image should open with default image viewer.
#####

[2016-04-10 16:52] zetok commented on #3117
Could add `qtox.log` ?

[2016-04-10 16:54] ddobrev commented on #3117
There you go:

[qtox.log.zip](https://github.com/tux3/qTox/files/211856/qtox.log.zip)

[2016-04-10 16:54] zetok commented on #3119
~~That looks like a problem with your system not being able to open the file.~~

Edit: sorry, nvm that ↑

[2016-04-10 17:01] zetok commented on #3119
The main "problem" with it is that current Debian 8 (stable) would not be supported with Qt >5.3.

[2016-04-10 17:29] Talkless commented on #3119
If I install it from `https://pkg.tox.chat/debian/ nightly/wily` it works OK. I guess it's built with system Qt, which is 5.4 right?

So to recap, one has to build with >=5.4 to run on Kubuntu >= 15.10. If developer uses system Qt -dev packages on that system, there will be no problem.

I guess hint in INSTALL.md should be enough?

[2016-04-10 18:05] Talkless commented on #3042
It looks like that Qt::KeepAspectRatioByExpanding makes picture overflow from QPushButton area.

Behaviour is much different compared to QLabel...

Still working for a solution.

[2016-04-10 20:55] curlyfriess opened #3120 "Have to Press Shut Down While qTox is Running in Xubuntu 15.04/15.10"
##### Brief Description

OS: Windows / OS X / Linux (include version and/or distro)  : Xubuntu 15.04/10
qTox version: (version numbers in menu `Settings → About`)  1.3.0-158-gd58922c
Commit hash:  d58922c667d023cf17cc22f2a761783088493e73
toxcore:  0.0.0
Qt:  5.5.1
Hardware:
…

Reproducible: Always
##### Steps to reproduce
1. Start qTox on logon.
2. Try to shut down Xubuntu.
##### Observed Behavior

[2016-04-11 01:52] zetok commented on #3120
What happens when you do `sudo systemctl poweroff` ?

[2016-04-11 10:57] #3081 closed, assigned to nobody

[2016-04-11 11:08] #3100 closed, assigned to nobody

[2016-04-11 17:01] #2903 closed, assigned to nobody

[2016-04-11 19:20] yurivict opened #3122 "After ungraceful shutdown qTox starts in persistent Away mode"
Observing this in a virtual machine with qTox ruining in it. When this machine is killed, next time qTox starts in Away mode.

I guess, qTox was in a temporary Away mode because user wasn't active. But after restart this turns into the permanent Away mode.

FreeBSD
qTox-1.3.0
toxcore-0.151112_1
qt-5.5.1

[2016-04-11 19:27] zetok commented on #3122
Well, there isn't anything that could be done about that. At least not in qTox. And I have doubts whether trying to fix that would actually lead to any benefits..

Yep. Even with "temporary" one it gets saved on HDD – it's saved in format that toxcore provides, and it just saves current status. When loading profile qTox has no information on whether given status was temporary or not, it only knows

[2016-04-11 19:27] #3122 closed, assigned to nobody

[2016-04-11 19:38] yurivict opened #3123 "User online/offline messages stopped working"
All of a sudden qTox doesn't show these messages any more. Same version, same config files. Normally it always showed that user went online/offline, and now not any more. I think this is some intermittent problem. "Keep chat history" is "on", and I don't see any other options that might affect this.

qTox-1.3.0

[2016-04-11 19:40] zetok commented on #3123
Do you have `Show contacts' status changes` set?
![setting](https://cloud.githubusercontent.com/assets/3148759/14439935/92824ab6-0025-11e6-90de-25337e17df7d.png)

[2016-04-11 19:41] yurivict commented on #3123
"Show contacts" is "on"

[2016-04-11 19:43] zetok commented on #3123
Can't reproduce on newest (0a2f54194569e626ef8501c610647219887505d4) qTox. Steps?

[2016-04-11 19:44] yurivict commented on #3123
No steps. Happened suddenly, without any obvious reason.

History of past communications is also gone.

[2016-04-11 19:46] zetok commented on #3123
Ok. Can you at least describe how things were, and at which point (after what) it stopped working?

[2016-04-11 19:47] zetok commented on #3123
As for history – r-clicking in chatform → `Load chat history` doesn't help?

[2016-04-11 19:50] yurivict commented on #3123
After the other user sent me some message online/offline notifications work again with this user.

It was working fine up to an hour ago. I exited the qTox instance and immediately restarted it again, and didn't see the online/offline notifcations any more.

Yes, history problem was due to this, sorry. It came back.

But notifications are a problem.

[2016-04-11 19:52] yurivict commented on #3123
So in short: Notifications stop working without an obvious reason. They work again after message exchange with the user. Something isn't clean somewhere.

[2016-04-11 19:53] zetok commented on #3123
Well, those notifications aren't (yet) saved, so after restarting qTox you don't see "old" notifications.

**Notifications not working unless there's some message shown in chatform** – this is a bug.

[2016-04-11 20:33] borrougagnou commented on #1080
thanks for add "You are using qTox version v1.3.0-38-ga48c422"
I wait the next updates to see if there has been change on "update"

[2016-04-11 20:58] yurivict opened #3124 "[feature suggestion] Always load the chat history for a certain period of time"
Currently qTox starts without the history. The user needs to use "Load chat history" command.

My suggestion is to have an option "Show chat history for" + combobox with the choices. When selected, this will load the history for a certain period of time set by the user.

Reason: with many other IM clients doing this, users expect to see the history after the program is restarted.

[2016-04-11 21:07] borrougagnou opened #3125 "Device name in config qTox is not correct...."
OS: MAC OS X 10.9.5
qTox version: v1.3.0-38-ga48c422
…
Why the name of Audio Device is "weird"?
![capture d ecran 2016-04-11 a 22 30 05](https://cloud.githubusercontent.com/assets/10796546/14441629/07991f22-0036-11e6-8551-3963ced377c4.png)

Before, no name of device:
![capture d ecran 2016-04-11 a 22 46 15](https://cloud.githubusercontent.com/assets/10796546/14441881/53b7d0e6-0037-11e6-8365-09f64e

[2016-04-11 21:13] dolohow opened #3126 "qTox prevents kde plasma from logging out from session"
##### Brief Description

qTox prevents kde (plasma 5) from logging out.

OS: Arch Linux
qTox version: Nightly
Commit hash: built without git
toxcore: 0.0.0
Qt: 5.5.1
Hardware:  Not relevant
...

Reproducible: Always
##### Steps to reproduce
1. Log in to Plasma
2. Start qTox
3. Perform logout
##### Observed Behavior

qTox prevented plasma from logging out.
##### Expected Behavior

qTox does not int

[2016-04-11 21:34] zetok commented on #3124
Last 7 days should be already be loaded – is that not the case?

Aside from that, there are #3004 and #1198.

[2016-04-11 21:36] zetok commented on #3125
What is the problem?

[2016-04-11 21:41] zetok commented on #3126
Looks like a duplicate of #3120, thus closing.

[2016-04-11 21:41] #3126 closed, assigned to nobody

[2016-04-11 21:42] yurivict commented on #3124
Yes, last 7 days are the silent default.

So I am asking to make it a user option.

[2016-04-11 21:42] borrougagnou commented on #3125
what is this strange name in the latest version of qTox?
(name of device in the first picture)

The input / output (in the end of post) is a real name of device

[2016-04-11 21:42] zetok commented on #3120
From #3126, thanks to @dolohow; on KDE5:

---

Logs:

[code]

[2016-04-11 21:47] zetok commented on #3120
So, the question is whether qTox can close itself when DM demands without any data loss..?

[2016-04-11 21:49] dolohow commented on #3120
I guess it should handle the signal and sync configuration, history etc. to the disk

[2016-04-11 21:58] zetok commented on #3125
No idea. I'd assume that it's something from your system.

[2016-04-11 22:45] borrougagnou commented on #3125
I search but I don't find the strange name in my computer x.X sorry
![capture d ecran 2016-04-12 a 00 24 59](https://cloud.githubusercontent.com/assets/10796546/14444371/49d17f6a-0045-11e6-85ba-e2111a1dda51.png)
![capture d ecran 2016-04-12 a 00 23 07](https://cloud.githubusercontent.com/assets/10796546/14444382/57349584-0045-11e6-8c2f-2e96a1d79983.png)
![capture d ecran 2016-04-12 a 00 27 52](htt

[2016-04-11 22:59] Chiitoo commented on #3125
It seems there are Swedish and French translations mingling together for some reason...

[2016-04-12 02:01] ProMcTagonist commented on #3124
Would prefer always loading a certain number of messages, not by time as it is currently. #2013 was going to do this + more on scrollup.

[2016-04-12 02:59] yurivict commented on #3124
qTox can have both as a user choice.

[2016-04-12 04:35] zetok commented on #3124
Nah. Currently it is supposed to load last 7 days of history, and if it doesn't do that, then it's a bug. Target though, if someone is adapting #2013, is loading up to `#N` last messages, and from there dynamically, as user will scroll up.

[2016-04-12 07:52] ghost commented on #3125
But that's not part of the translations afaik. I get the string in English, always.

[2016-04-12 07:55] Diadlo opened #3128 "Press Enter doesn't finish group creation"
##### Brief Description

OS: Arch Linux
qTox version: v1.3.0-173-gb54c19a.
Commit hash:  b54c19a4ab1983afd40d73af88ef00ae11bad73c
toxcore:  0.0.0
Qt:  5.6.0
Reproducible: Always
##### Steps to reproduce
1. Enable multy window mode
2. Open "Group invites" menu
3. Click "Create new group"
4. Press Enter few times
##### Observed Behavior

Every Enter press create another group
##### Expected Behavior

[2016-04-12 08:36] PKEv opened #3129 "not correctly program closes when the computer shutdown ('locked profile' messages)"
##### Brief Description

OS: Windows 7 64x

Reproducible: Always
##### Steps to reproduce
1. run qTox
2. setup "minimize to system tray"
3. shutdown computer
##### Observed Behavior

the files looking profile are still in folder and automatic login at next boot will fail
![default](https://cloud.githubusercontent.com/assets/6053197/14454318/87ef4b08-00a2-11e6-8a34-c61b48b5c607.PNG)

look: #3120, #

[2016-04-12 11:23] PKEv opened #3130 "translations of context menu"
OS: Windows
Reproducible: Always

At the moment there are problems of translation context menu in dialog boxes that are used by the system menu. This is due to the fact that there are no qt files with translations.
Please add to the distribution kit of "qTox" set of libraries with translations "translations" from the directory QT and file "qt .conf" contains relative path to the translations.
http

[2016-04-12 11:36] farseerfc opened #3131 "icon files do not change in systray"
##### Brief Description

OS: Arch Linux (rolling)
qTox version:  v1.3.0-170-g0a2f541
Commit hash:  0a2f54194569e626ef8501c610647219887505d4
toxcore:  0.0.0 (3747-1 in Arch Linux)
Qt:  5.6.0

This is the same issue as https://bugs.archlinux.org/task/47910
Keeping the icons as qtox.png / qtox.svg breaks the change of tray icon based on status.

Reproducible: Always
##### Steps to reproduce
1. Start

[2016-04-12 11:58] PKEv commented on #3130
this can close #1720

[2016-04-12 14:37] zetok commented on #3131
Related: https://github.com/tux3/qTox/issues/1820#issuecomment-133818693

After some update of Qt 5.5.1 it's fixed for me.

Could you perhaps test whether with different Qt version (e.g. 5.4) there is still problem with lower-case `qtox.*` icons?

[2016-04-12 15:03] farseerfc commented on #3131
I will try to test on an older version of Qt but I need some time to setup the environment (because my main working DE is KDE5 and I can't risk to break it).

[2016-04-12 15:55] zetok commented on #2949
Are they still huge?

Edit: on newest qTox, that is, 1.3.0 or current master.

[2016-04-12 16:10] zetok commented on #3130
Could be done on jenkins.

[2016-04-12 16:33] zetok opened #3133 "segfault when trying to reconnect when creating groupchats"
##### Brief Description

When creating thousands of groupchats qTox noticeably slows down. When that happens, one has to click on `Reconnect` in settings to crash qTox.

OS: Gentoo GNU/Linux x86_64
qTox: 0a2f54194569e626ef8501c610647219887505d4
toxcore:  0.0.0
Qt:  5.5.1

Reproducible: Always
##### Steps to reproduce
1. Create a few thousands of groupchats (Note: after first 1k of groupchats qTox'

[2016-04-13 04:50] yurivict commented on #2949
@enodata Do you know by any chance if this is still a problem with 1.3.0?

[2016-04-13 13:55] sudden6 opened #3136 "Add documentation about Markdown "code" tags"
The code tags are currently missing in the usermanual.

Edit: With "code tags" the Mardown `code` formatting in qTox chat messages is meant.

[2016-04-13 13:59] dmgk commented on #2949
@yurivict No, the issue went away some time ago after one of the updates.

[2016-04-13 17:32] zetok commented on #2949
Well then, closing since it appears to be fixed.

[2016-04-13 17:32] #2949 closed, assigned to nobody

[2016-04-13 17:52] Talkless commented on #3042
Here's how it looks currently in my branch.

Tested with various cases (square, horiz/vert rectangles, thinner-than-icon rectangles, overall smaller images):
![image_icon_fix](https://cloud.githubusercontent.com/assets/292191/14503437/bec331fa-01b8-11e6-8afc-0d4b1a89c62d.png)

Had to implement scaleCropIntoRect() helper.

I have also made sure, that images would not be upscaled if some dimension i

[2016-04-13 18:00] zetok commented on #3042
Looks great :)

Dunno, green seems fine to me. I guess that it's fine to keep it, unless someone will complain..?

[2016-04-13 20:07] #3128 closed, assigned to nobody

[2016-04-14 00:10] Aicaya opened #3138 "[Feature request] Option to autosave logs as text files"
Been using this client for a long while and I never noticed this was missing until I tried searching for the logs on ~/.config/tox. I thought the option to "Keep chat history" served as this.

While the option to right click and save logs manually is there, saving them automatically is kind of necessary for me and my friends' purposes. If it's not going to be added, at least explicitly mention on

[2016-04-14 01:44] zetok commented on #3138
Chat history is automatically saved, just not as plaintext files → `profile.db`. You can view with with sqlite browser.

[2016-04-14 09:31] Diadlo opened #3139 "Icon blinking after reading message"
##### Brief Description

OS: Arch Linux
qTox version: v1.2.2-444-g0a2f541
Commit hash:  0a2f54194569e626ef8501c610647219887505d4
toxcore: 0.0.0
Qt:  5.6.0
…

Reproducible: Always
##### Steps to reproduce
1. Go to multi window mode
2. Collapse chat window
3. Get message
4. Expand chat window
##### Observed Behavior

Contacts icon will blink
##### Expected Behavior

Stop blinking icon

[2016-04-14 11:22] PKEv opened #3140 "Error processing the executable file"
OS: Windows
qTox version: 1.3

Reproducible: Always
##### Steps to reproduce
1. it is necessary to obtain the executable file (or send it to someone)
2. call it for execution
##### Observed Behavior

reference (*.lnk) runs with a warning but is not execute correctly (not open)

The file reference contains a pointer to a remote share

[2016-04-14 12:11] PKEv opened #3141 "Overlay fields when sending files"
##### Brief Description

OS: Windows
qTox version: v1.3.0-152-g983c4ff.
Commit hash:  983c4ff6887d956e9aac27070e8e43b4c27dc149

Reproducible: Sometimes

![qtox_screenshot_2016-04-14 15-02-01 702](https://cloud.githubusercontent.com/assets/6053197/14527467/e7e7bf0c-0252-11e6-8502-5cc422fa274f.png)

[2016-04-14 15:59] ddobrev commented on #2726
I don't know if the workaround has entered the "stable" 1.3.0 version but this happens every time there is a minor problem with a network packet and the message cannot therefore be immediately sent. I have received 3 times a group of 5 messages and a friend has received a message 6 times. If you cannot code it on your own, then please use an external library such as http://mqtt.org/.
This problem

[2016-04-14 18:24] ElLamparto commented on #2726
I use qTox 24/24, 7/7 and message repetition happens almost never.
Freezing video on Linux (regression!) is the real problem.

[2016-04-14 18:53] zetok commented on #3139
Collapse where? To taskbar?

[2016-04-14 18:54] ProMcTagonist commented on #2726
I haven't shut qTox, except to apply upgrades, for a long time. I'm on Linux and I get message repetition every few days.

[2016-04-14 19:00] Diadlo commented on #3139
@zetok yes, to taskbar

[2016-04-14 19:01] ddobrev opened #3143 "Inconsistency when two computers have qTox running with the same profile"
A friend uses qTox on Windows and OS X simultaneously. When I send him a message, he sometimes only receives it on one computer, sometimes only on the other, and sometimes on both.

Please note that while this one could be annoying, I am only sending it for the record. It's not nearly as important as https://github.com/tux3/qTox/issues/2820, https://github.com/tux3/qTox/issues/2726, https://github

[2016-04-14 19:07] ghost commented on #3141
#2227 #2268

[2016-04-14 19:11] ghost opened #3144 ""*** Error in `qtox': free(): invalid pointer: 0x000000000245b040 ***" on normal exit"
Since the most recent update of qTox (`1.3.0-177-g1d6f32c-1`) I have noticed that this is the output in Terminal:

The error occurs when I quit in the normal way, I don't do anything special.

I am running Ubuntu GNOME 15.10 with GNOME 3.18. I am sorry, due to some issues I am unable to provide the core dump, so either someone else with the issue will have to provide theirs or you will have to wai

[2016-04-14 19:13] zetok commented on #3140
AFAIK currently there's no standalone executables – i.e. they need some libs to be also included in order to work.

Could you provide more info on that?

[2016-04-14 19:16] sudden6 commented on #3144
can you provide the backtrace?

[2016-04-14 19:18] sudden6 commented on #3143
Just to clarify, he is trying to use the same ToxID on two computers?
Because that's not supported in Tox at the moment.

[2016-04-14 19:21] zetok commented on #3144
That probably can be used to reproduce.

[2016-04-14 19:22] ddobrev commented on #3143
Yes, the same ToxID. He created his profile once and then copied it to his other OS. Just as I have but I do not use two OS-es at the same time.

[2016-04-14 19:23] sudden6 commented on #3141
duplicate of #2227 thus closing

[2016-04-14 19:23] #3141 closed, assigned to nobody

[2016-04-14 19:24] sudden6 commented on #3143
Using the same ToxID on more than one computer **at the same time** is unsupported in Tox.

[2016-04-14 19:24] #3143 closed, assigned to nobody

[2016-04-14 19:25] zetok commented on #3143
At least for time being, until multiple devices are supported.

[2016-04-14 19:26] ddobrev commented on #3143
I understand. Thank you for the information. We can do without this one as long as the 4 others I have mentioned are fixed.

[2016-04-14 19:26] zetok commented on #3139
What DE?

[2016-04-14 19:28] ghost commented on #3144
@Zetok, So do you need any more information from me?

[2016-04-14 19:29] ghost commented on #3144
I can no longer compile as usual at abcfbe9f92136c787723683b7e4c4aeee2eb0dd5 because

0a2f54194569e626ef8501c610647219887505d4 was still working fine. Maybe related?

[2016-04-14 19:30] Diadlo commented on #3139
@zetok KDE 5

[2016-04-14 19:32] zetok commented on #3144
@kehugter can you do `git bisect` ?

https://github.com/tux3/qTox/wiki/Testing#regression-testing

[2016-04-14 19:34] ghost commented on #3144
Yes, give me a minute to learn how it works.

[2016-04-14 19:45] zetok commented on #3144
@SeventhSonOfASeventhSon no, that would be it, thanks, I was able to reproduce :)

@sudden6
With:

[code]

bt: https://gist.github.com/zetok/563e9fde5ee2cf8d790bfdfd7f2afbb0

[2016-04-14 19:52] ghost commented on #3144
It was before I thought, the bad commit is be2f9501f85597c1877c2eed7d191d5523789f66.

[2016-04-14 19:55] ghost commented on #3144
@zetok, Oh, that's good!

[2016-04-14 20:02] sudden6 commented on #3144
The problematic commit is cbb7eeca62f9ec8ad2047b41a7cb914b27d6c618 from @Diadlo maybe it's best to just revert it, because qTox also works without it.

@kehugter your problem doesn't seem to have anything to do with this, maybe move it to another issue?

[2016-04-14 20:03] ghost commented on #3144
@sudden6 Yep.

[2016-04-14 20:12] ghost opened #3145 "qmake fails in Debian. Missing gtk+-2.0 development package"
##### Brief Description

OS: Debian stretch
qTox version: -
Commit hash:  abcfbe9f92136c787723683b7e4c4aeee2eb0dd5
toxcore:  -
Qt:  5.5.1

Reproducible: Always
##### Steps to reproduce
1. run `qmake`
##### Observed Behavior

`qmake` fails with error

[code]
##### Expected Behavior

No errors (dependencies for Debian in `INSTALL.md` haven't changed since December).
##### Additional Info

`git bisec

[2016-04-14 20:37] OrangeShark commented on #3145
`gtk+-2.0` should be available by pkg-config when you install `libgtk2.0-dev`, it is installed by one of the commands in `INSTALL.md` for debian [here](https://github.com/tux3/qTox/blob/master/INSTALL.md#debian-1).

[2016-04-14 20:37] sudden6 commented on #3145
do you have pkg-config installed?

[2016-04-14 20:42] ghost commented on #3145
@sudden6

`pkg-config` is installed.

[code]

@OrangeShark

`libgtk2.0-dev` is installed too

[code]

[2016-04-14 20:59] PKEv opened #3146 "Error compiling"
OS:  Linux debian
qTox version: v1.3.0-179-g8fa40d5
Commit hash:  8fa40d5c4f7ec06eeb060446ade5a1a635f5e96b
Qt:  5.6
Reproducible: Always

error :

[code]

[2016-04-14 21:00] zetok commented on #3140
Could you perhaps see if putting affected files in `.zip` and attaching here is possible?

[2016-04-14 21:02] PKEv commented on #3140
A link file contain address to shared folder, like "//192.168.1.10/box/mail/"

[2016-04-14 21:03] zetok commented on #3146
Is it the same after `make clean && git checkout -f` ?

[2016-04-14 21:14] PKEv commented on #3146
yes

[2016-04-14 21:16] zetok commented on #3146
cc: @kehugter

[2016-04-14 22:11] ghost commented on #3146
Can't check 8fa40d5c4f7ec06eeb060446ade5a1a635f5e96b right now because of #3145, but the line seems OK in that commit: https://github.com/tux3/qTox/blob/8fa40d5c4f7ec06eeb060446ade5a1a635f5e96b/src/widget/form/settings/aboutsettings.ui#L310

I compiled #2983 in my machine several times without errors.

[2016-04-14 22:22] PKEv commented on #3146
line L310 is Ok.

Where must be defined "knownIssues"?

[2016-04-14 22:24] zetok commented on #3146
Not on debian, but I too can't reproduce. Also, it seems to compile just fine on travis.

@PKEv could you post steps to reproduce?

[2016-04-14 22:27] PKEv commented on #3146
no steps - just pull
I don't see "knownIssues" in "UI_ABOUTSETTINGS.H" (and the compiler too)

[2016-04-14 22:57] #3144 closed, assigned to nobody

[2016-04-14 23:17] initramfs commented on #3146
Not on Debian but checking out 8fa40d5, I see "knownissues" declared in ui_aboutsettings.h on line 52 and defined in the same file on line 217 under Qt 5.6. This is the same under the latest revision too. Perhaps try rerunning qmake?

[2016-04-15 01:26] OrangeShark commented on #3145
@kehugter
I installed Debian Testing and was able to confirm that `gtk+-2.0` is available when you install `libgtk2.0-dev`. Possible it didn't install correctly? Can you run `pkg-config --list-all | grep gtk`?

[2016-04-15 10:16] ghost commented on #3144
Ok, seems as though you released an update, I have upgraded to the latest version and no longer encounter the issue!

[2016-04-15 13:55] ghost commented on #3145
@OrangeShark is listed there

[code]

but `qmake` still fails.

[2016-04-15 17:33] #3083 closed, assigned to nobody

[2016-04-15 17:33] #3087 closed, assigned to nobody

[2016-04-15 17:36] #3133 closed, assigned to nobody

[2016-04-16 07:22] katamari1992 opened #3150 "tox drops call after 15 min"
##### Brief Description

OS: Linuxmint 17.3
qTox version: v1.3.0-138-g32ed2ac.
Commit hash:
toxcore:  most recent
Qt:  unsure python-qt4          4.10.4+dfsg-1ubuntu1

Reproducible: Always
##### Observed Behavior

I'm having a call between tox and antox the call drops off after 15 minutes like clockwork
I'd like to know what's causing this (I believe I know)
I believe the sip (re-call?) isn't bein

[2016-04-16 07:24] zetok commented on #3150
Could it be a duplicate of #2926?

[2016-04-16 07:32] katamari1992 commented on #3150
very possible

[2016-04-16 07:40] PKEv commented on #3146
manual clean help

[2016-04-16 07:40] #3146 closed, assigned to nobody

[2016-04-16 07:50] zetok commented on #3150
Duplicate, thus closing.

[2016-04-16 07:50] #3150 closed, assigned to nobody

[2016-04-16 07:55] zetok commented on #2926
Thanks to @katamari1992 from #3150:

#

##### Brief Description

OS: Linuxmint 17.3
qTox version: v1.3.0-138-g32ed2ac.

##### Observed Behavior

I'm having a call between tox and antox the call drops off after 15 minutes like clockwork
I'd like to know what's causing this (I believe I know)
I believe the sip (re-call?) isn't being responded to but I don't know as I haven't done extensive testing
m

[2016-04-16 07:57] zetok commented on #2926
`qtox.log`: https://gist.github.com/zetok/a7739a5b10ac148ebffe1a7ac69982a2

It might have something to do with me going to A/V settings tab.

[2016-04-16 08:01] katamari1992 commented on #2926
it's ironic that github doesn't support .log files
[qtox.txt](https://github.com/tux3/qTox/files/222093/qtox.txt)

[2016-04-16 10:21] sudden6 commented on #3145
I just successfully built qTox on a fresh install of Debian stretch using `simple_make.sh` so I highly suspect the issue is with your installation.

[2016-04-16 23:03] Diadlo commented on #3066
It seems, like we can't detect which request read and which unread. And it means, that we can't easily select decrement unread counter or not. Should we save Set with unread markers? Or change type of friend requests from list of pair `toxId : request message` on list of structure with bool field `read`?

[2016-04-16 23:59] SkyzohKey commented on #3066
@Diadlo Simply iterate over the friend requests list when you add the contact manualy. If a ToxID match the one that got added, remove it from the list. Simple as fuck. :)

[2016-04-17 05:25] Diadlo commented on #3066
@SkyzohKey. Nope. Sorry for my bad english, I try again. Problem not with friends requests. Problem with "unreadFriendsRequests" it is counter which show how many requests are unread.
1) In fact requst may be read and unread.
2) Amount of unread messages saved in unreadFriendsRequests field of Settings.
3) Amount of unread messages are displayed on top of friend list.
4) When we delete request we