[2016-07-30 18:19] BiTOk commented on #3347
@Yetoo1 What version of openssl do you use? Please, attach full build log.

[2016-07-30 18:44] BiTOk commented on #3156
1.4.1 was normally installed to windows 10 x64. Is this bug already fixed?

[2016-07-30 19:08] ghost commented on #1362
Hello!

Vote for this feature too.

Thank you!

![qtox-status-in-tray](https://cloud.githubusercontent.com/assets/20487250/17272555/0b1cb948-56a2-11e6-8dce-9ca5af4d9241.png)
![utox-status-in-tray](https://cloud.githubusercontent.com/assets/20487250/17272556/0b207484-56a2-11e6-856b-7b25b8caf8f5.png)

[2016-07-30 19:23] ghost commented on #3562
Works as usual for me.

qTox a556762c54de5f4acbcf2f37c84cd7bb7b3b1afa
Debian testing
Linux 4.6.0-1-amd64

[2016-07-30 19:42] ElLamparto commented on #3562
I have this:
![selection_003](https://cloud.githubusercontent.com/assets/9163437/17272729/7a0c7e14-569e-11e6-8f70-fb5d78e8ff6d.png)

[2016-07-30 20:16] BiTOk opened #3567 "Message sender doesn't printed if first message is incoming file"
##### Brief Description

OS: Windows 10 x64
Commit hash:  a556762c54de5f4acbcf2f37c84cd7bb7b3b1afa
toxcore:  0.0.0
Qt:  5.5.0

Reproducible: Always
##### Steps to reproduce
1. Write message to anybody
2. Anybody send file to me
3. Anybody write message to me
##### Observed Behavior

Incoming file and message looks like my messages.
##### Expected Behavior

Near incoming file should be Anybody nick

[2016-07-30 20:16] zetok commented on #3355
Duplicate of #2555, thus closing.

[2016-07-30 20:16] #3355 closed, assigned to nobody

[2016-07-30 20:21] zetok commented on #3156
@BiTOk From what I remember, issue exists on "clean" win10 install, while things worked just fine on win7 → win10 upgraded system. (or maybe it was the other way around? I don't really remember :s )

[2016-07-30 20:23] zetok commented on #1362
related: #483

[2016-07-30 20:26] BiTOk commented on #3140
I take it.

[2016-07-30 20:29] BiTOk commented on #3156
@zetok No, it works on clean win10 install. I'll try it soon on several other win10.

[2016-07-30 20:40] ghost commented on #1362
Is it? This is only about the tooltip on hover, notifications play no role at that afaik (from my experience with Swing).

---

Edit: this is it, right?
http://doc.qt.io/qt-5/qsystemtrayicon.html#showMessage

[2016-07-30 20:56] zetok commented on #1362
@kehugter conceptually it is related, or at least I would think so?

I.e. someone might be interested in either or both of those things; interlinking them makes it easier for one to find something that might be more interesting to them.

[2016-07-30 21:11] zetok opened #3568 "[regression] action messages have duplicated name"
##### Brief Description

Action messages have duplicated name.

This is a fairly ~recent regression.

OS: Linux
qTox version: v1.4.0-339-ge6e666f
Commit hash: e6e666fa8ce36cd3792d4536a59ab2b65fd5b546
toxcore: 0.0.0
Qt: 5.5.1

Reproducible: Always
##### Steps to reproduce
1. send an action message to some contact, e.g. `/me tests`
##### Observed Behavior

Name is duplicated
##### Expected Behavior

[2016-07-30 21:22] ovalseven8 commented on #3156
@tux3
New stable NSIS release with Windows 10 support is out now!

[2016-07-30 22:36] BiTOk commented on #2529
@zetok After corruption try to change ~whole screen picture for second (keyframe broken?).

[2016-07-31 08:28] Diadlo opened #3570 "Changing user alias drop av-call"
##### Brief Description

OS: Arch Linux
qTox version: v1.4.0-356-ga488448.
Commit hash:  a4884487a59b5572f7fbebcb1da41aae6467db83
Qt: 5.7.0

Reproducible: Always
##### Steps to reproduce
1. Call Alise
2. Set alias to Alise
##### Observed Behavior

Drop Call
##### Expected Behavior

Don't drop call

[2016-07-31 09:53] Diadlo commented on #3568
b99a9e494a68f4952a00bbbf8d4624eb0be28e17

[2016-07-31 11:08] #3479 closed, assigned to nobody

[2016-07-31 11:26] ghost opened #3572 "Allow profile pictures directory to be customised"
When changing the profile picture it would be nice if the default directory for that could be customised within qtox.ini. That would allow me to have a directory with default profile images and the user could then just select what they want, rather than needing to navigate the home directory tree.

[2016-07-31 12:15] antis81 commented on #3559
As you state by yourself, we introduced a few and easy to follow rules - which btw. is the reason the docs are now worth to write. Like I wrote above, I don't have a strong meaning on the leading stars. If you like that better, just put them in… :)

[2016-07-31 14:09] ghost commented on #3562
I have the same issue on version 1.4.0-339-ge6e666f-obs

[code]

[2016-07-31 20:19] antis81 commented on #3562
As a workaround, switch the video device and you will see the preview.

[2016-07-31 20:21] Diadlo opened #3575 "Freeze on changing from broken video device"
##### Brief Description

OS: Arch Linux
Commit hash: 63db185
Qt: 5.7.0

Reproducible: Always
##### Steps to reproduce
1. Open AV settings
2. Open broken camera
3. Open other device
##### Observed Behavior

Freeze
camerasource.cpp:142 -- Freeze here
camerasource.cpp:401 -- Last lock here
camerasource.cpp:379 -- Infinity call
##### Expected Behavior

Shouldnt be freezed
##### Additional Info

Log:

[2016-07-31 22:50] Diadlo commented on #3575
Workaround: Start on few sec. `ffmpleg -i /dev/video0 out.mp4`

[2016-08-01 05:43] initramfs commented on #3559
Okay, seems like the consensus is:

[code]

for the commenting style and **as much documenation in source as possible**. I'll update my PRs to this format now and close the issue if no one else has any input.

As an example:

File `foo.h`:

[code]

---

File `foo.cpp`:

[code]

@antis81 @sudden6 @zetok @Diadlo

[2016-08-01 10:50] zetok opened #3578 "Repo management"
## Preface

@tux3 is constantly absent.

Some time ago (few months) I've tried to convince @tux3 that repo should be
moved from under `tux3/` to `qTox/` github organization. He was not convinced,
and opted to do organizational things first instead.

Those were things like meetings on IRC, during which decisions would be made
regarding e.g. matters that maintainers disagreed on by voting, and thing

[2016-08-01 12:10] antis81 commented on #3578
I never understood why we didn't chose for this right from the start and think the qTox community would greatly benefit from this. It's worth alone for the fact, that the organisation gets an identity and more transparent to contributors and users.

[2016-08-01 18:22] sudden6 commented on #3578
I also strongly favor moving to an org, as this would remove a single point of failure. Also this would represent what qTox is, a peer to peer network.

[2016-08-01 19:09] #3476 closed, assigned to nobody

[2016-08-01 19:21] nikitasius commented on #3578
SantaBarbara....

[2016-08-01 19:42] #3558 closed, assigned to nobody

[2016-08-01 19:55] #3568 closed, assigned to nobody

[2016-08-01 19:58] #3140 closed, assigned to nobody

[2016-08-01 20:09] #3275 closed, assigned to nobody

[2016-08-01 21:22] Diadlo commented on #3570
Can't reproduce anymore

[2016-08-01 21:22] #3570 closed, assigned to nobody

[2016-08-01 22:02] dolohow commented on #3538
I am having the same problem.  I need to stay in audio/video tab in order to send voice.

[2016-08-02 06:17] antis81 commented on #3538
@Diadlo First, whenever the program calls `hide`, devices are "unsubscribed". That means, a dumb counter runs down to 0. If that happens (which is obvious here), the audio (and video) device is closed. Second, create/destroy allows for much better resource management. To show/hide a widget, it is required to be in memory (this is valid during whole runtime!). All it's resources are being occupied

[2016-08-02 08:26] Diadlo commented on #3538
For me this issue reprodused only after 81df534c9a1b392cab136c6b84a58d2e5028a425

[2016-08-02 10:16] antis81 commented on #3538
@Diadlo Thanks! This even proves more for that I'm on the right track!

If you search for `Audio::unsubscribe` usage, you'll see, that there are exactly 2 places:
1. ToxCall destructor
2. AVForm::hide

And there's no other place! The input device cannot be closed from outside the audio class, but it can be reopened. That's when changing the input device during a call. There's even a "boolean guard

[2016-08-02 10:45] Diadlo commented on #3538
@antis81 Maybe it will be intresting for you (maybe not):
`Audio::subscribeOutput` called from `CoreAV::groupCallCallback`, `CoreAV::audioFrameCallback` and `ToxCall::ToxCall`.
But `Audio::unsubscribeOutput` called only from `ToxCall::~ToxCall`

[2016-08-02 12:37] antis81 commented on #3538
It doesn't matter. The first call to subscribe opens the input device and any further subscription just counts up. So in worst case, the device is kept open until qTox quits.

[2016-08-02 12:47] wdbm commented on #2728
@Recharged Hey, what do you mean when you say  "Re-add Tox IDs to the folder"? Should certain files be added from the backup?

[2016-08-02 13:46] ghost commented on #2728
@wdbm I think he meant profiles, not IDs. ie, put the backup back in the config directory.

[2016-08-02 13:59] ghost commented on #3578
I also am favor of moving to an org. What this will do is benefit the community and strengthen the positioning of qTox by allowing for more contributors to be added to the project, as well as the other benefits listed in the first post. The way I see us moving forward is by doing so without @tux3. We thank him for his many past contributions to qTox, but at this point due to his inactivity and his

[2016-08-02 21:33] initramfs opened #3583 "Suspected security vulnerability in qtox chat history"
Whilst snooping through the code I found the routine for generating/deriving a symmetric encryption key for the chat history data (in rawdatabase.cpp) was **using a static salt**.

As seen in [this line](https://github.com/tux3/qTox/blob/master/src/persistence/db/rawdatabase.cpp#L435) and [this line](https://github.com/tux3/qTox/blob/master/src/persistence/db/rawdatabase.cpp#L437), the code to der

[2016-08-02 21:36] zetok commented on #3578
Since there is ~consensus. :)

So, with the above mentioned tool I've tried to start test of importing the issues.

It needed a bit of friendly touch to get it to work: https://gist.github.com/zetok/99ebe97d3503f0b80c604474010f15b4

test repo: https://github.com/qTox-issue-import/qTox/issues ← you can watch as it slowly (due to gh rate-limiting) gets populated :)

[2016-08-02 21:48] initramfs commented on #3583
@zetok Well, I might have jumped the gun a bit, the static-salted key doesn't seem to be used... Not sure why it exists, but something's definitely weird with the way the chat history is being encrypted. I guess you can remove the "P-very-high" flag for now. I'll investigate further...

[2016-08-02 21:51] zetok commented on #3583
Even if it's just suspected, it's still very important. And any existing ambiguity when it comes to code that ensures security needs to be cleared up.

[2016-08-02 21:56] initramfs commented on #3583
@zetok Okay, I think I just verified it, the actual encryption is being done by sqlite, using the static-salted key. The PRAGMA directive causes sqlite to perform encryption using the affected key.

[2016-08-02 22:04] zetok commented on #3578
~~And it looks like rate-limiting won't allow for anything more :/~~ nvm, it's even slower than it initially seemed

[2016-08-02 22:24] initramfs commented on #3578
Not that my opinion particularly matters but I support the move.

@zetok Will the issues with "[CLOSED]" in their title actually be marked closed in GitHub? If not that'd be painful...

[2016-08-02 22:27] linux-modder commented on #3583
so the static is being used as a primitive essentially for the sqlite encryption?

[2016-08-02 22:37] initramfs commented on #3583
@linux-modder toxcore provides us with a library named toxencryptsave (ToxES for short) that provides a PBKDF (Password-Based Key Derivation Function) for us. For initial generation of the encryption key, this PBKDF requires your tox password and a **secure random** salt in order to ensure security. The problem here is that a static salt (which is definitely **not** secure) is being used.

In shor

[2016-08-02 22:44] zetok commented on #3578
They will be needed to be manually closed. Something that I'll do. I've looked a bit into closing the issues automatically right when creating them, so that there would be no need to add `[CLOSED]` to them, but gh doesn't really expose a straightforward way to close issues automatically (or at least I couldn't find it), so. :/

[2016-08-03 07:31] ProMcTagonist commented on #3578
send a bunch of PRs that close them

[2016-08-03 09:56] zetok commented on #3578
cc @agilob

[2016-08-03 10:04] zetok commented on #3578
So, thanks to @agilob now we know how easy it is to break issue order. Eh.

![thanks](https://cloud.githubusercontent.com/assets/3148759/17361705/a40b8d86-5969-11e6-904b-2d3ba1df90a7.png)

@agilob github seems to have an option to just ignore all the notifications for a repo, does it not work?

As for your question – preserving data in the issues and issue references.

Since the current one was br

[2016-08-03 10:05] agilob commented on #3562
I'm sure I didn't PR somewhere to fix it and it was rejected... I was something like 'click on preview to activate, second click to disable'. Wrote it to prevent camera starting automatically when going to settings.

[2016-08-03 10:11] agilob commented on #3578
I was for moving to org long time ago. I ignore notification from qtox-issue-import because got >20 of them over night. I don't see the point of it at all? If you're importing it, your script is broken, it should **not** call me to copy of issues from here. I've seen those issue, I've responded there, most of them were closed/invalid/solved, so why notify me again about it if there is no regressio

[2016-08-03 10:16] zetok commented on #3578
Um, no, script doesn't call anyone. It just copies content of the issues and posts that content. It's not possible to "just copy", the only apparent way is to recreate all the issues. So when issues have `@mention` in them, one gets notified.

Um, no, this is not what move is about – move is only about "location" of where development will be happening, and that's it.

Sorry for the "spam". Since I

[2016-08-03 10:17] agilob commented on #3578
Replace @zetok with @**zetok** `@**zetok**`

If you move it from person to organisation it changes ownership of IP rights?

[2016-08-03 10:22] zetok commented on #3578
Right, thanks, I'll see if my non-existent python knowledge can be extended with info about regexps in python :)

[2016-08-03 12:25] linux-modder commented on #3583
@initramfs that much I get I was just  not sure the naming of the bits as they pertained to qtox thanks.

[2016-08-03 12:38] initramfs commented on #3583
@linux-modder And to everyone else interested (just for the sake of clarity), the PBKDF that ToxES provides us is called `tox_derive_key_with_salt`, the documentation from ToxES being:

[code]

Though not explictly stated, it does mention that `tox_derive_key_from_pass` (which should be used for initial key derivation) uses a **random salt**.

[2016-08-03 13:09] initramfs commented on #3578
@zetok In order to make your life easier, should a issue/PR freeze be imposed on the current repository? Even just informally? I do have something I want to submit (very minor, not time critical at all), though I don't want it to just add to your workload...

[2016-08-03 17:19] ProMcTagonist commented on #3562
@agilob It should just work without workarounds.

[2016-08-03 18:10] agilob commented on #3562
But... but... I made the PR to fix this issue!

[2016-08-03 18:39] zetok commented on #3578
Well, current PRs will need to be merged from `tux3/qTox`, since they will be just recreated as issues and marked that they were PRs; if it's about new PRs, migrating is very slow, it may take 3-4 days or so to migrate it all. Or more.

For one, I don't really believe that people would "just stop/wait" for migration to happen, but it would be nice, as those "missing" new issues/PRs/comments wouldn

[2016-08-03 18:46] initramfs commented on #3578
@zetok Okay, I'll reframe from submitting stuff then.

In the interest of helping, I have taken it upon myself to write a GitHub issue importer in java, just in case that Python script isn't cutting it. It's about 70% done though it has a few issues that I do not know how to resolve. One nice feature that my program can do is auto mark-closed issues that are actually closed.

If ever you feel that

[2016-08-03 19:13] zetok commented on #3578
Sounds great, thanks :)

I think that I got the regexp done, and it's time to see if I put it in the right place. If at the end of the day I still won't be able to get it to work the way it is supposed to work, we can always try with java :)

[2016-08-03 19:31] tux3 commented on #3583
Hi, I wrote this code so I'll try to clear things up a little!

This static salt is used to derive a key for the history database when the qTox profile has a password set, we currently don't use a random salt mainly because the PBKDF that we use is strong enough to make rainbow tables impractical by itself, and second because there's no obvious place to store that random salt (as it can't easily b

[2016-08-03 19:54] agilob commented on #3578
@zetok make repo private for the time of migration.

[2016-08-03 19:55] tux3 commented on #3578
Hi everyone, let me try to answer things!

### Should we move qTox to an organization?

When we discussed this with @zetok (and we discussed this at length!), I was not convinced, since I though that it was not addressing the problems we have. I saw no advantage to moving everything when there are more important problems to take care of (such as, the high number of bugs open, the languishing PRs,

[2016-08-03 20:03] initramfs commented on #3583
@tux3 I completely understand the threat model you've suggested, in fact, that's the only reason why I'm not scrambling to write a PR to fix it right away. The issue here isn't that the security model is realistically compromised (though admittedly I guess realistic software security is really all that matters...) it's that the algorithm is applied inappropriately where it can most certainly be fi

[2016-08-03 20:12] initramfs commented on #3578
@tux3 Forgive my ignorance in this matter but, by "moving" (officially that is), apart from URL changes (and build scripts/nightly packaging programs that need to be redirected) would there be any sort of service change/interruption in qTox development as it stands right now?

I know that everyone who spoke up here has already agreed to a move, but that's probably mostly due to what @zetok said (a

[2016-08-03 20:15] agilob commented on #3578
Update documentation.
Update build scripts
Update links
I think github automatically redirects tux3/qtox to qtox/qtox after change to organisation, so you don't have to update hundreds of links on blogs and social media...

[2016-08-03 20:16] zetok commented on #3578
@agilob private repos on github are a paid feature.

[2016-08-03 20:18] tux3 commented on #3583
That's entirely fair, and you make a good point that what is not a problem now may be a problem ten years from now. The only thing to be careful of is that when changing the password of the database, we have to be careful to not lose the qTox chat history even if the computer crashes at any point (this is trickier if we need to save two files in lockstep!)

Absolutely, what I meant to say, and I m

[2016-08-03 20:36] zetok commented on #3578
We have migrated \o/

Anyway; changes done: now checks are required – code review via reviewable (needs `:lgtm:` & reviewing files (pressing that red button on top of changed file by reviewer (person assigned) for review to pass) + travis check. For travis check, @iphydf made a fix for osx travis, which is going to be merged ~now.

[2016-08-03 20:36] #3578 closed, assigned to nobody

[2016-08-03 20:39] agilob commented on #3578
It is not.
![screenshot_20160803_213850](https://cloud.githubusercontent.com/assets/2544251/17381197/b1a9b39c-59c2-11e6-8817-284529f97b3c.png)

[2016-08-03 20:59] zetok commented on #3578
Oh, it has changed?

Thanks, I'll look into this when I'll have some time :)

[2016-08-04 08:19] antis81 commented on #3578
@zetok Just created first new PR after renaming my "upstream" remote and everything works like a charm, thanks!

It may help others to smoothly migrate :cocktail:. So here's what I did:

[code]

[2016-08-04 08:24] agilob commented on #3578
I had this since ever Oo

[2016-08-04 08:32] Diadlo commented on #3578
@agilob
Click on it :)
Or maybe you have student/teacher account
![spectacle ve1512](https://cloud.githubusercontent.com/assets/6306608/17395411/562282ce-5a3f-11e6-9192-3f96184e3eef.png)

[2016-08-04 08:33] agilob commented on #3578
Don't have any of these :)

![repo](https://cloud.githubusercontent.com/assets/2544251/17395477/7ae8a19c-5a26-11e6-9c95-a22847498a28.PNG)

[2016-08-04 08:36] Diadlo commented on #3578
@agilob https://education.github.com/guide/private_repos

[2016-08-04 08:59] nikitasius commented on #3578
off.. fuuu~, i click unsubscribe. Thats much more boring than viagra spam.

[2016-08-04 09:14] antis81 commented on #3578
:+1: I agree, the "aborted discussion statement" is unfair and you're a valued maintainer for the project. Happily you wrote a differentiated reply and still with us. So: Feel warmly welcome (still) to qTox maintainers group! :+1:

@initramfs (and all actually):

Let me clear this up:
When I started contribution around middle last year, we have been in a situation, that qTox was a personal reposit

[2016-08-04 12:01] zetok commented on #3583
Just gonna leave a note here: TES (toxcore encrypted save) does use random salt, and it does save it with the file.

qTox used it before custom stuff for DB.

[2016-08-04 12:18] initramfs commented on #3583
@zetok Yeah... Though I'm not certain, I believe the new DBMS-based encryption system (as opposed to the old custom DB code) allows for transactional atomicity, allowing the system to crash at any point without risk of data loss. ToxES' encryption functions are very primitive in nature and only work when committing a whole file from memory to file, unsuited for DB needs (in fact I opened an issue

[2016-08-04 12:35] zetok commented on #3583
Yep, atomicity was main reason why the change happened. Too many users lost their data because of slight corruption.

[2016-08-04 12:38] zetok commented on #3520
Fixed in #3584, thus closing.

[2016-08-04 12:38] #3520 closed, assigned to nobody

[2016-08-04 16:15] zetok opened #3588 "[regression] available video modes are too limited & even invalid"
##### Brief Description

Setting available for choosing desired webcam resolution not only doesn't give all possible modes, but also gives modes that seem to be invalid.

OS: Linux
qTox version: v1.4.0-386-g0da1a2f
Commit hash: 0da1a2fd8b853f4d09bfec4a0c0e8329367a2f04
toxcore: 0.0.0
Qt: 5.6.1
Hardware:
…

Reproducible: Always
##### Steps to reproduce
1. Go to settings
2. Try to set 1280x720 mode
#

[2016-08-05 10:23] averter opened #3594 "Do NOT open minimized on taskbar qtox when receiving new chat message"
This is a very irritating issue that I have with qtox. I couldn't find a workaround.
Whenever I'm chatting, if qtox is on the taskbar it will pop up to the foreground when a new chat message is received. This can be avoided by closing it to the tray icon. However this requires me to click on the icon to open it back.
Since usually I only work with the keyboard and scan through my opened windows wi

[2016-08-05 10:35] zetok commented on #3594
![spectacle jl1068](https://cloud.githubusercontent.com/assets/3148759/17434093/6575d1a6-5b00-11e6-8ac0-79058da560e7.png)
↑ have you tried this option?

What DE are you using?

[2016-08-05 10:37] zetok commented on #3594
Also, could you update & try with newest qTox?

[2016-08-05 10:41] averter commented on #3594
Thanks for the help. Tried yes and it didn't work out. DE is Cinnamon. I will update and let you know if anything changes.
Update: I don't want to compile from the source. Checked if my version was the latest one from the
https://software.opensuse.org/download.html?project=home%3Aantonbatenev%3Atox&package=qtox
repo and it is

[2016-08-05 10:58] zetok commented on #3594
Err? Latest one seems to be e.g. `qtox_201608051313~34aa905_amd64.deb` which should contain stuff from yesterday?

[2016-08-05 11:15] averter commented on #3594
If I try to install it I get a dependency error related with libavcodec and ffmpeg56 and forward on trying to solve it, issues of ppa not supporting trusty.

[2016-08-05 11:20] zetok commented on #3594
It's not a PPA. It's a repository. Anyway; there is a repo for 14.04, and it shouldn't have problems – are you sure that you have the right repo? (there are 3 separate repos for 3 *buntu versions)

[2016-08-05 11:35] averter commented on #3594
I've tried 14.04 instead of 16.04 and it installed another version. I am using Linux Mint so I cannot say which one I should pick. This is the qtox version I got
You are using qTox version v1.4.0-387-g34aa905-obs.

Everything remains unchanged

[2016-08-05 15:42] initramfs commented on #3594
I also experience this issue when using Cinnamon on Arch since at least the qTox 1.4 release, my workaround is to toggle "Prevent focus stealing" in Cinnamon (Settings -> Windows -> Prevent Focus Stealing). I remember there was an old issue regarding something like this, but I'm unsure of it's exact name.

[2016-08-06 11:57] Kron4ek opened #3597 "Freeze on file transfer and avatar changing"
##### Brief Description

OS: Arch Linux x86_64. Linux 4.6.4-1-ARCH.
qTox version: 1.4.1
toxcore: 3747
Qt:  5.7.0

Reproducible: Always
##### Steps to reproduce
1. Click "Send file(s)" button or click profile avatar
##### Observed Behavior

qTox freezes with these errors:

[code]

[2016-08-06 12:19] zetok commented on #3597
Duplicate of #3436, thus closing.

Edit: btw, it's fixed on master, you can get it from AUR.

[2016-08-06 12:19] #3597 closed, assigned to nobody

[2016-08-06 12:21] ghost opened #3598 "May I set nightly style?"
##### Brief Description

OS: Archlinux
qTox version:v1.4.0-387-g34aa905
Commit hash:
toxcore:
Qt:
Hardware:  Thinkpad T420
…

Reproducible: Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce
##### Steps to reproduce
1. The backgroud of chat window is white, but I want set it to black.
2. So can you improve the theme of chat window? Thank you.
3. …
##### Observed Behavior
##### Expect

[2016-08-06 12:32] zetok commented on #3598
Sounds like a duplicate of #1427 / #1639 ?

[2016-08-06 12:32] #3598 closed, assigned to nobody

[2016-08-06 13:58] sudden6 commented on #3594
I can't reproduce this with KDE Plasma 5, maybe Cinnamon handles `QApplication::alert()` differently?

[2016-08-06 14:22] initramfs commented on #3594
@sudden6 Yeah it seems to be a Cinnamon thing, I remember seeing another issue that explicitly claimed Cinnamon was the source (I don't have this issue when using bspwm).

[2016-08-07 16:25] DMantis opened #3600 "Smiles should be unified or be correctly displayed on another client with another pack"
I've tested qtox on two computers and found out that if I use different smiles pack (for example, basic and universe) at my qtox clients smiles display incorrectly.

Using IM in real life, it's really silly and inconvenient to ask another person every time which smiley pack he is using.

At least default packs should be supported and correctly displayed at qtox clients with different settings.

P.

[2016-08-07 18:16] zetok commented on #3600
Sounds like a duplicate of #596, thus closing.

Other clients are free to use emoticons available in qTox. You should bring that to attention of Antox & Antidote developers, hopefully they would be interested in supporting those emoticons :)

[2016-08-07 18:16] #3600 closed, assigned to nobody

[2016-08-07 20:09] #3588 closed, assigned to nobody

[2016-08-07 20:44] zetok opened #3601 "Code formatting using clang-format & potential switch to established code style"
Current qTox code formatting is ~lax, not verified, and not really enforced.

`clang-format` could be used to both format qTox code, and as a checker of whether code has been actually formatted, verified on travis.

If it were to be used as a check, travis would do equivalent of running `clang-format && git diff --exit-code` which would result in travis passing only if code has been formatted & th

[2016-08-08 12:34] dcapeletti opened #3603 "qTox fails when calling and then select settings audio / video"
##### Brief Description

Trisquel GNU/Linux 7.0 64 bits
qTox version: v1.4.0-387-g34aa905-obs.
Commit hash:  34aa9051e3c001fc30f5d7614f9c4e34354678d8
toxcore:
Qt:   5.6.1
Hardware:
…

Reproducible: Couldn't Reproduce
##### Steps to reproduce
1. Calling a customer Antox Android
2. While this calling, go to the Audio / Video settings.
3. QTOX falls.
##### Observed Behavior

QTOX breaks to have an ac

[2016-08-08 13:49] antis81 commented on #3603
Please provide some more information. This might be a duplicate of another issue, but I'm not sure what you're trying to say. You're talking about a crash or maybe the voice going silent? Btw. please attach log as file (this is now possible on Github) instead of inline text.

[2016-08-08 18:46] ElLamparto commented on #3562
@antis81, your workaround does not work in my case - still no picture (but thanks :). utox and toxic both get the video correctly.

[2016-08-08 18:57] sudden6 commented on #3603
@antis81 "Violación de segmento" probably means "Segmentation fault" thus a crash.

@dcapeletti It would be very helpful if you could translate error messages to English or temporarily switch the language to English, because not every developer speaks your native language.

[2016-08-08 19:48] antis81 commented on #3603
@sudden6 Thanks, I didn't see that. Seems I need holiday. Translation not required: Log is already in English and it's the systems default language (not qTox), which produces this. If that is Windows, you're probably out of luck in that case, but IIRC Windows doesn't produce a SIGSEGV. :stuck_out_tongue:

@dcapeletti No further information required. But… I see you're on an older qTox version. Coul

[2016-08-08 20:21] ghost commented on #3562
Tested at commit 59352ae797be37a1d51821df4d06ef07e9b870bb and indeed the same problem remains.

[2016-08-10 00:34] ovalseven8 commented on #2070
@tux3
Don't know how much work implementing offline mode is. Do you think you'll have time soon? It would be a very nice feature and is also important for Tor users.

[2016-08-10 04:17] farseerfc commented on #3523
Thanks for v1.5.0 again!

[2016-08-10 04:17] #3523 closed, assigned to nobody

[2016-08-10 05:00] nurupo commented on #3557
Is the issue fixed now?

[2016-08-10 05:39] zetok commented on #3470
@abbat if you could, comment here when things on OBS will be done, so that issue could be closed :)

[2016-08-10 07:16] alexeysvrv opened #3609 "All static builds on Jenkins failures lately"
##### Brief Description

OS: Ubuntu 14.04
qTox version: last
Commit hash:  last
toxcore:  last
Qt:  -
Hardware:  AMD X3 450, RAM 4GB
…

Reproducible: Always
##### Steps to reproduce
1. Just to Jenkins last static build all fail. It is necessary to fix it. With these assemblies formed Deb packages for Ubuntu 14.04. Thank you

[2016-08-10 07:19] zetok commented on #3609
qTox builds for Linux on jenkins are deprecated, use OBS repo instead: https://software.opensuse.org/download.html?project=home%3Aantonbatenev%3Atox&package=qtox

[2016-08-10 07:19] #3609 closed, assigned to nobody

[2016-08-10 07:29] alexeysvrv commented on #3609
@zetok Thank you for the explanation. Please declare a repository to change somewhere. And why it changed the way?

[2016-08-10 08:02] zetok commented on #3609
Right, there will be a blog post on https://qtox.github.io/blog that will touch on the topic; basically OBS is used since it works.

[2016-08-10 09:03] xyrnox opened #3610 "qTox 1.5.1 crashes on OS X"
##### Brief Description

OS: OS X 10.11.6
qTox version: 1.5.1, binary release downloaded from the releases page
Commit hash:  f05b7e040a073c7afadaf763dda5beaf130c6dbd
toxcore: ?
Qt:  ?
Hardware:  rMBP 13" Early 2015, i5, 8GiB
…

Reproducible: Always
##### Steps to reproduce
1. Start qTox
##### Observed Behavior

The application instantly crashes.
##### Expected Behavior

The application should sta

[2016-08-10 09:22] iphydf commented on #3610
Does the file `/usr/local/Cellar/qt5/5.6.1-1/lib/QtWidgets.framework/Versions/5/QtWidgets` exist on your system? If not, can you show me the output of `find /usr/local/Cellar/qt5`? Do you use homebrew? Running `brew install qt5` will likely solve the problem for you if your homebrew installation directory is `/usr/local` (the default).

[2016-08-10 09:29] xyrnox commented on #3610
Yes, I do use homebrew. I do not have `qt5` installed, so `/usr/local/Cellar/qt5` doesn't exist.
After doing a `brew install qt5` qTox still doesn't start, but the error message is different:

[code]

[2016-08-10 10:50] PKEv opened #3611 "autoupdate don't work"
##### Brief Description

OS: Windows
qTox version: 1.5.0-2-gf05b7e0.
Commit hash:   f05b7e040a073c7afadaf763dda5beaf130c6dbd
toxcore:  0.0.0
Qt:  5.5.1

Reproducible: Always

There was no automatic update program, although recently there is a new version 1.5.0

[2016-08-10 11:17] ovalseven8 commented on #3611
The update is not available yet for Windows.

[2016-08-10 12:34] DX37 opened #3612 "Choosing camera in settings causing qTox to crashing"
##### Brief Description

OS: Windows 10 Anniversary Update
qTox version: v1.5.0-2-gf05b7e0
Commit hash: f05b7e0
Reproducible: Always
##### Steps to reproduce
1. Go to Audio/Video.
2. Select any camera in Video device.
3. Wait for crash.
##### Additional Info

Only opening device in qtox.log
`[12:25:23.737 UTC] src/video/camerasource.cpp:266 : Debug: Opening device  "video=@device_pnp_\\\\?\\displa

[2016-08-10 12:46] abbat commented on #3470
Done.

[2016-08-10 13:02] #3611 closed, assigned to tux3

[2016-08-10 13:36] #3470 closed, assigned to nobody

[2016-08-10 14:56] zetok commented on #3541
Since 1.5 has been released, closing.

[2016-08-10 14:56] #3541 closed, assigned to nobody

[2016-08-10 15:00] zetok commented on #3361
This is an upstream issue.

[2016-08-10 15:03] zetok commented on #518
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-08-10 15:03] #518 closed, assigned to nobody

[2016-08-10 15:04] zetok commented on #2000
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-08-10 15:04] #2000 closed, assigned to nobody

[2016-08-10 15:04] zetok commented on #2018
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-08-10 15:04] #2018 closed, assigned to nobody

[2016-08-10 15:06] zetok commented on #2925
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-08-10 15:06] #2925 closed, assigned to nobody

[2016-08-10 15:09] zetok commented on #3177
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-08-10 15:09] #3177 closed, assigned to nobody

[2016-08-10 15:10] zetok commented on #3324
There have been some video fixes / improvements – can you check with newest qTox?

[2016-08-10 16:03] dolohow commented on #3541
Does it mean that you provide stable builds since 1.5?

[2016-08-10 16:07] yurivict commented on #3324
The problem is gone in 1.5.1 on FreeBSD. Thanks!

[2016-08-10 16:09] yurivict opened #3613 "abs isn't declared"
On FreeBSD:

[code]

I have to patch it, add `#include <stdlib.h>`.

[2016-08-10 16:58] ddobrev commented on #3610
It doesn't work at all. When I start it from the GUI, it just freezes after it stops jumping ("Force Quit" appears). When I start it from the CLI:

&#35; open /Applications/qTox.app/

I get:

LSOpenURLsWithRole() failed with error -10810 for the file /Applications/qTox.app.

I was forced to revert to 1.4.1.1, 1.5.1 is completely unusable.

[2016-08-10 17:32] epapushev commented on #3610
Let me join with a crash log. 😁

[qtox_2016-08-10-201609.crash.zip](https://github.com/qTox/qTox/files/411718/qtox_2016-08-10-201609.crash.zip)

[2016-08-10 17:37] zetok commented on #3541
Should be available on OBS.

[2016-08-10 19:08] sudden6 commented on #3613
Could you open a PR with that fix?

[2016-08-10 20:21] antis81 commented on #3613
@yurivict You can actually use `qAbs()` which doesn't require such patches. :)

[2016-08-10 20:51] sudden6 commented on #3603
does this still happen with the newest qTox release?

[2016-08-10 22:45] yurivict opened #3616 "Video: error from v4l2: Some buffers are still owned by the caller on close."
v4l2 prints this error message during the call termination. It didn't sound like an innocent thing.

[code]

qTox-1.5.1 on FreeBSD.

[2016-08-11 00:47] dcapeletti commented on #3603
It's only been once, then again no longer happen. I can not find way to play it.

[2016-08-11 05:24] DX37 commented on #3612
Still exist in  v1.5.1-2 23d08db.

[2016-08-11 05:26] initramfs commented on #3612
If you have the older v1.4.0/v1.4.1 binaries around, mind trying that?

[2016-08-11 05:38] DX37 commented on #3612
I thinking this might be due to Anniversary Update. Cause I found stable v1.4.1.1 version and selecting cameras isn't working too (When on previous Windows 10 version it was working).
It's time to reinstall camera drivers? :laughing:

[2016-08-11 05:41] initramfs commented on #3612
Yeah, that would be nice if you could try that.

[2016-08-11 05:45] DX37 commented on #3612
It's weird, because Windows can work with cameras. Maybe some methods was changed in update...

[2016-08-11 05:51] initramfs commented on #3612
All underlying video code is essentially handled by FFmpeg (within qTox), if a previously working binary fails after a windows update, it's likely that routines within FFmpeg that create/initialize the video device no longer properly work. Though, this should not result in a crash of the application (unless FFmpeg itself crashes), I'll make a note of checking initialization results in subsequent c

[2016-08-11 06:03] DX37 commented on #3612
Driver update didn't work. qTox v1.5 and v1.4 still crashes.

And here I mean Windows, not qTox :smile:

[2016-08-11 06:38] wojciechowskid opened #3618 "no indicator in groups that there's an ongoing call when user didn't "call" the group"
##### Brief Description

OS: Windows 10 / Linux (Debian Jessie, Debian Stretch)
qTox version: Nightly
Commit hash: built without git
toxcore: 0.0.0
Qt:  5.3.2/5.6.1 (for debians)
Hardware: HP ProBook4530s (this is a laptop of the call initiator)

Reproducible: Always
##### Steps to reproduce
1. Create a group and add memebrs (overall 3 members with qtox on Debian Stretch, Debian Jessie, Windows 10

[2016-08-11 06:48] DX37 commented on #3618
Similar to https://github.com/qTox/qTox/issues/3359, I guess.

[2016-08-11 06:50] wojciechowskid commented on #3618
In my case group calls won't work at all :(

[2016-08-11 07:50] initramfs commented on #3616
Hmm... The errors themselves are harmless (in fact, prior to v1.5.0 you'd randomly get them too). But my changes should have prevented them from poping up, I shall investigate.

What that means is, we did not free all the allocated video frames and v4l2 had to clean them up for us. It's more of a warning saying "hey, all your frames are now invalid" which doesn't matter given that we're closing th

[2016-08-11 08:17] zetok commented on #3618
Could you get the version at least for Debian builds? Note that if you're not using the right repo, there would be no version shown.

[2016-08-11 08:20] zetok commented on #3612
It's worth to note that recently FFmpeg version has been bumped for windows binaries, so if @DX37 didn't try with an old archived one, there's new FFmpeg being used in both versions.

[2016-08-11 08:24] zetok commented on #3618
Yeah, no, use the right repo and try again.

Some explanation re: repo: https://github.com/qTox/blog/pull/1

[2016-08-11 08:41] DX37 commented on #3612
Hell no, I don't have any versions of qTox with old FFmpeg. I have a stable v1.4.1.1 barely found on [build.tox.chat](https://build.tox.chat) and it didn't work due to Anniversary Update, I suppose.

[2016-08-11 17:56] iphydf commented on #3610
@xyrnox, @ddobrev, @codecontrol-evtim: try [this build](https://toktok.github.io/client/osx/qtox.dmg).

[2016-08-11 17:57] ddobrev commented on #3610
@iphydf thanks, I'll let you know as soon as I've tried it.

[2016-08-11 22:43] xyrnox commented on #3610
@iphydf your build seems to work fine, thank you. Will the fix be merged to the official qTox?

[2016-08-11 22:45] ddobrev commented on #3610
@iphydf I haven't been able to try it but a friend did. He said he downgraded again because the text was smudged and the emojis improperly displayed. He uses the beta of the new macOS but the old qTox works fine for him nevertheless.

[2016-08-11 22:53] xyrnox commented on #3610
@ddobrev now that you mention text looks blurry in this build. Probably an unrelated issue though.

[2016-08-11 22:55] ddobrev commented on #3610
@xyrnox definitely unrelated but means the new qTox is still useless on OS X.

[2016-08-11 22:58] iphydf commented on #3610
A thing I noticed is that it doesn't work with retina displays. I'm not sure what causes that yet, but it's the same on my local build. I'll investigate later, perhaps next week, unless someone finds the issue earlier. Thanks for the reports.

[2016-08-12 11:43] PKEv opened #3620 "No window "Invitations to groups""
##### Steps to reproduce
1.  tipe "invite" in Groupbot
2. A window will open "Invitation to group" with buttons to "Join" and "reject"
3. If you switch to another tab page or contact in this moment, you can't return again to this window
##### Expected Behavior

Need another bookmark in the "Add friends "Invitations to groups"
##### Additional Info

![default](https://cloud.githubusercontent.com/as

[2016-08-12 11:50] wojciechowskid commented on #3618
Hi
we all updated the qtox: "You are using qTox version Nightly".

The `apt-cache show qtox` command gives the following:

[code]

What we have noticed now... If I start group call, my mates won't get any notifications. But if they click the call button in the group chat, they've joined to the group call

[qtox_2016.08.12.txt](https://github.com/qTox/qTox/files/415225/qtox_2016.08.12.txt)

[2016-08-12 12:06] zetok commented on #3620
Wait, there's no tab there.
![spectacle kn4437](https://cloud.githubusercontent.com/assets/3148759/17621765/7ec92a94-608d-11e6-967c-52aedf70f842.png)
↑ you need to press on the second button, for groups, not for friend requests.

[2016-08-12 12:06] #3620 closed, assigned to nobody

[2016-08-12 12:20] PKEv opened #3621 "Incorrect group name in the invitation"
##### Brief Description

OS: Windows
qTox version: v1.5.0-2-gf05b7e0.
Commit hash:  f05b7e040a073c7afadaf763dda5beaf130c6dbd
Qt:  5,5,1

Reproducible: Always
##### Steps to reproduce
1. invite in group 1 and invite in group 2 (Groupbot and Kalina)
2. go to group's page with invites
3. Both invitations will be from the same group (same name)
##### Additional Info

![default](https://cloud.githubuse

[2016-08-12 12:21] PKEv commented on #3620
Thank you

[2016-08-12 18:32] mobilediesel opened #3622 "Cannot drag links into qtox."
##### Brief Description

OS: Debian 8.5
qTox version: Nightly
Commit hash:  built without git
toxcore:  0.1.3760.755f084-1
Qt:  4.8.6

Reproducible: Always
##### Steps to reproduce
1. Drag a link from another window into qtox
2. Get this error: http://i.imgur.com/gftvl5L.png
##### Observed Behavior

When I drag a link into qtox, I get an error message.
![screenshot2016-08-12-14-22-44](https://clou

[2016-08-12 18:35] mobilediesel commented on #3622
Nevermind it appears to be the fault of the latest Firefox.

[2016-08-12 18:35] #3622 closed, assigned to nobody

[2016-08-12 18:55] sudden6 commented on #3618
So to clarify, you can talk to your friends, but it is confusing that there is no notification when someone enters audio groupchat?

[2016-08-13 04:30] wojciechowskid commented on #3618
Exactly. When i start the call, group members have no idea about that. But when they click call button in the group, they connect to call and can talk

[2016-08-13 08:10] initramfs commented on #3612
Okay, I can confirm the issue with Windows 10 Anniversary Edition.

[2016-08-13 08:40] initramfs commented on #1098
Is this issue still present?

[2016-08-13 08:43] zetok commented on #1098
Since messages still haven't been delivered, yep,

[2016-08-13 18:10] akhilman opened #3625 "Audio stream remains open after leaving Audio/Video settings"
qTox leaves audio playback stream open after leaving Audio/Video settings

OS: Debian GNU/Linux Sid
qTox version:  v1.4.0-245-g99ce719
Commit hash:  99ce719b800b5fedeb47eb848268976dcbf96fc7
toxcore:  0.0.0
Qt:  5.5.1
…

Reproducible: Always
##### Steps to reproduce
1. Go to Settings
2. Select Audio/Video settings tab
3. Go back to chat or to another settings tab
##### Observed Behavior

qTox leave

[2016-08-13 18:17] akhilman opened #3626 "Audio stream remains open after message notification"
qTox leaves audio playback stream open after message notification sound.

OS: Debian GNU/Linux Sid
qTox version:  v1.4.0-245-g99ce719
Commit hash:  99ce719b800b5fedeb47eb848268976dcbf96fc7
toxcore:  0.0.0
Qt:  5.5.1
…

Reproducible: Always
##### Steps to reproduce
1. Turn on sound notification
2. Minimize qTox to tray
3. Tell to friend to send some text message
4. Listen sound notification
##### O

[2016-08-13 20:36] zetok commented on #3625
Could you re-test with newest qTox?

[2016-08-13 20:36] zetok commented on #3626
Could you re-test with newest qTox?

[2016-08-14 02:55] akhilman commented on #3626
Reproducible in current master
qTox version v1.5.1-13-ge4398c7
commit hash: e4398c7894f16ef02a7302149790f4ab760923cc

[2016-08-14 02:55] akhilman commented on #3625
Reproducible in current master
qTox version v1.5.1-13-ge4398c7
commit hash: e4398c7894f16ef02a7302149790f4ab760923cc

[2016-08-14 07:46] zetok commented on #3626
Most likely will be fixed by #3524

[2016-08-14 07:46] zetok commented on #3625
Most likely will be fixed by #3524

[2016-08-14 20:23] ProMcTagonist commented on #3621
I've noticed this too.

[2016-08-14 20:26] ProMcTagonist commented on #3603
The reverse is true for me. Occasionally qTox will only record my audio during an active call (according to pavucontrol) if I am inside the AV settings. Sometimes spamming Rescan Devices fixes it, sometimes not.

I will try to get logs if it happens again.

[2016-08-15 22:58] #3613 closed, assigned to nobody

[2016-08-16 00:30] yurivict opened #3630 "Messages from/to the reconnected friend never arrive"
I first added the qTox account in Antox, it worked fine. Then I deleted the friend on Antox, and re-added it again using the scan code.
Antox says that it sent the friend request. qTox never received the friend request. qTox shows the Antox account as online now. But messages never arrive in any direction.

[2016-08-16 00:32] #3630 closed, assigned to nobody

[2016-08-16 08:55] Diadlo commented on #3575
Info was updated

[2016-08-16 09:00] initramfs commented on #3575
@Diadlo Yep, based on the given info, it looks like ffmpeg is being blocked forever. A separate timeout mechanism would be required to forcefully kill the locked thread.

[2016-08-16 10:11] zetok commented on #2424
Should be fixed on newest qTox, thus closing.

If you still can reproduce, please comment for reopen.

[2016-08-16 10:11] #2424 closed, assigned to nobody

[2016-08-16 10:14] zetok commented on #2716
Should be fixed on newest qTox, thus closing.

If you still can reproduce, please comment for reopen.

[2016-08-16 10:14] #2716 closed, assigned to nobody

[2016-08-16 10:16] zetok commented on #3237
Should be fixed on newest qTox, thus closing.

If you still can reproduce, please comment for reopen.

[2016-08-16 10:16] #3237 closed, assigned to nobody

[2016-08-16 10:17] zetok commented on #3403
Newest qTox has some fixes to video, could you see if now crash is gone?

[2016-08-16 19:41] yurivict commented on #3238
Fixed in 1.5.1

[2016-08-16 19:41] #3238 closed, assigned to nobody

[2016-08-16 23:25] TheNotary opened #3632 "I see a green flickering screen when trying to video chat on qtox"
##### Brief Description

OS: Linux Mint 17.2
qTox version: Qt version: 5.6.1
Commit hash:  Commit hash: f05b7e040a073c7afadaf763dda5beaf130c6dbd
toxcore:  0.0.0
Qt:  3ish?
Hardware:  AlienWare Laptop (graphics, Radeon HD 7970)
…

Reproducible: Always
##### Steps to reproduce
1. I start a video chat session with someone on qTox
##### Observed Behavior

I see a mostly green screen in the video outpu

[2016-08-17 14:58] iphydf commented on #3610
@ddobrev, @xyrnox, try [the most recent build](https://toktok.github.io/client/osx/qtox.dmg). Retina displays work fine now.

[2016-08-17 17:30] sudden6 commented on #3632
paging @initramfs because he redid most of the video stuff.

First of all, disabling hardware acceleration probably won't help, since I think qTox doesn't use it.

What would probably help us in solving the problem, are your log files, could you please upload them? They should be in `~/.cache/Tox/qTox/` .

[2016-08-17 17:41] initramfs commented on #3632
By "green flickering screen" do you mean the video you receive is green (i.e. when chatting with someone else, you see them as a green screen)? Also, if you go into the A/V settings page and preview yourself, does the output look normal or it is green too?

Finally, could you try an older version of qTox (e.g. v1.4.1.1) to check if this is an regression? Thanks.

[2016-08-17 18:55] ddobrev commented on #3610
@iphydf this one works, thank you. Could you please upload this build at https://github.com/qTox/qTox/releases/ ?

[2016-08-18 00:44] zetok commented on #3632
@TheNotary are your friends using qTox?

[2016-08-18 08:28] EoleDev commented on #3612
I just read this post which bring some information about the webcam problem in win 10 anniversary.
Hope it will help, and i hope the update announced will correct the problem.
https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/9d6a8704-764f-46df-a41c-8e9d84f7f0f3/mjpg-encoded-media-type-is-not-available-for-usbuvc-webcameras-after-windows-10-version-1607-os?forum=mediafoundationdevelopm

[2016-08-18 13:39] ogbaba opened #3637 "qtox window too big and not scalable"
##### Brief Description

OS: Arch GNU/Linux
qTox version: 1.5.1
Commit hash:  ?
toxcore:  it says 0.0.0 weirdly
Qt:  5.7.0
Hardware:  Thinkpad x260 with 1920*1080 resolution 12.5 inches display

Reproducible: Always
##### Steps to reproduce
1. Start qtox
##### Observed Behavior

The qtox window is almost the size of the screen and can't be scaled down, it's quite uncomfortable
##### Expected Behav

[2016-08-18 19:42] sudden6 commented on #3637
A possible workaround could be to use `QT_SCALE_FACTOR` environment variable as described in http://doc.qt.io/qt-5/highdpi.html altough this would make everything smaller and isn't equivalent to proper resizing.

[2016-08-18 21:16] initramfs commented on #3637
Do you have the variable `QT_DEVICE_PIXEL_RATIO` defined anywhere (in your environment)? That's an legecy variable to control Qt scaling that has since been deprecated.

Additionally, do you have `QT_AUTO_SCREEN_SCALE_FACTOR` defined? Qt only recently started supporting HiDPI screens, and it is required for that variable to be defined for "proper" scaling to take place (though, it shouldn't case a

[2016-08-19 06:41] #3559 closed, assigned to nobody

[2016-08-19 09:55] ElLamparto commented on #2716
Thanks, but can't test it due to #3562 [regression] Linux: No Picture From Webcam In AV Settings / Video Call.

[2016-08-19 21:46] ghost opened #3638 "Load automatically is disabled."
##### Brief Description

OS: Windows x64
qTox version: v1.5.1-8-gfd04a28.
Commit hash:  fd04a2832aa885d260ded4e476eefcddd49237b3
toxcore:  0.0.0

Reproducible: Always
##### Steps to reproduce

Try to login automatically.
##### Observed Behavior

Load automatically is disabled.
##### Expected Behavior

Load automatically is enabled.
##### Additional Info

How to enable it?
I guessed that it can be

[2016-08-19 22:15] Diadlo commented on #3638
Hello. The encrypted profile means, that you setup password to this profile.
If you are using the encrypted profile it can't be loaded automaticly.
You should store in secret your `.tox` file (it's contains your private key) and password if you have encrypted profile.
If I understand correct, ToxID is your public key.

**ADDED:** If you want automatically login you should:
1) Open profile info and

[2016-08-19 22:26] initramfs commented on #3638
To expand on @Diadlo's point, once you set up a password, your tox profile and chat database are automatically encrypted by a key derived from your password. As such, it becomes impossible to automatically load a profile without the password (since we need to decrypt the profile before loading).

The way that encryption is performed varies between files (chat DB for example uses SQLite encryption

[2016-08-19 22:31] ghost commented on #3638
Hello...
Thanks for quick response... now all is clear... ))

Maybe I can suggest the following:
1) Move profile UI to new tab (available by settings button). It can be first tab there and have title "Profile".
2) Click on Profile will open this tab in settings.

It can be more clear for user.. it is intuitive to get all settings in one place. And also such behavior will solve the case when user e

[2016-08-19 22:37] initramfs commented on #3638
@maxim-boligatov I take your response as you've tried to use automatic profile loading with an encrypted profile and thus will be closing your issue.

Regarding the UI changes you suggested, qTox currently has a few UI changes being developed, most notably #3631 and #3457. You may be interested in looking at the changes proposed by those pull requests to see if they incoperate something along the

[2016-08-19 22:37] #3638 closed, assigned to nobody

[2016-08-19 22:39] ghost commented on #3638
I think we can close this issue... it will be informative for others users.
Also I think tooltip can be added on disabled "Load automatically" control.
So user will get at least minimal information how it works and why it is disabled.
It can be very helpful for new users.

[2016-08-20 09:07] zetok commented on #3638
There is one.

No, having _profile_ in _settings_ is not more intuitive.
If you want to open a new issue about it, please relate to discussion in #1012 and 1328.

[2016-08-20 11:55] ghost commented on #3638
It is absent at least on:

Maybe some nightly build already solves it, but current stable version works as I described above.

I cannot agree...
To be more clear.... Imagine situation when you need 2 accounts inside single instance (it is not really needed in such way but just for analyzing).

So to setup each account we will need provide at least own settings for:
Autoaway
Autoaccept
Download fol

[2016-08-20 17:29] ddobrev commented on #3610
Don't update the release. Now the emoticons do not work at all. They don't appear when trying to select them, they don't appear when typed, they don't appear in the settings. They might as well not be included in the installer. In addition, the icon in the dock is missing. A white icon with a pencil, a brush and a ruler (I think it's a stock OS X icon to replace missing real ones) is displayed ins

[2016-08-20 17:39] ddobrev commented on #3610
Also, punctuation marks are displayed strange and different to the way they appear in the field for typing messages. For example - ' disappears when put in the middle of a word, () are displayed lower than letters.

[2016-08-20 17:54] ddobrev commented on #3610
The application is also quite unstable, crashes constantly. I am forced to downgrade until all of these problems are fixed.

[2016-08-20 19:58] hashsploit commented on #3594
+9001
Very annoying, this is a bug that should be fixed very soon.
OS: Debian
DE: Cinnamon

[2016-08-21 23:18] TheNotary commented on #3632
Yes qTox is being used on both ends.  I don't know how to use v1.4.1.1... but I just now got in touch with my friend and it's working fine now so I can't give you screenshots as planned...  grrr.... I guess I'll reopen this if the problem comes back.  If the error comes back, maybe that indicates something weird with my horrible hardware.

Regards, and keep up the good work.

[2016-08-21 23:18] #3632 closed, assigned to nobody

[2016-08-22 07:14] Getron commented on #2529
Same problem here on many Linux distros. I have tryed on several PC's, with several web cams, with Linux Mint 18 Sarah, Ubuntu 16.04, Netrunner 2016.01 Rolling KDE Arch Release, but, on all of them, the same broken video images, even in qTox v1.5.1-34-g54350fd

Do someone found what cause this?

[2016-08-22 07:24] Getron commented on #3314
@sudden6 It is not a security point, it is just to hide the app interface. It is somthing like you would put an image over the interface, and move it out with an code, nothing else. Just hidding the activity of Tox App, but not close it.

Please, test Telegram, and you will see, it is a great function.

[2016-08-22 07:48] initramfs commented on #2529
This seems to be an upstream bug (with toxcore) where I frames are dropped in low bandwidth scenarios causing all further P frames to be referenced against an incorrect I frame. The upstream bug is detailed here:
https://github.com/irungentoo/toxcore/issues/1479

[2016-08-22 09:21] initramfs commented on #3314
@Getron Doesn't setting yourself to busy and minimzing the window achieve the same purpose? You won't be actively notified of new messages and the main qTox screen is hidden away. Better yet, minimize it to tray (if possible).

If you're worried about people snooping and actively clicking minimized windows then you have a security issue which should be solved in a secure way.

Whilst I can definit

[2016-08-22 13:06] epapushev commented on #3610
[qtox_2016-08-20-205000_HubbertJ.crash.zip](https://github.com/qTox/qTox/files/430182/qtox_2016-08-20-205000_HubbertJ.crash.zip)

Also, you will notice that the version in the crash log is reported as 1.4.1 while I made sure that I installed the build from https://github.com/qTox/qTox/issues/3610#issuecomment-240439104

[2016-08-22 13:37] iphydf commented on #3610
Does it consistently crash on startup, or is there something you do to make it crash?

[2016-08-22 13:40] ddobrev commented on #3610
The crash while starting up was fixed at https://github.com/qTox/qTox/issues/3610#issuecomment-239239297 . This one is different and occurs while chatting.

[2016-08-22 13:42] iphydf opened #3644 "Feature request: pause the rotation of "sending messages" when friend is offline"
The rotation indicates that something is in progress. When the friend is offline, the sending is definitely not in progress. I'd like it to be a grey (as opposed to black when it's in progress) and non-moving symbol to indicate that the message has not been sent yet. When the friend comes online, it can use the rotating broken circle again, because then the client is actually going to try and send

[2016-08-22 13:45] iphydf commented on #3610
Can you add me? This ID is running the latest build from toktok.github.io: AC1A8F21118958478C84BE0BA4F0AFA76D1923356269726449BDA8930214BA26FD89FDE7547E

[2016-08-22 13:49] iphydf commented on #3610
md5sum: qtox.dmg b8f3a3ac5176bfcd87c0db989ce90fa3 to ensure that we're using the same [binary](https://toktok.github.io/client/osx/qtox.dmg).

[2016-08-23 00:48] zetok commented on #3542
Reopening, since it's still not fixed on 54350fd24feb68750c0808eea708cbe0543c55b3 with Qt 5.6.1.

[2016-08-23 08:28] Diadlo commented on #3542
Can't reproduse on 54350fd24feb68750c0808eea708cbe0543c55b3 with Qt 5.7.0

[2016-08-23 22:11] iphydf commented on #3610
The latest binary has smileys fixed, but the font for punctuation is still wrong. If you can make the latest build crash, I'd be interested in another crash log and ideally some sequence of actions that led up to it.

[2016-08-25 07:53] ghost commented on #2921
Is [snorenotify](https://github.com/KDE/snorenotify) not an option? It has everything we need, based on Qt, backed by KDE and is future proof with Android support.

[2016-08-25 08:13] antis81 commented on #2921
@kehugter It is an option (for mac/linux at least) -> obviously there's currently nobody interested in writing the code. Probably you want to write it and are prepared to "go through the deep valley of code review"… :smile:

[2016-08-25 08:15] antis81 commented on #2921
@RowenStipe I currently am working on other important part on qTox and cannot bring this one to stable status. Do you think you will have the time and revive/cleanup this one?

[2016-08-25 10:55] yatsenkoanton commented on #3538
I have exactly the same issue on Ubuntu 16.04 (qTox version v1.5.1-obs, commit hash f05b7e040a073c7afadaf763dda5beaf130c6dbd)

Even though I have this issue on two ubuntu systems, I don't have it on the Windows version.

[2016-08-25 20:08] NicoHood opened #3646 "1.5.1 - 1.6.0 Screenshot screen selection crash X session on linux"
##### Brief Description

OS: Archlinux
qTox version: 1.5.1-1
Commit hash:
kernel: Linux arch 4.4.19-1-lts #1 SMP Sat Aug 20 21:58:36 CEST 2016 x86_64 GNU/Linux
toxcore:  3747-2
xorg-server 1.18.4-1
Qt:  qt5-base 5.7.0-2 (qt qt5)
Hardware:  Intel(R) Core(TM) i7-4702MQ CPU @ 2.20GHz

Reproducible: Sometimes (2)
##### Steps to reproduce
1. Open qtox
2. Wait for all people to become online
3. Try to s

[2016-08-25 20:08] Kron4ek opened #3647 "Laggy voices in group calls with 3 or more people"
##### Brief Description

OS: Arch Linux, Linux 4.7.1-1-ARCH (the problem also occurs on Windows).
qTox version: 1.5.1
toxcore: 3747
Qt:  5.7.0

Reproducible: Always
##### Steps to reproduce
1. Invite at least 2 people (in addition to yourself) to a group
2. Start group call

If invite one person to one group and another to another group and start this two group calls at the same time, the problem

[2016-08-25 20:23] Diadlo commented on #1046
Added toxme support #3127

[2016-08-25 20:23] #1046 closed, assigned to nobody

[2016-08-25 20:39] Diadlo commented on #3647
Seems same with #3359
If not, please, reopen

[2016-08-25 20:39] #3647 closed, assigned to nobody

[2016-08-25 20:52] Kron4ek commented on #3359
I hope that this issue will be fixed soon. But It seems like there is a workaround. If invite one person to one group and another person to another group and start this two group calls, the problem is not occur and you can clearly hear this two people. I spoke two hours with two people using this workaround. So you can try.

[2016-08-25 23:37] zetok commented on #3646
Sounds like an upstream problem. Xorg version, etc?

Edit: doesn't happen for me with Xorg 1.17.4, are more people affected?

[2016-08-25 23:39] zetok commented on #3647
@Diadlo um, if maintainer closes the issue, non-maintainer can't reopen it.

[2016-08-25 23:41] Diadlo commented on #3647
@zetok Sorry. I will know

[2016-08-26 06:57] antis81 commented on #3359
@Kron4ek Thanks for reporting! This won't be available, until a real concept for group chats is implemented. I do not consider this as bug, but as a non-existing half-hearted implementation of an unfinished concept. Nice to know though it seems to work with the "two group workaround", making it usable anyway.

[2016-08-26 09:09] #3552 closed, assigned to nobody

[2016-08-26 11:56] toxlover commented on #3537
confirming this problem; it's impossible to send large files most of the time.

[2016-08-26 12:00] toxlover opened #3651 "UI: don't just grey out auto-login checkbox, don't show it (or show why it is not accessible)"
There's a bit of a UI improvement possibility. By greying out the auto-login checkbox in the case of an encrypted profile, you give the idea that auto-login is POSSIBLE but somehow not working. Either simply do not show this in the case of an encrypted profile, or explain there in as few words as possible, why it doesn't work i.e.

"Auto-login is not possible with encrypted profiles"

OS: All
qTox

[2016-08-26 12:03] toxlover opened #3652 "Send recipient original time stamp when message is sent "offline""
It happens occasionally that I send a message to someone who is online or who disconnects. The spinner goes next to the message, and that all makes sense.

The problem is: When the other person reconnects, it can be any amount of time later, but it appears to them that the message was freshly sent. This creates awkward situations.

The solution is to include the time stamp so that it appears corre

[2016-08-26 12:08] toxlover opened #3653 "Privacy enhancement: Retain log for X [hours/days/weeks/months/years]"
I like having a log, because it helps me to see the context of a conversation, in case my tox should be closed, or crash (never! 👍). However, especially looking at #3583 it would be nice to have a "middle ground" option of only keeping chat logs for a certain period of time: for example, for 1 week.

[2016-08-26 12:14] sudden6 opened #3654 "Deprecate HistoryKeeper"
HistoryKeeper was the old way to store the chat history in qTox. It has been deprecated by a new history class since qTox version 1.2.2 (8 months ago). It was still kept inside the codebase to allow an automatic transistion from the old format to the new one.

@Diadlo and I think it's now time to remove it from the codebase. What will happen if it's done now?
- Users that have run any qTox version

[2016-08-26 12:16] toxlover opened #3655 "In "About", license says (c) 2015 (should be 2016?)"
In case no one had noticed this before...

[2016-08-26 12:32] sudden6 commented on #3655
it's fixed in a963bcf9b87bd6dd52e32587adb19770a12d921d

[2016-08-26 12:32] #3655 closed, assigned to nobody

[2016-08-26 12:34] sudden6 commented on #3651
fixed with b5efc2bb7124ccbbd256792c524ffffdd02fab3f

[2016-08-26 12:34] #3651 closed, assigned to nobody

[2016-08-26 12:45] initramfs commented on #3655
Well, it's actually fixed in 54350fd, but that doesn't really matter.

[2016-08-26 12:57] Diadlo commented on #3652
Same with https://github.com/qTox/qTox/issues/3306

[2016-08-26 12:57] #3652 closed, assigned to nobody

[2016-08-26 13:10] #1069 closed, assigned to nobody

[2016-08-26 13:10] #2465 closed, assigned to nobody

[2016-08-26 15:20] NicoHood commented on #3646
Xorg version edited above. xorg-server 1.18.4-1

[2016-08-26 20:34] ghost opened #3658 "Feature Request: Bubble-based chat fields with more customizability"
OS: Windows 10 (would like to see features in other systems too)
qTox version: qTox version v1.5.1-8-gfd04a28
Commit hash:  fd04a2832aa885d260ded4e476eefcddd49237b3
toxcore:  0.0.0

I have an Idea that would make user experience on qTox much nicer for newcomers and much more attractive to new users that are looking for alternatives for some other p2p IM and calling clients.

The chat system should

[2016-08-26 20:43] ghost opened #3659 "Feature request: Optional pop-up notifications and pop-ups to answer calls"
In this section I'd like to request two more features, I merged them because they both have to do with pop-ups:

Optional (so a user could choose in settings):
- to have pop-up notifications with message previews
- to have pop-up call notification that allows user to accept or dismiss a call

Best regards and keep the great work!

[2016-08-26 22:43] Diadlo commented on #3659
Duplicate of https://github.com/qTox/qTox/issues/483

[2016-08-26 22:43] #3659 closed, assigned to nobody

[2016-08-26 23:12] Dreadeath commented on #3637
I confirm this in Arch Linux, other qt apps have proper scale. Though some time ago it was the other way, all qt apps were overscaled while qtox was "normal". Oh, and I have no tweaks in QT_\* env variables, if I apply e.g. QT_SCALE_FACTOR=0.5, graphics became normal, while fonts are very small.

[2016-08-27 01:58] CaptainKraft opened #3660 "Crash on Profile Import: Assertion `Nexus::getDesktopGUI()' failed."
##### Brief Description

OS: Arch Linux, 64bit
qTox version: v1.5.1-63-gfcfac15
Commit hash: fcfac15c785f6cca5a38b9aa4f915fb805aec161
toxcore: 0.0.0
Qt: 5.7.0

Reproducible: Always
##### Steps to reproduce
1. Try to import .tox profile
##### Observed Behavior

Immediate crash with this console output:

qtox: ../src/widget/gui.cpp:50: GUI::GUI(QObject*): Assertion `Nexus::getDesktopGUI()' failed.
[

[2016-08-27 06:06] initramfs commented on #3637
Have you tried defining `QT_AUTO_SCREEN_SCALE_FACTOR`?

[2016-08-27 12:45] sudden6 commented on #3660
Log shows nothing unusual. Does this happen only with some specific .tox file or with any file?

[2016-08-27 17:31] CaptainKraft commented on #3660
I've tried multiple tox files with the same results. I also checked the logs immediately after the crash and there is nothing there at all.

It might be worth noting that if I simply copy the tox file into ~/.config/tox/, it seems to load the profile just fine.

[2016-08-27 19:59] zetok opened #3662 "[regression] missing button to restart toxcore"
Regression introduced in #3457

cc @Diadlo

[2016-08-27 23:03] ogbaba commented on #3637
I tried defining it but it didn't change anything

[2016-08-28 00:18] Diadlo commented on #3662
It's moved on `Advanced` tab

[2016-08-28 00:18] #3662 closed, assigned to nobody

[2016-08-28 07:04] ovalseven8 opened #3664 "Reset to default settings deletes all your aliases"
##### Brief Description

OS: Ubuntu 16.04
Commit hash: https://github.com/qTox/qTox/commit/fcfac15c785f6cca5a38b9aa4f915fb805aec161

Reproducible: Always
##### Steps to reproduce
1. Go to settings -> Advanced -> Click "Reset to default settings"
2. Restart qTox
3. All your set aliases in the contact list are deleted!

[2016-08-28 08:21] #3369 closed, assigned to nobody

[2016-08-28 09:50] Diadlo commented on #3664
This button remove all user changes, include aliases

[2016-08-28 11:31] ddobrev commented on #3158
Has there been any progress on this? It happens absolutely every time on OS X, all that it takes is 2 or three hours of usage. Having seen your logs and the sheer amount of threads you use (for no obvious reason), I would think you keep spawning new threads without stopping old ones which clogs the application and makes it skip key events.
This might be fixed in https://github.com/qTox/qTox/releas

[2016-08-28 12:50] antis81 commented on #3158
@ddobrev Assuming you're able to compile qTox. You might want to sneak into #3639 and probably create PR on this one to finish rather sooner than later. It surely has a positive impact on this issues and is usable with "minor glitches" (because it's still WIP obviously).

[2016-08-28 14:43] ovalseven8 commented on #3664
Oh, that's a bad idea.

[2016-08-28 21:33] phaoost commented on #3637
I have the same issue on my system (Devuan ceres), however setting QT_AUTO_SCREEN_SCALE_FACTOR to 0 has fixed that

[2016-08-28 21:38] phaoost commented on #3637
Er, just have noticed that chats messages have too small font, increasing in user interface does not affect chat font

[2016-08-28 22:57] ogbaba commented on #3637
yes in fact it works I just didn't start it from terminal but then I have the same issue as @phaoost

[2016-08-29 10:28] sudden6 commented on #3660
Ok, I can confirm.

[2016-08-29 10:52] sudden6 commented on #3660
Offending PR could be https://github.com/qTox/qTox/pull/3560 @Diadlo could you take a look?

[2016-08-29 14:52] Diadlo commented on #3660
Confirm. Will be fixed soon (hope today)

[2016-08-29 20:51] Diadlo commented on #3660
In my time I had today :)

[2016-08-30 07:49] toxlover opened #3671 "Images should (probably) not be treated the same as normal file transfers"
After an active tox session with a friend where we have exchanged a lot of pictures, I'm always a bit dismayed to find these things with ugly filenames in my downloads folder. Of course I have set qtox to automatically accept file transfers, but images in my use case are contextual to the conversation and not something to be kept around. This follows the pattern of most of the bigger commercial (l

[2016-08-30 07:52] toxlover opened #3672 "Images should show inline at a larger size"
Following the approach of #3671 it would also be nice to have images show inline in the chat, rather than showing up inside of little useless green boxes, forcing me to hover over them to see them in a slightly more blown-up size. Again, this follows the way that most modern commercial IMs function, and would likely be most comfortable to new users.

[2016-08-30 15:47] ddobrev commented on #2726
Does one dare hope that after https://github.com/qTox/qTox/pull/3639 this annoying bug will finally be dealt with?

[2016-08-30 21:33] mike-mo commented on #3612
Hey guys, I was pointed to issues with your project in the MSDN forum thread linked above, and I decided to stop by to help you resolve these reports.

We managed to get a local repro of the crash reported here. It appears to be coming from an implementation of the `IBaseFilter::QueryVendorInfo` somewhere in qTox. By looking at the logs of our local repro and the information provided here, I trace

[2016-08-31 07:04] GrayHatter commented on #2726
no it wont

[2016-08-31 07:34] antis81 commented on #2726
@GrayHatter I didn't have the chance to look into that code yet and currently there's enough workload to deal with in #3639 and #3524. If you tracked that down and probably know the reason. Would you mind to start fix it? As long as no UI is involved, this should not even conflict with any of current WIP.

[2016-08-31 07:38] rodolpheh opened #3675 "Feature request : quick contact list in systray"
Hello everyone,

I was thinking that a good feature would be a list showing all connected contacts in the systray so one can quickly access any contact. Clicking on a contact would bring up the main window (or a new window depending on user settings) with the conversation set on the contact.

I would love to see this kind of feature implemented. I tried to have a peek at the source code but I'm no

[2016-08-31 08:18] LittleVulpix commented on #2726
I can only confirm that it's still happening on the latest qtox.

[2016-08-31 09:53] #3660 closed, assigned to nobody

[2016-08-31 10:36] zetok commented on #3675
How would that work?

And how it is supposed to handle cases where there are 100, or >200 online contacts?

[2016-08-31 13:15] rodolpheh commented on #3675
I would imagine a submenu Contacts, showing only connected contacts. Each entry would display an icon for the connection status and the name of the contact. You would be able to scroll if you have more than 10 or 15 contacts to show. This submenu could be set or not, depending on the user's needs.

Maybe having more than 200 online contacts would be a hassle to display.

Here is a very ugly mockup

[2016-08-31 14:59] rodolpheh commented on #223
I would love to see such a feature. For now, when I have trouble communicating with a friend, I can't know for sure if the problem is located in qtox or not.

[2016-08-31 17:15] sudden6 commented on #3675
@rodolpheh I would remove offline contacts (red circle) from that list, quick access only for only online contacts makes more sense.

[2016-08-31 20:25] rodolpheh commented on #3675
Red circle is "Busy". Offline would be a dark grey circle, but we both agree on only displaying connected contacts.

[2016-08-31 21:15] sudden6 commented on #3675
Ah, sorry then.

[2016-09-01 08:29] averter commented on #3594
The workaround suggested by Rodolphe Houdas and @initramfs  is pretty good (no side-effects so far):
go in the cinnamon settings > Windows > Behaviour tab and then turn an option about "Prevent focus stealing" ON.

[2016-09-01 10:04] DX37 opened #3677 "build.tox.chat 502 Bad Gateway"
What happen?

[2016-09-01 10:52] Diadlo commented on #3677
~~How it related with qTox?)~~
Better ask https://github.com/Tox/tox.chat/ or on freenode IRC

[2016-09-01 10:59] zetok commented on #3677
windows builds

cc @nurupo

[2016-09-01 20:21] chileaus commented on #3677
How come I get 502 Bad Gateway when trying to download the software

[2016-09-01 20:48] zetok commented on #2159
As it was planned, ToxDNS support was removed, and given that ToxMe support is not centralized, closing.

[2016-09-01 20:48] #2159 closed, assigned to nobody

[2016-09-01 20:51] nurupo commented on #3677
Should be fixed now. Jenkins sometimes (rarely) goes 502 and I'm not sure why.

[2016-09-01 20:52] sudden6 opened #3679 "simple_make.sh fails for debian 8 (Jessie)"
##### Brief Description

OS: Debian Jessie
Commit hash:  76c4cf7d390ece3d0ec57b771fb9aaa21f7337f7
toxcore:
Qt:  5.3.2

Reproducible: Always
##### Steps to reproduce
1. run `simple_make.sh`
##### Observed Behavior

Fails with error message: "libsqlcipher-dev not found" from apt-get
##### Expected Behavior

script builds qTox ;)

[2016-09-01 22:34] nurupo commented on #3677
Ok, the issue was that Jenkins broke itself after an automatic update. It's more of an upstream issue with Jenkins than an issue on our end, but I will try to see what I can do, since having Jenkins down for any reason is bad for us. A simple watchdog would likely do the trick.

Thanks for emailing me about the issue (through github notifications).

[2016-09-02 05:33] Diadlo commented on #3677
@nurupo Thanks for fix

[2016-09-02 05:33] #3677 closed, assigned to nobody

[2016-09-02 15:57] sudden6 commented on #3679
according to this https://packages.debian.org/search?searchon=names&keywords=libsqlcipher-dev `libsqlcipher-dev` is only available in `jessie-backports` and higher, so we have to add the repo in the script somehow.

[2016-09-02 22:09] sudden6 commented on #3557
Doesn't seem to be relevant for current builds, please reopen if it's still happening for you.

[2016-09-02 22:09] #3557 closed, assigned to tux3

[2016-09-02 22:18] sudden6 commented on #2084
Not reproducible on 76c4cf7d390ece3d0ec57b771fb9aaa21f7337f7 with Qt 5.6.1 on plasmashell 5.7.3

Closing because no update since > 1 year, feel free to reopen if the issue persists.

[2016-09-02 22:37] sudden6 commented on #1689
This has probably been fixed, please reopen if not.

[2016-09-02 22:37] #1689 closed, assigned to nobody

[2016-09-02 22:46] sudden6 commented on #2144
Probably fixed in Qt 5.5 according to #3065 links.

[2016-09-02 22:46] #2144 closed, assigned to nobody

[2016-09-03 01:19] zetok commented on #2084
Still reproducible on 4a5f89bb98fc8657514e35c5022713358a453d49 with Qt 5.6.1.

[2016-09-03 01:45] EoleDev commented on #3612
It seems the ffmpeg teams apply a patch for this error which is include in their last build. May we have a new windows build with the library up to date to test it?

https://git.ffmpeg.org/gitweb/ffmpeg.git/commit/18ce63a60e1bffc35b4df5d8a4f9a1ff1a96cb9a

[2016-09-03 08:22] sudden6 commented on #2084
@zetok can you give more details about how to reproduce? Also the environment needed to reproduce?

[2016-09-03 09:06] Tempy111 opened #3680 "move the cancel file transfer button"
OS: Windows 10
qTox: 1.5.1-8-gfd04a28

Suggestion about Relocating the Cancel file transfer button from under the accept button to next to it.

While it's partly the fault of the user, it is easy to go to click on Accept as a new message comes in from the other person which means instead of clicking on 'accept', you click on decline. it's a bit annoying ^_^

[2016-09-03 10:10] antis81 commented on #3680
This is a duplicate of #2597 -> closing.

[2016-09-03 10:10] #3680 closed, assigned to nobody

[2016-09-03 11:08] zetok commented on #3612
cc @nurupo ?

[2016-09-03 11:17] zetok commented on #2084
Env:
i3wm, I doubt whether it's related though.

Might need `xset r rate 220 70` – some stuff tends to break with that, but it usually happens with repeated input, not when just typing. It changes wait time for key repetition to 220ms and pressed key is repeated 70 times per second.

Steps to reproduce:
1. Select contact
2. input field has focus, click in the chat to remove focus from it
3. **_Qui

[2016-09-03 13:10] DX37 opened #3681 "Portable mode broken due to replacement of makeToxPortable option"
##### Brief Description

In latest nightly, portable mode only works when in `qtox.ini` option `makeToxPortable=true` is set in `General` and `Advanced` sections. After exiting, option is disappears from `General` section and portability brokes.

OS: All?
qTox version: v1.5.1-66-gb7d1222
Commit hash: b7d1222

Reproducible: Always
##### Steps to reproduce
1. Run qTox with `makeToxPortable=true` in

[2016-09-03 13:56] zetok commented on #3681
cc @Diadlo

[2016-09-03 15:35] sudden6 commented on #2028
duplicate of  #698

[2016-09-03 15:35] #2028 closed, assigned to nobody

[2016-09-03 15:37] sudden6 commented on #2175
I don't think ctrl+c is the way to close gui applications cleanly. Please comment if it's still an issue.

[2016-09-03 15:44] sudden6 commented on #2208
Not reproducible on 76c4cf7d390ece3d0ec57b771fb9aaa21f7337f7 with plasmashell 5.7.3 on openSUSE Tumbleweed. @zetok  can you still reproduce?

[2016-09-03 15:45] sudden6 commented on #2232
@zetok still an issue?

[2016-09-03 16:02] sudden6 commented on #2187
Closing as it seems this was only Compact contact list enabled.

[2016-09-03 16:02] #2187 closed, assigned to nobody

[2016-09-03 16:05] sudden6 commented on #2114
Closing for now, because many things changed for video and this bug is quit old. Please comment if still not fixed.

[2016-09-03 16:07] sudden6 commented on #1929
Closing because many things changed in video and this bug report is quite old. Please comment if still not fixed.

[2016-09-03 16:07] #1929 closed, assigned to nobody

[2016-09-03 16:09] sudden6 commented on #1283
Closing because many things changed for video and this bug is quite old. Please comment if the problem still exists.

[2016-09-03 16:09] #1283 closed, assigned to nobody

[2016-09-03 16:15] sudden6 commented on #2119
Still happens on 76c4cf7d390ece3d0ec57b771fb9aaa21f7337f7 if username is empty every message containing a character from [a-zA-z0-9] triggers the highlighting.

[2016-09-03 16:24] sudden6 commented on #2387
Not reproducable on 76c4cf7d390ece3d0ec57b771fb9aaa21f7337f7 anymore.

[2016-09-03 16:28] sudden6 commented on #2400
Not reproducible on 76c4cf7d390ece3d0ec57b771fb9aaa21f7337f7 anymore.

[2016-09-03 16:28] #2400 closed, assigned to nobody

[2016-09-03 16:33] sudden6 commented on #2378
still an issue at 76c4cf7d390ece3d0ec57b771fb9aaa21f7337f7

[2016-09-03 16:42] zetok commented on #2387
Still reproducible.

[2016-09-03 17:04] sudden6 commented on #2280
Still a problem at 76c4cf7d390ece3d0ec57b771fb9aaa21f7337f7 since chat font size is changeable now, but the rest isn't.

[2016-09-03 17:07] zetok commented on #2387
Steps to reproduce:
1. change to big emoticon pack
2. make a message with emoticon only available in this pack
3. change to smaller emoticon pack
4. broken

[2016-09-03 17:15] zetok commented on #2208
Still reproducible on 4a5f89bb98fc8657514e35c5022713358a453d49

[2016-09-03 17:17] zetok commented on #2232
Have you looked at the qtox groupchat? If you didn't notice a nick change every time with a new message from IRC, then yes, it is still reproducible.

(yes)

[2016-09-03 17:20] sudden6 commented on #2208
then I need more info, on how to reproduce.

[2016-09-03 17:22] zetok commented on #2208
Have you actually changed the groupchat title? Note that when you are alone in a "groupchat" qTox doesn't change its title..

[2016-09-03 17:23] sudden6 commented on #2208
Yes, I did it exactly like in your steps. I used two clients on one pc and the different environment.

[2016-09-03 17:25] zetok commented on #2208
Perhaps me using i3wm matters

[2016-09-03 17:26] sudden6 commented on #2208
Maybe you can try on a different DE?

[2016-09-03 17:28] sudden6 commented on #2387
So the expected output is, to get the original ASCII Smileys back?

[2016-09-03 17:31] zetok commented on #2208
Can reproduce on XFCE @ OpenSUSE Tubleweed VM on qTox 1.5.0

[2016-09-03 17:35] zetok commented on #2387
Expected output is to not display broken stuff – probably the best would be to fall back to unicode font for emoticon? That happens anyway when history is reloaded after qTox restart, but perhaps it could be done at runtime?

[2016-09-03 19:44] nurupo commented on #3612
Did they release a ffmpeg version that fixes it?

[2016-09-03 19:52] nurupo commented on #3612
Yep, none of the releases include that fix yet. Want me to re-build ffmpeg against its master/dev branch, risking breaking video completely?

[2016-09-03 20:11] EoleDev commented on #3612
why would it break all the video features?
which ffmpeg version is used by qtox?

[2016-09-04 03:20] nurupo commented on #3612
Ok, I have bumped ffmpeg's version from 3.1.1 to 3.1.3 and also patched it with the [the diff of the commit that supposedly fixes the DirectShow issue](https://git.ffmpeg.org/gitweb/ffmpeg.git/commitdiff_plain/18ce63a60e1bffc35b4df5d8a4f9a1ff1a96cb9a?hp=a8e3833a61c31f8271a55e847e8556d96cb9048a), since that commit haven't made into any ffmpeg release yet.

Please try qTox nightly for Windows [x86](

[2016-09-04 09:22] EoleDev commented on #3612
Tks for the quick answer, i tried the x86_64 version and if the webcam is not use by another program, it works. But if the webcam is already in use, qtox freeze. I think it's another problem, and it is less important since we can use the webcam again :)
Same for the x86 version.

If i may ask it here, were can i find help to build windows version of qtox because the wiki is out of date?
(I tried a

[2016-09-04 10:59] zetok commented on #2208
on qTox 76c4cf7d390ece3d0ec57b771fb9aaa21f7337f7 webm:
[topic-emoji-picker.zip](https://github.com/qTox/qTox/files/453899/topic-emoji-picker.zip)

[2016-09-04 11:52] mdswamp opened #3682 "Custom Smileys for Windows version"
OS: Windows
qTox version: v1.5.1-8-gfd04a28

Hi guys..
how can I add custom smileys like yahoo, etc to windows qtox... I can't find any guidance, thanks.

[2016-09-04 14:26] sudden6 commented on #2208
I still can't reproduce on XFCE @ OpenSUSE Tumbleweed VM
[emoticon-picker.zip](https://github.com/qTox/qTox/files/453960/emoticon-picker.zip)

[2016-09-04 16:21] iphydf commented on #3448
@tecithedid I'll ask the same thing here as on your toxcore issue: what interesting crash cases will it reveal? Since you said it _will_ reveal crash cases, you must know at least some of them already. Can you point at one of them?

[2016-09-04 16:29] sudden6 commented on #3682
Currently smileys are statically included in the qTox binary and cannot be changed after compiling.

[2016-09-04 17:05] sudden6 commented on #2208
I could reproduce now, but I have no idea what exactly the issue is or how to fix it. So I'll write down what I found out so far.
- The desktop Environment seems to be irrelevant, I could finally reproduce on Plasma 5 and XFCE.
- it is not reproducible with a simple groupchat between two qTox clients.
- the only groupchat where it was reproducible for me was qgroup@toxme.io, there were 6 people on

[2016-09-04 18:21] #3654 closed, assigned to nobody

[2016-09-04 18:22] #3679 closed, assigned to nobody

[2016-09-04 18:45] Getron commented on #3314
@initramfs Ok, you understand me totaly wrong here. Nobody use my computer, but, i work with my clients next to me, and we look on the same screen. Ok, maybe, i'm the only one here with this idea.

But, can you just explain us (me, and othere people here, who wotted for this idea), why, a millions people uses messenger like Telegram have implemented this, and, for millions of people is this simple

[2016-09-04 20:47] ghost commented on #2921
@antis81 I'd be glad to, but it's way beyond my knowledge.

[Telegram's desktop client](https://github.com/telegramdesktop/tdesktop) has a nice Qt non-interactive notification system and a lengthy discussion about (Linux native) notifications too https://github.com/telegramdesktop/tdesktop/issues/91.

[2016-09-04 21:23] Diadlo commented on #3681
Can't reproduse
Are you remember, that `qtox.ini` file in portable mode will be moved in application directory?

[2016-09-05 05:36] WhyNotHugo commented on #2921
Sorry to sound negative, but I must point out, building your your notifications sounds like a very very bad idea. It basically spits on the users choice of notification settings, completely overriding it (and looks/behaves alien). This includes:
- Inconsistent "away" support: Will you respect how me notification daemon handles notifications when I'm AFK? (probably not, because you've no programmat

[2016-09-05 10:42] initramfs commented on #3314
@Getron The issue is, it's not trivial to implement a "secure" lock screen. You may think that as long as the messages are hidden and a password is required the system is secure, when in reality, this is not the case (because someone can still snoop on your messages via examining the in-use memory by qTox). But anyway, just because another client does it, it doesn't mean they are doing it correctl

[2016-09-05 10:54] zetok commented on #2921
@hobarrera don't worry about sounding negative, as long as there's valid criticism going on :)

So, most of your points could be used to criticize current notification daemons, not just a custom one. Frankly, most of system notification daemons are shit, assuming that they're available at all. And no, users don't actually pick them, they use whatever their shitty DE provides.

Considering that not

[2016-09-05 11:05] zetok commented on #3314
@initramfs Um, here's the thing:

**It's not about security. Period.**

It's about simply hiding content of the window until the "unhide" button is pressed again. No password required, and it shouldn't be used anyway, since as @sudden6 pointed out (IIRC on IRC), password in qTox does guarantee security.

The question here is simple:

**Do we want to provide a button that hides content of the windo

[2016-09-05 11:09] DX37 commented on #3612
It works now, but on my webcam from 720p, 480p, 360p and 240p modes, 480p and 240p acts weird, like on this screenshot:
![2016-09-05_18-08-04](https://cloud.githubusercontent.com/assets/12829428/18246144/d831cbc2-7393-11e6-899e-11d7917d9762.png)

[2016-09-05 11:13] DX37 commented on #3681
To reproduce you need to have `qtox.ini` with writed options in it, inside directory with `qtox.exe`.

Nothing moves from AppData to application directory or vice versa. qTox just creating new `qtox.ini`, if it not found.

[2016-09-05 11:23] initramfs commented on #3612
@DX37 Mind sending logs?

[2016-09-05 11:49] DX37 commented on #3612
[qtox.zip](https://github.com/qTox/qTox/files/454987/qtox.zip)

[2016-09-05 13:48] Diadlo commented on #3681
Wrong? https://github.com/qTox/qTox/blob/master/src/persistence/settings.cpp#L748:L749
@zetok

[2016-09-05 13:59] DX37 commented on #3681
Okay, it moves `qtox.ini` and, for example, `qwerty` profile, fine. But after starting qTox again it uses `qwerty` profile from AppData and not from app directory.

[2016-09-05 14:25] Diadlo commented on #3681
@DX37 Hm... qTox prefers config in qTox app directory, if it's exist. If you found, that not, it's another issue

[2016-09-05 20:04] Kron4ek opened #3688 "Public key length is limited in "Show details""
##### Brief Description

OS: Arch Linux (also occurs on Windows)
qTox version: 1.5.1
toxcore:  3747
Qt:  5.7.0

Reproducible: Always
##### Steps to reproduce
1. Open "Show details" window
2. Look at the length of the public key
##### Observed Behavior

Public key length is limited to 64 characters, but the real length may be longer (for example, my ID have 76 characters).

[2016-09-05 20:32] Kron4ek opened #3689 "Wrong message notification sound"
##### Brief Description

OS: Arch Linux (also occurs on Windows)
qTox version: 1.5.1
toxcore:  3747
Qt:  5.7.0

Reproducible: Sometimes
##### Steps to reproduce
1. Make two parallel calls to any two people (they should accept call)
2. Send message to any of these people
##### Observed Behavior

Message notification will change to the sound of an incoming call. Sometimes it does not change.

[2016-09-05 20:53] zetok commented on #3688
Nope. PK is 64 chars long. PK ≠ ID.

[2016-09-05 20:53] #3688 closed, assigned to nobody

[2016-09-05 20:56] Kron4ek commented on #3688
Oh, ok.

[2016-09-06 08:29] Kron4ek commented on #3689
I recorded a video with a demonstration of a bug.

[Vid.zip](https://github.com/qTox/qTox/files/456264/Vid.zip)

[2016-09-06 11:52] DX37 commented on #3681
Maybe [**video**](https://youtu.be/eAeUtKMQlRg) can tell you more, @Diadlo?

[2016-09-06 12:13] Diadlo commented on #3681
@DX37 Thanks for video. Now I understand. Will be fixed soon

[2016-09-06 12:29] Talkless commented on #3119
Closing old irrelevant bug report.

[2016-09-06 12:29] #3119 closed, assigned to nobody

[2016-09-06 13:12] #1485 closed, assigned to nobody

[2016-09-06 15:09] WhyNotHugo commented on #2921
Only accesibility/keybinding support seem to partially apply to some existing ones. The rest isn't.

That aside though, I feel like introducing _two_ notifications implementations into the users' systems, which behave differently, and have to be controlled separately, is even worse.
None of the points mentioned above are addresses. Maybe time would be better spent fixing your current daemon to fix

[2016-09-07 02:12] ProMcTagonist commented on #3688
@Kron4ek You need the Tox ID to add someone, which includes the Public Key, NoSpam, and a checksum. Toxcore doesn't share the Tox ID to friends, just the Public Key, because people can change their nospam at any time, and since it's to change your Tox ID, automatically sending it to people wouldn't be a very good idea.

There will be a way to share friends among friends at some point.

[2016-09-07 07:04] SlugFiller opened #3695 "[Request] Allow exporting with a different password"
From what I can tell, the "Export" feature in qTox is roughly equivalent to copying the profile and chat log files around. This seems redundant, but maybe that's just me.

What would be useful, however, is to be able to export the file under a different (potentially more secure) password. The rationale is that if you're backing up your profile on a less secure storage (DropBox, Google Drive, rando

[2016-09-07 11:16] zetok commented on #3695
How should UI for it look like?

[2016-09-07 11:18] zetok commented on #2631
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-09-07 11:18] #2631 closed, assigned to nobody

[2016-09-07 11:33] zetok opened #3696 "[Feature request] custom notification sound when friend comes online"
##### Brief Description

Once friend comes online, we might want to be notified about this with a custom sound. (status other than `offline`)

Use case:

[code]

Related to #3206
Edit: also #2639

[2016-09-07 16:54] SlugFiller commented on #3695
Similar to what you have today. You hit "Export", and either before or after the "Save As" dialog, it opens a dialog that asks you to type in a password for the exported file. You type a password, and it saves/exports with that password.

For extra credit, it could have a "confirm password" field as well.

[2016-09-08 02:10] Fred-Barclay opened #3698 "Debian repo still being updated?"
Hello mates! I used to get qtox updates from https://software.opensuse.org/download.html?project=home%3Aantonbatenev%3Atox&package=qtox every couple of days, but I just noticed that qtox hasn't been updated on my machine since about August 17. Is this still the correct repo to use, and is `201608172222~f05b7e0` the latest version?

I also see there's a `qtox-alpha` package in the repo; what's up w

[2016-09-08 12:45] zetok commented on #3698
#3470 – basically `qtox` is now a stable, release package, and `qtox-alpha` was made to follow current master.

Generally, things on current master are stable, but sometimes there might be regressions. Stable release is for people who really don't like encountering regressions, and they're fine with waiting a bit longer for fixes that are already on master.

@abbat could version on `qtox` package

[2016-09-08 13:31] abbat commented on #3698
If I set only `1.5.0` it breaks upgrade process because `1.5.0` < `201608172222~f05b7e0`. I can set version in tail instead git revision (for example `201608172222~1.5.0`). Also stable release needs update time to time (updating statically linked libtoxcore, ffmpeg and so on) - version need increment part to each build.

[2016-09-08 13:42] zetok commented on #3698
I guess tail would be fine.

Is something like `201608172222~1.5.0-0` → `201608172222~1.5.0-1` an option? IIRC Debian seems to be doing something like that?

I just wonder though – are really binary package managers too stupid to be able to handle a "downgrade"?

[2016-09-08 16:23] abbat commented on #3698
We can just increment date `201608172222~1.5.0` → `201609081444~1.5.0`

Managers do exactly you want. If you want to upgrade package and no package with newer version in repository → nothing to upgrade (but you can specify exact package version to install / downgrade).

However Ubuntu Launchpad rejects packages with lower version than already exists in repository.

[2016-09-08 18:22] zetok commented on #3698
Oh, this way. Why not.

Err. Portage handles version downgrades just fine (at least when it comes to package itself, there's a little bit more of problems when it comes to packages that depend on versions, but not much, and that's something that only people maintaining affected packages would be concerned). So if a newer version with lower version number came out, portage would make no fuss over i

[2016-09-09 09:31] x44 opened #3699 "Minimize and Show close the application"
##### Brief Description

OS: Windows 7
qTox version: v1.5.1-83-g7a98ea3.
Commit hash:  7a98ea337bba2d5b2a32645631f0786ad12c7731
toxcore:  0.0.0
Qt: 5.6.1

Reproducible: Always
##### Steps to reproduce
1. Uncheck "Close to tray"
2. a) Minimize qTox OR
3. b) Press Win+D OR
4. c) Select "Show" from the tray popup
##### Observed Behavior

qTox exits.
##### Expected Behavior

Should minimize.
##### Add

[2016-09-09 11:05] zetok commented on #3699
cc @Talkless

[2016-09-09 12:00] Talkless commented on #3699
I was afraid that PR #3687 could regress for Windows. Looks like Windows needs ignoring QCloseEvent after all?

Could someone share cross-compiling hints how to build for Windows with MinGW on Linux? Is there a script for that, how Windows qTox binaries are actually produced? bootstrap.sh still with problems in #3372

[2016-09-09 15:19] Diadlo commented on #2696
Changed in #3457

[2016-09-09 15:19] #2696 closed, assigned to nobody

[2016-09-09 17:07] zetok commented on #3699
@Talkless it's not a windows-only regression, it's reproducible on Linux.

[2016-09-09 17:10] zetok commented on #3395
How much bandwidth/space would be saved with/without jpg?

Wouldn't using webp be better than jpg for lossy format?

[2016-09-09 18:14] abbat commented on #3698
[qtox_201609091622~v1.5.1](https://build.opensuse.org/package/show/home:antonbatenev:tox/qtox) - OK?

[2016-09-09 18:16] zetok commented on #3698
Yep, thanks :)

[2016-09-09 18:16] #3698 closed, assigned to nobody

[2016-09-09 21:18] sudden6 commented on #3699
@Talkless would also be good if you mention your fear of breaking something, so we could better test.

[2016-09-09 21:34] Talkless commented on #3699
Oh damn... I failed to find regressions when testing on Linux. I'll get on that this weekend!

Yes, I guess I should have mentioned that I could not test on Mac and Windows. "Happy" to hear it's for Linux too.

Sorry for regression.

[2016-09-10 05:30] ghost commented on #3681
Hello @Diadlo!

Thank you for fix!

It seems that issue still persist in v.1.5.1-83-g7a98ea3. Commit hash 7a98ea337bba2d5b2a32645631f0786ad12c7731.

[2016-09-10 06:44] Diadlo commented on #3681
@st38 It's because fix not merged yet. Please, try #3691

[2016-09-10 14:19] zetok opened #3700 "[Feature request] option to keep qTox window above other windows"
##### Brief Description

Currently qTox can be be restored from tray above other windows automatically upon e.g. receiving a message, but the "above" state is not being kept for qTox window.

It could be useful to have qTox hint to window manager that we wants window to stay above other windows if user sets that option.
##### Expected Behavior

User is able to set an option that would make qTox hi

[2016-09-10 17:33] VladislavSu commented on #3377
I have same issue 10.11.6 (15G31). qTox version v1.4.1.1. Qt version: 5.6.0
Model ID:   Apple Camera VendorID_0x106B ProductID_0x1570
Unique ID:  DJH4182F117F6VTDR

Console info: (log)

[20:28:46.289] ../src/video/camerasource.cpp:209 : Debug: Opening device  "DJH4182F117F6VTDR"
[AVFoundation input device @ 0x7f9bc8b4f0a0] Video device not found
[20:28:46.289] ../src/video/camerasource.cpp:225 : W

[2016-09-10 20:44] #3681 closed, assigned to nobody

[2016-09-11 04:18] DX37 commented on #3681
Fixed. Thank you :smiley:

[2016-09-11 08:11] b4n commented on #3699
On my MATE GNU/Linux desktop reproducing is as easy as switching virtual desktop: as soon as the active desktop changes from the one where qTox window is, qTox quits.  #3702 fixes this.

[2016-09-12 10:50] #2985 closed, assigned to nobody

[2016-09-12 11:00] #3699 closed, assigned to nobody

[2016-09-12 11:02] sudden6 commented on #3120
@curlyfriess could you retest with 077a84446129076537b34d9f3b5d7143d7019b0f ? this should contain a fix for your issue.

[2016-09-12 11:08] sudden6 commented on #3664
I think, the behavior mentioned by @Diadlo is good, many applications provide this sort of cleanup button.

[2016-09-12 12:11] zetok commented on #3664
@sudden6 nope. Removing **user data** is never a good thing when one wants to just reset **settings**..

[2016-09-12 20:46] Diadlo commented on #2926
Can't reproduce on 077a844 with EchoBot after 40 min.

[2016-09-12 21:23] Diadlo commented on #2892
Can anyone describe, what is the magic numbers `-243` and `-314`?)

[2016-09-12 21:29] Diadlo commented on #3129
Problem may be fixed in 6b00779. Please, test

[2016-09-12 21:29] Diadlo commented on #1643
Problem may be fixed in 6b00779. Please, test

[2016-09-12 21:40] Diadlo commented on #2100
What will be better change default focus position or change title on `qtox`?

[2016-09-13 01:42] zetok commented on #2926
Could someone affected retest with newest qTox?

[2016-09-13 01:54] zetok commented on #2892
@Diadlo it's a suffix denoting number of commits since tagged version[1], IIRC in this case since 1.4.0.

So, somewhere in between those commits there was a regression that wiped out @linux-modder's circles.

[1] this thing:![qtox version](https://cloud.githubusercontent.com/assets/3148759/18458865/d0a630cc-795c-11e6-94fd-08d107c6517e.png)

[2016-09-13 06:56] tyrylu commented on #2100
Depends on the state of the settings widget. If it's opened, it probably should have focus, otherwise, the title should be changed.

[2016-09-13 07:01] PKEv opened #3705 "[Regression] stopped to show a mark of the day change"
##### Brief Description

qTox version: 1.5.1-97
previous version was 1.5.0
##### Steps to reproduce
1. send a message
##### Observed Behavior

there is no mark about the date change
##### Expected Behavior

if you change the date the new message must be separated from the previous one
##### Additional Info

![default](https://cloud.githubusercontent.com/assets/6053197/18464283/b98a2998-7998-11e6-9

[2016-09-13 07:11] PKEv opened #3706 "[Regression] Loss of settings after upgrading"
##### Brief Description

qTox version: 1.5.1-97
previous version was 1.5.0
##### Observed Behavior

After updating intensified compact mode

[2016-09-13 07:15] PKEv opened #3707 "Not displayed date format"
##### Brief Description

OS: Windows
qTox version: 1,5,1-97
##### Observed Behavior

After updating the setting "date Format" is not selected any one value from the list
##### Expected Behavior

Must be selected the first value from the list

[2016-09-13 07:19] Diadlo opened #3708 "Changing language set title to "Add Friend""
##### Brief Description

OS: Arch Linux
qTox version: v1.4.0-2-g24a7f4d.
Commit hash: 24a7f4d51960a73cb7234cec9a4a2811e9175c6c
toxcore: 0.0.0
Qt: 5.6.0

Reproducible: Always
##### Steps to reproduce
1. Setup one window mode
2. Change langugage
##### Observed Behavior

Window title changed on `qTox - Add friend`
##### Expected Behavior

Title should be `qTox - Settings`

[2016-09-13 07:27] Diadlo commented on #3707
Can you write previous version and new? And same to the other 2 your issues

[2016-09-13 07:30] PKEv commented on #3129
not fixed in qTox 1.5.1-97 commit: 077a84446129076537b34d9f3b5d7143d7019b0f

[2016-09-13 07:32] PKEv commented on #3707
previous version was 1.5.0

[2016-09-13 07:40] Talkless commented on #3129
I do not recall quite exactly, but I believe Windows has some special event (which can be handled with help of QCoreApplication::installNativeEventFilter) that informs when system is shutting down, or desktop is exiting, or something like that.

Since WM_CLOSE does not actually makes qTox to quit in it's minimized/closed-to-systray state, maybe we should handle that mentioned event and call qApp->

[2016-09-13 07:40] PKEv opened #3709 "Empty fields"
##### Brief Description

OS: Windows
qTox version: 1.5.1-97
Reproducible: Always
##### Observed Behavior

In the absence of playback devices fields are empty
##### Additional Info

![default](https://cloud.githubusercontent.com/assets/6053197/18465231/5f84c7a4-799e-11e6-85a5-06b33f1611db.PNG)

[2016-09-13 07:46] PKEv commented on #3705
May be due to the lack of settings the date format when upgrading from versions which did not have this settings, please check.

[2016-09-13 07:49] PKEv commented on #3129
The most important - settings are not saved, for their fixing i must close qTox manually because otherwise there is no guarantee that they remain

[2016-09-13 08:03] Diadlo commented on #3129
@PKEv #3192 should ~fix problem with saving settings

[2016-09-13 08:14] Diadlo commented on #3705
Can you share your current settings file (with broken date format)?

[2016-09-13 08:16] PKEv commented on #3705
no, i save settings and problem disappeared

[2016-09-13 08:19] PKEv commented on #3705
The problem was apparently that no settings with values assigned and not default values .

[2016-09-13 23:12] penny64 commented on #2159
ToxDNS support was removed, ToxMe?

[2016-09-14 05:53] zetok opened #3716 "provide instructions on how to use virtualbox + docker for building qTox for windows"
##### Brief Description

Current instructions for building qTox on windows are broken (#3372). Rather than trying to to work around broken windows, we could just provide instructions on how to build qTox in virtualbox for windows.

Additionally, there could be made scripts automating this, and they also could be used to test building qTox for windows on travis.

from IRC:
`<nurupo> building qtox o

[2016-09-14 08:05] Diadlo commented on #3002
Fixed in #3293

[2016-09-14 08:05] #3002 closed, assigned to nobody

[2016-09-14 17:50] sudden6 commented on #3705
So a duplicate of https://github.com/qTox/qTox/issues/3707 ?

[2016-09-14 19:39] PKEv commented on #3705
Different sides of the same problem

[2016-09-15 10:50] ddobrev commented on #3158
@antis81 this issue persists thus sharply decreasing the usability of qTox. Would you have any idea when that pull request will be merged and, more importantly, released? The last changes to it are from more than two weeks ago.

[2016-09-15 11:20] antis81 commented on #3158
Uhm… please read again. There is no specific PR yet addressing this very issue (I am not affected by this, which means -> I cannot check it). My question was: Do you have a setup to compile qTox on OSX available? If so, please compile and check #3639. There's a good chance, that this issue is fixed by this PR, because it includes changes to key event handling in basically every widget. So could yo

[2016-09-15 11:25] ddobrev commented on #3158
@antis81 thank you for the clarification about the sub-requests. I hope they will be merged soon, one by one. About compiling and checking myself, I am afraid I don't have the time to - as I have mentioned here, I develop my own open source code in addition to my job. So I keep hoping that, first, the redesign has the issue fixed, and second, that it will be released soon.

[2016-09-15 18:25] Diadlo commented on #3664
**NOTE:** Who will fix this bug also should remove information about it from [doc/user_manual_en.md](https://github.com/qTox/qTox/blob/master/doc/user_manual_en.md#advanced)

[2016-09-15 18:30] ddobrev commented on #2726
Is there any chance the pull requests could be put off in favour of this bug? I think they shouldn't've been started to begin with given this and other bugs which regularly annoy the hell out of users, along with other bugs. Why didn't you fix the bugs first so that people can have a decent experience while you refactor the code?

[2016-09-15 18:33] GrayHatter commented on #2726
This would be considered a high priority bug on uTox... Perhaps it's time
for a different client?

On Thu, Sep 15, 2016 at 11:30 AM, Dimitar Dobrev notifications@github.com
wrote:

[2016-09-15 18:37] #3706 closed, assigned to nobody

[2016-09-15 18:49] ddobrev commented on #2726
@GrayHatter perhaps... it seems that bugs are not important to the qTox devs. Is uTox compatible with existing qTox profiles?

[2016-09-15 19:51] #3707 closed, assigned to nobody

[2016-09-15 20:12] Kron4ek opened #3721 "Microphone doesn't work on first call"
OS: Arch Linux (also Windows)
qTox version: 1.5.1
toxcore:  3747
Qt:  5.7.0

Reproducible: Almost always
##### Steps to reproduce
1. Start qTox
2. Make a first call
##### Observed Behavior

Microphone begins work only after second call. It can be tested on EchoBot too.

[2016-09-15 20:27] zetok commented on #2726
@GrayHatter have you fixed yet bug in µTox that causes whole xorg session to slow down when receiving messages? Seems like something that should have extremely high priority..

@ddobrev

You could ask @GrayHatter, he's the one who said that he has knowledge how to fix this bug and that fix could be made very quickly (5 min if memory serves well). Instead he chooses to act like an asshole, trying t

[2016-09-15 22:49] frankcash commented on #3716
@zetok  should we keep still list the current directions or just list "install virtualbox -> grab ubuntu image -> set up ubuntu image -> then follow directions for ubuntu".

I'd love to help out with this :smile:

[2016-09-16 00:19] zetok commented on #3716
Sounds great :)

No need, that's what git is for. If someone has some use for now defunct instructions, they can checkout revision with those instructions.

~kinda.
Instructions for *buntu though aren't suited for cross-compiling qTox for windows, so they can't really be used. What is needed, are instructions on how to setup docker & use that docker setup to cross-compile for windows.

 Aside from

[2016-09-16 00:29] frankcash commented on #3716
OH I see, I submitted a PR that just gave instructions for setting up VBox.  I wonder what the practicality of sharing the drives is and why wouldn't one just want to run the Linux version instead.

Sorry :disappointed:

[2016-09-16 01:13] GrayHatter commented on #2726
@ddobrev It should be, unless qTox is doing something shifty...

@zetok I've still never been able to duplicate that bug. But I think I know more about how to fix it, so if you do ever find a way for me to duplicate it, let me know so I can take a crack at it.

And yeah, the fix for that bug is kinda obvious, I don't know how qTox works well enough to open a PR myself. So it wouldn't be 5 min for

[2016-09-16 08:19] antis81 commented on #2726
@GrayHatter

Uhm… what do you mean by that? Do you know, where the problem is? Could you provide some pseudo c++ code without internal qTox knowledge required to clarify that?

[2016-09-16 09:35] ElLamparto commented on #2280
Chat font size is changeable in the chat form only. In the edit field where you type your messages it is not. And it should be same as in the chat form.

[2016-09-17 13:39] antis81 commented on #3721
Do you have a log file? Does it probably say something about "cannot open device"?

[2016-09-17 14:12] zetok commented on #2158
Note: it's a default font issue – it's gone when I've switched to other font in settings.
![spectacle db1145](https://cloud.githubusercontent.com/assets/3148759/18608719/00c60d2e-7ce9-11e6-9599-d322a9238645.png)
First one is using font `Hack`, second one is default qTox font, `DejaVu Sans`.

[2016-09-17 14:14] zetok commented on #2496
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-09-17 14:14] #2496 closed, assigned to nobody

[2016-09-17 14:37] zetok commented on #3324
Should be fixed on newest qTox, thus closing.

If you still can reproduce, please comment for reopen.

[2016-09-17 14:37] #3324 closed, assigned to nobody

[2016-09-17 14:38] zetok commented on #3347
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-09-17 14:38] #3347 closed, assigned to nobody

[2016-09-17 17:51] initramfs commented on #3460
This isn't a strong argument but I prefer to differentiate between the 32-bit and 64-bit installers. Names like "setup-qtox.exe" and "setup-qtox64.exe" would fit well with the established ecosystem of "installer naming" in Windows (at least, from what I have seen).

[2016-09-17 17:59] zetok commented on #3460
@initramfs is the preference important enough to break all links?

[2016-09-17 18:01] zetok commented on #3460
Hmm, alternatively we could keep both links..

@tux3 could you add `ln -s` for ~~64 bit~~ installers?

[2016-09-17 18:12] initramfs commented on #3460
@zetok Hence me saying "not a strong arugment". If it will break links, don't bother. But if the same links can be retargetted, I don't see why not.

[2016-09-17 19:23] #3709 closed, assigned to nobody

[2016-09-17 20:32] Kron4ek commented on #3721
These messages appear when the first call:

[code]

On second and further calls there are no "Failed to initialize audio input device" messages.

[2016-09-17 20:38] hashsploit commented on #3594
@averter Hmm, I tried that but it still is switching the window back to qtox on any message received. The only setting under Windows > Behavior tab that is on is the "Prevent focus stealing". It switches workspaces to the one qtox is on, but if qtox is on the same workspace that I'm working on with other programs it works normally without popping up.

[2016-09-17 23:13] initramfs commented on #3594
@HashSploit Not the best around to your workspace issue, but in Cinnamon you can pin a program to all workspaces (thus preventing it from switching workspaces upon an incoming message).

[2016-09-18 06:58] DX37 commented on #3716
If we describe the cross-compilation, it's better to describe it for Linux too. Without using VM. For example, I have Arch Linux and Windows on the same laptop and I could compile qTox for Windows for myself without any VM.

[2016-09-18 10:21] DX37 commented on #3716
I testing new method of qTox compiling on Windows. Just now I trying to build qTox by using MinGW64 Win32 Shell from MSYS2.

[2016-09-18 12:42] DX37 commented on #3716
Oh god, I've got compiled qTox on Windows. It's fully works.

![2016-09-18_19-37-23](https://cloud.githubusercontent.com/assets/12829428/18615718/c1e83b96-7dd7-11e6-9a1c-fb604c362741.png)

But it works if I start it from MSYS2 Shell - `./qtox.exe`. If I start it from Explorer, it requires some libraries like `libwinpthread-1.dll, avcodec-57.dll, avdevice-57.dll, avformat-57.dll`.

UPD: All libs in

[2016-09-18 13:15] Talkless commented on #3372
`windows/bootstrap.sh` is successfull only and only if it's launched from `C:\MinGW\msys\1.0\msys.bat` shell. Then:
- `cd /cygdrives/c/qTox/windows`
- `./bootstrap.sh`

I yet failed to make it work from `bootstrap.bat`. Seems like environment is "wrong" if `sh` is launched from `.bat`.

Also, `windows/bootstrap.sh` does not build `libsodium`, so there's need to fix that also.

[2016-09-18 13:24] DX37 commented on #3372
We will build by using MinGW64 Win32 Shell from MSYS2. qTox works, but I've got it not portable. It runs only from Shell.
And one more problem - I can't build sqlcipher. Other libs, which is not exist in MSYS2 repo, compiles fine.

[2016-09-18 13:35] Talkless commented on #3372
@DX37 I've believe I have found problem - I had `C:\Program Files\OpenSSH\bin` _before_ MinGW/MSYS paths in Windows `%PATH%`!

After moving it to the end of `%PATH%` I see that `windows/bootstrap.sh` builds what was intended without errors I've mentioned above.

[2016-09-18 13:39] DX37 commented on #3372
In new MSYS2 it's not needed to have it paths in Windows PATH. It works in its own console.

Building sqlcipher says

[code]

and fails. However, if I taking sqlcipher from [build.tox.chat](https://build.tox.chat/view/qtox/job/libsqlcipher_build_windows_x86_static_release/) and putting into `libs` folder for compiling, it fully works. I don't know how to got working compiling of sqlcipher

[2016-09-18 13:50] Talkless commented on #3372
With `bootstrap.bat` it's kinda simpler just to click on it in Windows Explorer as opposed to entering commands into msys.bat shell.

Do you have instructions to build libsodium? Could you add it to `windows/boostrap.bat` ?

[2016-09-18 14:04] DX37 commented on #3372
Well... we can create new bootstrap.bat 😄

In MSYS2 Shell I just installed it using `pacman -S mingw-w64-i686-libsodium`. For building you should read [this](https://download.libsodium.org/libsodium/content/installation/), I guess.
And I thinking what I will change current instructions, not just bootstrap.bat. But I don't have much time since I study. If nobody will update this intructions, then I

[2016-09-18 14:44] Talkless commented on #3372
What I had in mind maybe you have updated `windows/bootstrap.sh script` that builds/downloads/whatever libsodium and other stuff, with pacman or not.

So decision is to use MSYS2 instead? Wouldn't using pacman restrict versions we would like to use, etc?

@zetok do you have ideas in this regard?

[2016-09-18 15:09] DX37 commented on #3372
If I had a new script, I would have tried to create a pull request. I just today was able to get compiled qTox on Windows.

Yeah, because it have new and updated toolchains.

[2016-09-18 17:17] zetok commented on #3372
@Talkless is building libsodium required in the first place, since there there are compiled libs available that libsodium docs link to?

[2016-09-18 17:58] Talkless commented on #3372
@zetok maybe `windows/bootstrap.sh` could download them as it downloads toxcore then?

[2016-09-18 18:13] zetok commented on #3372
@Talkless yep, why not.

[2016-09-18 19:15] sudden6 commented on #3460
I also support the idea of providing differently named files. For not breaking links, maybe we could redirect to 32bit by default, because it will run everywhere.

[2016-09-19 10:51] PKEv commented on #3705
closed via #3713

[2016-09-19 10:51] #3705 closed, assigned to nobody

[2016-09-19 12:55] Zibri commented on #2702
same here... ffmpeg/ffplay crashes when opening the embedded webcam...

ffplay -f dshow -i video="BisonCam, NB Pro"

ffplay version N-81045-g450cf40 Copyright (c) 2003-2016 the FFmpeg developers
  built with gcc 5.4.0 (GCC)

[2016-09-19 18:04] zetok commented on #2702
@Zibri that should be reported to ffmpeg

[2016-09-19 21:52] iphydf opened #3727 "src/video/camerasource.cpp:295:42: warning: ‘AVStream::codec’ is deprecated"
Always reproducible on all systems.

[2016-09-20 02:59] eaterjolly opened #3728 "Small Screen Resizing and PocketChip ./simple_make.sh needs ffmpeg git-compile"
## ./simple_make.sh compatibility with [CHIP-linux](https://github.com/NextThingCo/CHIP-linux)
- Needs to git-compile FFmpeg, because the repos are slightly depreciated for debian-jessie-arm it seems and won't install the latest. Compiling is smooth but lengthy (hours), so I would set it to only download it if make produces an unable-to-locate-libswscale error.
- Also, Chip for some god-awful reas

[2016-09-20 04:37] zetok commented on #2726
relevant part from IRC:

[code]

[2016-09-20 13:28] Zibri commented on #2702
Now it works... I think it has to do with windows 10 permissions... I gave ffmpeg administrator rights and it now works.. maybe this info is useful to others.

[2016-09-20 16:40] hkveeranki commented on #3324
I have the same problem on windows. I downloaded the binary from here https://wiki.tox.chat/binaries

[2016-09-20 16:45] zetok commented on #3324
@harry-7 #3612 ?

[2016-09-20 16:52] hkveeranki commented on #3324
@zetok yes it is the same.

[2016-09-20 16:58] hkveeranki commented on #3324
But even when I select webcam it crashes irrespective of whether webcam is free or not. Qtox stops :/

[2016-09-20 17:09] zetok commented on #2702
@Zibri sounds like (something related to?) #3612

[2016-09-20 17:14] sudden6 commented on #3728
1. I don't think you'll need to compile ffmpeg from git, just enable backports-jessie for your distribution
2. Qt compiles all the smileys into the binary, this causes gcc to eat a lot of RAM, to make it compile successfully you need at least 0.5 - 1GB free RAM, use Swap if you can't provide enough physical RAM.
3. Your resolution target will be quite a challenge, if I read the code correctly, qTo

[2016-09-20 17:17] zetok commented on #3728
Regarding target resolution; wouldn't a "mobile" UI do better, rather than trying to re-use the desktop UI?

[2016-09-20 17:30] sudden6 commented on #3727
Only valid for ffmpeg versions > 3.1, since the lowest supported version is 2.6 we will have to do something in the future when ffmpeg removes the `codec` field and replaces it with `codecpar`.
First deprecated in 3.1 https://ffmpeg.org/doxygen/3.1/avformat_8h_source.html#l00877

[2016-09-20 18:05] sudden6 commented on #3583
I spent a few thoughts on where to get better salt value than the static one and I think I might have a solution or at least an improvement for it. My idea is to just use our own public key as salt for the database.

I think it works, because the:
- public key is semi random
- public key is stored inside of *.tox file and thus encrypted, if it can be decrypted we already have lost
- public key is

[2016-09-20 21:08] yurivict opened #3730 "Need more installation options for Windows"
When I recommended qTox to someone and they tried to download it from here https://build.tox.chat/view/qtox/job/qTox_pkg_windows_x86-64_stable_release/lastSuccessfulBuild/artifact/setup-qtox.exe , they said that the browser page comes up blank. They tried many times - same result.

It is possible that this site is blocked in the country this person is in or it is also possible there is some other

[2016-09-20 22:32] eaterjolly commented on #3728
Optimally chip would like an expandable ui, simply because it runs a modified version of x and is designed to run standard x window systen when plugged into a bigger screen through its aux.

I actually did that to little avail in a standard text editor, as it shrunk only part the ui. instead I modified all instances of that exact minimum size to fit pocketchip's screen. The ratio of difference was

[2016-09-20 22:40] eaterjolly commented on #3728
It would be nice if the were a way to disable smileys without breaking the source, ie deleting qrc_smiley.cpp.

[2016-09-20 22:51] frankcash commented on #3727
How would one go about helping to fix this?

[2016-09-20 23:10] Diadlo commented on #3727
@frankcash It can't be fixed in qTox before we upgrade minimum required ffmpeg version to 3.1. AFAIK, it will be ~when the stable version of Debian will support ffmpeg 3.1

But localy you can read `codecpar` docs and replace `codec`

[2016-09-21 03:23] zetok commented on #3730
Couldn't reproduce. (with wget)

Which country/ISP? (perhaps that could be added to FAQ somewhere)
Did your friend try to use some alternative DNS servers, e.g. from ~~googl~~ botnet? It's `8.8.8.8`, `8.8.4.4`.

I've mirrored stable `setup-qtox.exe`, both 32 and 64 bit versions along with their signatures under [v1.5.1](https://github.com/qTox/qTox/releases/tag/v1.5.1) release, hopefully that will

[2016-09-21 03:51] initramfs commented on #3583
@sudden6 Seems like a viable solution, though I was hoping that something as trivial as storing a small random string wouldn't be such a remote possibility. I heard there was a proposal for the tox file to store custom key-value pairs in the save file, that would definitely be useful in this case. If that was ever implemented on password changes we could:
1. Generate the salt.
2. Store the salt in

[2016-09-21 04:38] yurivict commented on #3730
This is Belarus, the BelTeleComm provider. Many websites are blocked in this part of the world, so I won't be amazed if qTox is blocked too. It is also one of only two countries in the world where Tor is illegal.

[2016-09-21 09:22] Zibri commented on #2702
@zetok not at all related. At least not the filter vs filter_complex speed...

with two different cameras I get the same results and both camera work with ffmpeg...

[2016-09-21 09:26] Zibri commented on #3612
try this: right click on ffmpeg (and ffplay and ffprobe) then go to compatibility and select "run this program as administrator".

[2016-09-21 17:24] sudden6 commented on #3728
ok, then I also don't know where to look for these margins... My last idea would be to try to use DPI environment variables from QT.

hmm, https://packages.debian.org/jessie-backports/ffmpeg lists a recent enough version of ffmpeg for armhf and armel, are you not using a pure debian build?

There's definitely a way to remove some smiles to reduce RAM usage during compilation. Just remove all but o

[2016-09-21 18:29] initramfs commented on #3612
@DX37 The corrupted video output has been traced to another unrelated bug (and I am able to reproduce it). I'll see what I can do about that later.

[2016-09-21 19:25] ddobrev commented on #2726
@zetok @antis81 does the excerpt above contain enough information for the bug to be fixed? That is, shall we see any work on it any time soon?

[2016-09-21 19:47] MarcManhart opened #3732 "Missing package "qtbase-abi-5-3-2""
##### Brief Description

OS: Linux Debian with kernel 4.6.0-1-amd64 (debian 'stretch')
##### Steps to reproduce
1. Execute: echo 'deb http://download.opensuse.org/repositories/home:/antonbatenev:/tox/Debian_8.0/ /' >> /etc/apt/sources.list.d/qtox.list
2. Added: repository key
3. Tryed to install via: sudo apt-get install -t testing qtox
##### Behavior

APT can't install because of the dependency t

[2016-09-21 20:13] zetok commented on #3732
Use Debian stable?

@abbat it's not possible to build packages for Debian 9 on OBS until it gets stabilized, right?

[2016-09-21 20:31] abbat commented on #3732
@zetok, Yes, OBS does not support testing / unstable Debian.
@MarcManhart, Would you try to install qtox(-alpha) for Debian 7? It is statically linked with Qt and FFmpeg package.

[2016-09-22 02:30] Susurrus opened #3733 "Bluetooth device couldn't be used simultaneously as input and output"
##### Brief Description

OS: Fedora Linux 24
qTox version: 1.5.1-obs
Commit hash:  f05b7e040a073c7afadaf763dda5beaf130c6dbd
toxcore:  0.0.0
Qt:  5.6
Hardware:  Dell XPS 13 9343
…

Reproducible: Always
##### Steps to reproduce
1. Select a bluetooth headset as both an audio output and input
2. Place a call
##### Observed Behavior

Audio input doesn't work (but audio output does)
##### Expected Behav

[2016-09-22 02:51] zetok commented on #3733
Have you tried to check with different program whether your audio input is working?

[2016-09-22 06:49] #3399 closed, assigned to nobody

[2016-09-22 06:58] antis81 commented on #2726
It does and it gets even better. The PR #3639 further improves the situation, because unsent (!) messages are sent each time the chat opens (depending on the friend's online status) -> correct initialization.

I can provide the PR for the fix.

[2016-09-22 07:19] antis81 commented on #2726
@GrayHatter Thanks for the information via chat! Though `corefile.cpp#L472` is the wrong place, but i get what you mean.

We provided initialization "incidentally" via #3639, as instead of creating every chat widget "dumb" on startup, we create it, when a chat is "activated" (a friend is selected). This in turn calls `Friend::deliverOfflineMsgs()` (not yet available in master), if the friend's sta

[2016-09-22 11:48] ddobrev commented on #2726
@antis81 thank you for the fix, I hope you'll have little trouble merging it.

[2016-09-22 16:28] sudden6 commented on #3733
I suppose Fedora comes with `pavucontrol` if so, could you check that the qTox audio input actually receives a signal with sufficient volume?

Did you verify the audio input with echobot?

[2016-09-22 16:33] sudden6 commented on #3730
In my Firefox the page comes up blank, but it prompts me to save the file. Maybe your contact mistook this for the page not working?

EDIT: For windows you can also point them to https://tox.chat/download.html which offers all options

[2016-09-22 16:48] yurivict commented on #3730
This is possible. I just tried, in my firefox it offers choices download/choose a program to open with.

[2016-09-22 20:39] yurivict opened #3735 "Test sound button should play sound on press event, not only on change volume event (was: Fails to play the test sound)"
When I press this button nothing happens.
From the code it appears that this file is supposed to play for the test sound: audio/notification.pcm

qTox-1.5.1
openal-soft-1.16.0_4 - configured to use OSS
FreeBSD 10.3

[2016-09-22 20:50] Diadlo commented on #3735
This button not play sound. It's enable sound on volume changing. Can you try again?

[2016-09-22 21:00] yurivict commented on #3735
I see, yes it does play sound on volume change.

However, this is not an intuitive feature, it will cause confusion. I think pressing the button also should play the sound once, in addition to how it plays it on volume change.

[2016-09-22 23:51] Susurrus commented on #3733
So I fired up things today with echobot to see if I could reproduce the issue and I couldn't. If I select the "PLT Voyager" headset as my input and output, things worked. Note that I did have a second device listed that I could select as an input, the "Monitor of PLT Voyager", which didn't seem to work. Maybe I should file a bug against having all these "Monitor of ..." entries? But I think this i

[2016-09-23 00:57] zetok commented on #3733
`Monitor` is not your input device, but just a monitor of your output device – i.e. by selecting `Monitor` you're using your output device as input.

[2016-09-23 00:57] #3733 closed, assigned to nobody

[2016-09-23 01:16] Susurrus commented on #3733
@zetok - Thanks and sorry about the noise.

[2016-09-23 20:49] #1887 closed, assigned to nobody

[2016-09-23 22:05] iphydf opened #3742 "Roadmap (feature freeze?)"
qTox should have a roadmap outlining priorities and in what order things will be done by whom. The roadmap should be to roughly 2-4 weeks granularity. I would suggest making code quality a high priority, meaning no additional features should be implemented before that is done. (This is just a suggestion though, and your leadership can decide otherwise).

TL;DR: qTox needs a plan.

[2016-09-23 23:42] drequivalent opened #3743 "Tox closes audio input and opens it only on Settings tab"
#### Audio works only on settings tab

Linux (Elementary OS Loki)
qTox version: qTox version v1.5.1-obs
Commit hash:  https://github.com/qTox/qTox/commit/f05b7e040a073c7afadaf763dda5beaf130c6dbd
toxcore:  0.0.0
Qt:  5.5.1
Hardware:
…

Reproducible: Almost Always
##### Steps to reproduce
1. Open Qtox
2. Wait for somebody to call
3. Realize that they hear nothing
4. Open Audio/Video settings tab
5.

[2016-09-24 00:04] Neolex-Security commented on #3334
I think I'll try to do this  , for the port part at least .
I was wondering , where do you think we should put this settings ?
I hesitate between "advancedsettings.ui" and "generalsettings.ui" .

ps : I'm new,  it's the first time I try to contribute to an open source project...

[2016-09-24 05:00] zetok commented on #3334
General tab isn't the place for network settings.

A dedicated `Network` tab should actually be used, but for now(?) `Advanced` should do.

[2016-09-24 07:13] zetok commented on #3742
@antis81
@Diadlo
@initramfs
@sudden6
What do you plan to get done in next 2-4 weeks?
Anyone else?

[2016-09-24 07:27] Diadlo commented on #3743
Seems, duplicate of #3538, so it will be closed. Please comment if it isn't

[2016-09-24 07:27] #3743 closed, assigned to nobody

[2016-09-24 07:51] Diadlo commented on #3742
1. Finish toktok/toxcore migration,
2. If ui/redisign will be done, start refactor with removing standalone classes
3. If 2. will be done, create unit tests

[2016-09-24 08:55] initramfs commented on #3742
1. clang-format (and general coding guideline rules)
2. A/V code overhaul (not sure if I can get this done in 2-4 weeks though)
3. Add traditional chinese translations to qTox (done concurrently with 2)

[2016-09-24 09:02] sudden6 commented on #3742
1. finish #3737 and see if it's possible to ship qTox without emoticons compiled in
2. help with toktok/toxcore migration and ui/redesign if I can

[2016-09-24 09:52] zetok commented on #3742
Ok, so things that can be achieved this month:
1. clang-format (and general coding guideline rules) – https://github.com/qTox/qTox/milestone/8 , deadline 1 month from now
2. Add traditional chinese translations to qTox (done concurrently with 2) – https://github.com/qTox/qTox/milestone/11 , deadline 1 month from now
3. finish #3737 and see if it's possible to ship qTox without emoticons compiled i

[2016-09-24 11:58] zetok commented on #3400
Since there has been no new logo that could be used proposed, closing.

If you would want to propose a logo (preferably a mascot) that could be used, feel free to open a new issue, perhaps linking to this one.

[2016-09-24 11:58] #3400 closed, assigned to nobody

[2016-09-24 12:00] zetok commented on #3196
Needed info not provided for over a month, thus closing.

[2016-09-24 12:00] #3196 closed, assigned to nobody

[2016-09-24 12:10] zetok commented on #1236
Actually, it's a duplicate of #927, thus closing.

[2016-09-24 12:10] #1236 closed, assigned to nobody

[2016-09-24 12:20] zetok commented on #975
Related: #530

[2016-09-24 12:26] zetok commented on #1395
Actually a duplicate of #838, thus closing.

[2016-09-24 12:26] #1395 closed, assigned to nobody

[2016-09-24 12:44] Susurrus opened #3745 "Only display valid sound inputs for Capture Device"
##### Brief Description

OS: Fedora 24 x64
qTox version: 1.5.1-obs
Commit hash:  f05b7e040a073c7afadaf763dda5beaf130c6dbd
toxcore:  0.0.0
Qt:  5.6.0
Hardware: Dell XPS 13 9434
…

Configuring my audio input is more difficult than it should be because non-inputs are available in the dropdown.

In my Playback Device settings:
- broadwell-rt286 Analog Stereo
- Built-in Audio Digital Stereo (HDMI)

The

[2016-09-24 12:46] zetok commented on #1844
Actually, it's a duplicate of #1167, thus closing.

[2016-09-24 12:46] #1844 closed, assigned to nobody

[2016-09-24 13:35] sudden6 commented on #3745
Personally I think we should also show the monitor outputs, because this provides an easy way to stream something (requested multiple times IIRC). It may be an idea to hide the monitor outputs behind a checkbox, but I don't think it's a good one.

[2016-09-24 13:59] Susurrus commented on #3745
Interesting, I hadn't thought about that use case and I definitely think it's valid.

Maybe there's a better way to label things such that it's more clear. I didn't even know what "Monitor of" meant even though I'm a techie, so my less techie friends trying to use this software would likely be even more confused.

Maybe group the outputs with a disabled menu item. So in my previous example you'd i

[2016-09-25 12:44] sudden6 commented on #3745
I don't think we can influence the naming of these, because that's done by Pulseaudio.

Grouping the devices by "Real Hardware" and "Virtual Inputs" or something like that would definitely make sense. I'm just not entirely sure our audio library does provide qTox with the necessary information.

[2016-09-25 13:17] cyian-1756 opened #3746 "No public key for the xUbuntu 16.04 repo"
##### Brief Description

OS: Linux (Ubuntu Mate 16.04)
qTox version: NA
Commit hash:  NA
toxcore:  NA
Qt:  NA
Hardware:  NA
…

Reproducible: Always
##### Steps to reproduce

Run `sudo sh -c "echo 'deb http://download.opensuse.org/repositories/home:/antonbatenev:/tox/xUbuntu_16.04/ /' >> /etc/apt/sources.list.d/qtox.list"`

Then run `sudo apt-get update`
##### Observed Behavior

sudo apt-get update

[2016-09-25 13:23] zetok commented on #3746
You should actually read & follow the instructions on https://software.opensuse.org/download.html?project=home%3Aantonbatenev%3Atox&package=qtox ; closing the issue since it's invalid.

[2016-09-25 13:23] #3746 closed, assigned to nobody

[2016-09-25 14:21] zetok commented on #3745
![2016-09-25 qtox audio advanced](https://cloud.githubusercontent.com/assets/3148759/18815838/76d92d34-8333-11e6-9592-f4a5a4882980.png)
↑ with `Advanced` ticked on, `Monitor of` and other advanced A/V settings could be shown, otherwise they would be hidden.

By default, `Advanced` should be set to "off".

[2016-09-25 14:36] sudden6 commented on #3745
I don't like to clutter the a/v settings tabs, why not put it in "Advanced"?

[2016-09-25 14:42] zetok commented on #3745
@sudden6 button? How would one know that there's such button there?

[2016-09-25 14:45] sudden6 commented on #3745
no, an additional checkbox with a text like "Show virtual input devices" in Advanced Settings tab + tooltip and documentation stating what it does.

[2016-09-25 14:47] zetok commented on #3745
And how one would know that there's setting like that in Advanced tab?

[2016-09-25 14:52] sudden6 commented on #3745
Since this feature is intended for advanced users, I think they will either read the user manual or find it in the Advanced Tab.

[2016-09-25 14:53] Susurrus commented on #3745
That's why I'm generally not a fan of Advanced tabs. The line between Advanced and Basic is normally fuzzy and it can be frustrating working with a "hidden" set of settings. If there's a setting behind the Advanced tab and I'm explaining to a non-tech-literate friend which setting to change I have to clarify that they need to enable Advanced first, which I prob won't remember if I always have thos

[2016-09-25 14:59] zetok commented on #3745
@sudden6 no, it's not really for "advanced users". It's meant to hide unnecessary in 99% of cases complexity. Looking in advanced settings for something that is clearly an **audio** setting is not intuitive and no one would do that.

Also, no one reads the docs/manuals.

@Susurrus

Current screen sharing is not how it should be done, and will be done properly one day – there's a separate issue for

[2016-09-25 16:01] sudden6 commented on #3745
@zetok

Right, most of our users won't ever need this feature and because of that I think this setting is best placed in the "Advanced" Tab. Which in my opinion is exactly the place where settings that only a small part of our users need should go.

[2016-09-25 16:06] zetok commented on #3745
Advanced tab is not for hiding settings.

That's simply wrong.

[2016-09-25 20:25] ddobrev commented on #2820
This continues to heavily plague the user experience. Is either updating toxcore, switching to TokTok/toxcore or completing the refactorings going to eliminate this bug?

[2016-09-26 02:19] zetok commented on #2820
Will be fixed in toxcore at some point.

[2016-09-26 03:05] zetok commented on #3745
Alternatively, to avoid confusion checkbox could be set to `true` by default and have `Simple` label.

[2016-09-26 20:35] TheOuterLinux opened #3747 "Will not open on Mac OS X El Capitan"
##### Brief Description

OS: Mac OS X El Capitan
qTox version: 1.5.1
Commit hash:
toxcore:
Qt:
Hardware:  MacBook Pro (Retina, 13-inch, Mid 2014)
…

Reproducible: Always
##### Steps to reproduce
1. Open System Preferences
2. Open Security & Privacy
3. Allow apps downloaded from Anywhere
4. Open from downloaded DMG or Applications folder
##### Observed Behavior

Popup warning:
"Check with the devel

[2016-09-26 23:16] Deleetdk commented on #1734
@zetok What happened to the merge with #2013?

[2016-09-27 01:57] zetok commented on #1734
@Deleetdk didn't happen, since pull request was introducing some problems and some changes were needed to be made.

Right now, there's a rebase of the PR (#2744) that someone could try to rebase again against newer master and make a PR with rebase. Note that rebase would need to have problems fixed/things changed in order to get merged.

[2016-09-27 01:59] zetok commented on #3331
Done in #3442, thus closing.

[2016-09-27 01:59] #3331 closed, assigned to nobody

[2016-09-27 02:03] zetok commented on #3747
Yep.

https://github.com/qTox/qTox/blob/610e21169a0fe4f2d64c5a90b8e1aaccfe6247d2/osx/qTox-Mac-Deployer-ULTIMATE.sh ← script that builds it.

[2016-09-27 18:48] sudden6 commented on #3745
It's exactly for hiding settings unneeded by the average user.

My point is, adding a checkbox to the a/v settings will not make a complicated settings tab easier. Most of the time things get easier by _removing_ things, not adding additional stuff.

[2016-09-27 18:50] sudden6 commented on #3721
Does the microphone work with other applications correctly? Failing to open the audio input on the first try, but succeeding on the second seems like a pretty strange thing.

[2016-09-27 19:37] Kron4ek commented on #3721
Yes, this is only qTox problem. My friends on Windows also have this problem and on every qTox launch we have to call twice.

[2016-09-27 19:53] sudden6 opened #3753 "Don't compile emoji into the binary for packages"
Currently all emoticons are statically compiled into the qTox binary. I think this was done because first it's easy and second because it makes the binary portable.
### What this proposal is about:
- Removing the smileys from the binary and putting them into the appropriate folders for the platform
- mainly about Linux and Mac

What this proposal isn't about:
- Changing the portable builds
### Why

[2016-09-27 21:09] TheOuterLinux commented on #3747
The 1.4.1 version worked just fine. Now, it's looking for files in places that don't exist, and I have to have Homebrew or Macports installed? This is not a good idea, especially for for the average Mac user. I'll probably just stick with 1.4.1 until something changes, though I appreciate the script. 🙂

[2016-09-28 01:53] zetok commented on #3747
That's a bug. No one among qTox maintainers uses osx, so don't hold your breath waiting for a fix though.

[2016-09-28 02:00] zetok commented on #3745
Your point is invalid. The "Advanced" checkbox is something that seems to be widely used e.g. in android ecosystem. Aside from android, you might want to look at how it's done e.g. in chromium. Guess why chrome has >50% of market share?

**It does simplify things for users.**

And how you want to remove something that shouldn't be removed? Neither it should be in Advanced tab, given that it's an A

[2016-09-28 02:38] Susurrus commented on #3745
I think this issue is getting a little into the weeds as the actual issue is: how do we make it more clear what these options mean to the user.

I really think an easy way to make this more clear is to add categories to the dropdown as I originally proposed in my second comment. Segregate the virtual from the physical inputs and outputs. Before we continue the discussion on the Advanced tab, what

[2016-09-28 03:08] zetok commented on #3745
How exactly it makes things more clear by adding more options that aren't clear at all?

How exactly would that help someone who has no idea about either? Then there's a question of whether backend lib actually provides that info..

AFAICS provides no benefits. Check, if anything, it makes things worse.

[2016-09-28 03:15] antis81 commented on #3721
Hm… could someone please give a compile for #3639 and test it with that? While this has some WIP changes on the way, this one should work right away.

[2016-09-28 05:04] AliceGrey commented on #2890
Considering that the qtox.log file is located in the same dir as the profile files (at least on linux it's in /home/username/.config/tox/) so it's easily accessible from the profile page. I propose adding buttons in the advanced settings tab that say "Export Debug Log" That creates a dialog to save a copy of the log file to your desktop and a second button that says "Copy to clipboard".

[2016-09-28 05:21] AliceGrey commented on #2890
![screenshot](https://cloud.githubusercontent.com/assets/8949059/18901530/a9dba0c6-8500-11e6-9480-b218e299767d.png)

Here is a quick mock up

[2016-09-28 05:34] zetok commented on #2890
@AliceGrey looks good :)

[2016-09-28 05:44] sudden6 commented on #2890
+1

[2016-09-28 06:54] AliceGrey commented on #2890
Ok I'll work on the code now

[2016-09-28 13:59] Chiitoo commented on #3567
I believe this might have been fixed some time ago already.

While I remember seeing it happen myself, I can't do so any longer.

[2016-09-28 21:39] shalnoff commented on #2820
Confirmed. Really actual issue. Simple periodical reconnection (on demand) would solve the problem IMHO.

[2016-09-29 01:05] AliceGrey commented on #3664
From the looks of it, it calls `Settings::resetToDefault()` which basically deletes `username.ini` which contains the settings for the user but leaves the `username.tox` file intact. I haven't gone through a whole lot of the settings code to see how it works but it looks like at the end of `Settings::resetToDefault()` you could call `Settings::getInstance().createPersonal(username);` which should

[2016-09-29 07:42] zetok commented on #3664
@AliceGrey that would be kinda a work-around – i.e. alias data should go into DB, not the .ini files.

[2016-09-29 20:34] sudden6 commented on #3664
@AliceGrey There is a problem with the approach of keeping the profile data only in RAM. When the `username.ini` file is deleted, the data exists only in the RAM. If there's a power outage/crash/whatever at this very moment the data will be lost.This can be avoided by, for example, creating a new file with the appropriate content first, then renaming it to the old files name.

Since renaming is an

[2016-09-30 05:01] AliceGrey commented on #3664
@sudden6 So basically the `Settings::resetToDefault()` function needs to be reworked so it creates the new .ini file from the default settings before it deletes the current one.

 @zetok It looks like currently the reset button only calls `Settings::resetToDefault()` which currently just finds and deletes the `username.ini` file and doesn't touch anything in the DB or `username.tox` file. Does the

[2016-09-30 05:20] Diadlo commented on #3664
@AliceGrey We don't need create new settings file on reset. It will be created automatically on next startup

[2016-09-30 06:58] yurivict opened #3757 "qTox crashes on Windows when camera settings are changed"
The Windows user reported that qTox.exe crashes when camera settings are changed.

Anybody uses Windows to troubleshoot this?
##### Brief Description

OS: Windows
qTox version: latest

[2016-09-30 07:31] yurivict opened #3758 "[feature suggestion] Show QR codes for the contact ToxIDs, not only for user's own ToxID"
I wanted to add the same user to Antox, but Antox fails to accept the text (messaged and pasted) ToxID due to some bug. It would have been possible to scan it from the screen, but qTox doesn't show QR codes for the contacts ToxIDs.

I think qTox should show QR codes for contacts for flexibility.

[2016-09-30 07:31] zetok commented on #3664
@AliceGrey well, aliases aren't user settings to begin with, but user data. And user data should be stored in the DB. Even though part of user data is right now stored in settings :s

And fix to this issue should do exactly that – move user data from settings to the DB.

[2016-09-30 07:36] zetok commented on #3758
qTox doesn't have Tox IDs of your contacts, so generating QR codes is out of the question. Thus closing this issue.

Now, what qTox could do, is to offer a right-click option on a `tox:…` link in chatform to show a QR code for the received ID. Or just show QR code automatically in a tooltip when user holds mouse over `tox:…`

If you think that it would be a good thing, open an issue with this, or

[2016-09-30 07:36] #3758 closed, assigned to nobody

[2016-09-30 07:48] antis81 commented on #3735
@AliceGrey @Diadlo How about writing a `playTestSound()` method and add it either to the UI part (a/v settings) or even to the `Audio` class? What you just did, is producing "spaghetti code" -> you want to avoid creating (strong) code dependencies, which can be quite challenging. In this case, the impact is harmless, but when talking about code, one needs to think like that in general. What I mean

[2016-09-30 07:48] yurivict commented on #3758
So does this mean that the public key is different from the ToxID? Can I actually add the connected contact to my other device without asking him?

[2016-09-30 07:58] antis81 commented on #3758
@yurivict The public key is part of the ToxID -> so yes `pub-key != ToxID`.

Uhm, what do you mean? AFAIK you need the ToxID to add the friend (just like you need his/her phone number… :smile:).

[2016-09-30 08:01] zetok commented on #3758
@yurivict

Technically, you [can add PK](https://github.com/zetok/tox-add-pubkey) to other profile, but your other profile wouldn't be able to connect to your friend unless your friend also has added your other PK.

[2016-09-30 08:02] yurivict commented on #3758
If ToxID is > public key, then the answer is no, I can't send this user the friend request without asking him.

If this is true, this is a serious limitation though.

It a friend can be added using only the pubkey, why then this can't be done through the QR code? This seems confusing.

[2016-09-30 08:22] yurivict opened #3759 "[feature suggestion] Audio/Video settings page should visualize the microphone signal"
Currently the user can't tell is the microphone is actually working.

I suggest to show the visual indicator on top of the "Gain" slider. It will move left to right, and will have the rainbow-like coloring (redder to the right).

http://www.ese-web.com/images/215.jpg

[2016-09-30 09:14] ElLamparto commented on #3745
There could be another combo "Streaming Source" ("none" by default). If different to "none", during audio call  a switch would appear ("microphone/streaming", for example). So one could talk to a contact, then switch and let him listen to some music, for example. That could be very useful and quite unique in the IM world. Also we would avoid the "Advanced" tab...

[2016-09-30 09:41] antis81 commented on #3758
First, the ToxID **is** the public key plus some additional information. Thus you **can** technically extract it. ^^

Well, key exchange is always a limitation as somehow you need to get your public key to the other end. And like every transmission, this is a challenging and dangerous journey. :smile:

Before you read on, be sure to check [Tox FAQ - "How to add a friend"](https://tox.chat/faq.html

[2016-09-30 10:03] zetok commented on #3758
@antis81 made a nice ascii:
https://github.com/qTox/qTox/blob/abaa41eaeeee77f4663a8223998fe1a582b80be7/src/core/toxid.cpp#L42,L46

@yurivict

One can add PK. Adding PK doesn't mean that friend will be added. To add a friend, you need whole Tox ID, or you and your friend need to exchange PKs manually.

[2016-09-30 10:09] initramfs commented on #3758
@yurivict The Tox ID and the public key differs in that the Tox ID has additional information like the nospam code and a checksum. The very idea of attaching a nospam code is such that friend requests can only be made to you by having a valid, up-to-date tox ID. Without such a construct, if your public key actually gets out (goes _public_), you could be faced with a torrent of friend requests that

[2016-09-30 10:13] zetok commented on #3745
@ElLamparto that sounds like an option that could be hidden behind `Advanced` switch, otherwise it has the same pitfalls as @Susurrus's idea.

[2016-09-30 10:27] zetok commented on #3759
Note: depends on #2705
Related to #223

[2016-09-30 16:09] zetok commented on #3753
That's wrong – packaging doesn't touch user dirs, where those vars point to.

Emoticons should be installed to `/usr/share/emoticons`

[2016-09-30 16:19] sudden6 commented on #3753
Sorry I misread the [spec](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) and thought this variable is also valid.

I actually meant `/usr/share/emoticons`

[2016-09-30 17:29] nazar-pc opened #3760 "No sound from mic when not on Audio/Video settings tab"
##### Brief Description

OS: Ubuntu 16.10
qTox version: v1.5.1-obs
Commit hash: f05b7e040a073c7afadaf763dda5beaf130c6dbd
toxcore: 0.0.0
Qt: 5.6.1
Hardware: USB sound card

Reproducible: Always
##### Steps to reproduce
1. Call someone / receive call from someone
2. Stay in chat window
3. Go to Audio/Video settings (do not change anything, just open tab)
##### Observed Behavior

Someone from 1 can h

[2016-09-30 17:52] zetok commented on #3760
Duplicate of #3538, thus closing.

[2016-09-30 17:52] #3760 closed, assigned to nobody

[2016-10-01 01:38] nazar-pc opened #3761 "[Linux] Icon spacing is incorrect with custom session"
##### Brief Description

OS: Ubuntu 16.10 x4
qTox version: v1.5.1-obs
Commit hash:  f05b7e040a073c7afadaf763dda5beaf130c6dbd
toxcore: 0.0.0
Qt: 5.6.1

Reproducible: Always
##### Steps to reproduce
1. Execute `XDG_CURRENT_DESKTOP=Custom qtox`
2. Stop qTox
3. Execute `XDG_CURRENT_DESKTOP=GNOME qtox`
##### Observed Behavior

Spacing in 1 on left and right sides is much bigger than normal in 3
##### E

[2016-10-01 04:49] yurivict opened #3762 "qTox leaves the camera "on" after the call"
The sequence of actions:
1. The contact called with audio only
2. While talking, I switched to the audio/video test screen (camera went "on")
3. Left audio/video test screen finished the call
4. Observed the camera stayed "on"

I think "video" bit is confused somewhere. If video is only required for the test screen, it should strictly be on during the test screen. There should be no interaction wi

[2016-10-01 05:36] zetok commented on #3761
It does.

No, it's a problem with DEs – they cannot into standard tray support, so qTox implements several of them to make sure that things work.

https://github.com/qTox/qTox/wiki/Tray-icon

Use the tray backed that works best for you. If you really want to get it fixed, you'd need to make sure that all DEs that people are using do correctly support Qt tray backend.

[2016-10-01 05:36] #3761 closed, assigned to nobody

[2016-10-01 06:00] AliceGrey commented on #3735
@antis81 Would something like this be a better solution?

void AVForm::playTestSound(int value)
{
    Audio& audio = Audio::getInstance();
    if (audio.isOutputReady())
    {
        const qreal percentage = value / 100.0;
        audio.setOutputVolume(percentage);
        audio.playMono16Sound(QStringLiteral(":/audio/notification.pcm"));
    }
}

void AVForm::on_playbackSlider_valueChanged(int v

[2016-10-01 06:35] antis81 commented on #3735
Yes. Just don't set the output volume in `AVForm::playTestSound` and it is fine.

[2016-10-01 10:31] ElLamparto commented on #3745
@zetok, not quite. If the "Streaming Source" is set to "none" by default, the application will behave like before. And the common user probably will not look there anyway.

[2016-10-01 13:58] nazar-pc commented on #3761
Thanks for the details, it would be difficult to fix everywhere, but anyway, I've reported upstream: https://github.com/solus-project/budgie-desktop/issues/629

[2016-10-02 01:28] ghost opened #3764 "Playback Device Volume Always Reverts to 0%"
##### Brief Description

OS: openSUSE Leap 42.2 Beta 2
qTox version: v1.5.1-obs
Commit hash:  https://github.com/qTox/qTox/commit/f05b7e040a073c7afadaf763dda5beaf130c6dbd
toxcore:  0.0.0
Qt:  5.6.1

I was able to reproduce an issue using the qTox [OBS package](https://build.opensuse.org/package/binaries/home:antonbatenev:tox/qtox?repository=openSUSE_Leap_42.2) on two different machines running ope

[2016-10-02 07:38] zetok commented on #3764
Sounds like an upstream problem.

[2016-10-02 14:48] david-camden opened #3768 "qTox portable 1.5.2 not working in portable mode"
##### Brief Description

OS: Windows
qTox version: v1.5.2-131-gabaa41e
Commit hash:  abaa41eaeeee77f4663a8223998fe1a582b80be7
toxcore:  0.0.0
Qt:  5.6.1
Hardware:  PC, AMD AM2 Phenom X4, 4GB Ram
…

Reproducible: Always
##### Steps to reproduce
1. start qtox in portable folder
2. try to login to portable profile
##### Observed Behavior

does not open the portable qtox.ini in the folder but uses the

[2016-10-02 15:07] zetok commented on #3768
Did it work with `1.5.1` ?

[2016-10-02 15:13] david-camden commented on #3768
yes. there it worked.
qTox v1.5.1-8-gfd04a28 is the version where it works. just got it sent by a friend so he rescued me for now. had it overwritten before without backup.

wanted to have the new version where the general and user interface menu are separated. but that started the trouble, there does portable mode not work.
ignores the qtox.ini in the program folder but uses the one in the appdat

[2016-10-02 17:44] yurivict opened #3769 "Unable to uninstall on Windows"
In the Windows 7 VM, uninstall.exe makes screen to become gray and stay this way. Nothing is happening, machine became unresponsive. Need to reboot.

[2016-10-02 17:47] yurivict opened #3770 "qTox crashes on Windows right after the account creation, and after start"
I am trying qTox in the Windows 7 VM. I get a lot of crashes few seconds after start. It seems that this happens during the new version check.

[2016-10-02 18:12] yurivict opened #3771 "qTox on Windows keeps asking to update even though there has been no new release"
Freshly installed qTox always asks to upgrade it. There has been no new release recently, so it shouldn't ask to upgrade.

It looks like the version for download is out of sync with the version that it checks in runtime. It also possibly tries to always update to the latest build, which it shouldn't do.

[2016-10-02 18:39] yurivict commented on #3771
Actually, the problem is that the latest version isn't linked to github. It asks for 1.5.2 released 3 days ago.

[2016-10-02 18:40] yurivict commented on #3770
This is a show stopper bug. The fresh latest install spontaneously crashes after several seconds.

[2016-10-02 19:40] carun opened #3773 "Import profile crashses qTox"
##### Brief Description

OS: Windows
qTox version: v1.5.1-8-gfd04a28.
Commit hash: fd04a2832aa885d260ded4e476eefcddd49237b3
Qt:  5.5.1
…

Reproducible: Always
##### Steps to reproduce
1. Exit qTox.
2. Clean up C:\Users<User>\AppData\Roaming\tox
3. Run qTox.
4. Click on Load Profile -> Import.
5. Choose Tox profile file from Google drive sync location. ![1](https://cloud.githubusercontent.com/asset

[2016-10-02 19:43] zetok commented on #3773
Duplicate of #3660, thus closing.

Fixed on newest `master`.

[2016-10-02 19:43] #3773 closed, assigned to nobody

[2016-10-03 03:32] Getron commented on #3314
@zetok That's it! Simple explanation of my proposal. That's exactly what i mean. Thanks for right explanation to other devs.

@initramfs Zetok is explained exactly what i proposed.

[2016-10-03 06:01] aaannndddyyy opened #3775 "markdown"
Am using latest nightly of qtox
and am having issues with mark down.
It does not adhere to the official md standards nor to github's md standards.
Would be nice if qtox used a standard:
##### Brief Description

OS: Linux
qTox version:  v1.4.0-245-g99ce719.
Commit hash: 99ce719b800b5fedeb47eb848268976dcbf96fc7
toxcore:  0.0.0
Qt:  5.5.0
Hardware:  PC
…

Reproducible: Always /
##### Steps to reprodu

[2016-10-03 06:04] aaannndddyyy opened #3776 "optionally disable blinking for new messages when in "do not disturb" mode"
When I set myself to not disturb, the blinking when new messages arrive, can sometimes drive me crazy. would be nice to optionally disable notification of new messages by blinking in DND mode. It could simply chnage color once instead of permanent blinking. then it is also easily visible that there is an unread message, but less enervating.
##### Brief Description

OS: Windows / OS X / Linux (incl

[2016-10-03 06:08] aaannndddyyy opened #3777 "smileys in menu too small"
##### Brief Description

OS: Linux
qTox version: v1.4.0-245-g99ce719
Commit hash:  99ce719b800b5fedeb47eb848268976dcbf96fc7
toxcore:  0.0.0
Qt:  5.5.0
Hardware:  PC
…

Reproducible: Always
##### Steps to reproduce
1. boot the computer
2. log in
3. start qtox
4. click on the smiling face
   ##### Observed Behavior
   a menu with diminute smileys opens up
##### Expected Behavior

a menu with clearly

[2016-10-03 06:35] zetok commented on #3777
Can't reproduce on dc10309a82f19cc42e0e46670192e9ea2071af08. Note that emoticon size is adjustable in settings.

Try with newer qTox/Qt, if still reproducible, comment for reopen.

[2016-10-03 06:35] #3777 closed, assigned to nobody

[2016-10-03 06:46] zetok commented on #3775
Yep, was changed: https://github.com/qTox/qTox/blob/14c97da7d5e5d9bb14f23d84460c0aa160142d25/CHANGELOG.md#breaking-changes

#3404

Why should qTox default to formatting that most of people are unfamiliar with and is not intuitive?

[2016-10-03 06:49] aaannndddyyy commented on #3777
true. i thought it only affects the size in the chat. so upping default size is definitely a good choice wrt usability. But yes, I can confirm, changing the size in settings effects their size in menu too.
re newer version: here i cannot compile, so i can only always use the latest nightly build, which I am already

[2016-10-03 06:51] aaannndddyyy commented on #3775
because current behaviour is unintuitive and invasive.
why do two underlines make it bold, that is not intuitive and one of the reasons I filed this issue. But it seems that in the source this was already changed, so I must wait for jenkins to catch up.

However, it should NOT change the syntax of a message, but only change the layout.
So '-'+' '+'foo'+' '+'-' is hunderlined, but should NOT have A

[2016-10-03 07:47] sudden6 commented on #3775
@aaannndddyyy the builds on Jenkins are quite outdated, user OBS qtox-alpha packages for ~nightly experience

[2016-10-03 07:51] aaannndddyyy commented on #3292
this is also a pressing issue for me.
It would be very nice if resuming file transfers were coming soon, the way µtox has been doing for ages.

[2016-10-03 08:12] Diadlo commented on #3776
Seems, duplicate of #3064, so it will be closed. Please comment if it isn't

[2016-10-03 08:12] #3776 closed, assigned to nobody

[2016-10-03 08:16] zetok commented on #3775
Jenkins won't catch up.

[2016-10-03 09:09] aaannndddyyy commented on #3775
oh. :(
I took it from the wiki.
Where can I find a nightly of a plain binary , not a .deb or .rpm?

[2016-10-03 09:21] aaannndddyyy commented on #3064
yes, the notification need not disappear altogether, just not blink anymore. Change of color would suffice.
In my case it would only be needed for DND mode, but it could also be a separate option under advanced so that it does not clutter the view of the other settings.
I had originally though of having this option right under the one for switching sound on/off when in DND.
I would not generally w

[2016-10-03 09:43] ddobrev commented on #3292
It seems that µtox lacks quite a few problems qTox has, the other prominent example being the duplicate received messages. Is it really that hard to fix these problems having a reference implementation?

[2016-10-03 09:44] zetok commented on #3292
@ddobrev µTox is not a reference implementation.

[2016-10-03 17:46] Getron commented on #3764
+1
The same here on Linux Manjaro 16.08 KDE 5.7 Rolling Release.

And one more problem there, every time i switch the tabs, and if i come back to aurio-video tab, the playback device is none selected.

I select it every time, but after moving to other tabs, and switch back to audio-video tab, the playback device is set to none (or empty), i must select itm every time.

i see, that, if i switch the

[2016-10-03 18:01] roranicus commented on #3064
Seems like the sensible options would be
- notify by blinking at all times.
- notify by blinking only when online
- notify by binking when online or busy
- never notify.

Different workflows require different behaviors.

[2016-10-03 18:37] zetok commented on #3064
@roranicus sounds way more complex than it needs to be.

What about having a `Do Not Disturb` mode that would result in:
- no notification sound for new messages
- blinks just once for new messages

`DND` – option in settings to turn on `DND` when `Busy`

[2016-10-03 19:26] yurivict opened #3779 "When SOCKS5 proxy is chosen, UDP shouldn't be recommended and "on" by default"
The problem is that while SOCKS5 protocol nominally supports UDP, many important implementations don't support UDP. Particularly, Tor doesn't support UDP.

qTox probably needs to move 'Enable UDP' under the proxy selector, and not say 'UDP (recommended)' when SOCKS5 is in use. It should default to "off" for SOCKS5. Maybe maintain separate boolean useUDP per proxy, with different defaults and recom

[2016-10-04 00:03] roranicus commented on #3064
@zetok Because some people, like myself, dislike notifications at all times. I don't want to broadcast a status saying I'm unavailable, but at the same time I don't want any notifications. I just keep tox open on a second monitor and look at it once in a while. It's as much a reflex as looking at my mirror while I drive.

My point is that there are a lot of different workflows, and software must b

[2016-10-04 08:30] zetok opened #3781 "l10n needs to be abstracted out of HTML"
##### Brief Description

Continuation of #2985.
The only remaining part: https://github.com/qTox/qTox/blob/02083803d49a5274bc52aa5528edd2f2eb889fb8/src/widget/tool/screenshotgrabber.cpp#L170

[2016-10-04 08:37] zetok commented on #3779
Tor isn't supported in particular, it's just something that works due to SOCKS5 support.

No. Is there any other use-case than Tor support?

With that in mind, user manual probably could benefit from having info about how qTox should be configured for Tor usage. Would you mind making a PR?

[2016-10-04 09:00] aaannndddyyy commented on #3064
@roranicus : your four options can be reduced to two checkboxes.
[] notify
[] notify even when busy

meaning that if both are checked, it corresponds to your first option of "always notify",
if only the first box is checked, it is your option two, and if none is checked, it corresponds to four "never".
I see no point for having your option 3 different from option 1.

[2016-10-04 21:02] Deleetdk commented on #2168
I notice that as of the current version (f05b7e040a073c7afadaf763dda5beaf130c6dbd) on Ubuntu 16.04, this bug is still there. And the workaround still works.

[2016-10-05 19:02] Talkless commented on #3770
I'm currently working on `windows/bootstrap.sh`, made actual build on Windows, and I too started to get crashes few days back. Thought it was something with libraries, build process or whatever, but seems it's not only my problem.

Crash, at least i my case, is in [tox.c, tox_bootstrap(), line 291](https://github.com/irungentoo/toxcore/blob/master/toxcore/tox.c#L291):

[code]

It makes some loops

[2016-10-05 19:07] zetok commented on #3770
@Talkless perhaps toxcore before e6af3a7825e8307a501bc7c3e7b1ff323f081870 wouldn't crash?

[2016-10-05 19:35] Talkless commented on #3770
No, previous commit `1fa5887fee6016318d02911f78f3610dd0e0dc7f` still crashes.

[2016-10-05 22:20] ghost commented on #3064
Or using the red-circle-with-counter-in-a-corner (does it have a name yet?) like any other modern chat app.

![qtox-notification-counter](https://cloud.githubusercontent.com/assets/6382342/19134113/53694a2e-8b5c-11e6-818d-6946ce368091.png)

[2016-10-06 06:19] kdhp opened #3786 "Audio::initInput & Audio::initOutput Use After Free"
##### Brief Description

OS: FreeBSD 12-CURRENT
qTox version: 1.5.2-143-g60af778 & 1.5.1
Commit hash:  60af778fb8d0fbd8373c4d994d56d3b21281212a
toxcore:  0.151112
Qt:  5.6.1
Hardware:  amd64
Compiler: clang 3.8

Reproducible: Always
##### Steps to reproduce
1. Run qTox with junk set to `free` or `true`: `MALLOC_CONF='junk:free' qtox`
2. Go to Settings-Audio/Video (to cause a call to `Audio::initOu

[2016-10-06 07:25] yurivict opened #3787 "UI should reflect that connection is made through UDP and TCP"
Based on this comment, the callback notifying of TCP/UDP being in use is available:
https://github.com/irungentoo/toxcore/issues/1619#issuecomment-251862556

qTox should show the sign next to the "Enable UDP" checkbox when it is checked, but the actual protocol is TCP.

TCP/UDP symbol could also be displayed near the status icon.

[2016-10-06 07:32] antis81 commented on #3786
Duh!! Nice one! Thanks for spotting this!

One possible solution:

[code]

@kdhp Would you provide the fix please? I don't have the time currently. Note, that this will fix #3721 and probably #3538 and #3603 as well.

**EDIT:** ~~QByteArray is always `\0` terminated. Corrected that.~~Actually this is only true for `QByteArray::data()`. It is ok anyway.`

[2016-10-06 08:05] zetok commented on #3787
Yes, for separate connections to each online peer.

Not doable. toxcore always tries to connect with UDP if UDP is not turned off.

[2016-10-06 08:05] #3787 closed, assigned to nobody

[2016-10-06 08:35] kdhp commented on #3786
@antis81 I doubt that this issue would have any consistency without junking, so it may be unrelated to #3721.  I also checked the other two and can confirm that they are unrelated to this.

[2016-10-06 11:30] ghost opened #3789 "qTox will not open in macOS Sierra (10.12)"
##### Brief Description

OS: macOS Sierra 10.12 (16A323)
qTox version: 1.5.1
Commit hash:
toxcore:
Qt:
Hardware:
…

Reproducible: Always
##### Steps to reproduce
1. Launch the application
##### Observed Behavior
1. macOS Problem Reporter launces, stating that the application "could not open because of an error"
##### Expected Behavior
1. Application should launch as expected
##### Additional Info

[2016-10-06 11:41] zetok commented on #3789
Duplicate of #3747, closing.

[2016-10-06 11:41] #3789 closed, assigned to nobody

[2016-10-06 14:47] DX37 commented on #3768
v1.5.2-144-gbbdd4f0, bbdd4f0. Portable mode works for me. Have `makeToxPortable=true` option in `[Advanced]` section of qtox.ini file. Maybe in your case this option is in `[General]` section?

[2016-10-07 08:29] agilob commented on #3742
I just took a look at qtox again, I think now a major problem is number of open PR awaiting. Most of them are basically frozen, not being merged, not being updated, some of them require merge/rebase on master to fix conflicts. I think the priority should be to merge or reject them asap.

[2016-10-07 10:52] zetok commented on #3742
Right. What is a real problem though, is not enough people reviewing PRs, which can lead to slower merges.

ATM out of 9 PRs that could possibly be merged only 3 have valid LGTM – as such they'll be merged quickly.

It doesn't hurt to keep PRs open until something that could deprecate them gets merged.

[2016-10-07 21:46] #3781 closed, assigned to nobody

[2016-10-07 21:49] #3786 closed, assigned to nobody

[2016-10-07 22:32] #2189 closed, assigned to nobody

[2016-10-07 23:33] ghost opened #3795 "Update noptification icon properly"
Stupid Github doesn't let me upload an image file.
http://expirebox.com/download/277c38163de6bc3e92ed601611df48f6.html

[2016-10-08 04:20] ghost opened #3796 "About Disconnection bug: implement TorID - support multiple(Tox and Tor) protocol"
Tox:
Use Tox protocol with looooooong ID

TorChat/Ricochet:
Use Tor and it's xxxxxxxxxxxxxx.onion name.

https://github.com/ricochet-im/ricochet

[2016-10-08 07:53] zetok commented on #3795
image from link:
![1922d177de47318d55087e8fc853affa](https://cloud.githubusercontent.com/assets/3148759/19211458/b4c74fee-8d34-11e6-85ba-cf80ae406989.jpg)

[2016-10-08 07:57] zetok commented on #3796
Could you elaborate what the proposal is about?

[2016-10-09 11:08] zetok commented on #3403
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-10-09 11:08] #3403 closed, assigned to nobody

[2016-10-09 11:52] Diadlo opened #3800 "Test sound button should be red if disabled"
##### Brief Description

OS: Any
qTox version: v1.5.2-73-g894b47a.
Commit hash: 894b47ad7794a808e63f6234bec3a3af26107b12

Reproducible: Always
##### Steps to reproduce
1. Open AV settings tab
2. Click on green `play a test sound` button
##### Observed Behavior

Appear/disappear shadow around button
##### Expected Behavior

Changing color of button on red/green

[2016-10-09 11:55] zetok commented on #3800
Color is not intuitive for colorblind

[2016-10-09 12:04] #3735 closed, assigned to nobody

[2016-10-09 12:06] #2890 closed, assigned to nobody

[2016-10-09 12:09] Diadlo commented on #3800
@zetok Tiny shadow line is not intuitive for everyone. But you are right. Also it can show/hide speaker or sound waves

[2016-10-09 12:11] Diadlo commented on #1643
No answer in month. Then close

[2016-10-09 12:11] #1643 closed, assigned to nobody

[2016-10-09 19:29] PKEv opened #3801 "No application file in distributive"
in archive by link: 64 bit portable (https://build.tox.chat/job/qTox_build_windows_x86-64_release/lastSuccessfulBuild/artifact/qTox_build_windows_x86-64_release.zip)
no file of application

[2016-10-09 19:50] Diadlo commented on #3801
Seems duplicatoe of closed (why?) #3557

[2016-10-09 19:56] AliceGrey commented on #3800
@Diadlo  Considering the icon is green already I can see the expectation of it being red when disabled. But as @zetok mentioned color isn't intuitive for colorblind people. What if we had a red or grey icon that was crossed out?

[2016-10-09 20:04] Diadlo commented on #3800
@AliceGrey What problem with changing color + speaker icon? For me it seems more intuitive

[2016-10-09 20:27] Diadlo commented on #3800
@AliceGrey I understand. That's a reason why I suggest using icon changing too

[2016-10-09 20:28] AliceGrey commented on #3800
@Diadlo Oh my bad, I misunderstood what you meant. I agree we should change the icon.

[2016-10-09 20:48] AliceGrey commented on #3800
@Diadlo @zetok What about something like this when disabled? (I should note I didn't make these icons and they might not be open source, just something I found on google)
![sound icon](https://cdn3.iconfinder.com/data/icons/pyconic-icons-1-2/512/volume-minus-64.png)

Or another idea:
Off
![sound off](https://cdn1.iconfinder.com/data/icons/material-audio-video/16/volume-mute-64.png)

On
![sound on]

[2016-10-09 20:53] zetok commented on #3800
Crossed out icon sounds good to me.

Not sure about `speaker -` icon, since the minus suggest just decrease instead of turning off.

[2016-10-09 20:56] AliceGrey commented on #3800
@zetok @Diadlo Something like this?
Off
![sound on](https://cdn1.iconfinder.com/data/icons/material-audio-video/19/volume-off-64.png)
On
![sound on](https://cdn1.iconfinder.com/data/icons/material-audio-video/18/volume-up-64.png)

[2016-10-09 21:01] Diadlo commented on #3800
@AliceGrey Icons LGTM. And maybe replace unintuitive button on checkbox?)
Because button with on/off state can be interpreted as on/off sound

[2016-10-09 22:51] sudden6 commented on #3801
I closed it because when I checked, the build contained an executable. Maybe this problem happens only to some builds?

[2016-10-10 06:53] AliceGrey commented on #3800
@zetok What do you think about having a checkbox instead?

[2016-10-10 07:26] AliceGrey commented on #3795
@zetok @GitHubHatesTor I am unable to reproduce this issue. I told qtox to connect to a proxy that was down and this is what rendered.
Edit: The icon still displays properly with ipv6 enabled. I just usually leave it off and double checked with it on.
![notification bar](http://i.imgur.com/MRZGeVJ.png)

[2016-10-10 07:32] zetok commented on #3795
@AliceGrey Right.

Steps:
1. Connect to working proxy
2. Take proxy down
3. ![spectacle ea7954](https://cloud.githubusercontent.com/assets/3148759/19229254/18da7e26-8ec4-11e6-86ac-14a56fae4389.png)

[2016-10-10 07:34] zetok commented on #3800
@AliceGrey Whatever works.

Checkbox is more clear than an icon, but might not look as good.

[2016-10-10 07:59] AliceGrey commented on #3800
@Diadlo @zetok
I made some quick builds with different ideas. Let me know which one you like best.

Checkbox v1
![checkbox1](http://imgur.com/gpnrqtk.png)

Checkbox v2
![checkbox2](http://imgur.com/78bjQZ2.png)

Icon v1
![icon1](http://imgur.com/qfTGdOZ.png)

[2016-10-10 09:41] zetok commented on #3800
@AliceGrey `checkbox v1` is probably the best.

[2016-10-10 18:59] zetok opened #3804 "text formatting fucks up lists"
##### Brief Description

Text formatting in qTox can easily fuck up lists.

qTox version: v1.5.2-144-gbbdd4f0
Commit hash: bbdd4f044c2c6b70fcb8794c8e5f01f1380af168
toxcore: 0.0.0
Qt: 5.6.1

Reproducible: Always
##### Steps to reproduce
1. Setting `Text Style format: Don't show formatting characters`
2. Send list, e.g. text sample
##### Observed Behavior

List is fucked up
##### Expected Behavior

[2016-10-10 19:05] zetok opened #3805 "language change resets Text Style option"
##### Brief Description

When language in settings is changed, it resets `Text Style format` to `Plaintext`

OS: Gentoo Linux amd64
qTox version: v1.5.2-144-gbbdd4f0
Commit hash: bbdd4f044c2c6b70fcb8794c8e5f01f1380af168
toxcore: 0.0.0
Qt: 5.6.1

Reproducible: Always
##### Steps to reproduce
1. Set `Text Style format` setting to something other than `Plaintext`
2. Change language
##### Observed Beh

[2016-10-11 07:05] Mikaela commented on #3638
I installed qtox 1.5.2-1 yesterday on Arch Linux and when I opened it, I was asked for username and password. I wasn't told that if I give a password (which appeared required), I will be unable to load the profile automatically.

I think the tooltip also doesn't work so well as I discovered it exists only after finding this issue. Could it be moved as text under the checkbox and above the buttons?

[2016-10-11 08:32] zetok commented on #3638
@Mikaela

That's a feature.

Since b5efc2bb7124ccbbd256792c524ffffdd02fab3f the checkbox is hidden if profile is password-protected.

Added a FAQ entry that explains it: https://github.com/qTox/qTox/wiki/FAQ#can-a-profile-be-automatically-loaded-if-its-password-protected

[2016-10-11 09:37] Mikaela commented on #3638
But I don't trust myself with passwords so I generated a random one that I won't remmeber making me need to check the password every time I started qTox or booted laptop increasing the risks of forgetting password database open or other human error that endangers more than one Tox profile.

Is the FAQ or other documentation linked anywhere clearly from the app or https://tox.chat/ ?

[2016-10-11 09:53] zetok commented on #3638
User manual is linked to from qTox website: https://qtox.github.io/
Once FAQ will be good enough I plan on adding a link to it on the website.

[2016-10-11 13:44] zetok opened #3809 "test sound after logout & load is active even though button is in `off` position"
##### Brief Description

Test sound button (![spectacle fv7076](https://cloud.githubusercontent.com/assets/3148759/19272351/2dcab8f8-8fc0-11e6-8f78-04b8b9d12d19.png)) in A/V tab after logout & load is not set, but sound is still produced.

OS: Gentoo Linux amd64
qTox version: v1.5.2-175-g9dfdd4e
Commit hash: 9dfdd4ef4bf9bcd863a2371ced3f2861aa7de5a7
toxcore: 0.0.0
Qt: 5.6.1

Reproducible: Always
##

[2016-10-12 13:07] SergeyDjam opened #3812 "qTox: 1.5.2 d'nt open AV preferences tab"
Hello
##### Brief Description

OS: Linux x86_64,
qTox version: v1.5.2,
Commit hash 4b726dd
toxcore: toxcore-0.0.1-0.20160220.2
Qt: 5.6.1
Hardware:
00:1b.0 Audio device: Intel Corporation 5 Series/3400 Series Chipset High Definition Audio (rev 05)
Bus 002 Device 040: ID 0a5c:4500 Broadcom Corp. BCM2046B1 USB 2.0 Hub (part of BCM2046 Bluetooth)
Laptop_Integrated_Webcam_0.3M

Reproducible: Always / A

[2016-10-12 13:15] rugk opened #3813 ""Profile is already loaded" prevents start, wrong claim"
##### Brief Description

OS: ~~Windows~~ / ~~OS X~~ / **Linux** (Debian)
qTox version: 1.4.0-262-g464daeb-1 (from tox.chat Debian repos)
Commit hash:  (build without git)
toxcore:  no idea
Qt:  no idea
Hardware:  x64

Reproducible: Always (right now)
##### Steps to reproduce
1. Maybe there was not good shutdown (crash) or something.
2. After computer restart, try to load tox.
##### Observed Behavi

[2016-10-12 13:43] Diadlo commented on #3812
Could you re-test with newest qTox?
Related with #3575?
What do you mean by `AV d'nt open`? qTox freezes?

[2016-10-12 14:25] yatsenkoanton commented on #3764
Had this problem before, seems to be fixed for me in v1.5.2-175-g9dfdd4e-obs. (Ubuntu 16.04)

[2016-10-12 16:40] SergeyDjam commented on #3812
My version 1.5.2, how i can find newest qTox? Git upstream checkout?

Yes, qTox freeze when I open a tab A/V

[2016-10-12 17:38] Talkless opened #3814 "Outdated linux package (missing 1.5.2) in software.opensuse.org"
I've noticed that there is 1.5.2 release, but my qTox installed  from software.opensuse.org is still 1.5.1:

[code]

OS: Kubuntu 16.04 amd64
qTox version: 1.5.1-obs
Commit hash:   f05b7e040a073c7afadaf763dda5beaf130c6dbd
toxcore:  0.0.0
Qt:  5.5.1

[2016-10-12 18:13] zetok commented on #3814
It's not outdated, there's no difference between 1.5.1 and 1.5.2 for Linux.

[2016-10-12 18:13] #3814 closed, assigned to nobody

[2016-10-12 18:31] Diadlo commented on #3812
@SergeyDjam [Here](https://github.com/qTox/qTox/blob/master/INSTALL.md#install-git) is instruction

[2016-10-12 18:53] Diadlo commented on #3813
Can you check, that there isn't `qtox` in your process?
`ps -A | grep "qtox"`

The fact is that `Event "activate" was handled by other client.` in the log not becouse there any `lock` file exist.

[2016-10-12 19:08] Diadlo commented on #2389
Toxdns support was removed. So now here only one "problem" here: `Able to connect to the network, but unable to connect to a friend`.
Can anyone approve it with antivirus?

[2016-10-12 19:15] rugk commented on #3813
(tried again right now)

[code]

As I said I restarted, so this is the o9nly process running - the one with which I am trying to open the file.

Okay, but anyway when I delete the files and try another pw entering, they are regenerated - even though qTox shows me this error message.

[2016-10-12 22:04] Diadlo commented on #3813
@rugk Can you, please, post here the last ~25 lines of `~/.cache/Tox/qTox/qtox.log` after retest? It not the same with qtox output.
I'm not sure about line count. But there should be a phrases: `Our global IPC ID is`, `Debug: postEvent  "activate"`

[2016-10-12 23:06] rugk commented on #3813
So these are all lines I got (after starting qTox, entering password, seeing error message, closing windows):

[code]

[2016-10-13 06:34] zetok commented on #3813
@rugk could you try with OBS build?

[2016-10-13 06:37] Diadlo commented on #3813
@zetok @rugk What do you think, if profile already in use, ask user a question "Do you want load profile with force (i.e. ignore old loaded profile)?" Or add checkbox on login form

[2016-10-13 06:40] zetok commented on #3813
@Diadlo perhaps, I'd like to first make sure that current qTox is still affected.

Forcefully loading profile could lead to problems, and so having a checkbox wouldn't be a good idea (since checkboxes encourage usage of functionality).

[2016-10-13 06:42] Diadlo commented on #3813
Anyway, qTox can't guarantee profile unlock, after `not good shutdown (crash) or something`

[2016-10-13 06:59] zetok commented on #3813
IIRC stuff has been changed to handle unclean shutdowns..

[2016-10-13 09:23] rugk commented on #3813
Yeah, IMHO this might be a good idea.

Sorry, no, as they offer no secure way of downloading it.

Yeah, but if you can't try it after a crash, you won't know whether it works or not.

[2016-10-13 10:11] zetok commented on #3813
"Tested" after crash, and it just worked™.

If you prefer, you can always build newest qTox.

[2016-10-13 17:50] Talkless commented on #3770
Binary version v1.5.2-8-gfd04a28 does not crash on my Windows 10 virtual machine, only compiled-one on that machine does. I am not sure if this crash is actually the same as OP's...

[2016-10-13 18:59] Talkless commented on #3814
I believe fix for https://github.com/qTox/qTox/issues/1485 is missing. Or PR was too late for 1.5.2?

[2016-10-13 19:09] notfixingit3 commented on #3747
Temporary work around

[2016-10-13 19:20] TheOuterLinux commented on #3747
I was actually looking contemplating that this morning. 😅. I guess they could put the script in with the app so it creates the symbolic link at first run or something.

[2016-10-14 07:23] zetok commented on #3814
Not really. 1.5.2 points to the same commit as 1.5.1 – new tag was needed for qTox re-release on windows with updated deps, since m$ broke video compatibility which made qTox 1.5.1 without patched ffmpeg crash.

[2016-10-14 12:12] Talkless commented on #3814
Oh I see. Thanks for explanation.

[2016-10-14 15:09] #3800 closed, assigned to nobody

[2016-10-14 15:10] sudden6 commented on #3809
Closed with https://github.com/qTox/qTox/pull/3808

[2016-10-14 15:10] #3809 closed, assigned to nobody

[2016-10-14 19:29] #2280 closed, assigned to nobody

[2016-10-15 13:52] StSav012 opened #3816 "No system tray detected!"
##### Brief Description

OS: Ubuntu 16.04.1 LTS 64bit with GNOME Flashback (Metacity) running
qTox version: v1.4.0-245-g99ce719
built on:  05:39:06 Jul  6 2016 ( 1467797925 )
Commit hash:  99ce719b800b5fedeb47eb848268976dcbf96fc7
toxcore: 0.0.0
Qt: 5.5.1

Reproducible: Always
##### Steps to reproduce
1. Launch qTox.
2. Set **Start in tray** option in **Settings**.
3. Restart qTox.
##### Observed B

[2016-10-15 15:25] zetok commented on #3816
Use the OSB repo and check if it's fixed with newer qTox.

[2016-10-15 20:00] wiz21b commented on #3562
I confirm I have the same issue on Debian 8, stable, 32 bits. qTox version v1.5.2-175-g9dfdd4e-obs (according to About Box). I got my build from the opensuse repo.

WebCam is properly recognized by qTox, it even works fine as a microphone. But no video shows up. I see the same error as the other post in this thread :+1:

[code]

For a test, I ran qv4l2 (Video4Linux qt test bench) and it runs fine.

[2016-10-15 22:03] zetok commented on #3757
Does it work with on qTox 1.5.2 ?

[2016-10-15 22:03] zetok commented on #3612
qTox `v1.5.2` was released some time ago with patched FFmpeg, thus closing.

As for the corrupted video, new issue should be opened if it's still reproducible.

[2016-10-15 22:03] #3612 closed, assigned to tux3

[2016-10-15 22:21] yurivict commented on #3757
The problem was originally observed with 1.5.2.

[2016-10-15 22:25] zetok commented on #3757
Which camera settings were changed, and what camera hardware it is?

[2016-10-16 02:44] yurivict commented on #3757
I wouldn't know. But someone with Windows should test it and report the results.

Given the nature of the project, I suspect not many/no devs use Windows. But to make it really successful there should be a certain degree of penetration into the Windows user base.

[2016-10-16 14:50] Talkless commented on #3770
@zetok please remove upstream tag.
In my crash case was simply bad mix of MinGW compilers. It was simply timing coincidence with OP's post.

[2016-10-16 19:10] zetok commented on #3757
This issue isn't about the case where qTox crashes with every camera device – that was #3612, and in 1.5.2 windows making qTox crash should be fixed.

This issue isn't reproducible by everyone, and e.g. for @initramfs it doesn't crash. So additional info might be needed to fix it, and without it issue might not be useful.

Also would be good to know if #3645 would help here.

[2016-10-16 21:08] yurivict commented on #3757
I probably won't be able to get any useful particulars from this user. But in order to say that qTox works well on Windows there should be a large number of diverse users who don't complain. I am not sure if this is the case for Windows. I got one user install it, and he saw it crash.

[2016-10-16 23:24] AliceGrey commented on #3795
@zetok Should this be closed since it's not reproducible and the creator hasn't responded?

[2016-10-16 23:32] zetok commented on #3795
@AliceGrey err? It's reproducible, I've posted the steps.

[2016-10-16 23:38] zetok commented on #3716
@DX37 would you mind making a PR to windows section in INSTALL.md with updated instructions?

[2016-10-16 23:40] AliceGrey commented on #3372
After doing some test builds in a windows vm and asking lots of questions in the IRC I've come to a few conclusions.
1. ddraw.h: This library is not included in MinGW32 only MinGW64
2. QT doesn't distribute a version of QT for windows that is built with MinGW64 which causes complications
3. Building your own version for windows is difficult but possible. https://wiki.qt.io/MinGW-64-bit
4. rtti: Wh

[2016-10-16 23:40] AliceGrey commented on #3716
@zetok @DX37 I second this :+1:

[2016-10-16 23:47] AliceGrey commented on #3795
@zetok You said > Right. I thought you meant you weren't able to reproduce it.

[2016-10-16 23:58] zetok commented on #3795
Sorry, I should have been more verbose. What I meant was "Oh, so it's not obvious what the steps are. Right. Here are the steps"

[2016-10-16 23:59] AliceGrey commented on #3795
@zetok No worries, I'll see what I can do to get this one fixed.

[2016-10-17 02:26] DX37 commented on #3716
I'm not sure about this. It's still runs only from MSYS2 console and requires some libraries, which I specified in [this](https://github.com/qTox/qTox/issues/3716#issuecomment-247845542) post.

And now - with latest source code - it doesn't compiles:

But with situation, described in [this](https://github.com/qTox/qTox/issues/3372#issuecomment-254085423) post, I removed `rtti_off` and `-fno-rtti`

[2016-10-17 18:32] nazar-pc commented on #3422
I'm not getting new builds from that repository since 10th of August. Also Yakkety was released recently.
Can 16.10 builds be added in not very far future?

[2016-10-17 18:50] abbat commented on #3422
See #3470. `qtox` package is stable build and not updated after release (Aug 10). `qtox-alpha` is upstream build and updated at 2016-10-16 in Yakkety repo.

[2016-10-17 18:52] nazar-pc commented on #3422
Thanks, I've explored ppa and installed it already)

[2016-10-17 18:56] nazar-pc commented on #3538
Good news, I've just updated to v1.5.2-191-g0669bce-obs (0669bce820f39f7bc5c51bb75cc4b60c016aafd6) and it seems to work outside of Audio/Video tab.
Can anyone double check?

[2016-10-17 22:17] yatsenkoanton commented on #3538
Yeah, I don't have this problem anymore, thanks guys!

[2016-10-18 07:34] #3538 closed, assigned to nobody

[2016-10-18 12:33] ElLamparto commented on #3562
@wiz21b, while waiting for a fix, you can use µTox (it is compatible with qTox, uses the same config and AV works perfectly).

[2016-10-18 21:46] PKEv opened #3821 "lost position of the window"
##### Brief Description

OS: Linux Debian
qTox version: v1.5.2-191-g0669bce
…

Reproducible: ?
##### Steps to reproduce
1. qtox window in normal state
2.   hide
3. restore
   ##### Observed Behavior
   lost position of the window
##### Expected Behavior

restore in previous coordinates
##### Additional Info

(links, images, etc go here)

---

UPD: Reproducible only with first build

[2016-10-19 01:55] DX37 commented on #3716
Got it starting without console. Works with DLL libs from original qTox zip archive. Now requires `libgcc_s_sjlj-1.dll`, which is exists in original archive. I created patch, based on `patch-qtox.pro-windows-x86_src.patch` file - http://pastebin.com/4dzR776n.

Still need to fix two things:
1. Sound. It didn't work.
~~2. How should I compile libraries into DLLs?~~ Oh, you just copying DLLs from Min

[2016-10-19 11:04] sudden6 commented on #3821
Can you explain "Reproducible only with first build" in more detail please?

[2016-10-19 14:36] DX37 commented on #3716
I giving up. I can't get it work with libs from MSYS2 or MinGW shells. (And I have 32-bit Windows support only, but 32 or 64-bit support of Linux, WTF...).

Well... I think it compiles only with cross-compile MinGW toolchain on Linux. I will test that later...

[2016-10-20 07:48] dolohow commented on #3538
Will you guys release `1.5.3` with this fix?

[2016-10-20 08:11] zetok commented on #3538
Nope. Patch releases are only for fixes that are needed ASAP, which constitutes things that would leave qTox ~broken if not patched.

Doing them for something more would require a lot of maintenance effort, and qTox doesn't have enough of people to go with that kind of thing.

Fix will be included in [v1.6.0](https://github.com/qTox/qTox/milestone/4) release.

[2016-10-20 08:43] dolohow commented on #3538
For me qTox is almost broken, I stopped using it because of that bug.

I understand.  Thank you for doing qTox, will wait for 1.6 then.

[2016-10-20 08:59] zetok commented on #3538
Using `qtox-alpha` package is not an option?

[2016-10-20 11:17] dolohow commented on #3538
I did not know about it existence, will try that then.  Thanks.

[2016-10-20 12:09] macandchief commented on #223
I have a strange issue with the microphone. OS: BunsenLabs (i.e. Debian Jessie), qt: 5.3.2, Pulseaudio.

If I open the mixer and go to recordings, when qTox is on, nothing in the recordings tab, mic does not work.

If I go to the audio/video tab in the qTox-settings and set the capture device to "Built-in Audio Analog Stereo" (instead of "Monitor of..."), microphone starts working (it's also shown

[2016-10-20 12:37] zetok commented on #223
@macandchief your issue is #3538.

[2016-10-20 17:26] macandchief commented on #223
Indeed, I see. Great to read that it'll be fixed in 1.6, thank you.

[2016-10-20 21:52] ghost opened #3824 "libnetcdf.so.12"
netcdf update broke it.
qtox will not open.

[2016-10-20 21:59] zetok commented on #3824
Are you sure? qTox has nothing to do with this lib.

How exactly did you verify that updating netcdf broke qTox?
Steps to reproduce?
Etc?
There's an issue template for a reason.

[2016-10-21 00:07] ghost commented on #3824
sorry.

os: Antergos Linux
kernel: x86_64 linux 4.8.2-1ARCH
nvidia 330m and i7

it was working fine before arch released an update for netcdf. looked in the release and they went back to libnetcdf.so.11

`qtox: error while loading shared libraries: libnetcdf.so.12: cannot open shared object file: No such file or directory
`

[2016-10-21 07:49] Diadlo commented on #3824
@solus667 I think, rebuild (or reinstall) can help you

[2016-10-21 08:06] zetok commented on #3824
@solus667 which qTox version, and how did you get it?

[2016-10-21 22:50] Kron4ek commented on #3824
Already fixed in Arch, so also fixed in Antergos.

[2016-10-22 00:45] ghost commented on #3796
I mean, will it be possible to chat with "Ricochet" user with "qTox+Tor Proxy"?
Ricochet/TorChat are just using Tor Hidden Service.

[2016-10-22 00:48] ghost commented on #3779
In my experience, some(but many) VPN/Company's SOCKS5 proxy only accept TCP, not UDP.
So it's safe to assume SOCKS5 = No UDP.

[2016-10-22 01:01] yurivict commented on #3779
To me this is primarily a security problem. UDP is checked, I know that the proxy doesn't support UDP. The natural question is "Where is UDP sent? Is it even sent?" Tox should be more proactive answering such questions. Otherwise how do I know UDP isn't sent into the clearnet?

[2016-10-22 07:58] zetok commented on #3796
No, that's not possible and will not be possible.

I've added FAQ entry that explains things in more detail: https://github.com/qTox/qTox/wiki/FAQ#support-for-other-instant-messaging-protocols

[2016-10-22 07:58] #3796 closed, assigned to nobody

[2016-10-22 08:25] zetok commented on #3779
Err. Given the nature of Tor, things (TCP) are being transmitted through "clearnet" anyway. So if you're using it in hope that things don't go through "clearnet", you're using the wrong tool. I'd suggest looking into i2p.

When it comes to security, as a general rule of thumb you should assume the worst-case scenario.

[2016-10-22 08:59] #3824 closed, assigned to nobody

[2016-10-22 15:41] zetok commented on #3538
@dolohow since I wasn't 100% sure whether there's no one interested in maintaining patch releases, I did ask: https://github.com/qTox/qtox-irc-logs/blob/91032b48147449b1de1ff57c48ff6ef384f4ac20/2016/10/%23qtox_20161020.log.txt#L110

So, yeah.

[2016-10-22 17:07] zetok commented on #3601
From #3820: change code guidelines to always use curly brackets (`{}`) in `if`s

[2016-10-22 19:18] Diadlo commented on #3601
Same for `for` statements

[2016-10-24 18:42] ddobrev commented on #2726
Hello all. I'd like to once again ask you what's happening with this project and if it's ever going to be fully useful. This bug has not been fixed for a year. https://github.com/qTox/qTox/issues/2820 , https://github.com/qTox/qTox/issues/3158 and https://github.com/qTox/qTox/pull/2771 have all seen zero attention as well. The all mighty refactoring at https://github.com/qTox/qTox/tree/ui/redesign

[2016-10-24 18:57] zetok commented on #2726
@ddobrev not quite in readme, but license states it quite clearly: https://github.com/qTox/qTox/blob/master/LICENSE

I've been thinking about adding a license badge on top of README.md, I'll make sure to do that right after #3793 gets merged.

[2016-10-24 20:00] PKEv opened #3828 "log od sended files not saved"
##### Brief Description

qTox version: 1.4.0
…

Reproducible: Always
##### Steps to reproduce
1. send file
2. close qtox
3. open "sended files"
##### Observed Behavior

list of "sended files" are clean
##### Expected Behavior

log of sended files like history in chat, and is cleared by user request

[2016-10-24 20:07] zetok commented on #3828
Duplicate of #1300, thus closing.

[2016-10-24 20:07] #3828 closed, assigned to nobody

[2016-10-24 23:54] AliceGrey commented on #3795
@zetok I've done some poking around in my free time and it looks like after being disconnected from the proxy and DHT `updateIcons()` never gets called. It does get called when it connects though.

[2016-10-25 00:06] AliceGrey commented on #3795
@zetok From what I've read in the code, `updateIcons()` gets called by `onStatusSet()` which is connected to `Core::statusSet`.

Where I get lost is when DHT gets disconnected when you take down the proxy, `emit disconnected();` gets called which then calls `onDisconnected` which  does `emit statusSet(Status::Offline);` which should trigger `onStatusSet()` and call `updateIcons()` but for some rea