[2016-06-02 17:21] Getron opened #3346 "Popup a info window on call to desktop, with name of client and sort of call"
If a call is incoming, a litle popup window should give an info about who is calling, and what sort, audio-video icons. Somthing, like Skype do.

Ok, i known, there is a option to popup entire qTox client on call, but, it doesn't work optimal, because, it popup, but, i must see, where is calling, and search for a little (green)circle somwhere in my many contacts. It is just not fun, if you have 20

[2016-06-02 17:29] yurivict commented on #3324
I recommend qTox rolls back the commits breaking the video, mentioned in #3238. It used to work fine before these commits. The video feature is currently broken.

[2016-06-02 17:38] Getron commented on #2195
Any work on this until now?

Do we can expect now the multiple device on tox core?

[2016-06-02 17:59] agilob commented on #2195
@Getron feel free to go to any still open or already closed issue on toxcore to suggest it. This issue belongs to toxcore not qtox.
https://github.com/irungentoo/toxcore/issues/843
https://github.com/irungentoo/toxcore/issues/1100
https://github.com/irungentoo/toxcore/issues/1016
https://github.com/irungentoo/toxcore/issues/1393

[2016-06-02 19:30] ddobrev commented on #2726
@zetok could you please see https://github.com/irungentoo/toxcore/issues/1486#issuecomment-223391214 ? It says that the problem is not in toxcore at all, and furthermore, that another client, uTox, handles messages properly. Can the qTox team reuse their implementation or at least the idea behind it in order to fix this bug?

[2016-06-02 20:18] #2756 closed, assigned to antis81

[2016-06-02 20:18] #3109 closed, assigned to nobody

[2016-06-02 20:25] agilob commented on #3339
Could you go to directory `cd C:/Users/user/AppData/Roaming` and list files there with `dir` command?

[2016-06-02 20:29] agilob commented on #3313
That was easy thing do to when I was working on qTox, shouldn't change too much. Just disable css loading for everything else than friendwidgetlist. It will look disgusting, trust me...

[2016-06-03 02:24] Yetoo1 opened #3347 "sqlcipher Makefile:673: recipe for target 'sqlite3.lo' failed make: *** [sqlite3.lo] Error 1"
I am trying to build sqlcipher from source using the instructions and I get the error:
Makefile:673: recipe for target 'sqlite3.lo' failed
make: **\* [sqlite3.lo] Error 1
When I make it. I've read that it is an openssl issue, but I need more information. I tried to make this with Debian jesse 8.4.

To reproduce this...
1. Have my distribution
2. follow the instructions
3. see how the make doesn't

[2016-06-03 09:46] zetok commented on #3347
Can't reproduce, given that instructions state to add backports, in which sqlcipher is provided..?

Is there a reason to manually compile sqlcipher on Debian?
If so, wouldn't that be a sqlcipher issue?

[2016-06-03 14:09] alugarius opened #3349 "qTox self-contained (portable) Like The Tor Browser"
Discussion about making qTox portable again! --Tronald Dump

Static binary isn't working. Finding solution or alternative! ( example software that doesn't need installation, to inspire: Blender.org, ricin.im, uTox.org, and TorBrowser. www.torproject.org/projects/torbrowser.html.en

Today common software is easy to run for a reason: more normal users are using Ubuntu and Co...  they never used a Te

[2016-06-03 15:20] tux3 commented on #3349
Hello, we're working on getting the static portable builds of qTox working again.

You can download the latest experimental builds here:
Linux 64-bit: https://build.tox.chat/view/qtox/job/qTox_build_linux_x86-64_release/lastSuccessfulBuild/artifact/qTox_build_linux_x86-64_release.tar.xz
Linux 32-bit: https://build.tox.chat/view/qtox/job/qTox_build_linux_x86_release/lastSuccessfulBuild/artifact/qTo

[2016-06-03 16:13] tux3 commented on #3339
Note that it's "tox" and not "Tox". It's wildly inconsistent when Windows paths are case-sensitive or not, but please try with the correct path.

And seconding what @agilob said.

[2016-06-03 16:14] alugarius commented on #3349
How about trying other methods, it don't have to be in one file, like uTox, it can also use appimage or be like blender ( blender only needs the glib and has python and other stuff in a data folders/ the binaries are next to the folders ).

[2016-06-03 16:19] ddobrev commented on #2726
@zetok the maintainers of toxcore have closed https://github.com/irungentoo/toxcore/issues/1486 as invalid, they say handling messages is up to the clients, not to the core.

[2016-06-03 16:23] alugarius opened #3350 "feature request: desktop record area select"
Not so important but a nice feature that uTox has, selecting the desktop  area I want to set as video ( hiding sensible data)

[2016-06-03 16:28] zetok commented on #3350
Duplicate of #3303, thus closing.

[2016-06-03 16:28] #3350 closed, assigned to nobody

[2016-06-03 16:46] alugarius commented on #3303
uTox has this feature, qTox uses ffmpeg I guess?

[2016-06-03 18:00] 0xC4N1 commented on #3339
Sorry for the delay. Didn't notice the first reply.

Didn't think of that since Windows paths are not case-sensitive and the profile was found at the login page. I will give it a try when I get home and paste the result of the dir command here if it doesn't help.

[2016-06-03 18:19] alugarius commented on #3349
I'll test the bin if my phone is charged, ....the socket needs a home

[2016-06-03 19:11] 0xC4N1 commented on #3339
Alright I've checked the Tox folder in %appdata% and it actually is capitalized. I've tried to rename it and create the sym link again in lower case but that didn't change anything in behavior. The log file isn't different either so I've reverted the changes.

I've also tried to create the sym link with a new name so qTox created another ini file when it was started. There have been even more back

[2016-06-03 19:58] alugarius commented on #3349
![utox runns](https://cloud.githubusercontent.com/assets/16763352/15791190/172f2494-29d6-11e6-920f-23367ab03a14.png)

uTox<(They see me workin' they hatin'!)
wayland says nope

[2016-06-03 20:06] agilob commented on #3339
What if you do:

[code]

It looks like something is unable to handle the slash in directory.

Anyway, the bug mentioned in source code is fixed now in Qt 5.5.0:
https://bugreports.qt.io/browse/QTBUG-38845
so the hack around QDir::cleanPath should be fixed.

Can't reproduce on Linux.

[2016-06-03 20:21] 0xC4N1 commented on #3339
same result.

qTox says it's using Qt 5.5.1

[2016-06-03 20:54] alugarius commented on #3349
libwayland-egl.so.1 is it called ,
@tux3 do u want to fix ore want to keep going ? ^^

well, it got much better! It works perfect on ubuntu class systems ( fedora, suse should work, this tests come later! to prove)

[2016-06-04 09:58] tux3 commented on #3349
@alugarius If you don't have wayland support installed, it sounds like a bug with your distribution. I could try removing wayland support, but then it would break for people who use wayland...

Do you have the libwayland-egl1-mesa package installed?

Using AppImage or something similar could work yes, that's not a bad idea at this point.

[2016-06-04 12:00] SkyzohKey commented on #3349
@tux3 if you want to build app images for each commit, here's the script AppImage's creator made for Ricin → https://github.com/RicinApp/Ricin/blob/master/appimage.sh

It shouldn't be hard to modify to fit qTox i guess, else you'll have to ping [probonopd](https://github.com/probonopd).

[2016-06-04 12:53] antis81 commented on #2443
Closing -> The input level metering widget no longer exists.

[2016-06-04 12:53] #2443 closed, assigned to nobody

[2016-06-04 13:32] 0xC4N1 commented on #3339
I've done the last step that agilob suggested again with a different file. This time I could sign in with it.

[2016-06-04 14:44] alugarius commented on #3349
@RazZziel can also help, he is an pro in adding software to appimage!
He made portablelinuxgames.org and I worked with him years ago!

[2016-06-04 15:30] antis81 commented on #2631
This is correct behavior by design. By default (e.g. when qTox is started for the first time), audio (and video) is simply disabled and has to be enabled in settings.

Actually it is not possible to start an audio call without both a configured audio input and output device. Thus, the audio call button in chat window should be disabled in this case and provide a visual hint (probably an overlay ic

[2016-06-04 17:53] zetok commented on #2631
No, it isn't correct behaviour. When qTox is started for the first time, it should try to use available video & audio input when user makes a call.

Going into settings is justifiable only when user doesn't want a/v input to be used by qTox, or wants to choose different a/v device for a/v input.

[2016-06-04 18:46] sudden6 commented on #3324
@gorthad1534 @yurivict @Getron please provide the `qTox.log` where this happens and the output of `v4l2-ctl --all` .
Most likely an incompatible videoformat is selected.

[2016-06-04 19:05] sudden6 commented on #3314
I understand your point clearly, but I'm very much against creating the false security provided by a password to unlock qTox. Because AFAIK this can't be done in a secure way.

I think a button/shortcut to move some "curtains" over the qTox window and disable all popups would suit your described use case and make the user realize that this is only to avoid accidentally showing private stuff.

[2016-06-04 19:12] yurivict commented on #3324
qtox.log:

[code]

I don't think FreeBSD has v4l2-ctl.

[2016-06-04 19:33] sudden6 commented on #3315
I looked into this, and it seems that the emoticon pack we use doesn't provide a "closed mouth smiley", most similar I could get was https://github.com/tux3/qTox/blob/master/smileys/Universe/1f600.svg which I think is better, but also no quite right IMHO.

Any ideas on this?

[2016-06-04 19:40] sysfu commented on #3072
On the current build, the tray icon is now showing up in the wingpanel notification area.

You cannot restore the application once minimized or closed to the tray icon, however you can set online status and logout/exit.

[2016-06-04 19:54] alugarius commented on #3349
@SkyzohKey ,Thanks for helping! We need to work together, all client developers!
I don't have Wayland installed, I tested it on Slacko Puppy Live. It has nothing to do with Wayland!

I have no issues on ubuntu! Apropos, could qTox or uTox work on ubuntu phone (desktop mode?)

even Qt itself is downloadable as an offline installer (self contained) there HAVE to be a way, else i cant really use it!

[2016-06-04 20:25] antis81 commented on #2126
Should be fixed now by a sane input gain implementation. Thus, closing.

[2016-06-04 20:25] #2126 closed, assigned to nobody

[2016-06-04 20:31] antis81 commented on #3254
@159PlaysGames AFAIK you should be able to upgrade qTox to at least v1.4 now. Can you provide a short feedback please? Closing.

[2016-06-04 20:31] #3254 closed, assigned to nobody

[2016-06-04 20:35] agilob commented on #3339
But there is a hack around the fixed bug, and apparently the hack is buggy, but it's safe to remove the hack now and use standard Qt implementation.

[2016-06-04 20:41] antis81 commented on #3125
@borrougagnou Changed title to what this issue is about. Can you please provide some feedback, if device names are still in another language for you?

[2016-06-04 21:04] antis81 commented on #2788
@TheNain38 Closing, since the issue lacks urgent information and is otherwise not reproducible. I just fired up two qTox instances on debian and they behave quite friendly with each other. I do not have a Win8.1 version available to test. In case this behavior still exists, feel free to reopen. To proceed, we either need a core dump or at least the log to be able to investigate further on this.

A

[2016-06-04 21:04] #2788 closed, assigned to nobody

[2016-06-04 21:14] antis81 commented on #2469
Duplicate of #2422. @alexeysvrv Btw. input gain can now manually be controlled via digital amplifier from -30 to 30dB in latest qTox version - no automatic normalization, but far better than before.

[2016-06-04 21:14] #2469 closed, assigned to antis81

[2016-06-04 21:24] antis81 commented on #2216
@raver119 Is this still valid? Because volume control improved in qTox and to me it is loud enough.

@zetok Is the recording of the sounds normalized?

[2016-06-04 21:27] antis81 commented on #2012
Closing -> this issue is outdated no longer valid. A lot has changed in audio handling. @TheSpiritXIII If you still experience problems here, feel free to reopen.

[2016-06-04 21:27] #2012 closed, assigned to nobody

[2016-06-04 21:30] antis81 commented on #1651
Closing -> Issue is outdated and no longer valid. @PKEv Feel free to reopen, if you still experience this problem.

[2016-06-04 21:30] #1651 closed, assigned to nobody

[2016-06-04 21:33] antis81 commented on #1622
Duplicate of #2459 -> closing

[2016-06-04 21:33] #1622 closed, assigned to nobody

[2016-06-04 21:57] antis81 commented on #2925
@Aalexeey Does qTox crash or does it "hang" after you chose a video device? I'm asking because I had this behavior with a certain camera device. Current version (1.4+) works for me.

[2016-06-04 22:26] zetok commented on #2216
Probably not.

Notification sound seems to be now louder, but it's still not loud enough in some cases. The use case is hearing notification sound even when e.g. music is playing – with quieter tracks I can hear notification sound quite well, but there are tracks during which I don't hear notification sound at all.

E.g. with https://www.youtube.com/watch?v=kIF-Qectwfs I can't hear notification so

[2016-06-04 22:43] zetok commented on #2726
Probable cause of problem:

[code]

![messages](https://cloud.githubusercontent.com/assets/3148759/15802536/62d49aaa-2aad-11e6-87e5-8d679694bd1c.png)

[2016-06-04 22:48] ddobrev commented on #2726
@zetok excellent news. I hope this is indeed the cause. In such a case would you have any idea in what time we should expect a fix?

[2016-06-05 00:15] antis81 commented on #2216
Which leads us directly to #2459 … ^^

IOW: Selecting the "none" audio device disables audio output for both notification sounds and calls - and this messes everything up. We need to strictly separate en-/disable audio output and the available devices. Btw. OpenAL automatically falls back to the system's default device, when opening a _null_ device. You probably want to have a look at my latest PR

[2016-06-05 01:27] SkyzohKey commented on #3314
Or you can simply use your OS built-in lock system. Way more secure/reliable than custom code.

[2016-06-05 04:39] zetok commented on #2726
@ddobrev when someone will fix it.

[2016-06-05 04:51] zetok commented on #1651
@antis81 um, just a note: when one doesn't have write access to repo on github, they can't reopen issue closed by one of maintainers.

[2016-06-05 05:00] zetok commented on #3314
@SkyzohKey it's not about security, but about convenience. Also, how do you use OS stuff to lock windows of a single program?

[2016-06-05 06:48] alexeysvrv commented on #3194
@antis81 I propose to use instead OpenAl - Speex. This codec was developed by the GNU Projects. It uses the free license and provides high sound quality speech. It is specifically optimized for voice transmission. https://en.wikipedia.org/wiki/Speex

[2016-06-05 07:26] #3194 closed, assigned to nobody

[2016-06-05 07:32] zetok commented on #2758
Note: the issue is reproducible on clean install on Debian 8 – i.e. qTox does have now login window, it is translated, but qTox doesn't choose default system language.

Edit: with qTox 1.4

[2016-06-05 07:58] antis81 commented on #3194
@alexeysvrv Speex homepage refers to the Opus codec - which is actually already linked in qTox. The codec itself cannot replace OpenAL, as it doesn't handle audio devices. Similar to filter_audio it solely operates on the data buffers. This points to the right direction anyway, because in conjunction with RtAudio, it looks like an excellent deal.

[2016-06-05 08:42] RowenStipe commented on #3349
As someone who has used OS X's `.app` application format and and recently discovered [`.appimage`](http://appimage.org/) (further reading [here](https://github.com/probonopd/AppImageKit/wiki) ) I really like @SkyzohKey 's idea of creating such a format so that someone could potentially load qTox onto a USB drive in portable mode and use it across multiple different Linux distributions. And as such

[2016-06-05 10:30] alexeysvrv commented on #3194
@antis81 RTAudio- proprietary technology. This is not a free alternative to OpenAL. It has created a Microsoft

[2016-06-05 10:49] alexeysvrv commented on #3194
@antis81 What are the other options?

[2016-06-05 11:07] zetok commented on #3343
@Sofapriester does µTox use same video resolution as qTox?

[2016-06-05 11:27] zetok commented on #3177
My guess would to to just use distro/DE/wm that is not broken..

Debian 8 Mate works.

[2016-06-05 14:58] sudden6 commented on #3177
I did some testing with a fresh Ubuntu 16.04 Release (Unity) and the tray icon works as expected there.

[2016-06-05 14:58] alugarius commented on #3349
@RowenStipe
An automatic script that compiles qTox with all depencies and packs it to appimage! Thanks to simple_make.sh its possible!

[2016-06-05 15:00] sudden6 commented on #3337
I would place it on top of the list, minimized the chance to accidentially click "Logout" or "Exit".
Also I think we shouldn't activate this globally, since at least for KDE the normal way to open programs from the tray is a single left click.

[2016-06-05 15:06] sudden6 commented on #3343
@Sofapriester Can you check if the high cpu load persists with a lower resolution.

[2016-06-05 15:09] alugarius opened #3354 "simple_make.sh"
APT:
on Ubuntu 16.04 the command for installing is normaly "sudo apt install <package>" ( this is the new APT, it runns faster(and looks nicer) )
it still supports "sudo apt-get install <package>" but i suggest to change this script to lookup if "apt" is there and uses this and if not then "apt-get"
![apt](https://cloud.githubusercontent.com/assets/16763352/15806280/517fd72c-2b40-11e6-9b50-cac4ea7

[2016-06-05 15:36] ghost commented on #3013
I am now running Ubuntu GNOME 16.04 with GNOME 3.20 and the "Japanese (Anthy)" input source works, except for one small problem, when I type the `Type your message here...` text does not disappear and stays underneath. Is there a report already filed on that (I'm sure I've seen something around)?

[2016-06-05 15:42] ghost commented on #3230
I am running Ubuntu GNOME 16.04 with GNOME 3.20 and I experience this issue with the latest version of qTox (`1.4.0-116-ga77afca-1`) and the "Japanese (Anthy)" input source.

[2016-06-05 15:44] ghost commented on #3013
Never mind, I found it: https://github.com/tux3/qTox/issues/3230 Shall this report be closed now?

[2016-06-05 17:50] antis81 commented on #3194
Looks like there's two similar libs. What I'm talking about is [RtAudio](https://www.music.mcgill.ca/~gary/rtaudio/) and it is not a codec, but an API for managing and streaming to audio devices. This is completely open source with an MIT derivative (you find source and license linked on their website). The codec OTOH is required, to be able to process audio buffers (compression, echo compensation

[2016-06-05 18:25] antis81 commented on #1651
Ok, thanks. Forgot about that. So… @PKEv If this is still an issue for you, feel free to comment and I will reopen. :)

[2016-06-05 18:37] alexeysvrv commented on #3194
@antis81 I understood. Thank you for the explanation) When to start implementing?

[2016-06-05 19:47] Sofapriester commented on #3343
@sudden6 I tried it...but it seems not to work as expected. The thing is, that the resolution is automatically set to 720p...obviously I cannot change it reliably! Anyways...

Here my observation:

`720p video output my computer | 480p video input from other pc`
-> CPU load:
![qtox_cpu_hd](https://cloud.githubusercontent.com/assets/5677419/15807767/599852ec-2b66-11e6-846e-43d46998c057.PNG)

`480p

[2016-06-05 22:41] ProMcTagonist commented on #3315
Switch to [Emojione](http://emojione.com/developers/)?

I extracted their svg download into a folder, added the emoticons.xml from Universe, and it just werked.

![emojione](https://cloud.githubusercontent.com/assets/4358079/15808671/a16a2f70-2b32-11e6-9d2f-a09a23098c45.png)

There's a closed-mouth smiley, and their cat is also much cuter than Twitter's abomination that's currently in use, which i

[2016-06-06 01:15] ProMcTagonist commented on #3354
No. Apt is not for scripting.

[code]

[2016-06-06 01:58] ProMcTagonist commented on #2195
@Getron Multi-device is "sort-of" working in a developer preview branch right now, and will be coming to qTox soon.

[2016-06-06 05:08] sudden6 commented on #3315
@ProMcTagonist They indeed seem to look better, I'll look into into them.

[2016-06-06 08:58] newnym opened #3355 "Unlock the file if the upload/download failed, so user can delete it. Also, add "retry" button for upload action."
You are using qTox version v1.4.0-101-g2cd35e1.
Commit hash: 2cd35e17360dd1a9b66f0eb5d0ed163c1903895b
toxcore version: 0.0.0 Qt version: 5.5.1
W7 x64
1. Open contact chat window.
2. Drag-n-drop files.
3. qTox failed to upload big file(receiver side's qTox show downloads in "red square".)
   4.

Expected:
Sender can terminate or retry uploading by pressing the "retry" button or something.
Receiver

[2016-06-06 09:00] newnym opened #3356 "Multiple upload at once"
You are using qTox version v1.4.0-101-g2cd35e1.
Commit hash: 2cd35e1
toxcore version: 0.0.0 Qt version: 5.5.1
W7 x64

Expected:
When I drop multiple files to chat window, I expect sending them at once.

Actual:
qTox send files one by one...

[2016-06-06 09:01] newnym commented on #3323
Same here, still v1.4.0.
Any updates?

[2016-06-06 09:09] newnym opened #3357 "[How?] Add "Friendly Network Peer""
I have 2 PCs. Both are running qTox with restrictive firewall.
Currently, both PCs connect to the internet via Tor.

A--->Tor--->B

If I could add B's IP:PORT(which is qTox listening port, if exist. And changing B's PORT will be gr8) to A, it will be

A=====>B

and this will greatly improve my file sharing speed.
So, how can i do it?

My Strict firewall rule(i can't):
1. I accept only TCP connecti

[2016-06-06 09:10] newnym commented on #3357
- absolutely no uPNP support. Just allowing plane TCP with acceptable port.

[2016-06-06 09:11] #3354 closed, assigned to nobody

[2016-06-06 09:37] siejan opened #3358 "CXXABI_1.3.8 not found"
OSs Tried:
- Linux Mint 17.1 x64 (Ubuntu 14.04.1 LTS, jessie/sid)
- Linux Mint 17.3 x64 (Ubuntu 14.04.3 LTS, jessie/sid)

Last few 'qtox' nightly releases (latest I tried was 644-792103f) from pkg.tox.chat/debian have this problem for me. qtox-qt5.4.2 package works. Anyone else have this problem?

[2016-06-06 11:12] TheNain38 commented on #2788
It's not reproducible on latest master, so, it's fixed

[2016-06-06 11:46] zetok commented on #3358
Use the right repo: https://software.opensuse.org/download.html?project=home%3Aantonbatenev%3Atox&package=qtox

[2016-06-06 11:48] LittleVulpix commented on #3356
@newnym this is a toxcore "feature". Only one transfer to a single contact in one direction. (meaning you can download and upload to/from one person, and also upload to multiple people at the same time, but not multiple uploads to a single person).

Not up to qTox. If you want to change this behavior, log a ticket with toxcore ( https://github.com/irungentoo/toxcore ). Thanks!

[2016-06-06 11:53] zetok commented on #3357
You can't. That kind of stuff isn't supported by toxcore. With that being said, toxcore tries to automatically connect to peers on LAN.

Working around your internet setup doesn't seem like a good idea. You should either adjust your firewall rules so that qTox could connect directly automatically, or use it as it is.

Thus, closing.

[2016-06-06 11:53] #3357 closed, assigned to nobody

[2016-06-06 11:57] zetok commented on #3356
Duplicate of #1693, thus closing.

Related: #1702, #3274

[2016-06-06 11:57] #3356 closed, assigned to nobody

[2016-06-06 14:12] DX37 opened #3359 "Voice becomes antsy and ragged when making a group voice call"
##### Brief Description

When creating group and only two people talks, voices sounds pretty good. But when in voice call talks more than two people (in my case - three humans), voice becomes antsy and ragged.

OS: Windows 10 (my friends have Linux installed and they have this issue too)
qTox version: v1.4.0-117-g792103f
Commit hash: 792103f
Qt: 5.5.1
Hardware: ASUS T200TA

Reproducible: Always
##

[2016-06-06 16:22] antis81 commented on #2788
@TheNain38 Thanks for the feedback.

[2016-06-06 18:00] ProMcTagonist commented on #3356
I'd like to note that parallel file transfers mean you're left with several unusable files in the event of network failure, whereas serial transfers give you a much higher chance of having at least a few whole files.

[2016-06-06 19:30] siejan commented on #3358
Might need to update the wiki and the site:
https://wiki.tox.chat/Binaries#debianubuntu
https://tox.chat/download.html#gnulinux

[2016-06-06 20:53] zetok commented on #3358
@siejan that's a tox.chat wiki and website, you might want to ask them to update their stuff. I would have updated their wiki, but they have removed my account long time ago…

And qTox has its own website: https://qtox.github.io/ – it does point to the right repo ;)

[2016-06-06 22:29] zetok commented on #3359
@antis81 #3309 would help with this, right?

[2016-06-06 22:33] dcapeletti opened #3361 "Sending the message to users offline"
Hello,
I would propose that tox can send messages to the recipient even if not connected. To do this the user must choose a server from a decentralized network that makes shipping by when the recipient is connected.
Use decentralized servers to shipping can be a good solution for the freedom of users and network. XMPP for example, sending the message to the recipient is done when connected. I thin

[2016-06-06 22:34] zetok commented on #2594
On a77afca1ec8f86cda68fe7ba853f7e4d854c346f doesn't work for me under i3wm on Gentoo.

[2016-06-07 07:40] siejan commented on #3358
I didn't realise there had been a divergence. Is there any outstanding security issues for those who have been using pkg.tox.chat? I only ask due to the other issues that occured earlier this year.

[2016-06-07 08:09] zetok commented on #3358
Nah, it's just that packages on tox.chat lack proper maintenance, so they don't work. In addition, getting useful info for debugging from tox.chat packages is not something easily doable.

Also tox.chat lies to people that there are no qTox builds for osx and some *buntu versions, which is rather annoying, but oh well.

The point about *buntu packages [might be fixed in a few weeks](https://github

[2016-06-07 16:36] LittleVulpix opened #3362 "qTox updater on windows behaves strangely"
##### Brief Description

OS: Windows (any version)
qTox version: 1.3.0 -> 1.4.0 / 1.4.1

Reproducible: Always
##### Steps to reproduce
1. Have qTox 1.3.0. Desktop icon (created by the installer) looks like this:
   ![Imgur](http://i.imgur.com/aqb946B.png)
2. Start qTox (using the desktop icon), it'll prompt for update to 1.4.1. Accept it, wait for it to download
   The qTox folder looks like this

[2016-06-07 19:12] sudden6 commented on #3355
You are right, qTox should unlock files on failed transfers. In the meantime you can close qTox and the file can be deleted.

Adding a retry button would be a good idea.

[2016-06-07 21:00] ddobrev commented on #3158
Any progress on this? It's really annoying on OS X, makes qTox borderline unusable. Has at least the reason for it been confirmed?
If this is of any help, a friend says it gets back to normal for a while after restarting it.

[2016-06-07 22:06] antis81 commented on #3359
@zetok Not really. #3309 only removes some dead code, plus cleaning up related code. Though I did not measure any bandwidth or buffer usage, my guess is, that the "noise" is a result from 16-bit at 48kHz sampling rate. In short: A lot of bandwidth is used for streaming of raw audio data alone. Plus, every participant streams to a single buffer, which probably messes up the order and/or may drop fr

[2016-06-08 00:57] DX37 commented on #3359
One moment - voices can be heared. I hear it, but sounds like the voice track is losing it parts with static period.

[2016-06-08 05:33] alexeysvrv commented on #3359
@antis81 I fully support you! You have to start implementation

[2016-06-08 05:57] zetok commented on #3359
Well, like with all the stuff, the better it works, the higher chances :)
Opus is linked since that's what toxcore uses for audio.

Why not. I.e. there's no problem with starting something, but as usual for merge into master it would have to work + have docs about dependency change(s).

[2016-06-08 06:13] zetok commented on #3158
Huh. I might have experienced something similar with KDE4 stuff. (never with stuff based on Qt5). The keystrokes were dropped only when repeating them,and then, after some typing "missing" keystrokes were being added instead of other character that was typed.

That behaviour was was caused by me overriding the settings that KDE had with xorg settings for how many times character should be repeated

[2016-06-08 07:43] ddobrev commented on #3019
Fellows, you have my gratitude for the automatic builds for OS X. Now that they have been merged, please close this issue.

[2016-06-08 10:32] #3019 closed, assigned to nobody

[2016-06-08 10:57] zetok commented on #661
No response for over a month, assuming it was fixed, thus closing.

[2016-06-08 10:57] #661 closed, assigned to nobody

[2016-06-08 10:59] zetok commented on #2326
No response for over a month, assuming it was fixed, thus closing.

[2016-06-08 10:59] #2326 closed, assigned to nobody

[2016-06-08 11:00] zetok commented on #2471
No response for over a month, assuming it was fixed, thus closing.

[2016-06-08 11:00] #2471 closed, assigned to nobody

[2016-06-08 11:00] zetok commented on #2499
No response for over a month, assuming it was fixed, thus closing.

[2016-06-08 11:01] zetok commented on #2506
No response for over a month, assuming it was fixed, thus closing.

[2016-06-08 11:01] #2506 closed, assigned to nobody

[2016-06-08 11:02] zetok commented on #2747
No response for over a month, assuming it was fixed, thus closing.

[2016-06-08 11:02] #2747 closed, assigned to nobody

[2016-06-08 11:05] zetok commented on #3078
Needed info not provided for over a month, thus closing.

[2016-06-08 11:05] #3078 closed, assigned to nobody

[2016-06-08 11:11] zetok commented on #3140
Hm, looks like I've misunderstood – i.e. it's not about qTox executable, but any at all, right?

If you call `.exe` from qTox by clicking on its file transfer, it should be launched, rather than some `.lnk` file.
Is the issue about qTox launching a `.lnk` even though it received/sent an `.exe`?

If not, I think that I'm not seeing the issue.

[2016-06-08 11:22] sudden6 commented on #3359
@antis81 I'm also in with this.

[2016-06-08 11:31] PKEv commented on #3140
Yes, about qTox launching a .lnk file

[2016-06-08 11:43] sudden6 commented on #3346
this basically comes down to #2921

[2016-06-08 11:44] #3346 closed, assigned to nobody

[2016-06-08 14:45] NicoHood commented on #2471
I think I missed that. The issue is fixed now (on new installations, not my current install), thanks.

[2016-06-08 15:42] DX37 commented on #3362
Maybe it's old _qtox-updater.exe_ version? I think it builds separately from original qTox binary.
UPD: And if user updating to new qTox version, I think we need to update _qtox-updater.exe_ too.

[2016-06-08 17:20] zetok commented on #3362
[code]

[2016-06-08 20:55] #3212 closed, assigned to nobody

[2016-06-09 07:41] ovalseven8 commented on #2499
I have just tested the "new" community builds. Unfortunately, the problem is not solved yet.
Please reopen.

[2016-06-09 07:56] ovalseven8 opened #3369 ""Quote selected text": Problems with different time zones"
First of all thanks to @fazotron for the cool new feature, well done! :+1:

However, I have something to add.
I am not sure if I really like the automatic quote with timestamps because of the following reason:
If you are writing with a person from a different time zone the time is just wrong for the person who gets the quoted message.

There are two possible solutions how to "solve" this:
- When y

[2016-06-09 09:07] ProMcTagonist commented on #3369
You're copying the message you received, which includes the time you received it.

I don't see the problem for normal conversation. My conversational partners aren't thrown off by knowing I'm in a different time zone. And most people don't know how to read UTC.

Sometimes I clear timestamps for privacy but that's a separate thing.

[2016-06-09 11:49] fazotron commented on #3369
Thanks for testing new feature @ovalseven8!

The problem you have described is common for any groupchats.
About your proposed solutions:

As for me, it will be a little bit weird and uncomfortable to convert from UTC to local time in mind every time I read somebody's quote.

However, there is ability to quote text without timestamp now - just don't select a timestamp. Yes, in this case username wi

[2016-06-09 18:27] alugarius commented on #3349
QTox works on suse, I could not test fedora . It crashes in vm with gnome blue screen (open source windows?)
Whatever. No other problems with qTox portable so far.

[2016-06-09 23:19] b4n commented on #1033
Okay, I found out why the setting isn't properly kept.  It's because `AVForm::videoModes` contains the whole list of video modes supported by the camera (set to `CameraDevice::getVideoModes(devName)` in `AVForm::updateVideoModes`), but the combo box is only filled with a few "best" modes, but `AVForm::videoModes` is indexed using the combo box's index in `AVForm::onVideoModesIndexChanged()`.  So i

[2016-06-09 23:40] b4n commented on #1033
Hum, basically my preferred solution would be reverting f595f4f81715bb305827c93e9a16c838558fda53 I guess :)
See #2867

[2016-06-09 23:51] b4n commented on #1033
Opened #3371 just fixing the setting.

[2016-06-10 05:55] DX37 opened #3372 "Update qTox Windows version building manual"
But CMake adding exists in **Setting up PATH**.
https://github.com/tux3/qTox/blob/master/INSTALL.md#setting-up-path

[2016-06-10 06:42] zetok commented on #3372
It's not provided with one of those? Or Qt toolchain that is supposed to be optional?

[2016-06-10 06:53] DX37 commented on #3372
It's not exists in MinGW or Qt basic installation. But I deselect MinGW 4.9.2 in Tools, as described in docs.

[2016-06-10 07:15] DX37 commented on #3372
Well... OpenAL got updated from 1.16.0 to 1.17.2 and FFmpeg from 2.7 to 3.0.2.
Maybe it's time to update Windows building manual? And I notice, what after [Getting dependencies](https://github.com/tux3/qTox/blob/master/INSTALL.md#getting-dependencies) nothing listed what to do after it. Exactly what you should run to build qTox.

[2016-06-10 07:28] DX37 commented on #3372
Found gcc in _Qt for Desktop 5.6 (MinGW 4.9.2)_, WTF.

[2016-06-10 07:53] DX37 commented on #3372
Well... It's getting errors when I try to get and compile dependencies with original manual. Now I try to install MSYS2 and MinGW64.

[2016-06-10 08:23] zetok commented on #3372
Sure. Instructions in there are supposed to be for something that worked. With that in mind, there has to be someone who would write & test newer instructions – note that out of qTox maintainers currently only @tux3 uses windows to test qTox. Dunno though if he even compiles qTox on windows..

If instructions for windows need to be updated, PRs would be very welcome.

[2016-06-10 08:28] DX37 commented on #3372
Maybe I will do this...
At this moment I downloading Qt 5.6.0 in MSYS2. It's already have compiled openal and ffmpeg in it's repos. I will test that.

[2016-06-10 09:04] ddobrev opened #3373 "Remove auto-underlining of text surrounded by dashes"
##### Brief Description

Many natural languages - including English - use pieces of text surrounded by dashes ('-') to indicate additional information, or emphasis. qTox automatically underlines text between dashes which makes the sent message look unnatural.

OS: Windows / OS X / Linux
qTox version: v1.4.1-1-g06d78dc
Commit hash: 06d78dcdee7bfe9a320fe91662f34227d74c3916
toxcore: 0.0.0
Qt: 5.5.1

[2016-06-10 10:31] DX37 commented on #3373
It's exist here:
![2016-06-10_16-29-37](https://cloud.githubusercontent.com/assets/12829428/15961803/b1943946-2f28-11e6-9535-7d4c9ca818f2.png).

[2016-06-10 12:26] ddobrev commented on #3373
@DX37 thank you, it works. I had seen the setting but I could not immediately understand what it's for.

[2016-06-10 12:26] #3373 closed, assigned to nobody

[2016-06-10 12:46] ddobrev commented on #2836
It's been almost 5 months since I filed this bug, could you please at least comment? I understand it's not as important as, say, https://github.com/tux3/qTox/issues/2726 but it really decreases usability on OS X. I think this has become even more important to the project now that you have added automatic builds for OS X and consequently more people are going to use qTox on that OS. Furthermore, wh

[2016-06-10 13:33] DX37 commented on #3372
I give up for now. I've got fully generated dependencies from manual, but I can't compile qTox. `qmake` behavior is strange, `make -j4` fails with error:

![2016-06-10_19-32-06](https://cloud.githubusercontent.com/assets/12829428/15965874/312d6498-2f42-11e6-8a32-e05463493b4b.png)

SQLCipher is not exist in MSYS2 repos.
**How do you building qTox for Windows from [build.tox.chat](https://build.tox.

[2016-06-10 13:58] zetok commented on #3372
From a better OS, cross-compiling.

[2016-06-10 14:18] Plinz commented on #1655
It could be a good solution to use a free package like Oslec or Speex ?
Because for me the soft is useless, I can't have a discussion without a horrible echo.

[2016-06-10 15:18] DX37 commented on #3372
Well, I have Linux too. And I compiling `qtox-git` on it and it works well.

[2016-06-10 15:54] DX37 commented on #3372
Just tested MinGW toolchain from Qt 5.6.0 - sometimes it pauses at compiling and not continue before.

[2016-06-10 16:44] zetok commented on #3373
@ddobrev https://github.com/tux3/qTox/blob/76239aa8906d478a59b29eeed764ca4e4f662444/doc/user_manual_en.md#message-styling :P

[2016-06-10 16:49] ddobrev commented on #3373
@zetok Thanks. :) Still, I think it would be nice if some other character was used for underlining. For example, making bold and italic could only work with \* so that _ is free to use for underlining (it's an "under"score, after all :) ). This way people would be able to use formatting while still retaining the proper function of the basic punctuation mark the dash is.

[2016-06-10 21:28] ProMcTagonist commented on #3373
The current characters are annoying, we should use @Skyzohkey's which are intuitive

[2016-06-10 21:52] zetok commented on #3373
If you say so.

The only issue I see is that doing something that is not markdown would be venturing outside of what little standards there are.. Are we sure that it's worth it?

![standards xkcd](http://imgs.xkcd.com/comics/standards.png)

[2016-06-11 10:07] d-damien commented on #3358
@siejan : I just installed package qtox-qt5.4.2 on Linuxmint 17.1 and it seems to work fine.

[2016-06-11 11:09] #3358 closed, assigned to nobody

[2016-06-11 13:58] Talkless commented on #3372
I am too struggling to build on Windows. After some addition to INSTALL.md, still something is missing.

Here's bootstrap.bat output: https://gist.github.com/Talkless/a78b687d9492fe99be39541ff46a31a3

Some interesting parts:

[code]

at line [162](https://gist.github.com/Talkless/a78b687d9492fe99be39541ff46a31a3#file-bootstrap_bat_output-txt-L162)

Also this compilation error:

[code]

at line [52

[2016-06-11 14:31] DX37 commented on #3372
I have exactly the same output while build.

[2016-06-11 17:26] Chiitoo commented on #3373
I'm not sure why, perhaps due to IRC, but I've come to terms with /slashes/ being italic, *asterisk* bold, and _underscores_ underlining.  I have no idea if it's part of any standard,  I imagine this practice mostly came to be in e-mail and such.

I've never bumped into the (github flavoured or not) markdown syntax before qTox, really, and it feels very “wrong” and unintuitive.  That may simply be

[2016-06-11 17:48] alugarius commented on #3349
If the qTox binary continiue the work like it does now, I could replace uTox

[2016-06-11 17:56] felix-salfelder opened #3374 "can't build from git on debian"
i am trying to build from git. it seems the dependency checking is broken (bug?). here's the details.

[code]

i get

[code]

this does not seem right. i have

[code]

and

[code]

now, although this might be a qmake issue... i can not figure out what qmake is actually looking for. or, to put it differently, i have no idea, what "all of them [dependencies]" means, expecting that qmake should tell

[2016-06-11 18:41] #1033 closed, assigned to tux3

[2016-06-11 18:45] sudden6 commented on #3374
qmake uses pkconfig to look for dependencies, maybe it's missing? What version of debian are you running?

[2016-06-11 19:00] #2308 closed, assigned to nobody

[2016-06-11 19:11] felix-salfelder commented on #3374
thanks! indeed, qmake runs `pkg-config --exists gtk+-2.0`. maybe i should have used the verbose switch (but I could not find any) `:/`.

updating pkg-config...

[code]

still no luck with qmake, then

[code]

and

[code]

for other packages, pkg-config works better... i will figure that out.

FTR, qmake _does_ tell me what's wrong, but only if i knew in advance:

[code]

(not a qTox problem)

[2016-06-11 19:11] #3374 closed, assigned to nobody

[2016-06-11 19:38] felix-salfelder commented on #3374
interesting question. i don't really care, but apparently one with a bug in libgtk2.0+-dev.

digging deeper, i found that qmake is hiding this:

[code]

which _might_ be a bug in qTox (not telling qmake to error out properly). but i'm not a qmake user (lucky me), and i don't know if this is even possible. will be back with a PR, as soon as I know.

anyway, after an upgrade

[code]

the command `pk

[2016-06-11 22:36] #3245 closed, assigned to nobody

[2016-06-12 05:14] redbearsw opened #3377 "Can't see video on OS X"
##### Brief Description

OS: OS X (El Capitan)
qTox version: v1.4.1.1
Commit hash:  06d78dcdee7bfe9a320fe91662f34227d74c3916
toxcore:  0.0.0
Qt:  5.6.0
Hardware: MacBook Air, Early 2014

Reproducible: Always
##### Steps to reproduce
1. log in
2. start video call with someone
##### Observed Behavior

Can't see other person when in a video call, only get the icon of the gray person. Settings have vi

[2016-06-12 07:15] #3187 closed, assigned to nobody

[2016-06-12 07:15] zetok commented on #3136
Fixed in 108cb32ce73fe06c4a3d72b078eff4cafb82a988, thus closing.

[2016-06-12 07:15] #3136 closed, assigned to nobody

[2016-06-12 07:16] zetok commented on #3051
Fixed in 108cb32ce73fe06c4a3d72b078eff4cafb82a988, thus closing.

[2016-06-12 07:16] #3051 closed, assigned to nobody

[2016-06-12 11:51] zetok opened #3378 "[Feature request] pw field when adding / changing password should indicate whether CAPS-LOCK is on"
##### Brief Description

Currently only login page shows indicator of CAPS-LOCK being on when typing password – it should be available also when changing / adding a password on profile page.

Reproducible: Always
##### Steps to reproduce
1. Turn on CAPS-LOCK
2. Click on `Add` / `Change password` on profile page
##### Observed Behavior

Password filed doesn't have caps-lock indicator
##### Expected

[2016-06-12 13:00] b4n commented on #3378
Same applies to the "load profile" login screen field.  Only the "New profile" fields show a capslock warning.

[2016-06-12 13:23] b4n opened #3379 "Password fields with CapsLock warning shrink vertically"
##### Brief Description

OS: Linux (Debian Sid, up-to-date as of today), under MATE desktop
qTox version: Both Nightly package from this morning (1.4.0-151-g7ca9809-1) and custom build of Git's master (645e9504eccae3da811237a1ab1c20e1709df048)
Commit hash: 7ca98093a23ee8fbdba83eb5b2e9b2a4b7dac994 and 645e9504eccae3da811237a1ab1c20e1709df048
Qt:  5.5.1

Reproducible: Always
##### Steps to reproduce

[2016-06-12 13:54] #3315 closed, assigned to nobody

[2016-06-12 14:48] zetok opened #3382 "all emoticons from emojione pack should be available to user"
##### Brief Description

Currently only a subset of `emojione` pack is available to user – all of them should be usable.

Introduced in #3364
Depends on #992
Related #1294

[2016-06-12 19:13] ProMcTagonist commented on #3373
@zetok
The vast majority of tox's target audience have never used markdown before except in the informal way which @Chiitoo is describing. That system is incredibly common across texting, emails, and even Facebook messaging, anecdotally.

In our case it's going along with the standard to use the markup that our users are most likely already used to from their previous experience.

[2016-06-12 19:24] ProMcTagonist commented on #3374
This was affecting me as well. Lucky I stumbled on this issue.

[code]

Got qTox to compile again for me.

I'm running an old version of Debian testing, with mostly Jessie packages.

Thanks @felix-salfelder for discovering the solution.

[2016-06-12 20:33] zetok commented on #3337
Done in a851a5b18da8c295fba441c817920cf65db2cdbb, thus closing.

[2016-06-12 20:33] #3337 closed, assigned to nobody

[2016-06-12 20:34] zetok commented on #3177
With a851a5b18da8c295fba441c817920cf65db2cdbb it should be possible for users to work-around what their shitty DE provides, could you test?

[2016-06-12 20:35] zetok commented on #2836
Should be improved with a851a5b18da8c295fba441c817920cf65db2cdbb, could you test?

[2016-06-12 20:36] zetok commented on #2530
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-06-12 20:36] #2530 closed, assigned to nobody

[2016-06-12 20:38] zetok commented on #2000
Could be improved with a851a5b18da8c295fba441c817920cf65db2cdbb, mind testing?

[2016-06-12 20:40] ddobrev commented on #2836
@zetok I gladly would but I do not have qTox set-up for building. If you give me a link to the latest DMG, I can check it. However, let me first add a detail I had forgotten. OS X has a system "Show" action for the dock which unfortunately does nothing once qTox has been closed (with "Show system tray icon" on, of course). In addition, for this issue to be fully fixed the main window must be resto

[2016-06-12 20:43] zetok commented on #1353
Is this issue still reproducible?

[2016-06-12 22:47] b4n commented on #3378
I've got a fix for that, but I made it on top of #3383 because it changes API, so I'd rather wait for that one to be dealt with first.

However, it's not as pretty as I'd wish it would be.  Ideally, I guess we should have a custom QLineEdit widget for passwords that does it itself, but:
1. I don't know if it'd be possible to use to from _.ui_ definitions?
2. I failed to find an encapsulated way to

[2016-06-13 05:00] Jacobtey commented on #1353
Everything works fine

[2016-06-13 07:11] zetok commented on #1353
Since it's fixed, closing.

If someone can still reproduce, please comment for reopen.

[2016-06-13 07:11] #1353 closed, assigned to nobody

[2016-06-13 10:51] antis81 commented on #3359
Sorry for the late answer. I hope getting some time this evening and will setup a proper PR. @tux3 FYI: I plan to leave OpenAL and current Audio API untouched for the moment and implement RtAudio / Opus based stuff completely independent and in parallel. If everything works at least "as good as now", we can talk about merge.

[2016-06-13 12:05] b2000699 opened #3384 "Virustotal.com reports Trojans in qTox"
##### Brief Description

OS: Installer for Windows 64 bit
qTox version: I don't know since I did not not install it. The installer file setup-qtox.exe was downloaded from tox.chat on 2016-06-13. The SHA1-checksum of the file is aacf49cccab1c1a557d8ea92bf3a91637afff067

Reproducible: Always
##### Observed Behavior

![virustotal qtox](https://cloud.githubusercontent.com/assets/17856630/16006872/f670

[2016-06-13 13:03] zetok commented on #3384
Yep.
Thanks for reporting, those need to be added to trophy case: https://github.com/tux3/qTox/wiki/Problematic-antiviruses

Soon we'll catch 'em all. :|

Mind adding those to wiki & contacting the antivirus producers?

[2016-06-13 14:00] b2000699 commented on #3384
Hi zetok,

I am not (yet?) involved in this project, just passing by and learning about tox, so someone else needs to do that for now.

Why are so many antivirus programs generating false alarms for qTox? What is it in the code that makes it suspicious to them?

Cheers

[2016-06-13 14:07] alugarius commented on #3384
I have ubuntu so I dont have problems. I could test with ClamAV

[2016-06-13 14:58] zetok opened #3386 "[regression] can't open contact in multiple windows mode"
##### Brief Description

For some reason, qTox refuses to open contact.

OS: Gentoo Linux amd64, i3wm
qTox version: v1.4.0-159-ga851a5b
Commit hash: a851a5b18da8c295fba441c817920cf65db2cdbb
toxcore: 0.0.0
Qt: 5.5.1

Reproducible: Always

Steps to reproduce:
1. Launch qTox that has `Multiple windows mode` on with following settings:
 ![settings](https://cloud.githubusercontent.com/assets/3148759/16

[2016-06-13 16:33] ProMcTagonist commented on #3384
@zetok I'll add to wiki

EDIT:

done

[2016-06-13 17:24] RowenStipe commented on #2836
@ddobrev If you want to set up for building there's this script here which can help you: [qTox-Mac-Deployer-ULTIMATE.sh](https://github.com/tux3/qTox/blob/master/osx/qTox-Mac-Deployer-ULTIMATE.sh)

For a "simple" way to get it through terminal:

[code]

That'll get you some help text to guide you. There's also a developer-esque option that requires some editing, might become a command later on as

[2016-06-13 19:35] ddobrev commented on #2836
@RowenStipe thank you for the help, I'll definitely have this in mind. However, in this particular case I think the fix is incomplete at best, so I'd rather wait for the complete solution - restoration on left click ans a working system "Show" menu item - before testing.
In fact, I am familiar with Qt and I don't think there's any need for manually added GUI on OS X. Qt already has API-s for deali

[2016-06-13 20:56] Diadlo opened #3387 "Problem with video resolution setting"
##### Brief Description

Doesn't save resolution.
Change of resolution doesn't change anything.
Reproducible: Always
##### Steps to reproduce
1. Open Audio/Video setting tab
2. Select video device with few avaliable resolution
3. Take a good look at the preview and note it's quality
4. Change resolution [1]
5. Close setting
6. Open Audio/Video setting tab [2]
##### Observed Behavior

[1] No really

[2016-06-13 21:12] #3387 closed, assigned to nobody

[2016-06-13 21:49] #3386 closed, assigned to nobody

[2016-06-13 22:28] antis81 commented on #1655
@Plinz Echo should be better controllable with latest version - we recently implemented a gain amplifier ranging from -30 to 30dB. Go below the centre marker in audio settings and echo should become less for you. We're planning to reimplement audio stuff on Opus (aka libopus). It is already available in Tox, but not for qTox audio yet.

[2016-06-14 05:47] Fred-Barclay opened #3391 "Qtox crashing at Audio/Video options"
##### Brief Description

OS: Linux LMDE 2 "Betsy" 64-bit w/ MATE (based on Debian Jessie)
qTox version: Nightly
Commit hash:  built without git
toxcore:  0.0.0
Qt:  5.3.2
Hardware:  https://gist.github.com/Fred-Barclay/6fa531933e1d583457903103c7e1eaa7

Reproducible: Always
##### Steps to reproduce
1. Start qtox
2. Go to Settings >> Audio/Video
##### Observed Behavior

The qtox window immediately e

[2016-06-14 08:08] Plinz commented on #1655
@antis81 Thanks for the update ! I will retry later :)

[2016-06-14 09:09] zetok commented on #3384
Well then, since @ProMcTagonist added info to wiki, closing the issue.

@b2000699

https://github.com/qTox/qtox-irc-logs/blob/9a93f7e1c7b2572ed55ccf5aa9fde4e010ff6d58/2016/06/%23qtox_20160613.log.txt#L42,L53

Basically, security & reliability code that makes things actually work.

[2016-06-14 09:09] #3384 closed, assigned to nobody

[2016-06-14 10:09] zetok commented on #3391
Could you try with https://software.opensuse.org/download.html?project=home%3Aantonbatenev%3Atox&package=qtox ?

IIRC repo should also have package for debugging symbols, you'd want to install it & then get backtrace – it should contain more useful info.

[2016-06-14 10:17] zetok commented on #3391
Oh, and btw, you'd want to do

[code]

before `quit` in gdb.

[2016-06-14 14:45] zetok commented on #3258
qTox maintainers were invited to qTox org + it can be now used for repod for qTox, thus closing.

[2016-06-14 14:45] #3258 closed, assigned to nobody

[2016-06-14 18:36] zetok commented on #3355
Wouldn't it be just a workaround to the support for resuming file transfers?

[2016-06-15 03:18] photonometric commented on #672
Well a friend just asked me to switch to tox, and after the initial elation of encryption I now have a headache. So I'll help by being slightly annoying and pointing out that the libraries are very clearly spelled out:

[# Text QML Type](http://doc.qt.io/qt-5/qml-qtquick-text.html): starts with a list of real easy stuff like `font.pixelSize`, or the question of whether it should be `font.pointSize

[2016-06-15 03:54] alugarius commented on #3349
I wanted to bring on the snap solution again, if it fits in ya time read this
http://www.omgubuntu.co.uk/2016/06/snap-to-be-universal-linux-package-format

[2016-06-15 08:58] Saaaam opened #3393 "Language choice as the FIRST action when installing qTox"
Hello ;

In the following of https://github.com/tux3/qTox/issues/2758, where "By default we already try to use the system language, and fallback on English if it fails."
A solution could be the choice of the language as the first action from the user, at the installation. A window could be added at the beginning. The system language can be detected and the relative option selected. But if it isn't

[2016-06-15 09:05] zetok commented on #3393
Clearly doesn't work, and needs to be fixed.

[2016-06-15 09:52] Saaaam opened #3394 ""Search Contacts" could be used to add a new Contact too"
Hello,

When a Tox ID fills the "Search Contact" bar, qTox could display a cliquable message "Add New Contact ?" below, in the contact list. This could be a good shortcut to "Add a new contact" window.

[2016-06-15 10:00] Saaaam opened #3395 "New option in Preferences for the format of screenshot pictures"
Hello,

The functionality to send a screenshot is quite good. But it could be even better if the user could have the choice to select if the picture is sent as a .png or a .jpg, depending how wanted is the quality (png : good quality, "big" size / jpg : less quality, "little" size).

This option could be chosen in the Preferences…

[2016-06-15 10:07] Diadlo opened #3396 "Chat UI problem during video call"
##### Brief Description

OS: Arch Linux
qTox version: v1.4.0-168-g29821cf
Commit hash:  29821cff026c6ea58afeca8e9981e7b9f3158bd2
Qt: 5.6.0

Reproducible: Always
##### Steps to reproduce
1. Open chat
2. Do video call
3. Resize window
##### Observed Behavior

Chatlog goes under message input:
![spectacle hf6111](https://cloud.githubusercontent.com/assets/6306608/16075807/6a5c9348-3301-11e6-9b69-8b95

[2016-06-15 10:44] zetok commented on #3395
Is there a use-case for cluttering settings with an option for lower quality screenshots?

[2016-06-15 11:42] Chiitoo commented on #3395
I have been meaning to suggest (or try and implement) this as well.

A common use-case could be a user simply preferring smaller file size (either due to slow connection speed or just because they prefer a smaller file size).

I can't say how common such a use-case actually is, but it has been something I've discussed with a friend while using qTox and thinking of improvements for it.

[2016-06-15 11:56] zetok commented on #3395
Depends on #1069

[2016-06-15 12:20] Saaaam commented on #3393
Exactly, and this little language select box where the user has the last word about how the setup and the software are displayed could be a solution…

[2016-06-15 12:39] zetok commented on #3393
Not a solution, but a workaround.

[2016-06-15 13:56] ovalseven8 commented on #2529
P-high

[2016-06-15 14:57] b2000699 commented on #3384
Hi all,

I looked a bit deeper into this topic and updated the wiki accordingly, cleaning things there a bit up by updating the info and archiving the rest. Hope it helps and you like it: [Link](https://github.com/tux3/qTox/wiki/Problematic-antiviruses)

Cheers!

[2016-06-15 15:07] Fred-Barclay commented on #3391
Thanks zetok.
I completely removed the old build, added the repo, removed the config and cache file in my /home, and installed and started qtox. I got the same result (a sudden crash) when going to Audio/Video. Would you like me to run it inside gdb and post the output here?

[2016-06-15 15:25] alugarius commented on #3384
Does uTox has the same problem?

[2016-06-15 16:13] DX37 opened #3397 "qTox not fully stretched after opening hidden window"
##### Brief Description

When you click on the qTox icon, the window opens not fully stretched when it was closed stretched (click on Close (X) button). And seems that the "Show" button is working correctly - the window is stretched.

OS: Windows 10
qTox version: v1.4.0-168-geb743b4.
Commit hash:  eb743b4
Hardware:  ASUS T200TA

Reproducible: Always
##### Steps to reproduce
1. Click on qTox icon.

[2016-06-15 16:17] zetok commented on #3384
No, not really.

[2016-06-15 16:19] zetok commented on #3391
Yep, along with version info.

[2016-06-15 18:49] ananace opened #3398 "Option for disabling "emotifying" of text-smilies"
I've noticed that qTox applies emoticons to more than just the unicode emoticon glyphs, replacing text-smilies as well - things like `:)`.

I'd appreciate if an option for disabling matching of text-based smileys could be added, so that emoticon packs only beautify the regular unicode glyphs - perhaps the text representations of those emoticons as well (`:eggplant:` etc.)

[2016-06-15 19:25] agilob commented on #3341
I would suggest re-using "N- invitations widget" with text "Number of matching contacts: N"

[2016-06-15 19:27] agilob opened #3399 "Confidential info from database is printed in stdout"
##### Brief Description

OS: PC-BSD
qTox version: 1.4 (installed with `pkg` not from sources this time)
Commit hash:  NA
toxcore:  0.0.0
Qt:  5.5.1
Hardware:
…

Reproducible: Always
##### Steps to reproduce
1. I just turn on qTox from terminal
##### Observed Behavior

I get this log on each start of qtox for each of my contacts:

[code]
##### Expected Behavior

public_key and time stamps should no

[2016-06-15 19:31] agilob commented on #2077
@antis81 can be closed or re-tested?

[2016-06-16 00:01] XHawk87 opened #3400 "Proposed new logo"
A not-entirely-serious suggestion for a better logo/icon.

[Suggested Logo](http://irocandrew.deviantart.com/art/Docile-Ox-270787284)

Perfect, right?

[2016-06-16 05:17] ProMcTagonist commented on #3398
Two things:

This would be working if we had replaced the twitter emoji with the emojione set entirely, in all three packs.

And the pack that leaves text alone should have a better name to indicate that, probably.

[2016-06-16 05:54] antis81 commented on #3400
If you want to put it this way:
Nah, qTox is doing good to grow up. It is more like 4th grade primary school, maybe beginning of middle school now. In German school system, it would take at least 6 more years get the 10th grade. :smile:

If you like to get an idea on where qTox stands and the way it has to go to become a matured wholistic system, feel free to attend the sturdays staff meetings.

O

[2016-06-16 06:08] ananace commented on #3398
Why have a specific pack for it though? Why not extend the pack specification slightly to note main matches and extra matches, something like;

[code]

Then a simple option could be added that would let you select if you want the pack to also match text-smilies.

[2016-06-16 06:50] antis81 commented on #2077
@agilob Please leave the issue open as at least one core part is still valid.

Tox uses Opus codec for transportation (which is totally fine). Unfortunately Tox doesn't make use of the codec's features (like e.g. echo compensation, equalizer, etc.). I'll definitely have a look into Tox core to get some information of what really goes on here. AFAIK the recorded data is in best case compressed, but

[2016-06-16 09:58] b2000699 commented on #3384
Hm, I saw that you completely reverted all of my edits. Why did you do that?

[2016-06-16 10:07] zetok commented on #3384
The form you've made would require constant maintenance, which would be a waste of time.

On the other hand, current form requires just adding stuff once, and that's it – no need to waste time on rechecking, etc.

[2016-06-16 10:22] Granitoid opened #3401 ""Public key" (Tox ID) viewed only 64 symbols in "show details", why not 74?"
##### Brief Description

OS: Windows XP 32bit SP3
qTox version: v1.4.1-1-g06d78dc
Commit hash:  06d78dcdee7bfe9a320fe91662f34227d74c3916
toxcore:  0.0.0
Qt:  5.5.1
Hardware:  Intel Core Duo E8400, 4Gb RAM

Reproducible: Always
##### Steps to reproduce
1. Contacts list, right mouse button on any user
2. Show details
##### Observed Behavior

Field "Tox ID" displeed only 64 symbols
##### Expected Beh

[2016-06-16 10:31] TheNain38 commented on #3401
Public Key, and Tox ID aren't the same, the Tox ID contains: "Public Key + NoSpam + Checksum"
So, here it displays only the Public Key

[2016-06-16 10:34] b2000699 commented on #3384
Hm, I disagree with the following arguments:
- Although I see the point that it infused time as reference point, this did not mean automatically that it demands permanent maintenance
- In general, as along as qTox is being recognized to contain malware by antivirus engines, I guess that this topic will need maintenance, generally speaking, indeed. This topic will only rest as soon as all antivirus

[2016-06-16 10:39] Granitoid commented on #3401
Ok.
How to send contact from my list to enother user? :)
I try send to my friend "Public Key" (64 symbols) and what to do next?
For add new usr through from "Add friend" field "Tox ID" requires 74 symbols.

[2016-06-16 12:00] zetok commented on #3401
You don't really.

What you might want to do, is to ask the friend whom ID you want to send for their ID, and forward that ID to your other friend.

If that answers your question, feel free to close the issue.

[2016-06-16 12:10] zetok commented on #3384
Sad truth is that antiviruses are simply crappy. No matter which one you pick, it won't offer all the protection you need, and it is going to offer false-positives.

Not by much, and it's preferable to limit that as much as possible – simply add a particular antivirus to the list, and be done with it.

Err. The problem is with antiviruses, not with qTox.

You've reworded a few sentences a bit, and

[2016-06-16 13:01] Granitoid commented on #3401
Too much actions for simple sending contact - uncomfortably.

[2016-06-16 16:21] DX37 commented on #3359
Pretty funny situation occurred recently. I tried to establish contact with one another at first, then at the same time with another friend. My friends began to talk among themselves. The resulting "group chat" was slightly better than the original - I could clearly hear one friend, another friend had a ragged voice. Another one could hear us both well.

[2016-06-16 17:00] Fred-Barclay commented on #3391
qTox version: eb743b4-obs
Commit hash: eb743b43ff10a86288259792c1f950dca045c8ef
toxcore version: 0.0.0
Qt version: 5.5.1

I also installed the debug symbols you mentioned.

Here's the gdb trace: https://gist.github.com/Fred-Barclay/64c93619964e8edc73e31bdd309395cc

`t a a bt` and `t a a bt full` run this time. I guess you can tell I don't normally use gdb? :)

[2016-06-16 18:19] babolivier opened #3403 "Video call causing qTox to crash"
##### Brief Description

OS: Linux (Archlinux)
qTox version: Nightly (latest in Archlinux's community repo)
Commit hash: "build without git"
toxcore:  0.0.0
Qt:  5.6.0
Hardware:  MSI GE60 2QE

Reproducible: Always
##### Steps to reproduce
1. Receive video call
##### Observed Behavior

qTox crashes after a few seconds of audio. My friend told me he could see a couple of frames from my webcam.
#####

[2016-06-16 18:43] SkyzohKey commented on #3401
:+1: @Granitoid

[2016-06-16 18:48] zetok commented on #3403
Providing version info would help.

[2016-06-16 18:52] babolivier commented on #3403
After a quick look at Arch's repo, seems like the version is 1.4.1.

[2016-06-16 18:59] zetok opened #3404 "change marks for text formatting for more "natural" & familiar ones"
##### Brief Description

Current text formatting (markdown) is far from being familiar / natural to people who would want to use it.

Thus, it would be good to change it to something that lots of people already are familiar with, and if they're not, they could organically learn about it.

Pointed out & proposed in #3373, to use same marks that Ricin uses.

Thanks to @SkyzohKey:
![what ricin uses](

[2016-06-16 19:04] zetok opened #3405 "[Feature request] a way to share contacts"
##### Brief Description

Currently there's no way to easily share contacts, as highlighted in https://github.com/tux3/qTox/issues/3401#issuecomment-226477917. It would be good to provide for users a way to do it more automagically, so that:
1. User clicks on `Share contact with…` in menu of `friend_1` and chooses `friend_2` to share contact.
2. `friend_1` and `friend_2` should get notification for

[2016-06-16 19:05] zetok commented on #3401
Right. I thought that there's already an issue for it, but it doesn't look like there's one → made #3405, thus closing.

[2016-06-16 19:05] #3401 closed, assigned to nobody

[2016-06-16 19:06] zetok commented on #3341
Sounds good to me.

[2016-06-16 19:19] LittleVulpix commented on #3341
I like that.

[2016-06-16 19:21] zetok commented on #3398
Probably would be good to make a new issue for it – care to do it (short text with what should be changed to what would suffice)?

[2016-06-16 19:27] zetok commented on #3072
User now should be able to work-around this DE bug with `Show` tray button – https://github.com/tux3/qTox/commit/a851a5b18da8c295fba441c817920cf65db2cdbb

[2016-06-16 19:37] Chiitoo commented on #3404
Looks pretty good!

I'm not too keen on ~tilde~ making the strikethrough, but I can likely live with that.  :]

I don't really have a suggestion for any better alternative for that either.  Only things that come in mind are <s> and [s], but those don't quite fit in with the rest.

[2016-06-16 19:42] #3154 closed, assigned to nobody

[2016-06-16 19:51] Granitoid commented on #3401
Ok.
When what i can do with "Public key", why its displayed in "Show details" ? :)
Field "Public key" uselessly if it is not "ToxID".
So easy: Drug&drop contacts to chat window or/and context menu "Send contact to..." and receives with chekbox. ;)
Request generated automatically later if receives pressed "Add new friend".

[2016-06-16 19:55] zetok commented on #3401
You can verify that it belongs to your friend.

[2016-06-16 19:58] Granitoid commented on #3401
Hmmmm, without "NoSpam + Checksum"?
Ok,  it will be very often useful :)

[2016-06-16 20:06] zetok commented on #3401
`NoSpam` and `Checksum` are changeable parts ~~or~~ of ID, so they're ~useless when it comes to verifiability.

[2016-06-16 20:07] zetok commented on #3404
Yeah, I'm not too happy about it myself, so I was wondering whether it would be acceptable to have only double tilde (i.e. `~~strikethrough~~`) as strikethrough.

[2016-06-16 20:26] Chiitoo commented on #3404
Methinks I for one would be OK with double tilde.

[2016-06-16 20:59] yurivict opened #3407 "Text between two hyphens shouldn't be underscored. Need tooltip with markup help."
If this is intended then this isn't a generally expected behavior.

qTox should display an explanation of markup that it supports. I suggest this is done in a tooltip over the edit area.

OS: FreeBSD 10.3
qTox version: 1.4.1
Qt:  5.5.1

[2016-06-16 21:23] zetok commented on #3407
Duplicate of #3404, thus closing.

[2016-06-16 21:23] #3407 closed, assigned to nobody

[2016-06-16 21:28] yurivict commented on #3404
Please add the markup explanation in a tooltip over the edit area.

[2016-06-16 21:30] ddobrev commented on #3404
The last suggestion is not a good idea, this tool-tip will get in the way each time someone wants to write a message.

[2016-06-16 21:30] yurivict commented on #3404
Code is also commonly marked up with triple-backquotes.

[2016-06-16 22:54] sudden6 commented on #3404
I think ~strikethrough~ would be still better than ~~strikethrough~~, since it fit's the style of the rest in a better way.

[2016-06-17 07:33] DX37 commented on #3404
Syntax proposed by @SkyzohKey seems more intuitive than Markdown. I think maybe even doesn't make sense to add an alternative form of syntax. Or vice versa is best to use an alternative syntax instead of the original. But it will be a bit cumbersome.

[2016-06-17 12:15] ByteCommander opened #3408 "How to merge two qtox profiles of the same ID (synchronize contacts and history)?"
OS: Ubuntu 16.04, 64 bit, Unity desktop
qTox version: eb743b4-obs (from [this community build repo](https://software.opensuse.org/download.html?project=home%3Aantonbatenev%3Atox&package=qtox))
Commit hash:  eb743b43ff10a86288259792c1f950dca045c8ef
toxcore:  0.0.0
Qt:  5.5.1

I use qTox on two machines, both match the details described above. Therefore I copied my entire `~/.config/tox` folder from

[2016-06-17 12:25] ByteCommander commented on #3405
Sounds like a great idea, I also missed this feature already a few times.

[2016-06-17 12:36] b2000699 commented on #3384
I fully agree with you.
But nevertheless most users globally use antivirus software and think that it is something good for them, fully trusting their antivirus software, be it private individuals or corporate users.

I understand your standpoint; it is the view of a developer. And from the view of a developer you might be perfectly right in what you say.

But when you look at the problem from the

[2016-06-17 12:38] zetok commented on #3408
Not supported, and will not be supported. In future there will be a way to have multiple IDs linked – that's the first step, next one is history sync between those profiles – for linking profiles → #3353.

**_I strongly suggest you to backup your data before proceeding**_.

What you can do, is to manually add each missing contact with https://github.com/zetok/tox-add-pubkey

As for history, once y

[2016-06-17 12:58] zetok commented on #3384
I see, that's a lot of effort.

Reverted revert.

[2016-06-17 13:12] b2000699 commented on #3384
Indeed, it was.

Thanks! :-)

[2016-06-17 14:01] Saaaam opened #3409 "timestamp over file accepting button"
When the chat window has a little width (chosen by the user) and a file is sent, the hour goes over the "accept file" button.

![qtox_issue_file_acception](https://cloud.githubusercontent.com/assets/19937009/16152937/625c9aae-34a4-11e6-9e28-87905249c888.jpg)

Two possible solutions : the gray/green block is resized smaller, or the main window can't be minimized so far.

[2016-06-17 15:52] SkyzohKey commented on #3408
Or just wait for multidevice to be ready, that's almost doned just needs somebugfixes + tests.

[2016-06-17 16:02] zetok commented on #3408
How does multidevice help with what @ByteCommander wants to do?

[2016-06-17 17:24] ByteCommander commented on #3408
@zetok Thanks for your reply.

This multidevive/multiple-linked-IDs would exactly fit my needs in the future, once I got my profiles synchronized. I really appreciate the effort in this direction.

I'm going to try out your `tox-add-pubkey` tool soon, the pubkey I have to add is the one I get when right-clicking on a user icon in qTox and selecting "Show details", right? It's the ToxID but without

[2016-06-17 17:48] sysfu commented on #3072
Tested and confirmed Show tray button now works on Elementary OS. A recent update gave it a purdy lookin' icon too.

![fancy icon](https://i.imgur.com/S0X0Yec.png)

[2016-06-17 18:16] zetok commented on #3408
Yep.

Nope. Unless you're friends already, PK alone is ~useless.
Alternatively, you don't have to exchange IDs, but only PKs – this way NoSpam too isn't needed, but in this case both parties must exchange PKs.

Yep.

Your issue happened because your files were desynchronized – by keeping them synchronized & not used at the same time you'll have what you need until there's proper support for syncin

[2016-06-17 20:19] zetok opened #3410 "add PPA repo for ARM builds to INSTALL.md"
##### Brief Description

put it in a nice table, along with existing link, like

| short desc | repo |
| --- | --- |
| *buntu, etc, x86{,_64} | link |
| *buntu arm | link |

link & info to add: https://github.com/qTox/qtox-irc-logs/blob/bcf0603715ea068d383fa4f3326751028ce77de0/2016/06/%23qtox_20160601.log.txt#L613

Edit: also https://github.com/qTox/qtox-irc-logs/blob/bcf0603715ea068d383fa4f332675

[2016-06-17 22:20] ByteCommander commented on #3408
@zetok I tried to compile and run your `tox-add-pubkey` tool, but after following all the instructions and a (seemingly) successful compiling process, I get this error when I try to run it:

[code]

However, the should be `libtoxcore.so.0` files available:

[code]

What am I doing wrong? Do I miss any argument or environment variable or something like that? Or should I rather open a new issue on t

[2016-06-18 06:14] zetok commented on #3408
~kinda. I.e. if toxcore is not installed via package manager you need to add to libs path (it's in toxcore's INSTALL.md)

[code]

Alternatively, you could just use `LD_LIBRARY_PATH` to point to toxcore libs
http://tldp.org/HOWTO/Program-Library-HOWTO/shared-libraries.html

[2016-06-18 12:28] LittleVulpix commented on #3409
You should probably change the title from "hour" to "timestamp"

[2016-06-18 14:51] #3410 closed, assigned to zetok

[2016-06-18 15:19] #3398 closed, assigned to zetok

[2016-06-18 18:42] ddobrev commented on #2726
Fellows, now that it's clear it's your problem and not the toxcore developers', and that you have a reference implementation in uTox, and that you have pretty much found the cause, and that this was reported half a year ago, and that this affects users on any operating system with any configuration, and that the problem is just a little order of magnitude more important than updating translations

[2016-06-18 18:55] LittleVulpix commented on #3362
Any idea on when this could  be fixed? I pretty much turned autoupdate off for all of my friends that use qtox, some of which were starting to get really annoyed.

[2016-06-18 20:25] zetok commented on #2726
Last time I've checked µTox didn't even support the functionality. Did that change?

[2016-06-18 20:30] LittleVulpix commented on #2726
@zetok actually it did -> https://github.com/GrayHatter/uTox/pull/295

[2016-06-18 20:34] ddobrev commented on #2726
@zetok https://github.com/tux3/qTox/issues/2726#issuecomment-199784308 suggests and https://github.com/irungentoo/toxcore/issues/1486#issuecomment-223391214 outright states that uTox does not have this bug. Both comments are linked in the discussion above.

[2016-06-18 21:06] zetok commented on #2726
@LittleVulpix I see, thanks.

@ddobrev Right, I thought that µTox doesn't have the bug since it simply ~~has~~ had no functionality that could cause the bug.

Btw,

Are you unhappy about people improving qTox? The way I see it, message resending problem is **_way less important**_ than having qTox localized into $languages. The bug is just a minor inconvenience that happens ~rarely enough to ignor

[2016-06-19 08:35] ddobrev commented on #2726
You know that when minor inconveniences occur constantly, they become major, right? I've had this on average twice a day EVERY DAY. Well, as you can tell by my comments, I have been using qTox for 5 months now and let me tell you, having this occur regularly for such a long time is way past "minor". In other words, minor but regular inconveniences do not get ignored, they get stacked.
As for me he

[2016-06-19 11:51] #3379 closed, assigned to nobody

[2016-06-19 11:51] #3378 closed, assigned to nobody

[2016-06-19 15:01] Talkless opened #3416 "qTox does not build on Debian 8 Jessie because of QVector<T>::removeOne() usage"
##### Brief Description

OS: Debian 8 KDE
qTox version: HEAD
toxcore:  HEAD
Qt:  5.3.2, stock Debian 8
Hardware:  VirtualBox

Reproducible: Always
##### Steps to reproduce

Build qTox using stock Qt on Debian 8
##### Observed Behavior

[code]

As removeOne() was added in [Qt 5.4](https://doc.qt.io/qt-5/qvector.html#removeOne)
##### Expected Behavior

Should build on all supported systems, mentione

[2016-06-19 15:03] Talkless commented on #3416
There are two usages of removeOne():
https://github.com/tux3/qTox/search?utf8=%E2%9C%93&q=removeOne

[2016-06-19 15:39] Talkless commented on #3416
I'm working on a fix.

[2016-06-19 16:11] Talkless commented on #3416
Second removeOne() was actually with QList<> which is OK. Only one file had to be changed.

[2016-06-19 16:27] Talkless commented on #2847
I've tested this behaviour on Kubuntu 14.04 (my OS), Debian 8 GNOME, Debian 8 KDE, Kubuntu 15.10, Kubuntu 16.04, Xubuntu 16.10, Ubuntu 16.10  and Windows 10.

This works only on Kubuntu 15.10 and Kubuntu 16.10 for some reason.

Maybe event does not fall through to that parent widget somehow.

Is anyone working on a fix? Or should I try that?

[2016-06-19 16:30] zetok commented on #2847
Most likely Qt version – works for me on 5.5.1

[2016-06-19 17:02] Talkless commented on #2847
All 16.04 *ubuntu systems should have same Qt version, though behaviour is different. Just rechecked again on Ubuntu 16.04, qTox compiled with 5.5.1, and dragging file onto text input produces only file:// link.

@zetok what's your system?

[2016-06-19 18:29] Diadlo commented on #3409
Not the same with #2227?

[2016-06-19 20:02] zetok commented on #2847
Gentoo, using Thunar as file manager

[2016-06-19 20:04] zetok commented on #3409
@Diadlo

It is, thanks – closing this issue.

[2016-06-19 20:04] #3409 closed, assigned to nobody

[2016-06-20 00:09] XHawk87 commented on #3400
Embrace the cute ox logo for qTox!

Who can say no to that face?

[2016-06-20 00:51] nazar-pc opened #3419 "Feature request: ability to avoid qTox opening when clicking tray icon"
##### Brief Description

OS: Ubuntu 16.10 x64 (Unity)
qTox version: v1.3.0-103-gda2f892
Commit hash: da2f892d63704d845457eeb0f0beb12592e0fc12
toxcore: 0.0.0
Qt: 5.5.1

Reproducible: Always
##### Steps to reproduce
1. Have qTox minimized to tray
2. Click tray icon
##### Observed Behavior

Tray menu is opened, also qTox window is opened
##### Expected Behavior

Tray menu is opened only. This is a de

[2016-06-20 01:48] yurivict opened #3420 "[suggestion] UI should show that connection is via proxy"
The sentiment that "Tox is unsafe because it exposes your IP" is quite widespread online. So I think that it makes sense to visually indicate that qTox is connected through proxy, therefore hiding your IP. This can be done near the green light indicating the "connected" status, and also in the icon. The letters "PROXY" could be painted over the icon corner.

Of course this whole concept won't be a

[2016-06-20 07:50] zetok commented on #3419
It's a problem with your DE.

[2016-06-20 07:51] zetok commented on #3419
Also, that qTox version is old, mind testing newer one?

[2016-06-20 11:36] LittleVulpix commented on #2726
So it's happening on uTox as well now! :D https://github.com/uTox/uTox/issues/368

[2016-06-20 13:42] nazar-pc commented on #3419
I'm always happy to test latest versions, this is why I have nightly version of `qtox-unity` package from https://pkg.tox.chat/debian
But I also see now that there is `qtox-qt5.4.2` with newer version and `qtox` with even newer version.
Any idea why nightly package is so old?

[2016-06-20 18:16] zetok commented on #3419
Use the right repo, it has newest qTox: https://software.opensuse.org/download.html?project=home%3Aantonbatenev%3Atox&package=qtox

[2016-06-20 18:30] nazar-pc commented on #3419
What about `qtox-unity`, or it is not needed anymore?
BTW, would be nice to see old repo to be shut down, this will let people know that there is another repository now:)

[2016-06-20 18:38] nazar-pc commented on #3419
I've installed v1.4.0-189-gfd2e585 and as expected - no tray icon. And this can not be called DE problem, since Ubuntu with Unity is one of the most popular Linux DE and bunch of other apps show icon correctly (like ownCloud, which uses Qt 5.5.1). This was the reason `qtox-unity` package existed, but it is not present in new repository.

[2016-06-20 18:40] zetok commented on #3419
Huh, I thought that there was support for Unity tray..

cc @abbat ?

[2016-06-20 18:42] zetok commented on #2726
Wait, you were getting it `×10` with qTox?

[2016-06-20 18:46] LittleVulpix commented on #2726
@zetok Nah, my friend was just sarcastic.. like "better than getting kicked in the nuts" kinda thing.

[2016-06-20 19:14] zetok commented on #2726
Ok. Because you see, I have this feel that my last try to make it less common could have had the opposite effect – so anyone interested might see whether with https://github.com/tux3/qTox/pull/3316/commits/a77afca1ec8f86cda68fe7ba853f7e4d854c346f applied / reverted they're getting less / more of duplicated.

[2016-06-20 19:15] #3416 closed, assigned to nobody

[2016-06-20 19:16] LittleVulpix commented on #2726
Most of my friends are on 1.3.0 because of https://github.com/tux3/qTox/issues/3362 and they refuse to update until the problem is fixed.

[2016-06-20 20:24] zetok opened #3421 "Notification about new friend request doesn't disappear after second friend request"
##### Brief Description

When getting 2nd friend request during the same qTox "session", friend request notification doesn't disappear when clicked on it.

OS: Gentoo Linux amd64
qTox version: v1.4.0-159-ga851a5b
Commit hash: a851a5b18da8c295fba441c817920cf65db2cdbb
toxcore: 0.0.0
Qt: 5.5.1

Reproducible: Always
##### Steps to reproduce
1. Receive and accept friend request, clicking on green FR no

[2016-06-20 21:38] zetok commented on #2529
Note: video doesn't recover from corruption(!), once it gets broken it's being kept that way even after several minutes
![broken video](https://cloud.githubusercontent.com/assets/3148759/16210908/605e127a-3736-11e6-9abb-4fa30f35e99a.png)

[2016-06-20 21:40] nazar-pc opened #3422 "Yakkety build?"
qTox for Ubuntu Xenial (16.04) can't be installed on Ubuntu Yakkety (16.10) because of dependencies conflicts. Is it possible to configure nightly builds for Yakkety?

[code]

[2016-06-20 22:15] abbat commented on #3419
@nazar-pc You have to full uninstall previous version. qTox from OBS repo (software.opensuse.org) has version like fd2e585-**obs** (obs-postfix).

[2016-06-20 22:20] nazar-pc commented on #3419
Unfortunately, I can't, see #3422

[2016-06-20 22:48] abbat commented on #3419
@nazar-pc Ahhh, Yakkety not released yet (Oct 2016) and it switched to ffmpeg package :(
Would you try to install qTox from Trusty (14.04) or Precise (12.04) repo (it compiled with static ffmpeg)? I will try to think about workaround for Yakkety later.

[2016-06-20 23:09] nazar-pc commented on #3422
Workaround is to install manually following packages from [Xenial](https://launchpad.net/ubuntu/+source/ffmpeg/7:2.8.6-1ubuntu2/+build/9350516):
- libavcodec-ffmpeg56_2.8.6-1ubuntu2_amd64.deb
- libavcodec-ffmpeg-extra56_2.8.6-1ubuntu2_amd64.deb
- libavdevice-ffmpeg56_2.8.6-1ubuntu2_amd64.deb
- libavfilter-ffmpeg5_2.8.6-1ubuntu2_amd64.deb
- libavformat-ffmpeg56_2.8.6-1ubuntu2_amd64.deb
- libavresam

[2016-06-20 23:11] nazar-pc commented on #3419
With 14.04 package:

[code]

With 12.04 package there is only i386 build, and it fails with huge list of dependency conflicts.

I've installed manually dependencies from 16.04 and with `v1.4.0-192-g279225c-obs` I still have exactly the same behavior. There is `Show` menu item now, but qTox itself is immediately opened anyway.

[2016-06-20 23:41] abbat commented on #3422
Still Ubuntu Yakkety not released, temporary PPA is [abbat/tox-yakkety](https://launchpad.net/~abbat/+archive/ubuntu/tox-yakkety):

[code]

After release date (Oct 2016) it will be moved to openSUSE build service (OBS)

[2016-06-20 23:47] nazar-pc commented on #3422
Didn't expect it to be done so fast. Thanks, works for me!

[2016-06-21 04:35] GrayHatter commented on #2726
This issue isn't happening with uTox. These are different issues entirely.

Also, just to clear up a few misconceptions: messages numbering from toxcore wouldn't fix this issue either. Trying to resend a packet at in interval >30s is stupid, should be easy enough to guess why.

Does qTox batch read writes to the message queue database? If so, why?

Does qTox lock the database while the client is o

[2016-06-21 15:15] Diadlo opened #3425 "Ask for password when a user wants to delete a password"
What you think about it?

[2016-06-21 15:43] zetok commented on #3425
Duplicate of #2337, thus closing.

[2016-06-21 15:43] #3425 closed, assigned to nobody

[2016-06-21 17:41] #2909 closed, assigned to nobody

[2016-06-21 19:29] ProMcTagonist commented on #2909
What happened?

[2016-06-21 20:26] agilob commented on #2909
I stopped working on qTox after greyhatter and irungentoo closed some major issues in toxcore as won't fix. Changes made for this issue were deleted and my question above answered.

[2016-06-21 23:33] ghost commented on #3400
No. It doesn't fit at all.

[2016-06-21 23:44] ghost opened #3426 "Add selfrando"
https://github.com/immunant/selfrando

TBB already implemented this.

[2016-06-22 00:15] XHawk87 commented on #3400
@proxifier Well if you insist on taking this seriously...
1. It is perfect for qTox because it is a pun, more specifically a homophone (qTox = cute ox). It gives the application a more friendly image that will be popular with the younger and female demographics.
2. There is no problem with the current logo. You're just missing an opportunity to make a funny.
3. As it clearly displays on the page,

[2016-06-22 08:13] zetok commented on #3400
Err, no, `Noncommercial` is not compatible with GPL.

[2016-06-22 13:34] zetok commented on #3422
Since there's now PPA, closing.

[2016-06-22 13:34] #3422 closed, assigned to nobody

[2016-06-22 13:41] ghost opened #3427 "Add PGP signatures and authenticode signing"
When obtaining qTox setup, we currently rely on HTTPS for the download from the tox webpage. We have no guarantee that the binary is exactly the binary that the developer uploaded - it can be modified by, for example, a different disgruntled developer who has access to the tox webpage.

The solution to this problem is to include PGP signatures for the setup files, portable package, and source code

[2016-06-23 17:06] GoldsteinE opened #3429 "Formatting symbols not removed but replaced by spaces"
##### Brief Description

OS: Windows 10
qTox version: v1.4.1-1-g06d78dc
Commit hash:  06d78dcdee7bfe9a320fe91662f34227d74c3916
toxcore:  0.0.0 (I don't know, but it shows that)
Qt:  5.5.1
…

Reproducible: Always
##### Steps to reproduce
1. Switch 'Markdown' to 'Don't Show Formatting Characters' in Settings.
2. Send message `"_test_"` (without "") to anyone.
##### Observed Behavior

Symbols '_' are

[2016-06-23 17:56] Onepamopa opened #3430 "Group call not working properly, Group not saving"
##### Brief Description

OS: Windows 10 build 10586
qTox version: latest (currently)

3 people in group voice call sucks (robot voice).
Same group, 2 people in the call - perfect.

Groups not saving, no auto-rejoining group.

[2016-06-23 17:57] zetok commented on #3430
Duplicate of #896, thus closing.

[2016-06-23 17:57] #3430 closed, assigned to nobody

[2016-06-23 17:57] Onepamopa commented on #3430
"Duplicate of #896, thus closing." opened .... a few years ago and still not fixed ?

[2016-06-23 17:58] Onepamopa commented on #896
When can we expect a fix on this ?

[2016-06-23 17:58] zetok commented on #3430
Yep.

Also, #3359

[2016-06-23 18:03] zetok commented on #3429
@Artom-Kozincev edited your post to preserve formatting characters.

[2016-06-23 19:36] zetok commented on #896
It's not a bug, so there's no fix to expect ;)

There's no hard date. Thanks to effort of numerous people, new groupchats have basic functionality already implemented.

As for when they'll be done (aka parity with current features + new stuff + available in clients), I'd expect them in 2017.

[2016-06-23 19:43] zetok commented on #3323
Yes, you should manually install 1.4.1 for updater to start working properly.

[2016-06-23 19:44] #3323 closed, assigned to tux3

[2016-06-23 20:35] zetok commented on #3427
Note: due to cost, and reasons, authenticode will not be used.

[2016-06-23 20:38] #3427 closed, assigned to zetok

[2016-06-24 13:23] zetok commented on #3408
@ByteCommander since question seems to have been answered, mind closing the issue?

Or, if things still aren't clear (what I wrote kinda might assume that one does know what they're doing), just ask :)

[2016-06-24 23:05] nazar-pc commented on #3419
Just got new nightly build, now behavior is fixed, thanks!

[2016-06-25 09:16] ghost opened #3435 "Tox VS Ring"
https://ring.cx/
https://play.google.com/store/apps/details?id=cx.ring
"Ring featured on the Free Software Foundation website" - 2016

What do you think?

[2016-06-25 09:20] ghost commented on #3435
Tox expose user's IP address by default(and the user need to use proxy such as Tor to mask IP).
It seems "Ring", on the other hand doesn't use IP as identifier.

I couldn't find Ring's forums to talk about "Tox" btw.

[2016-06-25 10:19] zetok commented on #3435
Are you seriously blissfully unaware?

First of all, IP is not an identifier. Tox ID is.

Second of all, either Ring has to also "expose" IPs, or is centralized, in which case their claim about being P2P can be thrown out of the window.

Third of all, the matter which you don't seem to be concerned about, is actual security.

Tox has been build on a principle that **there is only secure mode avail

[2016-06-25 11:44] ByteCommander commented on #3408
Sorry that I forgot to reply. Well, I finally got the `tox-add-pubkey` to work and successfully tested it, so my contact lists are in sync again.

I could not try the SQL stuff yet, but that wasn't that important for now anyway.

Thank you very much for your help.

[2016-06-25 11:44] #3408 closed, assigned to nobody

[2016-06-25 11:48] anoadragon453 opened #3436 "Profile Import File Picker Initialization Causes Freeze"
##### Brief Description

OS: Arch Linux 64bit XFCE
qTox version: Compiled from latest commit (v1.4.0-133-g76239aa)
Commit hash:  684835de1b3a26aac83d1fa99f2bb5a78eab411e
toxcore:  0.0.0
Qt: 5.6.0
Hardware:  Intel, Nvidia
Reproducible: Always
##### Steps to reproduce
1. Open qTox
2. Be not signed in, click on `Import` button
3. Program freezes
##### Observed Behavior

Clicking Import causes the pro

[2016-06-25 12:05] anoadragon453 commented on #3404
I wrote the code for the markdown interpretation in qTox. I agree it doesn't exactly line up with other applications and have heard complaints about it before. I'm open to changing the syntax as changes are quite easy to make, though I would like a formal discussion on it where most people are in agreement before we make the change.

Unfortunately one can't please everybody, short of creating a vi

[2016-06-25 12:12] ddobrev commented on #3404
I agree, settings for this would be way too cumbersome. Let's just pick any syntax which does not use dashes or other common punctuation marks. @SkyzohKey's suggestion is just fine.

[2016-06-25 12:38] ghost commented on #3435
I'm talking about Issue #3420 . "Tor" can mask your original IP, though "Tox" expose(leak) original IP to friends. This is what I'm worrying about(and I'm using Tor proxy combination).

So this sentence "Decentralized communication" which appears on top page description is a "lie"?
I've send an email to SFLinux, I'll post a reply if they respond.

I concern about security, and it's good to hear.

[2016-06-25 14:12] zetok commented on #3435
If you're worried about your _friends_ knowing your IP, then there's something wrong there, and it's not about technology.. And no, it's not a "leak". That's how P2P works.

#

IMO it would be a waste of time. Making a FAQ page on qTox wiki with this question answered sounds like a good idea though – would you be interested in helping with that? https://github.com/tux3/qTox/wiki/_new

[2016-06-25 14:23] zetok commented on #3436
Can't reproduce with clean environment on

OS: Gentoo amd64
Commit hash: 684835de1b3a26aac83d1fa99f2bb5a78eab411e
Qt: 5.5.1
DE: i3wm

Can someone else reproduce?

[2016-06-25 14:45] zetok commented on #3404
I think that it would be good to switch to proposed syntax. So if no one has any bigger concerns → accepted.

[2016-06-25 15:02] zetok commented on #3429
Fixed in https://github.com/tux3/qTox/pull/3434/commits/fca5f15532ddbc21d70e6295d0742218cbc6fe1e, thus closing.

[2016-06-25 15:02] #3429 closed, assigned to nobody

[2016-06-25 15:15] #2847 closed, assigned to nobody

[2016-06-25 16:33] Talkless commented on #3372
@tux3 Could you comment on this issue? Do you actually build with MinGW? I am still struggling with build errors as posted in my comment above.

[2016-06-25 16:55] ddobrev commented on #3158
@zetok I haven't used qTox on Linux yet but this never happens on Windows and all the time on OS X.
@RowenStipe I was told a few months ago that none of the qTox developers own a mac so I would like to ask you about it. Are you sure it has never happened to you? I can upload my log if you think it can be of any help.

[2016-06-25 18:07] towlie opened #3440 "Log file error "Critical: Unable to move logs""
OS: Windows 7
qTox version: (version numbers in menu `Settings → About`)
Commit hash:  8d225a8c97a36838092b325ca830c14546f3a0c6 and newer
toxcore:
Qt:  5.4.2
Hardware:
…
https://gist.github.com/towlie/9419eea500e99bb95a4a9804d89dd880
Logging itself still works.

[2016-06-25 21:18] anoadragon453 commented on #3404
I will go ahead and change it to @SkyzohKey's syntax and create a PR.

[2016-06-25 22:13] Diadlo commented on #3436
Can't reproduce too

OS: Arch linux
Commit hash: `684835d`
Qt: 5.6.0
DE: KDE

[2016-06-26 01:00] ghost commented on #3435
I think the question should be added to "tox.chat" because it is about not only "qTox" but also other Tox clients, such as Antox, uTox. Should I post this issue to support@lists.tox.chat ?

[2016-06-26 01:10] ghost commented on #3435
## I added "Signal" as a rival. related: https://github.com/LibreSignal/LibreSignal/issues/37

"What makes TOX special? I already using other software such as... ."
The other software, such as WhatsApp, Ring, ChatSecure, and Signal are not secure than you think.
"WhatsApp" and "Signal" use central server, and the former software doesn't encrypt user communication at all. It's easily controlled by

[2016-06-26 03:19] LuccoJ commented on #3435
@zetok

This does not reflect reality of secure protocols, and actual security experts typically consider "DIY security" dangerous and rely on established primitives or even protocols.

Ring's SIP mode is separate from its P2P mode. If you explicitly set up a separate SIP account, then it can behave as a SIP client, otherwise it will only connect to its OpenDHT with full encryption throughout.

@p

[2016-06-26 08:29] zetok commented on #3436
@anoadragon453 it sounds like a problem with your system..?

[2016-06-26 08:35] zetok commented on #3435
@LuccoJ

No, that reflects quite well the reality of **standards**. The actual standard, as opposed to what we would want, is **lack of security**. There's only small subset of standards that aim for security, and only subset of them is good. And even then, chances of someone messing up actual implementation even when standard is good are quite high.

With that being said, I agree that NIH isn't p

[2016-06-26 10:01] anoadragon453 commented on #3436
@zetok Seems I'm having multiple problems with qTox now, can't reproduce on other box. Closing until I have any more clues...

[2016-06-26 10:07] anoadragon453 commented on #3440
Code responsible is

[code]

Can someone verify the syntax for the rename command works on Windows?

@towlie Do you have any weird permission settings on your qtox.log file? Is there a qtox.log.1 already in the folder?

Logs should be located on your computer at `C:/Users/noob/AppData/Roaming/tox\qpudge.tox`

[2016-06-26 10:44] towlie commented on #3440
~~If you mean something like "write protection", there is no such thing.~~ Permissions are fine.
There is no other qtox log file:
![da](https://cloud.githubusercontent.com/assets/6986141/16361803/a5b3fb96-3b9b-11e6-918f-766a3fc6f9f0.jpg)

[2016-06-26 11:31] borrougagnou commented on #3125
sorry for long response time, it's difficult for me this month.
I have always the same problem...
In qTox 1.4.1.1:
![capture d ecran 2016-06-26 a 13 30 48](https://cloud.githubusercontent.com/assets/10796546/16362003/456c00ec-3ba2-11e6-9aca-bfcac29b3fe2.png)

[2016-06-26 12:55] Talkless commented on #3372
There is effort to make libqrencode buildable with CMake, which is very nice, though actual implementation is not quite enough so far: https://github.com/fukuchi/libqrencode/pull/83 .

[2016-06-26 14:27] antis81 commented on #3125
@borrougagnou Thanks. No need to post the same screenshot over and over… :)

I had a look into the code some weeks ago. There's two scenarios, which can lead to your situtation:
1. You actually switched language at some point and qTox thought to save the text in the other language (is it swedish?).
   - qTox does not translate audio device names. The names are taken "as is" from OpenAL. But…
   -

[2016-06-26 15:01] ghost opened #3443 "qTox crashes when I attempt to transfer a file"
qTox crashes when I attempt to transfer a file

OS: Arch Linux
qTox version: v1.4.0-206-g8ac47bf
Commit hash:  8ac47bf06b038cd7decf62a114347579488559a7
toxcore:  0.0.0
Qt:  5.7.0
Hardware:  Generic x86 Hardware
Reproducible: Always
##### Steps to reproduce
1. Start qTox.
2. Attempt to send a file to anyone, doesn't matter if that user is actually online or not.
3. qTox completely stops as soon as

[2016-06-26 15:30] Diadlo commented on #3440
@towlie Could you please check value of `logFileDir + "qtox.log"` and `logFileDir + "qtox.log.1"` ?
Will be better to add these two values to error message?

[2016-06-26 16:07] towlie commented on #3440
There it is:
[18:04:42.791] ../src/main.cpp:180 : Critical: "C:/Users/noob/AppData/Roaming/tox\qtox.log"
[18:04:42.791] ../src/main.cpp:181 : Critical: "C:/Users/noob/AppData/Roaming/tox\qtox.log.1"
I assume it is the mix of / and \ .

[2016-06-26 16:21] Diadlo commented on #3440
@towlie Hmm... Could you try this?

src/persistenct/settings.cpp:630 change on

[code]

[2016-06-26 16:37] towlie commented on #3440
No, that doesn't work. Maybe / is right when using qt?? What does it use to create other files and folders?
[18:35:08.703] ../src/main.cpp:169 : Debug: Log file over 1MB, rotating...
[18:35:08.703] ../src/main.cpp:177 : Warning: Unable to remove old log file
[18:35:08.711] ../src/main.cpp:180 : Critical: "C:\Users\noob\AppData\Roaming\tox\qtox.log"
[18:35:08.711] ../src/main.cpp:181 : Critical: "C

[2016-06-26 16:43] Diadlo commented on #3440
@towlie I don't think so. But let's try to add debug `path` value to src/widget/form/chatform.cpp:195
And send some file.

**Added**:
Did you try delete this file manually?

[2016-06-26 16:50] towlie commented on #3440
I can delete it manually.

[2016-06-26 17:06] towlie commented on #3440
It doesn't have anything todo with / and \ :

[code]

[2016-06-26 17:51] anoadragon453 commented on #3440
Can you try changing qtox.log.1 to qtox.log.2 in the code and see if that completed successfully?

On June 26, 2016 10:06:07 AM PDT, towlie notifications@github.com wrote:

[2016-06-26 18:35] zetok commented on #3443
Err, that's not a crash.

Looks like the same issue @anoadragon453 had in #3436

Looks like only some Arch users are affected, possibly there's some dep missing.

[2016-06-26 18:37] zetok commented on #2018
Is this still reproducible on newest qTox?

[2016-06-26 18:37] ghost commented on #3443
Well, qTox completely freezes when I press that button. I installed qtox-git from the AUR to try to remedy this issue, but that didn't work. (That's the version I used when I created this error report.)

[2016-06-26 19:42] ghost commented on #3443
Alright, I was informed on the Arch Linux IRC that I could do some sorta "backtrace", and it was discovered that it's not likely a dependency that's missing. Here's the results of said backtrace.

[user@sodor ~]$ sudo gdb
[sudo] password for user:
GNU gdb (GDB) 7.11.1
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later
http://gnu.org/licenses/gpl.html
This

[2016-06-26 19:49] ghost commented on #3443
Here's the output of an ldd command, showing that no dependencies are missing.

https://ptpb.pw/AOMs1eAJ2Q--XnF3r4c9AfVi9VQ-

[2016-06-26 20:50] aberaud commented on #3435
Greetings, Ring developer here,
Ring is a distributed communication platform, its nodes are part of a DHT network, so their IP is indeed exposed.
Ring accounts (the default account type) are always forced to be secured ; SIP is then only used peer-to-peer over authenticated TLS (with PFS) to negotiate codecs and keys. Users can still configure classic SIP accounts if they want for interoperability

[2016-06-26 21:55] darkman088 commented on #672
And again, a lot of opinions, a lot of stong requests to implement this and still nothing...
Does really no developer show interest in managing this task, which on top of its
importance also seems to be quite easy ???

[2016-06-27 02:21] antis81 commented on #672
Probably because minority are/were actual coders here. If you like to contribute, feel free to open a PR. Other than that, I will definitely have a look into this and maybe add some "zoom" shortcuts or something like that.

[2016-06-27 08:59] Diadlo commented on #2081
Seems PKEv was right.
I think, we should add check permissions: that .tox file has `600` mode (for *nix) and correct rights for windows (create new issue?)

[2016-06-27 09:14] Diadlo commented on #3443
It seems that problem is connected with `QFileDialog::getOpenFileName` and `QFileDialog::getOpenFileNames`

[2016-06-27 11:13] Fohroer commented on #672
I know that in new version for Linux font size changes according to GTK font size settings. But that's not the solution of this issue.

[2016-06-27 18:57] ddobrev commented on #2726
if the linked problem of uTox is unrelated, this means its implementation of message queues is healthy. In such a case how difficult is it to reuse it in qTox? This problem has been present for more than enough.

[2016-06-28 00:22] antis81 commented on #672
Right. It's fine as a default though.

If I understand the issue right, it's all about changing the chat's font size in settings (maybe zoom via ctrl +/- keys or mouse ctrl+wheel) @zetok right?

[2016-06-28 05:11] anoadragon453 commented on #3436
It's an issue in Gnome's file manager, I'll send a PR with a work around for this.

[2016-06-28 08:35] Fohroer commented on #672
Yes.

[2016-06-28 09:04] photonometric commented on #672
I remember people in one of the earlier threads were talking about changing it via CSS, then dismissing the idea as absurdly awkward. I would settle for something like that, but I've let my linux go for like a decade >_>

[2016-06-28 10:12] ghost opened #3448 "American Fuzzy Lop (AFL)"
Try to run qTox with AFL, it will reveal a bunch of interesting crash cases that can be related to security.

http://lcamtuf.coredump.cx/afl/

[2016-06-28 12:52] nazar-pc commented on #3419
Looks like fix was reverted, since bug returned (I have v1.4.0-206-g8ac47bf-obs, 8ac47bf06b038cd7decf62a114347579488559a7 build currently)

[2016-06-28 14:25] abbat commented on #3419
Sorry, I forget to commit patch in build script. Fixed now.

[2016-06-28 14:28] nazar-pc commented on #3419
Thanks, it is good again.

[2016-06-28 14:28] #3419 closed, assigned to nobody

[2016-06-28 14:48] antis81 commented on #672
With my PR, this is actually now possible by adding some minor tweeks. ^^ However, I recommend keeping it simple. So setting a base font & size in qTox settings does the job very well.

[2016-06-28 17:45] sudden6 commented on #3435
@proxifier if you want to add this to the faq open an issue at https://github.com/Tox/tox.chat

@LuccoJ internally Tox is using https://github.com/jedisct1/libsodium so it doesn't invent it's own crypto.

[2016-06-28 17:51] sudden6 commented on #3448
I don't really know if AFL can be easily used with qTox, since many crashes are triggered by user interaction with the GUI and AFL can't simulate that AFAIK.

[2016-06-28 20:44] Diadlo commented on #3403
To be sure, that problem doesn't related from this line:
`[20:06:06.303] ../src/video/netcamview.cpp:91 : Debug: SIZER QSize(-1, -1)`

Could you try this:
1) Open Settings - A/V tab
2) Change the video mode
3) Make call
4) Check this line in logs again

[2016-06-28 22:55] antis81 commented on #3403
@Diadlo Take warnings seriously: `[20:06:04.415] :0 : Warning: QObject::startTimer: Timers cannot be started from another thread` ^^

Crash starts here. @zetok Not sure, but probably related to the crash you experienced yesterday.

[2016-06-29 00:13] LuccoJ commented on #3435
@sudden6 I had not said that Tox invents its own crypto, only that Ring doesn't. It makes pretty sure, just as Tox does, that everything travelling on it is properly encrypted; it takes a slightly different approach from Tox's by building not only on established cryptographic libraries, but also on established protocols. If that's enough (as it's being made to appear) to make it unsound security-w

[2016-06-29 07:52] anoadragon453 commented on #2921
@SkyzohKey Does libnotify work on Windows?

Edit: Also more dependencies are always a con.

[2016-06-29 08:43] anoadragon453 commented on #3420
What do you think of these design concepts?

Icon near username:
![qtox-proxy-next-to-user](https://cloud.githubusercontent.com/assets/1342360/16446070/99ebdc7e-3d9a-11e6-9a42-97d760955a91.png)

Icon over avatar:
![qtox-proxy-over-user](https://cloud.githubusercontent.com/assets/1342360/16446117/d1f15c98-3d9a-11e6-9c73-7604f57baaca.png)

Pattern over availability status:
![qtox-proxy-test](https:/

[2016-06-29 08:51] yurivict commented on #3420
I like the first two.

[2016-06-29 09:08] zetok commented on #3435
Sounds like a bullshit to me, especially after having a brief look at the Ring's sauce.

[code]

↑ from ring-lrc @ 4d775ea8b47e038ca3be9f83d147e054104418ec

They support crypto that is considered to be broken. https://en.wikipedia.org/wiki/POODLE

Also they're patching their crypto lib – there's something _deeply wrong_ if you have to patch the crypto lib you're using.. And no, it's not about patc

[2016-06-29 09:35] zetok commented on #3420
@anoadragon453 Icon tells ~nothing. Same goes for pattern.

If proxy indicator should be available somewhere, why not the program bar?
![bar](https://cloud.githubusercontent.com/assets/3148759/16447498/d8f2f84a-3de4-11e6-821b-0c57acefb5f9.png)
↑ with proxy active, it could have added `- (via SOCKS5 proxy)` / `- (via HTTP proxy)`

[2016-06-29 13:04] ghost opened #3451 "qTox crash on Logout"
OS: Windows 7 x64
qTox version: qTox version v1.4.1.1-g06d78dc

Reproducible: Always
##### Steps to reproduce

1) Download the 64bit installer for qTox.

2) Install qTox.

3) Start qTox.

4) Create profile.

5) Right click tray icon of qTox and select logout.

6) qTox has crashed.

[2016-06-29 13:22] ghost opened #3452 "Address space layout randomization"
OS: Windows 7 x64
qTox version: qTox version v1.4.1.1-g06d78dc

Reproducible: Always

qTox does not appear to be using ASLR (Address space layout randomization) https://en.wikipedia.org/wiki/Address_space_layout_randomization on Windows. I checked this using Process Explorer.

ASLR helps improve security of a program.

[2016-06-29 16:04] ghost commented on #3452
Perhaps some useful links:
https://developer.pidgin.im/ticket/15290
https://stackoverflow.com/questions/24283918/how-can-i-enable-aslr-dep-and-safeseh-on-an-exe-in-codeblocks-using-mingw
https://security.stackexchange.com/questions/24444/what-is-the-most-hardened-set-of-options-for-gcc-compiling-c-c
https://stackoverflow.com/questions/9398046/useful-gcc-flags-to-improve-security-of-your-programs
h

[2016-06-29 18:41] ovalseven8 commented on #3451
There is already an issue => #2480

[2016-06-29 19:54] zetok commented on #3451
Oh, right. Thanks, closing.

[2016-06-29 19:54] #3451 closed, assigned to nobody

[2016-06-29 19:56] zetok commented on #2480
Still reproducible on 4f493c5df73dffef25e4f34984fdb736f8da626c

[code]

[2016-06-29 20:46] anoadragon453 commented on #3420
@zetok I like that idea, saves people a "qtox what is arrow icon" DDG
search. Either `(via SOCKS5 proxy) / - (via HTTP proxy)` or `(SOCKS5
proxy active) / - (HTTP proxy active)` works for me.

I feel the icon would be unnecessary if we have the info in the title.

On 06/29/2016 02:35 AM, zetok wrote:

[2016-06-29 20:52] zetok commented on #3420
`($type proxy active)` seems to sound better.

[2016-06-29 20:53] yurivict commented on #3420
Graphical symbols are always easier to read.

[2016-06-29 20:53] zetok commented on #3420
@yurivict which graphical symbol? The one that has no meaning behind it?

[2016-06-29 21:19] yurivict commented on #3420
It is true that there is no commonly accepted icon for "proxy" (amazingly). But the blue earth symbol seems to be used a lot. For example something like this http://eproxy.my-addr.com/img/proxy_antivirus_icon.png (w/out the bottom part). Proxy switcher addon in chrome also uses the blue earth symbol.

[2016-06-29 23:00] anoadragon453 commented on #3420
@yurivict We should go for the clearest option to users, which in this case is the text.

The question is whether the text is sufficient to alerting users that there is a proxy active, as a title bar change doesn't really jump out to most.

[2016-06-29 23:09] anoadragon453 commented on #3452
Would this be necessary with the addition of selfrando as described in #3426?

[2016-06-29 23:25] yurivict commented on #3420
Exactly, text doesn't jump out as much a graphic representation does.

[2016-06-29 23:29] yurivict commented on #3420
People can already see that there is the proxy, in Connection Settings. The point is to unambiguously and clearly assure users that their IP address isn't compromised. Otherwise many people just believe that Tox isn't safe and reject it.

[2016-06-30 11:03] ghost commented on #3452
selfrando works in addition to ASLR. However, adding ASLR is easy, adding selfrando is not well tested yet.

[2016-06-30 11:09] #3421 closed, assigned to nobody

[2016-06-30 11:15] #3440 closed, assigned to nobody

[2016-06-30 13:33] SkyzohKey commented on #2921
@anoadragon453

Nope, but you could use libnotify/gnome notification on linux since they work on every DE and simply use your own on Windows. + Growl on OSX. Would probably avoid many bloat

`libnotify` package exists in **every** distro ^^

[2016-06-30 18:25] #672 closed, assigned to nobody

[2016-06-30 21:18] antis81 commented on #991
Font can now be changed in chat options. Closing.

[2016-06-30 21:18] #991 closed, assigned to nobody

[2016-06-30 21:58] anoadragon453 commented on #2921
@SkyzohKey Using three notification backends for all OS' sounds like more bloat than what @agilob is proposing with a Qt widget instead, however the question is integrating it into each DE.

If it were up to me, I'd say get a working implementation first that might not look great, but gets the job done, then in future releases we can integrate into the rest of the OS.

[2016-06-30 23:16] SkyzohKey commented on #2921
@anoadragon453 So you prefer to reinvent the wheel on 3 OS instead of only one (Windoesn't) ?

Linux has libnotify/GLib.Notification/etc,
OSX has Growl,
Windows has... nothing, like ever.

IMHO it would be more intelligent to only focus on:
1. Integrating desktop notifications on Linux and OSX using proved libraries that integrates well in every distro/window manager.
2. Developing your own notifi

[2016-07-01 06:49] antis81 commented on #2921
@SkyzohKey Your second point goes totally contrary to what you wrote before. Implementing a notification API on Wndows means to implement an API, that (maybe with minor differences) works on any Platform. AFAIK Growl is supported on Windows btw, but has to be installed separately. I didn't touch that topic for years though.

If multiplatform is a point here, than I'd say to check, if a notificatio

[2016-07-01 11:38] linux-modder commented on #2081
I'd say 700 in the event your have  executable files that the  qtox  user  is  accessing  from an external program.

e.g.  Downloading some software / presentation from a contact and  opening / installing by  calling the file in ~/.config/tox having not previously  migrated the file elsewhere on the system.  OR at the  very least  chmod -R 600 ~/.config/tox and  chmod -R 700 on ~/.config/tox/Files

[2016-07-01 13:15] zetok commented on #3177
#3423

[2016-07-01 13:18] zetok commented on #1458
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-07-01 13:18] #1458 closed, assigned to nobody

[2016-07-01 13:18] zetok commented on #1559
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-07-01 13:18] #1559 closed, assigned to nobody

[2016-07-01 13:21] zetok commented on #2158
With #3449 merged chatform font can changed – is it still reproducible after changing font?

[2016-07-01 13:22] zetok commented on #2624
No response for over a month from @Twyz, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-07-01 13:22] #2624 closed, assigned to nobody

[2016-07-01 13:23] zetok commented on #2833
Looks like a duplicate of #2480, thus closing.

[2016-07-01 13:23] #2833 closed, assigned to nobody

[2016-07-01 13:27] zetok commented on #3190
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-07-01 13:27] #3190 closed, assigned to nobody

[2016-07-01 13:38] zetok commented on #3242
Needed info not provided for over a month, thus closing.

[2016-07-01 13:38] #3242 closed, assigned to nobody

[2016-07-01 13:38] zetok commented on #3244
Needed info not provided for over a month, thus closing.

[2016-07-01 13:38] #3244 closed, assigned to nobody

[2016-07-01 16:04] Diadlo commented on #2081
@linux-modder I not fully understand, what you mean. I say not about rights for ~/.config/tox/*, but about ~/.config/tox/*.tox

[2016-07-01 16:15] Diadlo commented on #3343
Problem with automatically 720 setup fixed on `5e5e27c`. Can you try now?

[2016-07-02 00:13] Diadlo opened #3458 "[Feature request] Show sidebar only for multi-user chat"
##### Brief Description

If qtox used for individual dialogs (open chat with only one person) sidebar should be hidden

One user:
![spectacle t31310](https://cloud.githubusercontent.com/assets/6306608/16537018/43cafcd0-400b-11e6-88e6-3dca92f60fc3.png)

More than one user:
![spectacle s31310](https://cloud.githubusercontent.com/assets/6306608/16537016/37ce0d78-400b-11e6-9796-0dcaa8e610e2.png)

[2016-07-02 01:16] zetok commented on #3458
Since change doesn't seem to remove any functionality, why not.

[2016-07-02 11:41] ghost opened #3459 "":0 : Warning: QFont::setPixelSize: Pixel size <= 0 (0)" messages on startup"
I have just noticed that after launching the latest version of qTox (`1.4.0-228-g9694d6b-1`) that I get these warning messages:

This is the full output:

I am running Ubuntu GNOME 16.04 with GNOME 3.20.

[2016-07-02 14:35] Fred-Barclay commented on #3391
Well, qTox version v1.4.0-228-g9694d6b-obs isn't crashing any more, and I can change my audio and video options.
I'll give it a few days and if it stays stable I'll close this.

Thanks @zetok and cheers!
Fred

[2016-07-02 18:44] sudden6 commented on #3459
@antis81 could that have anything to do with your recent PR?

[2016-07-02 20:38] sudden6 commented on #3458
That may be just a bug that the bar isn't hidden by default.

[2016-07-02 20:38] sudden6 commented on #3458
wrong button, sorry

[2016-07-02 23:35] tux3 commented on #3435
This issue is clearly not going anywhere, closing for now. Let's try to keep things civil, though.

[2016-07-02 23:35] #3435 closed, assigned to nobody

[2016-07-02 23:48] ghost commented on #2820
Oh come on, 1 year passed and toxcore doesn't care about this.

## Repost from : https://github.com/irungentoo/toxcore/issues/1349

This issue can be fixable already.
Sinply add these settings into options, and let users use it.

[X] Reconnect Automatically Every (pull down menu V )
1 hours
2 hours
3 hours
6 hours
12 hours
1 day

And

[X] Do not reconnect if the user has open chat window
(e.g., if

[2016-07-02 23:50] ghost commented on #2820
https://github.com/irungentoo/toxcore/issues/1349

[2016-07-03 00:13] tux3 commented on #3362
This is a known and fixed bug, you need to update to the latest qTox version to resolve it, this can be done by running the installer.
A workaround for the bug is to change the shortcut to start in "C:\Program Files\qTox\bin" instead of "C:\Program Files\qTox"

[2016-07-03 00:13] #3362 closed, assigned to tux3

[2016-07-03 05:50] ghost opened #3460 "64 bit and 32 bit installers ... change the name of setup file"
Setup file name for 64 and 32 bit versions is the same - **setup-qtox.exe**

OS: Windows

[2016-07-03 06:05] ghost opened #3461 "[Windows] Signature files for 64 bit and 32 bit installers are not found"
OS: Windows

[2016-07-03 06:45] tux3 commented on #3461
Our update server script was accidentally cleaning up and deleting the signature files periodically, we're working on a solution.

[2016-07-03 07:14] zetok commented on #3460
That would break links. Is there a **good** reason for it?

[2016-07-03 07:31] tux3 commented on #3461
This has been fixed by updating the maintenance scripts.

[2016-07-03 07:31] #3461 closed, assigned to tux3

[2016-07-03 07:39] anoadragon453 commented on #266
Is this still an issue with latest qTox?

[2016-07-03 08:19] anoadragon453 commented on #518
I suggest closing unless can be reproduced on latest qTox/Qt build.

[2016-07-03 08:40] anoadragon453 commented on #658
Couldn't reproduce on latest build.

[2016-07-03 08:46] anoadragon453 commented on #781
Not reproducible with the latest build.

[2016-07-03 09:11] zetok commented on #658
Also couldn't reproduce on 9694d6b6d434bb7557c9766e89dce5fb4cb89502, thus closing.

If someone can still reproduce, please comment for reopen.

[2016-07-03 09:11] #658 closed, assigned to nobody

[2016-07-03 09:36] zetok commented on #781
Actually, I can still reproduce on newest qTox, one just has an alias set for friend; reopening.

[2016-07-03 10:01] anoadragon453 commented on #781
To be clear one cannot show an alias to one contact and a separately-named alias to different users, one possible solution is to show both. See #1195

[2016-07-03 10:19] ghost commented on #3460
No good reason for it ... please, find out a way to identify 64bit setup file and 32bit one. For example, release zip versions of both installers to be downloaded. In one folder, there is no way to keep both installers due to the same file name. There is no any mark in setuped qtox for 64 or 32bit version either. Nothing in "about" section, nor in window's title. Thank you for your attention to th

[2016-07-03 10:24] ghost commented on #3460
In portable versions is the same thing ... no any marks for 64bit and 32bit qTox

[2016-07-03 10:49] #2480 closed, assigned to nobody

[2016-07-03 11:21] tux3 commented on #3460
Why would you download both installers, though?
You only need the one corresponding to your hardware, or the 32bit one if you're not sure.

[2016-07-03 11:40] ghost commented on #3460
thank you for the answer ... anyway I'm only download binaries ... what is not make sense for the coders ....

[2016-07-03 11:46] ghost commented on #2820
About the tag "upstream": https://github.com/irungentoo/toxcore/issues/1597
So, the main developer disappears(according to reddit), this means "no upstream fix".

qTox's "reconnect interval" is the possible walkaround bugfix I think.

[2016-07-03 12:57] zetok commented on #1940
@rstarkov um, this issue is open?

[2016-07-03 14:32] zetok opened #3468 "Make Linux travis build script fail as soon as there's an error"
##### Brief Description

Make Linux travis build script fail as soon as there's an error, by adding `set -e` in https://github.com/tux3/qTox/blob/master/.travis/build-ubuntu_14_04.sh

~~Note that most likely it will require adding `PKG_CONFIG_PATH = $$PWD/libs/lib/pkgconfig` in `qtox.pro` (or somewhere?).~~

~~Also [PKGCONFIG lines](https://github.com/tux3/qTox/commit/44e765554676f47063c6622743f90

[2016-07-03 16:49] LittleVulpix commented on #2820
@proxifier the main dev has not disappeared as far as I know. He's just a perfectionist and doesn't want to push working code if it's not working perfectly.

[2016-07-03 19:13] PKEv commented on #3129
@tux3
maybe this is fixed, very similar to #2480 ?

[2016-07-03 19:22] PKEv commented on #3405
This is already implemented in the kernel?

[2016-07-03 19:41] zetok commented on #3405
Nope.

[2016-07-03 21:53] rstarkov commented on #1940
@zetok D'oh! Apologies.

[2016-07-04 07:24] agilob commented on #518
btw I can't reproduce it on KDE5 ArchLinux. Can anyone?

[2016-07-04 08:09] antis81 commented on #3459
Thanks for reporting!

Yeah, this is very likely a problem with the singleton instances `Style` & `Settings`. Not a big deal. Qt just falls back to a default font in this case. Looking into that later today. Anyway, it's a bug.

[2016-07-04 09:53] ovalseven8 opened #3470 "OBS should provide stable releases"
At the moment, @abbat is updating the packages for qTox when he has enough time (2 - 3 times per week).

I guess, it would be a good thing if OBS would also provide packages with the stable releases because they has been created for a good reason (to provide releases with less bugs for the normal users).

So, my suggestion:
The default should be -> using the stable releases
For more advanced users

[2016-07-04 10:13] zetok commented on #3470
What "upstream releases" ?

[2016-07-04 10:20] ovalseven8 commented on #3470
I should have said latest commit

[2016-07-04 10:20] zetok commented on #3470
And how would they get it?

[2016-07-04 12:54] abbat commented on #3470
Resume from IRC:
- Next stable release freezes in "**qtox**" package;
- Upstream releases moved to "**qtox-alpha**" package (not "nightly" because it is not automatic nightly release).

Correct me if I'm wrong.

[2016-07-04 13:20] Fred-Barclay commented on #3391
It's the weirdest thing... qtox will crash about half the time when I go to the Audio/Video option, but when I run it in firejail it hasn't crashed at all... yet. :smile:

[2016-07-04 14:53] ogbaba commented on #3443
I also have this issue.

[2016-07-04 16:57] ovalseven8 opened #3474 "Change base font settings/behaviour"
At the moment, if someone changes the base font in the qTox settings, the changes are only active for new communication. Because of that, the appearance is inconsistent.
It's required to restart qTox for full consistency.

I don't think this is a nice solution concerning UX.
So, I have two suggestions:
1. Change font immediately and completely
2. Change font **only** after restart (Popup like "To

[2016-07-04 20:25] antis81 commented on #3474
First of all, it is a solution! And it sports absolutely predictable behavior! So, if you like it or not: That's the way it is!

The problem here actually is:
The basis implementation for qTox chat messages (and pictures, and file transfers, etc.) copies the same default style sheet over and over with each chat message! Someone has chosen for an "item based" implementation - i.e. each item also co

[2016-07-04 20:40] zetok commented on #3474
Before that, it would be good to consider performance side. I.e. current chatform was made this way in order to be somewhat able to handle abuse by users (e.g. sending hundreds of messages over some period of time).

Currently, it should be able to handle at least a few thousands messages, perhaps way more on a powerful box.

IIRC previous model treated messages as chat, rather than separate items

[2016-07-04 21:54] antis81 commented on #3474
@zetok

In this context, I like to point to a self-made demo and shamelessly state, that there probably isn't a better example out in the wild:
Please, have a look at the [table model example](https://github.com/antis81/QtModelViewDemo). It allows a direct comparison between the techniques, while showing, how it is done right. The builtin `QTableModel` used in the example is mainly meant to quickl

[2016-07-05 02:37] zetok opened #3476 "Desktop sharing doesn't work when there's no camera attached"
##### Brief Description

Desktop sharing doesn't work when there's no camera attached.

OS: Linux
Commit hash:  a01293f81e58409436f7bab897cc6c2fa2a66f63
Qt:  5.6.1

Reproducible: Always
##### Steps to reproduce
1. Start qTox on system that has no camera attached, and didn't have one attached
2. Go to settings in order to try to use `Desktop` as video device
##### Observed Behavior

Even though dev

[2016-07-05 06:49] #3459 closed, assigned to nobody

[2016-07-05 07:48] ElLamparto commented on #3420
I would say, the user should be notified when no direct connection is possible (no incoming connections due to a firewall, closed port, etc.)

[2016-07-05 07:53] ElLamparto opened #3478 "The speaker audio control periodically set to minimum without any user action"
Debian 32bit, qTox updated yesterday
Reproducible: Always. Just let it run for some time.

[2016-07-05 08:33] antis81 commented on #3478
What do you mean by "periodically"?

[2016-07-05 08:39] #3436 closed, assigned to nobody

[2016-07-05 08:39] #3443 closed, assigned to nobody

[2016-07-05 10:39] zetok commented on #3420
And how would you know that?

[2016-07-05 10:39] zetok commented on #3478
Doesn't mean much. Version info?

[2016-07-05 13:37] a68366 opened #3479 "Buttons translation bug"
##### Brief Description

OS: xUbuntu 16.04
qTox version: v1.4.0-233-g4872eb3-obs
Commit hash:  4872eb3cc365e8cfea648a764f4d5c1d496cac65
toxcore:  0.0.0
Qt:  5.5.1

Reproducible: Always
##### Steps to reproduce
1. Receive an executable file
2. Change qTox language (e.g. to Japanese 日本語)
3. Try to open the file from the chat & see the warning (in Japanese, OK)
4. Change qTox language to English
5. T

[2016-07-05 13:42] ElLamparto commented on #3478
@antis81, I mean "from time to time" - I've made no statistics. No call or other obvious event is required for the bug to appear. The speaker volume is set to zero.

@zetok,  qTox version v1.4.0-232-g4eed254

[2016-07-05 15:47] wDraw opened #3480 "Voice quality dropping when sending files"
OS: Linux: Fedora 24
qTox version: v1.4.0-240-ga01293f-obs
Commit hash: a01293f81e58409436f7bab897cc6c2fa2a66f63
toxcore: 0.0.0
Qt: 5.6.0

Reproducible: Always
1. Call a friend
2. Send a file to that friend (doesn't matter what file)
3. Listen

Observed Behavior:
When speaking to a friend while sending a file to him at the same time the voice quality drops a lot.

Expected Behavior:
When speaking

[2016-07-05 15:50] ovalseven8 commented on #3480
That's right, but a toxcore issue.
Please post here => https://github.com/irungentoo/toxcore/issues/1478

[2016-07-05 15:54] wDraw commented on #3480
Oh, sorry.

[2016-07-05 19:25] a68366 commented on #2449
Couldn't reproduce on  b4a87a3a0ed6060321f141d67a138cc0f88a1e86
Second instance is starting normally using `qtox -p`
No error messages in log

[2016-07-06 00:02] borrougagnou commented on #3125
I waiting update :3
but actually I do not know why, I don't receive update and nothing information for know if I have a latest version or not...

[2016-07-06 07:38] ElLamparto commented on #3478
Las night I did some testing. The speaker volume is set to zero ALWAYS after qTox start. I would look at reading/writting od the config file. Recently the font definition was added, maybe it messes up the config...

[2016-07-06 07:45] antis81 commented on #3478
It definitely doesn't.

Volume is set by setting the master (listener) volume of the audio output device. The value is taken from settings and drops zero, when the device is invalid for some reason. So we need to know exactly, if…
1. …this happens, when opening settings.
2. …what device did you chose (default?).
3. …it does happen, when **not** opening settings and just make a call.

[2016-07-06 08:09] antis81 commented on #2449
@a68366 Indeed the startup process seems to be solved.

Anyway the behaviour irritating and users expect that "simply to work". So we should at least display a `stderr` message and dialog, that another qTox is running - for example:

[code]

Think an FAQ would help here, too.

[2016-07-06 09:14] clickworkorange opened #3481 "qtox: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `CXXABI_1.3.8' not found (required by qtox)"
##### Brief Description

OS: Ubuntu 14.04 64-bit
qTox version: 691-a01293f

Reproducible: Always
##### Steps to reproduce
1. Run "qtox" from command line
##### Observed Behavior

Recieve error message: qtox: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `CXXABI_1.3.8' not found (required by qtox)
##### Expected Behavior

qTox should start normally.

This suddenly started happening after runnin

[2016-07-06 09:28] zetok commented on #3481
Duplicate of #3358, thus closing.

Use the right repo.

[2016-07-06 09:28] #3481 closed, assigned to nobody

[2016-07-06 10:39] zetok commented on #266
Yep, on 2d06b9960c60f1fc886ae04c595bd9a921cff316:
![muh files](https://cloud.githubusercontent.com/assets/3148759/16615318/c76f6c46-436d-11e6-9a32-a475b19fc3f6.png)
↑ top one is sending, bottom one is receiving (automatically accepts FT), done with a sample of 8k images (didn't send them all, just started sending, and turned qTox off, since ram usage skyrocketed)

UI of sending qTox froze, receivi

[2016-07-06 10:54] zetok commented on #266
Though this probably should be moved to new issue, and this one closed, since it's rather messy by now.

[2016-07-06 12:35] zetok opened #3483 "Inform that other qTox instance is already running, and how to launch another"
##### Brief Description

When user tries to open second qTox instance when there is already one running, it doesn't launch and user doesn't know that it's possible to run multiple instances, or thinks that there has been a regression in qTox.

Thanks to @antis81, from https://github.com/tux3/qTox/issues/2449#issuecomment-230706166:
#

Anyway the behaviour irritating and users expect that "simply t

[2016-07-06 12:37] zetok commented on #2449
Since bug appears to be gone, closing this issue.

As for improving UI/UX, so that users would be informed about a way to open more than one instance → #3483.

[2016-07-06 12:37] #2449 closed, assigned to nobody

[2016-07-06 20:11] abbat commented on #3476
Steps to reproduce:
- Attach camera (or run qTox with attached camera);
- Switch to camera in preview tab;
- Change tab;
- Detach camera;
- Return to settings tab and try to switch to Desktop camera;

[2016-07-07 11:00] ElLamparto commented on #3478
Currently I cannot answer those questions. What I can say is this:
- The speaker volume is set to zero after qTox start and going to Settings,
- Once the volume is corrected, going to Settings and back, even many times, changes nothing (the volume rest correct).
- Once the volume is corrected, audio calls are ok.

The bug was introduced quite recently (since I do not install every and each update,

[2016-07-07 11:07] ElLamparto commented on #2726
It suprises me. I send and receive tons of messages (often long ones), one of my contacts is on VPN, and I get repetitions almost never. Sometimes I get a contact online/offline many times (what is annoing), but no repetitions.

[2016-07-07 11:13] ElLamparto commented on #3420
@zetok, I do not know, but Bit Torrent applications (and even R.I.P. aMule) do it. Maybe they just wait and display - say - yellow dot until someone connects, and when that happens - a green one?

[2016-07-07 11:57] zetok opened #3490 "qTox crash when trying to send a screenshot"
##### Brief Description

qTox crashed suddently when I've tried to send a screenshot via qTox screenshot functionality

OS: Gentoo Linux amd64
qTox version: 1.4 ---
Commit hash:  9694d6b6d434bb7557c9766e89dce5fb4cb89502
toxcore:  0.0.0
Qt: 5.5.1

Reproducible: Didn't try to reproduce
##### Observed Behavior

After selecting part of screen and clicking 2 times to capture it, qTox crashed
##### Expe

[2016-07-07 13:06] zetok commented on #3420
Right. Sorry, my bad, I was asking how that would be done, considering that qTox doesn't get that info from toxcore.

Also, note that it's not possible to tell whether there's no incoming connections because there's no network, or because something was blocked, or because there's literally no DHT network. I.e. qTox is supposed to be functional on even on intranet, with no connection to the interne

[2016-07-07 13:18] zetok commented on #3125
Yeah, currently only Linux / windows get real updates. It's mentioned in README.md:

[2016-07-07 14:21] PKEv opened #3493 "cannot insert a link to the file"
##### Brief Description

qTox version: v1.4.0-248-g3ae18f2.

Cannot insert a link to the file after #3433.

Lost functionality that was previously

Then you need at least to add a handling modifier keys allows you to insert links, as it was originally in #1947

---

[2016-07-07 14:53] zetok commented on #3493
as a workaround, copying file and "pasting" it in the chat input field should result in file location (at least it does on Linux)

[2016-07-07 15:42] TheNain38 opened #3494 "qTox uses Qt's file picker"
##### Brief Description

OS: Windows
qTox version: v1.4.0-252-g34fb127
Commit hash:  34fb127db122f24be4456681ee6b217742c9cb11
toxcore:  0.0.0
Qt:  5.5.1

Reproducible: Always
##### Steps to reproduce
1. Use the button to send a file to someone
2. See the file picker not being Windows' native one
##### Observed Behavior

A non pratical and weird file picker is used, and qTox is the only application

[2016-07-07 16:01] antis81 commented on #3494
Probably the only unweird file dialog on a weird system… :)

[2016-07-07 16:05] zetok commented on #3494
It's a regression due to #3447

[2016-07-07 16:38] antis81 commented on #3494
@zetok

[code]

It's not a regression, it's the way Windows likes to be "special"! :smile:

[2016-07-07 16:40] antis81 commented on #3494
IOW: We decided for Qt's consistent rendering, which is totally fine and not weird (whatever that means…)!

[2016-07-07 16:42] zetok commented on #3494
@antis81 eh. The problem was that GTK decided to break things, and arch obviously had to use broken stuff, which resulted in qTox crashing when it tried to use (allegedly native, according to broken system info) file picker.

[2016-07-07 16:44] zetok commented on #3494
As for the PR, it made experience for anyone who was able to use native file picker simply horrible. Qt has a shitty file picker – while I didn't have support for native file picker on my system, there are systems where shitty Qt file picker is replaced with a nice native one that integrates well with users' system.

[2016-07-07 20:52] Diadlo commented on #3490
Can reproduse.
Problem commit is bf7c62d6fa57b3f8b5078d55bf20372fe6aa47b7

[2016-07-07 21:38] #556 closed, assigned to nobody

[2016-07-07 21:59] #3397 closed, assigned to nobody

[2016-07-07 22:09] #3058 closed, assigned to nobody

[2016-07-07 22:29] zetok opened #3496 "[regression] non-markdown text formatting is broken"
##### Brief Description

`/me action` should be blue
`> quote` should be green

qTox version: qTox version v1.4.0-246-g2d06b99
Commit hash:  2d06b9960c60f1fc886ae04c595bd9a921cff316
toxcore:  0.0.0
Qt:  5.5.1

Reproducible: Always
##### Steps to reproduce
1. type `/me action` or `> quote`
##### Observed Behavior

Text is not in color.
##### Expected Behavior

Text should be colored.
##### Addition

[2016-07-07 22:29] zetok commented on #3496
cc @antis81 ?

[2016-07-08 02:01] antis81 commented on #3494
Does it? Interesting, to me it looks like - well, like a quite usual file-open-dialog, and a nice one as well:

![qt-file-picker](https://cloud.githubusercontent.com/assets/440517/16675218/58a42948-44bf-11e6-8379-ae6d89a68707.png)

Plus, it avoids unexpected crashes by incompatible or broken 3rd party libs. However, we can enhance that solution and introduce a settings flag, where users can chose

[2016-07-08 06:57] zetok commented on #3494
@antis81 yep, this one is crappy when compared to capabilities provided by a well-integrated, native file picker.

[2016-07-08 08:57] antis81 commented on #3494
@TheNain38 Pleas show your crappy explorer manager (aka screenshot), which will help greatly to get an experience about what your actual problem is. :)

I guess I'll add a settings flag and make it selectable by user.

[2016-07-08 09:04] TheNain38 commented on #3494
@antis81 Well, with the native file picker, you can go to the usual places, like, downloads etc... super easly, and it's much more convenient than Qt's file picker, which is pure shit, compared to what the system one can do, Qt's one work, but it's really, really... well, non convenient :)

[2016-07-08 10:05] antis81 commented on #3494
@TheNain38 Windows file picker is pure shit… :)

[2016-07-08 10:10] TheNain38 commented on #3494
@antis81 It's still muccch better than Qt's one, because it's well integrated into the system

[2016-07-08 10:17] ElLamparto commented on #3478
Ok, here is the qTox log:
- I started qTox,
- entered AV settings twice,
- shut qTox down.

[qtoxLog.txt](https://github.com/tux3/qTox/files/353971/qtoxLog.txt)

AV works in spite of the warnings.

[2016-07-08 10:22] ElLamparto commented on #3494
It is very nice file picker! Most of people will drag-and-drop files without using picker at all.

[2016-07-08 11:41] antis81 commented on #3494
@TheNain38 Ok, it's a neat game to play and I just love bashing Windows wherever possible. Sorry, can't help… :) Yet I respect you and you for sure have good arguments why using Windows works for you… If you read my comment above, you'll find, that I tried making a "conciliable offer", which is by making it selectable by the user, if he/she likes the "green" or the "blue" dialog better. This is qu

[2016-07-08 11:57] TheNain38 commented on #3494
@antis81 Yes, I saw that ^^ Else, I agree with adding a setting, to choose between Qt's file picker, and the native one, I **suggest** that using the native one as the default, it is better, since only some systems have problems, what is your opinion, on what I said?

[2016-07-08 12:46] antis81 commented on #3494
Will become default, yep.

[2016-07-08 14:56] a68366 commented on #3496
Introduced in 67136e29ed0027fe8942033032bda437ecdc0e0b

[2016-07-08 16:19] antis81 commented on #3496
@a68366 Thanks for analysis! Looks like the base stylesheet requires a bit of extension…

[2016-07-08 16:39] #3468 closed, assigned to zetok

[2016-07-08 20:18] anoadragon453 commented on #3494
@antis81 Yep I can do that.

[2016-07-09 07:11] Talkless commented on #3493
Hm, maybe it would be possible to show popup, asking if you want to upload file or paste url?

On KDE, when you drag file into directory, it asks if you want to move, copy, link, for example.

[2016-07-09 08:19] Diadlo commented on #3494
@antis81 I don't know how it seen on windows. But for me it's little bit ugly :(
![spectacle jh1190](https://cloud.githubusercontent.com/assets/6306608/16706916/4ed7c346-45cf-11e6-8218-a29fac1c5c32.png)

[2016-07-09 08:59] antis81 commented on #3494
@Diadlo Whoohoo, dark style. :) Looks like you are using a dark system theme, are you?

If so, qTox may set the "black" font in it's theming - which is wrong here. I'll have a look into that.

[2016-07-09 09:24] Diadlo commented on #3494
Yes, I use dark system theme

[2016-07-09 10:56] antis81 commented on #3494
@Diadlo I found the problem! Have a look into [mainContent.css](https://github.com/tux3/qTox/blob/master/ui/settings/mainContent.css), which styles almost each and every widget in qTox and therefore creates a mixed up system/qTox style! This is basically not what we want, especially when "system dialogs appear".

@TheNain38 Please provide a screenshot of how it looks on windows. Probably also one

[2016-07-09 11:08] TheNain38 commented on #3494
@antis81 Also, there's one thing, Qt's file picker is in English, even if my system is set to French.
Qt:
![qt](https://cloud.githubusercontent.com/assets/13149763/16707643/2b83f390-45d6-11e6-9fc1-cc782806c2f3.png)
Native:
![native](https://cloud.githubusercontent.com/assets/13149763/16707656/8d865a1a-45d6-11e6-92be-f5049feb9bf3.png)

[2016-07-09 12:22] antis81 commented on #3494
@TheNain38 Probably your qTox is set to English??

[2016-07-09 12:26] TheNain38 commented on #3494
@antis81 No, it's set to French

[2016-07-09 13:16] zetok commented on #1306
You could use e.g. `sqlitebrowser` to manually edit the database and remove the messages until that's possible via qTox interface.

[2016-07-09 15:56] zetok commented on #3493
KDE's idea on how it should be handled isn't really good. I.e. there's no reason to hinder most of users' experience with a pop-up asking what they want to do, when they clearly want to send a file.

[2016-07-10 08:08] ovalseven8 commented on #3494
=> https://github.com/tux3/qTox/issues/2499

[2016-07-10 08:35] zetok commented on #2499
cc @abbat ?

[2016-07-10 10:06] antis81 commented on #3494
@ovalseven8 Thanks - so this one is actually (well, kind of) a duplicate. Please leave both open until PR is ready.

@TheNain38

You're right. I tried with German language on Lubuntu system. All of the UI elements (button, label, etc.) are translated, but the folders in the "left area" (favorites, places, or whatever you want to call it) are not. So translation is ~99%, but not like I'd expect it

[2016-07-10 10:15] zetok commented on #3494
@antis81 no, this isn't a duplicate. The other issue is a packaging problem, while this one is about regression in qTox code.

[2016-07-10 10:23] antis81 commented on #2499
**EDIT:** After short discussion with @zetok, it appears to be a bug in Qt's native dialog detection - though I cannot actually believe that.

~~@zetok @abbat FYI: A fix will soon be available by @anoadragon453. No need to push that further.~~

[2016-07-10 10:40] zetok commented on #2499
@antis81 how exactly, since that's a packaging problem?

[2016-07-10 11:53] abbat commented on #2499
If problem actually with static Qt linking instead dynamic from system Qt, I can not fix it. Debian 7/8 and Ubuntu 12.04 / 14.04 has not required Qt version in repository and we have to link it static.

If we will refactoring qTox code to support Qt 5.2.1 (Ubuntu Trusty) or Qt 5.3.2 (Debian Jessie) we will be able to use system Qt.

[2016-07-10 12:38] zetok commented on #2499
But with e.g. 16.04 it should work just fine, right?

@ovalseven8 mind testing again with 16.04?

[2016-07-10 14:23] ovalseven8 commented on #2499
Just tested on Lubuntu 16.04:
Both @abbat's qTox and the compiled qTox don't use the file manager from the system. :(

[2016-07-10 14:54] zetok commented on #2499
@ovalseven8 actually, sorry for misleading a bit – native file picker will be brought back to qTox after #3494 gets fixed, and that's when testing would need to be done.

[2016-07-11 06:30] PKEv commented on #3493
I think the most convenient is to use the modifier keys with the hint in the cursor area (like in windows)

[2016-07-11 07:17] VaginAY opened #3500 "Desktop capture not work with NVIDIA discrete video card"
##### Brief Description

OS: Linux Debian 8
qTox version: Nightly
Commit hash:  -
toxcore:   0.0.0
Qt:  5.6.1
Hardware:  Nvidia Quadro k600

Reproducible: Always
##### Steps to reproduce
1. Run qtox.
2. Go to Audio/Video.
3. Set video device : Desktop
##### Observed Behavior

Don't see desktop, only avatar in preview window
and in videocall.
##### Expected Behavior

Want to see desktop in preview

[2016-07-11 08:08] #3496 closed, assigned to nobody

[2016-07-11 14:05] asengineeringsupport opened #3501 "Login to existing account on another machine, without backup"
Hello everyone,
I'm running some tests for implementation qTOX in an enterprise environment.
I know that's possible to backup and restore profiles, but it is possible to login to an existing account on a another machine, without a backup? I doens't need my old avatar, or contact list. I'll do it only for installation and update purposes on several machines.

One example: The endusers doesn't have

[2016-07-11 14:34] ddobrev commented on #2726
After another glorious month of translation updates, shouldn't this bug at last get a little attention?

[2016-07-11 15:06] zetok commented on #3501
Not quite. Profile data is only in files – if you don't have that data, you basically don't have the profile. Password is needed only for encrypting/decrypting profile data when written/read from storage, and qTox can work without it, although then you don't have encrypted data anymore.

Your Tox ID has only part of needed data – public key, which can be freely shared with anyone. What really make

[2016-07-11 21:35] #3404 closed, assigned to nobody

[2016-07-11 21:48] sudden6 commented on #3501
I think the qtox-updater.exe shouln't crash even if there's no profile.

Are you running the latest build of qTox?

Did you try a nightly version from https://build.tox.chat/view/qtox/job/qTox_pkg_windows_x86-64_nightly_release/ ? (for testing purpose only)

[2016-07-12 07:40] asengineeringsupport commented on #3501
Hello,

I've  downloaded the Version under this link.
https://build.tox.chat/view/qtox/job/qTox_pkg_windows_x86-64_stable_release/lastSuccessfulBuild/artifact/setup-qtox.exe

This version updates automatically to v1.4.1-1-g06d78dc, when you confirm the query.

I think all my questions have been answered. Thank you for your help!

Best regards,
Peter

[2016-07-12 07:40] #3501 closed, assigned to nobody

[2016-07-12 17:38] sudden6 commented on #3500
I guess you are using the Nvidia propertary driver?

Anyway, we shouldn't depend on the display beeing :0

[2016-07-12 17:49] #2427 closed, assigned to nobody

[2016-07-12 17:49] #3396 closed, assigned to nobody

[2016-07-12 18:18] zetok commented on #2336
Can't reproduce on ef5c094417b15db67b1b8736b5153a3cd221f488, thus closing.

If it's still reproducible with newest qTox, please comment for reopen.

[2016-07-12 18:18] #2336 closed, assigned to nobody

[2016-07-12 19:32] b4n commented on #3500
This probably has indeed nothing to do with the hardware but on x11grab opening the wrong display.

[2016-07-12 21:04] Fred-Barclay commented on #3391
Qtox has been stable for about a week now, firejail or no firejail, so I think this can be closed for now. Thanks @zetok!

[2016-07-12 21:04] #3391 closed, assigned to nobody

[2016-07-13 05:23] VaginAY commented on #3500
Good day!
Thank you for fast reply.
1. Yes, i use propertary driver, installed through debian apt system
   (nvidia-driver, nvidia-dkms).
2. Today (2016-07-13) i get nightly update and behavior changed.
   There is no desktop in preview window and in videocall,
   but in log and in properties i see another information.
   -  In properies, when i setup desktop, added 3 new options:
     Screen 1, S

[2016-07-13 08:02] zetok commented on #2287
Should be fixed on newest qTox, thus closing.

If you still can reproduce, please comment for reopen.

[2016-07-13 08:02] #2287 closed, assigned to nobody

[2016-07-13 08:05] ElLamparto commented on #3494
@all, you spent time and energy on details like the file picker while under Linux audio hardly works (#3478) and video is practically inutilisable (I've opened a ticket a few months ago, but I cannot find it back).

[2016-07-13 08:14] zetok commented on #2482
Done in #3127, thus closing.

[2016-07-13 08:14] #2482 closed, assigned to nobody

[2016-07-13 08:28] zetok commented on #2421
Seeing as it's not going anywhere, closing the issue.
@tux3 please reopen if you do want to make separate builds.

#

You probably don't want to be running windows for that, and compiling qTox on Linux for whatever supported CPU features you have there should be relatively easy – if not, feel free to open an issue :)

[2016-07-13 08:28] #2421 closed, assigned to nobody

[2016-07-13 08:48] zetok commented on #2508
Is it still reproducible after #3453 got merged?

[2016-07-13 09:20] zetok commented on #2579
Still reproducible on ef5c094417b15db67b1b8736b5153a3cd221f488.

[2016-07-13 10:16] zetok commented on #951
@rysiekpl #3405 for sharing contacts, though sharing might not handle your use-case fully.

[2016-07-13 10:48] zetok commented on #2496
Is this still reproducible on newest qTox & new repo?

[2016-07-13 11:10] zetok commented on #2662
Sounds like broken *buntu, nothing that qTox could do about it. And on sane DE/WM (i3wm) it works in the desired way.

@towlie is it still reproducible on windows?

[2016-07-13 11:14] TheNain38 commented on #2662
@zetok Yes it is, when I left click, it is always set to foreground, and also, when you right click on the tray icon, it is always written: "Show" even when qTox is already in the foreground

[2016-07-13 11:18] zetok commented on #2597
@Chiitoo any update on this?

[2016-07-13 13:35] Chiitoo commented on #2597
Not yet, but I haven't forgotten about it!

I started playing around with the margins all over the client, and was going to look into this again after/together with that, but them margins are doing some pretty weird things, and as such, I haven't been able to fully make them do what I want yet.

That said, when I have the time and energy again, I think I'll look into this next.  There are some adj

[2016-07-13 18:44] towlie commented on #2508
I cannot check this because it happened randomly and I don't have the time.

[2016-07-13 19:07] sudden6 opened #3508 "Suboptimal positioning of abort button in filetransferwidget"
##### Brief Description

Someone sending you a message while you are about to click accept on a filetransfer can lead to clicking abort instead.

Commit hash:  https://github.com/tux3/qTox/commit/939c97a0e9d2e4ff2d26a52f8ccfcef9b8a6bbf3

Reproducible: Always
##### Steps to reproduce
1.  Alice sends Bob a file
2. Bob wants to click "Accept" in the filetransferwidget
3. Alice sends a new message
4.

[2016-07-13 19:17] sudden6 commented on #3500
@VaginAY

@b4n already developed a fix for this, can you test https://github.com/tux3/qTox/pull/3505 ?

[2016-07-13 19:48] zetok commented on #2508
Closing then. If it's still reproducible, comment for reopen.

[2016-07-13 19:48] #2508 closed, assigned to nobody

[2016-07-13 20:01] zetok commented on #3508
Related: #2597

[2016-07-14 10:06] antis81 opened #3510 "No qTox icon in cairo-dock (and taskbar menu)"
##### Brief Description

Missing qTox icon in taskbar within certain (official) desktop environments.

OS: Linux (Lubuntu 16.04)
qTox version: v1.4.0-245-g99ce719
Commit hash: 99ce719b800b5fedeb47eb848268976dcbf96fc7
toxcore: 0.0.0
Qt: 5.5.1
Hardware: MacBook 2.1 (late 2007)
…

Reproducible: Always
##### Steps to reproduce
1. Start system and…
2. …login to desktop environment.
##### Observed Behav

[2016-07-14 10:16] zetok commented on #3510
Err. It seems to be added just fine on MATE DE?

Is the binary a compiled one, or from repo?

Dunno about that – is cairo-dock even using the .desktop entry according to XDG standard?

[2016-07-14 10:36] antis81 commented on #3478
@ElLamparto Can you compile qTox? If so, can you please check, if #3507 fixes your problem? For me, it works.

[2016-07-14 10:41] abbat opened #3511 "Add web services to chat context menu"
What do you think about to add some services like "[Google](https://www.google.com)/[Yandex](https://yandex.com)/[Bing](https://www.bing.com)", "[Google Translate](https://translate.google.com) / [Yandex Translate](https://translate.yandex.com)", "[Wikipedia](https://en.wikipedia.org)" to chat context menu? Use case: user see unknown word or phrase, select it and on right click can search term, tr

[2016-07-14 10:51] antis81 commented on #3510
From repo of course :)

Yes, it does.

[2016-07-14 11:04] zetok commented on #3510
Are you using the right repo?

[2016-07-14 11:08] antis81 commented on #3510
Not sure, using `nightly` repo. Here's what `apt install` says:

[code]

To me it looks, like trigger for menu is missing.

[2016-07-14 11:09] zetok commented on #3510
Yeah, you're not using the right repo.

https://software.opensuse.org/download.html?project=home%3Aantonbatenev%3Atox&package=qtox

[2016-07-14 11:16] antis81 commented on #3510
Hm ok, thanks. I'll switch that. I have two questions then:
1. Is the nightly repo invalid now?
2. Is there a way we can "automagically migrate" for existing users? At least we should tell them to change that. This is the second time now I have to do it within just 1 year time period. I have several test installs running on commuters of "non-developer" friends and if they would get a message in th

[2016-07-14 11:21] zetok commented on #3510
It's deprecated.

Well, it could be done via script that would run when qTox is installed that would add new repo and its key.

This was supposed to be done via changelog message that users would get when updating to newer qTox version on deprecated repo. Aside from that, users could get also some GUI pop-up, also done via script that would notify them about the change.

#

I've heard that @Encryp

[2016-07-14 11:35] antis81 commented on #3510
After repo change, looks like it works (need to verify), but apt install now correctly states:

[code]

Btw. I changed locale to English… :)

[2016-07-14 11:40] antis81 commented on #3510
Yeah, works finally! Thanks!

![qtox-icon-visible](https://cloud.githubusercontent.com/assets/440517/16838199/58c3473e-49c8-11e6-9d68-be97fa628416.png)

Feel free to close.

[2016-07-14 11:56] zetok commented on #3511
Sounds like something that could be done via plugins once there'll be support for that.

Things like that come and go, and it might not be the best idea to bake into qTox stuff that relies on ~centralized services that rely on revenue generated from scrapping user metadata.

Aside from that, translation services usually don't like when one uses them in software – there's e.g. [`translate-shell`](h

[2016-07-14 13:07] #3510 closed, assigned to nobody

[2016-07-14 13:34] antis81 commented on #2631
@ovalseven8 Could you verify, this is fixed?

[2016-07-14 17:32] dongmaster opened #3514 "Failure to open audio device results in spam in qtox.log"
##### Brief Description

OS: Windows
qTox version: (version numbers in menu `Settings → About`)  v1.4.1-1-g06d78dc.
Commit hash:  06d78dcdee7bfe9a320fe91662f34227d74c3916
toxcore:  0.0.0
Qt:  5.5.1
Hardware:  Not relevant
…

Reproducible: Always
##### Steps to reproduce
1. Have an audio device with a name that contains "ö"
2. Make qtox try to play audio
3. Check the qtox.log file
##### Observed Be

[2016-07-14 17:39] zetok commented on #3514
Note: the problem is most likely worked around in 93991368c6202fc9dfe474ad1e9ba5668c8a1e7b, but fixing the actual problem is needed. I.e. with new release logs won't grow that big in size, but spam will still be there.

@antis81 the rework of audio and moving away from openal to RtAudio should help with this, right?

[2016-07-14 17:43] dongmaster commented on #3514
Could this possibly be related to https://github.com/tux3/qTox/issues/2973 ?
Audio did not work at all in qtox at that point in time, probably because qtox couldn't open the audio output.
But I have since updated qtox and audio works and I did not notice any error lines regarding audio near the end of the 51GB log file so maybe the audio issue is fixed?

[2016-07-14 17:44] zetok commented on #3514
Maybe. If log won't grow in size that big, then it's just ~~#2980~~, which is not included in v1.4.1.1 release.

[2016-07-14 17:46] zetok commented on #3514
Oops, wrong issue number, I meant #3440.

[2016-07-14 19:03] sudden6 commented on #3511
I'm also not a really fond of the idea of integrating this directly into qTox. With plugins yes, directly no.

[2016-07-14 19:32] antis81 commented on #3514
Yeah, it would fix it. The problem is, that OpenAL encoding in Windows is not UTF-8, but asumingly Codepage Windows-1252. This is internal to OpenAL and cannot easily be fixed. AFAIK it got fixed in OpenAL-Soft, but as we rather require the stuff from RtAudio, it is not worth the effort IMO to fix it beforehand. I made a branch to start RtAudio implementation and as said before, we need to do it i

[2016-07-14 21:41] zetok commented on #2631
Seems to be working for me with

[code]

[2016-07-14 23:49] ghost commented on #3460
Other software such as OpenVPN has clear filename: name_x64.exe.
It's best to add _x86 and _x64.

I'll download both because I have both OSes.

[2016-07-14 23:50] ghost commented on #3460
setup-qtox_x86.exe
setup-qtox_x64.exe

[2016-07-15 08:47] knihuta opened #3515 "Search feature in chat"
Its not a bug, its feature request.
It was strange (for me) not to find search (text search) functionality in chat and chat history.

[2016-07-15 09:12] zetok commented on #3515
Duplicate of #1734, thus closing.

[2016-07-15 09:12] #3515 closed, assigned to nobody

[2016-07-15 09:14] knihuta opened #3516 "Chat input component is not resizable (hight), why?"
Feature request. I thik its a not big problem to change qt layout.

[2016-07-15 09:15] zetok commented on #3516
Duplicate of #1316, thus closing.

[2016-07-15 09:15] #3516 closed, assigned to nobody

[2016-07-15 11:50] zetok commented on #3494
@ElLamparto Both audio & video problems are largely there due to insufficient testing of merged audio & video stuff.

Have you tried to test PRs? If not, you might want to :)

[2016-07-15 12:00] zetok opened #3517 "Deprecation of the old repo & prompt users to move to the new one"
##### Brief Description

Since repo @ tox.chat is deprecated, users should be informed about this.

Should be done via changelog, and interactive GUI pop-up when users update to newer qTox version using the old repo. Both GUI & changelog should contain instructions on how to move to the new repo.

`<tux3> Hm, I could probably have qtox depend on "zenity | kdialog" and have the postinst script pick

[2016-07-15 22:47] zetok commented on #3508
Hmm, now that I look at it, isn't it just a duplicate of #2597 ?

[2016-07-15 23:40] ProMcTagonist commented on #3508
yes

[2016-07-16 10:16] LER0ever opened #3518 "sent message still indicates "sending""
##### Brief Description

Message status is always "Sending". The circle beside the message is always spinning instead of showing sent time. **And actually message is already sent.**

OS: Linux (Manjaro 16.06 KDE Plasma 5.6)
qTox version: 1.4.1.1
Commit hash:  built without git (installed from AUR)
toxcore:  3747-1
Qt:  5.6.0
Hardware:  Samsung 450r5j
…

Reproducible: Always
##### Steps to reproduc

[2016-07-16 10:35] zetok commented on #3518
This shouldn't be the case, since that version doesn't have https://github.com/tux3/qTox/pull/3316/commits/a77afca1ec8f86cda68fe7ba853f7e4d854c346f – this commit most likely caused this regression.

It would be good to know which version you have, and whether with this commit reverted you wouldn't have the issue.

[2016-07-16 10:46] ghost commented on #3517
I am still receiving updates from there in their Wily section (even though I'm on Xenial), so does this mean that that supply of updates will be cut off soon though users will be given a notification through qTox of this? Or...? Also, I see you say "on how to move to the new repo", where is this repo and how does one add it? Or perhaps I don't understand you correctly?

[2016-07-16 11:05] LER0ever commented on #3518
![image](https://cloud.githubusercontent.com/assets/10568668/16894392/83e292a6-4b87-11e6-973e-d642ad13e8c3.png)
This is how I installed the qTox.
Besides, I've got this problem for several weeks.

[2016-07-16 11:33] zetok commented on #3517
The plan is to just notify about deprecation of repo every time qTox package is updated, until people will move on to the new repo.

Have you tried looking at [README.md](https://github.com/tux3/qTox/blob/3822511ddefdfb5a29641823fcd04b4e805244f7/README.md#qtox) ?

[2016-07-16 14:37] zetok commented on #3518
Related: #1098 – in other issue messages weren't delivered.

[2016-07-16 21:00] sudden6 commented on #3508
yes

[2016-07-16 21:00] #3508 closed, assigned to nobody

[2016-07-16 21:46] sudden6 commented on #3514
@antis81 Is your branch already public? I'd be interested in helping out with that :)

[2016-07-16 21:53] #3500 closed, assigned to nobody

[2016-07-16 22:36] zetok opened #3520 "osx building script fails"
##### Brief Description

Something with toxcore, perhaps libsodium (or some other dep?) get bumped in brew(?)

OS: OS X

Reproducible: Always

https://travis-ci.org/tux3/qTox/jobs/145272353

cc @RowenStipe

[2016-07-17 06:39] VaginAY commented on #3500
After last update (2016-07-17) all works great!
Thank you.

[2016-07-17 06:53] hyiltiz commented on #3377
The same happened between two qTox communications installed in OSX (Mac Book Air and Mac Book Pro). The Air was recording the video and was displaying it on Pro, but the Pro could only record grey square.

[2016-07-17 08:46] Diadlo opened #3521 "[Regression] Reset call buttons after swich on other friend"
##### Brief Description

OS: Linux
qTox version: v1.4.0-319-gf970bb5.
Commit hash: f970bb5eaca45c5500b1723ff82116e5ffb0a878
Qt: 5.7.0

Reproducible: Always
##### Steps to reproduce
1. Start call to friend A (call buttons change colors).
2. Open dialog with friend B.
3. Return to dialog with friend A.
##### Observed Behavior

All buttons are green (like, call stoped).
##### Expected Behavior

Red c

[2016-07-17 09:52] sudden6 commented on #3520
Seems like sed is missing or changed paths:

`/usr/local/bin/glibtoolize: line 401: /usr/local/Library/ENV/4.3/sed: No such file or directory`

[2016-07-17 10:47] zetok commented on #3521
bbefe0119d405cf7bcc0e7a90571b1c18b993817

[2016-07-17 11:23] farseerfc opened #3523 "Please release a new version"
It's more than 2 month since the last release. (1.4.1.1 is just fixing build issue for macOS thus not a new release). I can see many new features and bug fixes go into the master branch, but distributions cannot make a stable package without a fixed release (at least it is hard to).
So please release a new stable version. Thanks.

[2016-07-17 11:54] zetok commented on #3523
There are now milestones for releases, which contain bare minimum required for new version release.

Next release: https://github.com/tux3/qTox/milestone/3

v1.6.0 is also "planned", so releases hopefully will happen more frequently.

Aside from the bare minimum set in release milestone, anything that is ready in between releases for merge also gets in for next release.

[2016-07-17 12:01] farseerfc commented on #3523
Wow, thanks for the explanation. Waiting for v1.5.
But bug-fixing releases like 1.4.2 should be helpful, provided you have time to tag that.
It is only my suggestion, take your time.

[2016-07-17 13:29] antis81 commented on #3514
No, but I'll make it public today, so we can add PR's based on that one… :)

[2016-07-17 14:44] antis81 commented on #3514
@sudden6 We can now start! :) -> See #3524. Please post your ideas.

[2016-07-17 16:51] yurivict opened #3525 "Contact online status keeps changing many times in seconds (on/off)"
I see this happen the first time ever. The contact keeps going online/offline 1-2 times per second. His green light is blinking.

This is a critical bug, and also a very unexpected and surprising behavior.
Not sure if this is in toxcore.

 Brief Description

[code]

[2016-07-17 18:25] dongmaster commented on #3525
Is the person you're talking about logged into the same profile on multiple devices at the same time?

[2016-07-17 18:28] yurivict commented on #3525
This might well be the case.

[2016-07-17 18:37] yurivict commented on #3525
Tox should fail duplicate account registrations, like Tor does when the same hidden services are attempted to be registered from multiple hosts.

[2016-07-17 20:52] yurivict commented on #3525
Made a feature suggestion for the toxcore, closing this bug.

[2016-07-17 20:52] #3525 closed, assigned to nobody

[2016-07-17 20:53] zetok commented on #3525
Not doable.

And this is not supported, and is going to cause problems – closing as invalid.

[2016-07-18 15:58] zetok opened #3527 "[regression] segfault during a video call"
##### Brief Description

OS: Gentoo Linux amd64
qTox version: 1.4
Commit hash: f970bb5eaca45c5500b1723ff82116e5ffb0a878
toxcore:  0.0.0
Qt:  5.5.1

Reproducible: Always
##### Steps to reproduce
1. Start video call
2. crash
##### Observed Behavior

segfault
##### Expected Behavior

video call should start
##### Additional Info

(links, images, etc go here)

bt:

[code]

[code]

[2016-07-18 20:28] Diadlo commented on #3527
Can you try with ffmpeg 3.0.2-2 or later?

[2016-07-18 20:31] zetok commented on #3527
I _can_, but it's not a problem with FFmpeg. Stuff crashes with the same FFmpeg version with which it worked before, and the only thing that has changed is qTox.

[2016-07-18 20:34] Diadlo commented on #3527
Ok. I can't reproduse

[2016-07-18 20:38] zetok commented on #3527
steps:
1. start qTox instance that had part of the screen set as video input during the previous run
2. start video call without going into settings
3. crash

[2016-07-18 21:13] zetok commented on #3527
git bisect
good: 699ffae42247892b351b34464f4c3a2a1959f480
bad: f970bb5

[code]

Points to 294bdab77f8fb6c2b29917f5318ffe4ec2bc2ab6
With this commit reverted, there's no segfault.

cc @b4n

[2016-07-18 21:49] b4n commented on #3527
It looks highly unlikely to me this commit is the direct cause of the issue (unless there's a particular string buffer issue there, but 1) I don't think so, 2) it would likely crash way before).  I would rather guess that something like x11grab didn't work before (as it would be using an invalid source) and now it works it shows a crash inside the grab/feed code.

Do the x11grab actually work with

[2016-07-18 22:15] zetok commented on #3527
Yes.

[code]

Dunno. The only relevant thing before the crash when video-calling:

[code]

When going into the settings:

[code]

↑ that `BAD!` might mean something.

#

On the commit that does work:

[code]

Interesting – after going into settings once and re-selecting video device, the crash is gone – I guess the crash was due to qTox failing to open saved video device, or something?

[2016-07-18 23:08] b4n commented on #3527
I don't get how there can be an swscale warning before an open device debug message, but well, I don't know the code so well.

Quickly looking at the code suggests that if the saved device is not found, it'll use the first device of the list of available devices.  So probably not screen grabbing. (https://github.com/tux3/qTox/blob/master/src/video/cameradevice.cpp#L339)

This seems to come from th

[2016-07-18 23:17] b4n commented on #3527
Oddly enough, [`AVForm::fillScreenModesComboBox()`](/tux3/qTox/blob/master/src/widget/form/settings/avform.cpp#L312) calls [`CameraDevice::getPixelFormatString()`](/tux3/qTox/blob/master/src/video/cameradevice.cpp#L404), which under Linux is implemented as [`v4l2::getPixelFormatString()`](/tux3/qTox/blob/master/src/platform/camera/v4l2.cpp#L200).  I have no idea if it makes sense to use V4L2 forma

[2016-07-19 02:45] phd21 opened #3529 "Requests - Color and Font choices for everyone & A "Now Listening to Song" option"
First, I Love "qTox" nice work to all of you involved in creating, updating, & maintaining it.

I am using Linux Mint 17.3 KDE,  qTox version v1.4.0-319-gf970bb5-obs

Here are my current requests, a wish list, would like to see features:
1. Color and Font choices for me & my friends for text chatting to help differentiate friends when chatting.
2. A "Now Listening to Song" option that is automatic

[2016-07-19 05:28] zetok commented on #3529
Mind elaborating what exactly do you mean by that? It's already possible to change font. As for color, perhaps one day with user styles.

Sounds like something that is a good use-case for plugin, once having plugins in qTox will be possible.

Sound like you're interested in stickers? #1294

[2016-07-19 07:43] yurivict opened #3530 "Load Profile window doesn't show the password box - impossible to login"
It used to ask the password. At some point password box stopped being displayed during startup. Pressing "Load" causes the "Wrong password" window.

This is a severe usability bug because the user is unable to login at all.
##### Brief Description

OS: FreeBSD
qTox version: 1.4.1
toxcore:  0.151112
Qt:  5.5.1

[2016-07-19 08:56] zetok commented on #2587
image from imgur:
![imgur](https://i.imgur.com/0V2Jd7P.png)

[2016-07-19 08:59] zetok commented on #3530
Works for me with both newest qTox (f970bb5eaca45c5500b1723ff82116e5ffb0a878) and 1.4.0.
![works](https://cloud.githubusercontent.com/assets/3148759/16943958/46db0ecc-4d96-11e6-89c2-16b3137038ea.png)

This might be a duplicate of #2587. If so, close this one, and provide relevant info in #2587.

Could you see if renaming `~/.config/tox/qtox.ini` before starting qTox to something else would change

[2016-07-19 09:07] zetok commented on #3530
Can anyone else reproduce?

[2016-07-19 09:56] yurivict commented on #3530
Renaming ~/.config/tox/qtox.ini didn't help.

[2016-07-19 15:50] phd21 commented on #3529
Hi Zetok,
Good day to you and everyone at "qTox" :)

1.) Regarding Colour & Font Choices: I know it is possible to change my base font, but I mean for other people that I am chatting with (friends, family, etc...). Once a "Friend" is added, to be able to change their default font and its colour, perhaps using a "style" profile as you put it. Maybe an option on this for passing through their chosen

[2016-07-19 17:09] TheNotary commented on #3358
I noticed this problem today (I don't use qtox too regularly).  I installed a long time ago via this source list...

(/etc/apt/sources.list.d/old_tox.list)

[code]

To solve this problem I did `apt-get remove qtox` and then from the [advice](https://software.opensuse.org/download.html?project=home%3Aantonbatenev%3Atox&package=qtox) discussed above, updated my package source to be

(/etc/apt/source

[2016-07-19 20:05] sudden6 commented on #3530
could be a corrupted tox profile or database, what does the log say?

[2016-07-19 20:13] sudden6 commented on #3529
2) As zetok mentioned this will very likely be a plugin. Currently implementing a plugin interface isn't a good idea IMHO, because such an API needs some sort of stability code an feature wise. Both can't be provided by qTox ATM.

4) no it's not available currently but shouldn't be hard to do.

5) qTox is written in C/C++ and using QT (https://en.wikipedia.org/wiki/Qt_(software)) as framework.

[2016-07-19 20:43] zetok commented on #3530
@sudden6 err? those shouldn't affect the UI..

[2016-07-20 00:08] yurivict commented on #3530
I copied the ~/.config/tox folder to my main FreeBSD machine and reproduced the problem. This account is just a test account - nothing valuable there, so I am attaching the whole directory zip file.

[tox-problem.zip](https://github.com/tux3/qTox/files/372655/tox-problem.zip)

[2016-07-20 06:06] antis81 commented on #3530
Obviously they do! :) Looks like the tox profile is corrupt indeed (0 byte size).

@yurivict Posting the logfile and/or coredump would help with such cases.

[2016-07-20 06:26] yurivict commented on #3530
It looks like the profile update isn't handled right.

Profile is supposed to be an SqLite database, that is super-reliable.
Program isn't supposed to save the copy of the old file under the different name and then write a new one and delete the old one. This process is error-prone.

[2016-07-20 07:53] ElLamparto commented on #3517
What is the new repo? I believe that on the tox.chat download page / Debian, there is still the @ tox.chat repo defined.

[2016-07-20 07:59] ElLamparto commented on #3478
@antis81, I have Qt, but never compiled qTox. I could try it next week, unless your modif is available in the repo before (in which case, please let me know). Thanks!
By the way, is there a new repo for Debian? If so, which one?

[2016-07-20 08:23] zetok commented on #3517
Yes, nothing can be done about tox.chat website being broken.

[2016-07-20 08:28] zetok commented on #3517
@ElLamparto the same question – have you tried looking at readme.md? Also, qTox has its own website, which does point to the right repo: https://qtox.github.io/

---

Status update: apparently @Encrypt doesn't have access to the stuff that needs to be changed, so @tux3 will need to do it.

[2016-07-20 08:59] antis81 commented on #3478
@ElLamparto There's no need to compile qTox by yourself unless you want to help with testing PR's or contribute code. I'm going to merge #3507 soon and it is going to fix settings initialization.

According to the following lines from the log file, your input device (microphone) cannot be opened:

[code]

PR #3507 is not going to fix this particular problem!

I have another question:
If you open q

[2016-07-20 09:02] antis81 commented on #3530
@yurivict Please post the log file. It should tell about that.

[2016-07-20 09:11] antis81 commented on #3530
To me this sounds like a typical migration problem. In this case, qTox indeed should create a temporary copy (like e.g. "profile.db.<old-version>"), before migration takes place. This file should be deleted, as soon as migration succeeds.

[2016-07-20 09:15] yurivict commented on #3530
Migration from where to where?

[2016-07-20 09:16] antis81 commented on #3530
Old profile -> new profile. This is just an assumption, as I'm not too deep into that topic.

[2016-07-20 09:22] yurivict commented on #3530
There should be no old and new profile. There is only one profile. It is error-prone to have such logic.

[2016-07-20 09:25] antis81 commented on #3530
It's about migration, right? So yes, there's an old and a new format. Sorry, of course there's not an old and new profile, but the format changed.

[2016-07-20 09:28] yurivict commented on #3530
This profile was created by the same version of qTox, so there is no migration.

[2016-07-20 09:32] antis81 commented on #3530
Huh? So you created a (the first) profile with the current qTox version and it doesn't load? Is that what you mean? Btw. the default profile doesn't have a password and completely starts without password prompt.

[2016-07-20 09:39] yurivict commented on #3530
This profile was created on the same machine with the same executable an hour eariler, so no migration should have taken place. I think qTox saves the new version of profile by renaming the file and writing a new copy, which is a completely wrong way to do this.

[2016-07-20 09:58] zetok commented on #3530
No, it's not.

[2016-07-20 10:14] yurivict commented on #3530
If it isn't in SqLite, the next safest thing is QSaveFile.

[2016-07-20 21:49] #3478 closed, assigned to nobody

[2016-07-20 22:29] Encrypt commented on #3517
Indeed.

As I told @zetok on IRC:
- @tux3 is the one packaging qTox on build.tox.chat, and
- @nurupo is the one who has the keys of build.tox.chat & pkg.tox.chat

Therefore, I can not do much, I'm afraid ¯_(ツ)_/¯

[2016-07-22 12:17] Diadlo commented on #3527
Problem with video device == "None". Reproduced by @zetok with echobot (for example). Crashed on received frame.
1. Echobot sent frame, wich crash qtox ("wrong frame").
2. Echobot just resend source frame. It means, that qtox send "wrong frame".
3. Frames sended only from [`CoreAV::sendCallVideo`](https://github.com/tux3/qTox/blob/master/src/core/coreav.cpp#L307).
4. This method [connected](https:

[2016-07-22 14:15] linux0ne commented on #2326
@quininer 我的系统也是14.04   现在更新到了最新版本的qtox，结果还是没有办法使用上fcitx输入法。
不知道你现在有没有解决的方案呢？可以分享一下么？

[2016-07-22 14:19] linux0ne commented on #2621
@phpbugcn 我的系统也是14.04  ，现在我也用不了fcitx输入法，现在有没有解决办法呢？可以分享一下么？

[2016-07-22 15:12] quininer commented on #2326
@linuxOne see https://github.com/tux3/qTox/issues/2326#issuecomment-215685237

[2016-07-22 19:37] 151GuidingLight opened #3535 "Default Resolution of Video Device Not Alterable"
##### Brief Description

There is no save feature for users to save default setting for video and audio input devices; frame rates are choppy as a result, though unknown if this is linked or separate problem.
OS: OS X 10.11.6
qTox version: OSX-Travis-R5
Commit hash: 886c96547467b91a0030b31d615a6dcefe45b2a5
toxcore: 0.0.0
Qt: 5.6.0
Hardware: Mac Mini (Mid 2011) and HD Pro Webcam C920 (by Logitech w

[2016-07-22 20:50] zetok commented on #3535
Note – this most likely was fixed in commits since 1.4. osx build depends on #3520, which needs to be fixed before osx could get an update to 1.5.

And this is something that could be improved in both qTox and toxcore. Also, a ~separate issue.

There is irungentoo/toxcore#1606, dunno if it'll be merged in timely manner.

[2016-07-23 00:45] zetok commented on #3527
Did bisect again, with `None` as video device:

ef641ce6d3398792c10b30bf24a81c5a6005fe06

[code]

[2016-07-23 00:55] b4n commented on #3527
I see 2 differences in logic here: `avframe->opaque` isn't set anymore (was to `buf`), and `buf` is now freed (probably because it's not referenced by `avframe->opaque` anymore?).

I have no idea what it actually changes in practice, but it's definitely a little more than style fix.

[2016-07-23 01:04] Diadlo commented on #3527
And confused indices `i` and `j` ;)

[2016-07-23 01:07] b4n commented on #3527
Does it?  I don't see it, it renamed the `i` to `j`, and added a new `i` as an alternative to hard-coded indices, but it seem identical to me.

[2016-07-23 01:09] Diadlo commented on #3527
No, you are right. Seems I tired
1. avframe->opaque don't set, because I find using in project and don't found.
2. Yes. Freed, because unused too.

[2016-07-23 07:20] BiTOk commented on #3535
I have the same problem with video resolution in Windows 10 with 1.4.1 build.

[2016-07-23 08:08] linux0ne commented on #2326
@quininer 朋友，能不能用中文简章地说一下如何解决，我的英文能力很差，更多的时候，我只是linux的一名使用者而已。谢谢

[2016-07-23 08:44] quininer commented on #2326
@linuxOne http://www.mintos.org/skill/new-build-qtox.html

[2016-07-23 12:43] Diadlo commented on #3535
Duplicate of #1033 ?
If so, fixed by #3371

[2016-07-23 12:47] BiTOk commented on #3535
It looks similar. Is there is test build with this fix?

[2016-07-23 12:55] Diadlo commented on #3535
@BiTOk As I know, you can test just manual build
@zetok Right?

[2016-07-23 13:12] Diadlo commented on #3520
May be disable osx builds in travis, until not fixed? It will help to avoid of many "broken" builds

[2016-07-23 15:19] zetok commented on #3535
Yes.

There also might be nightly builds for windows on jekins.

[2016-07-23 18:03] yurivict opened #3537 "File transfer is broken: files can't be transferred concurrently, pause/resume causes failure, etc"
Problems while transferring between two qTox instances:
- When the large file transfer is running the second file can't be transferred. The sending side says "Resuming...", the receiving side says "Accept to receive this file", even though it has been accepted.
- When one side of the transfer presses "pause", the second side changes icon the same way as if they paused themselves. The other side ca

[2016-07-23 18:18] BiTOk commented on #3535
Last nightly build (ff92a5595002a4156bada85eeffe4bdb3cdd7f8e) works fine, issue does not reproduce.

ADD: But in resolutions list I see two 240p.

[2016-07-23 20:13] gsv91 opened #3538 "Partner don't hear me while I'm not in Audio/Video tab"
##### Brief Description

OS: Windows 10
qTox version: v1.4.1-1-g06d78dc
Commit hash:  06d78dcdee7bfe9a320fe91662f34227d74c3916
toxcore:   0.0.0
Qt:  5.5.1
Hardware:  Realtek High Definition Audio

Reproducible:  Almost Always
##### Steps to reproduce
1.  Log in
2.  Audio call
3.  Go to Audio/Video tab
4.  Capture Device is always None(This is issue also) so I need to choose my microphone
5.  When

[2016-07-24 03:49] LittleVulpix commented on #3537
I'd like to point out that the first problem is not qtox-specific. Multiple filetransfer streams in same direction are not supported by toxcore. You can only have one file per person per direction (meaning only one sending and one receiving from the same person). They will be automatically queued and processed by toxcore in order. If you don't like this behavior, you'll need to raise an issue @ to

[2016-07-24 04:04] yurivict commented on #3537
You are right, this issue is already in toxcore: https://github.com/irungentoo/toxcore/issues/1468

[2016-07-24 07:13] antis81 commented on #3538
This should be fixed by now -> upgrade helps. "None" now correctly states "Disabled" and is just a string notifier. By upgrading

Yeah I had that exact same situation in a ~30 minutes call with a friend. Another time it worked without problem. I'm currently in the process of converting to another audio api, that better fits our needs. This in turn solves such situation. In the meantime, there's on

[2016-07-24 08:51] dolohow opened #3541 "Stable version builds"
I can't find stable version of qTox in any repository or as a binary package.  Only nightly is buggy.

[2016-07-24 09:09] zetok commented on #3541
#3470

Aside from that, distros that package qTox properly do have stable – Arch and Gentoo. Also I hear that FreeBSD has stable.

[2016-07-24 09:17] Diadlo opened #3542 "Arabic language mirror window horizontal"
##### Brief Description

OS: Arch Linux
qTox version: v1.4.0-2-g24a7f4d.
Commit hash: 24a7f4d51960a73cb7234cec9a4a2811e9175c6c
Qt: 5.7.0

Reproducible: Always
##### Steps to reproduce
1. Change language on Arabic
2. Change language on English
##### Observed Behavior

Window won't reset state
##### Expected Behavior

Resetting window state
##### Additional Info

Some languages reset state.
![specta

[2016-07-24 09:41] zetok commented on #3542
Can't reproduce on ff92a5595002a4156bada85eeffe4bdb3cdd7f8e under i3wm

Also, the screenshot looks like #3457 ?

[2016-07-24 09:42] Diadlo commented on #3542
@zetok Sorry. Screenshot changed

[2016-07-24 10:53] ghost opened #3545 "qTox portable - folder structure"
Hello qtox team!

Thank you for еру nice tool!

At the moment qtox create profile files, when `Make portable` option is chosen, in its exucutable folders. As a result we have a lot of files in this folder. Example with 3 profiles:

<pre>
iconengines
imageformats
libeay32.dll
libgcc_s_sjlj-1.dll
libstdc++-6.dll
libwinpthread-1.dll
OpenAL32.dll
platforms
profile1.db
profile1.ini
profile1.tox
profile

[2016-07-24 10:59] zetok commented on #3535
Since it's a duplicate of #1033, closing.

[2016-07-24 10:59] #3535 closed, assigned to nobody

[2016-07-24 11:02] ghost opened #3546 "Remove profile button"
Hello!

At the moment it is not possible to remove profile via qtox interface.

It can be usefully to have a possibility to remove profile from the qtox.

Thank you!

[2016-07-24 11:14] zetok commented on #3546
![profile removal](https://cloud.githubusercontent.com/assets/3148759/17083421/0fd8ea1a-5198-11e6-9eef-63ca1e427525.png)

It is possible. You might be interested in reading https://github.com/tux3/qTox/blob/eb1e0091c420caec8f8e3492b6abb78400cf348b/doc/user_manual_en.md.

[2016-07-24 11:14] #3546 closed, assigned to nobody

[2016-07-24 11:17] zetok commented on #3542
I'm using Qt 5.5.1 – could it be an upstream issue?

[2016-07-24 11:23] ghost opened #3547 "qTox portable - profile location on first start"
##### Brief Description

We should have a possibility to create a profile in qtox folder when it is in portable mode and this mode can be chosen without profile creation.

OS: Windows
qTox version: v1.4.0-332-geb1e009
Commit hash: eb1e0091c420caec8f8e3492b6abb78400cf348b
toxcore: 0.0.0
Qt: 5.5.1

Reproducible: Always
##### Steps to reproduce
1.  Download https://build.tox.chat/job/qTox_build_windo

[2016-07-24 11:27] zetok commented on #3547
No. Removing any data when not explicitly done by user is wrong. What should be done instead, is simply not creating profile in %APPDATA%` if portable setting is set.

[2016-07-24 11:30] zetok commented on #3530
@yurivict do you know what could have caused profile corruption?

[2016-07-24 11:36] ghost opened #3548 "qtox profile data folder location in Windows XP"
##### Brief Description

qtox create profile data folder in Windows XP using path like in Windows Vista and above.

OS: Windows XP
qTox version: v1.4.0-332-geb1e009
Commit hash: eb1e0091c420caec8f8e3492b6abb78400cf348b
toxcore: 0.0.0
Qt: 5.5.1

Reproducible: Always
##### Steps to reproduce
1.  Download https://build.tox.chat/job/qTox_build_windows_x86_release/lastSuccessfulBuild/artifact/qTox_buil

[2016-07-24 11:42] Diadlo commented on #3542
@zetok Yes, I think about it. May be

[2016-07-24 11:46] ghost opened #3549 "qTox portable - "Default directory to save files" option"
Hello!
##### Description

 If qtox is in portable mode we should have a possibility to setup a relative path for "Default directory to save files" option.
##### Workaround:
1. Change manually path in qtox.ini file:
   <pre>
   globalAutoAcceptDir=files
   </pre>

[2016-07-24 12:59] Diadlo commented on #3548
AFAIK, Windows XP official unsupported by Microsoft

[2016-07-24 13:49] zetok commented on #3548
Not going to be changed, since XP is long since not supported, current way works, and change would either break stuff for all the people who still are using qTox on XP, or result in additional code for XP to maintain, for no good reason.

[2016-07-24 13:49] #3548 closed, assigned to nobody

[2016-07-24 13:57] linux0ne commented on #2326
@quininer
我还真不知道还有一个opensuse社区的编译版本。
它们和下面地址处的有区别么？  （这是qtox项目主页上推荐的ubuntu系统安装方式，我是按这个安装的，14.04上还是未果）
https://software.opensuse.org/download.html?project=home%3Aantonbatenev%3Atox&package=qtox

[2016-07-24 14:03] #3527 closed, assigned to nobody

[2016-07-24 14:19] zetok commented on #3490
Since #3533 was merged and now it's fixed, closing.

[2016-07-24 14:19] #3490 closed, assigned to nobody

[2016-07-24 15:58] zetok commented on #3520
Could someone check if building qTox on osx works locally?

If it does, then it's a problem with travis, and it needs to be reported to them.

[2016-07-24 16:09] yurivict commented on #3530
On the laptop network card driver was faulty and laptop crashed several times. This eventually caused this problem with the qTox profile. This is why program shouldn't ever delete and write again the sensitive files. They should ideally be updated in-place. Or the backup file should be in place with an automatic recovery process.

[2016-07-24 20:41] zetok commented on #3520
I was told that building toxcore locally on osx works, so I've filled an issue https://github.com/travis-ci/travis-ci/issues/6352

[2016-07-24 20:58] BiTOk opened #3552 "Video features working unstable"
##### Brief Description

OS: Windows 10 x64
qTox version: night build
Commit hash: e6e666fa8ce36cd3792d4536a59ab2b65fd5b546
toxcore:  0.0.0
Qt:  5.5.1
Hardware: standard
…

Reproducible: Always
##### Steps to reproduce
1. Run qtox
2. Call echobot with videocall
3. Go to AV settings
4. Go back to echobot call
##### Observed Behavior

Video doesn't start after video call to echobot despite correct A

[2016-07-24 21:03] BiTOk commented on #3552
Similar problems I have with desktop stream. Desktop preview works is I select Desktop 1, but doesn't work for Desktop 2. The same problem with stream desktop region.

[2016-07-25 17:07] sudden6 commented on #3530
qTox already uses QSaveFile, which creates a new file and then renames it to overwrite the old file. This is already an atomic operation on the program level and pretty much guarantees that the data is actually written. UNTIL your OS crashes!

 If your OS uses a disk cache (99% yes) the data is only really written to disk in specific intervals. If your OS crashes in between you're out of luck, not

[2016-07-25 17:11] sudden6 commented on #3552
@BiTOk Log files will be interesting

[2016-07-25 17:39] BiTOk commented on #3552
After reboot I can't reproduce problem with camera, but can with desktop preview:
`src/video/camerasource.cpp:219 : Debug: Opening device  "gdigrab#desktop"
src/video/camerasource.cpp:233 : Warning: Failed to open device!
src/video/videoframe.cpp:130 : Warning: None of the frames are valid! Did someone release us?`

@Diadlo has more info about this problem.

[2016-07-25 17:45] yurivict commented on #3530
Unless sync(2) is called, in which case the cache is written to disk immediately.

The problem is that the profile is rewritten as a whole. This is why it would have been better if the profile was an SQLite db. They ensure that in-place updates are as reliable as possible. It would have had at least the previous copy of the data.

An alternative is to first write the backup copy of the profile, to

[2016-07-25 19:51] BiTOk opened #3553 "Fault connections in log"
##### Brief Description

OS: Windows 10 x64
qTox version: (version numbers in menu `Settings → About`)
Commit hash:  e6e666fa8ce36cd3792d4536a59ab2b65fd5b546
toxcore:  0.0.0
Qt:  5.5.1
Hardware:  standard
…

Reproducible: Always
##### Steps to reproduce
1. Start qTox
2. See log file
##### Observed Behavior

Each start I see those lines:
`
src/core/core.cpp:128 : Debug: Core starting with IPv6 enab

[2016-07-25 19:55] BiTOk opened #3554 "Remove timezone from logs"
For some people timezone is personal information. May be better use in log time from start application?

[2016-07-25 20:08] sudden6 commented on #3530
The profile can't be an SQLite db because of compatibility with other Tox clients.

Yes, but calling sync(2) all the time will slow everything down and cause lot's of unnecessary writes.

Also worth to mention, because this were attempts to fix similiar stuff, but failed for various reasons:

https://github.com/tux3/qTox/pull/3082
https://github.com/tux3/qTox/pull/3192

[2016-07-25 20:14] sudden6 commented on #3553
I don't get these on Linux, maybe Windows specific?

Also these messages seem to come from inside qt, so maybe upstream issue?

[2016-07-25 20:22] sudden6 commented on #3554
Are you meaning the logs for debugging or chatlogs?

[2016-07-25 20:23] Diadlo commented on #3552
↑ From @BiTOk log: https://gist.github.com/Diadlo/008492dafd84072403e8f1b465546580

↑ From ffmpeg

Seems ffmpeg requed negative x for second screen, but ~~Qt~~ ScreenshotGrabber use positive

[2016-07-25 20:37] BiTOk commented on #3554
Of course, I'm about debugging logs.

[2016-07-25 20:48] zetok commented on #3554
No. What should be used, is UTC.

[2016-07-25 21:12] sudden6 commented on #3554
Yep, UTC should be used.

[2016-07-25 22:07] Diadlo commented on #1786
Fixed by #3392

[2016-07-25 22:07] #1786 closed, assigned to nobody

[2016-07-25 22:09] Diadlo commented on #3303
Fixed by #3392.
Close may be?

[2016-07-25 22:11] Diadlo commented on #2548
1. Fixed by #3392.
2. Available by first?
3. Duplicate of #2102 ?

[2016-07-25 22:21] TheNain38 commented on #2548
@Diadlo For the 2nd one, no, he means, even if you move the window around, it should still only stream this particular window

[2016-07-25 22:22] Diadlo commented on #2548
@TheNain38 Sorry, didn't think about it :)

[2016-07-25 22:26] Diadlo commented on #3554
Should we mark in log, that time in UTC? If yes, where we should write it?

[2016-07-25 22:38] Diadlo commented on #3553
https://bugreports.qt.io/browse/QTBUG-49174
Seems upstream problem.

[2016-07-26 07:19] #3303 closed, assigned to nobody

[2016-07-26 10:59] Diadlo commented on #3538
@antis81 What the problem with show/hide instead of create/destroy?

[2016-07-26 13:39] ElLamparto commented on #3552
This bug appeared recently. v1.4.0-339-ge6e666f-obs, Debian Jessie 32bit.
No video preview. Log attached.
[qtoxOutput.txt](https://github.com/tux3/qTox/files/383925/qtoxOutput.txt)

[2016-07-26 14:02] Diadlo commented on #3552
@ElLamparto Can you do [regression test](https://github.com/tux3/qTox/wiki/Testing#regression-testing)?

[2016-07-26 17:41] sudden6 commented on #3553
According to the bugreport this doesn't cause any issues besides the messages, thus closing.

[2016-07-26 17:41] #3553 closed, assigned to nobody

[2016-07-26 17:49] sudden6 commented on #3552
@ElLamparto I think your problem isn't really related to this issue, because your logs show that at least the webcam and resolution gets properly detected, whereas for @BiTOk  this doesn't work. Also you seem to have problems with the webcam and this report is about a problem with screen streaming.

Please open a seperate issue.

[2016-07-26 18:29] seankhl commented on #3535
Glad someone is fixing my awful first-pass best mode heurstic!

[2016-07-26 22:57] Diadlo commented on #3479
OS: Arch linux
Qt: 5.7.0

For me these buttons are always translated on system language

[2016-07-27 09:34] ddanila commented on #3377
I have same issue with OSX 10.11.6 (15G31) and same 1.4.1.1 qTox. And it's not a regression -- I had no video on qTox 1.3-something as well.

Also:
1. To reproduce, there is no need to make a call. Going to audio/video settings I can observe that no preview starts for Facetime HD Camera device.
2. If I select screen capture as a video device, it works and works in calls.

1 and 2 may mean that it'

[2016-07-27 17:53] ghost opened #3557 "qTox_build_windows_x86-64_release.zip - no qtox.exe file"
**qTox_build_windows_x86-64_release.zip**  archive # 744 contains no **qtox.exe**. Maybe it's more missing files in thise package, I do not check all of the rest.
OS: Windows

[2016-07-27 21:40] zetok commented on #3230
Currently the message disappears once something is being put into the text field.

Should be changed to disappearing when cursor is being put in input box, which would fix the issue, as suggested by `cisc` on IRC:

Proposed behavior is consistent with "the web".

So, text should disappear when:
- cursor is in the input box
- there is some text in the input box

[2016-07-27 21:52] Diadlo commented on #3222
What you think about this for `About`?
![about](https://cloud.githubusercontent.com/assets/6306608/17193820/dc7e72b8-5465-11e6-9744-a7db51007b74.png)

[2016-07-28 04:43] BOPOHA commented on #2640
I'm affected.
It happens when i insert the USB wireless stick (for Plantronics Audio 995).

[code]

dmesg

[2016-07-28 19:32] #3554 closed, assigned to nobody

[2016-07-28 19:53] #3521 closed, assigned to nobody

[2016-07-28 21:18] BiTOk opened #3558 "Profile import override works incorrect"
##### Brief Description

OS: Windows 10 x64
qTox version: You are using qTox version Nightly.
Commit hash:  1ebe1d2 (PR 3556)
toxcore:  0.0.0
Qt:  5.5.0
Hardware:  std

Reproducible: Always
##### Steps to reproduce
1. Start qTox
2. Press Import
3. Select profile file with name of existing profile
4. In question dialog press Yes
##### Observed Behavior

Existing profile doesn't overrided.
##### Exp

[2016-07-29 07:14] initramfs opened #3559 "[Discussion] Issues with new code commenting style"
Apologies for posting this here rather than in the [comment style change PR](https://github.com/tux3/qTox/pull/3536), I didn't see it until a few hours ago when it was already merged.

I'm in the processing of rebasing my code to the style introduced in PR #3536 when I found a few issues with the new style. First of all I would like to state that evaluating pros/cons, I agree with putting comments

[2016-07-29 07:27] Diadlo commented on #3559
https://github.com/tux3/qTox/pull/3488#discussion_r70524718
cc @antis81

**Edit**: I agree with your point of view. And I regret, that discussion about comment style was in comment to another PR, but not on in the separate issue

[2016-07-29 09:34] antis81 commented on #3559
First, it is good to have clear and practical rules for commenting (API) code. Up to now I worked with several C++ based projects and the three possible "basic docs strategies":
1. Mixed (aka "I don't care")
   Problem with this is: Very often, people simply forget (or don't care) to update the docs and in most cases this is as good as no docs at all!
2. Put everything in Header:
   Well… that's n

[2016-07-29 09:49] Diadlo commented on #3559
@initramfs I think, that it should be on the top of cpp file.

If exist real reason to store class implementation in .h file (abstract class or template, etc.), you should put it in cpp file

[2016-07-29 10:45] initramfs commented on #3559
@antis81 Regarding:

Part of the reason I opened this issue in the first place is to give reasons where that's not possible or doesn't make sense. Like I mentioned, a nested class that resides purely in the header (either a template class or small class with inline functions) would technically allow you to place it's class documentation inside the enclosing source file though that just makes thing

[2016-07-29 12:44] Diadlo commented on #3547
Duplicate of #2802?

[2016-07-29 18:37] zetok commented on #3547
Yep, thanks; closing.

[2016-07-29 18:37] #3547 closed, assigned to nobody

[2016-07-29 18:38] zetok commented on #2802
From #3547:

Rather than moving things around, there should be an option during profile creation to create a portable profile, so that `%APPDATA%` wouldn't be touched in the first place.

[2016-07-29 23:47] zetok commented on #2798
No response for over a month, assuming it was fixed, thus closing.

If issue is still not fixed, please comment for reopen.

[2016-07-29 23:47] #2798 closed, assigned to nobody

[2016-07-30 12:59] ElLamparto opened #3562 "[regression] Linux: No Picture From Webcam In AV Settings / Video Call"
##### Brief Description

OS: Linux , Debian Jessie 32 bit
qTox version v1.4.0-339-ge6e666f-obs

Reproducible: Always
##### Steps to reproduce
1. Start qTox
2. Go to AV Settings
3. The video parameters are correct, but no picture. No video in a video call.

Full log attached:
[qToxNoVideo.txt](https://github.com/tux3/qTox/files/391883/qToxNoVideo.txt)

[14:45:58.461] src/video/camerasource.cpp:219

[2016-07-30 16:40] BiTOk commented on #3476
I take it.

[2016-07-30 18:09] BiTOk commented on #2555
#3355 duplicate

[2016-07-30 18:15] sudden6 commented on #3559
The easy things first, I think

[code]

should be the comments style.

Second I think putting all documentation into the source files is the better way, because simple rules are easier to follow and the documentation will be generated and thus separate anyway. Since most of the time writing the documentation is the hardest part, we shouldn't make it even harder by adding rules.