[2015-12-30 21:06] agilob commented on #2749
@zetok Was that ever implemented? Why is that in the table?

[2015-12-30 23:03] zetok commented on #2696
Related issue: #1069

[2015-12-31 01:33] alexlehm opened #2754 "Empty username is confusing in group chat"
When a user has an empty username (which is allowed, I assume), the list of messages is a bit confusing since repeat messages from a user is also suppressing the username. It would be better if the empty username somehow indicated that the msg is not by the same user as the previous line.

[code]

in this list it looks like 3 was sent by User1 as well

[2015-12-31 09:41] zetok commented on #2734
Could you include a screenshot?

[2015-12-31 10:28] zetok commented on #2657
@sudden6 The problem with HTML is that it's hard to edit and read for someone who doesn't really know it. (i.e. users)

Markdown should be easier to edit.. and AFAIK, if you want, you can generate html pages from markdown.
E.g. that's how Rust docs are made: https://github.com/rust-lang/rust/tree/master/src/doc → https://doc.rust-lang.org/stable/book/

Easy markdown for editing, HTML that can be d

[2015-12-31 10:37] ovalseven8 commented on #2754
Yeah, there're many bugs in qTox concerning the group chats at the moment.
Hopefully, the new group chat is coming soon. Then, a rewrite in qTox is necessary anyway.

=> https://github.com/tux3/qTox/issues/2600

[2015-12-31 11:02] zetok commented on #2754
Perhaps adding in front of nick some symbol (e.g. `•`) would "fix" that issue?

I.e. `•` should be added only if given user writes for the first time after previous user wrote something.

E.g.

[code]

I thought of using colours, but I don't know whether they would work for colourblind people.

[2015-12-31 11:06] tux3 commented on #2567
We still support Qt 5.2, this issue was fixed recently while we were making packages for older distributions.

[2015-12-31 11:11] tux3 commented on #2624
This is probably on our end, given how many times this has been reported.
"Network is unreachable" could mean the port at pkg.tox.chat:443 is somehow seen as closed or firewalled.

[2015-12-31 11:11] zetok commented on #2607
From what I witnessed, some qTox versions were stripping my own profile avatar (#2583). Now I see it again, but only in my own qTox instance - the other one doesn't have it.
![muh avatar](https://cloud.githubusercontent.com/assets/3148759/12063925/03f8c336-afaf-11e5-9423-22525c21e220.png)

qTox 552155bd1f5824c536dd6d1bbc8d293f3f1d8499

I guess it should stay open?

[2015-12-31 11:13] Zer0-One commented on #2624
@tux3  this isn't a firewall issue.

@arunk what country are you in? are you able to reach pkg.tox.chat via your browser? via wget? do you use a proxy to access the internet?

[2015-12-31 11:14] tux3 commented on #2704
If it worked before, then it's a regression and it needs to get fixed.
It's not the user's job to workaround our bugs :)

[2015-12-31 11:15] zetok commented on #2738
Hmm, windows xp is not really supported.. Is it reproducible on any later version?

[2015-12-31 11:15] tux3 commented on #2583
This should be fixed, please comment if you still have this problem.

[2015-12-31 11:15] #2583 closed, assigned to nobody

[2015-12-31 11:19] Zer0-One commented on #2624
@arunk also, copy+paste your sources.list for me

[2015-12-31 11:21] tux3 commented on #2738
CreateProcessWithTokenW is only used in the updater to do some UAC shenanigans in Vista and later, so this function of course doesn't exist on XP.

If that's the only thing that prevents XP support, it should be easy to fix by doing a LoadLibraryA/GetProcAddress dance before trying to use this function.

[2015-12-31 11:21] zetok commented on #2742
Hmm, `v1.1-880-g634ca9d` seems a bit dated, given that there's `1.2.2` tag. Mind updating?

[2015-12-31 11:23] zetok commented on #2740
@Zer0-One or make a proper static binary.

[2015-12-31 11:25] anoadragon453 commented on #2742
Latest build from experimental OSX repo :/

Edit: Forgive the multiple notifications. Email client acting up.

[2015-12-31 11:27] zetok commented on #2732
@yurivict

Last time I've heard ideas about how it should be done, focus seemed to be directed on making it work in a federated way, using servers for storage.

@kashish110393 if that answers your question, please close the issue `:)`

[2015-12-31 11:28] Zer0-One commented on #2740
@bitchecker No news regarding a repository for fedora and centos. There's no point in hosting it if no-one is building packages for it.

@tux3 do you want to package a static qTox for fedora and centos until someone decides to build a package for the shared build?

[2015-12-31 11:31] zetok commented on #2723
Duplicate of #1083, thus closing.

[2015-12-31 11:31] #2723 closed, assigned to nobody

[2015-12-31 11:36] zetok commented on #1083
I think that it might be nice to have it as an opt-in feature. (note though that implementing that most likely would have very low priority)

This requires support in toxcore, so an issue should be opened there.

As for when message would be marked as `read` - when someone would have it open in their client.

[2015-12-31 11:37] tux3 commented on #2670
@rugk
It sounds doable, but there's a fragmentation problem, because if I upload only Windows installers here, Linux users that find the page could think we don't have Linux releases (the Linux releases are on Jenkins/tox.chat with all the other releases).
And if I upload Linux packages for each release too, there's 30 different combinations of packages that I would need to upload plus instruction

[2015-12-31 11:39] tux3 commented on #2742
Unfortunately that sounds like an upstream Qt problem, so there's not much I can do to fix it in qTox.
@RowenStipe can you reproduce this? Could you try with a different Qt version in your builds maybe?

[2015-12-31 11:42] tux3 commented on #2740
@Zer0-One The build OP used should be fixed to link to libcrypto statically, then it'll work for Fedora, Centos, Debian, etc. No need to make a new static build for Redhat.

[2015-12-31 11:45] arunk commented on #2624
@Zer0-One i live in india. i'm able to view pkg.tox.chat via browser, and wget. i don't use a proxy to access the internet, and i have now tried to run update both at home as well as at a friend's place.

here is my tox.list from sources.list.d:
deb https://pkg.tox.chat/debian nightly release

[2015-12-31 11:45] zetok commented on #2746
Duplicate of #672, thus closing.

[2015-12-31 11:45] #2746 closed, assigned to nobody

[2015-12-31 11:52] zetok commented on #2497
Simple for users, and given that it should work for them transparently, it will be simple for them.

[2015-12-31 11:55] rugk commented on #2670
I think Linux users know that they mostly have to do a way with their package managers and additionally in the Readme and the wiki are enough "hints", links and descriptions which make clear that you can also use this on GitHub.
AFAIK the best thing a Linux "installer" can do is adding the apt sources and fetch them. I don't think you really need a separate installer for this as all Linux users sh

[2015-12-31 11:57] rugk commented on #2497
Well... if the client automatically detects that the entered text is markdown then you can do this, yes.
But I just do not want a switch "normal text"/"markdown".

[2015-12-31 12:17] zetok commented on #2739
Actually, that's just a workaround.

The real problem is that there's no reliable way of making sure that servers are who they claim to be, thus something hardcoded.

If there is a good way of making sure of that, without hardcoding stuff, could you point to it?

I'm not saying that you have to code - pointing to some papers on the matter, existing implementation, or your own idea..

Note though t

[2015-12-31 12:22] Granitoid commented on #2738
Thanks for answer.
I have only Windows XP and I want use qTox. My friends use Windows XP too.
qTox worked one day and on next day show this error on startup.
What I can do to fix this problem? What to do? :(

[2015-12-31 12:28] zetok commented on #2497
IMHO client should always use "markdown-mode" when possible (i.e. other client also supports it), while presenting user an ability to override it and just use plain text.

[2015-12-31 12:52] tux3 commented on #2739
@nikitasius
Hi! I was away this week, so let me answer your questions now.

It's impossible to request DNS TXT records through a proxy. It's not possible, it can't be made to work.
So if you have a proxy, you CAN NOT use toxdns1 or toxdns3 with it, because they need TXT records.
So qTox asks if you want to do the request anyways, but it can only do it outside the proxy.

What we're going to do is

[2015-12-31 12:54] alexlehm commented on #2754
@zetok I think an indicator when the user changes would be good (like a dot), or it would be possible to group the msg belonging to one user by changing the background to gray alternately.

![issue 2754 tux3_qtox](https://cloud.githubusercontent.com/assets/156144/12064546/f97b5dee-afc5-11e5-9403-85c44032f5c0.png)

[2015-12-31 13:10] tux3 commented on #2738
I'm going to fix this problem and release an update pretty soon.

[2015-12-31 13:49] jaceq opened #2756 "qtox - 406-7f34290 - horrible echo on audio / video call"
Hello,

I am doing some test calls between 2 laptops (in different rooms) and audio is not usable...
Echo is truly horrible, disabling one of microphones breaks the loop. Both clients use latest qtox with 'Filter audio' ON (which doesn't seem to work). Video is OK.

I see nothing special in log:

[code]

Also, when calling there is a long delay after pressing answer until call is actually initiate

[2015-12-31 14:10] Granitoid commented on #2738
Thank you!

[2015-12-31 14:12] ovalseven8 opened #2757 "qTox should use default smiley pack if there's an invalid one in the qtox.ini file"
Hello,

if there's an invalid/unavailable smiley pack in the qtox.ini file, qTox should automatically choose the default one.

So, the user don't have to go to the settings and moreover this change makes the settings more reliable also for the future.

[2015-12-31 14:15] tux3 commented on #2756
@antis81 any idea?

[2015-12-31 14:19] jaceq commented on #2756
One more note, I've lowered volumes (in qtox settings) microphone to 25 and output to 80 but problem still occurred.
If helpful (and I've seen this in some other ticket) I can try to record this and upload somewhere if reproducing is a problem.

[2015-12-31 14:22] tux3 commented on #2670
The thing is that I've had several people using Ubuntu, Elementary OS, or other Linux distributions that had trouble installing the repositories, it's already pretty hard to install Linux on qTox if you're not an expert.
Having different pages that won't work for everyone will only add to the confusion imo.
If we're going to publish older releases and installers, we might as well add them to the e

[2015-12-31 14:39] antis81 commented on #2704
@tux3 Maybe you can interpret what the **it** is, which is not working here? I can't. What I can tell is, qTox now works in the majority of common call setups (call & group-call). Now what's not working? :)

[2015-12-31 15:02] aaannndddyyy commented on #1083
+1

It's a nice fearurw to have. Not conplicate to do. And many users expect it.
Should thereforw be enabled by default, but of course there must be an optipn not tp send it - just like we have withe typing notifications.null

[2015-12-31 15:27] ovalseven8 commented on #2704
Yeah, qTox is working in a way that everybody should be able to make audio/video calls.
Nonetheless, there seem to be some things to improve and some things that are probably regressions. Perhaps there're problems with more than one qTox instance?

Would like to encourage everyone to play around with two qTox instances and with different audio settings. Optimally, with an additional headset.

For

[2015-12-31 15:52] #2732 closed, assigned to nobody

[2015-12-31 15:52] ovalseven8 opened #2758 "qTox should use the system's language by default"
Hello,

currently, the default language is English.
In my opinion, qTox should check the system's language at the very first start and using this.
Of course, English should be the fallback if there's no translation yet.

At the moment, the user has to create a profile first (with English login window) and load the profile to be able to change the settings. But what if the user doesn't know English

[2015-12-31 16:20] ovalseven8 commented on #2631
Somebody has broken it again...

[2015-12-31 17:08] JacobHenner commented on #2631
I can investigate later.
On Dec 31, 2015 11:52, "Tux3" notifications@github.com wrote:

[2015-12-31 17:12] Diadlo commented on #2756
Have you tried to call somebody else?
Echobot, for exampe 76518406F6A9F2217E8DC487CC783C25CC16A15EB36FF32E335A235342C48A39218F515C39A6

[2015-12-31 17:53] jaceq commented on #2756
Hi,

Yes, I have this problem with 2 people, also had the same with echo bot you suggested...
Recorded this with a phone and uploaded: http://vocaroo.com/i/s1E6gL2xRVKV

[2015-12-31 17:54] sudden6 commented on #2754
+1 for the idea of @alexlehm

[2015-12-31 17:55] Diadlo commented on #2756
Other application, which use microphone, work normal?

[2015-12-31 17:59] jaceq commented on #2756
Ok, so made interesting discovery, my second laptop with echobot doesn't produce this effect...

But still, other apps on affected laptop work fine (skype / hangouts even utox...) I'm confused what is going on a bit.

[2015-12-31 18:02] Diadlo commented on #2756
Audio device in setting are correct?

[2015-12-31 18:09] antis81 commented on #2756
It helps to understand, that all these "bugs" come from a real world thing (not software :smile:) called feedback. That means: The microphone records audio from the **same** laptop's speakers or a nearby audio source. If there wouldn't be latencies and other effects you would hear the well known much more horrible **beeeeeeeeeep**… :)

The audio volume controls in qTox are still giving us pretty r

[2015-12-31 18:20] antis81 commented on #2704
@ovalseven8
As you might have noticed, we currently record fixed stereo (@tux3, remember? :smile:). To allow mixing mono/stereo capture devices, we need to autodetect the devices ablities. This is yet to be done.

[2015-12-31 18:23] antis81 commented on #2631
@JacobHenner Have a look at #2711 / #2743

[2015-12-31 18:26] jaceq commented on #2756
So.. I disabled audio filtering but still have this problem... I need to have mic VERY low to avoid, but then other side cannot hear me (or can VERY quietly). Also I found another issue, if during video call I will try to go to audio / video settings qtox pretty much freezes, I mean it's non-clickable , video freezes but voice works...

And I agree, let's start celebrations for today :)

[2015-12-31 21:52] dardevelin commented on #2749
I did some inspection and it seems that groupchat has some code for it, but single calls don't. And i am guessing the documentation mentions it because of this.

[2016-01-01 00:29] ProMcTagonist commented on #2754
+1 @alexlehm

[2016-01-01 00:30] ProMcTagonist commented on #1083
+1 @zetok

[2016-01-01 10:36] jaceq commented on #2756
I was thinking about this, maybe a skype like approach might help a bit here?
So as we probably know, skype can adjust mic volume on it's own, would this be hard to implement?
Major thing I see here is the fact that skype uses pulse audio settings directly and qtox has it's own...

More info: I just did (really) remote call (distance 800-1000km) and while video is very nice, audio is not. Echo is

[2016-01-01 13:16] sudden6 commented on #2657
@zetok
I don't think HTML is that much harder to edit. Also it is easily possible to see how the formatting turns out, if you open a browser in a second window.

That said, if the majority wants markdown, I will switch to it, but for now my focus is on the content, not on the styling.

[2016-01-01 14:11] sudden6 opened #2759 "[UI] Inconsistent spelling in user interface"
While writing the userguide, I noticed that some tox specific words/phrases are spellt differently throughout the user interface.

Words where I noticed:

[code]

We should write a reference list of these words and check the ui for consistency.

[2016-01-01 14:42] sudden6 opened #2760 "[UI] grey out proxy address and port if no proxy selected"
grey out the fields "address" and "port" in general settings / proxy settings, if proxy type is set to "none" to make it clear that the user isn't expected to enter anything here.

But still save an already entered address if the user switches to type "none".

[2016-01-01 16:13] Granitoid commented on #2738
Write please version packages on page https://wiki.tox.chat/Binaries#windows

[2016-01-01 21:49] blade1989 commented on #1903
I think all the ideas for this feature here as been set. enable/disable in settings, etc. Is there a release date for this feature?

[2016-01-02 11:46] zetok commented on #2657
Hard enough to e.g. discourage me from contributing to guide.

Just saying.

[2016-01-02 12:05] zetok commented on #1903
Err. I really don't think that this should be something that qTox should do..

If there was some way of "embedding" a real browser (not just the engine), and telling it to open given URL, then this feature could possibly be done as a qTox extension, when extensions will be possible in qTox.

I.e. optional extension in qTox → it detects URL and opens a real browser window, which displays page conte

[2016-01-02 13:21] rugk commented on #2670
[**@tux3**](https://github.com/tux3) commented on [31. Dez. 2015, 15:22 MEZ](https://github.com/tux3/qTox/issues/2670#issuecomment-168202939):

I would install it the other way round, but if you think so... :wink:

This would also be possible. Like an "archive" of releases.

Can't you just do it manually? I mean you update the links to the releases and sign them manually too AFAIK and this is not

[2016-01-02 13:22] rugk commented on #2497
Yes, this is a good idea.

[2016-01-02 15:46] #1975 closed, assigned to nobody

[2016-01-02 16:26] agilob opened #2762 "Audio device is not closed when quitting qTox wih avtab open"
1. open av tab
2. close qtox
3. logs:

[code]

[2016-01-02 16:30] #2711 closed, assigned to nobody

[2016-01-02 16:30] Gullumluvl opened #2763 "Missing Icon on Xubuntu"
Hi, I am using xfce desktop environment, and after installing qtox (from the ppa), there is no default icon available in the menus. I am trying to add one manually but it would be interesting to have it automatically. Thanks!

[2016-01-02 16:31] agilob commented on #2763
This is a packing problem we are aware of, afair @tux3 is investigating it?

[2016-01-02 16:31] #2763 closed, assigned to nobody

[2016-01-02 17:42] tux3 commented on #2763
It's missing a .desktop file I think.

[2016-01-02 17:57] agilob commented on #2763
There is qTox.desktop in repo.

[2016-01-02 19:12] zetok commented on #2763
Yeah, but unless something has changed, it's not being used by packages.

[2016-01-02 19:22] adrian-purism opened #2765 "logs error at login"
got this msg error and i cannot see any previous  chat log
![qtox-error](https://cloud.githubusercontent.com/assets/16197525/12075837/f1acab1a-b16c-11e5-8116-f53a044d67e6.png)

Adrian.-

[2016-01-02 19:28] zetok commented on #2765
Could you provide more info?

https://github.com/tux3/qTox/wiki/Writing-Useful-Bug-Reports

[2016-01-02 19:32] adrian-purism commented on #2765
am using the debian package of qtox version:
ii  qtox                                  406-7f34290                          amd64        The best Tox client.

what else you need am starting the app and after that i got that error not sure what else details i can provide, let me know

Cheers Adrian.-

[2016-01-02 19:36] g4jc opened #2766 "Provide Windows binary for "Portable" version again"
Hello,
Recently (December 2015), qTox began distributing an installer/setup .exe - Instead of the previous executable which would run without installation.

Unfortunately, when using a limited user account on Windows (often found on Public Computers, e.g.: Libraries, Internet café, etc.) it is no longer possible to use qTox.

The previous version is confirmed working from a portable drive with lim

[2016-01-02 19:37] adrian-purism commented on #2765
gdb output:
(gdb) run
Starting program: /usr/bin/qtox
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0x7ffff0136700 (LWP 4649)]
[New Thread 0x7fffef72a700 (LWP 4650)]
[16:36:32.104] src/persistence/settings.cpp:119 : Debug: "Loading settings from /home/adrian/.config/tox/qtox.ini"
[16:36:32.104] src/ipc.cpp:46 :

[2016-01-02 19:56] antis81 commented on #2762
Yes, that's a consequence of the still unreliable input subscription concept. And it's not a simple task to solve. I will setup a new PR which further improves the `Audio` class.

[2016-01-02 19:58] agilob commented on #2762
Hmm is it possible to unsubscribe in aboutToQuit?

[2016-01-02 20:42] g4jc commented on #2766
Ok, the good news is - It appears that it is still being offered, I just couldn't find it. Perhaps link to the nighlty and/or stable binary from the "README.md" as well.

Links:
https://build.tox.chat/job/qTox_build_windows_x86-64_release/
https://build.tox.chat/job/qTox_build_windows_x64_release/

[2016-01-02 21:02] #2458 closed, assigned to nobody

[2016-01-03 11:31] agilob commented on #1075
Is it sill an issue after using SVG icons?

[2016-01-03 15:21] DanTheBritish commented on #1075
![image](https://cloud.githubusercontent.com/assets/4997521/12079354/8f3411a0-b22d-11e5-91d1-700d66c227c5.png)
![image](https://cloud.githubusercontent.com/assets/4997521/12079352/85974090-b22d-11e5-9407-7263c8f72e21.png)
Still using tiny icon for me (Windows 10, latest build on Jenkins)

[2016-01-03 19:26] antis81 commented on #2756
@jaceq Are you able to compile qTox and check a PR? I'd be glad, if you could help with #2768.

[2016-01-03 19:45] jaceq commented on #2756
Hi,

@antis81 I can but as I didn't let me know or direct me to repo / branch to use and steps to compile.

[2016-01-03 21:11] antis81 commented on #2657
That's actually the strongest argument to use markdown, because it is focused on content, not style. :)

[2016-01-03 21:14] grunichev opened #2773 "Can't open app after adding password to profile"
I had a profile without password than I enabled password and quit qtox. Now it can't load profile:
[00:11:45.323] ../qTox/src/core/coreencryption.cpp:94 : Warning: file "/Users/alexey/Library/Preferences/tox/A_.qtox_history.encrypted" doesn't exist
Segmentation fault: 11
and indeed there is only old A_.qtox_history
Is it somehow possible to fix it?

[2016-01-03 21:17] antis81 commented on #2759
@sudden6 The word you are looking for is called "terms" :). We should use consistent terms in qTox UI and translations.

[2016-01-03 21:49] sudden6 commented on #2657
@antis81 my emphasis was on _for now_, but I think that wasn't noticeable :)

From my point of view Markdown has only disadvantages over HTML:
- it needs an extra program to view not everybody has
- basic HTML syntax is as easy as MD

[2016-01-03 22:24] suhr commented on #2657
@sudden6
Markdown have some advantages:
- It's easy to read, just like plaintext
- It's easy to edit without having EMACS installed

[2016-01-03 23:31] antis81 commented on #2657
@sudden6 Did you ever try to write more than 3 lines of documentation with HTML?

You really think, that this…

[code]

… is easier or better to write and edit than this?…

[code]

The rendered result both looks like this:
- Item 1
  - Subitem 1
- Item 2

| This is | a simple table |
| --- | --- |
| with just one header | and two columns |

---

Note:
This is just a 3 items list and a little table

[2016-01-04 00:06] antis81 commented on #2773
Interesting… just an idea, but maybe you can copy the file to `/Users/alexey/Library/Preferences/tox/A_.qtox_history.encrypted`. It might be still crashing though (because of missing encryption I guess).

[2016-01-04 12:28] #2484 closed, assigned to nobody

[2016-01-04 12:29] nikitasius commented on #2739
Thanks for answer, @tux3 . Good to hear, that tox developping and improving and, i hope, we'll see better future.
I'll wait toxdns(4) realisation.

[2016-01-04 15:19] SmoothDude opened #2774 "Client freezes after attempt to start group audio"
When you try to start audio transmission in qTox group chat, client freezes.
To reproduce this issue:
- Start qTox client.
- Ask friend to create group chat with audio support for you
- Accept invite to this group chat
- Ask friend to start audio
- Start audio yourself
- Client freezes
#

Version: v1.2-164-gdefae04
Commit hash: defae042279f7ed28ca2550f314411a77fce56e0
Qt: 5.5.1
OS: Arch

[2016-01-04 21:35] #2210 closed, assigned to nobody

[2016-01-04 22:28] antis81 commented on #2774
What do you mean by "start audio" - pick up the phone?

Tried a group call by myself on local hardware (2 instances) and there isn't even a call indicated (no ringtone and phone icon is green) on the other side, but lots of these in the logfile:

[code]

@tux3 Probably an upgrade to new toxcore audio api helps?

[2016-01-04 22:30] antis81 commented on #2774
Btw.: The first calling client doesn't freeze, but when they try to call each other, one qTox instance freezes.

[2016-01-05 09:35] nymda opened #2775 "utox wont go online"
when i open utox the red circle next to my name will not go green and none of my contacts appear online. ive changed my network settings but nothing works.

im using the newest version of utox. i am also on a public network.

![help](https://cloud.githubusercontent.com/assets/16545187/12112452/84c354de-b394-11e5-85b3-d05fc3f552b0.PNG)

[2016-01-05 13:42] zetok commented on #2775
This is a qTox repo. You should file an issue on [µTox repo](https://github.com/GrayHatter/uTox). Though, given that you're on a "public" network, chances are that Tox clients are simply blocked.

[2016-01-05 13:42] #2775 closed, assigned to nobody

[2016-01-05 18:24] agilob commented on #2210
@kehugter all your issues should be solved now.

[2016-01-05 20:59] ghost commented on #2734
@Zetok: Well, for instance it still thinks I am offline even though I am not and everything else says I am online:

![qtoxwrongicon](https://cloud.githubusercontent.com/assets/11575271/12127453/377771be-b3ef-11e5-8306-fb052bc1287f.png)

And it does the same thing for a new message, it will be flashing about the new message for 10+ minutes after I have already read the messages and all of the other

[2016-01-05 22:48] ghost commented on #2065
@SkyzohKey now has a client for the mockup -> https://github.com/RicinApp/Ricin
Close?

[2016-01-05 22:49] ghost commented on #2210
No, the pixelated icons are still there (including the new status ones on `Alt` + `tab`). But that's not part of this issue, and I'm quite sure there was an open one about that already.

[2016-01-06 00:49] zetok commented on #2065
Right. Since @SkyzohKey develops client with that UI, I guess that this issue can be closed?

[2016-01-06 07:44] antis81 commented on #2065
Closing as the concept is incomplete…

[2016-01-06 07:44] #2065 closed, assigned to nobody

[2016-01-07 05:11] Lesik opened #2776 "Use compiled binary on machines with avconv?"
The precompiled binary available [here](https://build.tox.chat/view/Clients/job/qTox_build_linux_x86-64_release/lastSuccessfulBuild/artifact/qTox_build_linux_x86-64_release.tar.xz) crashes on Ubuntu 14.04 and Trisquel 7.0 Belenos. I presume that this is due to Ubuntu 14.04 using `avconv` instead of `ffmpeg`. I have compiled `ffmpeg`, but the precompiled binary still crashes (`qtox: src/audio/audio

[2016-01-07 11:22] zetok commented on #2776
You would want to use `LD_LIBRARY_PATH` variable - i.e. point it to the place where compiled ffmpeg `.so` are located, and you could launch qTox;
e.g.

[code]

If you're not quite sure how to use it, there are quite a few explanations on the internet :)

---

@Zer0-One why is packaging broken?

[2016-01-07 12:44] Zer0-One commented on #2776
@zetok that's a question for @tux3 , I don't maintain qTox's builds.

[2016-01-07 18:03] #2766 closed, assigned to nobody

[2016-01-07 20:18] #2487 closed, assigned to nobody

[2016-01-07 20:18] #2470 closed, assigned to nobody

[2016-01-07 20:19] ghost opened #2778 "Echo during call which only I can hear"
When I called someone today on qTox although they had setup their audio settings properly, and so had I, I could hear an echo of my own voice slightly distorted almost immediately after I spoke, though I was the only one who could hear it. Apart from that, they also sounded a bit like a robotic sheep from time-to-time, but at least they didn't sound like a Dalek (that issue I reported and was fixe

[2016-01-07 21:39] RowenStipe commented on #2742
My attempts to recreate this bug have been unsuccessful on my machine with any build, with or without a n externally connected keyboard.

[2016-01-08 03:29] antis81 commented on #2756
@jaceq
Sorry for the delay. If you're interested in helping out to review and test the audio code I'd be more than happy. Depending on your git knowledge you have two options:
1. clone my repo from `git://github.com/antis81/qtox.git` (or https, if git protocol doesn't work for you)
2. add my repo as remote `git remote add antis81 git://github.com/antis81/qtox.git` and then `git fetch antis81 audio

[2016-01-08 04:31] antis81 commented on #2778
@SeventhSonOfASeventhSon Yeah, this is a known issue (see #2756). I'm working on this in #2768. If you like to help improving the audio concept by reviewing the code I'd be more than happy.

@agilob @tux3
Apart from physical sources, the echo (and probably other "buggy effects" like pitched voce etc.) origins from the "input gain" implementation (this scary thing with the "400" max. value). This a

[2016-01-08 08:59] zetok commented on #2778
Since it's a duplicate of #2756, closing.

[2016-01-08 08:59] #2778 closed, assigned to nobody

[2016-01-08 13:56] mikalehmann opened #2779 "[UI] White pixels at the outer tabs in the settings"
![ui bug](https://cloud.githubusercontent.com/assets/8298953/12203098/7ac838c8-b62d-11e5-9539-d671b3be4853.png)
This picture sums it up. Just a minor thing, but doesn't look very good.

[2016-01-08 14:31] agilob commented on #2779
Please include image in the post, dont use 3rd party services.

[2016-01-08 19:17] AboShanab opened #2780 "qTox and arabic language"
Hello guys, i have some problem when i try to communication some person using arabic language, the problem is when i write the message using arabic language and i send it, the message will sent but the problem i can't see the message in the chat box, it visible as empty message, screenshot : https://i.imgur.com/2BN5hme.png
i got currently an idea to chat a person using arabic langauge, the idea is

[2016-01-08 19:47] mova opened #2781 "debian jessie repo dependency error"
using `deb https://pkg.tox.chat/debian nightly jessie`  when installing qtox gives:
`qtox : [Depends on]: libvpx1 (>= 1.0.0) [but is no installable].
        [Depends on]: qtbase-abi-5-3-2 which is a virtual package and is not provided by any available package.`
using `deb https://pkg.tox.chat/debian nightly release` fixes that.

[2016-01-08 21:38] zetok commented on #2780
Duplicate of #1887, thus closing.

[2016-01-08 21:38] #2780 closed, assigned to nobody

[2016-01-09 10:39] PolynomialDivision opened #2783 "Qtox crashes when I want to start a video or phone call"
Hi,
when I'm trying to start a video or phone call qtox immediately crashes with this error:

[code]

I'm using Ubuntu 15.10 and installed qtox via this source:

[code]

[2016-01-09 10:54] antis81 commented on #2783
Please select a valid audio device in A/V settings.

[2016-01-09 10:57] PolynomialDivision commented on #2783
Thanks!
Now it works. :)

[2016-01-09 11:12] #2783 closed, assigned to antis81

[2016-01-09 11:39] Zer0-One commented on #2783
@antis81 should qTox really be crashing when the user selects the wrong device?

[2016-01-09 12:19] antis81 commented on #2762
It's possible, but not what we want. I changed the `Audio` singleton implementation a bit and it will fix this problem… :)

[2016-01-09 12:50] antis81 commented on #2783
Actually, yes. What we achieved with the assert is a stage, where we can now tell the user: "Do this to make it work." This allows us to move away from the previous situation:

User: "Audio/Video call is not working."
Dev: "What did you do?"
User: "Don't know… tried to call a friend."
Dev: "This should work. Could you send me a log file?"
User: "How do I do that?"
…and so on…

I fixed audio device

[2016-01-09 18:25] sudden6 commented on #2657
I still don't like markdown, but since the majority wants it, I reformatted it to markdown.
https://github.com/sudden6/qTox/tree/usermanual2

There are A LOT of TODOs in it, so please help me removing them.

[2016-01-09 19:12] #2762 closed, assigned to antis81

[2016-01-09 20:15] gmscs opened #2786 "GTK style segfault"
Switching style to GTK  and moving/resizing the window a bit ends with the following segmentation fault:

(qtox:8887): Gtk-CRITICAL **: gtk_style_finalize: assertion 'style->attach_count == 0' failed

(qtox:8887): Gtk-CRITICAL **: IA__gtk_style_attach: assertion 'GTK_IS_STYLE (style)' failed
Segmentation fault

[2016-01-09 20:30] antis81 commented on #2657
@sudden6 :+1: Do you have a PR?

[2016-01-09 20:53] antis81 commented on #2469
I'll see what I can do. Working on volume control currently in #2768.

[2016-01-09 21:13] sudden6 commented on #2657
I will do one, but under [WIP] tag, because there are some TODOs where I don't know the answer of.

[2016-01-10 00:28] Lesik commented on #2776
Thanks.

[2016-01-10 00:28] #2776 closed, assigned to tux3

[2016-01-10 10:34] antis81 commented on #2776
@Lesik Much more simple: Select a valid audio device in qTox A/V settings and the crash will go away. :)

[2016-01-10 13:52] zetok commented on #1313
cc @RowenStipe ?

Can it be closed?

[2016-01-10 13:52] zetok commented on #1314
cc @RowenStipe ?

Can it be closed?

[2016-01-10 19:54] vladimiry commented on #883
@zetok I don't use qTox due to issue, since I would have to close and open app again to get see contact online. But I just tested it again and I can confirm that #1315 issue (and therefore this current issue) is still in place, no auto rec-connection after sleep mode (at least fo case if windows <--> arch linux machines were used).

[2016-01-10 20:07] zetok commented on #883
@vladimiry does pressing `Reconnect` (in settings) help?

[2016-01-10 21:24] RowenStipe commented on #1314
@zetok does not seem to be present with my system, would call it safe to close.

[2016-01-10 21:26] RowenStipe commented on #1313
Yes

[2016-01-10 22:02] ProMcTagonist commented on #1314
@LordHDL please comment if your issue is still occuring

[2016-01-10 23:05] TheNain38 opened #2788 "qTox crashes when clicking audio/video tab in a second instance"
Version: 26019c20e20ff6a9f1177bd56b665543126fed26, Windows 8.1 64-bit. I think it happens since 0836c78551c40719b37677105bd951e90fd511b6, also I cannot do a regression test right now

[2016-01-11 00:16] antis81 commented on #2788
We are actually not yet in a state where to talk about regressions. Anyway, I cannot start two instances at all with current master.

[2016-01-11 08:45] shalnoff commented on #2602
I'm supporting the opinion of @SeventhSonOfASeventhSon regarding the personal Blocking feature. It would be great, with ability to add additional comment (like "I'm busy, sorry") or just without.

Nevertheless, as far as invisible option couldn't be implemented directly by design, it may be created via multiple accounts support, IMHO. I.e. an user has separate accounts (UIDs) for different groups

[2016-01-11 08:56] shalnoff commented on #1018
this is a really necessary feature (especially if Tox have no ability for selective Invisible Mode implementation). I like the UI draft of @codedust

[2016-01-11 09:08] shalnoff commented on #2602
BTW the solution was offered in another tread (Multipe UIDs), I just move it here, in relevant context.

This feature quite easily could be done without changing anything in toxcore, just by making user removed and all of his messages ignored. I.e. qTox leave the record of user but mark it as "ignored" and remove it for Tox network. Consequently: if the user decide do get another user back, he jus

[2016-01-11 10:07] TheNain38 commented on #2602
No, there is the `friendAddNoRequest` function which adds, a friend but without sending a friend request, and it only needs the PublicKet, no noSpam

[2016-01-11 10:24] ProMcTagonist commented on #2602
#826

[2016-01-11 14:03] adrian-purism opened #2789 "old profile wont work"
how can i reload my old profile in a new fresh install? it only allow me to create a new but i cannot logging with my old user and pass

[2016-01-11 14:06] adrian-purism commented on #2765
do you need more info about this issue?

[2016-01-11 18:27] ghost opened #2791 "Allow full importation of profiles through the GUI"
I understand that in the past it was possible to import through the GUI, however now it is not possible, so one has to manually move the `.tox` file into the correct Tox folder.

But I think it would be a rather simple feature to just have an import button in the GUI which just allows you to move the `.tox` file into the right place automatically, and then just set the pull-down menu of the profil

[2016-01-11 18:33] ghost opened #2792 "Why is there an empty file called "main.h"?"
I have noticed in the source that the "main.h" file is empty, why is this?

[2016-01-11 19:03] zetok commented on #2792
Looks like it was accidentally added and isn't needed, thanks for spotting that `:)`

[2016-01-11 19:08] ghost commented on #2792
No problem! :)

[2016-01-11 19:08] #2792 closed, assigned to nobody

[2016-01-11 19:15] #1313 closed, assigned to nobody

[2016-01-11 19:15] #1314 closed, assigned to nobody

[2016-01-11 19:22] zetok commented on #2789
Do you have your [profile file](https://github.com/tux3/qTox/wiki/Profile)?

Edit: also, how old is your profile, i.e. how much time has passed since you've used it last time? If you used it within last ~half a year, it should work, unless it was corrupted..

I mean, there's this other issue you've made (#2765), where qTox couldn't access encrypted DB any longer - it's quite likely that it happene

[2016-01-11 19:36] zetok commented on #2791
Duplicate of #1872, thus closing.

There's also #2050.

[2016-01-11 19:36] #2791 closed, assigned to nobody

[2016-01-12 08:42] PavelSann commented on #883
If you click Reconnect (in settings) then the connection is restored.
I checked on two notebooks.(Win7 x64, Win10 x64)

[2016-01-12 08:51] vladimiry commented on #883
So far I have no way to test "Reconnect" button, but either-way there is no difference whether I click "Reconnect" or restart app, it's still would be inconvenient since when I use app I assume that client shows me all contacts online status without a need to restart/reconnect actions.

[2016-01-12 19:22] vladimiry commented on #883
I just have tested "Reconnect" button, it doesn't work in my case. We pressed that button on both sides several times (Arch linux and Windows) with no success. But when contact on Windows has written something to me (to kind of "offline contact") we became "online" after a few seconds.

[2016-01-13 08:47] bitchecker commented on #2740
@tux3 the application still doesn't works, just tried to download package and run it!

[2016-01-13 09:46] agilob commented on #2740
I get the same error, on startup but qTox works fine, I see it as a warning. It doesn't break anything for me.

[2016-01-13 14:43] Granitoid commented on #2738
When you will fix this problem?

[2016-01-13 15:08] feeef commented on #2740
I get the same error with the latest nightly build as well. It is not a warning for me, qTox doesn't want to start. I am also on fedora 23.

[2016-01-13 20:38] NicoHood opened #2794 "[Feature Request] File transfer thumbnail"
A friend suggested to add a thumbnail to pictures that you send over tox. This would be really useful. (used linux)

[2016-01-13 20:47] NicoHood opened #2795 "Resize Windows while doing a (camera) call crashes qtox"
First you get an ugly "windowsxp like" window freeze style, then it reacts slower and then you need to forcequit it. Linux x64, ubuntu14.04 (elementary os) via deb package.

[2016-01-13 21:11] rugk opened #2796 "Does not update to v1.2.2"
Current qTox version: v1.2.1 on Windows 7 (installed with the installer)

As I now see [v1.2.2](https://github.com/tux3/qTox/releases/tag/v1.2.2) was already released. Obviously the updater did not noticed this release, although it was released some time ago.

[2016-01-13 21:31] rugk commented on #2670
As I see you now have Linux installers too. So what about publishing hashes now? (at least of the installers)

[2016-01-13 22:35] Diadlo commented on #223
May be combine the implementation of point "add someone as a friend" from
https://github.com/tux3/qTox/issues/2657
and this issue (add echo bot like first friend)?

[2016-01-13 22:49] zetok commented on #2795
Isn't that a duplicate of #2506 ?

[2016-01-13 23:00] Diadlo commented on #2657
What you think about using echobot for teach first four points?
- add someone as a friend
- make a call
- make a videocall
- send files

[2016-01-13 23:57] zetok commented on #2794
![thumbnail](https://cloud.githubusercontent.com/assets/3148759/12311703/ffb06d04-ba50-11e5-81bb-eee51fe2018d.png)

Do you have on mind something other/more?

[2016-01-14 06:21] TheNain38 commented on #2794
I think, he meant a tumbnail that is displayed before actually downloading the picture (e.g. like on skype)...

[2016-01-14 09:45] Diadlo opened #2797 "Video quality"
Sometimes I have very bad video quality. It depend of qtox session. If I restart qTox I may have normal quality. If I set webcam resolution more smaller, I may have normal quality (but not necessarily)
![screenshot_20160114_123328](https://cloud.githubusercontent.com/assets/6306608/12320932/7d15911e-babc-11e5-8cb1-1e2580cd2084.png)

[2016-01-14 10:04] ProMcTagonist commented on #2794
That would involve autoaccepting a thumbnail file transfer and sounds like it may be in the purview of [core](https://github.com/irungentoo/toxcore/issues).

[2016-01-14 11:23] ElLamparto commented on #2796
Confirmed on XP 32 bit & Win 7 64bit.

[2016-01-14 11:25] agilob commented on #2797
Try decreasing resolution instead of restarting, your internet connection might be too slow for it?

[2016-01-14 11:28] ElLamparto commented on #2797
It looks like a great modern art!
Sometimes I have the same problem which is surely connection quality related (the picture returns to normal when the transmission improves).

I set resolution 640x480 and I would not recommend any higher.

[2016-01-14 11:37] Diadlo commented on #2797
1) In damn skype i have normal quality
2) WHY after restart qTox sometimes it work fine with max resolution?
3) When I do video-call to my friend (uTox) he never seen normal video (even if I set minimal resolution about 140x160 and 5fps)

[2016-01-14 11:40] TheNain38 commented on #2797
irungentoo/toxcore#1479

[2016-01-14 11:40] Diadlo commented on #2797
May be we should set it by default? Or add note in UI, that it is recomended

[2016-01-14 12:07] tux3 commented on #2773
@grunichev You should update qTox, the qtox_history.encrypted file is created by the old history system, it has been replaced by something much more reliable some time ago.

[2016-01-14 12:07] #2773 closed, assigned to nobody

[2016-01-14 12:10] #2739 closed, assigned to nobody

[2016-01-14 12:54] tux3 commented on #2781
Hi, you need to use the jessie-backports repo for now to use qTox on Jessie. We'll be working on fixing that on our end.

[2016-01-14 12:57] tux3 commented on #2776
@antis81
I haven't looked into this, but that sounds like a bug, no? If there's a crash, it has to be fixed.

[2016-01-14 13:03] #2757 closed, assigned to nobody

[2016-01-14 13:06] tux3 commented on #2765
@adrian-purism Do you have the package "libsqlcipher0" installed?

The error message could mean 3 possible things:
- The SQLCipher library is not working correctly on your system
- The database is somehow encrypted with a different password than your profile password
- The database is corrupt and can't be decrypted at all (unlikely)

[2016-01-14 13:07] shalnoff opened #2798 "memory leak 1.5GB (20 hours of idle)"
Hi guys, I just found that my qTox taken 1.5GB (!!!) of memory being stayed idle for 20 hours. The laptop was in standby mode for 12 hours. Version v1.2-176-ge952d1a.

[2016-01-14 13:18] tux3 commented on #2738
Sorry, I started working on this but I got side-tracked a little. I'll try to finish the fix today.

[2016-01-14 13:33] tux3 commented on #2798
@shalnoff Hi, is this on Windows? Was qTox on the chat page, on the video page, in the settings, something else?

[2016-01-14 13:54] Diadlo commented on #2797
If it is problem of tox-core, I close issue

[2016-01-14 13:54] #2797 closed, assigned to nobody

[2016-01-14 14:11] adrian-purism commented on #2765
yes i have libsqlcipher0 installed, how can i fix this? beacuse if i remove all my profile i will lose everything and i cannot login again after reinstall it because qtox only shows new profile and i cannot loging with my previous user and pass

[2016-01-14 14:18] adrian-purism commented on #2765
in a fresh install "load profile" is not available and also i cannot type my username because i need to pick it from a list

[2016-01-14 14:21] zetok commented on #2776
@tux3 yeah, it's fixed in #2785

[2016-01-14 15:01] rugk commented on #2796
So what's the issue?

[2016-01-14 15:58] zetok commented on #2607
Ok, here's an interesting thing on 26019c20e20ff6a9f1177bd56b665543126fed26:

`q1` instance didn't seem to have an avatar set (qTox removed it somewhere along the way), so I've set it again.

`q2` instance which didn't see the avatar (just the default image) upon receiving avatar from `q1`:

[code]

↑ with that, `q2` still doesn't show avatar of `q1`, even though now `q1` has avatar set back.

[2016-01-14 16:45] zetok commented on #2657
I don't think that this is a good idea.

[2016-01-14 16:49] Diadlo commented on #2657
Have you any reasons?

[2016-01-14 17:44] NicoHood commented on #2795
yes.

[2016-01-14 17:44] #2795 closed, assigned to nobody

[2016-01-14 17:44] NicoHood commented on #2506
Got the same problem.

[2016-01-14 17:45] NicoHood commented on #2794
Yes, the thumbnail is only displayed after downloading the whole file. Before would be a nice idea for pictures.

[2016-01-14 19:27] zetok commented on #2657
If network is going to be involved, then it should scale, and be reliable, neither of which echobot provides.

[2016-01-14 19:29] zetok commented on #2506
@NicoHood what OS/DE?

[2016-01-14 19:41] NicoHood commented on #2506
elementary os, based on ubuntu 14.04 x64

[2016-01-14 21:00] ghost commented on #2788
Can't reproduce in 05162a63b93aaa046567920a37fd64e9edfa05d4

`alice` is the first instance, `bob` the second. Scenarios tested:
- `alice` in chat window, `bob` opens video/audio settings
- `alice` in video/audio settings, `bob` opens video/audio settings
- `bob` in video/audio settings, `alice` opens video/audio settings
- `bob` in chat window, `alice` opens video/audio settings

Debian testing
Qt

[2016-01-14 21:08] ghost commented on #2786
I get some `CRITICAL`s but no segfault:

Nothing else logged after resizing the window.

05162a63b93aaa046567920a37fd64e9edfa05d4
Debian testing
Qt 5.5.1
libgtk2.0-0: 2.24.29-1
libgtk-3-0: 3.18.6-1

[2016-01-14 21:43] antis81 commented on #2776
@tux3 It's an assertion because, when a call is made with an invalid in/out audio device it is not possible to create an audio source - obviously. The fix in #2785 includes 2 important changes:
1. A "none" audio device is marked as "not initialized" (Audio::initInput/-Output both return `false` in that case).
2. `CoreAV` does not any longer try to send audio data to an invalid audio source -> this

[2016-01-15 01:04] zetok commented on #2551
Well, here's the tool: https://github.com/zetok/tox-add-pubkey

[2016-01-15 01:34] tux3 commented on #2776
Sounds good, thanks.

[2016-01-15 03:53] ProMcTagonist commented on #2551
@zetok nice utility, will use :)

[2016-01-15 07:50] TheNain38 commented on #2551
How do I use it if I'm on Windows ?

[2016-01-15 09:03] zetok commented on #2551
@TheNain38 Well, it would need to be compiled for Windows. Now, the "hard" part is having toxcore in your system, in a way that would allow Rust to automatically link against it - dunno what needs to be done in order to get that. (I guess that can be googled?) As for the Rust part, once you get toxcore "installed", instructions shouldn't differ at all - if something won't work, then it's most like

[2016-01-15 10:11] ElLamparto commented on #2796
@rugk, the issue is that the updater does not update. It does not see new version available.

[2016-01-15 10:17] ElLamparto commented on #2797
@Diadlo, utox and qtox do not understand each other well. Chat and audio work fine. But video does not.

[2016-01-15 16:41] tux3 commented on #2738
This should be fixed by this commit : https://github.com/tux3/qTox/commit/3645e39b89739c76b0202799d399b707d2132677

This update will be shipped in the next qTox stable release.

[2016-01-15 16:41] #2738 closed, assigned to nobody

[2016-01-15 18:29] dcapeletti opened #2800 "Error while loading library libxcb-render-util.so.0"
Hello, I downloaded a precompiled binary for GNU / Linux 32-bit and I can not open it. From the console I get "Error while loading library libxcb-render-util.so.0"

Please help. Thank you

[2016-01-15 19:25] tux3 commented on #2800
Try apt-get install libxcb-render-util0

[2016-01-15 19:31] TheNain38 opened #2801 "qTox crashes when joining the "audio" group and there is one person in the "audio""
I'm on Windows 64 bit 8.1 commit: bb9b1a4e32db31a5bacd637368ba6453d45a3120
Also, my friends all have the same problem

[2016-01-15 21:03] sudden6 commented on #2619
I can confirm this behavior.

[2016-01-15 22:03] vatterspun opened #2802 "Portable status: writing to AppData"
This is a minor issue but could be a possible privacy concern and may interfere with the ability to run multiple clients simultaneously.

SETUP: Win7x86

STEPS:
1. Download the ZIP package, extract, launch qtox.exe
2. Create profile
3. Click the settings button (gear icon), choose the Advanced tab, and select "Make Tox portable"

DEFECT: user data saved to \AppData\Roaming\tox folder

WORKAROUND:

[2016-01-15 22:08] sudden6 opened #2803 "Name and status changes should be rate limited"
qTox does allow arbitrary fast name and status changes, this combined with simple scripting, can lead to the comeback of `<marque>` and `<blink>`.

This would be very annoying to the user, so limit the possible changes to 1 per minute on the receiving and sending side.

[2016-01-15 22:23] #2657 closed, assigned to nobody

[2016-01-16 00:19] tux3 commented on #2803
I think we should assume good faith and not impose arbitrary restrictions on users. This looks like a technical solution to a non-technical problem :)

If your friends are being annoying, you should nicely ask them to stop. If your friends are malicious, there are worse things they can do to annoy you than script their names and status.

[2016-01-16 00:30] tux3 commented on #2802
We could simply move the content of the %AppData%/tox folder to the current directory when the portable option is enabled, and move it back when it's disabled.

But this needs to be implemented carefully because that sounds like a recipe for race conditions and lost or left behind data on crash.

[2016-01-16 00:49] dcapeletti commented on #2800
I also had to install:

sudo apt-get install libxcb-image0
 sudo apt-get install libxcb-icccm4
 sudo apt-get install libxcb-randr0
 sudo apt-get install libxcb-xkb1
 sudo apt-get install libxcb-keysyms1
 sudo apt-get install libxkbcommon-x11-0

Otherwise unbootable.
Would not it be better an installer for this?

[2016-01-16 01:29] tux3 commented on #2800
I think I will make an installer, qTox is way too hard to install on Linux and I don't see a better way.

[2016-01-16 01:29] #2800 closed, assigned to nobody

[2016-01-16 01:45] zetok commented on #2803
One should be able to block them - #1120 :)

@sudden6 dunno, as @tux3 said, it sounds like it's not an issue that one should try to solve at a technical level.

I.e. you talk to the annoying person, if they refuse to reconsider their behaviour, you block the ... .

Close the issue?

[2016-01-16 01:50] #2803 closed, assigned to nobody

[2016-01-16 06:40] mastir opened #2806 "Sound gone after update (16.01.2015)"
Sound freezes, after audio settings open. If i switch setting tabs, microphone noise freezes and sound gone, forever (almost)

way to reproduce: open settings->audio, open any user or settings tab, return to settings->audio.
how to fix: close settings, close qtox window (to tray) open qtox, sound works again.

ubuntu 14.04, qtox-unity
now i've got qtox commit: c576a1485a6d0a1fed8911f1341709bff08bd

[2016-01-16 10:21] rugk commented on #2796
That far I could also thought...

But the updater is a thing which should never break... at least not in a stable version of the software how **qTox is called**. Based on issues as this it does **not really look stable**, because the updater is really the last thing which should break here.
I'm sure many users will trust the updater and not look for new releases manually and as this is a security-

[2016-01-16 10:43] Granitoid opened #2807 "qtox updater in cycled error"
Then I run qTox.exe, I see error updater (screen attached)
I press "Ok" button and then in 1-2 second I see again same error.
This process cycled, I can't close qTox-updater and I can't use qTox-chat.
Windows XP SP3 32bit.
![qtox-err](https://cloud.githubusercontent.com/assets/16450834/12371957/0fc110b0-bc57-11e5-8464-0c607e647137.gif)

[2016-01-16 11:39] tux3 commented on #2806
@antis81 Any ideas? I'd like to work on other things, but there's quite a lot of audio bugs left unsolved and that's going to block the next stable release.

[2016-01-16 11:44] tux3 commented on #2807
Could you post the qTox log please?
It's in "C:\Documents and Settings\ <user name>\Application Data\Tox\qTox.log"

[2016-01-16 11:46] tux3 commented on #2796
Hi, I tested the updater yesterday on Win 7 64bit and I couldn't reproduce.
Are you sure the "Check updates on startup" option is enabled?
Can one of you post the qTox log?
And finally what's the exact commit hash and version in the settings?

[2016-01-16 12:01] ovalseven8 commented on #2796
qTox isn't stable. There is much to do to reach this goal.
But the "stable" releases make sense because we can prevent distributing broken software as a result of bad PRs for example.

[2016-01-16 12:36] antis81 commented on #2806
Yes, I have a very exact idea of why this happens to user's. If there's a problem with the release, there's a ~~simple~~ quick solution: Remove (deactivate) the WIP feature "gain meter widget" within the A/V settings tab.

[2016-01-16 12:42] tux3 commented on #2806
@antis81 Okay, do you know how to fix this reasonably soon? Otherwise I think it would be better to kill the gain meter (or whatever is causing all those bugs) and pull it back when it's ready.

[2016-01-16 12:49] antis81 commented on #2806
@tux3
I'll setup two PR's:
1. Deactivate the "gain meter widget" feature -> closes this issue (#2806) and #2703.
2. Finish the feature implementation in a new PR.

Is that a plan?

[2016-01-16 12:53] Granitoid commented on #2807
2016-01-16 13:38:06 Updater file logger starting
[13:38:06.328] :0 : Debug: Updater running as user UserName
[13:38:06.343] :0 : Debug: Unelevated primary access token acquired
[13:38:06.359] :0 : Debug: Falling back to legacy APIs...
[13:38:06.359] :0 : Critical: Update aborted with error: "No update found."
[13:38:11.890] :0 : Debug: Falling back to legacy APIs...
[13:38:11.890] :0 : Warning: Fa

[2016-01-16 12:53] tux3 commented on #2806
@antis81 Alright. If that solves it, it's all good; if not we'll have to go a bit further.

[2016-01-16 12:55] dcapeletti opened #2808 "How long qtox estimate will be stable?"
I would ask if a developer has an estimated to be stable qtox time. Thank you

[2016-01-16 12:56] tux3 commented on #2807
Thanks, our Windows XP support is a little experimental since we mostly test on later versions of Windows.

[2016-01-16 13:08] tux3 commented on #2808
I would estimate it will take a couple months to iron out the remaining bugs in our stable branch, then we can focus on stabilizing new features from master.

[2016-01-16 13:16] ovalseven8 commented on #2808
First of all, it depends on how you define "stable".

At the moment, qTox is far from being solid from my point of view. There are a lot of open and important issues, the code hasn't been reviewed yet and it is important to know that toxcore isn't stable as well.
So, perhaps you can call qTox alpha software. But it doesn't really matter.

All in all, a software will never be done at all.
The probl

[2016-01-16 13:43] Granitoid commented on #2807
I see, but many peoples still use Winodws XP and them maybe more of Windows 8, Windows 10 or MAC OS:
https://www.netmarketshare.com/operating-system-market-share.aspx?qprid=10&qpcustomd=0
Windows XP - 11% of all popular OS.
2-nd place of rating.
U can use VMware for virtual machine WinXP and simple testing.

[2016-01-16 13:56] tux3 commented on #2807
I will try to get a Windows XP VM running.

[2016-01-16 17:22] rugk commented on #2796
So what? I also see https://github.com/tux3/qTox/issues/2808 now where you indicate that qTox is not stable. On the other hand you publish "stable releases" (:confused:) and in [your wiki](https://wiki.tox.chat/binaries) you also call it "release". I have to say I [requested](https://github.com/tux3/qTox/issues/2672) the latter as I thought qTox would be stable.

This assumption was [based on this

[2016-01-16 17:30] dcapeletti commented on #2808
Too bad there are few developers in a project as interesting as qtox.
Define a "stable release" as that version that can be used for production use. That is, it meets the requirements for which it was designed and all features work well.
For example, program security, chat and video call works as expected on all platforms. Users can work in peace and without cuts in the calls.

I think qtox should

[2016-01-16 17:38] rugk commented on #2796
So as for the update issue...

Obviously yes...

This is the first part of one day when qTox started with the old version (now I've upgraded manually):

[code]

As you see nothing update the update is logged and I also could not found any other information about the update in the log.

For the hash see the log (it's a4af80fbcc35911df6c9c44bc49d15fd8c6fca72) and I already told the version number.

[2016-01-16 17:47] rugk opened #2810 "Personnal - Where do you get this word?"
`personnal` e.g. appears in the logs...
But as it seems [this is not the only place](https://github.com/tux3/qTox/search?utf8=%E2%9C%93&q=personnal+).

The issue is that this word [does not exists](http://www.onelook.com/?w=personnal&ls=a) - at least not in English.
Only one dictionary on onelook shows it and even there this may only be misspellings/typos where they got it from.

Probably you mean

[2016-01-16 18:01] Jumbt opened #2811 "Segfault on playing with preferences"
I've found this bug occurs in a few ways when going through the preferences/changing settings. It occurs when you change the preferences and usually results in a segfault when switching preference tabs. It seems to be fairly easy to reproduce by changing the settings and clicking on different tabs. I've tested it on debian/stretch 64bit using qTox version v1.2-195-g05162a6. Below is a gdb log thou

[2016-01-16 18:25] zetok commented on #2810
@rugk care to make a PR to fix it? :)

[2016-01-16 18:32] zetok commented on #2811
Could you provide steps to reproduce?

[2016-01-16 18:35] Talkless opened #2812 "Does not compile on Qt 5.2.1"
On Kubuntu 14.04 I got:

[code]

While:

[code]

[Qt documentation](http://doc.qt.io/qt-5/qplaintextedit.html#placeholderText-prop) states that QPlainTextEdit::setPlaceholderText() introduced in Qt 5.3.

[2016-01-16 18:43] ghost commented on #2811
Can reproduce. The problematic tab is `Audio/Video`.

To reproduce, open the settings and start alternating between `Audio/Video` and another settings tab. No need to alter any value. Other tabs don't segfault. There's no particular number of tries before qTox crashes (usually >8 for me), nor a determined time doing the tab switching. How fast one does it doesn't matter either.

Sample log: https:

[2016-01-16 19:03] tux3 commented on #2810
Yep, good catch, that's a typo!
@zetok I'll just search and replace it.

[2016-01-16 19:07] zetok commented on #2811
Right. Switching for some time between `A/V` tab and other does it.

bt on 26019c20e20ff6a9f1177bd56b665543126fed26:

[code]

What is interesting, is that on other build, where I couldn't reproduce crash for a while, when I finally got to reproduce it, `t a a bt` showed that qTox spawned 425 threads(!).

[2016-01-16 19:08] #2810 closed, assigned to nobody

[2016-01-16 19:17] tux3 commented on #2812
Making this compatible with Qt 5.2 is probably going to be nontrivial.
Since even Debian stable is already at Qt 5.3.2, I think it should be reasonable to up the requirement to Qt 5.3 minimum now.

@Talkless As a Kubuntu 14.04 user, is it reasonably possible for you to update Qt to 5.3?

[2016-01-16 19:22] agilob commented on #2812
Disabling only screenshoting would work.

[2016-01-16 19:27] Talkless commented on #2812
I guess I could, I just tried to compile it with "stock" 14.04, and now I see that PPA provides statically linked qTox... I shouldn't had to report this bug at all...

[2016-01-16 19:28] agilob commented on #2812
It was reported before, we had to increase Qt version to implement screenshoting properly.

Ok, this one is not about screenshoting ;) I think you still need qt5.4  to compile qtox, another dependency that is used for SS requires it.

[2016-01-16 19:28] #2812 closed, assigned to nobody

[2016-01-16 19:30] tux3 commented on #2812
Okay, from our side it's probably better to up the requirement to Qt 5.3. Thanks for reporting the breakage though, I'll update the documentation.

[2016-01-16 19:32] tux3 commented on #2812
@agilob Our Debian stable machine on the Tox Jenkins builds packages with Qt 5.3.2, so if it ever breaks we'll know easily :)

[2016-01-16 19:45] zetok opened #2813 "Find & remove trailing whitespace in user manual"
_Task_: There's a trailing whitespace somewhere in [user manual](https://github.com/tux3/qTox/blob/master/doc/user_manual_en.md). Search & destroy it.

If you would want to start contributing, but you're not sure how/what is the workflow, you might want to use this occasion to try in practice :)

Read [CONTRIBUTING.md](https://github.com/tux3/qTox/blob/master/CONTRIBUTING.md) - it includes tips th

[2016-01-16 19:45] tux3 commented on #2811
So this seems to be a bug with the audio meter according to the backtrace.

[2016-01-16 21:43] Granitoid commented on #2807
Thank you.
Please, write here after problem will be fixed.

[2016-01-16 22:05] rugk commented on #2810
At least the one who made the typo was very consistent... :laughing:

[2016-01-16 22:21] ddobrev opened #2814 "The setting of "Autostart" is disabled on OS X"
If it's disabled by mistake, please fix it. If not, please add auto-starting on OS X, it's an extremely useful setting for chat applications.

[2016-01-16 22:26] linux-modder commented on #2814
Even on my fedora install the FIRST time I compiled it was disabled --which makes sense  autostarting a newly  first time install makes no sense to me.  If this is  post  initial launch  what  OSX version |  Mac model?

[2016-01-17 00:01] antis81 commented on #2811
This is another duplicate of #2705. Close?

[2016-01-17 00:12] antis81 commented on #2808
@dcapeletti I'm currently working on the audio topic, which is loosely bound to video. I know this is currently not really usable. At least we have a stable concept base now to build upon. Most harmful problems (echo, volume control, …) with audio will be fixed, when #2768 leaves WIP status. Group calls are not yet functional. Depending on available time, this will take a couple of days/weeks for

[2016-01-17 00:56] #2811 closed, assigned to nobody

[2016-01-17 00:56] tux3 commented on #2811
Yeah, same bug.

[2016-01-17 11:52] ddobrev commented on #2814
The machine I tested on is MacBook Pro early 2009 with OS X 10.11 "El Capitan".

[2016-01-17 15:27] #2807 closed, assigned to nobody

[2016-01-17 15:28] tux3 commented on #2807
The problem is fixed in the code, and the fix will be available in the next release (1.2.3)

[2016-01-17 15:30] tux3 commented on #2796
I've tested again with a freshly installed Win XP SP3 32bit in a VM and I can't reproduce.
It's possible the problem was fixed in 1.2.2 and doesn't exist anymore.

[2016-01-17 16:02] dcapeletti commented on #2808
@antis81 That good news just given me, glad you could make this a useful tool for customer calls. Ojala is illuminated to do the hard work. I wish I could do, I love qtox, but I am unable at the moment.

[2016-01-17 16:05] Granitoid commented on #2807
Thank you, but...
Look at https://wiki.tox.chat/Binaries#windows
How I can know about current version and date of new release?

[2016-01-17 16:09] tux3 commented on #2807
Now that the updater will work, you can find the version in the Settings -> About page, and it will tell you about new releases.

The next release will probably be sometimes next week.
For now if you delete the "C:\Documents and Settings\ \Application Data\Tox\update" folder, it will stop doing the cycled error.

[2016-01-17 16:35] tux3 commented on #2807
@Granitoid Oh now that I think about it, if you download and install the latest stable release now, it will have the fix (since only the updater needs to be fixed).

You can download the fixed version here: https://build.tox.chat/view/qtox/job/qTox_pkg_windows_x86_stable_release/lastSuccessfulBuild/artifact/setup-qtox.exe

[2016-01-17 17:41] #2813 closed, assigned to nobody

[2016-01-17 18:14] Granitoid commented on #2807
Wou! It works! :)
I am happy! Thank you!
Have a nice day!

[2016-01-17 19:06] ddobrev opened #2816 "The same message may be sent multiple times"
I was on Windows (7 64-bit) using the 64-bit version v1.2-231-gf27214f. A friend was on OS X using version v1.2-184-gad3326b. I sent him a message and he received it 3 times (he sent me a screen-shot) with different times, about 10 seconds difference between each two successive messages.

[2016-01-17 23:30] ProMcTagonist commented on #2816
I'm on the receiving end of this a few times a week. Nothing unusual appears in either side's logs.

[2016-01-17 23:31] ProMcTagonist commented on #2813
I think this was supposed to help people sitting on the fence start contributing

[2016-01-17 23:34] tux3 commented on #2813
@ProMcTagonist I think it did, look at #2815

[2016-01-18 08:38] azlux commented on #2816
Same for me, the version is 1.2.2 for both computer on win10 (64bits).

[2016-01-18 10:10] Granitoid opened #2817 "No password on startup"
The Function of autosave password was very useful.
![2016-01-18_13-09-15](https://cloud.githubusercontent.com/assets/16450834/12388577/bd7e298e-bde4-11e5-9a33-47d6aa96ee46.jpg)

[2016-01-18 10:50] zetok commented on #2817
Saving password is not doable, given that it's used for encryption.

[2016-01-18 10:50] #2817 closed, assigned to nobody

[2016-01-18 10:53] zetok commented on #2816
Looks like it's a duplicate of #2726, thus closing.

[2016-01-18 10:53] #2816 closed, assigned to nobody

[2016-01-18 11:21] agilob commented on #2817
Click on your avatar and disable encrypted profile.

[2016-01-18 14:45] LittleVulpix commented on #2813
:D you know what the worst part is though? Github seems to be putting a trailing whitespace after every wrapped line that precedes a sublist item. It's not in the raw code - it's just in the rendered page. I.e. if a line is so long that it gets wrapped, and if that line also has a sublist item, the end of the wrapped line will have a whitespace in the rendered page.

It's hard to explain but you c

[2016-01-18 15:29] ddobrev opened #2820 "Users shown as off-line while they are actually on-line"
I was on Windows (7 64-bit) using the 64-bit version v1.2-231-gf27214f. A friend was on OS X using version v1.2-184-gad3326b. Over night, I let my computer hibernate instead of turning it off. When I resumed it, my friend appeared to be off-line. I saw in Skype he was actually on-line and asked him - over Skype - what was going on. He said he could not see me either. He had to restart his qTox so

[2016-01-18 15:35] tux3 commented on #2820
This is something that should probably get fixed in toxcore.
What we could do if we want a fix any time soon is force-reconnect if we detect that we just woke up from hibernation.

[2016-01-18 15:58] ddobrev commented on #2820
A quick fix would be nice indeed, thank you. qTox does have occasional problems but this is the only issue we consider critical because it prevents knowing for sure if the other person is available or not. However, please consider that it's not really a lost connection because both people actually have working qTox instances, it's just that they cannot see each other.

[2016-01-18 16:01] LittleVulpix commented on #2820
https://github.com/irungentoo/toxcore/issues/1349 ? Although this seems like qtox not reconnecting (automatically) after it disconnects (which it does in sleep / hibernation), so this is a duplicate of https://github.com/tux3/qTox/issues/2542 actually. Close as dupe?

[2016-01-18 16:15] ddobrev commented on #2820
It does seem like a duplicate but I think this is actually bad news because I can see the original has been filed in May 2015, this is more than half a year for such a critical bug.

[2016-01-18 16:32] LittleVulpix commented on #2820
@ddobrev I think it stems from the fact that each side (client / core) dev believed the issue to be a problem for the other side! :dancer:

In reality though, there are two issues.

A) Users not seeing each other online when normally using a tox client -> toxcore issue (core should see people online if they're online, no ifs, no buts)
B) Clients not reconnecting after the device running the client

[2016-01-18 16:42] ddobrev commented on #2820
@LittleVulpix thank you for these details. They show me that the problem has been identified so I am now curious about the reason it has not been fixed yet. Is it because the problem cannot be reproduced?

[2016-01-18 17:16] LittleVulpix commented on #2820
@ddobrev The toxcore issue is a problem of reproduction. It may be a while until it's fixed, but personally I've not seen it happen for quite some time.

The client issue is (or was?) a problem of misunderstanding why this occurs, so I imagine since the creators of qtox know, it could be fixed. But I cannot speak on their behalf. In general though, if the issue is reproducible (which it is, with c

[2016-01-18 20:51] tux3 commented on #2820
The main problem is that it's not easy to detect when the computer woke up from hibernation, it's a very platform specific thing.
On Windows it's feasible, on OS X it's harder, and on Linux it's a nightmare.

A possible workaround would be to check the time since boot every 10s.
Since we check the time since boot, we're not affected by time adjustments at all.
If there's a jump forward of more tha

[2016-01-18 21:01] PKEv opened #2823 "the size limit of the log file"
At the moment there is no limit on the log file, so for example I have he has grown already to 30 MB.
Offer to limit its size and overwrite the file with new data

[2016-01-18 21:27] sudden6 commented on #2643
I'll start working on this.

[2016-01-18 21:36] tux3 commented on #2823
Related: #1615

gzip compression reduces the log size on the order of 200x times, but makes it harder for people to open it so they can put it in bug reports. So I'm going to change my mind and say it's better to limit the size instead of what #1615 says.

I don't think we'll ever want to sift through more than 1MB of logs, or more than the last 15 runs of qTox.
Running some stats on my own log fi

[2016-01-18 21:48] ddobrev commented on #2820
@tux3 thank you for your clarifications. In the case of OS X there seem to be reliable and documented ways to detect waking up: https://stackoverflow.com/questions/9402179/reliable-way-to-get-a-machine-wake-user-logged-in-notification-in-cocoa, https://developer.apple.com/library/mac/qa/qa1340/_index.html. I got these through a simple search. Have you seen these approaches? Are there problems with

[2016-01-18 23:21] tux3 commented on #2820
@ddobrev I found the same doc, but I have zero experience with Objective C and I also don't have a Mac machine to test, so it would be much harder for me to implement it.
It's certainly not impossible, though.

[2016-01-18 23:39] sudden6 commented on #2643
Current state is here: https://github.com/sudden6/qTox/tree/proxy_everything
This is untested but compiles.
I'm not sure if this needs error handling.

[2016-01-19 01:00] ddobrev commented on #2820
@tux3 I understand. How about Windows, has it been implemented? if not, could you please implement it? The manifestation of the problem I have encountered might as well be because of my (Windows) client, not my friend's.

[2016-01-19 02:02] vatterspun commented on #2802
Sounds great.

Understood.  Thanks for hearing me out.

[2016-01-19 12:15] anoadragon453 commented on #2742
No longer using OSX as primary OS, and not reproducible on Linux. Closing.

[2016-01-19 14:19] zetok commented on #2173
So, qTox hanged when I've tried to open file picker to save the file someone wanted to send to me on 38c68658e032a10f792f225cc7eeb9c46cf4f504 . Original is about hanging when sending file, but I think that it's the same issue.

[2016-01-19 15:05] tux3 commented on #2173
Ok, the backtrace makes it pretty clear what the problem is.

There's this blatant ODR violation in settingsserializer.cpp that was never fixed, and the linker happily gave the "wrong" function to Qt, so that conflict just needs to be resolved.

[2016-01-19 15:29] #2173 closed, assigned to nobody

[2016-01-19 20:13] seankhl opened #2826 "qTox not using correct pixel format"
Hello,

qTox: v1.2-238-g452c9e1, compiled from source
toxcore: newest as of yesterday
Qt: 5.5.1
OS version: Debian Stretch/Sid

One of my persistent problems with qTox has been that video4linux2 would change my framerate so something obnoxiously low whenever I upped the resolution (above 640x480, it would default to 10fps or below). I did some digging and found that it was defaulting to the yuyv f

[2016-01-19 22:56] tux3 commented on #2826
Thanks, I took your solution and silenced the useless libswscale warning spam, this should have a positive effect for the vast majority of webcams.

The fix for the warning was just looking at the [swscale source](https://git.videolan.org/?p=ffmpeg.git;a=blob;f=libswscale/utils.c;h=74f0bd321eba33ba8f3a669d506c569c781d2bb8;hb=HEAD) and satisfying the check line 1152.
It doesn't actually care that t

[2016-01-19 22:56] #2826 closed, assigned to nobody

[2016-01-19 23:06] seankhl commented on #2826
I sure hope you're right about this! :^p

Thanks. Another thing to note is that some webcams might have other format options, in particular, h264 might be natively supported (I've seen some webcams that can do this). I'm struggling to find a list of possible formats, but it seems best to default to h264 before mjpeg if possible, too...

[2016-01-19 23:07] tux3 commented on #2826
A cleaner way to do this would be to query the list of available pixel formats and pick the better one, you could try to hack on this if you want, or open another wishlist issue.

[2016-01-19 23:09] seankhl commented on #2826
Yes yes, querying the camera is definitely best. I just find the ffmpeg documentation so painful to sift though...

I'll see if I can't throw something together.

[2016-01-20 00:18] sudden6 commented on #2823
This seems like the best thing to do.
Implementing this sounds like an easy thing, maybe give it the "easy" tag?

[2016-01-20 07:38] ProMcTagonist commented on #2742
Note that this is closable because Rowen can't repro, not because a developer stopped using the target platform

[2016-01-20 12:34] ElLamparto commented on #2796
So let's keep this ticket open until the next update and see if it works.

[2016-01-20 12:46] ElLamparto commented on #2806
For me the sound always works (except that the microphone choice sometimes disappears from the settings. Linux/Windows - no difference).

The gain meter usually works under Linux and usually doesn't under Windows. The audio is not affected by the meter's caprices.

If audio is accompanied by video, then there is a lot of freezing (there is another ticket for that).

[2016-01-20 16:01] #2522 closed, assigned to nobody

[2016-01-20 17:48] Granitoid opened #2827 "Network traffic too big"
I have 2 contacts, no talking, only stay online.
For passed 9 hours network traffic per hour average: incoming 10Gb, outgoing 8Gb.
It is normal? I thik it is too big.
How to reduce network traffic?
Windows XP SP3.

[2016-01-20 17:57] tux3 commented on #2827
That corresponds to roughly 2*36kB/s of idle traffic (in and out), which is huge, I agree.
Unfortunately this is an issue with toxcore and there isn't much qTox can do to reduce this.

You should try opening an issue on the toxcore repo, and you can try unchecking the "Enable UDP" option in the settings to see if it helps in the meantime.

[2016-01-20 19:10] LuccoJ commented on #2827
There are already two issues on toxcore about the matter, although one of them was closed:
https://github.com/irungentoo/toxcore/issues/1251
https://github.com/irungentoo/toxcore/issues/1501

[2016-01-20 19:43] antis81 commented on #2806
Thanks for this positive feedback. :) Please post an issue for your mentioned problem. I never noticed this behaviour, but there's probably a logical reason for that.

This feature is currently deactivated, because there's multiple problems with that:
1. The concept needs to be implemented less resource hungry and actually use available data from the audio input.
2. Stopping the "measuring thread"

[2016-01-20 19:57] antis81 commented on #2806
@mastir This issue should now be gone -> closing. Please reopen, if audio settings still freeze an audio call.

[2016-01-20 19:57] #2806 closed, assigned to nobody

[2016-01-21 01:38] #1615 closed, assigned to nobody

[2016-01-21 01:38] #2823 closed, assigned to nobody

[2016-01-21 01:38] #2827 closed, assigned to nobody

[2016-01-21 01:41] #2194 closed, assigned to nobody

[2016-01-21 01:45] tux3 commented on #1765
This should be fixed now, can anyone reproduce?

[2016-01-21 01:47] tux3 commented on #1044
I'm happy with what we have now, let's not over-engineer it.

[2016-01-21 01:47] #1044 closed, assigned to nobody

[2016-01-21 01:47] #787 closed, assigned to nobody

[2016-01-21 01:48] tux3 commented on #787
Since we discontinued the previous OS X builds, this bug shouldn't apply anymore.

[2016-01-21 01:49] tux3 commented on #590
We now have change logs browsable online for each release of the stable branch.

[2016-01-21 01:49] #590 closed, assigned to nobody

[2016-01-21 01:50] tux3 commented on #2789
No replies, so I assume OP found a solution. Please leave a comment if you still experience this issue and I'll be happy to reopen.

[2016-01-21 01:53] tux3 commented on #2786
Okay, that looks like a bug with the Qt/GTK integration, we don't make any of those GTK calls directly so unfortunately there's not much we can do about it from the qTox code.

[2016-01-21 02:41] tux3 commented on #220
Okay, that's more of a Qt/GNOME integration issue, the best we can do is run with sane defaults and rely on Qt to do the right thing.
On some systems it comes out fine, on some not quite perfect, but it's not something we can fix from the qTox code either way.

[2016-01-21 02:41] #220 closed, assigned to nobody

[2016-01-21 02:44] tux3 commented on #637
This has been fixed.

[2016-01-21 02:44] #637 closed, assigned to nobody

[2016-01-21 02:46] tux3 commented on #658
It's really hard to find the root cause of this bug, I'm not convinced this isn't a leak in Qt itself.
A solution could be to replace the current manual layout switches with a QStackedWidget

[2016-01-21 03:05] tux3 commented on #864
It would be hard to make the line cross over the QSplitter, what if we made the line have the same margin on the right as on the left?

![snap8](https://cloud.githubusercontent.com/assets/5155966/12470404/1ff30a60-bff4-11e5-913d-18c40af8071e.jpg)

It's only a couple lines changed, but I think it looks better.

[2016-01-21 03:30] tux3 commented on #2820
@ddobrev Not yet,someone needs to implement it.

This is actually a dup of #883, but I'll keep this one since it has some more relevant info.

[2016-01-21 03:30] tux3 commented on #883
Superseded by #2820

[2016-01-21 03:30] #883 closed, assigned to nobody

[2016-01-21 03:32] tux3 commented on #888
This is 13 months later, but I'm happy to say that this has been fixed some time ago!

[2016-01-21 03:32] #888 closed, assigned to nobody

[2016-01-21 03:36] tux3 commented on #936
We don't officially support the OS X updater at this point, so this bug doesn't really apply anymore; however we did implement a visible progress bar and I'm happy to say the core updater code works fine on Windows systems, so this should be easily portable to OS X in the future.

[2016-01-21 03:36] #936 closed, assigned to nobody

[2016-01-21 03:47] #944 closed, assigned to agilob

[2016-01-21 03:59] #1016 closed, assigned to nobody

[2016-01-21 04:02] tux3 commented on #1055
If it's your own webcam doing this in the settings, it's a bug (it seems to be fixed?), if it's in a video chat, that's "just" bad video quality due to toxcore being unreliable.
Please leave a comment if you still have this bug.

[2016-01-21 04:02] #1055 closed, assigned to nobody

[2016-01-21 04:05] tux3 commented on #1062
Saving history is a personal setting and we have a lock on profiles now, so this particular bug ought to be fixed. If there's still a bug, it's likely to be something else, but please leave a comment and I'll reopen.

[2016-01-21 04:05] #1062 closed, assigned to nobody

[2016-01-21 04:06] tux3 commented on #1319
Ok, so the bug seems to be resolved, but we need dynamic history loading now.

[2016-01-21 04:08] tux3 commented on #1160
Should be fixed by the new database.

[2016-01-21 04:08] #1160 closed, assigned to nobody

[2016-01-21 04:08] tux3 commented on #1175
I can't repro anymore.

[2016-01-21 04:08] #1175 closed, assigned to nobody

[2016-01-21 04:18] tux3 commented on #1180
I made them 14px smaller, there's still just enough space for the contents.

![snap11](https://cloud.githubusercontent.com/assets/5155966/12471505/721d40b2-bffe-11e5-9c63-4269f25be068.jpg)

[2016-01-21 04:20] tux3 commented on #1284
This should be fixed with the latest updater.

[2016-01-21 04:20] #1284 closed, assigned to nobody

[2016-01-21 04:22] tux3 commented on #1352
Ok, the new profile code is much more sane, so this shouldn't even be possible anymore.

[2016-01-21 04:22] #1352 closed, assigned to nobody

[2016-01-21 04:23] tux3 commented on #1409
This shouldn't happen anymore, we write on exit/logout and at some other times, but much more rarely.

[2016-01-21 04:27] tux3 commented on #1434
@forteGIT I think you're right, thanks.

I'm pushing a patch that should fix this, if anyone still has this bug, please leave a comment.

[2016-01-21 04:28] #1434 closed, assigned to nobody

[2016-01-21 04:31] zetok commented on #864
I guess that adding a margin could work, given that it would seem like a by-design UI, rather than a bug.

[2016-01-21 04:31] tux3 commented on #2542
I'll mark this as dup of #2820 since it will share the same fix.

[2016-01-21 04:31] #2542 closed, assigned to nobody

[2016-01-21 04:34] tux3 commented on #1560
Related to #2820, although there are more ways to lose connections than hibernation.
The problem is that as a client we have no reliable way to know if toxcore is stuck internally, if we incorrectly force-reconnect everytime there could be a connection problem, this'll just annoy people.
So this bug is going to be hard to work around without toxcore actually fixing things for once.

[2016-01-21 04:37] #864 closed, assigned to nobody

[2016-01-21 04:51] tux3 commented on #1584
This should be fixed now

[2016-01-21 04:51] #1584 closed, assigned to nobody

[2016-01-21 04:52] tux3 commented on #1593
This seems to be fixed (someone offline went online and it worked)

[2016-01-21 04:52] #1593 closed, assigned to nobody

[2016-01-21 06:14] zetok commented on #1409
Well, settings aren't being unnecessarily saved any longer, but profile (`.tox`) is still being saved for no reason on 217716184b3f12a4537e5e1a18611e2d0e60d744, thus reopening.

[2016-01-21 06:16] phd21 opened #2831 "qTox crashing (closing) when trying to video chat with user that does not have video."
Hi tux3,

Nice chatting with you earlier (user69 on chat). Thanks again for a wonderful program "qTox".

Issue: Okay, I have two computer systems both running Linux Mint KDE 17.3. One has a webcam with a microphone (phd21@toxme.io), and the other has no webcam (no video, just microphone)  (floridaphil21@toxme.io).  When I try to make a video call from the computer with a webcam to the computer wit

[2016-01-21 06:28] ProMcTagonist commented on #1560
Is there an open toxcore issue?

[2016-01-21 06:49] tux3 commented on #1560
There's https://github.com/irungentoo/toxcore/issues/1349, the issue is relatively new but the bug has been known for a long time.

[2016-01-21 06:57] tux3 commented on #1409
Oh right I missed this, sorry!

[2016-01-21 07:04] #1409 closed, assigned to nobody

[2016-01-21 07:08] zetok commented on #1160
Just for the record;
with a 230MB big DB it took 4 min for qTox to start, and when I clicked on contact to load messages, it hanged after loading them (i.e. by "loading" messages I mean the point where RAM usage jumped to 10GB).
![20160120 qtox ram usage with 230mb big db](https://cloud.githubusercontent.com/assets/3148759/12473701/875ef048-c00c-11e5-8666-de452e7cef65.png)

Note that this is an ex

[2016-01-21 08:07] mastir commented on #2806
@antis81 thank you, cant reproduce this bug in current version, but i like this meters, hope to see them later.

[2016-01-21 09:40] ghost commented on #2069
"Better issues organization", "releases" and "too much bikeshedding!", the last open items in the list, are solved. Issue closable?

[2016-01-21 09:44] adrian-purism commented on #2789
how i import my old profile if in the UI is just showing me "register a new one"

[2016-01-21 10:02] ghost commented on #1019
That's commonly used for close current window, which is useful in multiple window mode. Not a good idea to bind it to something else IMO.

[2016-01-21 13:01] #2069 closed, assigned to nobody

[2016-01-21 13:46] tux3 commented on #2789
@adrian-purism Hi, we need more information to help you, I can't tell what happened to your old profile otherwise.
Could you run "ls -lh ~/.config/tox" and post the result please?

[2016-01-21 14:06] tux3 commented on #1180
TODO: Make it less wide so the margin is the same

[2016-01-21 14:10] nikitasius opened #2833 "qTox crash on windows 7 (32bit and 64bit) after logout"
Hello!

When you click "Logout" tox restarting itself and... login form becoming white and windows telling you about errors and offering to close it.

Doesn't matter how much copies you run, single or multiple. It was in december version, and exists in latest too.

[2016-01-21 14:13] nikitasius commented on #2833
![qtox_logout_fail_01](https://cloud.githubusercontent.com/assets/3670331/12482726/843593aa-c051-11e5-86a9-852496dac29b.PNG)

[2016-01-21 15:03] #2774 closed, assigned to nobody

[2016-01-21 15:39] Granitoid commented on #2827
I am unchecked the "Enable UDP", results:
For passed 5 hours network traffic per hour average: incoming 6Mb, outgoing 13Mb.
Not ideal, but much better.
Thanks everybody.

[2016-01-21 16:11] tux3 commented on #1180
This is how it looks now:
![snap13](https://cloud.githubusercontent.com/assets/5155966/12486229/f73fb58c-c061-11e5-8199-5967e7136c35.jpg)

[2016-01-21 16:11] #1180 closed, assigned to tux3

[2016-01-21 20:23] TheNain38 commented on #2801
fixed in 5e11d6c9c888af38c45dd30c91dd34231ad66ad1

[2016-01-21 20:23] #2801 closed, assigned to nobody

[2016-01-21 20:27] ddobrev opened #2836 "OS X: closing the main window makes it impossible to open again"
On OS X, when an app is closed, it can be restored when clicking it in the dock. With qTox, nothing happens, the app has to be restarted in order to be usable again. Selecting "Hide" after right-clicking qTox in the dock and then clicking the icon works properly.

[2016-01-21 22:08] TheNain38 opened #2837 "Add ability to delete a single message"
By right clicking it, it would show an option to delete it

[2016-01-21 22:27] zetok commented on #2837
Just to make sure - feature request is about deleting message only on one side, where user clicked to delete it, right?

Is there some use case that you have in mind?

As for implementation - I think that it would be beneficial to allow deleting multiple messages when multiple are selected.
Additionally, when user clicks on the option, there should appear confirmation box, defaulting to `No`/`Canc

[2016-01-21 22:31] zetok commented on #2837
~related: #1306

[2016-01-21 22:33] TheNain38 commented on #2837
Yes, just on my side, also I think it would be better UX to have a "Cancel" button appear when you delete messages

[2016-01-22 01:42] tux3 commented on #2796
I think I found the bug, it was a problem with a path check.
To get the fix, you will need to either update manually to 1.2.4 or start qTox from the folder it's installed in (probably in Program Files) to get the update.

[2016-01-22 01:46] #2796 closed, assigned to nobody

[2016-01-22 02:35] ddobrev commented on #2836
I forgot to clarify that this only occurs with "Show system tray icon" set to true. It's false by default which causes closing the window to close the application too. The latter is also a problem: on OS X few applications are closed along with their main window and this also applies to chat clients in particular on any platform.

[2016-01-22 09:44] zetok commented on #1765
Yes :3

Not something that I explicitly looked for, but..
1. 2 clients that have each other avatars, Q1 and Q2.
2. Turn both of them on and wait until both will decline avatar from other side
3. Turn Q2 client off, and remove its `avatars/` dir [*]
4. Turn Q2 on, after it will come online, Q1 will not send its avatar to Q2, even though Q2 doesn't have Q1's avatar any longer.

↑ probably that to re

[2016-01-22 10:12] Samamy opened #2838 "(Win 10)Crash after update"
Error after update v.1.2.3 , fix(remove all files on folder "update")
![tox](https://cloud.githubusercontent.com/assets/14942534/12507517/53938afc-c107-11e5-92c2-06bbceb10267.png)

[2016-01-22 10:23] #2838 closed, assigned to nobody

[2016-01-22 13:22] tux3 commented on #1765
@zetok That's because Q2 already declined Q1's avatar, so Q1 remembered that (since people rarely delete their avatar folder it makes sense to remember), Q1 will offer its avatar again to everyone after you restart it.

So I can make Q1 never remember that and always offer its avatar, but that's more network traffic.

[2016-01-22 16:11] ddobrev commented on #2808
I can definitely confirm that stability is what's crucial at the moment. Just chat with history and audio cover at least 80 % of all usage. What really prevents the client from getting more popular is not the lack of features but issues such as https://github.com/tux3/qTox/issues/2820, silent crashes while just staying idle, occasional crashes when making audio calls and usability problems such as

[2016-01-22 20:05] rugk commented on #2796
I tried this with qTox v1.2.2 and indeed it worked. :smiley:
Thanks for the tip.

[2016-01-22 21:58] ddobrev opened #2840 "Crash when receiving a message"
I was on OS X (10.11) and a friend, also on OS X, sent me a message. I hadn't focused my qTox so it started jumping to notify me and in a second it stopped - it has crashed with the following trace:

Process:               qtox [5262]
Path:                  /Applications/qTox.app/Contents/MacOS/qtox
Identifier:            chat.tox.qtox
Version:               1.0.0-EXPERIMENTIAL (1.0.0)
Code Type:

[2016-01-22 22:23] rugk opened #2841 "How do you deliver updates? What about minisgn and The Update Framework?"
At first: Does the update procedure prevent downgrade attacks? (if you only take the signing part and ignore that the updates are delivered over HTTPS - consider a threat-model where the attacker can break the HTTPS connection)
Secondly: How do you sign the updates? With an RSA key?

I would suggest:
- **to use [Minisgn](https://jedisct1.github.io/minisign/)** (by @jedisct1)
  It uses the Ed25519

[2016-01-22 23:36] zetok commented on #1765
Hardly more network traffic - if someone already has an avatar, they decline file transfer, so practically no data is being sent. Really, those few bytes don't increase traffic that much.

On the other hand, if qTox remembers to whom avatar was "sent", then people encounter buggy behaviour.

[2016-01-23 00:12] tux3 commented on #2841
Currently we allow downgrades by design so that people running unstable versions can go back to a stable version.
However we rely on HTTPS to prevent replay attacks, which makes downgrade attacks impossible.

If an attacker can break HTTPS (which is a big IF), then they can run downgrade attacks.
This would be mitigated by the fact that qTox does not do automatic updates, it always asks the users

[2016-01-23 00:23] tux3 commented on #2840
This is an abort, not a dangerous crash, so probably no security issue here. I think this is simply due to the audio code starting hundreds of threads and OS X rightfully refused to let this go on..

We're working on fixing up the audio, in the meantime you might want to try running a stable version if possible.

[2016-01-23 00:24] ProMcTagonist commented on #2837
User needs to know which message they're about to delete. Hilighting chosen message plus a regret timer would be cool

[2016-01-23 00:25] tux3 commented on #1765
I remember it was a problem when toxcore had the tendency to oscillate between offline and online for contacts several times per second. I haven't seen that in a long time, so it should be fine now, you're right.

[2016-01-23 09:27] rugk commented on #2841
Okay, thanks for the answers. Indeed it seems to be quite solid.
But The Update Framework seems to mitigate [much more](https://github.com/theupdateframework/tuf/blob/develop/SECURITY.md) attacks.

Maybe someone from @theupdateframework wants to comment on this. Otherwise I think this issue can be closed.

[2016-01-23 09:56] ddobrev commented on #2840
Dangerous or not, it's still a crash, it obstructs using the application. So I think you were right to add the "high priority" label and wrong to later remove it. About stability, I have indeed failed to mention the version I use, it is https://github.com/RowenStipe/qTox-OSX/releases/tag/1.2.2.184, the most stable one you have for OS X.
Could you please give a guess about the time it would take yo

[2016-01-23 14:32] dcapeletti commented on #2808
I agree with @ddobrev that stability is essential at this time. The features are fine, but we need stability.

[2016-01-23 14:42] nikitasius opened #2844 "Add ability to remember friend's ToxID in friend list"
Hello!

Now here is only public keys. So everytime when i add my friend, im adding his ID in comments, to be able to add in another client/account.

Can you add feature that qtox will remember client's tox ID from the moment when new client was added in friend list?

Thanks!

[2016-01-23 14:47] ghost commented on #2844
#2604

[2016-01-23 15:01] zetok commented on #2844
Duplicate of #2604, thus closing.

[2016-01-23 15:01] #2844 closed, assigned to nobody

[2016-01-23 15:21] nikitasius commented on #2844
But show public key have no value, 'cause i can't add my friend on another account using it.

[2016-01-23 15:45] tux3 commented on #2840
We're still in the process of fixing up the audio, but that particular bug should be fixed.
I just merged the fix, so this shouldn't be a problem anymore.

[2016-01-23 15:46] #2840 closed, assigned to nobody

[2016-01-23 15:48] tux3 commented on #2841
I believe HTTPS will offer most or all the guarantees of the update framework, but I'll be happy to discuss it if someone wants to.

[2016-01-23 15:48] #2841 closed, assigned to nobody

[2016-01-23 16:20] ddobrev commented on #2840
Thank you very much for your fast action. I have just asked RowenStipe to issue a new OS X release with the fixes (https://github.com/RowenStipe/qTox-OSX/issues/6). Best regards.

[2016-01-23 16:50] capasicum commented on #2820
@tux3 @ddobrev
How about using the code from: [**Listing 3**  Installing an I/O Kit sleep/wake notification](https://developer.apple.com/library/mac/qa/qa1340/_index.html#//apple_ref/doc/uid/DTS10003321-CH1-SOURCECODE3)?

The source code is in **_C**_, so that should solve it on OS X.

[2016-01-23 18:04] ddobrev commented on #2820
@capasicum this should work indeed. @tux3 what do you think? I understand it wouldn't solve the problem of you not having a mac but do you think you could perhaps write it in the blind and then have someone with a mac test it for you?

[2016-01-23 18:17] dcapeletti opened #2845 "Translation of the web Spanish uncompleted"
Hello, when I show people that tox is, those who speak and read Spanish, I generally share the https://tox.chat/ site but I see that the Spanish translation is incomplete. How do we fix it?

[2016-01-23 20:01] ovalseven8 opened #2846 "New warnings when updating translation files"
Hello,

when I want to update the translation file(s), the following warnings appear.
Never happened before.

[code]

[2016-01-23 20:31] ghost commented on #2844
See links in the second comment of the linked issue.

[2016-01-23 21:27] LittleVulpix opened #2847 "Drag and Drop should work with text input area"
Almost everyone who uses qTox initially tries to drag and drop files into the text input area, because it's considered to be the input area for any kind of input. I agree and when I first tried qTox to understand what's going on, I realized drag and drop only works if you drop atop of the chat history, which doesn't make much sense.

tl;dr - drag and drop should work even if you drop the file atop

[2016-01-23 21:46] sudden6 commented on #2845
A new website is underway here https://github.com/Tox/tox.chat
Also this isn't a qTox issue, please close.

[2016-01-23 22:50] dcapeletti commented on #2845
Thank you

[2016-01-23 22:50] #2845 closed, assigned to nobody

[2016-01-24 00:52] zetok commented on #2847
Kinda a duplicate of #1947.

[2016-01-24 01:21] LittleVulpix commented on #2847
Interesting, yeah I looked over issues but didn't stumble upon this one. Why does the "paste path" behavior exist at all? You only ever drag and drop a file to someone when you intend to send it.

[2016-01-24 03:04] tux3 commented on #2820
@capasicum @ddobrev
I don't really have the time to work on this bug at the moment, but that could be a solution yes, thanks for finding it.

[2016-01-24 03:07] tux3 commented on #2846
Dup of #1861

[2016-01-24 03:07] #2846 closed, assigned to nobody

[2016-01-24 03:07] tux3 commented on #1861
This has been fixed upstream in the upcoming Qt 5.6.

[2016-01-24 03:07] #1861 closed, assigned to nobody

[2016-01-24 04:20] zetok opened #2848 "Sorting "By Activity" isn't updated on invite to groupchat"
Description:
When contacts are being sorted `By Activity`, and contact that is in `yesterday` or "older" activity group invites you to a groupchat, they aren't being moved to `today` group.

qTox 67620f96617312ccbb27c721c2c3090f036d52e3

Steps to reproduce:
1. Have a contact that is in `yesterday` or "older" activity group
2. Contact invites you to a groupchat

What should happen:
Contact is being

[2016-01-24 10:30] DX37 opened #2849 "Windows: When qTox is already portable, qTox-updater still search for updates in AppData"
This does not apply to versions of qTox, because the problem is in the **qTox-Updater**. When she lies next to **qtox.exe** in the folder of the **portable** client, the client also downloads the updates in the _update_ folder near them, but after restarting it is looking for the _update_ folder in AppData and reports that it can't find the update.

**OS version:** Windows 10. I think this occurs

[2016-01-24 10:43] DX37 commented on #2849
Steps to reproduce:
1. Download any zipped version of qTox (except current stable - v1.2.4)
2. Make it portable in _Settings_ and exit.
3. Download qtox-updater.exe and put in the client folder.
4. Run qTox again and accept the proposal to update the client. Then restart.
After that qTox-updater.exe start looking for _update_ folder in AppData, when qTox in portable mode downloading updates into _

[2016-01-24 11:44] ddobrev commented on #2840
We have an updated build for OS X now. Is the code you merged good enough for the stable branch? If so, could you please update the Windows release as well?

[2016-01-24 12:27] ddobrev opened #2850 "Regression: emoticons on Windows gone with the latest Windows build"
They do not appear n the messages (history or new ones) and clicking the button for adding emoticons does nothing. I guess there's a problem loading them.

[2016-01-24 12:34] bpaassen commented on #2740
I'd like to confirm the bug. qtox does not start up for me with that same error message under Fedora 23.

[2016-01-24 12:52] DX37 commented on #2850
Look in _Settings_ at _Smiley Pack_ option. Maybe pack is not selected. You should choose _Universe_ pack, if you are using nightly build.

[2016-01-24 13:02] ddobrev commented on #2850
@DX37 it does work, they just changed the names of the packages in comparison to the previous version and my stored settings could not find a match. Thank you.

[2016-01-24 13:02] #2850 closed, assigned to nobody

[2016-01-24 13:44] ddobrev commented on #2849
I reproduced it too. Also, I think it would be very convenient to just include qtox-updater.exe in the portable archive. It would be even more convenient if it does not require administrative privileges in the portable version they are then unnecessary. I understand it would most probably require different builds of qtox-updater.exe for the installer and for the archive but still, it would remove

[2016-01-24 14:11] DX37 commented on #2849
I agree, perhaps. But nevertheless I'm interested in the answer of the developer.
UPD: Maybe it can all be simplified by adding in the current _qtox-updater.exe_ checking for the portability of the client and adding the necessary actions to handle the updates to the code.
It's sad that I do not know how to do that. I would have suggested changes in the source code :)

[2016-01-24 14:52] zetok commented on #2850
This actually (not selecting new emoticon pack name automatically if no valid name is set) also was fixed, although looks like "stable" version is really dated, and doesn't have that code. :/

@tux3 It would seem that next release is needed? (preferably ~soon?)

[2016-01-24 17:38] Aleksandra13 opened #2852 "Upside down video with UVC Webcam"
Hello, I found a problem with UVC Webcam on linux client of qTox, the video is captured upside down.
It is a known issue, and there is a common fix for that described here : http://ubuntuforums.org/showthread.php?t=838210&page=28
But when I tried the same (LD_PRELOAD=/usr/lib/i386-linux-gnu/libv4l/v4l2convert.so qtox) I got  following error:
[19:29:36.023] src/video/camerasource.cpp:209 : Debug: O

[2016-01-24 19:51] xor-gate opened #2853 "Groupchat invite flooding ratelimit"
A friend of mine was able to flood 10x a groupchat window into my client.
I had to confirm in the order they where received. Probably what we want is
to have only one outstanding invite window.

You are using qTox version v1.2-307-g26e7bde on OSX
Commit hash: 26e7bde991a5dba14d9ab5e3215187f98372f5d1

See screenshot:
<img width="1146" alt="screen shot 2016-01-24 at 20 47 39" src="https://cloud.gith

[2016-01-24 19:52] rikvdh commented on #2853
@rikvdh, would that be me?

[2016-01-24 21:58] Zylann commented on #2529
Same issue here, it happened the first time I called a friend. Then I called again and the video was fine. It seems to be a bit random, actually. Both win 7 64 bits.

[2016-01-25 00:41] zetok commented on #2852
@Aleksandra13 you probably will want to read https://github.com/tux3/qTox/wiki/Video, it has instructions on how to vertically flip camera output.

If that "works" for you, feel free to close the issue.

In a case where instructions there may not be clear enough, could you point out problematic parts, so that they could be improved?

[2016-01-25 00:59] zetok commented on #2853
IIRC that kind of thing was supposed to be mitigated by #2092.

[2016-01-25 02:28] tux3 commented on #2840
I don't feel it's good enough for the stable branch quite yet. Windows users are still using the stable audio code and won't experience this bug, so this isn't a problem.

[2016-01-25 02:30] tux3 commented on #2850
@zetok Soon™, but I'm not shipping audio-next before it's actually stable.

[2016-01-25 02:35] tux3 commented on #2740
A fix for this bug while we find a way to fix the packages is to run "sudo yum install openssl" to install the missing dependencies on your system.

[2016-01-25 02:40] tux3 commented on #2852
That looks like a fallout of the fix to #2826, turns out v4l will not fallback to an alternative if it can't provide what we ask. So we should try again without asking for a specific codec if mjpeg fails.

[2016-01-25 02:47] tux3 commented on #2849
Making the updater not require admin privileges when not necessary would be nice, but harder to implement, and the priority is more on fixing bugs at the moment :)

I'll add code to the updater to check if qTox is in portable mode. (And maybe we should have a dynamic library for managing settings so we don't need duplicate code).

[2016-01-25 03:24] DX37 commented on #2849
That would be cool :)

[2016-01-25 05:19] DX37 opened #2854 "Last windows nightly build created without qtox.exe"
**The last 3 builds for January 24 has been built without qtox.exe
Last text from _Console Output_ from Jenkins Build Server, that contains error relating to qtox.exe:**

i686-w64-mingw32-g++ -c -pipe -fno-keep-inline-dllexport -fno-exceptions -O2 -std=c++0x -frtti -Wall -Wextra -fexceptions -mthreads -DUNICODE -DGIT_VERSION="\"3343645b61e9f056d74e3ea233f70cb4b3dec4b3\"" -DGIT_DESCRIBE="\"v1.2-314

[2016-01-25 08:24] xor-gate commented on #2853
I think my report is related to this issue: https://github.com/tux3/qTox/issues/2305. As suggested in #2305 the invite could be much more clean by having a extra "notification tab" and not spawning confirm dialog boxes like crazy.

[2016-01-25 08:36] bitchecker commented on #2740
@tux3 openssl is already installed on a normal system, in fact this is what i see:

[code]

[2016-01-25 09:11] zetok commented on #2853
Right, thanks for finding that issue, this one is actually a duplicate, thus closing.

[2016-01-25 09:11] #2853 closed, assigned to nobody

[2016-01-25 10:06] feeef commented on #2740
Same for me here with the same command as @bitchecker. Same result.
I am on fedora 23.

[2016-01-25 11:29] thelastpolaris opened #2855 "Mentorship in GSoC for qTox"
Google Summer of Code 2016 is about to open and on 8th of February mentoring organisations can start to submit their applications. Are there any contributors of qTox that want to take part in GSoC as mentors? I don't have any particular ideas about GSoC project for qTox right now but as zetok has suggested me on IRC, I can make a list of the issues or good ideas from community and implement them w

[2016-01-25 12:58] ovalseven8 commented on #2855
The most important at the moment would be fixing bugs/issues, I guess.
But does the qTox Project not have to be an organization to apply for GSoC 2016?

[2016-01-25 13:33] thelastpolaris commented on #2855
I think that qTox can participate in GSoC as a part of Tox project
Here you can find ideas for GSoC 2015 for qTox https://wiki.tox.chat/developers/gsoc/2015/ideas and one of this ideas for qTox was implemented during GSoC 2015

[2016-01-25 15:05] agilob commented on #2855
Android port. Like 8-10months ago qTox worked much better on my nexus 7 than Antox works now...

[2016-01-25 15:21] tux3 commented on #2740
So the package is asking for an outdated version of openssl then, that's even worse. I don't maintain this package but since clearly no one else does either I'll try to find a way to fix it.
I'm afraid until this is squared away RPM users would have to compile from source.

[2016-01-25 15:27] Nurmagoz opened #2856 "The following packages have unmet dependencies libavcodec-ffmpeg56..."
hi there , i wanted to install qtox inside debian following these instructions:-

https://wiki.tox.chat/binaries#gnulinux

`echo "deb https://pkg.tox.chat/debian nightly jessie | sudo tee /etc/apt/sources.list.d/tox.list
wget -qO - https://pkg.tox.chat/debian/pkg.gpg.key | sudo apt-key add -
sudo apt-get install apt-transport-https
sudo apt-get update`

now when i want to install qtox , here is th

[2016-01-25 15:27] #2854 closed, assigned to tux3

[2016-01-25 15:29] tux3 commented on #2855
@agilob Antox must be in bad shape, because qTox Android is pretty much just a blank screen that connects to the Tox network at the moment! It "works" but it completely lacks a GUI.

[2016-01-25 15:31] tux3 commented on #2856
Hi, you currently need to add the jessie-backports repository in your sources.list because Jessie otherwise doesn't have some of our dependencies.
We're trying to find a solution to this, maybe by importing those missing packages into the Tox repo.

[2016-01-25 15:34] ovalseven8 commented on #2855
I also think that it doesn't have any priority to work on qTox for Android. Goal should be to provide a nice client for Windows, Linux and OSX.

[2016-01-25 15:47] Nurmagoz commented on #2856
yeah perfect, as u have said it needs just jessie-backports

solution:- (for users)

`sudo nano /etc/apt/sources.list`

add this by copy/paste (if u r jessie):-

`deb http://http.debian.net/debian jessie-backports main`

then press

then hit "Enter"

after that:-
`sudo  apt-get update`
`sudo apt-get install qtox`

= done.

if u r not jessie , please check here:-

http://backports.debian.org/Instru

[2016-01-25 16:55] Nurmagoz opened #2857 "Arabic keyboard/language doesnt show up"
hi there , im trying to use arabic keyboard inside qtox but the words doesnt show up when i type:-
(zoom-in to c the photos clearly)

![qtoxprobwqe11111111111](https://cloud.githubusercontent.com/assets/11895339/12557619/bf99a64c-c359-11e5-99db-5584324e5b30.png)

also when the arabic language going to be implemented inside qtox ? because as per:-

https://github.com/tux3/qTox/pull/2851

the transl

[2016-01-25 17:08] sudden6 commented on #2857
About the words not showing up, the last time this happened it was an issue with qt and not a qtox issue.

The language will show up in the next release. You can build it from source if you need it sooner.

[2016-01-25 17:11] sudden6 commented on #2855
@ovalseven8 +1

[2016-01-25 17:17] ddobrev commented on #2814
The setting is now enabled but not persisted so it still cannot be used.

[2016-01-25 18:13] Nurmagoz commented on #2857
hmm well not sure i got u there , what do u mean by qt?

very appreciated.

[2016-01-25 20:22] sudden6 commented on #2857
Qt is framework (set of libraries) we use to develop qTox. See the following bugreport for possible workarounds.

https://github.com/tux3/qTox/issues/2564

[2016-01-25 20:34] ghost opened #2858 "toxcore version 0.0.0?"
I recently went to the "About" section of qTox and found that it says that the toxcore version in use is `0.0.0`:

![toxcore_version_0](https://cloud.githubusercontent.com/assets/11575271/12563548/b5d9df84-c3a2-11e5-8a06-6aadb1dd79d6.png)

So I guess this is either a bug or something very strange...

I am running Ubuntu GNOME 15.10 with GNOME 3.18 and qTox version `462-3343645`.

[2016-01-25 20:41] agilob commented on #2858
That means toxcore doesnt have version yet.

[2016-01-25 20:41] #2858 closed, assigned to nobody

[2016-01-25 20:47] thelastpolaris commented on #2855
@agilob At first I also thought about android port, but zetok said me that Android port is not the highest priority of qTox right now.
If someone from qTox is going to be a mentor for GSoC I can make a list of improvements and issues and work with them within GSoC project for qTox. GSoC is a great opportunity for qTox to raise some money and get a new contributor :)

[2016-01-25 20:51] ProMcTagonist commented on #2855
Multimedia streaming would be fantastic and very impressive to users.

[2016-01-25 21:26] ddobrev commented on #2849
@tux3 please update the Windows release when you've fixed this. I want to recommend qTox to friends but I want this fixed first so that they can get updates properly if they decide to go portable. I was also waiting for https://github.com/tux3/qTox/issues/2840 to be included but you said it has never been a problem on Windows to begin with so it's fine. Just this one is a must to me before I urge

[2016-01-25 22:31] Zer0-One commented on #2855
qTox can indeed participate in GSoC under The Tox Project, as long as you can provide a dedicated mentor. Project ideas can be added here: https://wiki.tox.chat/developers/gsoc/2016/ideas

[2016-01-26 00:42] seankhl commented on #2826
Hey I saw the problem and I've been working on the code. I am going to finish later tonight probably, but I have a way better method for doing this than the above that should work in the general case.

The one problem is that the name of these pixel formats in string form (`char *`) is not documented anywhere and there seem to be no conversion function. All I've found is this:

https://www.ffmpeg.

[2016-01-26 04:20] zetok commented on #2857
You should contact about getting current qTox version the maintainer of `[Debian-qtox-i2p]`.

Aside from that, it looks like this issue is a duplicate of #2564, thus closing.

[2016-01-26 04:20] #2857 closed, assigned to nobody

[2016-01-26 04:38] zetok commented on #2855
@thelastpolaris

Err, I didn't really say anything about android port - it was @ProMcTagonist who said

[code]

I simply don't know about that - if it's feasible to make a working qTox for android client and you want to do it, then you probably should go for it :)

#

@ovalseven8 , @ProMcTagonist

Thing is, when it comes to FOSS you can't really make people work on something. Very often it's eithe

[2016-01-26 10:59] thelastpolaris commented on #2855
@zetok
Sorry for mess in my memory :)
So now I have 3 directions:
1. Make Android version of qTox better.
2. Work with current issues and try to make qTox better client for desktops.
3. Multimedia streaming (btw. this idea was already presented in the last year but nobody took it https://wiki.tox.chat/developers/gsoc/2015/ideas)
It would be great if we could find a mentor for at least one of this

[2016-01-26 13:34] tux3 commented on #2857
@zetok This looks like Qubes OS so I think [Debian-qtox-i2p] is just the name of the VM.

[2016-01-26 14:20] ghost opened #2863 "Message timestamps should indicate initial message send time rather than the time it was recieved"
For instance, last night I said goodnight to someone on qTox, however they had already gone offline by the time I sent the message, I then went to bed and quit qTox, then the next day (today) when I logged onto qTox the other person was already online, and qTox sent them the message which it had not been able to send them yesterday as they had gone offline before I tried to send it.
Though there w

[2016-01-26 14:33] ghost commented on #2858
Having some sort of version number displayed there would be useful for instance for debugging purposes, so I think that at least it should give a commit hash even if it cannot give a version number.

[2016-01-26 14:47] tux3 commented on #2863
This isn't part of the protocol, so toxcore would need to implement it.
Note that it would probably allow people to forge arbitrary dates on messages by having their client pretend to have failed to send it earlier.

[2016-01-26 14:47] #2863 closed, assigned to nobody

[2016-01-26 15:04] Nurmagoz commented on #2857
thats correct. i was using Qubes OS. nice guessing @tux3 ;)

[2016-01-26 15:15] Nurmagoz opened #2864 "built-in voice changer (suggestion)"
hi , i was wondering if we can implement voice changer inside qtox instead of using an outside app/program. and by this feature someone can be anonymous through typing & voice speaking,

we can put for example , "The Anonymous" voice inside it or any voices that r possible (even normal voices). i think this is very unique design/feature which no app has at all (according to my information).

(i kn

[2016-01-26 15:27] ghost opened #2865 "Even if a long message exceeds the limitations for how long a single message can be if it is one message then when received should be shown as one message"
I have noticed that there is a character limit on messages, though it does not prevent you from actually typing in the box more than a certain amount of characters, when sent the message may become divided up into a few messages. And this is fine, but I think it might look nicer if even though it is sent as multiple messages, when received each message has a count with it to show where the message

[2016-01-26 15:47] Nurmagoz commented on #2564
how long should take this topic to solve the issue? i think the subject took long enough for solving, from Nov till now what more?!

[2016-01-26 16:38] ddobrev commented on #2836
I think QGuiApplication::quitOnLastWindowClosed needs to be set to false (regardless of OS), this way the main window can be safely closed without actually exiting the app, which is, as I said, the standard behaviour for any messenger regardless of platform.

[2016-01-26 16:52] tux3 commented on #2865
That's an interesting idea, but due to how the protocol works, this would be hard to implement in clients without toxcore support.
You should try creating an issue on the toxcore repo.

[2016-01-26 17:47] ghost commented on #2865
Is it qTox or toxcore which imposes the message size limit?

[2016-01-26 17:54] ovalseven8 commented on #2864
Duplicate -> https://github.com/tux3/qTox/issues/2197

[2016-01-26 18:28] Nurmagoz commented on #2758
but that would produce many problems if qtox going to use this feature by default dont u think ?

for example what about if qtox didnt detect the system language ? like for e.g if we put qtox inside a virtualmachine? (not real system)

also if X user is using qtox as a portable app and he open it inside cabinetwork or different laptops and let us assume that one laptop has default language Spanish

[2016-01-26 18:47] TheNain38 opened #2866 "Audio sliders are only saved when draging"
If you change the microphone gain, it is saved only when you drag the cursor with the mouse

[2016-01-26 18:55] #2864 closed, assigned to nobody

[2016-01-26 18:55] LuccoJ commented on #2197
I think if anything, qTox should include the option to pass the audio through some standard filter and plugin system (like LADSPA / LV2, which despite the name, aren't limited to just Linux). There are plenty of such filters designed to change pitch and voices, and they can do it a lot better than a rushed implementation inside of qTox itself could.

[2016-01-26 18:55] tux3 commented on #2865
It's toxcore.

[2016-01-26 20:09] ghost commented on #2564
@TNTBOMBOM this is the place you were looking for that comment:
https://bugreports.qt.io/browse/QTBUG-49438

[2016-01-26 20:24] ghost opened #2868 "&quot; is displayed instead of "" in tooltips"
I have recently noticed that in the tooltips for user statuses it replaces any `"`s with `&quot;`. And I don't know if it does the same for any other characters as this is the only thing I've seen it for, though I haven't seen that many characters like this used in statuses or tooltips.

---

**OS Information:**

[code]

**Package Information:**

[code]

[2016-01-26 20:25] ghost commented on #2868
Oh, it seems also to do with for `'`s, and probably other special characters too.

[2016-01-26 20:59] ghost opened #2869 "There should be a log out button"
Currently if one wants to log out they have to quit qTox, and this is something which can be rather annoying if a user wants only to, say, switch users, so it would be much better if that was also a "Log out" button.

[2016-01-26 21:04] tux3 commented on #2869
Click on your avatar to go to the profile page, you'll find a logout button there.
I agree that the profile page is hard to find, but we don't have a better design at the moment.

[2016-01-26 21:04] #2869 closed, assigned to nobody

[2016-01-26 21:05] ghost opened #2870 ""Load automatically" button greyed out on login screen"
On the login screen as you can see here the `Load automatically` button is greyed out (I have put a black box over my username as I wish to keep that private):

![qtox_load-automatically_greyed_out](https://cloud.githubusercontent.com/assets/11575271/12594886/35391a24-c470-11e5-8c96-716f0478826b.png)

This has been the case since one of the last updates, now, I don't know if this is meant to be th

[2016-01-26 21:17] agilob commented on #2870
Should be gray only for encrypted profiles? Is your profile encrypted? Mouse hover shows you tooltip.

[2016-01-26 21:25] tux3 commented on #2870
This is not a bug, it's a feature™!
If you mouse over the grayed out option, it'll explain that this is only available for profiles that don't have a password.

When a password is set, qTox will use strong encryption to protect the profile data, so it's impossible to load the profile without knowing the password.
The "load automatically" option for password-protected profiles would have to force q

[2016-01-26 21:29] agilob commented on #2869
Right click on tray icon has logout action...

[2016-01-26 21:38] ghost commented on #2869
Ok, it would be useful if it could also be in the menu in the top bar for the application which currently only has the "Quit" option.

[2016-01-26 21:39] ghost commented on #2870
Ah, I see yes, I use an encrypted profile!

[2016-01-26 21:39] #2870 closed, assigned to nobody

[2016-01-26 21:57] LuccoJ commented on #2869
That top bar menu is a GNOME and GTK-specific thing that Qt apps generally know nothing about, and which is not available outside of GNOME.
With programs that are not topbar-aware (everything except some modern GNOME 3 programs), GNOME Shell simply creates a default menu with only "Quit" in it.

[2016-01-26 22:14] ghost commented on #2869
Well, there is also a similar thing in Unity. But basically I think the best thing would be to put a big colourful (I'm sort of joking about the colourful) button at the top next to where the profile picture and user status is. Or maybe at the bottom with the options to go to different sections such as the "Options" section. I don't know, but the log out button really needs to become more obvious.

[2016-01-27 01:15] zetok commented on #2858
@SeventhSonOfASeventhSon
toxcore exposes only version number - using commit hash isn't really possible.

This is a toxcore issue, and if you want it fixed, you should open an issue on toxcore repo. With that being said.. toxcore was supposed to have versions since quite a while, and the only reason why it doesn't have it, is because @irungentoo didn't feel like it. So.. there isn't much that can b

[2016-01-27 01:19] zetok commented on #2857
Oh, good to know.

There are some qTox .deb packages made by i2p dev, and I thought that this is from where you've got qTox.

[2016-01-27 01:43] zetok commented on #2758
Weird, I thought that qTox was already doing that.

#

@TNTBOMBOM

Always can fallback to English.

?
VM still has language set. If not, see above.

That's not first start, and qTox should detect current settings.

Eh.

[2016-01-27 02:09] tux3 commented on #2758
By default we already try to use the system language, and fallback on English if it fails.
If this doesn't work, it's a bug.

The only part where we don't do it yet is the login window, so this what needs to be added for this issue.

[2016-01-27 08:18] CryptoSiD commented on #1567
Any eta on this? just reinstalled qTox, it's sure getting better, but still everytime I restart it my groups are all gone

[2016-01-27 09:23] Zer0-One commented on #1567
@CryptoSiD the functionality for this is going to be merged into toxcore any week now.

[2016-01-27 10:34] Nurmagoz commented on #2758
these lines solved my issuing statements above = good & thnx.

[2016-01-27 11:16] zetok commented on #1567
@Zer0-One do new groupchats even have TCP support, not to mention A/V?

[2016-01-27 11:27] ghost commented on #2858
@zetok, He "didn't feel like it"? He should give a proper reason otherwise we really should have them by now... That's not really acceptable just to say that you don't feel like it.

[2016-01-27 12:08] ovalseven8 commented on #2758
@tux3: Just downloaded the static binary from tox.chat and it doesn't use the system's language by default?

[2016-01-27 12:31] SkyzohKey commented on #2197
https://github.com/RicinApp/Ricin/issues/31

[2016-01-27 13:00] zetok commented on #2858
Well, good thing that he didn't do that :D

He said that versions will start when new A/V gets merged, which got merged like.. quite a few months ago?

As they say, actions speak louder than words.

[2016-01-27 13:19] ghost opened #2871 "Optional sound upon successful login"
Like with Skype I think that it would be nice if there was a sound upon login. Just a fun little jingle of some sort. Though the feature would probably be on by default, it would probably be optional as some may not want it, but I think that it would be rather nice.

[2016-01-27 13:27] agilob commented on #2871
Please make your request here: https://github.com/Tox/Sounds

[2016-01-27 14:40] ghost opened #2872 "qTox should allow you to sort your contacts into different categories"
I believe you could do something similar in Skype (though I'm not 100% sure as I haven't used it in a while), and I think it would be really nice if you could sort your contacts into different categories which could expand and collapse (of course these would be user created categories).

[2016-01-27 14:40] ghost commented on #2872
Or at least if you could have a line drawn between the different sections.

[2016-01-27 14:45] ghost commented on #2872
Sorry, my mistake, it seems that you can already do this with "Circles".

[2016-01-27 14:45] #2872 closed, assigned to nobody

[2016-01-27 14:53] ghost opened #2873 "Until you have renamed a Circle there is no divisory line"
I have recently found that if one creates a Circle:

![circle_no_line](https://cloud.githubusercontent.com/assets/11575271/12616920/472dd23e-c505-11e5-8207-c6e69ceeb664.png)

That until it is renamed, the divisory line does not appear fully:

![circle_with_line](https://cloud.githubusercontent.com/assets/11575271/12616945/64c4f318-c505-11e5-835a-3aac4c9cfa48.png)

---

**OS Information:**

[code]

[2016-01-27 14:55] ghost opened #2874 "Clicking off should also save new Circle title"
Currently when one renames a Circle one has to press enter in order to save the changes to the name, I think there should at least be an optional ability to also make it so that it saves the changes made to the Circle title when the field is clicked off (this is the case in most programs).

[2016-01-27 14:58] ghost opened #2875 "You should be able to make sub-Circles in Circles"
Currently you can categorise contacts into "Circles", and this is useful, however I think that it would also be good if you could make "sub-Circles" and "sub-sub-Circles" of those etc.

[2016-01-27 15:02] ghost opened #2876 "You should be able to put a contact in more than one Circle"
Currently you can only have a contact in one Circle at a time. However there are circumstances where one may want to categorise a contact in more than one of them, for instance, you may have a "Work" Circle, and a "Friends" Circle, though you may be friends with someone at work so you may want to have them in both Circles so that it is easy to talk to them.

[2016-01-27 15:05] ghost opened #2877 "You should be able to have more than one conversation with someone"
Currently the only hope of having two or more places where I can chat with the same person is to create a group chat, however it would be very useful if one could set up more than one chat with a contact at the same time so that both of the chats are separate and their history is kept separately too. So maybe then I could have a chat with that user on one topic in one place with its own history, a

[2016-01-27 15:22] zetok commented on #2873
Actually, it can be made to disappear also when circle has been renamed, but yeah.
![disappeared in renamed](https://cloud.githubusercontent.com/assets/3148759/12617909/8de63532-c509-11e5-88d1-edd4499afaf6.png)

[2016-01-27 15:29] zetok commented on #2875
Well, the design decision was to not have sub-circles. If you think that this isn't right, you should read through #1125, other related issues and PR that implemented this idea, and provide arguments that counter arguments that were used to support this decision.

Closing for now - if you will decide to post here those arguments, I, or someone else will reopen the issue.

[2016-01-27 15:29] #2875 closed, assigned to nobody

[2016-01-27 15:41] zetok commented on #2877
That sounds like overcomplicating things. I mean, the way you describe it, it kinda sound nice for a specific use case, but at the same it would make qTox's interface more complex, and thus complicated for all other use cases, and users who wouldn't have a need for it. Not to mention making qTox code even more complicated.

Also, what you've described is only a small part of UI that would need to

[2016-01-27 15:44] n1trux commented on #2877
I'm against it because no other chat system does it and honestly even as power user I never felt the need. If you still ened it, create a PR ;)

[2016-01-27 16:01] ghost opened #2878 "Why can you not send files in group chat?"
I see that currently the option to send files is greyed out in group chat, why is this?

I am running Ubuntu GNOME 15.10 with GNOME 3.18 with qTox version `471-a3802bd`.

[2016-01-27 16:13] ghost opened #2879 "If one or more users are offline in a group chat messages fail to send"
I have not quite figured out yet whether the issue is here if a user is not online in a group chat but has actually joined and then users send messages there, but this is basically what just happened to me:

I created a group chat, I invited a friend there, we spoke a bit, I then invited another friend there who is currently offline and was offline when I sent the request so they haven't accepted

[2016-01-27 16:33] zetok commented on #2878
toxcore doesn't support it.

[2016-01-27 16:39] zetok commented on #2879
That's how toxcore works - nothing can be done about it with current groupchats, thus closing this issue.

AFAIK once new groupchats will get TCP & audio support and get merged into toxcore, that kind of problems shouldn't occur any longer. No idea when that might happen, but it's probable that it will take years to get there.

Sorry about that.

[2016-01-27 16:39] #2879 closed, assigned to nobody

[2016-01-27 16:41] zetok commented on #2878
Actually, it's not even known whether toxcore will ever support it, thus closing this issue.

If toxcore will ever support that, qTox should have support for it.

[2016-01-27 16:41] #2878 closed, assigned to nobody

[2016-01-27 16:52] ghost commented on #2877
@zetok, I still think that it would be a good and useful feature though, and it could be something optional so it wouldn't have to be there in the UI initially (not until the user turns the feature on anyway). Because it is sometimes necessary to have separate conversations with one or more people which have different chat histories. For instance one could have several projects with someone and th

[2016-01-27 16:54] ghost commented on #2873
Oh, well I haven't come across what you describe yet there... But anyway, it's a bug.

[2016-01-27 16:54] ghost commented on #2879
I don't think it's really acceptable to leave such a big issue and not fix it for years. Is it worth me even reporting this on toxcore?

[2016-01-27 17:25] ghost opened #2880 "Better controls for the user who created the group chat"
If one accidentally sends a request to one of their contacts to join a group chat they are unable to cancel that request, I think that you should be able to have this ability because you could be having a very private conversation with some people and then you might accidentally add someone and then not be able to do anything about it. I also think that the user who created the group chat should h

[2016-01-27 17:30] ovalseven8 commented on #2880
Things like banning is coming with the new groupchat. :)

To cancel a group invitation isn't supported by toxcore as far as I know and probably won't.
So, nothing qTox can do about this.

[2016-01-27 17:37] ghost commented on #2880
@ovalseven8, And when exactly is the new group chat coming?

[2016-01-27 17:44] sudden6 commented on #2877
I'm with zetok and n1trux, this sounds like a very complcated thing, used only by a handful of people.

@SeventhSonOfASeventhSon If you really need multiple chats with the same person at the same time, you can already create more than one profile and use them simultanously. With this way you get a seperate history for each profile.

[2016-01-27 17:46] ghost commented on #2877
@sudden6, Who wants the hassle of having to create lots of accounts for this sort of thing? It would be much better for the client just to accommodate users' needs, plus you don't know how many people would use it, you haven't done a poll.

[2016-01-27 17:48] ghost commented on #2877
It could at least be left as an open issue which could be dealt with in the future, but just asking users to create lots of different accounts for different purposes is not acceptable.

[2016-01-27 17:49] TheNain38 commented on #2877
For me, I wouldn't need this. Also, this will make code harder to maintain

[2016-01-27 17:49] #2877 closed, assigned to nobody

[2016-01-27 17:51] ghost commented on #2877
@TheNain38, But you can't speak for everyone, and we could just strip down all the futures of the client so that one can only send and view one message at a time with no history, I'm user that that would also make the code much easier to maintain.

[2016-01-27 17:51] ovalseven8 commented on #2880
@SeventhSonOfASeventhSon: Nobody really knows. In general, the new group chat code is done for a few months, but toxcore would need some modifications for it. Unfortunately, nobody has worked on it yet. :(

[2016-01-27 17:53] agilob commented on #2877
It would be really hard to implement and I would consider this a bug, since chat with one contact should be kept in one history to be consistent in regards of code base and... chat history. I would suggest you creating more tox profiles to achieve the same effect without messing database and history keeper.

[2016-01-27 17:55] ghost commented on #2880
@ovalseven8, Should I perhaps create an issue on toxcore to track it?

[2016-01-27 17:56] #2880 closed, assigned to nobody

[2016-01-27 17:59] agilob commented on #2880
Yes, please.

[2016-01-27 18:05] ghost commented on #2880
Ok, I have posted the issue [here](https://github.com/irungentoo/toxcore/issues/1514).

[2016-01-27 18:08] ghost commented on #2880
I don't know how they're going to take to me trying to organise them by asking for them to post updates there, they might just close it saying they don't want me to order them around... But it's worth a try!

[2016-01-27 18:58] ghost opened #2881 "Detect when somebody seems to be being spammed with friend requests and offer to change the NoSpam"
I originally accidentally created the issue [here](https://github.com/irungentoo/toxcore/issues/1515#issuecomment-175785718) though I requested automatic NoSpam changing, but it was pointed out to me that this could cause a lot of confusion, so I'm going to go for what @Impyy:

[2016-01-27 19:00] zetok commented on #2879
Those are known issues - the reasons why new groupchats are being developed. About time - if there was more people working on it this would be done faster. So, reporting that is kinda a waste of time.

[2016-01-27 19:13] ghost commented on #2879
@zetok, Ok, well I don't see how it can hurt anyone (me reporting it on toxcore too) so I think I'll do that just to keep track of the issue as this is obviously not a client-side issue.

[2016-01-27 21:17] tux3 commented on #2881
Is this an actual problem that you or someone else is facing?
The NoSpam should deter friend request spam just by existing. I'm all for preventing spam and helping users discover features, but solving theoretical issues that don't actually affect anyone is not super high on my list of priorities :/

[2016-01-27 21:19] tux3 commented on #2871
Note that since we don't currently have any support for sound packs anyways, it's fine to implement this without waiting for Tox/Sounds to move forward.

[2016-01-27 21:25] tux3 commented on #2758
@ovalseven8 Did you make sure to erase the settings file? Otherwise qTox will use whatever is set in the settings.
If you did and qTox fell back to english instead of using the system language, that sounds like a bug.

[2016-01-27 21:50] rehand opened #2882 "Can't type circumflex^"
On my system running Linux Mint 17.3 (Rosa) with Cinnamon it is not possible to type a circumflex `^` via keyboard. Copy and pasting works.

I've asked contacts using Windows or OS X and they told me that it works there (even if it inserts on circumflex after pressing the key once and three after pressing the key twice).

[2016-01-27 22:13] Zer0-One commented on #2871
@tux3 can you remind me what you needed from my end in order to make sound packs a thing? I'm going to close off the open PRs and issues in the next day or two.

[2016-01-27 22:17] ghost commented on #2882
#2564

[2016-01-27 22:19] ghost commented on #2876
#2392

[2016-01-27 22:21] ddobrev opened #2883 "Add notifications for new messages at the top right corner"
![Uploading skype_message.png…]()
Like https://blog.ukstokes.com/wp-content/uploads/2011/10/skype_message.png.

[2016-01-27 23:56] tux3 commented on #2883
Dup of #483

[2016-01-27 23:56] #2883 closed, assigned to nobody

[2016-01-27 23:57] #2876 closed, assigned to nobody

[2016-01-28 00:03] #2882 closed, assigned to nobody

[2016-01-28 00:03] tux3 commented on #2564
We have so many duplicates I'm just going to add a new label for >= 5...

[2016-01-28 00:11] tux3 commented on #2871
@Zer0-One
I'd like to see a couple things:
- A document describing what each file names correspond to, it's not always obvious (what's the difference between Message and ImportantMessage? Is CallDrop when I hangup, when the peer hangsup, when toxcore timeouts? etc)
- A list of codecs that must be supported, so we don't tell people we support sound packs and then disappoint because some client can'

[2016-01-28 06:00] ProMcTagonist commented on #2197
@LuccoJ isn't that OS-level on the sender's side?

[2016-01-28 06:29] ProMcTagonist commented on #2855
@zetok

qTox on android is a fun project but not a particularly useful or high-priority one, which would be fine, except this is about GSoC. I agree that you can't control what people work on in FOSS, and in fact I often get annoyed when people bring up interesting side projects and get mad at toxcore for "allowing" it &ndash; they don't understand that that freedom is core to how FOSS works.

But

[2016-01-28 07:11] zetok commented on #2855
@ProMcTagonist

Well, GSoC is kinda an extension to FOSS - i.e. there's no way of making student to work on a particular project during GSoC - they might be interested in working on something in particular, or nothing at all. This is probably not the case with @thelastpolaris, but.. This issue is about getting a mentor.

#

So, I kinda wonder - @agilob, since you've suggested android port, would y

[2016-01-28 08:38] bhelm commented on #483
I hope so. Without desktop notifications and audio notifications, i almost never notice new messages as they arrive. The new message indication is very subtile at the moment.

[2016-01-28 10:01] zetok commented on #483
Well, there is audio notification - if it doesn't work though, then it's a bug, and an issue should be opened.

![new message notification](https://cloud.githubusercontent.com/assets/3148759/12641200/17fe7954-c5a6-11e5-9991-796215d18217.png)

[2016-01-28 11:18] bhelm commented on #483
the audio is no problem on the tox site. My system does not have any audio output devices.
i have recompiled my tox with #2771 . now not only the desktop notifications are working, tox tray icon and task bar item started to flash, which was not the case in my previous git build.

[2016-01-28 14:07] zetok commented on #2881
@tux3

Since ~tox isn't really big, it's not a problem as of now.

Note that even if it doesn't seem like it, FRs also can be used by people for harassment. Imagine receiving very frequent FRs (that you reject) with some _really bad_ messages in them. This would be seriously disturbing for most of people.

e.g. qTox asking user whether they want to change NoSpam after they have declined FR from pa

[2016-01-28 15:12] ovalseven8 commented on #2758
@tux3: Yes, I erased the config directory.

[2016-01-28 15:23] LuccoJ commented on #2881
I'd call this low priority, but it's an interesting idea when the overall goal is to make things user friendly without obscure options: the "nospam" thing isn't clear or intuitive, and this could be a way to "bring it to the masses" in a much more obvious way.

[2016-01-28 16:05] ghost opened #2884 "Ability to use in-built qTox desktop notifications rather than system ones"
Though the desktop notifications which are built-into the system that I use (Ubuntu GNOME 15.10 with GNOME 3.18) look rather nice, I think that it would be good if at least the user had the option to use qTox built-in notification which appear somewhere like the bottom-right-hand-end of the screen like with Skype. Though this is probably a low priority feature request, I think it would look quite

[2016-01-28 16:09] ghost opened #2885 "Optional ability to get desktop-notifications when contacts go online, offline, change status, etc..."
In many IM programs such as Skype and Steam (though that is not its main functionality, it has it, so I thought I would mention it) you have the ability to change what you get alerted for and you can also choose to be alerted (though not usually on by default) and have desktop-notifications for activity such as your friends' statuses changing, them going going online, offline, and any of the other

[2016-01-28 17:17] tux3 commented on #2881
I agree that it's a good idea, and I'll be happy to merge that if someone wants to step up, but I need to prioritize in the meantime :)

[2016-01-28 17:18] tux3 commented on #2758
@ovalseven8 Could you make a new issue with some details please?

[2016-01-28 17:19] zetok commented on #2885
Duplicate of https://github.com/tux3/qTox/issues/483#issuecomment-59968354, thus closing.

[2016-01-28 17:19] #2885 closed, assigned to nobody

[2016-01-28 17:21] zetok commented on #2884
It's kinda a duplicate of https://github.com/tux3/qTox/issues/483#issuecomment-59753519, thus closing.

[2016-01-28 17:21] #2884 closed, assigned to nobody

[2016-01-28 17:50] ghost opened #2886 "When will qTox start having proper "*.*.*" version numbers?"
Currently qTox doesn't have a proper version number and only the commit hash is used, so when exactly is it planned for qTox to start using proper "_._.*" version numbers rather than commit hashes? I assume that it is after a certain milestone that this is planned, but it would be nice to know which one, and if this is not planned, then when it probably will happen.

[2016-01-28 18:16] tux3 commented on #2886
We're at [v1.2.4](https://github.com/tux3/qTox/releases) at the moment.
You've been creating a _lot_ of invalid or duplicate issues, please try to do a minimum of research.

[2016-01-28 18:16] #2886 closed, assigned to nobody

[2016-01-28 18:19] ovalseven8 commented on #2758
@tux3: Isn't this issue the right one?

And which details do you need?

[2016-01-28 18:19] ghost commented on #2886
@tux3, Really? I was told a little while ago that there weren't any proper version numbers, well, it's not very clear, if we are now using proper version numbers why is that not reflected in the `About` section of qTox where only the commit hash is given and also when there is an update I always see something like this as the version number, why is this `472-3307855` displayed rather than the actu

[2016-01-28 18:29] ghost opened #2887 "There should be a changelog for each version accessible through the About section"
Unless one looks at all of the commit messages of the commits which made it into the a release, it is hard to often tell what changes have been made in a new release, so I think that there should be a changelog which one can access through the About section of qTox which either displays a changelog (this would be preferable as some may have trouble for whatever reason viewing the online version, f

[2016-01-28 18:32] ghost commented on #2886
Oh, sorry, I didn't notice that it was already in the `About` section, however why is it not given as the package's version, because when I update it through `apt-get` in Terminal, it always gives me that commit hash rather than the version number?

[2016-01-28 19:38] agilob commented on #2886
We are not responsible for packages, please contact package maintainer.

[2016-01-28 20:27] ProMcTagonist commented on #2887
+1

Makes users feel involved and shows them work is being done

[2016-01-28 21:19] ghost commented on #2887
And it is interesting and useful to easily know what changes have been made.

[2016-01-28 21:20] ghost commented on #2886
@agilob, And how exactly do I do that? Who exactly is the package maintainer anyway?

[2016-01-28 21:24] tux3 commented on #2758
Well this issue is marked as a proposal to translate the login window, which isn't even started yet. If the qTox window doesn't translate correctly though, that's a separate bug.
I'd just like to know what your system language is and on what OS please.

[2016-01-28 21:44] ghost opened #2888 "A ToxID can be an email address?"
Sorry if toxcore would be a better place for this, it's just that I haven't seen this in any other Tox client I've used (not that I've used that many other than qTox), so I thought I'd ask here.

My confusion stems from the fact that here it seems to suggest that instead of the standard ToxID one can give what appears to be an email address:

![add_friend_qtox](https://cloud.githubusercontent.com/

[2016-01-28 22:27] sudden6 opened #2889 "qTox crash on videocall [backtrace]"
qTox crashed while i tried to start a videocall.

[code]

[2016-01-28 22:42] sudden6 commented on #2889
I'm an idiot, it's fixed in master.

[2016-01-28 22:43] #2889 closed, assigned to nobody

[2016-01-28 22:52] ghost commented on #2888
https://wiki.tox.chat/users/toxdns

[2016-01-28 23:12] tux3 commented on #2888
It's not an email address, it's a toxdns address. You have to register on a toxdns server to get an address, see @kehugter's link for more info.

[2016-01-28 23:12] #2888 closed, assigned to nobody

[2016-01-28 23:14] ghost commented on #2888
@tux3, I would suggest then perhaps that it should be made a link in the client that one can click in order to learn more about it and how to get one, otherwise it's just going to confuse people because it is not clear what it is.

[2016-01-28 23:20] tux3 commented on #2888
@SeventhSonOfASeventhSon We could do something like that, yes. There are also proposals for doing a proper user manual or even a first-use-tour-of-features that could be taken into consideration.

And I'm @tux3, @tux is someone else that is probably sick of getting notified all the time :)

[2016-01-28 23:25] ghost commented on #2888
@tux3, Yes, something like that would be good because it's not immediately obvious, and it will just confuse people, and then they will ask here.

Oh, sorry, I did mean to put the `3` at the end... :D

[2016-01-29 00:06] sudden6 opened #2890 "[Idea] Log viewer in settings"
Since qTox is a GUI application it would be logical to also have the logfile accessible in the GUI.
I'm thinking about a tab in settings, which shows the content of the logs and allows the user to easily copy them to the clipboard or directly to github.

[2016-01-29 00:52] tux3 commented on #2890
Maybe just a "Copy log to clipboard" button would be enough?
A whole new tab just for debug info sounds like a lot.

[2016-01-29 06:36] zetok commented on #2887
https://medium.com/@autumn_eng/guide-to-changelog-md-in-rust-6eb349808fa4#.1t8b0i60w ← a way to automate generating CHANGELOG.md.

To sum it up, pros:
- changelog.md can be generated automatically and edited before committing

cons:
- requires from every contributor to adjust to commit naming rules, which means that contributing to qTox would have higher learning curve

So, to test it, I've create

[2016-01-29 08:59] agilob commented on #2887
I think this would be necessary only then pushing to tux3/master?

[2016-01-29 10:34] zetok commented on #2887
Well, commits that don't conform to naming scheme seem to be simply ignored by `clog`, so if one wants to have a meaningful changelog, every commit should conform to it.

There is a nice way of automating notifying contributors about naming scheme described in the article I've linked to (I mean, beside putting it in CONTRIBUTING.md).

[2016-01-29 10:47] Zer0-One commented on #2871
@tux3 Instead of forcing a particular codec, why can't you just transcode all the media before shipping it?

[2016-01-29 10:49] tux3 commented on #2871
@Zer0-One Because then either 1) You ship all the codecs in the same .zip and waste fucktons of disk space or 2) You present users will different downloads for each codec and they won't know what to pick.
I'd rather push the complexity on the developers/standard than on the users. Pick a codec and stick to it.

[2016-01-29 10:53] optimumtact commented on #2886
as far as I'm aware tux3 manages the qtox packages

[2016-01-29 10:55] tux3 commented on #2886
I manage the Debian/Ubuntu pbuilder packages (but not the static/generic/rpm packages).

[2016-01-29 11:03] optimumtact commented on #2886
I think what @SeventhSonOfASeventhSon is interested in is stable packages that have a fixed version, rather than the nightly releases with the git describe version tags

I explained in my email that the nightly releases are versioned this way so developers can identify exactly which commit the nightly release was built off.

[2016-01-29 11:46] agilob commented on #2886
We have commit hash built-in in about page.

[2016-01-29 11:53] ghost opened #2891 "Easier copy and paste ability when it comes to messages"
It seems that qTox has very limited copy and paste abilities, and it is not very obvious (though I have sort of figured it out partly) how to use what's there. Because currently if one wants to copy a message, if one tried highlighting the part of the message the want to copy they can't use the keyboard shortcut <kbd>CTRL</kbd> + <kbd>C</kbd> to do so, in fact they have to then right-click and pre

[2016-01-29 12:04] ghost commented on #2891
Works for me.

That's the correct behaviour, but a "Copy link location" shortcut in the menu wouldn't hurt.

---

I guess you can drop the "paste" bit in the title to improve future issue searches.

[2016-01-29 12:17] linux-modder opened #2892 "'Circles' settings wiped out from -243 to -314"
Noticed the other day that when going to -243 that all my  settings EXCEPT circles were saved,  on a recompile to -314  this was not the case all circles I had  manually  regenerated were honored on the -314 compile... Stands to reason while likely  trivial for most that  your circles should be honored and not  nixed during a re-compile or  not api breaking version bump.

[2016-01-29 12:23] zetok commented on #2891
@kehugter

Actually, it doesn't always work - i.e. input field (auto?)focus sometimes  interferes with keyboard shortcuts. Basically, in order to be able to copy the message via shortcut, you should not have focus set on input field.

E.g. when one has already focus set on input field and highlights whole message in order to copy it, input field stays focused, which makes `CTRL + c` pretty useless

[2016-01-29 12:26] tux3 commented on #2892
So the bug was when going to 243, but it's fixed in 314?

[2016-01-29 12:33] zetok commented on #2892
Actually, on IRC @linux-modder wrote:

[code]

[2016-01-29 12:38] linux-modder commented on #2892
@tux3 This has happened in the past as well but  I thought it was just some locally  buggered up setting I recently confirmed with a friend it was not.  Odd more still, is that if you don't reset your circles on 243 314 does not  notify you or attempt to regenerate them (even if it is in an older config)   however some sanity check in 314  DOES maintain them if  set manually  before the ver bump.

[2016-01-29 13:04] ghost commented on #2891
Right. A possible solution: redirect
- plain text keyboard input
- `CTRL` + `V`
- middle clicks (Linux, Mac?)
- `right click -> paste`

to the input are when
- the text area or
- the input area

is focused.

Looks like it gets focus when something other than text is clicked.

[2016-01-29 13:28] tux3 commented on #2892
What do you mean by regenerate?

[2016-01-29 14:01] linux-modder commented on #2892
No circles >  make new circle; repeat for all circles desired and re-shuffle folks to respective circles

[2016-01-29 14:04] tux3 commented on #2892
Okay. That's weird. Do you use an encrypted profile?
It could be a problem with password management that made the circles settings fail to decrypt.

You didn't lose the chat history at the same time, did you?

[2016-01-29 14:20] linux-modder commented on #2892
no kidding.

Seems like the  default in 243 did NOT have a sanity check for existing
contact list formatting

[2016-01-29 14:22] tux3 commented on #2892
Thanks, but please stop spamming your 2 pages long signature or I'll edit it out...

[2016-01-29 15:05] linux-modder commented on #2892
sorry was from email not  github my bad

[2016-01-29 15:12] zetok opened #2893 "[Regression] notification sound isn't being suppressed when status is being set to `busy`"
Description:
When user status is set to `busy`, qTox should suppress notification sound for the new message. Probably due to a fix to the #2328 it doesn't do that any longer.

qTox: 67620f96617312ccbb27c721c2c3090f036d52e3

Reproducible: Always

Steps to reproduce:
1. Set status to `Busy`
2. Make sure that `Play sound` is checked in settings
3. Receive a message when qTox is minimized to tray

Wha

[2016-01-29 20:37] tux3 commented on #2893
That's A Feature™ if I remember correctly. People on IRC lobbied for busy status having notification sounds which led to that fix to #2328

[2016-01-30 05:45] zetok commented on #2893
Dunno about "people on IRC", but there's  #1091, and it's a clear regression, which makes `Busy` ~useless.

[2016-01-30 08:56] Zer0-One commented on #2871
@tux3 https://github.com/Tox/Sounds/commit/44b202bfe94d5ad194bf2e20acd7e6ed6f1ccd0b

[2016-01-30 09:03] TheNain38 commented on #2893
I'm with @zetok's opinion, because for now, `Busy` is a little bit useless.

[2016-01-30 10:06] tux3 commented on #2893
Fine by me if that's the consensus

[2016-01-30 10:09] tux3 commented on #2871
@Zer0-One LGTM, we could start implementing this

[2016-01-30 10:17] Zer0-One commented on #2871
I'll take care of the TCS stuff later. Beyond that, if you want to see sounds that aren't already listed, just make a PR to Tox/Sounds .

[2016-01-30 10:26] dcapeletti opened #2895 "Lack libwayland-cursor0"
Hello, I have a GNU/Linux distribution 32-bit but I can not find the libwayland-cursor0 package is required to run qtox. What can I do?

[2016-01-30 15:24] ddobrev commented on #2820
@tux3 would you consider giving this more priority? I believe it's a real show stopper not to be able to be certain at any given moment if your contacts are on-line or not. I think this harms many people who decided to try qTox considering that most users do not take the time to complain but rather just move on. I personally would stop using Skype at all if it wasn't for this problem - now I have

[2016-01-30 17:21] #2643 closed, assigned to nobody

[2016-01-30 17:23] tux3 commented on #2820
I agree that this needs to be fixed, it's certainly pretty high on my list of priorities but I don't have a lot of time to write code at the moment.

[2016-01-30 21:34] ghost opened #2897 "qTox inserts unknown characters when copy-pasting PGP keys"
When trying to copy-paste the text from a text file containing a public PGP key, qTox inserts a number of random unknown characters that makes they key invalid.

[2016-01-30 21:45] tux3 commented on #2897
I can't reproduce, could you post a screenshot of the unknown characters and a copy of the source file?
Note that Tox also has a file transfer feature if you want to send some data.

[2016-01-30 22:01] sudden6 commented on #2890
I agree, the average user couldn't make sense of these messages anyways.
Such a button would be best in the about tab.

[2016-01-30 22:02] sudden6 commented on #2895
What is the name of the distribution?

[2016-01-31 07:05] qqtop opened #2898 "shared library not found"
./qtox: error while loading shared libraries: libxkbcommon-x11.so.0: cannot open shared object file: No such file or directory

/usr/lib64/libxkbcommon-x11-0.4.3.so  is available

OS: opensuse13.2 , opensuseLeap42.1

[2016-01-31 09:08] ovalseven8 opened #2899 "Difference between sent and received message"
Hello,

Reproduce:
1. Start two qTox instances
2. Make friends
3. Send the following message to the other instance:

[code]

On my device, the other qTox instance received the following:

[code]

[2016-01-31 10:34] DX37 opened #2900 "Not an issue, but now Arch Linux users can install qTox package form "community" repo."
pacman -S qtox
https://www.archlinux.org/packages/?sort=&q=qtox&maintainer=&flagged=
You should probably edit INSTALL.md

[2016-01-31 11:09] gustavklopp opened #2901 "Crash when going on Audio/Video tab"
Lubuntu 15.10
"You are using qTox version v1.2-334-g7a846b8."

When trying to go on the tab Audio/Video: crash of qTOX

The console shows (I've launched qTox from the console):

[code]

It's a USB webcam Quickcam Logitech Pro 4000 (Working fine with Cheese)

[2016-01-31 11:19] gustavklopp commented on #2900
Superb! Thanks for the tip

[2016-01-31 11:31] tux3 commented on #2900
Neat!

[2016-01-31 12:02] TheNain38 commented on #2899
Can't reproduce. If you received two messages, it is normal, toxcore doesn't support message splitting yet.

[2016-01-31 12:12] #2900 closed, assigned to nobody

[2016-01-31 12:32] zetok commented on #2895
@dcapeletti https://github.com/tux3/qTox/blob/master/CONTRIBUTING.md#must-read ?

[2016-01-31 13:08] gustavklopp commented on #2901
The issue seems related to [#issue2852](https://github.com/tux3/qTox/issues/2852) with the same exact error message (except it's not an error of video upside down but a crash at opening the tab audio/video)

[2016-01-31 13:22] adrian-purism commented on #2765
any update on this issue? yes i have libsqlcipher0 installed,

[2016-01-31 13:22] tux3 commented on #2901
This issue should be fixed by #2867, which isn't merged yet

[2016-01-31 14:12] ghost commented on #2897
For some strange reason it's also no longer reproducible here on our computers. We had the issue yesterday when attempting to share a public key between 2 computers. But today it works fine. Only issue is qTox splitting up the key at message_maxlength. But there are no longer any random characters being inserted so I'm closing the issue.
Thank you for the quick response

[2016-01-31 14:12] #2897 closed, assigned to nobody

[2016-01-31 14:55] farseerfc opened #2903 "make install should install icon files"
Currently `make install` will not install any icon files.

I tried to install them manually, but if I put them iunder /usr/share/icons/hicolor/$size/apps/qtox.png
The systray icon will not change when message is coming.
If I rename them to qTox.png (the upper case T), the .desktop file is not referring to the right icon.

[2016-01-31 15:01] ovalseven8 commented on #2903
Agree.

Shouldn't https://github.com/tux3/qTox/blob/master/qtox.pro#L182 do it?

[2016-01-31 16:39] zetok commented on #2899
@TheNain38 there are 3 messages received, not 2. And one received message is a duplicate. In other words, I could reproduce on newest qTox.

[2016-01-31 16:40] ghost opened #2904 "Offline file sending should pile up and send when next possible like with offline messaging rather than just failing"
If one sends a message when the other user is offline, the message is stored until both users are online and then the message is sent, this is the basic offline messaging system currently in use in qTox. However if one is to try and send a file to another user who is currently offline, one just gets something like this:

![failed_to_send_file_qtox](https://cloud.githubusercontent.com/assets/115752

[2016-01-31 16:45] zetok commented on #2903
Why rename then?

Also `qtox.svg` is being installed for me. Is `.svg` not enough for icons?

[2016-01-31 16:47] tux3 commented on #2899
The duplicate message is probably due to offline messaging behind a little too impatient, if we don't get a receipt in time we'll assume the message was lost and attempt to resend it.

[2016-01-31 16:48] ghost opened #2906 "qTox should only show recent chat history, but should provide buttons in order to load older history"
If one has been using qTox for a long time without clearing their chat history (because perhaps they don't want to), then for performance reasons I think that it would be better if (and if this would also be configurable) only chat history from the last 24 hours or something was displayed at first, but if a user scrolled right up to the top it would either automatically load older stuff, or allow

[2016-01-31 16:49] zetok commented on #2899
Yeah, probably instead of just 5s there should be 15s or 20.

[2016-01-31 16:51] ghost opened #2907 "You should be able to choose how long to keep chat history for"
Currently in the "Privacy" section of the "Options" one is able to set it so that qTox either does, or doesn't keep chat history. Rather than this very limited way of doing it, I think that you should be able to choose if you want to disable chat history, keep it for ever, or only for a certain limited amount of time.

[2016-01-31 16:52] zetok commented on #2906
There is "button" for it.

Edit: as for automatically loaded history, there's an issue for it somewhere.

[2016-01-31 16:52] #2906 closed, assigned to nobody

[2016-01-31 16:55] zetok commented on #2904
Duplicate of #1293, thus closing.

[2016-01-31 16:55] #2904 closed, assigned to nobody

[2016-01-31 17:05] ProMcTagonist commented on #2906
new chatform with load recent + load more on scrollback was #2013 and got split up into smaller commits and issues from there

[2016-01-31 17:09] farseerfc commented on #2903
If the icon is named qtox.\* , systray icon will not reflect state changes. (Didn't find a bug here related to this)
See: https://bugs.archlinux.org/task/47910
I don't see any line in the generated Makefile by qmake that installed `qtox.svg`. Did I miss something?

[2016-01-31 18:23] ovalseven8 commented on #2899
But both Tox IDs were online?

[2016-01-31 18:29] agilob opened #2909 "I just implemented contact blocking...."
what should happen when you block a contact? Should notifications for a contact be completely off? Should we save and show new messages but no sound and no notification? Should contact be always visible as offline until unblocked?

[2016-01-31 18:35] tux3 commented on #2909
The contact should be temporarily removed from the friendlist so that they can't see you as online or contact you in any way while blocked.

[2016-01-31 18:38] agilob commented on #2909
Where is code responsible for sending status to other contacts?

[2016-01-31 18:43] tux3 commented on #2899
If toxcore guarantees that it will try resending messages as long as contacts are online and drop them immediately when they go offline, we can simplify the offline messaging by just sending things once on the rising edge of the connection status instead of retrying periodically.
I'd need to check the toxcore implementation, because of course this isn't in the API doc.

[2016-01-31 18:44] tux3 commented on #2909
In toxcore.

[2016-01-31 18:51] zetok commented on #2903
No, sorry about that - looks like it's not being installed by qTox after all.

[2016-01-31 18:58] TheNain38 commented on #2909
Normally you should remove contact from friendlist like @tux3 said, and when unblocking you should readd it using

[code]

[2016-01-31 18:59] zetok commented on #2909
related  #1120

[2016-01-31 19:05] LuccoJ commented on #2909
If I may ask a question... would any implementation of contact blocking let the blocker stop the blocked from being able to see their IP address?
Since my understanding is that IP addresses are stored in the DHT encrypted, but once you give someone the key by adding them as friends, they can decrypt them... and that doesn't sound like it can be revoked.

[2016-01-31 19:08] zetok commented on #2909
They're not encrypted.

Edit: and to answer your question - yes, blocking someone makes toxcore not connect to them, thus they wouldn't get your IP.

[2016-01-31 19:23] zetok commented on #2899
Err, it doesn't guarantee resending - i.e. given that UDP is being used, toxcore simply sends data off, and that would be about it.

[2016-01-31 19:34] SergeyDjam opened #2910 "[Request future] Share desktop"
Hello! Phanks this program.
Please add sharing desktop and/or sharing only window open on desktop. May be this will be goot addition

[2016-01-31 19:34] agilob commented on #2909
@TheNain38 thanks for that! I'll craft a PR soon.

[2016-01-31 19:39] sudden6 commented on #2910
Sharing the whole desktop is already supported. In Settings | Audio/Video set your video device to "desktop".
Please close if this is what you needed.

[2016-01-31 19:40] SergeyDjam opened #2911 "Build qTox for Android"
I view source for Android. How i can build this for Android, or may be precompiled qtox.apk testing?

[2016-01-31 19:41] SergeyDjam commented on #2910
Oh, sorry, i'dnt this viewiing

[2016-01-31 19:41] #2910 closed, assigned to nobody

[2016-01-31 19:41] SergeyDjam commented on #2910
Phanks

[2016-01-31 19:46] SergeyDjam commented on #2910
But this can not only window, can not parallel video and desktop/windows different user call :(

[2016-01-31 19:51] TheNain38 commented on #2909
@agilob You're welcome! This is the right way to go:
- Blocking:
  1. Add public key to blocklist
  2. Remove from friendlist
- Unblocking:
  1. Get public key from blocklist and add contact using `tox_friend_add_norequest`
  2. Remove public key from blocklist

[2016-01-31 19:54] sudden6 commented on #2910
If I understood you correctly you mean there should be parallel webcam video and desktop streaming?
There already is a feature request for this, but it is very low priority.

[2016-01-31 19:56] SergeyDjam commented on #2910
I'm no first... Ok, i will wait

[2016-01-31 19:57] zetok commented on #2911
There's no real port of qTox to android that would have any usable functionality - are you perhaps interested in helping make it become functional under android?

[2016-01-31 20:03] SergeyDjam commented on #2911
I doubt that I can fully support this port. However, it could perform simple tasks such as assembly and testing of the package.I could localize into Russian

[2016-01-31 20:16] yurivict opened #2912 "Input methods don't work on FreeBSD"
Never saw them work, though virtually all other apps use input methods fine.

[2016-01-31 20:23] zetok commented on #2912
Are those other apps using Qt5 ?

[2016-01-31 20:27] zetok commented on #2912
might be related: #2564

[2016-01-31 20:32] yurivict commented on #2912
Yes, other apps are qt5

Input method is ignored. Latin letters are typed instead.

[2016-01-31 20:47] tux3 commented on #2911
Currently qTox for Android is unusable, it's not ready for release, packaging or testing.

[2016-01-31 20:47] #2911 closed, assigned to nobody

[2016-01-31 20:48] tux3 commented on #2899
Pretty sure toxcore implements some form of reliability of top of UDP. The details are important though.

[2016-01-31 21:41] agilob commented on #2912
Could you provide more details? I don't have any problems with qtox on fbsd

[2016-01-31 21:42] yurivict commented on #2912
What details for example?

[2016-01-31 21:42] torvn77 opened #2913 "Drop-down list and its elements are on different monitors."
![screenshot](https://pp.vk.me/c629314/v629314199/3541b/Pr8trN7YG_E.jpg)

[2016-01-31 22:00] sudden6 commented on #2913
I can not reproduce
qTox version: 1f03ed11ad40af511719d2157b88c9d6028dc984
Qt version: 5.5.1
KDE: 5.18.0

[2016-01-31 22:38] tux3 commented on #2913
That looks like a Qt problem, so unfortunately we can't really fix this in qTox

[2016-02-01 00:08] anoadragon453 opened #2915 "Received double messages"
Occasionally I get double messages from a friend with pretty slow internet (~500Kbps). Happens fairly rarely. I don't experience this issue with any other user, but do experience it with them across multiple profiles.

They and I are both on commit `552155bd1f5824c536dd6d1bbc8d293f3f1d8499`.

Really nothing interesting in the [log](https://gist.github.com/anoadragon453/d32c6769b2cfe8c5e51c).

[2016-02-01 00:54] tux3 commented on #2915
This looks like a duplicate of #2899.

[2016-02-01 00:54] #2915 closed, assigned to nobody

[2016-02-01 06:27] zetok commented on #2913
@torvn77 which Qt version do you have, and which distro? That looks like Mint - is it 17, based on ubuntu 14.04 ?

In case you're using binaries from repo, and given that @sudden6 can't reproduce on 5.5.1, it might be packaging.

[2016-02-01 06:37] zetok commented on #2912
Your setup - given that @agilob can't reproduce, it would seem that there's come configuration required, or something. In other words, steps to reproduce, preferably with a startpoint at standard, fresh FreeBSD install.

[2016-02-01 07:18] yurivict commented on #2912
qTox is installed from the port. No special configuration of any kind.
Input methods are switched with ibus.
Other qt5 apps work with input methods fine, just not qTox.

[2016-02-01 08:24] yurivict commented on #2912
Now when I test more I see that IM works when qtox is started from the terminal, or from the kde start menu using the executable path, but it doesn't work when it is started from the kde start menu using the qTox.desktop file. I don't know why desktop file would prevent IM from working.

[2016-02-01 08:58] agilob commented on #2912
I also have qTox installed from ports, I use xfce4 and have no problems what you described I can paste emojis and input Polish special chars from keyboard. Do you have correct lang, keybindings setup?

[2016-02-01 09:08] yurivict commented on #2912
LANG=en_US.UTF-8
keybindings do switch input methods fine.

I think this is some kde4 bug, because I observe the same with djview4. IM fail when started through the desktop item.

[2016-02-01 09:08] #2912 closed, assigned to nobody

[2016-02-01 09:10] agilob commented on #2912
Interesting, could this be related to #2564?

[2016-02-01 09:20] yurivict commented on #2912
It might be that environment is modified when run through the desktop file, particularly QT_IM_MODULE=ibus.

[2016-02-01 10:22] ghost commented on #2906
@zetok, That's strange, because I definitely don't get the button... So maybe it's a bug?

[2016-02-01 10:57] ProMcTagonist commented on #2906
right click on the chat form

[2016-02-01 11:58] dcapeletti commented on #2895
**sudo lsb_release -a**
 No LSB modules are available. 
Distributor ID: Debian 
Description: Debian GNU/Linux 7.5 (wheezy)
 Release: 7.5 
Codename: wheezy

**sudo uname -a**
Linux huayra 3.13.0-3-686-huayra #1 SMP Fri Jan 31 12:49:54 ART 2014 i686 GNU/Linux

[2016-02-01 12:39] zetok commented on #2895
Sorry, Debian 7 is not supported, you should update to 8 for qTox to work.

[2016-02-01 12:39] #2895 closed, assigned to nobody

[2016-02-01 13:16] ovalseven8 commented on #2909
It should also be possible to block a contact you don't have in your contact list. For example to prevent friend request spamming.

[2016-02-01 13:46] agilob commented on #2895
We also should drop 32bits...

[2016-02-01 13:46] agilob commented on #2909
That's different issue.

[2016-02-01 13:55] zetok commented on #2895
Well, about 32 bits - there's still a lot of hardware that people use that doesn't support x86_64. It's not necessarily even an old hardware, given that x86-only hardware was still being released(!) by e.g. intel not so long ago as 2010...

[2016-02-01 14:09] LuccoJ commented on #2909
@zetok if they're not encrypted, then why does the Tox wiki claim that other people (who aren't your friends) can't see your IP?
It says:

at https://wiki.tox.chat/users/faq#does_tox_leak_my_ip_address and citing https://gist.github.com/irungentoo/cb0a9b07131e95be1e64 as the source.

But if you're right and the wiki is wrong, then this is a security issue: I definitely don't want to be broadcastin

[2016-02-01 15:21] DeerSpotter opened #2916 "Contacts not accurately portraying online status"
![desktop](https://cloud.githubusercontent.com/assets/16710090/12721420/c211c430-c8cd-11e5-8125-79c8299c8142.JPG)

It keeps jumping the contacts on the screen of the tox application. The away and online presence is not working correctly. Also the notifications are not being sent. it just opens up the window and we have to search for the circle. which in my list you can see can be difficult.

[2016-02-01 15:30] ovalseven8 commented on #2909
Isn't it contact blocking?

[2016-02-01 15:31] DeerSpotter opened #2917 "Clicking on Qtox Icon on desktop tries to open separate instance"
Clicking on the icon on desktop shortcut tries to open up a separate instance and it doesn't do it. loading the same profile fails. Which is good. But we would like it to just quickly open a opened program instead.

Any way of actually opening the program just as if you clicked it in the notification task bar?

[2016-02-01 15:38] TheNain38 commented on #2909
Yes, friend request comming from a certain Public Key that is blocked shouldn't appear. I think it should also be done, so contact blocking would be complete? @agilob

[2016-02-01 15:49] LuccoJ commented on #2909
It's similar from an end-user point of view, but probably not from the developer's point of view. We do already have NOSPAM to deal with this, however...

[2016-02-01 15:56] TheNain38 commented on #2909
@LuccoJ I think he meant, that even when knowing the NoSpam, you shouldn't see friend request from the blocked contact.

[2016-02-01 16:14] zetok commented on #2909
@LuccoJ

Err, wiki isn't wrong, wording is slightly inaccurate though, and you should read the source it links to. Note though that it doesn't claim that your IP can't be found at all, it just says that if someone has only your ID, they can't associate it with your IP (unless you accepted their FR). Even that isn't _really_ true in all threat models, so.

Err, that's how p2p works. And no, it's no

[2016-02-01 16:28] zetok commented on #2917
Your OS, etc?
https://github.com/tux3/qTox/blob/master/CONTRIBUTING.md#must-read

[2016-02-01 16:31] TheNain38 commented on #2917
@zetok He want a single instance mode in qTox, because for now, if you reopen qTox, it will open another instance. You would need to add another setting...

[2016-02-01 17:18] DeerSpotter commented on #2868
removed useless comment.

[2016-02-01 17:34] ProMcTagonist commented on #2917
~~iirc long term plan is to remove multiple instances and handle multiple profiles online at once inside qTox, but don't quote me until i can cite an issue number and comment~~

[2016-02-01 17:38] ProMcTagonist commented on #2916
he went offline to you, changed his status to away, and came back online, so you detected him as "online" as soon as you reconnected and then he sent his away status to you within the same second, I'm guessing

the going-off-and-online is related to toxcore networking stability and adaptivity which is being worked on

[2016-02-01 17:56] zetok commented on #2917
@ProMcTagonist

Err, not really, it was decided that doing multiple IDs would be too complex & complicated, and thus making multiple instances supported.

[2016-02-01 18:09] ProMcTagonist commented on #2917
yup, not sure where I remembered that from, I've found tux3 detailing why it's impossible hell in #1018 so nevermind

[2016-02-01 18:19] sudden6 commented on #2895
what would dropping 32bits improve?

[2016-02-01 18:21] zetok commented on #2916
@ProMcTagonist

Um, no.

There appears to be some mishandling done by qTox.
e.g. what one sees when
- friend sets status to `Away`
- friend disconnects and connects again

[code]

↑ note the ~1.1ms of delay between toxcore informing about friend coming online (`FriendConnectionStatus`), and toxcore informing that friend's status is `Away` (`FriendStatus`). Plenty of time for qTox to do something.

[2016-02-01 18:55] ghost opened #2918 "Show days a different colour if they have chat history to load from them in the calendar which shows dates to load chat history from"
Currently if one want to load their previous chat history, they have to right-click on the chat and go to the "Load History Dialog" which allows one to load one's previous history, however if one does not know which day has their last history, or the history they want to load, then it could take a rather long time to track it down. So I think that it would be really good if the numbers which indic

[2016-02-01 19:02] ByteCommander commented on #2918
I concur. That annoys me as well.

Another improvement would be to even write the number of posts into the calendar fields, or at least somehow indicate the magnitude (fill the field green for 1-20, yellow for 21-100, orange for 101-300 and red for 300+ or something like that).

[2016-02-01 19:37] ProMcTagonist commented on #2918
@ByteCommander good concept, we should maybe do it with differently-sized colored circles on those dates because of colorblind users

[2016-02-01 19:42] ProMcTagonist commented on #2895
we aren't dropping 32-bit builds

[2016-02-01 22:46] torvn77 commented on #2913
Debian jessie
 // I removed a few screens long list of installed packages, ~agilob

[2016-02-02 04:44] yurivict opened #2919 "UI gets frozen when user hits 'Export' button (in Profile section) and then 'Ok' or 'Cancel'"
Version 1.2.2 from port on FreeBSD-10.3 with kde4.

CPU isn't 100%. But mouse clicks don't work. Can't exit. Have to kill the process.

Profile doesn't get saved in case of 'Ok'.

[2016-02-02 07:05] zetok commented on #2919
Update your qTox. It's really outdated.

[2016-02-02 08:16] ghost commented on #2917
Sounds like Windows. I can reproduce in Win XP x32 and Win 7 x32 boxes.

---

Happens with both portable and installed qTox. The problem relies in the exe, not the shortcut.

[2016-02-02 08:27] fmvin opened #2920 "qTox "Not responding" after update on OS X version 10.11.3"
Application cannot start after Mac was updated to OS 10.11.3

qTox was installed from `qTox-OSX-1.2.4.307.dmg`

[2016-02-02 08:31] agilob commented on #2919
FBSD ports are out of date...

[2016-02-02 08:40] fmvin commented on #2920
OS X log attached [osx_log.txt](https://github.com/tux3/qTox/files/113599/osx_log.txt)

[2016-02-02 09:29] bhelm commented on #1807
yesterday i asked a friend why he is'nt online at tox, and he complained that tox does not store passwords without any reason and therefore does not autologin.

while writing this, i just noticed that the qtox profile creation Dialoge does not require to specify a password, but that is not obvious. if you are a skype user and not familiar with tox, you expect the profile creation dialog to sign yo

[2016-02-02 09:31] zetok commented on #2920
It's kinda weird that it says that it's a `1.2.2` version, even though 26e7bde was not included in `1.2.2` and AFAICS it's only available on master. I guess that it should say `~nightly`,  @RowenStipe ?

[2016-02-02 09:49] zetok commented on #1807
Yes, it was designed that way - i.e. no one can force user to use a password, but on the other hand, choosing a **not secure** option should be non-obvious.

Right, thanks for reminding to close this issue - it was fixed in #2818.

(also, looks like windows release is outdated)

[2016-02-02 09:49] #1807 closed, assigned to nobody

[2016-02-02 10:17] tux3 commented on #2920
That's because 1.2.2 was tagged on master then merged on stable, but all the other tags were made directly on stable so the last tag on master is 1.2.2. I guess I could pick some arbitrary commit on master and tag it "nightly".

[2016-02-02 11:21] zetok commented on #2920
Err.

Eh, from what I see then, tags/versions as they are, they're ~useless. And adding some arbitrary `nightly` tag would only make things even messier.

[2016-02-02 11:32] RowenStipe commented on #2920
~~I'm not sure where in the code it's getting that it's version 1.2.2 when I'm building it with the master branch.~~ tux3 answers it.

But as for the issue, @fmvin could you use Terminal to launch qTox and see what is happening?
In terminal `cd` to the dir your running qTox from and do `./qTox.app/Contents/MacOS/qtox` to start qTox.

I honestly can't tell you what's wrong from your log alone.

[2016-02-02 12:01] fmvin commented on #2920
Please take a look:

[code]

[2016-02-02 12:55] agilob commented on #2920
you have qtox already running in background. Looks like OSX bug, to solve it `killall qTox`?

[2016-02-02 12:58] fmvin commented on #2920
[code]

After reboot the same effect...

[2016-02-02 13:14] zetok commented on #2920
@agilob even if qTox was already running, launching it "again" should result in current qTox instance being brought to foreground.

as for killing the process, shouldn't that be `killall qtox` (lowercase)?

[2016-02-02 19:10] ghost commented on #2918
There is still a remaining problem, imagine that the last time you spoke to one of your contacts was a few years ago or something, and you don't just want to click back through the calendar for a long time to load up the previous chat. So I think that there should also be a button to load all the chat from the last day that you spoke, and then the button should allow you (if clicked again) to load

[2016-02-02 19:16] ProMcTagonist commented on #2918
#2013

[2016-02-02 19:29] ghost commented on #2918
@ProMcTagonist, Well, I don't get a button like that, nor do I have it dynamically loading chat... Were chose changes actually implemented?

[2016-02-02 20:04] LittleVulpix commented on #2920
Something similar just happened to me on my windows machine.

W7 x64 (connected to a domain).

qtox worked there without any issues. When I started it, it said there is an update and that if I wanted to download it. I said yes and used it, but then didn't restart it. Just shut it down and turned off my PC.

Next day I started qtox and it didn't load. The qtox window came up but it was completely e

[2016-02-03 01:17] ProMcTagonist commented on #2918
no, it's closed and split, read it

[2016-02-03 06:09] yurivict commented on #2919
I submitted an update to 1.2.4.
And the problem is indeed gone.

[2016-02-03 06:09] #2919 closed, assigned to nobody

[2016-02-03 06:13] RowenStipe opened #2921 "[Discussion] Create our own notification system pop-up"
In my research into trying to make heads or tails of https://github.com/tux3/qTox/pull/2771

To make it work properly on my own system, let alone others, I've come to the conclusion that "Native" Notifications would be very frustrating; and much alcohol would be consumed.
So since notification popups are something that users are interested in having. I'm proposing we attempt to accomplish it by cr

[2016-02-03 09:16] agilob commented on #2921
I made a working prototype in like 3hours... I also used borderless window + transparency, some days later my device was stolen https://github.com/tux3/qTox/issues/483#issuecomment-59916964

[2016-02-03 11:27] RowenStipe commented on #2921
... Wow That sucks major balls. =(

[2016-02-03 12:05] agilob commented on #2921
I can try to find a backup somewhere on old drives, but it was really 2-3hours to create a prototype. I can do it again, the bigger problem was testing on different envs, OXS, Windows, Gnome, kde4/5... and inserting notification system into existing codebase. Adding it to dozens of actions like group invite, friend invite, call etc. If you want to take care of it will create a branch this week wit

[2016-02-03 15:33] RowenStipe commented on #2921
Well, if you don't mind working out the basic borderless window prototype, I certainly wouldn't mind figuring out inserting it into the current code base and setting it up to actually function.

[2016-02-03 17:46] ghost commented on #2530
Maybe the title should be changed, because this issue does not only apply to Kubuntu, nor Ubuntu.

[2016-02-03 19:14] vjay82 commented on #1655
I tested this today with the current release 1.2.4.307 on OS X.
I used 2 Laptops in different rooms. Audio Filtering was enabled in qTox. I called the other laptop and  accepted the call there and immediately got the loudspeakers blasted out by the feedback loop.
What exactly does the Audio Filter checkbox stand for?
Sadly this way qTox is still no alternative to Skype :(

[2016-02-03 22:21] ProMcTagonist commented on #1655
isn't filter_audio @irungentoo's?

[2016-02-03 22:41] programizer commented on #2342
@zetok Yes, I am using qtox-unity. (And yes I meant logging out via profile page.)
I think, what's really going on (the real problem) is the following:
- After logging out the qtox **symbol disappears from the ubuntu system tray**.
- After logging in it **doesn't reappear** again as it should.

[2016-02-04 03:58] anoadragon453 commented on #2921
I can test Windows, OSX, Gnome, XFCE.

[2016-02-04 09:04] agilob commented on #2921
Can't promise because I have others projects going on right now, but I can start it on Saturday/Sunday, I'll provide a link here later.

[2016-02-04 09:07] azymohliad opened #2922 "Add fullscreen mode in videocalls"
I think it would be very usefull feature. Especially for small screens.

[2016-02-04 10:11] ghost commented on #2921
Count me in for Cinnamon (and KDE, but that's most likely covered).

Adapting qBittorrent's code is not an option?

[2016-02-04 10:39] agilob commented on #2921
Does qbittorent has notification? oO Never seen any. Might give it a try, qBT has very good quality code, but we need notifications with buttons (Yes/No, Accept/Cancel, Answer/Reject).

I have KDE5 on arch and xfce4 on FBSD ;) afair Cinammon had a lot of problems handling transparent Qt windows.

[2016-02-04 11:06] RowenStipe commented on #2921
After doing a big of digging, I've come to the conclusion that core.cpp is the perfect file to place hooks for a notification back end since it deals with everything that would need a notification.

[2016-02-04 12:51] ElLamparto commented on #2922
Agreed 100%!

[2016-02-04 14:11] Aleksandra13 commented on #2852
Thank you! That helped. It would be nice to have such feature integrated int client.

[2016-02-04 14:11] #2852 closed, assigned to nobody

[2016-02-04 14:15] bhelm commented on #2921
using custom notifications instead of native ones is a good idea, especially because of the flexibility this offers.

i can imagine situations when native notification they are still nice because they are part of a larger ecosystem. i guess there are plugins that can do nice things with system notifications.
the linux skype allows you to enable both skypes custom and native notifications at once.

[2016-02-04 14:38] LuccoJ commented on #2921
I can imagine that in _most_ situations it's nicer to use system notifications... there is a reason notifications are almost universally a part of the core environment, and often tweaked and improved by projects like GNOME and KDE.

Actually, have a look at GNOME's notification system when used by Empathy: it actually lets you _reply to messages from inside the notification!_

[2016-02-04 14:56] zetok opened #2924 "~All elements of the login window should be automatically resized to fit translated strings"
Or something. (Ideas?) Currently, e.g. with the Ukrainian translation:
![translation](https://cloud.githubusercontent.com/assets/3148759/12818550/43cccfb4-cb4f-11e5-86c5-847c8de3dcf0.png)

[2016-02-04 15:02] ovalseven8 commented on #2924
Related to https://github.com/tux3/qTox/issues/2091

[2016-02-04 15:10] Aalexeey opened #2925 "Crash using version above qtox_389-1757dfb_i386.deb"
The video camera is looks like a reason, the Audio/Video tab is crushing when camera is choosen.

[2016-02-04 16:01] octonet1 opened #2926 "Voice goes silent after some minutes of talking"
I use 2 computers one desktop 64 bit with qTox the other 32 bit uTox all windows.
On the 64 Bit vista qTox there is under unknow conditions short the talking possible than is most time off, No ringing to hear from the partner
on the 32 Bit Windows 7 is the phone green and i can hear the partner but he hear me not after some minutes i can hear him also not more, the ringing is OK.
adjusting the vol

[2016-02-04 17:54] anoadragon453 commented on #2921
@LuccoJ No reason we couldn't have quick-reply functionality within our custom notifications.

[2016-02-04 18:24] agilob commented on #2921
There is also no reason why use we use custom, own theme, when we could just use standard system default skin.

[2016-02-04 19:03] yurivict opened #2927 "Need to display the date better in the conversation history"
I am looking at the conversation history from few days ago, and can't easily tell what date was that.

Timestamp rolled over from PM to AM, and no new date was printed. Need to always print the date line, even if user only goes online/offline. qTox should only skip the date when nothing happened at all.

Additionally, I suggest the date should be printed with the gray horizontal line having a bold

[2016-02-04 20:09] sudden6 commented on #2926
did you setup the audio devices correctly?
Did you try to disable audio filtering?

[2016-02-04 21:17] ProMcTagonist commented on #2921
The reason is outlined in the OP. It's a pain to integrate all the different platform-appropriate notification systems.

[2016-02-04 22:53] DeerSpotter commented on #2916
looking at this in depth, un-checking UDP in connection settings and pressing reconnect stops the contacts jumping around and accurately portrays online status. can somebody else try to test and see if same thing?

Keeping only UDP checked and not IPv6 makes everything go crazy... it could be just coincidence.

[2016-02-05 00:00] DeerSpotter commented on #2917
here is a C# equivalent of opening a instance that is open already, and if not open a new instance.

[code]

[2016-02-05 00:21] DeerSpotter commented on #2917
found out that creating a shortcut like so: "C:\Program Files\qTox\bin\qtox.exe" -p "tox_save"
auto opens the profile (in my case called: "tox save")

[2016-02-05 10:37] ruslo opened #2928 "qTox is not starting on Ubuntu 14.04"
Hi,

I can't start qTox on my Ubuntu 14.04 machine. Here are steps to reproduce:

[code]

Log messages: https://gist.github.com/ruslo/8153c9b852ee18fd6def

So it seems to start but I see no windows.

[2016-02-05 16:08] DeerSpotter commented on #2916
okay so unckecking anything and pressing reconnect makes the issue go away, ill monitor further to see how this conducts itself.

[2016-02-05 16:17] DeerSpotter commented on #2669
i can confirm on Windows that this also happens to me. What i found that worked is update it 2 times force restart update, restart, update, restart, press no to update, restart and walla.

[2016-02-05 16:21] DeerSpotter commented on #2921
i would love to test windows notifications as soon as possible, count me in. I have 14 computers running windows 10 with the client installed.

[2016-02-05 16:25] DeerSpotter opened #2929 "[QUESTION] Would setting a proxy server decrease latency?"
Can i set up a proxy server on my LAN and have all the clients go through that proxy to reduce lag on bandwidth and just use the infrastructure  (localhost only)?

Or do i need to set up a Tox server locally and just use that in my clients?

[2016-02-05 16:33] ghost commented on #1310
I'd really love having the IRC-style too.

[2016-02-05 16:57] khallebal opened #2930 "build failure with Haiku"
Hi
I just started porting qtox to  haiku, so i need some guidance as to what could trigger the below error.
Using gcc-4.8.5 & Qt-5.5, I'm getting this error at some point of the compiltation:

/.self/mkspecs/haiku-g++ -o privacyform.o src/widget/form/settings/privacyform.cpp
In file included from ./src/core/coreav.h:37:0,
                 from src/widget/form/settings/generalform.cpp:27:
./src/cor

[2016-02-05 18:53] sudden6 commented on #2930
do you have https://github.com/irungentoo/toxcore installed where the compiler can find the headers?

[2016-02-05 18:55] sudden6 commented on #2929
Setting up a proxy will certainly not reduce latency, because it adds another hop for the data.

I don't understand what you mean with the rest, please clarify.

[2016-02-05 21:42] khallebal commented on #2930
Yes the toxcore & toxcore-devel pkgs are in the system paths.
Could there be something wrong with the toxcore pkg? any other ideas?

[2016-02-05 21:57] zetok commented on #2925
@Aalexeey could you provide more info about the hardware you have?

[2016-02-05 21:58] zetok commented on #2927
Was supposed to be done in chatform #2013

[2016-02-05 22:05] yurivict commented on #2927
Observing in qTox-1.2.4

[2016-02-05 22:25] zetok commented on #2928
Could you check with `qtox-unity` version?

Did it refuse to work properly during the first start on a clean box, or were you starting with some other, already existing profile, which seems to be the case, according to log?

Did it work with earlier versions, or..?

[2016-02-05 22:27] zetok commented on #2669
@DeerSpotter same qTox (updater) version, or..?

[2016-02-05 22:41] zetok commented on #2930
Yes, you seem to have there toxcore build without support for A/V.

https://github.com/irungentoo/toxcore/blob/master/INSTALL.md#av ← not sure whether applicable

[2016-02-06 00:09] khallebal commented on #2930
I wish it was that easy! i just double checked the toxcore pkgs and all the libs & headers are present. i built them myself using the haikuporter tool with AV support.
Do i need to change anything in the qtox.pro file that is related to this error msg?

[2016-02-06 00:34] ProMcTagonist commented on #1310
Could be done entirely with CSS chatform themes. We could ship with a couple, like SMS bubbles and IRC.

[2016-02-06 05:31] anoadragon453 commented on #2921
Well our own notification system would probably be both faster/easier to get working and potentially have more functionality, so I say we start with that method.

[2016-02-06 05:57] ruslo commented on #2928
I've downloaded this version:
- https://build.tox.chat/job/qTox-unity_pkg_linux_deb_x86-64_nightly_release/397/artifact/qtox-unity-amd64-420-49b8a48.deb

and it works, I think you should place this link to the main page.

[2016-02-06 09:37] Aalexeey commented on #2925
Samsung SyncMaster 963uw monitor integrated audio/web-camera  (Samsung UC Audio Analog stereo/Vega USB 2.0 Camera.).

[2016-02-06 15:44] agilob commented on #2921
https://gitlab.com/agilob/qfiction

Please test if transparency and position of widget is correct, it should be like that:
![screenshot_20160206_154338](https://cloud.githubusercontent.com/assets/2544251/12867556/6c42d6ec-cce8-11e5-9c88-eee3c0957c1a.png)

So far it's mostly UI mockup, no functionality, will do some more work later today and tomorrow.

[2016-02-06 17:42] ddobrev commented on #2820
@tux3 I can see you have little time indeed. So I think you could perhaps break this issue up. You could implement it one platform at a time. For example, if you did "just" for Windows, this would critically improve the experience of at least 70 % of all your users. What do you think?

[2016-02-06 17:55] ghost opened #2931 "qTox allows messages which appear empty to be sent"
I have recently noticed that if I press <kbd>SPACE</kbd> in a message, so that there is a space there, it counts that as a message and allows me to send it, most IM programs don't allow the sending of blank messages, or at least, ones that are only populated by space(s) and appear blank. So I don't think that qTox should either.

[2016-02-06 18:03] agilob commented on #2931
qTox does not modify user input or output, if you decide to send space, it's your will.

[2016-02-06 18:03] #2931 closed, assigned to nobody

[2016-02-06 18:22] ghost commented on #2931
It's probably a good practice not in modify user input or output as a privacy conscious program in general, but not even preventing spaces from being sent is a little over the top, I mean, how could anyone abuse that? And sending spaces would probably be just a form of easy spamming...

[2016-02-06 18:28] TheNain38 commented on #2931
@SeventhSonOfASeventhSon If I wanted to spam you, I would use a bot. Also, you can't prevent people from spamming on the sender side

[2016-02-06 18:30] ghost commented on #2931
@TheNain38, I suppose not, but it just feels strange to me that it allows me to send spaces...

[2016-02-06 18:33] TheNain38 commented on #2931
@SeventhSonOfASeventhSon Anyone can modify the code and then recompile qTox. You don't implement protections on the sender side, you implement protections on the receiver side. Else, it's a useless protection

[2016-02-06 18:48] ghost commented on #2921
I wanted to pitch in since I'm also interested in this feature. My initial preference would of course be native notifications, but if there are no wrapper libraries that handle all the specific back ends for you, I understand that this can be a pain to maintain. Would it perhaps be an option to somehow offer best of  both worlds? This would include not supporting specific back ends, but exposing s

[2016-02-06 19:32] sudden6 commented on #2930
toxcall.h looks for toxav in `tox/toxav.h` that means you need should have a file `$defaultIncludePath/tox/toxav.h`, where $defaultIncludePath is something specific to haiku.

If `toxav.h` isn't there, you didn't correctly install tox with A/V support. If these files are somewhere else, you have to move them or correct your $IncludePath.

This should give you some keywords to look for in the inter