[2015-08-26 23:12] Zer0-One commented on #1432
I don't like the idea. If I type two dashes next to each other, I expect them to stay that way.

Implementing this means that we need to provide a way to toggle it on and off, and until we have something like Firefox's "about:config", we are pretty much already out of real-estate on the settings window.

[2015-08-27 06:34] dmnord commented on #2116
After fetching the latest source code It  builds well.
Thanks!

[2015-08-27 06:34] #2116 closed, assigned to nobody

[2015-08-27 08:40] zetok commented on #1465
Perhaps #2013 would help with it.

[2015-08-27 09:33] ovalseven8 opened #2122 "Two keys on keyboard don't work with qTox"
Hello,

on my (German) keyboard, two keys don't work:

![Key 1](https://i.imgur.com/6eCqNBw.gif)
The '°'-char is working, but '^' doesn't work

![Key 2](https://i.imgur.com/bfBxIae.gif)
This key doesn't work at all

Perhaps someone can test it again.

[2015-08-27 10:25] roberdorfer opened #2123 "SIGSEGV when trying to video call someone"
Is soon as he accepts my call, my client crashes.

Arch linux 64 bit.

[2015-08-27 10:29] roberdorfer commented on #1055
Seems to be fixed, at least I couldn't reproduce it anymore.

[2015-08-27 10:29] zetok commented on #2122
Can someone else reproduce?

qTox itself doesn't really have any limitations on input text, so I suspect that it's an upstream (Qt) issue.

[2015-08-27 11:03] zetok commented on #235
@agilob actually, this is not a toxcore issue. It's an issue with qTox providing broken functionality.

Thing is, toxcore is not going to provide IDs of friends, and it's like that purposely.

It's up to qTox to not provide broken things that are not going to work. → reopening.

[2015-08-27 11:26] ovalseven8 commented on #2098
Next issue:
1. File transfer in conversation -> https://i.imgur.com/mFLEUZh.png (Language: German)
2. Change language to, for example, English
3. Language didn't change for file transfer -> https://i.imgur.com/mFLEUZh.png

Only for the **next** file transfer in the chat the language is changed to English. So, there is no equality.
Language should change completely.

[2015-08-27 11:30] ovalseven8 opened #2125 "Remove downloaded/uploaded files from list"
Hello,

what I am missing is the option to remove all or single Uploads/Downloads **in the list** of all file transfers.

Would be convenient.

[2015-08-27 11:37] agilob commented on #2098
edit you comment and upload images to github.

[2015-08-27 11:40] agilob commented on #2123
Version of qtox? What client and version second user has? We need more info.

[2015-08-27 11:41] agilob commented on #1055
It's reproducible when one of the users has slow upload ;/

[2015-08-27 11:41] roberdorfer commented on #2123
r3155.ce2c830-1 this is my version. The other guy has qtox as well, but no idea about the version, maybe I can find out.

[2015-08-27 11:42] ovalseven8 commented on #2098
Done. :wink:

[2015-08-27 13:21] ghost commented on #2122
Noticed it too with binaries from ~3 days ago.
Maybe relevant: I upgraded Mint from 17.1 to 17.2 shortly before the problem started.

[2015-08-27 13:50] sudden6 commented on #2122
works on my system
openSUSE Tumbleweed

![grc-graph1](https://cloud.githubusercontent.com/assets/5585762/9522074/d266c5a0-4cd2-11e5-8fe9-579644606650.png)

built from:
git b02cf2dbc7ad97af3e8429ff454124ba986837d9

Have you tried entering "^^" and for example "´a" and "`b" ?
Because I think this is how the keys normally work, they must be used in combination with letters.

[2015-08-27 13:55] zen2 commented on #2102
I think too that share desktop should be a distinct button.
It's definitively not intuitive to go to Settings/Video options since for most people that means webcam.

Another option is to have a slide icon on the video button like tje screen shot option that slide from "send attachment" icon.

[2015-08-27 15:02] zetok commented on #2123
@RoBi89 that's terribly outdated. Closing; if you will be able to reproduce with newest qTox, please comment for reopen.

[2015-08-27 15:02] #2123 closed, assigned to nobody

[2015-08-27 15:06] zetok commented on #2102
Yes, that's how it's supposed to be done.

[2015-08-27 16:09] ghost commented on #2122
@sudden6 yes, no variant works.

Tested again with the latest build bae8a0d0c868d77ca083556c66575e63e4cbcc48

QMake 3.0
Qt 5.2.1

[2015-08-27 16:19] zen2 opened #2126 "Own voice as echo while both users are using headset"
Brief Description:
I hear my own voice as echo while my contact and me are using headset !
I've test it:
- with/without "+20db" switch of my sound card
- with/without "Filter audio" switch
- with a contact on macosx and another on linux

Notes:
- if my contact raise the general volume, the echo volume raise too.
- no specific additional echo but expected one with EchoBot
- my contacts don't have t

[2015-08-27 16:51] sudden6 commented on #2122
@ovalseven8 @kehugter may you please add your OS version?

I highly suspect a qt/OS misconfiguration.

[2015-08-27 17:09] ovalseven8 commented on #2122
Tested with Lubuntu 14.04; Commit-Hash https://github.com/tux3/qTox/commit/395aeb12b2b533aebc8b2cf290a5aec50bed1839;

[2015-08-27 18:22] ghost commented on #2122
Mint Cinnamon 17.2

[2015-08-27 20:30] agilob commented on #2122
SO both Mint Cinnamon 17.2 and Lubuntu 14.04 are affected? I can't reproduce on arch with plasma.

[2015-08-27 20:34] agilob commented on #2121
https://github.com/tux3/qTox/issues/1458

[2015-08-27 20:34] agilob commented on #2126
Just for reference: https://github.com/tux3/qTox/issues/1655 https://github.com/tux3/qTox/issues/820

First implementation: https://github.com/tux3/qTox/pull/875

[2015-08-27 22:26] dcapeletti commented on #1716
What is the status of this application?

[2015-08-28 06:34] agilob commented on #1716
how would that be implemented? detect what's under ctrl+v and if string ends with .jpg|png|bmp sent as file?

[2015-08-28 07:25] zetok commented on #1660
Closing, since it's a duplicate.

[2015-08-28 07:25] #1660 closed, assigned to nobody

[2015-08-28 08:36] ovalseven8 opened #2127 "Screenshot function: Few words cut off"
Hello,

the 'Escape'-word is cut off with the new 'Hide qTox window'-function.

Reproduce:
1. Click the screenshot button
2. Make a selection
3. Then the following is displayed:
![bildschirmfoto 2015-08-28 10 28 33](https://cloud.githubusercontent.com/assets/8258609/9542313/f0341108-4d6f-11e5-82e9-92997df625dc.png)

Environment: Ubuntu Unity 14.04.3
Commit-Hash: https://github.com/tux3/qTox/commit

[2015-08-28 08:41] ovalseven8 commented on #2122
@agilob: Ubuntu Unity 14.04.3 and Lubuntu 15.04 are also affected.

[2015-08-28 10:57] zetok commented on #1530
Should be fixed now - use static binaries.

[2015-08-28 10:57] #1530 closed, assigned to nobody

[2015-08-28 10:59] zetok commented on #1532
Note: toxcore currently allows that;
Way to implement: https://github.com/irungentoo/Tox_Client_Guidelines/blob/master/Important/File_Transfers.md

[2015-08-28 12:08] agilob commented on #1530
Using static binary downloaded manually is not a solution, it must be fixed in .deb in repository.

[2015-08-28 12:09] dcapeletti commented on #1716
Telegram PC has implemented this functionality. When the user presses Ctrl+V and clipboard content is an image, it is sent as an image file.

[2015-08-28 12:10] agilob commented on #2122
which version of qt do you have?

[2015-08-28 12:11] agilob commented on #1716
maybe it would be better to detect if string is a file, not only for images? if string starts with `file://` start new file transfer?

[2015-08-28 12:19] dcapeletti commented on #1716
It is good idea to extend files.

[2015-08-28 13:11] DanTheBritish opened #2129 "Webcam is no longer detected in latest build"
OS: Xubuntu 15.04
Kernel: 4.1.4-040104-generic
qTox commit: 7a8512e5d4a4f9b4fbbe4d1e980424387bbd65ae

[code]

![Screenshot](http://imgur.com/fqqlHFBl.png)

[2015-08-28 13:15] DanTheBritish commented on #1716
If copying an image from the clipboard, does that register as a `file://`? If it doesn't then it must have another identifying factor to indicate its a file not a text string. If that's the case, then it could be possible for pasted files to be embedded into the chat rather than trigger a file transfer which must be saved to disk and opened externally.

[2015-08-28 14:03] rugk commented on #1716
That's not what is asked for in this issue, but it's also a nice idea.

Yes, this is the idea. Although I don't know if this really uses some kind of `file://` protocol.
I think at least on Windows this is handled differently.
Maybe have a look at this:
- https://msdn.microsoft.com/en-us/librarysystem.windows.forms.clipboard.getimage%28v=vs.110%29.aspx
- https://stackoverflow.com/questions/998655/

[2015-08-28 14:23] zetok commented on #2127
Can't reproduce on Gentoo under i3wm

[2015-08-28 14:27] zetok commented on #1716
IMHO that's not really a good idea.

[2015-08-28 14:29] zetok commented on #1530
@agilob in a repo that no one working on qTox has access to?

Edit: I know that downloading static binaries manually is far from being good, but thing is, I don't see how qTox maintainers could do anything with things related to repo `:(`

[2015-08-28 14:35] zetok commented on #1547
Are you really sure that it was qTox that created it?

Also, could you provide more info and see if problem is reproducible on newest qTox builds?
You probably will want to read https://github.com/tux3/qTox/wiki/Writing-Useful-Bug-Reports

[2015-08-28 14:36] zetok commented on #1548
Is this still reproducible on newest builds?

[2015-08-28 14:37] zetok commented on #1549
Is this bug fixed? And if so, shouldn't it be closed?

[2015-08-28 14:41] zetok commented on #1563
#2013 should partially tackle this issue by adding side view of groupchat peers. Sadly (as of now) it still keeps broken view, and what's worse, it uses it as default one.

[2015-08-28 14:42] zetok commented on #1565
Things most likely should have changed with new versions of filter_audio, testing again may be needed.

[2015-08-28 14:43] zetok commented on #1566
#1938 should close this issue.

[2015-08-28 14:45] zetok commented on #1580
Um, it probably would be better to make that ~5-10s.

[2015-08-28 14:48] zetok commented on #1583
What OS/DE? Is it still reproducible on newest builds?

[2015-08-28 14:49] zetok commented on #1586
@agilob can it be closed now?

[2015-08-28 14:54] zetok commented on #1594
So.. were the issues fixed, and can this be closed now?

[2015-08-28 14:57] zetok commented on #1600
Currently available builds use Qt 5.5 and 5.4.2, could you check whether it works for you?

[2015-08-28 15:16] tucnak commented on #1594
Sure!

[2015-08-28 15:16] #1594 closed, assigned to nobody

[2015-08-28 15:22] zetok commented on #1652
Due to changes, max size of emoticons is being dynamically calculated based on environment.

I think that the same could be done on the first launch (when there's no profile) for "default" size of emoticons..?

@PKEv ↑ ?

[2015-08-28 16:01] zetok commented on #1655
That's basically what filter_audio is supposed to do. I think that lately it got better (still not perfect though). Might want to test things again?

[2015-08-28 16:08] zetok commented on #1659
if #2013 was removing top view, this issue would be closable.

[2015-08-28 17:03] zetok commented on #2126
um.. if that's a duplicate, shouldn't it be closed?

[2015-08-28 17:51] agilob commented on #2126
keeping open because different issue provide different information...

[2015-08-28 18:27] #1514 closed, assigned to nobody

[2015-08-28 18:28] agilob commented on #1548
afair all those issue reported by @Draako were related to migration to new toxcore and he had a problem with RW permissions. We fixed issues on chat, but I told him to report it anyway.

[2015-08-28 18:30] agilob commented on #2127
What is your screen resolution?

[2015-08-28 18:33] agilob commented on #2129
No such commit ;)

Anyway, this might be dependent on ffmpeg. Did you upgrade it recently?

[2015-08-28 18:36] agilob commented on #1716
What if image is copied as base64? Should we detect base64 strings, save them as temporary file, send the file and delete after transfer is done?

The thing is, if you have a bitmap in memory, like copied pixels, we must save them as files, send as file transfer and delete.

[2015-08-28 19:02] agilob commented on #1716
why?

[2015-08-28 19:59] ovalseven8 commented on #2127
Don't think that it has something to do with the screen resolution. Did some further testings:
On the same machine with Lubuntu 15.04 I also couldn't reproduce it.

Perhaps only a Ubuntu Unity issue? Would be good if more people test it...

[2015-08-28 20:12] agilob commented on #2127
We can shorten this text to something like "Press Esc to quit, Spacebar to hide qTox window and Enter to capture image"

[2015-08-28 20:29] TheSpiritXIII commented on #1261
My OS X improvements added the menu action. I'll take a look at it.

[2015-08-28 20:38] zetok commented on #2127
1920x1080

[2015-08-28 20:44] zetok commented on #1716
Thing is, one can never be certain that they do have in clipboard what they want - I for one wouldn't want to try to paste text, just to find out that I've actually pasted "link" to `file:///`, which was automatically sent by qTox.

That would be a very annoying thing.

With that being said, I see no reason to not implement it, provided that user would be required to give an interactive consent fo

[2015-08-29 08:28] vessd commented on #1583
Archlinux current
Xfce 4.12 (greybird 1.6.1)
qt5-base 5.5.0
qtox-git r3372.7b3ddff-1 (pkg from aur)
![_2015-08-29_11-23-17](https://cloud.githubusercontent.com/assets/8783865/9561112/e288fdbc-4e40-11e5-8347-4bbdb3592f57.png)

[2015-08-29 08:58] ghost commented on #2129
In my case, the camera was only not automatically detected. I had to select the camera from the drop-down list. With older builds (~1 month) it was automatic.

[2015-08-29 09:01] agilob commented on #2129
Did we recently add anything that modified video devices? I can't recall it...

[2015-08-29 11:46] #2121 closed, assigned to agilob

[2015-08-29 12:50] zetok commented on #2129
@kehugter was there earlier a way to set up `None` camera input?

[2015-08-29 13:15] agilob commented on #2129
There always was.

[2015-08-29 13:37] Jeeppler opened #2131 "qTox documentation - Faux offline messages"
Is there any qTox documentation which explains what Faux offline messages are and how it works?
Or can somebody explain that to me?

[2015-08-29 14:22] antis81 commented on #1530
I'm also suffering from this one (surprise, surprise). It's not because of me - I'm trying out qTox and expect these problems. OTOH I maintain several systems for friends and would like to recommend qTox to others as a reasonable replacement for Skype. This is currently a dream still :stars: ...

Btw.: There are several (closed) issues addressing problems caused by the missing/old ppa repo. Do we

[2015-08-29 14:33] antis81 commented on #1548
Seems to start fine on Linux (yeah, I know we have `.so` instead of `.dll`). Thus, I marked this issue for windows. Feel free to correct, if that is wrong.

[2015-08-29 14:55] agilob commented on #1548
It was related to migration to new toxcore api.

[2015-08-29 14:55] #1548 closed, assigned to nobody

[2015-08-29 15:57] antis81 commented on #1548
@agilob :+1:

[2015-08-29 16:10] agilob commented on #1549
I'm closing this because it was related to migration to new toxcore api and no one else reported it.

[2015-08-29 16:10] #1549 closed, assigned to nobody

[2015-08-29 16:10] agilob commented on #1547
I'm closing this because it was related to migration to new toxcore api and no one else reported it.

[2015-08-29 16:10] #1547 closed, assigned to nobody

[2015-08-29 16:24] agilob opened #2134 "List of features supported by toxcore, but not supported by qTox"
- [x] **migration to [new A/V API](https://github.com/irungentoo/toxcore/pull/1375)**
- [ ] Switching between audio/video without restarting calls (#1930)
- [ ] resuming file transfers (also across client restarts) (#1532) https://github.com/irungentoo/Tox_Client_Guidelines/blob/master/Important/File_Transfers.md
- [ ] automatic bitrate management provided from A/V API

[2015-08-29 16:27] agilob opened #2135 "segfaul when receiving file?"
zetok was sending me file when I got this:

[code]

[2015-08-29 17:17] antis81 commented on #2129
Same here ... no webcam (builtin iSight).

**EDIT:** Oh wait ... I can now select "builtin iSight" from the menu (default: none), but qTox directly "stalls/hangs".

[2015-08-29 17:35] agilob commented on #2135
I think this might be caused by KDE, was minutes before that crashed I cleared all system-and-user-wide cache like .kde cache, .local cache and others.

[2015-08-29 18:59] ProMcTagonist commented on #2131
Your friend receives them when they come online IF you are online at the same time.

[2015-08-29 19:23] ProMcTagonist commented on #1532
I can't wait for this. It would make bad connections so much less infuriating. As it stands I have to ask people to send image collections as tarballs and hope it gets through before they go off and on again.

[2015-08-29 19:33] ProMcTagonist commented on #2103
Currently it only hides. It should toggle.

[2015-08-29 19:40] ProMcTagonist commented on #1432
This belongs in a general sender-side text modification plugin which would enable this, bluetext, and/or whatever else you want, without phlubbing everyone else's qTox.

[2015-08-29 19:51] ProMcTagonist commented on #1307
@suhr that's exactly what I meant originally

[2015-08-29 19:51] zetok commented on #2129
Actually, that's not the case. For a long time there was no `None` "camera - first there was switch to ffmpeg, and desktop streaming was added, and after that, @tux3 added `None` as input device.

[2015-08-29 20:12] ProMcTagonist commented on #1300
@zetok

Keeping the bubbles in place in the chat form is practically useless (to the goal of figuring out who sent what) without a way to scan over them quickly per contact. That was my line of thinking. However I do understand if it's too specific for this issue.

@Zer0-One

Entirely my fault. A real designer would help implement the real one.

It's meant to slide out/over.

The transfers window

[2015-08-29 20:19] Draako commented on #1548
It starts fine now.

[2015-08-29 20:45] ghost commented on #2129
@zetok I couldn't tell. I never had to select anything, so I never looked at the list. I know that it was still auto-selected after the ffmpeg branch was merged tho.

[2015-08-29 20:52] antis81 commented on #2129
@zetok Probably this is a good case to test the `git bisect` tool. Never used it by myself though.

[2015-08-29 21:06] ghost commented on #2127
Works fine before and after making a selection on
Mint Cinnamon 17.2
Commit hash 97f61863084e8098e435ab05fedb80e3615610ed
1680x1050 and 1366x768

[2015-08-29 21:10] zetok commented on #2129
@antis81 https://github.com/tux3/qTox/wiki/Testing#regression-testing `:)`

[2015-08-29 21:16] agilob opened #2136 "`About` pages that need to be implemented"
Currently we have some "design flows" in qtox, like copy friend id, doesn't really copy id, or at least it can't be reused in other places, it's used only in verification process, so we need to change it, add widget like 'about user'... and more:
- [ ] `About <user>` contains information and settings related to a selected user - set auto-accept dir, clear history, more to circle, set alias, list p

[2015-08-29 21:41] agilob commented on #2131
I guess this can be closed?

[2015-08-29 21:43] agilob commented on #2086
This is still not implemented in toxcore...

[2015-08-29 21:51] zetok commented on #1683
@TheSpiritXIII were those a part of OSX improvements?

[2015-08-29 21:53] zetok commented on #1685
I think that avatars should not have rounded corners, or they should be better implemented - which is better?

[2015-08-29 22:13] zetok commented on #2131
Not quite - there should be some documentation for qTox users provided (I'm not sure in what form exactly though, any ideas?)

[2015-08-29 22:23] zetok commented on #1695
from #2098, thanks to @ovalseven8:

---
1. Go to the Tox settings and change the language
2. Switch to the 'Advanced' tab
3. The chat history settings (database) aren't translated completely

Screenshot:
![xquy766](https://cloud.githubusercontent.com/assets/2544251/9502504/a201edee-4c29-11e5-8dff-e804a9d02c80.png)

---

Same issue with Tox settings > 'General' > 'Date Format' for example

---
1. F

[2015-08-29 22:23] zetok commented on #2098
Closing, since it's a duplicate of #1695.

[2015-08-29 22:23] #2098 closed, assigned to nobody

[2015-08-29 22:48] #2118 closed, assigned to nobody

[2015-08-29 22:50] agilob commented on #2118
Ok, I fixed this, whole regexps detecting URI is improved now:

![snapshot4](https://cloud.githubusercontent.com/assets/2544251/9564789/b3c6d1b2-4ea8-11e5-90d9-91027dc1b247.png)

[2015-08-29 22:52] Jeeppler commented on #2131
### Faux offline messages

Your friend receives them when they come online IF you are online at the same time.

---

At least the main features should have an description. The user documentation should be in HTML (github pages). I would use a static site generator (Jekyll, Nanoc, Octopress etc.) to generate the the user documentation from markdown files.
The user documentation could be similar to

[2015-08-29 22:53] zetok commented on #1239
Current URL detection was improved in #2137;
![URL detection](https://cloud.githubusercontent.com/assets/3148759/9564802/e1ca615a-4ea8-11e5-9bcf-730deb42026f.png)

Can issue be closed?

[2015-08-29 22:55] Jeeppler commented on #1685
@zetok the rounded corners look ugly in combination with the layout of qTox. Another approach could be to use circles like Firefox OS or Google does it.

[2015-08-29 23:00] zetok commented on #1765
Is issue reproducible on OS other than windows?

[2015-08-29 23:06] zetok commented on #1807
It simply shouldn't be visible if encrypted profile is used.

[2015-08-29 23:09] zetok commented on #1791
Some time ago there were talks about using vpx to encode images instead of png - this allowed for really great quality of images, while preserving very small size.

This would need to be a change across clients, so it may be problematic.

[2015-08-29 23:14] zetok commented on #1098
from #1805, thanks to @PKEv:

---

Description:

Info:
OS: Win 7 x32

Reproducible: Always

Steps to reproduce:
1. in settings setup "Faux offline messaging"
2. send message to offline friend
3. restart app
4. message look like it was delivered then you restart app

What happened:
message look like it was delivered, but in fact no

What should happen:
message must  be undelivered and sended only t

[2015-08-29 23:14] zetok commented on #1805
Duplicate of #1098, closing.

[2015-08-29 23:14] #1805 closed, assigned to nobody

[2015-08-29 23:15] ghost commented on #2129
Could it be a one time thing? Tested again, freshly downloaded binary (0c6c28bfbb71f7f3cd452283565eacac11f6f1a1), existing and newly created profile. In all cases my camera was automatically selected from the list.

[2015-08-29 23:20] agilob commented on #1685
oh god, no pls

[2015-08-29 23:21] #1239 closed, assigned to nobody

[2015-08-29 23:23] agilob commented on #2129
As said before, I don't think this was anyhow related to qtox. If you could check if you had update from ffmpeg or linux-kernel or v4l2 that would help us ;)

Another scenario: camera device was locked when you turned qtox on, so it wasn't loaded on the list and preview couldn't be shown.

[2015-08-29 23:25] zetok commented on #1831
This was done some time ago, and user is available to choose whatever mode of operation they want through GUI; closing.

[2015-08-29 23:25] #1831 closed, assigned to nobody

[2015-08-29 23:27] zetok commented on #1832
Perhaps #2093 / #2094 PRs would help with this issue.

[2015-08-29 23:28] zetok commented on #2129
@agilob well, if @kehugter is using qTox binary from jenkins, then static ffmpeg 2.7.2 is used.

[2015-08-29 23:31] zetok commented on #1847
Should be fixed once new groupchats will be used.

[2015-08-29 23:38] zetok commented on #1857
Closing, since there rather than workaround qTox needs to fix whatever performance problems it has.

When there are performance problems, please report them.

[2015-08-29 23:38] #1857 closed, assigned to nobody

[2015-08-29 23:39] agilob commented on #1831
Do you still have that script that floods someone with thousands messages per second?

[2015-08-29 23:41] zetok commented on #1862
#2094 contains some hack that most likely would help with (close?)  this issue.

[2015-08-29 23:56] zetok commented on #1876
Closing, since it's a duplicate.

[2015-08-29 23:56] #1876 closed, assigned to nobody

[2015-08-30 00:01] zetok commented on #1899
Well, I don't think that this is an issue any longer, given that there are now static qTox builds; closing.

[2015-08-30 00:01] #1899 closed, assigned to nobody

[2015-08-30 00:03] zetok commented on #1901
Are instructions in updated INSTALL.md still insufficient?

[2015-08-30 00:07] zetok commented on #1906
That's the current behaviour.

Being able to have open multiple qTox instances by "power users" through `qtox -p $profile` switch is a feature and is not going to be removed.

Thus, closing.

[2015-08-30 00:07] #1906 closed, assigned to nobody

[2015-08-30 00:09] zetok commented on #1911
Can't reproduce. Is this still reproducible on newest qTox builds?

[2015-08-30 07:05] Redee opened #2138 "Background colors / images of chat area"
Only white very bad for eyes.
Add background colors / images to chat area.

qTox for Windows latest version >>
![d21a5fbc-4e67-11e5-931b-f17b7fc635bd 1](https://cloud.githubusercontent.com/assets/2652667/9566113/949dc47a-4efe-11e5-905a-43be07ae288c.jpg)

[2015-08-30 07:15] agilob commented on #2138
duplicate of https://github.com/tux3/qTox/issues/1307

[2015-08-30 07:15] #2138 closed, assigned to nobody

[2015-08-30 08:14] suhr commented on #2118
**Not fixed:** `tox:A5` is still highlighted. It should highlight either `tox:‹toxid long hex›` or `tox:‹name›@domain`. The “toxid long” detail is very important: whether toxid is clipped, user should know about it.

[2015-08-30 08:23] agilob commented on #2118
How long is tox id with and without nospam?

[2015-08-30 08:23] zetok commented on #2118
64 upper-case chars (and numbers) without nospam+checksum, and with those, 76

[2015-08-30 08:25] agilob commented on #2118
It will be fixed today with profile importer, no need to reopen.

[2015-08-30 08:26] suhr commented on #2118
It shouldn't accept publickey without nospam+checksum though.

[2015-08-30 08:26] zetok commented on #2118
So 76 it is.

[2015-08-30 08:27] suhr commented on #2086
Indeed. Toxcore doesn't even have unstable versions.

[2015-08-30 08:33] zetok commented on #1831
Well, not thousands (probably), but it should be possible to get hundreds per second: https://github.com/zetok/tox-rust-neurological-warfare-bot

ID of running bot: C7719C6808C14B77348004956D1D98046CE09A34370E7608150EAD74C3815D30C8BA3AB9BEB9

Though with faster speeds, (e.g. x9 in my case) qTox simply hangs, and goes down, crashing & burning, producing backtraces that go in dozens of thousands of

[2015-08-30 08:35] zetok opened #2139 "Ability to unhide qTox window in screenshot mode"
#2106 introduced ability to hide qTox window when making a screenshot.

There is no way to restore window, and that should be fixed.

[2015-08-30 08:35] zetok commented on #2103
yep, made #2139

[2015-08-30 08:39] agilob commented on #2118
anything else?

![snapshot5](https://cloud.githubusercontent.com/assets/2544251/9566370/e2808db6-4efa-11e5-8743-84b0ea54b91f.png)

[2015-08-30 09:18] zetok commented on #1530
Nope.

Well, the way things are probably going to be done, is no access to the repo, but there will be a post-build hook in jenkins job that would push qTox packages to repo.

Issues were closed, since keeping them open doesn't really help - I think that repo should be available again in a course of week or two. (I don't know any ETA though)

Though yeah, there should be a place where those issues

[2015-08-30 09:22] zetok commented on #1930
"videotranslation" ?

[2015-08-30 09:31] zetok commented on #1931
Is this still reproducible?

[2015-08-30 09:34] zetok commented on #1936
Duplicate of #1583, closing.

[2015-08-30 09:34] #1936 closed, assigned to nobody

[2015-08-30 09:36] zetok commented on #1937
Duplicate of #1807, closing.

[2015-08-30 09:36] #1937 closed, assigned to nobody

[2015-08-30 09:44] suhr commented on #1930
Video transfer. I.e start and stop video without recall.

[2015-08-30 09:52] zetok commented on #2069
So.. anyone against or in favour of version changes?

@agilob , @antis81 , @TheSpiritXIII , @tux3 ?

---

Aside from that, who should sign tags of new versions? Someone who will be merging changes?

#

Also, I think that there are needed tags for audio & video things in qTox, but I'm not quite sure how they should be named.. Ideas?

[2015-08-30 09:55] zetok commented on #1939
Now that qTox is being build as static binary, I wonder how doable is further decrease of binary size.

[2015-08-30 09:57] zetok commented on #1941
Closing, since other issue with that problem was said to be fixed.

[2015-08-30 09:57] #1941 closed, assigned to nobody

[2015-08-30 10:07] zetok commented on #1970
Can reproduce on my Gentoo.
Ram usage from initial 140MB increased to ~167MB when entered settings and set desktop as input device. When making first video call memory usage jumped to ~260MB and after ending call it stayed at that level.

Subsequent calls increased RAM usage by ~5MB each time.

[2015-08-30 10:14] zetok commented on #1972
Is this still a problem on newest qTox?
If it still is, perhaps #2132 would help with it.

[2015-08-30 10:18] zetok commented on #1975
Is this still an issue on newest builds?

[2015-08-30 10:20] zetok commented on #1979
@SkyzohKeyx that's not a backtrace, but only a log.

Anyway, is this still a problem on newest builds?

[2015-08-30 10:27] antis81 commented on #2069
1. Version should never count backwards. Next goal should be a stable `1.1`. `1.0` is already released, so `0.1` would only be more confusing. And what comes after `0.9` -> a version `2.0`?
2. I prefer the `beta` or `rc` (release candidate) suffix strategy (e.g. `1.1-beta`, `1.1-rc1`)

Yes. Just like a merge is signed by the one who merged.

Why? This would only make things more complicate. A vers

[2015-08-30 10:29] ovalseven8 commented on #1975
Yes, still an issue.

[2015-08-30 10:30] zetok commented on #1992
No, not really.

It shouldn't bother to do it - i.e. toxcore should handle that transparently, and eventually provide info to the client in cases where it needs some feedback, e.g. for adaptive bitrate in a/v calls, which toxav does in new A/V API.

It shouldn't have to - toxcore should handle it transparently.

[2015-08-30 10:30] ovalseven8 commented on #1972
Have just tested it.
The issue seems to be solved, so we can close it.

When it occurs again, we can create a new issue, then.

[2015-08-30 10:32] zetok commented on #1993
Closing, since this is no longer a problem.

@Seeq you should remove that repo, and for time being use binaries, until new repo will be functioning.

[2015-08-30 10:32] #1993 closed, assigned to nobody

[2015-08-30 10:33] zetok commented on #1995
Hopefully #2094 will help with it.

[2015-08-30 10:34] zetok commented on #1998
Closing, since it's a duplicate of #1018.

[2015-08-30 10:34] #1998 closed, assigned to nobody

[2015-08-30 10:35] zetok commented on #1999
Can reproduce.

[2015-08-30 10:45] zetok commented on #2069
Uh, sorry for confusion I've caused - by "tags" I meant labels on qTox issues, and that's unrelated to tagging qTox versions. (I probably should have made a separate comment for it)

[2015-08-30 10:46] zetok commented on #2007
Fixed, thus closing.

[2015-08-30 10:46] #2007 closed, assigned to nobody

[2015-08-30 10:50] towlie commented on #1862
@zetok Yes, this will fix the issue. The hack only fixes an openAL bug.

[2015-08-30 10:56] antis81 commented on #1530
Ok! :+1:

If people (qTox users) found only one open issue, stating the PPA is not set up yet after the migration to `tox.chat`, they probably won't continue creating new issues on this topic (I've seen the note added in qtox wiki though). A closed issue indicates a solved topic, which is not the case here.

As I wrote, I don't know if this is really the right tool for us. Seems, that it would sim

[2015-08-30 11:01] ovalseven8 commented on #2127
Actually, not only 'Escape' is cut off, but:
`repeat region selection. Press <b>Escape</b>`

[2015-08-30 11:05] vit9696 commented on #1683
3 is fixed in a current build, though it focuses the search field, which is probably incorrect.

[2015-08-30 11:06] zetok commented on #2009
This issue looks like a duplicate of #645, closing.

[2015-08-30 11:06] #2009 closed, assigned to nobody

[2015-08-30 11:06] zetok opened #2141 ""Search contacts" should also search in the status messages"
proposed by @An-dy in #2009

[2015-08-30 11:10] agilob opened #2142 "History is corrupted after encrypting profile"
1. Encrypt profile
2. logout
3. login
4. `[12:06:40.535] src/persistence/db/encrypteddb.cpp:104 : Warning: pullFileContent: Encrypted history log is corrupted: can't decrypt, will be deleted`
5. no history -.-'

[2015-08-30 11:10] vit9696 commented on #1313
This is fixed at the moment.

[2015-08-30 11:13] zetok commented on #2142
Is that a duplicate of #1891 ?

[2015-08-30 11:23] antis81 commented on #2069
@zetok Ok no problem. :smile: Think it doesn't hurt, if you simply create the required labels then.

[2015-08-30 11:23] ghost opened #2144 "Segmentation fault after unplugging external monitor"
Steps:
- external monitor plugged
- start qTox. Login screen or already logged in, doesn't make a difference
- Maximised, minimised or closed to tray doesn't make a difference either
- unplug external monitor

Segmentation fault happens either instantly, after clicking the active window or after clicking the tray icon. I haven't discovered a clear pattern. When the active window survives (crashes

[2015-08-30 11:25] Bargest commented on #1939
Does qTox pack the update now? 7z can compress new executable to 10 Mb from original 32 Mb. I'm sure gzip will have good pack results too.
If it packs already, I see no chance to decrease size further.

[2015-08-30 11:31] linux-modder commented on #2142
@zetok ,  not   quite .   SysD  has  been known to  ' fast  kill '  as in  sending : close  gracefully   >  kill -9 1  (almost  immediately)..  Which  causes  chat  logs to  go  poof.  This  is   more so  apparent  with  encrypted profile / chat logs  ( as the logging  is   synchronous  and  dies  in this  exchange.   Similar  behaviour  but  separate  events.

[2015-08-30 11:35] agilob commented on #2069
I vote for, but first let's merge PR from @TheSpiritXIII and update qtox to work with latest api from toxcore. First we should clean up the mess we already have.

[2015-08-30 11:38] zetok commented on #2142
@linux-modder that has nothing do to with systemd.

[2015-08-30 11:39] zetok commented on #2029
Well, closing the issue, since you don't seem any longer affected..
(no idea though what the issue really is/was)

[2015-08-30 11:39] #2029 closed, assigned to nobody

[2015-08-30 11:43] linux-modder commented on #2142
@zetok ,  I  beg to differ  and  will obtain and  produce logs to that  effect in short order.  namely as it's not a  guaranteed   corruption and  has  only  been  reproduced   locally and  with  friends  on sysD systems  Post  sysD 218.x.   @agilob can you confirm this also  happens on a   unclean  kill of  qTox  >  reload ?

[2015-08-30 11:44] agilob commented on #1975
what pack is that?

[2015-08-30 11:47] zetok commented on #2050
Looks like it's done in #2140.

[2015-08-30 11:47] ovalseven8 commented on #1975
- One emoticon in 'cylgom' -> but seems that emoticon is defect at all
- Rest all in 'TwitterEmojiSimple' and 'TwitterEmojiSVG'

[2015-08-30 12:02] agilob commented on #1999
It's impossible to fix it as chat messages are printed using html, what we can do it to strip html tags from username.

[2015-08-30 12:23] zetok commented on #2064
Closing, since unity version is not being currently build.

[2015-08-30 12:23] #2064 closed, assigned to nobody

[2015-08-30 13:23] agilob commented on #2142
killing qtox will result in unclosed database, in this case database is easy to recover with manual action. in my case database was cleared, after reading this error message I checked DB manually and it had 0 bytes (no tables, no rows) but was open and locked from modifications. completely different issue.

[2015-08-30 13:32] zetok commented on #1939
Well, currently there's no updates for windows yet, just binaries. And yep, they are compressed.

[2015-08-30 14:35] agilob commented on #2135
nvm it was caused by kde, other application crash too. qfilepicker crashes on kde.

[2015-08-30 14:35] #2135 closed, assigned to nobody

[2015-08-30 14:37] nazar-pc commented on #2064
@zetok Any chance that it will? Otherwise it is extremely inconvinient to use qTox.

[2015-08-30 14:43] zetok commented on #2066
#2092 was merged, closing.

[2015-08-30 18:15] #2127 closed, assigned to nobody

[2015-08-30 18:15] #2139 closed, assigned to nobody

[2015-08-30 18:22] ProMcTagonist commented on #1999
There's no way to escape them before printing?

[2015-08-30 18:26] agilob commented on #1999
I'll take a deeper look at this issue when rewriting themes...

[2015-08-30 18:49] imconcerned opened #2149 "Crash when joining group"
[code]

[2015-08-30 18:56] ProMcTagonist commented on #2149
I crash on accepting group invites too. Just git pulled.

[2015-08-30 19:00] imconcerned commented on #2149
I just upgraded from the AUR, so it took straight from git.

[2015-08-30 19:01] imconcerned commented on #2149
I remember having to do another gdb command at some point, I forgot what it was. Please let me know if I have to reproduce the issue and use the gdb command that provided all the needed info.

[2015-08-30 19:09] ghost commented on #2129
@agilob I only have this month's log to search in, I hope it's enough

**ffmpeg**
2015-08-03 upgrade ffmpeg:amd64 7:2.7.2+git~trusty 7:2.7.2+git1~trusty
2015-08-14 upgrade ffmpeg:amd64 7:2.7.2+git1~trusty 7:2.7.2+git2~trusty
2015-08-23 upgrade ffmpeg:amd64 7:2.7.2+git2~trusty 7:2.7.2+git3~trusty

**linux-kernel**
2015-08-21 upgrade linux-kernel-generic:all 3.13.0-37 3.16.0-38

**v4l2**
not in my s

[2015-08-30 19:11] thiras commented on #2149
On windows with f8cc36fc94ccccba9ff6c0a112dbc25c4c300f2b problem still exist

[2015-08-30 19:14] ProMcTagonist commented on #1685
White lines are obviously a bug, and not at all inherent to having rounded avatar corners. That should be fixed.

[2015-08-30 19:23] ProMcTagonist commented on #1832
We really need a sound designer. Skype's noises are instantly recognizable and all very suited to their uses.

[2015-08-30 19:40] agilob commented on #2070
Hmm... this can be added to import profile widget, it's nearly empty now.

[2015-08-30 19:57] ProMcTagonist commented on #2070
Perhaps Import could be renamed to More or Options and have importing, proxy settings, etc.

[2015-08-30 20:39] zetok commented on #2149
#2092 was reverted in 06611d618e4306b2402717bc4a62d505b0a77200, fixed builds should be available soon (<15 min), closing.

[2015-08-30 20:39] #2149 closed, assigned to nobody

[2015-08-30 21:50] codedust commented on #1832
:+1: Maybe a blog post asking for some help in terms of audio (something like "Is there someone out there who has experience in sound design (designing ringtones, notification sounds) and is willing to participate in the Tox project? (no programming experince needed)") would be helpful.

[2015-08-30 21:56] agilob commented on #1832
do it now!

[2015-08-30 22:12] codedust commented on #1832
cast (blog post) @installgen2 @nurupo

[2015-08-30 23:01] agilob opened #2152 "Default path selecor in general settings should set path ending with system-dependent slash"
folder path must ends with `/` on unix or `\` on windows.

[2015-08-31 07:47] raver119 opened #2153 "Ubuntu - Unity system tray issues"
1. Under Ubuntu all you have is quiet sound, and sidebar icon blinking for a second. If you've missed that - you've missed message. Some kind of long-living notification is more then welcome.
2. Minimize to tray/Close to tray/Start to tray - all these options are efficiently hiding qTox from user forever. Since qTox is incompatible with Unity system tray, such minimized app cant be restored.

So,

[2015-08-31 08:12] uxname commented on #1883
Agree, "Make Portable" just copies profile to current ( ./ ) folder, but  next start uses ( C:\Users\username\AppData\Roaming\tox )

[2015-08-31 09:51] raver119 opened #2154 ".deb file should contain .application entry for Unity/Gnome3"
Would be nice, if repository .deb file will contain .application entry for Unity/Gnome3 dashboard.

[2015-08-31 10:05] subliun opened #2155 "Typing notifications should be on by default"
they really should

[2015-08-31 10:06] agilob commented on #2155
I think saving chat should be on by default, but we decided to go 'privacy first'.

[2015-08-31 10:33] zetok commented on #2155
Err, no.
Saving chats was off by default at first because it was still unstable. If that's still off, then it should be changed.

As for privacy, there's encryption for those who need it.

[2015-08-31 10:44] subliun commented on #2155
If saving chat is off by default that's crazy. Change that first, then fix the typing notifications.

[2015-08-31 10:48] agilob commented on #2155
merge PR.

[2015-08-31 11:05] #2155 closed, assigned to nobody

[2015-08-31 11:35] zetok commented on #2066
Reopening, since merged changes were reverted due to bugs (crashes) that #2092 introduced.

[2015-08-31 13:36] gEndelf commented on #1911
yes

[2015-08-31 14:04] ovalseven8 commented on #2070
Offline-mode would be more user-friendly, I think.

[2015-08-31 21:07] yurivict opened #2158 "Stress sign (diacritic mark) is stripped in pasted text"
I tried to paste the word "коне́чно", but the mark gets stripped.

[2015-08-31 21:09] agilob commented on #2158
Can't reproduce?

![snapshot15](https://cloud.githubusercontent.com/assets/2544251/9590496/f1d6a2e0-502c-11e5-9ab2-9094e6428ba5.png)

[2015-08-31 21:16] yurivict commented on #2158
Sorry, must be a font issue. I just couldn't believe that there are still fonts around that don't show diacritics.

[2015-08-31 21:26] codedust commented on #1832
:+1:

[2015-09-01 01:07] penny64 opened #2159 "ToxDNS must not be centralized"
This is the most popular client, you cannot make it only support whitelisted domains for lookups. That's insane, you've centralized what's supposed to be a federated part of Tox

[2015-09-01 06:47] ovalseven8 commented on #2159
Think so too.
If qTox is using ToxDNS, every user should be able to (at least) add his own ToxDNS service easily.

When there is not the possibility to implement it in a easy to use and userfriendly way, ToxDNS is just broken.

[2015-09-01 07:20] Jeeppler commented on #2159
@witheld9 your issue title is misleading, because the Tox ID is not broken, but the Tox ID resolution is not federated. The issue should be about the ToxDNS not about the Tox ID itself.
But else I agree with you!

[2015-09-01 08:07] suhr commented on #2159
Change the title to “ToxDNS must not be centralized”.

[2015-09-01 11:10] DanTheBritish commented on #2129
@agilob

Sorry, was a merge commit on my branch. Still occurs on clean master aaf0774f356786a183c1ca48b9a1fc14586d9554

Also, output of `ffmpeg`:

[code]

[2015-09-01 12:40] Jeeppler commented on #2159
@suhr much better :+1:

[2015-09-01 13:34] zetok commented on #2159
Which ToxDNS service doesn't work for you with latest qTox?

[2015-09-01 13:41] Jeeppler commented on #2159
@zetok ToxDNS works fine. His (@witheld9) issue is about the centralized character of ToxDNS.

[2015-09-01 13:46] zetok commented on #2158
I could reproduce, reopening.
![that notification.](https://cloud.githubusercontent.com/assets/3148759/9605713/3d7deed0-50b7-11e5-8e6d-9e92186f528d.png)

And I did receive from @agilob something that in chatform was shown without diacritic, whereas in new message notification from PR #2082 was shown with it.

[2015-09-01 14:53] #2131 closed, assigned to nobody

[2015-09-01 15:52] ProMcTagonist commented on #2159
Isn't someone working on pinning so it's safer to add any service you want from the control panel? Was that installgen2?

[2015-09-01 16:11] Jeeppler opened #2160 "[Chat History] chat history is not encrypted"
qTox saves the chat history in a SQLite database. The problem about that is, everybody who has access to the hard drive disk can access an manipulate the chat history between Alice and Bob easily.
This is a big problem under all platforms.

[2015-09-01 16:43] penny64 commented on #2159
@zetok Any I run, for instance. And sr.ht despite being a list. But why is there a list, why does user@arbitrary.domain not work?

[2015-09-01 17:17] zetok commented on #2160
If encryption is used, chat history is encrypted.

[2015-09-01 17:17] #2160 closed, assigned to nobody

[2015-09-01 17:19] Jeeppler commented on #2160
@zetok how can I enable the encryption?

[2015-09-01 17:25] agilob commented on #2160
set password on your profile.
Profile -> Change password

[2015-09-01 17:25] Jeeppler commented on #2160
thanks :+1:

[2015-09-01 17:27] Jeeppler commented on #2160
How is the encryption implemented? Does qTox encrypt the whole sqlite database? And if yes, which extension do you use for that?

[2015-09-01 17:30] agilob commented on #2160
check coreencryption.cpp and encrypteddb.cpp for details. Author of that functionality is far afk.

[2015-09-01 20:47] ProMcTagonist opened #2161 "qTox erases profile when no space left on a device (Wrong password error on profile that was not encrypted)"
I upgraded a very old Windows installation of qTox yesterday with a new binary from wiki.tox.chat. It worked great for a while, but now upon logging in it throws up a Wrong Password dialog.
The profile never had any password. There's also not even a box to enter the password in the login window.

Desired behavior: qTox does not spontaneously encrypt profiles with unknown passwords

Observed behavi

[2015-09-01 21:14] zetok commented on #2161
I've tried to reproduce with profiles from 2015-02-03 and 2014-12-22 with qTox aaf0774f356786a183c1ca48b9a1fc14586d9554, in both cases I didn't encounter this problem.

The way in which I've tried to reproduce:
1. Copy old `profile.tox`, `profile.qtox_history`, `profile.ini` and `qtox.ini` to `~/.config/tox/`
2. Launch qTox with `qtox -p profile`
3. Wait until it bootstraps, wait for groupbot to c

[2015-09-01 22:20] Jeeppler opened #2162 "[Feature] See your self during video call"
During a Skype chat you can see yourself and the other person during the talk.
This is an important feature, because you always feel weird if you don't know how you are seen by the other person.

The second view should be smaller and should be visible in the same window. This feature should be optional, but it is indeed a important feature for many people.

[2015-09-02 06:26] agilob commented on #2162
already implemented in https://github.com/tux3/qTox/pull/2093.

[2015-09-02 08:11] Jeeppler commented on #2162
nice :+1:

[2015-09-02 08:11] #2162 closed, assigned to nobody

[2015-09-02 08:33] gmscs commented on #1006
I've just experienced this issue as well, the client resends history but unlike OP, it only happens sometimes in my case.

[2015-09-02 08:34] zetok commented on #1990
Seems to work aaf0774f356786a183c1ca48b9a1fc14586d9554, closing.

Still no idea why it didn't work.

[2015-09-02 08:34] #1990 closed, assigned to nobody

[2015-09-02 08:37] Jeeppler opened #2163 "old tox1 protocol to access DNS record?"
I got this message:

[code]

The Tox ID was generated by uTox.

Why exactly is the Tox ID bound on specific DNS protocols?

[2015-09-02 09:20] ghost commented on #2158
#2122 related?

[2015-09-02 16:35] zetok commented on #2163
It's not, and what you have there is not a Tox ID - if it was, no DNS would be involved.

[2015-09-02 16:35] #2163 closed, assigned to nobody

[2015-09-02 16:37] rugk opened #2165 "Profile photo background should not be inverted"
Currently if you set a profile picture (PNG) with a transparent background qTox inverts the picture colour to display it.
That neither looks nice nor is it useful, so either you should display the correct background (so transparent is really transparent) or display a static colour like white.

[2015-09-02 16:39] Jeeppler commented on #2163
@zetok intersting, than it is just a wrong error message and an unexpected behaviour of qTox.

[2015-09-02 19:12] zetok commented on #2153
I've added builds with support for unity, could you test and if it works for you, could you close this issue?
https://wiki.tox.chat/binaries#other_linux

[2015-09-02 19:28] raver119 commented on #2153
./qtox
./qtox: error while loading shared libraries: libappindicator.so.1: cannot open shared object file: No such file or directory

So, i guess libappindicator should be added as dependency in .dep.

Besides that - works great!
Thank you very much!

[2015-09-02 19:51] zetok commented on #2165
Duplicate of #944, closing.

[2015-09-02 19:51] #2165 closed, assigned to nobody

[2015-09-02 19:54] agilob commented on #2153
`sudo apt-get install libappindicator1 indicator-application` and try again?

[2015-09-02 19:56] raver119 commented on #2153
I did that before posting comment, and as i've wrote - everything works great now.

[2015-09-02 19:58] agilob commented on #2153
ahh, sorry I misunderstood your comment!

[2015-09-02 20:00] agilob commented on #2153
Could you specify where those packages should be added in our instructions?

[2015-09-02 20:00] agilob commented on #944
Bug by design ;)

[2015-09-02 20:03] raver119 commented on #2153
Since you have debian/ubuntu PPA repository, you could just include it as dependency, and APT will do the rest, if needed

[2015-09-02 20:46] zetok commented on #2153
_We_ don't really.

There is a repo provided by Tox project, to which job configured on jenkins can push qTox debs.

And it wouldn't be as simple as just adding dependency - there would have to be added new package that would conflict with "standard" `qtox` package, and "standard" `qtox` package would need to have added conflict against new `qtox-unity` package.

Not that it would be tremendously

[2015-09-02 21:11] zetok commented on #2153
Actually, scratch that.

Are `libappindicator1 indicator-application` both required, or would `libappindicator1` alone as dependency be enough?

[2015-09-02 21:13] raver119 commented on #2153
It should be enough, since libappindicator1 has own dependencies, and they are managed by apt

[2015-09-02 21:14] zetok commented on #2153
Ok, then I will set up package `qtox-unity` without `indicator-application`, and I will need someone to test that.

[2015-09-02 21:15] raver119 commented on #2153
I'm still here, i have few 64 bit ubuntu 14.04 LTS around me to play with.

[2015-09-02 21:17] zetok commented on #2153
https://build.tox.chat/view/packages/job/qTox-unity_pkg_linux_deb_x86-64_nightly_release/

↑ `.deb` is ready, not sure when it will propagate to repo though.

[2015-09-02 21:22] raver119 commented on #2153
Installation fails:

Lintian check results for /tmp/qtox-unity-amd64-4-3b4f8c5.deb:
E: qtox-unity: control-file-has-bad-owner md5sums jenkins/jenkins != root/root
E: qtox-unity: wrong-file-owner-uid-or-gid usr/ 1002/1002
E: qtox-unity: wrong-file-owner-uid-or-gid usr/bin/ 1002/1002
E: qtox-unity: wrong-file-owner-uid-or-gid usr/bin/qtox 1002/1002

[2015-09-02 21:26] zetok commented on #2153
That's weird, I've just basically copied job https://build.tox.chat/view/packages/job/qTox_pkg_linux_deb_x86-64_nightly_release/ , added dependency, changed name, and added conflict against `qtox` package, none of which should have resulted in this…

Is the `.deb` from the job from where I've copied things working for you?

[2015-09-02 21:29] raver119 commented on #2153
Nope, the same error:

Lintian check results for /tmp/qtox-amd64-68-3b4f8c5.deb:
E: qtox: control-file-has-bad-owner md5sums jenkins/jenkins != root/root
E: qtox: wrong-file-owner-uid-or-gid usr/ 1002/1002
E: qtox: wrong-file-owner-uid-or-gid usr/bin/ 1002/1002
E: qtox: wrong-file-owner-uid-or-gid usr/bin/qtox 1002/1002

[2015-09-02 21:41] stal888 commented on #2153
see if build #2 works

[2015-09-02 21:48] raver119 commented on #2153
Build number 2 works perfectly, libappidinicator1 and  nested dependency libindicator7 were installed automatically

[2015-09-02 21:48] stal888 commented on #2153
We did it reddit :mushroom:

[2015-09-02 21:50] raver119 commented on #2153
Just one detail is missing, from my another request - .desktop file for unity/gnome dashboard :)

[2015-09-03 08:31] zetok opened #2167 "qTox should check if string in "Add friend" input field is 64 chars long"
If it is, qTox needs to check whether it seems to be a public key (A-Z0-9), and if so, inform the user that this is not a Tox ID, since it's not 76 chars long.

[2015-09-03 08:31] zetok commented on #2163
#2167 should help with an unexpected behaviour.

[2015-09-03 08:47] zetok commented on #2069
It's not counting backwards - just changing version system to the one that doesn't cause confusion.

As it is now, people are _already_ confused by current versions - it's already bad, and keeping it like that will make things only worse.

As I've written, it could be like that, although tags also could be changed, to have "again" version `1.0` and so on.

The way I see it, there might be some min

[2015-09-03 09:55] suhr commented on #2159
`P-medium` actually.

[2015-09-03 10:43] agilob commented on #2069
I think you meant milestones.

[2015-09-03 12:56] zetok commented on #2069
No, I meant tags, as in, git tags.

[2015-09-03 14:16] Deleetdk opened #2168 "Focus/open window on message despite being disabled"
qTox focuses the window whenever I receive a message even while both open window and focus are disabled. I have also turned off play sound (no sound was being played anyway).

qTox version:
"You are using a qTox nightly build."
https://github.com/tux3/qTox/commit/3b4f8c5cf3955b5c67810cb73c1d821139e6d278

System info:
Linux Mint 17.1, 64bit
Running in Virtualbox from a Windows 8.1 computer.

[2015-09-03 14:18] zetok commented on #2168
What DE are you using?

Edit: can't reproduce on i3wm.

[2015-09-03 14:27] zetok commented on #2153
#2154 is about it, thus closing this issue.

[2015-09-03 14:27] #2153 closed, assigned to nobody

[2015-09-03 14:50] agilob commented on #2069
oki, I was thinking about github features.

[2015-09-03 15:26] agilob commented on #2086
This was fixed with #2137. but currently toxcore doesn't support versioning, so toxcore version label is hidden in about tab. Show it when we migrate to new toxcore api.

[2015-09-03 15:33] Deleetdk commented on #2168
Cinnamon.

I will install the windows version thru Wine and see if it reproduces there.

[2015-09-03 16:07] Deleetdk commented on #2168
Using the Windows 64bit version in Wine does not produce the bug and the sound works too. Same setup as before.

The build used is https://github.com/tux3/qTox/commit/3b4f8c5cf3955b5c67810cb73c1d821139e6d278

[2015-09-03 17:18] aaannndddyyy opened #2169 "minimize to tray is irrevertible"
I have enabled the minimize to tray option.
Then I minimize qtox window.
I still have the tray icon.
I cannot gt the window back.
All I can do is close qtox altogether or change the online state.

[2015-09-03 17:27] agilob commented on #2169
Operating system, desktop env, version, version of Qt please.

[2015-09-03 17:35] zetok commented on #2169
@aaannndddyyy if you could, please read https://github.com/tux3/qTox/wiki/Writing-Useful-Bug-Reports

[2015-09-03 17:37] aaannndddyyy commented on #2169
@agilob: Trisquel Gnu/Linux, LXDE, qt version no idea

[2015-09-03 17:38] zetok commented on #2169
Can you open qTox by trying to run it again without turning it off?

[2015-09-03 17:39] aaannndddyyy commented on #2169
@zetok: expected behaviour: Double clicking the tray icon brings back thwe window, or alternatively right click on tray icon gives a "restore" option

[2015-09-03 17:40] aaannndddyyy commented on #2169
@zetok: yes, that i do as a workaround. I close qtox. then I go to my menuy, choose internet, there qtox, and then I have it open again

[2015-09-03 17:42] zetok commented on #2169
@aaannndddyyy that's qTox from repo?
Could you try binary with Qt 5.4.2 instead https://wiki.tox.chat/binaries#other_linux ?

[2015-09-03 17:46] aaannndddyyy commented on #2169
with the binary you linked to it works as expected

[2015-09-03 17:47] zetok commented on #2169
I see, I'll make default qTox `.deb` use Qt 5.4.2

[2015-09-03 17:51] zetok commented on #2169
Ok,
https://build.tox.chat/view/packages/job/qTox_pkg_linux_deb_x86-64_nightly_release/39/
and
https://build.tox.chat/view/packages/job/qTox_pkg_linux_deb_x86_nightly_release/31/
should be fixed, can you see whether it works for you?

[2015-09-03 18:08] rugk commented on #944
I also completely agree to @zetok (see https://github.com/tux3/qTox/issues/2165 for more info).

If I want to use a transparent background then I'm doing this because the parts should be transparent (and showing the customizable background colour of the qTox window). If I want to work around this I currently have to use a colour picker and pick the colour of the window and add it. That's uncomfort

[2015-09-03 19:36] ghost commented on #2168
Can reproduce on

qTox 05fece4fab8bf829ac713da02f882fe2f5e699e5
Mint Cinnamon 17.2 x64
Cinnamon 2.6.13
Qt 5.2.1

OP's title and description aren't 100% clear imo. To clarify my results:
- `Open window` disabled ( => `Focus window` greyed out) doesn't open the window when closed to tray, but focuses it when a window exists. It doesn't matter if `Focus window` was checked or not before being greyed

[2015-09-03 19:52] towlie commented on #2063
It seems that it saves something but it is wrong. Every restart it moves it's position too.

[2015-09-03 20:04] Deleetdk opened #2170 "Panda free antivirus detects qTox as suspect software"
I am running Windows 8.1, 64bit.
Panda Free Antivirus 16.0.1.
qTox build https://github.com/tux3/qTox/commit/05fece4fab8bf829ac713da02f882fe2f5e699e5

Presumably a false positive, but worth looking into in case there was a recent pull from a 3rd party. Not necessarily caused by something qTox is doing wrong. However, it may be that if Panda detects it, some of the other antivirus programs will too

[2015-09-03 20:16] Deleetdk commented on #2168
Tested this on windows 8.1, 64bit. No errors.
However, the build used was https://github.com/tux3/qTox/commit/05fece4fab8bf829ac713da02f882fe2f5e699e5 This is not exactly the same as that used above. Not sure what the latest commit change is.

[2015-09-03 20:30] rugk commented on #2063
Do you possibly have the window maximized?
Because in this case I see this a lot of times (not only limited to Tox).

STR:
1. Open window and maximize it (e.g. on another screen)
2. Minimize it or close it.
3. Reopen it.

What happens: It will be showed nearly at the same position, but not maximized like it was before.
What should happen: Show it maximized.

[2015-09-03 21:10] zetok commented on #2170
Could it be added to https://wiki.tox.chat/users/problematic_antivirus_software ?

[2015-09-03 21:39] tux3 commented on #2170
I swear I'm going to write a packer just to keep the cheap AVs at bay.

[2015-09-03 22:20] towlie commented on #2063
No.

[2015-09-04 08:57] subliun commented on #1006
This happened to me.

[2015-09-04 09:31] zetok commented on #2170
@Deleetdk or could you at least provide info as what kind of "threat" qTox was identified, so that I could add it to the wiki?

[2015-09-04 09:38] Jeeppler commented on #2065
I like the user avatar, it looks better than in the current qTox

[2015-09-04 14:52] Deleetdk commented on #2170
@zetok I wanted to, but since I added the program file to the exclusion list, it removed the detection from the history, so I can no longer see what it said specifically. It did not mention a particular virus, just "suspicious program" or something of that sort.

[2015-09-04 16:18] sudden6 commented on #2170
probably because off the p2p software part in toxcore...

[2015-09-04 17:06] ovalseven8 commented on #235
Well, I like @zetok's suggestion: https://github.com/tux3/qTox/issues/235#issuecomment-54132957
In my mind, it would be enough and no additional toxcore implementation is needed.

So, a '**Show** public key'-window with further explanations how the things work were fine.

[2015-09-04 17:24] zetok opened #2173 "qTox froze when I've clicked to open file dialog to send file (100% cpu usage)"
Description:
qTox froze without opening file picker, using 100% CPU.

Info:
OS: Hardened Gentoo Linux x86_64
qTox version: aaf0774f356786a183c1ca48b9a1fc14586d9554
Qt version: 5.4.2

Reproducible: ~~Couldn't reproduce~~ Always

Steps to reproduce:
1. Use qTox for a long time without turning it off, with very active groupchat, and then try to send a file?

What happened:
qTox hanged, without showin

[2015-09-04 17:25] FatCache commented on #2154
Does this issue include the inability to create proper launcher of 'Qtox' by having the application "lock to launcher"? Because when you over over the icon on the Unity launch bar, it says "qtox-settings'. When you close/killall qtox and try to start from the icon, nothing happens. I have to run it via download executable file from tox.chat for 'unity-tray'.

Another thing to note is that I was ru

[2015-09-04 17:28] FatCache commented on #2153
Please view my comment here, https://github.com/tux3/qTox/issues/2154

[2015-09-04 17:30] raver119 commented on #2154
qtox-unity build allows "lock to launcher" feature, but first run should be done via terminal.

p.s. qtox-unity cant be found at debian repo :(

[2015-09-04 17:33] FatCache commented on #2154
Doing that seems to lock a 'wrong' portion of qtox which is 'qtox-settings'.

On 09/04/2015 10:30 PM, raver119 wrote:

[2015-09-04 17:35] raver119 commented on #2154
No, its worse. Using launcher bar to open previously minimized qtox opens minimized window, and 30 seconds later it opens new login window :)

So it definitely needs .desktop file to work properly

[2015-09-04 17:36] FatCache opened #2174 "Drag and Drop File doesn't work on Unity"
/title

On Ubuntu 15.04 64bit. Tried on both binaries, nightly and qtox-unity-tray.

Dragging only brings the file address location. Tried on XFCE DE and it works fine on it. Unity specific issue.

[2015-09-04 17:38] FatCache commented on #2154
The minimize to launch bar seems to work fine on my system. No delay or any new login window. It's not terminating it. But when you do terminate it and try relaunching from unity launch bar, it doesn't work.

[2015-09-04 18:08] rpasta42 opened #2175 "Can't create new user with qTox on ubuntu 14.04.3 LTS"
When trying to sign up new user with qTox, I get the following error in terminal:

[14:03:52.273] src/persistence/profile.cpp:147 : Warning: Failed to lock profile  "mahUsername"

I also get a GUI popup: Couldn't create a new profile, Unknown error: Couldn't create a new profile. If you encounter this error, please report it.

[14:03:29.982] src/main.cpp:141 : Debug: built on:  09:18:34 Sep  4 201

[2015-09-04 18:33] rpasta42 commented on #2175
I dag around source code, and it seems like qTox tried to create QLockFile which already existed. I had to delete ~/.config/tox and it runs again!

I probably didn't exit cleanly because I usually use ctrl+c to exit applications.

[2015-09-04 18:46] zetok commented on #2173
Actually, scratch that, I couldn't reproduce on build with #2150 merged; it's reproducible on master 7796421f73b8be293817fa126e55be5af94e4048.

[2015-09-04 19:40] aaannndddyyy commented on #2169
thx for fixing

[2015-09-04 19:40] #2169 closed, assigned to zetok

[2015-09-04 19:42] aaannndddyyy opened #2176 "problem opening files with spaces"
if I get a file "Screenshot from today.png" it transfers fine, bit I cannot open it. Clicking on the chekc mark or on the image itself opens the browser with three tabs: one for Screenshot, one for for and one for today.png.
OS: Linux

[2015-09-04 22:39] zetok commented on #2174
Where were you dropping file?
Edit: as in, in which place exactly in qTox window

[2015-09-05 01:09] FatCache commented on #2174
Into the text area.

On 09/05/2015 03:39 AM, zetok wrote:

[2015-09-05 03:19] ProMcTagonist commented on #2174
That's desired behavior.

[2015-09-05 04:24] smaragdus commented on #1883
The last qTox build which worked fine in portable mode was the one from 2015.03.14.
I hope portability will be restored soon since it is essential for me.

[2015-09-05 06:46] zetok commented on #2174
As @ProMcTagonist wrote, dropping file into text area is supposed to paste "link" to it there.
If you want to send file, drop it into chatform.
Closing, since currently it's an expected behaviour.
You may be interested in commenting on #1947.

[2015-09-05 06:46] #2174 closed, assigned to nobody

[2015-09-05 09:53] agilob commented on #2173
It's because something changed in Qt (or filepicker, I think), and since now, path selector (for accept directory) does not include slash at the end of the path, but to save a file **or** open directory (not file, directory( you need that slash at the end... #2152 and #2135 are related, #2150 fixes it by adding slash in source code. I couldn't reproduce it on KDE4, but always crashes on KDE5, even

[2015-09-05 10:08] zetok commented on #2176
I couldn't reproduce.
It sounds like it's a problem with wrongly associated `file:///` links on your system.

With that being said, #2150 reworks opening directory / files from file transfers, so it would be good if you could re-test after it gets merged.

[2015-09-05 10:15] agilob commented on #2176
I also can't reproduce it, even on master.

[2015-09-05 10:18] zetok commented on #2170
I see.
I've added to wiki what I could - if someone has more info, please add it to the wiki.

@Deleetdk could you contact panda about it, so that they could fix their software?

[2015-09-05 12:47] antis81 commented on #1432
Hm ... if we extend the idea to a real wiki-text parser (e.g. markdown like implemented in Github), that would actually become a useful feature. This would allow for sending also quick table and list mockups via chat-message.

**Idea:**
If a message starts with a command token like `.md` or better `.parse:md` followed by a space character - it could then be parsed with the selected parser. As Mark

[2015-09-05 14:02] suhr commented on #1432
Isn't it too much feature bloat?

[2015-09-05 17:05] tux3 commented on #1883
We're looking into this issue.

[2015-09-05 17:31] #1818 closed, assigned to nobody

[2015-09-05 17:32] zetok commented on #2173
Closing, since #2150 got merged.

[2015-09-05 17:33] smaragdus commented on #1883
Great news!
It is frustrating for those who use qTox on multiple machines. There is a workaround to copy the app data folder on new machines but this is not very convenient for ordinary users. In winter I began to try to convince friends of mine to dump Skype in favour of qTox and portability was one of the major pros since I explained to them that they just need to copy the qTox folder (to extern

[2015-09-05 17:40] zetok commented on #2176
@aaannndddyyy since #2150 got merged, could you test new version?

[2015-09-05 17:43] yurivict opened #2179 "'Disk full' condition wiped out the chat history"
Reboot in 'disk full' condition left the chat history blank.

I don't understand how this is possible, because supposedly SqLite is used, and it isn't supposed to lose data like this. Unless you somehow rewrite the whole file during the save operation.

I am actually not sure why tox people asked me to create bug here. It should be in toxcore. Should be an API into toxcore like: 1. getUserHistory(

[2015-09-05 17:53] fcore117 commented on #1883
Portable option should work cross platform too.

smaragdus: uTox has way to launch in portable mode, i use this every day.
Windows:
1: create portable.cmd
2: add this inside portable.cmd:
 "utox.exe --portable" OR "utox.exe --portable --theme dark" if you want dark theme(withut "" of course)
Linux:
1: create portable.sh emty file
2: add this inside portable.sh:
#!/bin/sh
SCRIPTDIR="$(dirname "$0")

[2015-09-05 18:36] #2086 closed, assigned to nobody

[2015-09-05 19:18] aaannndddyyy commented on #2176
I just tried with the binary from your website. Still same problem.
"file:///home/andy/Downloads/from" in Firefox, and also "file:///home/andy/Downloads/18:13:12.png" and "file:///home/andy/Downloads/Screenshot"

[2015-09-06 06:49] Deleetdk commented on #2170
@zetok

Done. http://support.pandasecurity.com/forum/viewtopic.php?f=83&t=4898&sid=561924a952fef361e49362fa9b6e0b99

[2015-09-06 08:27] antis81 commented on #1432
@suhr In the first place, you are right. So, this is meant as an idea for a future version. Why? - Because I'm strongly against just parsing each `--` as &mdash; (em dash) within any text. First thought was to just close this issue and thus, reject the idea (sorry @omtcyf0).

However, we already have a parser, that renders the chat messages. I don't know (q)Tox'es default text parsing/rendering me

[2015-09-06 11:54] zetok commented on #2170
Ok, thanks.
Since not much can be done about it, closing the issue.

[2015-09-06 11:54] #2170 closed, assigned to nobody

[2015-09-06 11:57] zetok commented on #1432
It's not. toxcore transports data, and in case of messages, data happens to be text.

[2015-09-06 13:22] TheNain38 opened #2183 "Open directory of current profile"
When Make Tox portable is checked, clicking on 'Current profile location' it opens D:\ on my computer instead of the current directory.
Also the cursor is the pointer when on the same line as 'Current profile location' even when not on the words.

![capture](https://cloud.githubusercontent.com/assets/13149763/9704529/106c416a-54ab-11e5-97ba-eb4caf5d0e44.PNG)

Sorry if this is not clear, I'm not ve

[2015-09-06 14:35] SkyzohKey commented on #2065
This isn't the title bar that is replaced. I don't added a frame to the mockup but the FR widget should act as a "popup" over the "avatar-name-status-buttons" bar (this: http://i.imgur.com/E3aKl2M.png). The "close" button is only here to dismiss the Friend Request notification, not closing the window :)

[2015-09-06 21:04] Jeeppler commented on #2065
@SkyzohKeyx can you put a simplified window manager border thing around your mockup? Would make things more clear. It does not have to be from an real OS, just make sure that you have the normal "minimize", "maximize" and "close" button in it.

[2015-09-06 21:06] Jeeppler commented on #2065
What font did you use? The font in qTox looks always blurry in linux. uTox uses a better font, which looks more clear.

[2015-09-06 21:10] Jeeppler commented on #2065
what is under "Recent"? Have you done a mockup about that?

The "people" + the "plus" sign icon is more clear than the current "plus" sign.

[2015-09-06 21:11] Jeeppler commented on #2065
Having Accept and Decline in a colored font is maybe not a good idea, because of people with a red-green color blindness.

[2015-09-06 21:12] Jeeppler commented on #2065
What is about the other icons at the bottom? Like "create groupchat", "finished file transfers" and "settings". Do you want to remove them?

[2015-09-06 21:39] ntninja commented on #2065
@Jeeppler Making the Accept and Decline buttons colored is fine, what is important (with regards to color blindness) is that all text is still readable when viewing it in grayscale ([which it not really the case either](http://storage.xmine128.tk/s/Qmc6IqFUCb6Fp2n)).

@SkyzohKeyx Maybe add a darker background for the "button area" of the notification popup and make the button text color somewhat l

[2015-09-07 05:47] ProMcTagonist commented on #1818
@zetok ID could be used.

[2015-09-07 05:53] ProMcTagonist commented on #1046
Toxme.se is malware, change to toxme.io + tox.party + toxing.me + utox.org + sr.ht + whatever else

[2015-09-07 07:45] zetok commented on #2173
Reopening, since problem still exists on 99b5b092d964b634ce39cc4f452711602b38d467 in merge of #1938.

Happened when I've de-selected "Autoaccept files" and I've tired to select default save path for files.

Edit: backtrace: https://gist.github.com/zetok/fed0072b3124a6868a7f

[2015-09-07 21:09] aaannndddyyy opened #2187 "Avatars too small"
Both in the contact list and in the actual chat, avatars should (optionally) be noticeably bigger than now.
In fact, I'd like their size in the contact list to be the size they currently have in the chat, and the chat avatar be bigger as those in the contact list in the same relation it is now.

[2015-09-07 21:12] aaannndddyyy opened #2188 "allow to copy link by right click"
Sometime I don't want to leftclick a link and have the defult browser opne it straight away.
Almost every chat application and brwoser recognizes links and allow to copy the link by clicking "copy link" in context menu of right click. Would be nice to have it.
thx

[2015-09-07 21:15] aaannndddyyy commented on #2134
first and last are most important, imho.
Across restarts would be nice, but at leats durin one session is really needed.
I often have to switch to utox for filetransfers.

[2015-09-07 21:23] aaannndddyyy opened #2189 "dateformat dddd, d. MMMM yyyy missing"
there are several options for the date format.
but the complete one is only available in American order (mothn before day) and be translateable, such that it also allows for: Samstag, 5. September 2015

(low priority)

[2015-09-08 09:00] ghost commented on #2189
In fact, could we have a configurable date format? À la [strftime](http://man7.org/linux/man-pages/man3/strftime.3.html)?

[2015-09-08 10:23] Getron commented on #2187
+1

Or maybe, to let the user to decide how big would be the avatars. Maybe, a scrolling line on bottom , or on top, to decide the size of avatars. The same for own avatar should be to.

[2015-09-08 10:44] Getron opened #2191 "Viewing Contacts (or friends)"
Contacts (or friends) should be able to change view format, like icons in explorer, or in dolphin (if you are on KDE linux), or like any other file browser, for change the view of contacts.

For example:
- List view (like it is now)
- Details view (with an additional line under the Contact, like profile name, or grouping name, like "Friends", "Family", "Business" or whatever.
- Compact view (just

[2015-09-08 11:27] zetok commented on #2188
Duplicate of #1236, thus closing.

[2015-09-08 11:27] #2188 closed, assigned to nobody

[2015-09-08 11:32] aaannndddyyy commented on #2188
Hadn't seen it. Sorry n thx.

[2015-09-08 11:43] Getron commented on #826
+1

[2015-09-08 11:46] Getron commented on #944
+1

[2015-09-08 11:47] Getron commented on #2165
+1

[2015-09-08 15:19] ovalseven8 opened #2193 "Edit: Close"
Edit: Close

[2015-09-08 15:21] #2193 closed, assigned to nobody

[2015-09-08 15:51] agilob commented on #826
Not supported by toxcore. Should we close it?

[2015-09-08 16:59] #826 closed, assigned to nobody

[2015-09-09 15:01] nathanielhourt opened #2194 "qTox fails to launch if logging is initialized prior to QApplication instantiation"
On OSX, qTox fails to run unless I transpose the first two lines of main() (https://github.com/tux3/qTox/blob/master/src/main.cpp#L92). The output it gives is:

[code]

This is on OSX with "Apple LLVM version 6.1.0 (clang-602.0.53) (based on LLVM 3.6.0svn)", Qt 5.5.0, built manually from 24098275827ebd218673f2d6c5795e49db7522ac (the homebrew builds don't work).

[2015-09-09 15:05] nathanielhourt commented on #2194
The above was done with a debug build. This fix does not work with a release build; qTox continues to exit with that same output.

Note that in both cases, I ran macdeployqt prior to trying to run the application.

[2015-09-10 00:17] Getron opened #2195 "qTox and Antox on same LAN status connection problems"
I have the newest qTox on my Fedora 22 KDE, and the same profile exported to my Android Note 3 on the newest Antox. Both are fresh installed, from 09.09.2015.

The problem is, on my qTox, my status is going crazy, if i connect with the same profile on the same LAN on my Antox.
It connect, and disconnect on every 2-5 seconds on my Desktop instantly (it goes online, and after couple seconds, offline

[2015-09-10 06:04] agilob commented on #2195
You can't use the same profile on two devices, it's how tox protocol works. That behaviour is expected.

[2015-09-10 06:05] #2195 closed, assigned to nobody

[2015-09-10 06:53] zetok commented on #2195
@Getron that's a toxcore thing - support for multiple devices is not yet done, and when it will be, it won't require you to manually export/import profiles `:)`

[2015-09-10 11:32] ovalseven8 opened #2197 "Option to change outgoing voice in qTox"
Hello,

would like to suggest something for the future:
Because the purpose of Tox is to provide security and privacy, it could be a nice feature, especially for people like whistleblowers:

The option in the qTox settings to change the outgoing voice in audio/video calls. Of course, it is possible already with some other programs, but it's absolutely not user-friendly and hard to realize.

So, a

[2015-09-10 11:54] agilob commented on #2197
https://github.com/jart/asterisk-voicechanger - GPLv2, last update 3 years ago, we could just copy the source code.

[2015-09-10 12:05] zetok commented on #2197
There was (is?) a way of modifying audio using `filter_audio` - @zamaudio would know more.

@zamaudio care to comment on that?

[2015-09-10 12:15] zamaudio commented on #2197
I wrote some filters that were merged into <code>filter_audio</code> to make the voice more clear.  I also have an experimental branch that has alien/girl/boy voice mods.   It basically alters the pitch of the voice by different amounts.  I haven't made them selectable, only hardcoded, but it makes more sense to include them in filter_audio and provide routines to select them in the lib, no?  Thin

[2015-09-10 12:19] zetok commented on #2197
It would be awesome if that was available.

[2015-09-10 12:23] zamaudio commented on #2197
It kindof is already available if someone wants to take it here:
https://github.com/zamaudio/filter_audio/blob/funvoice/filter_audio.c#L67

[2015-09-10 12:41] aaannndddyyy opened #2199 ""forgetting" online state"
Sometimes qtox "forgets" the correct online state of a peer after a long time.
Say, Bob has set his status to "away", I see that here as a yellow half-filled circle.
After some hours (with BOB not touching his qtox because he is away), Bob's status changes to online and stays that way.
Once I reconnect, I get the correct status from him again.

[2015-09-10 12:49] aaannndddyyy commented on #1855
+1 for "contacts"

[2015-09-10 13:59] zetok commented on #1978
Closing, since no usable info was provided.

[2015-09-10 13:59] #1978 closed, assigned to nobody

[2015-09-10 14:06] zetok commented on #660
No testcase to reproduce against - I've tried using nick `testみちる`, and couldn't reproduce, thus closing.

[2015-09-10 14:06] #660 closed, assigned to nobody

[2015-09-10 14:07] zetok commented on #853
No answer, I assume that it was fixed, closing.

[2015-09-10 14:07] #853 closed, assigned to nobody

[2015-09-10 14:08] zetok commented on #891
No answer, couldn't reproduce; I assume that it was fixed, thus closing.

[2015-09-10 14:08] #891 closed, assigned to nobody

[2015-09-10 14:09] zetok commented on #996
No answer, assuming that it was fixed, thus closing.

[2015-09-10 14:09] #996 closed, assigned to nobody

[2015-09-10 14:10] zetok commented on #1102
No answer, assuming that it was fixed, thus closing.

[2015-09-10 14:10] #1102 closed, assigned to nobody

[2015-09-10 14:10] zetok commented on #1107
No answer, assuming that it was fixed, thus closing.

[2015-09-10 14:10] #1107 closed, assigned to nobody

[2015-09-10 14:11] zetok commented on #1118
No answer, assuming that it was fixed, thus closing.

[2015-09-10 14:11] #1118 closed, assigned to nobody

[2015-09-10 14:11] zetok commented on #1247
No answer, assuming that it was fixed, thus closing.

[2015-09-10 14:11] #1247 closed, assigned to nobody

[2015-09-10 14:15] zetok commented on #1600
No answer, assuming that it was fixed, thus closing.

[2015-09-10 14:15] #1600 closed, assigned to nobody

[2015-09-10 14:16] zetok commented on #1687
Now there are also `qtox-unity` builds available;
no answer, assuming that it was fixed, thus closing.

[2015-09-10 14:16] #1687 closed, assigned to nobody

[2015-09-10 14:17] zetok commented on #1901
No answer, assuming that it was answered, thus closing.

[2015-09-10 14:17] #1901 closed, assigned to nobody

[2015-09-10 14:18] zetok commented on #1931
No answer, assuming that it was fixed, thus closing.

[2015-09-10 14:18] #1931 closed, assigned to nobody

[2015-09-10 14:18] zetok commented on #1979
No answer, assuming that it was fixed, thus closing.

[2015-09-10 14:18] #1979 closed, assigned to nobody

[2015-09-10 19:15] aaannndddyyy commented on #1958
-1 on having blocked **and** removed.
It does the same thing.
If you are too impulsive: either learn to control yourself, or make backups of the IDs.
Or just block the user. You can then undo that.
By default, removed friends could go into the blocked/removed circle.

[2015-09-10 19:28] zetok commented on #1958
Right. Since people don't seem to be interested in dedicated `Removed` circle, I'm crossing it out of the list.

Perhaps there should be some other place where removed contacts would go.. although I have no real idea where it could be, but using `Blocked` for that doesn't seem to be a good idea, since it would be confusing.

---

Is there any better way of implementing `Blocked`, considering that

[2015-09-10 19:34] aaannndddyyy commented on #1958
somewhere else means either hidden and not quickly findable, not obvious, or again another circle called removed. I don't like the list being too cluttered. One system/special circle is enough, imho.

The only alternative I can think of, is have somewhere an undo button.
But that would only undo the very last action.
EDIT: Re blkced/removed - if both words are used like this, people know immediate

[2015-09-10 22:09] ghost commented on #2197
In such a delicate case, I'd suggest that the audio filter needs some verified research data backing up its anonymization strength. Otherwise, it should be properly labelled as a neat feature that doesn't offer real security.

[2015-09-11 08:18] ovalseven8 commented on #2197
You're right.

[2015-09-11 12:29] nodj commented on #1916
While I agree it's not a usefull feature when you have the full id available, I can see two valid points on that suggestion.
First, the actual UI _suggests_ that the natural way to add someone as friend is tu use their QRcode. This is due to the large amount of space taken by the QRcode things (while the tox id itself is quite discrete)
Second, it could be nice to widely use the QRcode. Think abou

[2015-09-11 12:55] nodj commented on #1912
I think the file sharing thing should just share files, transparently. Without touching exif for image or any metadata for any files. The security concern is very important of course, but I'd prefer a warning message when sending files that can be hidden.

[code]

[2015-09-11 13:35] nodj opened #2201 "Allow multiple selection in friends list"
It would be great to allow multi-selection of friends in order to do someactions.
For example, select Alice and Bob with a _click_ on Alice, then _ctrl+click_ on Bob.
(exactly the same way you would select multiple files at once. The range selection with _shift_ could be also a plus)

The right frame could either keep showing the conversation of the first selected contact, or show a specific conte

[2015-09-11 15:15] o-jasper commented on #1195
Yes please, some people just changed names, and i am not 100% who is who.

[2015-09-11 18:41] noerw commented on #2122
Also having this issue on ubuntu gnome 14.04, German keyboard layout.

It's  dependend on the keyboard layout:
Not having this issue with English (programmer dvorak) nor English (US) layout.

edit: not having this issue on windows 7 x64 with german keyboard layout

[2015-09-11 19:14] ProMcTagonist commented on #1916
If we do it we should link with an encoder that lets us put a little Tox-lock in the center of the QR code.

[2015-09-11 19:16] ProMcTagonist commented on #2197
Addon material.

[2015-09-11 19:33] nodj commented on #1916
A very simple / direct way: just blit the logo bitmap on the center of the
QRcode bitmap. It works very well thanks to the redudancy of the QRcode
encoding. (Of course, the logo should remains tiny enough, but it works
well.)
Le 11 sept. 2015 21:14, "ProMcTagonist" notifications@github.com a écrit :

[2015-09-11 20:08] ghost commented on #2158
^ probably not. If I paste "**коне́чно**" in qTox, It turns to "**конечно**", as described. Note that the stress sign is not stripped, just hidden: If you copy the string back from qTox, it's displayed as before.

On the other hand, "**´`áéíòù^âîô**" is correctly displayed in qTox (you just can't type it in).

[2015-09-11 20:11] noerw commented on #1237
I like the way it would be done here better, regarding friend requests.

Suggestion:
Keep the search bar above the online/offline/..-filter, as this is a feature that should be accessible fast. Searching for contacts is done to save time, and clicking 2 times or more in a dropdown doesn't really do the job (input focus on the textfield via ctrl-f would be perfect^^).
Below that search bar, the fil

[2015-09-11 20:16] ghost commented on #2122
I ~can reproduce what @noerw describes. I can write the problematic symbols, but it seems that they only look the same, but are different ones. For example, I can't put them over a character (eg. `´` + `a`), they are printed immediately on their own.

Also, unlike in #2158, you can paste the problematic symbols in the input area.

[2015-09-11 20:33] agilob commented on #1916
That's how I see this feature:

![](https://i.imgur.com/8uxiRNV.jpg)

[2015-09-11 20:59] ProMcTagonist commented on #1916
@nodj Neat.

@agilob What?

[2015-09-11 22:00] ProMcTagonist commented on #2189
@kehugter
+1 if it's exposed after the user chooses Custom from the existing dropdown.

[2015-09-12 09:09] torvn77 opened #2204 "new line hotkey mod"
it would be good to chat to make a checkbox that will cause a reverse operation of the enter key:
*)"enter" - enter a new line
*)"enter + shift" - send message

[2015-09-12 09:49] antis81 commented on #2189
Hm … I'll setup a PR (my first :)) for this one with the correct formats.

Btw. I am actually able to select the format as you can see in the following screenshot:
![qtox-date-time-format](https://cloud.githubusercontent.com/assets/440517/9830951/5b00428e-5943-11e5-94a6-40bd9007de24.png)

qTox adds the formats provided by the system's locale (independent of qTox's country/language settings). The d

[2015-09-12 10:05] zetok commented on #2204
Duplicate of #1942, thus closing.

[2015-09-12 10:05] #2204 closed, assigned to nobody

[2015-09-12 10:10] zetok commented on #1942
From #2204:

[code]

@torvn77 would you prefer `Shift + Enter` over `Ctrl + Enter`?

[2015-09-12 12:51] plus13 opened #2205 "download dialog broken"
System: Arch-Linux with Awesome-Windowmanager

When someone sends me a file and I klick on the check mark to download, a new window appers. This window is just black with a blue bar above saying "QT". That's it.

[2015-09-12 13:23] torvn77 commented on #1942
My proposal is slightly different from the proposals Myppomeu.
I want mode hotkeys for adding a new line and send a rapid switch,
because for writing long messages and short messages need different hotkeys.
For writing short messages the optimal hotkey that is used now.
For writing long messages opitmal the hotkey which I suggested.
on this I offer in the chat window to add checkbox for quick swit

[2015-09-12 13:53] suhr commented on #1942
Translation from runglish:

[2015-09-12 14:29] zetok commented on #1942
@torvn77 As far as I could understand, your proposal is ~exactly the same as this one - enter is going to stay as default "send", but there should be an option to change that behaviour.

[2015-09-12 14:42] nodj commented on #1916
Ah ah ^^ While I see your point, I don't think this is the use case
involved for that feature. But consider this. What can you do with the
QRcode if someone sends you one ?
Le 11 sept. 2015 22:59, "ProMcTagonist" notifications@github.com a écrit :

[2015-09-12 15:05] ProMcTagonist commented on #1916
It would make it much easier to transfer IDs from a mobile device to a computer without having to use a termporary toxdns listing or some other manual hack.

[2015-09-12 15:05] torvn77 commented on #1942
@zetok I additionally want to switch hotkeys quickly, directly in the process of writing messages in the chat window.

[2015-09-12 15:17] SkyzohKey commented on #1912
The point of Tox is to be a privacy oriented Skype replacement, so why did I see no features to protect our privacy ? :x A simple popup is just stupid, it would be better to have the choice to remove EXIF or to send the raw file before you click the send button.

\+ It seems important to have anti-virus checks for each received files. (ClaimAV should do the work ^^)

[2015-09-12 15:46] nodj commented on #1912
I don't think it's stupid and I dot think qTox should edit the transfered
file. Should qTox handle the infinite type/kind of files ? Exif in jpeg is
a thing, but what about gifs, bmp ? What about .doc, .xls, docx, xlsx, ppt,
pptx, oot, mp3, avi, etc, etc.... It's not possible to handle everything
with consistency. If you explain the user to take care about metadata, at
least it's a consistent beha

[2015-09-12 17:16] zetok opened #2207 "qTox can't load profile named ` ` (space)"
Description: `$ qtox -p` doesn't load profile named `` `` (space).

OS: Hardened Gentoo Linux x86_64
qTox: 99b5b092d964b634ce39cc4f452711602b38d467

Reproducible: Always

Steps to reproduce:
1. Create profile with name `` `
2. Close qTox
3. Try to open qTox profile with`qtox -p  ``

Observed Behavior:
Profile is not being opened.

Expected Behavior:
qTox should open a profile, or sanitize profile

[2015-09-12 18:17] suhr commented on #2207
Try `qtox -p ' '`.

[2015-09-12 18:20] zetok commented on #2207
Oh well, that works.

[2015-09-12 18:20] #2207 closed, assigned to nobody

[2015-09-12 18:59] zetok opened #2208 "[Regression] Emoticon picker is being opened by groupchat title change in detached window mode"
Description: Emoticon picker is being opened every time groupchat title changes, after it is being opened by user even once.

OS: Hardened Gentoo Linux x86_64
i3 wm
qTox: 7dd66213cbef6d6a6d7d6b2ecc3f89f9d8d8b7b9

Reproducible: Always

Steps to reproduce:
1. Set `Open chats in separate window` in settings.
2. In groupchat, click on emoticon picker.
3. Change groupchat title, emoticon picker is bein

[2015-09-12 19:19] zetok opened #2209 "Change of theme colour doesn't affect detached windows"
Description: Colour of detached windows doesn't change when setting in qTox is changed.

OS: Hardened Gentoo Linux x86_64
qTox: 7dd66213cbef6d6a6d7d6b2ecc3f89f9d8d8b7b9

Reproducible: Always

Steps to reproduce:
1. Detach window.
2. Make side list in detached window visible if it wasn't visible.
3. Go to settings and change theme colour.

Observed Behaviour:
Detached window doesn't change its colo

[2015-09-12 19:28] zetok opened #2210 "Detached windows should have qTox icon in taskbar"
Description:
Detached windows don't have qTox icon shown in taskbar.

OS: Lubuntu (15.04?)

Reproducible: Always

Additional info:
![fubqfsl](https://cloud.githubusercontent.com/assets/3148759/9833387/9cf11756-598c-11e5-94a9-2e4cb648c37c.png)

First reported by @ovalseven8 in https://github.com/tux3/qTox/pull/1938#issuecomment-134951140

[2015-09-12 19:32] zetok opened #2211 "Detached window that receives new event should get urgency hint, rather than main qTox window (blinking)"
Description: When detached window receives new event, main qTox window gets urgency hint (blinking). Instead, detached window that received urgency hint should get urgency hint.

OS: Lubuntu (15.04?)

Reproducible: Always(?)

Additional info:
![fubqfsl](https://cloud.githubusercontent.com/assets/3148759/9833399/1e50fb18-598d-11e5-8690-471442efe309.png)
↑ `not having blue` window should have an urg

[2015-09-12 19:34] zetok commented on #1566
Since #1938 was merged, closing.

[2015-09-12 19:34] #1566 closed, assigned to nobody

[2015-09-12 19:35] zetok commented on #867
#1938 was merged, thus closing.

[2015-09-12 19:35] #867 closed, assigned to nobody

[2015-09-12 20:17] sudden6 commented on #2122
I think I solved this mystery, it is not a qTox problem.
@ovalseven8 uses a keyboard config without the `nodeadkeys` option, therefore cannot enter these symbols, while @kehugter uses the `nodeadkeys` option and cannot write `à` in a single symbol.
https://en.wikipedia.org/wiki/Dead_key
https://wiki.ubuntuusers.de/Sonderzeichen

[2015-09-12 20:37] ovalseven8 commented on #2122
@sudden6: It is actually a qTox problem. Every program works, only qTox doesn't. Without the `nodeadkeys` option, the char should appear after pressing the key a second time. But it doesn't in qTox.

[2015-09-12 21:28] zetok opened #2213 "With detached windows, switching between contacts using keyboard shortcuts may not work correctly"
Switching between contacts using keyboard shortcuts doesn't work properly if switching in main window encounters contact that is opened in detached window.

https://d.maxfile.ro/oquugthvjz.webm

First reported by @agilob in https://github.com/tux3/qTox/pull/1938#issuecomment-135859212

[2015-09-12 21:37] agilob opened #2214 "Minor but highly discussed and time consumig issues should be added to bountysource"
- decreases bike-shedding
- let's earn some BTC on coding
- adds requested feature

[2015-09-12 22:54] sudden6 commented on #2122
@ovalseven8 I did some further research in a Lubuntu 14.04 vm and found something strange.
It looks like lxde is setting the keyboard layout in a very weird way.

When I set it with `localectl set-x11-keymap de nodeadkeys` (which is probably what setup does) it isn't applied correctly and qtox shows the behavior described by you.

But if I instead set the keyboard layout with `setxkbmap de nodeadk

[2015-09-12 23:11] ovalseven8 commented on #2122
@sudden6: But why every program else works fine?

[2015-09-12 23:13] sudden6 commented on #2122
@ovalseven8 have you tried another qt program or just gtk based ones?

[2015-09-13 02:56] Zer0-One opened #2215 "Glitch receiving screenshot from uTox"
@GrayHatter sent me a screenshot from uTox, and upon clicking the Accept button I ended up with this:

![2015-09-12-222549_1366x768_scrot](https://cloud.githubusercontent.com/assets/1117820/9834950/d8283828-5986-11e5-9db8-7652a3d9a0f4.png)

It's the file-save dialog, but it's minimum size, blacked-out, and I can't click anything; the UI appears to become totally non-responsive until I exit the win

[2015-09-13 05:45] zetok commented on #2215
Duplicate of #2205, thus closing.

[2015-09-13 05:45] #2215 closed, assigned to nobody

[2015-09-13 05:46] zetok commented on #2205
From #2215, thanks to @Zer0-One:

#

@GrayHatter sent me a screenshot from uTox, and upon clicking the Accept button I ended up with this:

![2015-09-12-222549_1366x768_scrot](https://cloud.githubusercontent.com/assets/1117820/9834950/d8283828-5986-11e5-9db8-7652a3d9a0f4.png)

It's the file-save dialog, but it's minimum size, blacked-out, and I can't click anything; the UI appears to become totall

[2015-09-13 05:47] zetok commented on #2205
Looks like issue affects only awesome users?

Or is someone else also able to reproduce?
(can't reproduce on i3)

[2015-09-13 07:38] ovalseven8 commented on #2122
@sudden6: Yes, all programs are working fine so far. Seems it has another background...

[2015-09-13 08:05] zetok commented on #2205
Regression possibly introduced by #2150 - could you build qTox 54c837a03e933fb164fb94647d36bb53fb58eb3a and see if it will work?

[2015-09-13 08:55] raver119 opened #2216 "Incoming message sound volume is too low"
Incoming message sound volume is too low,  and there's no real way to increase it.

It would be nice, if there will be some option to increase volume.

Especially on linux.

[2015-09-13 09:21] ghost commented on #2122
Also, it used to work in qTox not long ago.

[2015-09-13 09:49] zetok commented on #2122
@kehugter on old, outdated builds?

[2015-09-13 11:26] SmoothDude opened #2217 "Memory leak after closing new chat window"
To reproduce issue:
- Open your favourite task manager (to watch memory growth)
- Launch qtox
- Open new chat window from any contact
- Close it
- Repeat 2 last steps until you notice that some memory still isn't freed after new chat window closed

[2015-09-13 14:17] antis81 commented on #2189
@tux3 @zetok :warning: :exclamation: **IMORTANT NOTE**: Damn, I pushed directly to `master` by mistake, while I actually wanted to open PR for review. As it is latest commit currently, I force-pushed `master` to remove it from history. Really sorry for that. Should not happen again!

The single abandoned commit is 15c4f73.

[2015-09-13 14:43] aaannndddyyy commented on #2189
oh, ok. I didn't know it gets them from default locale. I'm using different machines with totally different locales, and when i looked at it and made this issue, I was in fact not on a de locale. So, if it is there when you are on that locale, then I'm happy and this can be closed. However, if you do have PR's that further improve the behaviour, fine. :)

[2015-09-13 15:28] Zer0-One commented on #2205
I'm on dwm, not awesome

[2015-09-13 16:08] antis81 commented on #2189
Setting the date format string should actually be optional. By default, qTox should use the (short?) format as provided by the system locale (see `Qt::DateFormat`).

Instead of using a format string for the conversion, the enum should be used to get the right format for the current system. Transfer of timestamps should always happen in `ISO 8601` format or an equivalent international standard.

[2015-09-13 16:31] agilob commented on #2189
Could you do the same for timestamps to make it look more consistent?

[2015-09-13 16:49] antis81 commented on #2205
Reproducible here as well…

[2015-09-13 17:59] zetok commented on #1709
Still reproducible on 99b5b092d964b634ce39cc4f452711602b38d467

[2015-09-13 19:27] Talkless commented on #1485
Same in KDE (Kubuntu 14.04), I get system notification `Logout canceled "/usr/bin/qtox"` (or something like that, actually in my native language).

[2015-09-13 19:48] o-jasper commented on #1195
See also https://github.com/Tox/Tox-STS/issues/1, i think priority should be bumped because it allows privacy being broken and contacts being confused by mixing up the names..

Infact, imma go and try make a branch that does that, developing from master okey?

[2015-09-13 21:03] antis81 commented on #2205
@agilob @zetok Found the reason - yay! Like expected, the problem is the faulty parented `QFileDialog` (the parent points to the FileTransferWidget, which is embedded into a QGraphicsProxyWidget). The correct parent is the applications main window!

In the meantime to fix the issue, we can set the parent to `parentWidget()` - if no parent is set, this equals 0. In code:

[code]

[2015-09-13 21:49] agilob opened #2222 "Unable to start qTox after Xorg crashed"
I did something bad to Xorg and it crashed, after Xorg and KDE were restarted I'm unable to start qTox:

[code]

[code]

[2015-09-13 21:54] agilob commented on #2222
Restarting computer "fixed" problem

[2015-09-13 22:29] #2205 closed, assigned to nobody

[2015-09-13 23:16] Jumbt opened #2224 "Crash on file accept"
qTox, version: 693e8d84438712eb96c807d0c38a8f8de6cf47fc Built: 16:32:12 Sep 12 2015
Debian Stretch

To Reproduce: Send file to Qtox and accept transfer (tried from utox and antox) - result black error box 'Save a file' with qt error warning box underneath. Qtox becomes unresponsive and must be restarted.

[2015-09-14 00:51] antis81 commented on #2224
@Jumbt What you see is not an error box, but the save dialog (see issue #2205). This just got fixed a few hours ago. Workaround: Press `Escape` key to abort or `Enter` to accept and save file at current location (most probably $HOME).

[2015-09-14 00:51] #2224 closed, assigned to nobody

[2015-09-14 06:46] zetok commented on #2217
Could partially reproduce (after a lot of opening and closing detached window of a contacts).

Memory usage increased from ~77MB to ~81436 KB.

With that being said, when I've tried to continuously open & close same contact, memory stayed at ~81436 KB, (aside from +2MB increase during the time when detached window was open).

Possibly opening & closing other contacts would increase memory usage fu

[2015-09-14 06:58] wiiaam opened #2226 "Broken save file dialog"
When I try saving a file a separate window opens in front of the Qt file dialog. If you move the black window the file dialog will move with it

I'm on openbox btw

<img src="https://sr.ht/_gt1.png" />

[2015-09-14 07:00] suhr commented on #2226
Duplicate of https://github.com/tux3/qTox/issues/2205.

[2015-09-14 07:02] wiiaam commented on #2226
I tried a search for any duplicates, must've missed that

[2015-09-14 07:02] #2226 closed, assigned to nobody

[2015-09-14 08:16] ProMcTagonist opened #2227 "File transfer bubble collides with timestamps in separate chat window"
![qtox file transfer overflowing bounds](https://cloud.githubusercontent.com/assets/4358079/9845179/ee16e3b2-5a7d-11e5-97f2-ca139649c3f1.png)

qTox 9c65603e3da3c619dc2a285ab42bcf4f123e8aba on Debian testing with Openbox.

[2015-09-14 08:50] Getron commented on #2195
Aha, ok, i understand now. But, this is expectation of every user out there, which will use the Tox, like any other messenger, Skype, Viber, ICQ, Yahoo, Google Hangouts, ... Every of this has this option, to use the same profile on all devices. This is a need.

Why then i have the profile import, export there, if i can't use the same profile on devices (or, use it on same time)?

Hope you guys do

[2015-09-14 08:51] ovalseven8 opened #2228 "First qTox start: Friendlist column too wide"
Hello,

a small issue:
If you start qTox the first time, the proportions aren't perfect.
The friendlist column is too wide to my mind.

Reproduce:
1. Remove Tox folder in your .config-directory (Linux) if you've one already
2. Start qTox
3. Create new profile and login

Environment: Lubuntu 14.04
Commit hash: 346c2c64db811dec7ffdd21e0152e65733204533
Screenshot: ![qTox](https://cloud.githubusercont

[2015-09-14 09:28] ovalseven8 opened #2229 "Blank username after deletion from contact list"
Hello,

Alice and Bob are friends in Tox.

Because of reasons, Alice removes Bob from her contact list.

The Tox FAQ says about this:

What happened to me:
In Bob's contact list Alice's name is blank now. So, Bob can suppose that he was removed from Alice's contact list.

Desired behaviour:
In Bob's contact list will be the last name Alice used.

Commit hash: 346c2c64db811dec7ffdd21e0152e657332045

[2015-09-14 10:27] suhr commented on #2229
Duplicate of https://github.com/tux3/qTox/issues/1967.

[2015-09-14 10:38] ovalseven8 commented on #2229
Oh, didn't see. Thanks.

[2015-09-14 10:39] #2229 closed, assigned to nobody

[2015-09-14 10:42] ovalseven8 commented on #1967
For me it's 'P-medium'

[2015-09-14 12:07] CaptainSkywave opened #2230 "move profile location?"
Current profile location: C:/Users/xxx/AppData/Roaming/tox

How do I move/point to another location like: D:/TOX

[2015-09-14 12:07] agilob commented on #2230
use portable mode.

[2015-09-14 12:08] CaptainSkywave commented on #2230
thx

[2015-09-14 12:22] CaptainSkywave commented on #2230
@agilob - OK I found out that I can tick Make Tox portable - but not sure how to then define a new profile location?

[2015-09-14 12:24] PKEv commented on #1652
Use large icons when you first start it seems to me not very logical - can scare the user

To install the LARGE icons is only possible if the correct compiler options
(Qt :: AA_UseHighDpiPixmaps) is set.

[2015-09-14 13:10] DaoDezi commented on #1102
All ok now.

[2015-09-14 13:13] Getron commented on #1652
I'm on Fedora 22 KDE x64 Linux to, but, the default size is 16px (not optimaly or dynamicaly calculated for my 32'' monitor with 2560x1600px).

I think, the 32pix is the optimal view. It fit exaclty on the dark square (or place, where the icons are showed), and it is not to big to scare anyone, but not to small to unrecognize what is what, on big screens.

Try it. I think, the 32px should be the d

[2015-09-14 14:54] ProMcTagonist commented on #1967
Wow, that's a big deal. When did that get introduced?

[2015-09-14 16:48] tux3 commented on #1967
That's a bug in toxcore.

qTox correctly calls `tox_friend_delete` when removing a friend, which correctly sends a 25 PACKET_ID_OFFLINE message to the other client before cleaning up.

The toxcore on the other side receives and handles the 25 PACKET_ID_OFFLINE, and because of a missing `break;` in a switch _also_ handles it as a 48 PACKET_ID_NICKNAME with no data, blanking the nickname...

[2015-09-14 17:10] zetok commented on #1967
huh, since it wasn't merged in toxcore yet, reopening

[2015-09-14 17:14] zetok commented on #2195
You can't use same profile on multiple devices simultaneously.

[2015-09-14 17:17] tux3 commented on #1967
The strange part is that this only happens when someone removes you. If that's the only time this packet is received, it means people with a patched client could still detect when they get removed even with this bug fixed..

[2015-09-14 17:36] zetok opened #2232 "Nick changes in groupchat aren't reflected in qTox quickly enough"
`Relay` gets message from IRC, changes its own nick to nick from IRC, sends message to groupchat and changes own nick back to `Relay`.

qTox doesn't display changed name, only `Relay`. Other clients (µTox, Toxic) and bots (Tox_syncbot, Lee) see the change in the very moment that it happens.

Additional info:
![nick changes](https://cloud.githubusercontent.com/assets/3148759/9856917/76b0d282-5b0f-1

[2015-09-14 17:51] #659 closed, assigned to nobody

[2015-09-14 18:25] tux3 commented on #2232
Probably fixed by 54fc35e714bdf03e13d21e3d2d6c2bddfd37baca

[2015-09-14 18:42] zetok commented on #2232
Reopening, since fix works only sometimes (on 54fc35e714bdf03e13d21e3d2d6c2bddfd37baca):
![sometimes works](https://cloud.githubusercontent.com/assets/3148759/9858459/b0e2c1dc-5b18-11e5-84ed-ed2849063906.png)

**Edit**: I'm not sure if it's not related to hiding peer name if they consecutively say stuff

[2015-09-14 18:53] tux3 commented on #2232
It might be linked to the bug that when your name changes, it still hides it in consecutive messages.

[2015-09-14 19:23] An-dy commented on #2214
+1

[2015-09-14 19:26] zetok commented on #2232
Additionally it doesn't work at all if I have `Relay` added in friends - nick is being automatically assigned as alias..

[2015-09-14 19:35] zetok commented on #2230
@CaptainSkywave I've made https://github.com/tux3/qTox/wiki/Profile - hopefully it has needed info?

[2015-09-15 06:36] torvn77 commented on #1942
I wrote not correct.
On the website linux.org.ru sending of fasting fasting is the hotkey "ctrl+shift"
I want this hotkey and the hotkey "enter+shift" I wrote by mistake.

[2015-09-15 07:49] PKEv opened #2234 "Not displayed user name in the dialog remove friend"
![default](https://cloud.githubusercontent.com/assets/6053197/9870744/549bed2a-5b97-11e5-9cf5-c969694987c2.png)

[2015-09-15 10:18] noerw commented on #2122
I just compiled qTox myself (54fc35e714bdf03e13d21e3d2d6c2bddfd37baca), and it suddenly works as expected.
The build from the apt repo still has the issue.

[This was a Qt bug prior to v5.1](http://wiki.qt.io/Qt_5.0.2_Known_Issues#Linux). Does the build server run the latest Qt version?

[2015-09-15 12:01] zetok commented on #2122
@noerw against which Qt you've compiled it?

Also, which version from repo are you using?
`qtox` (using Qt 5.5) or `qtox-qt5.4.2` ?

Edit: if you use `qtox`, could you check how `qtox-qt5.4.2` works?

[2015-09-15 12:26] zetok commented on #2234
I couldn't reproduce with english version:
![shows_en](https://cloud.githubusercontent.com/assets/3148759/9875942/2edbe366-5baa-11e5-91dd-58f34f3f382f.png)

but with russian one:
![nope_ru](https://cloud.githubusercontent.com/assets/3148759/9876043/f39b8864-5baa-11e5-9556-a257c91ab613.png)

So it looks like a problem when strings are translated.

[2015-09-15 13:03] PKEv commented on #2234
Yes, this is a mistake of translation:

[code]

[2015-09-15 13:38] ovalseven8 commented on #2122
Did further testing:
Latest qTox (Qt 5.5.0 and Qt 5.4.2) from https://wiki.tox.chat/binaries isn't still working.

Another strange experience, in contrast to @noerw:
Compiled with Lubuntu 15.04:

-> https://github.com/tux3/qTox/commit/9b572da5c41ea729324e311c4526a2c636f8128c (Latest version)
==> :x: doesn't work
-> https://github.com/tux3/qTox/commit/dffeb7d6d67d0eaff2f1215f3bebdee7be497aaf (Commi

[2015-09-15 13:56] zetok commented on #2122
@ovalseven8 could you `git bisect` it?
https://github.com/tux3/qTox/wiki/Testing#regression-testing ← should be helpful, if you encounter problems, please say so

[2015-09-15 15:26] ovalseven8 commented on #2122
@zetok: My post above seems to be false.
After `git bisect` and further testing, I am really confused. Sometimes it worked after a few time, somtimes it didn't work at all. Independet from the qTox-version. I don't know what is going on.

The only what I can say: The binaries from the Wiki haven't never worked.

[2015-09-15 16:43] noerw commented on #2122
@zetok: From the repo both versions don't work.
The compiled build that works uses Qt v.5.2.1, at least that's the output of `qmake --version`, and is the latest lib in the ubuntu 14.04 repositories.

How would I ideally install a newer Qt version?

[2015-09-15 16:54] ovalseven8 commented on #1967
Is there a better solution possible? @tux3

[2015-09-15 17:45] zetok commented on #1006
Still happens on 54fc35e714bdf03e13d21e3d2d6c2bddfd37baca

[2015-09-15 18:00] agilob commented on #1967
if(name is empty string)
break; // dont update name

that is not a real solution as would work only for qtox (I assume from the description of the bug).

[2015-09-15 18:17] SkyzohKey commented on #1912
I'm speaking for pictures sent... Their is several libs that strip exif data from files with ease... Lamba users don't even have an idea of what is "metadata", so this popup looks really stupid for me.

[2015-09-15 18:27] zetok opened #2236 "[Feature request] show friend public key"
Possibly on contact `About` page #2136

[2015-09-15 18:29] zetok commented on #235
Since it was removed in 21ab9088b3bb31ec2a6ea7f02ab395f94b20f929, closing.

Showing / copying PK of friend is a separate issue → #2236

[2015-09-15 18:29] #235 closed, assigned to nobody

[2015-09-15 21:38] nodj commented on #1912
Well, I don't think we can agree 'cause I don't see any real-life use case
where a user is aware of qTox, really needs privacy, and doesn't knows
about metadata and doesn't want to search about it. Not realistic at all.
Think about a journalist, a whistle-blower, these guys know about privacy
issue, are probably well aware of metadata and such,and AT LEAST are
willing to spend ten seconds on wikip

[2015-09-15 22:34] PKEv commented on #1656
@tux3
What is the structure of the database to store the information you would like to see?

[2015-09-15 22:37] PKEv commented on #1584
@Agundur
ie the uTox no stores hash?

[2015-09-15 22:55] towlie opened #2240 "The "multi-window" branch merge made qtox look ugly for new users (strange default values)"
This is how it looks like when you start it the first time:
![das](https://cloud.githubusercontent.com/assets/6986141/9892282/a45a7144-5c0d-11e5-95c5-561ea888a8c1.jpg)

[2015-09-15 23:01] towlie commented on #2063
Updates in first post.

[2015-09-15 23:40] ProMcTagonist commented on #2232
:|

[2015-09-16 03:08] zetok commented on #1967
Since toxcore PR was merged, closing.

[2015-09-16 03:08] #1967 closed, assigned to tux3

[2015-09-16 03:17] zetok commented on #2240
Could reproduce.

[2015-09-16 03:26] zetok commented on #1912
Um, that''s _mostly_ not the case **yet** `;)`

Nah, when it comes to technology, people are generally unaware of how things work - being a journalist doesn't suddenly make you aware of everything related to privacy, etc.

With that being said, I mostly agree with @nodj arguments.
Telling user that potentially endangering data might be associated with file that one wants to send sounds a lot bette

[2015-09-16 12:57] agilob commented on #1584
I would assume it doesnt use name for hash but content of the image.

[2015-09-16 19:18] agilob commented on #1485
https://trac.transmissionbt.com/attachment/ticket/5206/0001-fix-Qt-tray-icon-causes-logout-cancelled-by-transmis.patch

seems to be related, also prevents on KDE5

apparently this code from widget.cpp can be problematic

[code]

[2015-09-16 20:36] towlie commented on #2063
Update: it doesn't move to the left only, it also moves a bigger step to the top on every restart. (So it saves incorrect values for x and y)

[2015-09-17 11:18] ElLamparto opened #2245 "Video does not work"
Win7 32bit + Debian Jessie 32bit.
Black video windows on both sides. Audio ok. Video preview ok on both sides.
After conversation finished, the camera rest active - qTox restart required.

Win version updated today, Debian version updated yesterday.

[2015-09-17 11:24] ElLamparto opened #2246 "Application icon"
The qTox application icon is the same as the µTox one. Since I use both, it is confusing. I suggest the same symbol but with a green circle - like one in the systray.

Toxy or (R.I.P) Venom had own distinct icons. qTox deserve one too.

[2015-09-17 11:28] ElLamparto opened #2247 "Green "unread messages" notification stays forever."
After qTox start and then reception of an offline message, green "unread messages" notification stays on the bottom-left side, even after the message is read. It should dissapear then...

[2015-09-17 11:30] ElLamparto opened #2248 "Missing "smoking" emoticon in the impressive collection of qTox"
as above...

[2015-09-17 11:34] ElLamparto commented on #2199
Confirmed. I have the same problem.

[2015-09-17 11:46] agilob commented on #2245
duplicate of and #1971 will be closed by #2093

[2015-09-17 11:46] #2245 closed, assigned to nobody

[2015-09-17 11:49] agilob commented on #2248
Which collection? We actually provide only 3 (or 2?) packages of emoticons.
And by `we` I mean it's a 3rd party dependency.

[2015-09-17 11:52] suhr commented on #2248
Do you mean the “🚬” emoticon?

[2015-09-17 11:54] ElLamparto commented on #2245
Ok, but the trick of going to AV settings does not work in my case. Still no video.

[2015-09-17 11:55] ElLamparto commented on #2248
@suhr , yes I do

[2015-09-17 12:44] agilob commented on #2245
It doesn't work always, for me it worked after 30seconds after visiting a/v settings tab. #2120. The fix is in `work in progress` branch, but apparently work has been suspended :<

[2015-09-17 12:47] zetok commented on #2120
Since it seem to be a duplicate of #1971, should be closed?

[2015-09-17 12:56] aaannndddyyy opened #2249 "rename detach option"
The option "Open chats in separate window" is wrongly named.
Not only chats are ooened in a separate window. And if you have more than one chat they don't get a separate window each, but share one, unless another option is cheked.
This leads to confusion.

Actually this very text or "Open each chat in an individual window" should be used for the option underneath it, now called "Don't group chat w

[2015-09-17 13:04] CaptainSkywave commented on #2230
@zetok
Thank you very much - now I finally understand it :)

[2015-09-17 13:38] zetok commented on #2247
Could reproduce.

Notification finally disappears when scrolling down, but not when clicking on it (it should then).

That's a regression, and seems to have appeared after ~~new groupchats~~ detached windows were merged. If needed, I could do `git bisect`, if no one else will want to do it.

[2015-09-17 17:31] #2120 closed, assigned to nobody

[2015-09-17 18:58] zetok commented on #2249
Since #2250 was merged, closing.

[2015-09-17 18:58] #2249 closed, assigned to nobody

[2015-09-17 22:14] zetok commented on #2230
Since question appears to be answered, and there was created wiki entry about it, closing.

[2015-09-17 22:14] #2230 closed, assigned to nobody

[2015-09-18 06:45] zetok commented on #1898
![improved](https://cloud.githubusercontent.com/assets/3148759/9953458/e896112a-5dd8-11e5-8cd8-86679b5ae3de.png) ![improved2](https://cloud.githubusercontent.com/assets/3148759/9953469/08c9dd82-5dd9-11e5-9449-a42627433e81.png)

Ok, it was improved - should `Login` be changed to `Existing profile` or something, or is it good now?

[2015-09-18 06:49] LittleVulpix commented on #1898
How about "load/use existing" or something that makes it clear the profile is actually on your device, not "somewhere" ? Too often I meet people who say "weird I logged in with the same user and pass but I don't see any of my contacts" when in reality they just created a new tox profile on a different device.

[2015-09-18 06:54] TheNain38 opened #2252 ""None" in Video device not translated and "Desktop" isn't translatable"
![capture](https://cloud.githubusercontent.com/assets/13149763/9953654/de2b4b2e-5de2-11e5-87d9-5f2f4d412706.PNG)

And also Desktop isn't translatable at all.

[2015-09-18 07:02] zetok commented on #1898
@LittleVulpix right, I'll do that.

[2015-09-18 13:16] PKEv commented on #2240
duplicate #2228

[2015-09-18 14:38] zetok commented on #2228
So, apparently this is a regression introduced with merge of #1938.

[2015-09-18 14:39] zetok commented on #2240
Since it's a duplicate, closing.

[2015-09-18 14:39] #2240 closed, assigned to nobody

[2015-09-18 16:03] TheNain38 opened #2257 "Combo box next to "Theme Color:" isn't translated"
![capture](https://cloud.githubusercontent.com/assets/13149763/9964181/32f4ede4-5e2f-11e5-8c60-e6c554b2e5e0.PNG)

It is in the "fr.ts" translation file but it isn't translated.
Even after a restart.

[2015-09-18 16:07] zetok commented on #2257
Yeah
https://github.com/tux3/qTox/blob/f8352d63ff17bbb551fc575252b747ac95208b99/src/widget/style.cpp#L74,L75

IIRC there was another issue like that, but about date format(?).

[2015-09-18 16:11] TheNain38 commented on #2257
Maybe translation file is loaded after `Style::themeColorNames` is created.
Anyway it should also be translated dynamically.

[2015-09-18 17:07] zetok commented on #1216
Is this still reproducible on newest qTox?

[2015-09-18 17:12] jhasse commented on #1607
What do you guys think about a .msi installer? I would be willing to create one, just recently played around with it using WiX.

[2015-09-18 17:36] zetok commented on #1607
@jhasse is it possible to create them on debian?

[2015-09-18 18:02] TheNain38 opened #2259 "Tooltips on mute microphone etc... aren't translated on language change when in a call but are when muted/unmuted"
How to reproduce:
- Start a call
- Change language
- look at tooltip

[2015-09-18 18:06] zetok commented on #2259
Possibly related to #1695.

[2015-09-18 18:12] #2252 closed, assigned to zetok

[2015-09-18 20:15] Zer0-One commented on #1607
if you can build it on jenkins, we can serve it from pkg.tox.chat

[2015-09-18 20:30] soredake opened #2261 "OSX: segfault on start"
https://gist.github.com/fenque/3ed35db902edf0bbbe35

[2015-09-19 00:03] #1898 closed, assigned to zetok

[2015-09-19 00:14] agilob opened #2263 "Automate and speedup translation process by adding qTox to weblate"
https://hosted.weblate.org/ all opensource projects are welcome there.

Weblate would have to be added as collaborator to github repository so bot can push directly to selected branch.

[2015-09-19 08:05] suhr commented on #2263
Is this really necessary?

[2015-09-19 08:17] agilob commented on #2263
No, you can still add translations by standard PR or use FOSS webservice which synchronises translations and commits. It's easier and faster.

[2015-09-19 08:22] #2234 closed, assigned to nobody

[2015-09-19 08:28] suhr commented on #2263
It's rather more “user-friendly”. Anyway, if strandard PR are allowed, I'm ok with this.

[2015-09-19 08:39] zetok commented on #2263
I'm not sure whether I like that part, but otherwise it sounds good.

[2015-09-19 08:44] agilob commented on #2263
It's better than opening new PR every time for minor translations like we are flooded with recently. Weblate is hooded to commits, if new strings appears or original translation was changed you can get email about it, you can subscribe to translations in your language.

![weblate](https://cloud.githubusercontent.com/assets/2544251/9975387/e72fccf6-5eb2-11e5-8a7e-95c1ec2dbf3b.png)

After user finis

[2015-09-19 11:11] aaannndddyyy commented on #2122
I can confirm it for Trisquel Gnu/Linuxlibre
Latest binary from tox.chat.
Both keys not working: ^ and é è

I tried explicitly other qt programs and they have no problem  with.

It has to do with the libraries used.
I do not have that problem with the launchpad version (kytv) of qTox.

[2015-09-19 12:08] aaannndddyyy commented on #2197
simply altering the pitch a fixed amount does not provide any protection, it is just a fun setting.
That applies to anything that uses an injective mapping.

You'd want something indeterministic at the very least.
Or alternatively a combined voice to text && text to speech approach.  That one is safe as far as voice is concerned.
Profiling based on choice of words and sentence patterns are definit

[2015-09-19 13:46] zetok commented on #2228
git bisect with
good commit: 60c18d07a675759d3ef6f0ca451f31b2bb300729
bad commit: 346c2c64db811dec7ffdd21e0152e65733204533

points to:

[code]

[2015-09-19 16:08] aaannndddyyy opened #2267 "screenshot mode note's transparency is ugly"
The little yellow note informing about the options is rather transparent.
This looks bad as it is directly over the qTox title or any maximized window's title.
It does not get into the screenshot, but it looks not nice.

[2015-09-19 16:11] aaannndddyyy opened #2268 "filetransfers and timestamps overlap"
If I use a small window, the filetransfer bubbles overlap with timestamps.
![qtox-screenshot-ojk13983](https://cloud.githubusercontent.com/assets/4164816/9977040/fa9c26dc-5ee8-11e5-9751-1a7e1a2d8efe.png)

[2015-09-19 17:55] jhasse commented on #1607
@zetok WiX is written in C#, so I think it will be difficult. After googling I only found this:http://wixtoolset.org/issues/4381/ So maybe it's possible using Wine?

[2015-09-19 20:28] blade1989 commented on #1903
Any progress on this?

[2015-09-19 21:17] Jeeppler commented on #1903
First of all, I would make this optional per friend and in general. Secondly I would resolve all TCP/HTTPS by using the TOR network and allow only HTTPS sites.

@ProMcTagonist I like his idea of providing a whitelist of sites like wikipedia, stackoverflow and other useful sites. The qTox user can then add more sites to his whitelist or turn off the white list.

[2015-09-19 22:12] agilob commented on #2267
This issue is completely meaningless. Suggestions or patches are welcome...

[2015-09-19 22:57] aaannndddyyy commented on #2267
it's not meaninless. It means I as a user of qTox do not lilke it.
You can of course have a differing opinion on the aesthetics of it.
But to me, different texts fused into one another look bad.

Suggestion1: make it non-transparent
Sugesstion2: if you love it the way it is leave it the way it is
Suggestion3: if you need to see what's underneath it and you cannot see it when non-transparent, hide

[2015-09-20 01:08] subliun opened #2269 "Dragging two contacts into each other should create a circle"
maybe

[2015-09-20 01:19] ProMcTagonist commented on #1903
A user-editable whitelist sounds like it solves all the security and privacy concerns. Oneboxing would definitely add to the wow factor during an initial encounter with a Tox chat :)

[2015-09-20 01:24] ProMcTagonist commented on #2268
Me too.

![qtox file transfer overflowing bounds](https://cloud.githubusercontent.com/assets/4358079/9978754/a1928780-5efb-11e5-986e-1939707de78d.png)

[2015-09-20 01:27] ProMcTagonist commented on #2197
Off-topic, but RE:profiling via style, see: https://github.com/psal/anonymouth/blob/master/README.md

[2015-09-20 01:27] ProMcTagonist commented on #2269
Why not a groupchat?

[2015-09-20 06:35] agilob commented on #2267
I don't mind it, I 80% like it.

@PKEv could you take that issue?

[2015-09-20 06:36] agilob commented on #2268
It's a known issue and was reported before.

[2015-09-20 06:37] agilob commented on #1903
No because qtox connects to 3rd party network with weak encryption and exposes additional metadata.

[2015-09-20 06:49] zetok commented on #2267
If possible, I think that it should be hidden on mouse hoover over it.

[2015-09-20 06:52] zetok commented on #1607
@jhasse well, using wine isn't really a solution.

[2015-09-20 07:57] ovalseven8 commented on #2269
Don't think this is needed.

[2015-09-20 08:46] SkyzohKey commented on #2269
Seems more logic to add friend in groupchat on drag. When dragging a friend into another friend item, it could create a groupchat, then when dragging a friend into the groupchat item it would add the contact on the group :+1:

[2015-09-20 08:56] SkyzohKey commented on #2136
Would be cool if we'll be able to disable this. If an user don't want to make it's "profile" accessible then it would just uncheck the corresponding chekbox. :)

[2015-09-20 09:05] zetok commented on #2136
No, it wouldn't be.

All info that **you choose to share** are opt in - by default you don't even have your name set to anything related to you, nor is the status message set to anything related to you. If you don't want to share something, just don't put anything in those fields.

[2015-09-20 09:09] agilob commented on #2136
This data is taken from your drive, form your local database. If you want to prevent it... ymmm dont add contacts ;)

[2015-09-20 09:09] SkyzohKey commented on #2136
@agilob ah, i "missreaded" :p

[2015-09-20 11:13] TheNain38 commented on #2267
I like zetok's idea.

[2015-09-20 17:24] RadJaz opened #2270 "No "X" button to exit in gnome after enabling multiple windows"
There isn't an "X" button in the top right corner when I enable multiple windows. I am running gnome and it looks like this
![screenshot from 2015-09-20 12-03-52](https://cloud.githubusercontent.com/assets/10097860/9981993/5fd9021e-5f92-11e5-971c-f996d2d90de7.png)

This does have a workaround however, if i put my mouse in the top-left corner of the screen, i can close it from there, like this:
![s

[2015-09-20 18:11] ProMcTagonist commented on #1903
@agilob Could you elaborate? The whitelist I'm talking about is receiver-side, meaning users' devices only visit domains they've deemed acceptable.

It's true that a user could disagree with the default shipped whitelist and find out it exists the hard way. How could we fix that?

[2015-09-20 18:24] TheNain38 commented on #1216
I can't reproduce it on Windows 8.1 64-bit a53f6f2adfff59b28fa27fb522ccff235d7a7e58 in French and English language.

[2015-09-20 21:26] Jeeppler commented on #1903
first of all this feature should be disabled, if you enable that the user should be able to decide if he wants to use the qTox whitelist or modify it.

Another option could be, that every link which is in the whitelist gets a small icon at the bottom-end which allow to activate the metadata onebox thing for this link. This means the user can enable the metadata link to get the medatadata for this

[2015-09-20 21:32] zetok commented on #1903
By not introducing the problem in the first place. Best, quickest fix that exists out there.

[2015-09-20 21:37] zetok commented on #1216
Well then, since it doesn't appear to be reproducible with Qt 5.5, closing.

[2015-09-20 21:37] #1216 closed, assigned to nobody

[2015-09-20 21:41] PKEv opened #2271 "link like "tox:...." don't work"
in windows link like tox:1233123131321321312 don't work
start a new process and all

[2015-09-20 21:47] zetok commented on #2271
Duplicate of #1926, thus closing.

[2015-09-20 21:47] #2271 closed, assigned to nobody

[2015-09-20 21:49] zetok commented on #2271
Also, given by you link is not supposed to work, since it should have 76 hexadecimal characters in order to be an ID.

[2015-09-20 21:53] zetok commented on #1926
From #2271, it would appear that `tox:` links don't work on windows - since example provided in that issue didn't have correct ID, could this be checked with correct ID in "link", that will have 76 hexadecimal characters, e.g. `tox:90F4C2558794EDC54C62585541DC7105583D9E20B5B29F0034B5032A15F4CE3CEC4927D6D779` ?

[2015-09-20 22:22] PKEv commented on #1926
and new users can't use this link because link "tox:...." was registered by nsis setup
how this mechanism will work in multiple application starts (different accounts)?

[2015-09-20 23:04] ghost commented on #2270
FYI: no issues in Cinnamon 2.6.13.

[2015-09-21 06:51] zetok commented on #2270
@kehugter um, from what has been said on IRC, I understood that @RadJaz uses qTox under wayland - do you have similar setup with Cinnamon?

[2015-09-21 07:57] suhr opened #2272 "Don't use external handlers for tox links"
See https://github.com/tux3/qTox/issues/1925

[2015-09-21 07:57] ghost commented on #2270
Nope, X.

[2015-09-21 09:21] antis81 commented on #2270
Cannot reproduce on `OpenBox` (X env.) also.

Had a look into the code and found, that the "forms" (SettingsForm, GenericChatForm, …) inherit directly from `QWidget`. If you have a look at the QWidget defaults, you'll find, those widgets are not marked as a `Qt::Window` (Qt::Dialog probably?). This might hint the WM to render a window frame, but without the buttons we "usually" expect.

@RadJaz Co

[2015-09-21 09:58] azlux opened #2273 "[Proposal] change of blinking icon on new message"
hi all,
I've try some Tox client on different OS.
On windows, i cannot see new messages because the icon change (green to orange) is not so easy to notice.
When i look at µTox we have real changes to catch the new message (+notification), the icon become red, and that is easy to see.
![sans titre 1](https://cloud.githubusercontent.com/assets/11210117/9989327/c41e3e7c-6057-11e5-8d59-c54a7e007e03.pn

[2015-09-21 10:42] zetok commented on #2273
So, basically, what you're asking for are 2 things:
1. Notifications in qTox (duplicate of #483)
2. Change of blinking icon.

Since there's already an issue for notifications open, this one could be used only for discussion related to change of blinking icon.

[2015-09-21 12:03] azlux commented on #2273
Indeed, the blinking icon on new message is the topic of this discussion !

[2015-09-21 13:40] sytolk opened #2274 "Feature request"
Thanks for the free Skype :+1:
do you have a plan to support SIP or IAX2 protocols ?

[2015-09-21 14:21] zetok commented on #2274
You're welcome `;)`

No, qTox uses **secure** protocol - adding support of some other, **insecure** by nature protocols would only harm qTox.

With that being said, it should be possible to make bridges `Tox ↔ IAX2` / `Tox ↔ SIP` - although this wouldn't be secure, and wouldn't be directly a part of the qTox, it may be possible.

What would be needed though, is probably support in `toxcore`, and s

[2015-09-21 14:26] agilob commented on #2274
To do so, you would have to create centralised bridge (which is what tox tried to avoid) that translates one protocol into another, it's not a qTox issue. qTox is just a client based on toxcore library/protocol.

[2015-09-21 14:26] #2274 closed, assigned to nobody

[2015-09-21 14:57] sytolk commented on #2274
As I understand in the feature will be not possible to make a phone call from IAX2 trunk to qTox client?
Maybe this question is for https://github.com/irungentoo/toxcore project but qTox is just a client and can use toxcore protocol for tox users and some IAX2 library to connect tox users with IAX2 user. I think that qTox or Antox.. applications can be this bridge for open source connection.

[2015-09-21 16:16] Snowyiu opened #2275 "Unknown Error on Profile Creation (OS can't handle "special" symbols in filenames)"
When creating a new profile and using the characters '|', '<' or '>' in the Username field, there'll be an unknown error when the 'Create Profile' button is clicked.

[2015-09-21 16:51] zetok commented on #2275
Well, the problem is with your OS - i.e. it can't even handle normal characters like `| < >` in filenames.
(profile name that you enter during creation of profile is used as a filename)

I guess that solution to it would be to tell the user that they can't use certain characters on error.

[2015-09-21 22:30] zetok commented on #2269
IMHO creating groupchat seems like a better behaviour.

[2015-09-21 22:31] zetok commented on #2269
@subliun if that's ok with you, perhaps change issue title to (…) create a groupchat ?

[2015-09-21 22:34] zetok commented on #2268
Right, a duplicate of #2227, thus closing.

[2015-09-21 22:34] #2268 closed, assigned to nobody

[2015-09-21 22:38] suhr commented on #2269
May conflict with https://github.com/tux3/qTox/issues/645

[2015-09-22 00:29] ghost commented on #2275
Windows' unbeaten beauty and clarity
https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247%28v=vs.85%29.aspx

Symbols that should be forbidden for names under Windows:
`<` `>` `:` `"` `/` `\` `|` `?` `*`

And there are more recommendations in the link.

Also important to notice is that Windows and Mac are case insensitive. In Linux at least I can create different profiles changing only

[2015-09-22 01:31] RadJaz commented on #2270
You're correct in that I am running gnome on wayland. I guess I should've mentioned it in the original post. But I'm not quite understanding what you're asking for me to check. If you could give me more detailed instructions, I'd be happy to, though. I apologize for my lack of knowledge.

[2015-09-22 05:51] ProMcTagonist commented on #2274
No. qTox will not promote insecure protocols. You can use Miranda or Weechat if you'd like a multiprotocol messenger.

[2015-09-22 06:09] ProMcTagonist commented on #2273
I think I would like a Tox Orange body better than a red one like what utox uses.
<img src="https://cloud.githubusercontent.com/assets/4358079/10011843/6f69f782-60b5-11e5-9c76-58aee310da52.gif" width="30">

<img src="https://cloud.githubusercontent.com/assets/4358079/10011866/a99fe8a8-60b5-11e5-99fa-ebebeca17e63.gif" width="30">

[2015-09-22 06:51] zetok commented on #2273
I like orange one more too.

[2015-09-22 06:58] azlux commented on #2273
The orange icon is good. Do you want to keep it blinking ? It's may be too aggressive into the taskbar, no ?

[2015-09-22 07:02] zetok commented on #2273
Probably isn't: https://d.maxfile.ro/wlyrvixwhi.webm

[2015-09-22 07:27] agilob commented on #2273
is orange and green color-blind friendly? i'm not sure about it.

[2015-09-22 07:37] suhr commented on #2273
It's a bit ugly.

[2015-09-22 07:43] antis81 commented on #2270
@RadJaz No problem. Unfortunately I don't have a Wayland environment for testing available here. So… I cannot actually check this and ask you to compile it. I guess you do not have a build environment set up, right? I'll setup a pull request (branch) with the required changes to test this until evening (well… hopefully the plane lands on time :smile:). Feel free to Tox me `C52DA9FE98B86AF01178CB60

[2015-09-22 07:44] zetok commented on #2270
@RadJaz well, basically @antis81 asked you to recompile source after you change source code a bit - I guess that's not something that you're familiar with.

Don't, no one knows everything `:)`

Generally, you should get source, apply patch ↓, build qTox, and run it.

[code]

(that is, if I got correctly what @antis81 wrote about)

@antis81 btw, since I don't think that people in general will be ab

[2015-09-22 07:45] antis81 commented on #2270
@zetok Yep! :+1: :smile:

[2015-09-22 07:46] agilob commented on #2270
please dont ask users to apply patches, it's not what they are for ;)

[2015-09-22 07:51] zetok commented on #2273
@suhr well, that's due to poor quality of .webm; also there's lack of improvements from #2132 which, IIRC, were helping with how icon looked.

https://github.com/tux3/qTox/blob/2bdb6339a529702a495859bdc792127f2a26cc73/img/taskbar/dark/taskbar_event.svg ← that's how it is supposed to look(?)

If you're talking about generally "whole" icon in orange looking bad - I'm not sure what could be done abou

[2015-09-22 07:56] antis81 commented on #2270
@agilob No users were harmed during the testing of this issue! :smile: -> See zetok's comment above.

[2015-09-22 08:00] zetok commented on #2275
@kehugter actually, Linux can't also handle `\0` in filenames `;)`

I think that this issue could be used to track it for all systems - I'm not sure though to what issue title could be changes to reflect that.. ideas?

[2015-09-22 09:46] agilob commented on #2270
We have nice jenkins setup which can build branches and commits from forks, so I guess it would be easier for everyone to use it than send patch files (you still had to write that code, extract patch and post patch, so you could commit and push).

[2015-09-22 09:49] agilob commented on #2275
We had the same issue in saving files sent from linux 20:12:40.jpg is not valid on Windows but is on Linux. One solution could be parse invalid filename to HTML... not pretty but will work or use boost library to do it for us... but that would increase build size and code wouldn't be nice. Remember we need to be able to save valid file and read it later, so we need both ways solution.

@antis81 ?

[2015-09-22 15:47] ghost commented on #2275
@zetok I tried it too and worked (backslash + zero)...

![qtox profile](https://cloud.githubusercontent.com/assets/6382342/10023329/d5cd55ea-6151-11e5-9c69-d3a846bc31e5.png)

![ls](https://cloud.githubusercontent.com/assets/6382342/10023331/db097750-6151-11e5-992d-bbca253c1ceb.png)

[2015-09-22 15:48] agilob commented on #2273
What about blinking white-black icon? We have both already in repo. That would a couple of lines to implement it.

[2015-09-22 15:50] agilob commented on #2275
Try the same on windows.

[2015-09-22 16:00] zetok commented on #2275
@kehugter not literal backslash + zero, but null char that it represents.

[2015-09-22 16:08] ghost commented on #2275
@zetok I see, I thought the string `\0` was meant to be interpreted as null

@agilob it will fail due to the `\` alone. And the real null too

[2015-09-22 16:36] ProMcTagonist commented on #2273
Maybe we can change up the shape more?

![exclaim](https://cloud.githubusercontent.com/assets/4358079/10024719/69f38da6-610d-11e5-86f8-dc8d6d9384c4.gif)

[2015-09-22 17:26] Diomas opened #2278 "toxcore version issue on About page"
Is it really 0.0.0 or it's a bug?

![toxcore-version-issue](https://cloud.githubusercontent.com/assets/856038/10026019/152fafba-6168-11e5-8487-b9f51e3865c7.png)

[2015-09-22 17:45] ovalseven8 commented on #2278
There is no version for toxcore at the moment.
It's more like a placeholder.

[2015-09-22 17:57] #2278 closed, assigned to nobody

[2015-09-22 17:58] agilob commented on #2275
Let's just forbid adding special characters to profile name.

[2015-09-22 18:06] zetok commented on #2275
@agilob right. Though.. I wonder about backwards compatibility - e.g. I have a profile with whitespace as a name:

[code]

[2015-09-22 18:51] ghost commented on #2275
The file name length restriction in Windows should also be considered for OS interportability.

[2015-09-22 18:53] ghost commented on #2273
:+1:
Couldn't it instead mimic the dots in the friends list when you receive a new message? A "glowing" effect could be added to make it more noticeable.

[2015-09-22 19:11] zetok commented on #2275
@kehugter I wonder about that - using extended filenames (or whatever it's called) filenames on windows can be up to 32768 chars long on ntfs.

[2015-09-22 19:46] ghost commented on #2275
@zetok Up to 32767 for the full path (or almost, it can't be that easy). XP and Vista can, but not necessarily do, support it (https://msdn.microsoft.com/en-us/library/930f87yf.aspx). Those 2 OSs still make 14% of the market share according to this site
https://www.netmarketshare.com/operating-system-market-share.aspx?qprid=10&qpcustomd=0

Furthermore, most users won't be able to get to those file

[2015-09-22 19:50] agilob commented on #2275
16 characters and restriction for special chars?

[2015-09-22 20:17] #2267 closed, assigned to nobody

[2015-09-22 21:20] PKEv commented on #1925
It seems to me that the more logical trap links within qtox something like "linkactivated(QString)" otherwise it is not clear how it should work when running multiple accounts

[2015-09-23 08:03] photonometric commented on #1642
mmm isn't this pretty much the same issue as #1883? Portability seems to be working on the newest builds, except for avatars not carrying over ^^

[2015-09-23 09:45] antis81 commented on #2270
@agilob Thanks! I didn't know about that. Will it "automagically" pull the fork? Otherwise I'll put the info inside the PR.

[2015-09-23 10:04] agilob commented on #2270
I think first time a branch is build @zetok must add it manually to jenkins.

I wish we were using gitlab and gitlab-ci where this happens automatically for all branches, commits and merge requests.

[2015-09-23 11:41] antis81 commented on #2275
Excuse - wrong button…

[2015-09-23 12:59] subliun opened #2280 "Default font is too small"
It's just too small for no reason. I can't read any name in my contacts list.

[2015-09-23 13:02] subliun opened #2281 "You have to type "YES" to remove a friend."
![capture](https://cloud.githubusercontent.com/assets/2082980/10045584/f1b095c8-6242-11e5-8356-c9177dc522b9.PNG)

I mean, really?

[2015-09-23 13:04] tsdko commented on #2281
What's wrong with that?

[2015-09-23 13:05] subliun commented on #2281
Everything. Everything is wrong with that.

I thought it was some sort of bizarre joke/bug at first.

[2015-09-23 13:10] zetok commented on #2281
What is the problem?

[2015-09-23 13:12] subliun commented on #2281
@zetok I had to type "YES" to delete my friend.

[2015-09-23 13:12] zetok commented on #2281
@subliun and what is the problem with it?

[2015-09-23 13:13] zetok commented on #2281
@subliun why wouldn't you be able to?

[2015-09-23 13:15] agilob commented on #2281
This string is translatable. In Polish you write "TAK".

[2015-09-23 13:15] zetok commented on #2281
I see. Closing as invalid.
![tfw no ascii](https://cloud.githubusercontent.com/assets/3148759/10045857/8a534bc2-61fd-11e5-990a-652f84e61470.png)

[2015-09-23 13:15] #2281 closed, assigned to nobody

[2015-09-23 13:18] subliun commented on #2281
Okay. This is still just silly though.

[2015-09-23 13:30] subliun commented on #2281
What if someone speaks a language that qTox doesn't have a translation for?

[2015-09-23 13:32] zetok commented on #2281
Then they know english, since without that they wouldn't be able to use qTox anyway..

[2015-09-23 13:46] subliun commented on #2281
@agilob surely you can see why this is terrible UX?

[2015-09-23 13:47] wiiaam commented on #2281
A delete/cancel dialog would suffice
Make the default cancel though in case my cat walks on my keyboard or something

[2015-09-23 13:51] subliun commented on #2281
I encourage devs to do some reading.
http://ux.stackexchange.com/questions/74/the-must-read-user-interface-book

[2015-09-23 14:54] zetok commented on #2270
Actually, no, jenkins currently only tracks `master` branch of `tux3/qTox` - I just added to it tracking of `testing` branch on `tux3/qTox` - for any changes to be build as a binary that users could test, they must be currently pushed to either `master` or `testing` branch.

Currently travis builds all branches & PRs.

@antis81 could you push that change to `testing` branch?

[2015-09-23 14:57] RadJaz commented on #2270
When a testing binary is available, I will gladly test it on my setup.

[2015-09-23 14:59] agilob commented on #2270
yes, but travis doesn't publish built binary files.

[2015-09-23 14:59] zetok commented on #2270
@agilob AFAIK it can be made to do that, but it's not a good idea anyway.

[2015-09-23 15:02] zetok commented on #2270
Actually, I'll just push to `testing` branch.

[2015-09-23 15:05] zetok commented on #2270
@RadJaz ok, in <15 min "Downstream Projects" of https://build.tox.chat/view/Sources/job/qtox-testing_src/ should build, which you could test `:)`

[2015-09-23 15:46] photonometric commented on #849
Might this have been corrected along with (most) portability problems in commit 54c837a03e933fb164fb94647d36bb53fb58eb3a?

Using a build from 4 days ago (b5b7bcfdd0f9734fd83a0c4a24b33100d53d07ae) I was able to create persistent portable qTox instances (in which "Make Tox Portable" is always ticked), and I seem to have no trouble exporting my profile. This .tox export also imports back into qTox su

[2015-09-23 16:00] zetok commented on #2270
@RadJaz does https://build.tox.chat/view/Sources/job/qTox-testing-qt5.4.2_build_linux_x86-64_release/lastSuccessfulBuild/artifact/qTox-testing-qt5.4.2_build_linux_x86-64_release.tar.xz improve things for you?

[2015-09-23 16:05] zetok commented on #849
If it seems to work, then I'm closing the issue.

[2015-09-23 16:05] #849 closed, assigned to nobody

[2015-09-23 16:11] TheNain38 opened #2284 "When deleting a profile its '.ini' configuration file isn't removed"
reproduce:
- Create a profile
- Delete it
- its '.ini' file isn't deleted

Windows 8.1 64-bits
commit: c7b5337723fe291c5e12f87b74edc6f08523c966

[2015-09-23 16:51] sudden6 opened #2285 "Segfault while group audiochatting"
I and my friends got a segfault (linux) / crash (windows)

The following was the last output of qtox:

[code]

I'm running with gdb right now and wait for it to happen again.

My qtox version: a53f6f2adfff59b28fa27fb522ccff235d7a7e58

This was caused by one of the participants closing qtox.

[2015-09-23 17:29] sudden6 commented on #2285
backtrace, while it happened the second time:

[code]

[2015-09-23 18:13] zetok commented on #2285
Looks like a duplicate of #1995, closing.

[2015-09-23 18:13] #2285 closed, assigned to nobody

[2015-09-23 18:14] zetok commented on #1995
From #2285, thanks to @sudden6 :

My qtox version: a53f6f2adfff59b28fa27fb522ccff235d7a7e58

This was caused by one of the participants closing qtox.

[2015-09-23 18:42] ghost commented on #2284
Neither in Mint
a53f6f2adfff59b28fa27fb522ccff235d7a7e58

[2015-09-23 18:58] ghost commented on #2275
Is it already decided? I see no reason to limit Linux and Mac users because of Windows. In my opinion
- `/` and `\0` should be prohibited everywhere
- In Windows, profile creation using a reserved character or too long name/path shouldn't be permitted
- In non-Windows, if the user uses a long name (>50 chars?) or Windows reserved chars, a warning should be displayed about issues with portability +

[2015-09-23 19:02] alexbakker commented on #2280
Looks fine on my machine.
<img src="https://impy.me/i/15efdb.png"/>

Where is the font too small, specifically?

[2015-09-23 19:19] agilob commented on #2275
1. portable mode.
2. export/import profiles

[2015-09-23 19:47] agilob commented on #1903
qTox opens connection to network with weaker encryption, by sniffing network traffic and looking at metadata like URL context of ongoing conversation can be exposed. I'm against this feature in any form. Maybe in a future we could create a simple API to allow writing plugins.

[2015-09-23 19:49] Jeeppler commented on #1903
+1

[2015-09-23 19:57] src386 commented on #2273
Hi,
Yeah this is a real problem.
I often receive messages but I don't notice because it's just not visible.
Blinking icon AND window list (I'm on Xfce) would be great !

[2015-09-23 20:03] Jeeppler commented on #2273
orange-green is not really nice. What's about just having a colourized exclamation mark, but static? Like not a blinking thing, it should be something calm but noticeable like github notifications (just a blue dot)

[2015-09-23 20:33] RadJaz commented on #2270
It appears not
![screenshot from 2015-09-23 15-32-30](https://cloud.githubusercontent.com/assets/10097860/10057936/65ef59e6-6208-11e5-9907-619a23cb46b4.png)

[2015-09-23 20:37] Getron commented on #1820
@agilob Do you use a native Fedora 22 KDE x64 (KDE 5.4)? If not, try to install, and you will see.

Until now, the tray icon stay hidden, or not there on my fedora 22 KDE x64 (now, on KDE 5.4, to)

No one has idea how to solve this for KDE 5.4?

No tray (nor black or white) icon at all on Fedora 22 KDE x64. It doesn't work.

[2015-09-23 21:32] antis81 commented on #2270
Thanks @zetok! Somebody with a Wayland environment should better go on and fix this one.

@RadJaz This might be also controlled by a setting in Gnome WM. My environment shows three buttons (_ - x) on the friend list window as well.

[2015-09-24 03:41] linux-modder commented on #1820
Seeing as I have  Fedora 22 xfce and  space to bolt on kde I'll see if its  qtox or kde.

[2015-09-24 08:08] agilob commented on #1820
@Getron I have archlinux with latest Plasma5.
How did you install/compile qtox? from source? which version of qt do you have?

[2015-09-24 09:08] ElLamparto commented on #2280
Probably you have to uncheck option Compact contact list (Settings/General)

[2015-09-24 09:44] src386 opened #2287 "qtox bypasses proxy if not available"
Hi,
I have a SOCKS proxy.
I have set that proxy in qtox and it's working.
But when the proxy is offline, qtox is still available to connect, that's weird.
So I'm not sure it really uses the SOCKS proxy...

[2015-09-24 09:56] agilob commented on #2287
Isn't it a toxcore issue? We just set proxy settings in toxcore setup.

[2015-09-24 09:56] zetok commented on #1642
Right, if it works, then I'm closing this issue.

A separate issue should be should be opened for avatar potability.

[2015-09-24 09:56] #1642 closed, assigned to nobody

[2015-09-24 09:58] src386 commented on #2287
So I should create an issue at toxcore github ?

[2015-09-24 10:00] zetok opened #2288 "[Feature request] avatars should be also affected by `Portable` mode"
From #1883 and #1642.

Related (depends on): #1656

[2015-09-24 10:02] zetok commented on #1883
Closing, since issue about profile & settings not being affected by `Portable` mode was fixed.

Separate issue about avatars not being carried over: #2288.

@fcore117 Could you please open a separate issue for your proposal regarding cli switch?

[2015-09-24 10:02] #1883 closed, assigned to agilob

[2015-09-24 10:33] agilob commented on #2287
I'm not sure but I think so. @zetok?

[2015-09-24 12:38] linux-modder commented on #1820
@Getron, On Fedora 22 (with kde and qt5.5 --the current default when installing  kde desktop) I can not  reproduce your  lack of  color sanity on kde.   See below and if  I have missed something or  you see something glaringly  different  please let me know.

`(with xfce using qt5.5 and light icon)`
![qtox-xfce](https://cloud.githubusercontent.com/assets/5921776/10073444/f1b6b3f0-6296-11e5-8d7b-b7

[2015-09-24 13:30] DanTheBritish commented on #2280
That doesn't increase font size, only the spacing around the contacts.

[2015-09-24 13:32] DanTheBritish commented on #2281
GitHub forces you to enter the name of a repository when deleting.

[2015-09-24 15:28] zetok commented on #1595
Could someone using windows test https://build.tox.chat/view/Clients/job/qTox-testing_build_windows_x86-64_release/lastSuccessfulBuild/artifact/qTox-testing_build_windows_x86-64_release.zip , which should have it fixed?

[2015-09-24 16:29] TheNain38 opened #2290 "Screenshot: When pressing space to hide qTox sometimes it is in proccess of reappearing"
![qtox-screenshot-thcnm944](https://cloud.githubusercontent.com/assets/13149763/10079336/bbd48a7a-62e9-11e5-9b67-4d726818e9ae.png)
I took this screenshot with qTox to show what I mean.

Windows 8.1 64-bits
commit: eb1d70176d9d752b3ade7738e15984c40fb332c4

[2015-09-24 17:43] linux-modder commented on #2290
Do you have any  transparency settings with non fully opaque  transitional states ? Being a linux guy mostly I can remember where it is  on Win 8.1... But to clarify you can have opacity for  types of  windows e.g. inactive,popup,etc also may be something graphics related (graphics card attempting to  redraw and  creating that `artifact` appearance

[2015-09-24 17:56] agilob commented on #2290
I'm not sure what happened? Did you take a screenshot of that white grid?

[2015-09-24 18:01] ghost commented on #2246
I thought I'd see what I can come up with. Turned out to be this:

![Link to image because GitHub enjoys funk music](https://imgrush.com/5r627aF2_MsU.png)

Basically, I just took the original icon and added a circle. That makes the speech bubble appear as 'q', which keeps the easily recognizable Tox icon while giving it branding at the same time.

People who dislike 'q' can also read it as 'g' or

[2015-09-24 18:06] #2284 closed, assigned to nobody

[2015-09-24 18:14] agilob commented on #2246
Thanks for suggestion @Tirifto I would be happy to marge it if you could create it as .svg

You can see examples here https://github.com/tux3/qTox/blob/master/img/icons/

[2015-09-24 18:15] agilob commented on #1820
@Getron would you be able to test this PR? It changes tray icon backed for KDE5 and GNOME3.
https://github.com/tux3/qTox/pull/2132

[2015-09-24 18:16] zetok commented on #2290
@agilob hiding & restoring window simply is made by letting some time "flow" when window is being hidden/restored (100ms)

[2015-09-24 18:17] ghost commented on #2246
And I'd be happy to create it as .svg @agilob

Should I just change the SVG, or should I replace all the icons in /img/icons (and/or others)?

[2015-09-24 18:17] agilob commented on #2290
So there should be added a delay (100ms?) before showing/hiding qtox window?

[2015-09-24 18:18] zetok commented on #2246
@agilob but that icon doesn't even look good?

[2015-09-24 18:18] agilob commented on #2246
I like it 80%, more than current.

[2015-09-24 18:21] ghost commented on #2246
@zetok Do you know of a way to make it look better or have a different idea? I can try making improvements or a new one.

[2015-09-24 18:26] agilob commented on #2270
Wrong, issue isn't fixed @antis81

[2015-09-24 18:32] zetok commented on #2290
um, no, that's what currently happens..
https://github.com/tux3/qTox/blob/45db1dff9184b509c72fe167664c9a7694385ab9/src/widget/tool/screenshotgrabber.cpp#L99
Actually, it would seem to be 200ms.

[2015-09-24 18:33] zetok commented on #2246
@Tirifto I don't like that dot in lock

[2015-09-24 18:36] zetok commented on #1820
@agilob why not push that PR to `testing`, since now it doesn't have anything there that wouldn't be in `master` ?

[2015-09-24 18:44] agilob commented on #1820
it conflicts with current git history and I can't fix conflicts now.

[2015-09-24 18:46] zetok commented on #1820
![deleted](https://cloud.githubusercontent.com/assets/3148759/10083108/dcdad732-62f4-11e5-8d14-7fe13a4d8faa.png)

Shouldn't conflict now :)

[2015-09-24 18:55] TheNain38 commented on #2290
No this didn't happened before #2254 was merged this is because of restoring window.
It should wait a little more before being restored.

[2015-09-24 20:28] NoxNoctium commented on #2246
Another suggestion, targeting better visibility, would be to add a negative outline around the actual icon or all transparent areas. Antox for example uses this technique to make the icon visible on black launcher backgrounds, in windows virtually every tray bar icon is styled like this.

[2015-09-24 20:34] zetok commented on #2287
https://github.com/tux3/qTox/blob/6229e045f2b40fbb9ab32e38b3f92ae403ee130b/src/core/core.cpp#L219,L225

@src386 ↑ if you don't see in log `bad proxy` or `proxy not found`, then it's a toxcore issue, and issue should be opened on it.

toxcore's documentation on `TOX_ERR_NEW_PROXY_NOT_FOUND` says only:

[code]

So, it does look like a toxcore problem, given that proxy name could be resolved, even if

[2015-09-24 20:41] #2273 closed, assigned to nobody

[2015-09-24 20:42] agilob opened #2291 "Add silent setting to change Blinkenlights"
https://github.com/tux3/qTox/pull/2276

[2015-09-24 20:45] agilob commented on #2280
@subliun could you provide screenshot?

[2015-09-24 21:12] zetok opened #2292 "[Regression] qTox lost all my sent messages from few last days"
qTox 1673b43e26c853f6446f228fec083af166cbf446 , has happened also on some earlier version.

I don't have any of my sent sent messages in my history after restarting qTox (all received messages are still shown), for past 8 days.

Seems like a recent regression, I'll try to track it down later with bisect.

[2015-09-24 21:16] zetok commented on #1820
@Getron could you test https://build.tox.chat/job/qTox-testing_build_linux_x86-64_release/11/artifact/qTox-testing_build_linux_x86-64_release.tar.xz ?

[2015-09-24 21:20] TheNain38 opened #2293 "'Light icon' should be able to be checked even when 'Show system tray icon' is unchecked"
![capture2](https://cloud.githubusercontent.com/assets/13149763/10087198/c7b7d954-6312-11e5-9179-219ad0fb1dce.PNG)

[2015-09-24 21:32] TheNain38 opened #2294 "When changing language setting 'Proxy type: ' reset to 'None' instead of the value it was before"

[2015-09-24 21:42] ProMcTagonist commented on #2293
If that's the case, because the icon is still used for the general purpose icon, 'Light Icon' shouldn't be in the System tray section at all

[2015-09-24 21:49] ProMcTagonist commented on #2246
@Tirifto icon is bad

@markus1540 I would like to see what you mean by this

[2015-09-24 22:02] antis81 commented on #2270
@agilob Yeah, I cannot check it cause I don't have Gnome/Wayland installed. Guess we require somebody running this environment who is able to check it.

[2015-09-25 06:29] pantran commented on #816
This is unfortunately not fixed. The commit only fixes 32-bit, what was the reason for this? A contact with russian Windows 8 (64 bit) apparently has the same problem as above and in #831. Would you apply the fix to 64 bit?

[2015-09-25 06:54] zetok commented on #816
@pantran which qTox version doesn't want to work (shown on About page)?

[2015-09-25 06:54] pantran commented on #816
can not check right away but guessing about a week old, a nightly build

[2015-09-25 07:11] pantran commented on #816
(thanks for the commit, nevertheless) I still see more of ifdef Q_OS_WIN32 in the file and guess more fixes are needed (both video and audio is affected both in and out, in different situations)
video is possibly a different issue but it seemed to follow the same pattern, depending on visiting the settings page and who calls whom

[2015-09-25 07:13] zetok commented on #816
Oh, right, thanks for pointing that out - will fix.

[2015-09-25 07:27] pantran commented on #816
thanks, looking forward to the next night build

[2015-09-25 07:30] zetok commented on #816
@pantran could you check whether 32 and 64 bit builds work correctly with those changes?
32: https://build.tox.chat/job/qTox-testing_build_windows_x86_release/2/artifact/qTox-testing_build_windows_x86_release.zip
64: https://build.tox.chat/job/qTox-testing_build_windows_x86-64_release/14/artifact/qTox-testing_build_windows_x86-64_release.zip

[2015-09-25 07:37] pantran commented on #816
sure, not immediately but I will report back as soon as the affected party will be able to test

[2015-09-25 07:47] antis81 commented on #1595
@PKEv @Impyy Can you confirm this is fixed.

[2015-09-25 07:51] zetok commented on #1595
@antis81 why remove `A-windows` though, since issue seems to affect only windows?

[2015-09-25 08:01] antis81 commented on #1595
@zetok No, it affects a multi-monitor setup with **primary screen on right side**. In this case the previous aproach uses wrong coordinates to take the snapshot. The code I wrote picks the right "panorama" of all screens now, no matter in which order they are. Now user picks the wanted area out of it and takes the screenshot. That's all… :)

[2015-09-25 08:08] zetok commented on #1595
I see. Thanks for explanation `:)`

[2015-09-25 08:22] PKEv commented on #1595
White screen on the second monitone
(primary screen on right side)
During selection:
![default](https://cloud.githubusercontent.com/assets/6053197/10096093/9795b4a2-6377-11e5-997b-b3b705959d70.png)
result:
![qtox-screenshot-olia2428](https://cloud.githubusercontent.com/assets/6053197/10096108/ac58663c-6377-11e5-864f-045164ecb730.png)

[2015-09-25 08:29] klonamy opened #2296 "[Request] Highlight chat history"
Hello,

for better visibility i would like to have the numbers in the calender view, when you have a chat history, bold.

[2015-09-25 11:45] PKEv commented on #1595
from #2262:
my screen:
![my](https://cloud.githubusercontent.com/assets/6053197/10099609/e2ad8cf0-6393-11e5-9dd9-11a75240b22f.png)

The problem is not to give a picture of the screen with it copes well, a problem with the placement of the resulting image:
![in monent](https://cloud.githubusercontent.com/assets/6053197/10099611/e773aea4-6393-11e5-8e49-18012d64cb54.png)

[2015-09-25 11:54] antis81 commented on #1595
@PKEv Thanks for the info! That changes situation.

[2015-09-25 12:30] antis81 commented on #1595
@PKEv Can you check the new PR #2297 then, please? -> follow up to #2289

[2015-09-25 12:45] zen2 commented on #2246
Actual icon is problematic on black background for sure: it's displayed like a white square with the black icon inside. If I choose the light icon in preferences, it's displayed as a really light grey square with an white icon on it so the icon can't be distingued really.
I think it's good to choose between a ligth and dark icon but icon background NEED to be transparent to integrate perfectly wit

[2015-09-25 14:15] tux3 commented on #2214
Related: https://github.com/tux3/qTox/issues/1888

[2015-09-25 14:31] tux3 commented on #2222
Looks like a Qt / Xorg bug at first glance.
Can't wait for Wayland..

[2015-09-25 14:40] tux3 commented on #2281
I also think that having to type "YES" is really annoying, a confirmation dialog would probably be enough.

[2015-09-25 14:50] ghost commented on #2246
At least three people don't like dots in locks. What do you think about lock in a dot?

[Link to the image](https://imgrush.com/x304Hv0wimGS.png)

[2015-09-25 14:59] NoxNoctium commented on #2246
A similar icon seems to exist for the osx build (https://github.com/tux3/qTox/issues/1541), although I prefer your proposal (or even the one by stqism: http://qs.lc/sqmox)

[2015-09-25 15:25] zetok commented on #2280
@subliun so, basically this issue is about **default** font being too small? If so, could you change title to `Default font size is too small` ?

related issues: #672, #1025

[2015-09-25 16:01] ProMcTagonist commented on #2246
@Tirifto @markus1540  Just makes it smaller and removes the distinctive outline. The qTox logo is fundamentally right already, it could just use a little subtle texturing to make sure it stands out on most backgrounds and doesn't look too flat and simple.

@zen2 that's a known issue and I think it's Qt's fault

[2015-09-25 16:03] ProMcTagonist commented on #2281
Any obstacle you put in the way of a destructive task, the user will automate with muscle memory if they do it enough. That's why you have to make destructive actions recoverable, not just try to make them harder. A "Recently Removed" list would be better than making users type on deletion.

[2015-09-25 17:49] agilob commented on #2246
@zen2 This was a Qt issue, afair it was fixed in 5.5 or even 5.4

[2015-09-25 19:22] zetok commented on #2296
Note: bold day numbers which have some history.

![calendar](https://cloud.githubusercontent.com/assets/3148759/10110123/0fe455c6-63c3-11e5-8179-41061c4474fe.png)

[2015-09-25 19:40] ghost opened #2299 "Discussion: Bring qTox forward"
The development of qTox has slowed down for a while now and the issues are growing and growing. I think it's time to speak about how we can improve the current situation and really bring qTox forward. Just waiting for new developers or better times isn't the solution we should trust.
Actually, qTox is probably the most important client for Tox and should be boosted.

We have almost 400 (!) open is

[2015-09-25 22:04] SkyzohKey commented on #2246
#2214 - **Edit:** This is time wasting, their is so many issues that needs to be resolved before thinking about a new icon...

[2015-09-25 22:35] meskarune opened #2300 "Contacts Appear online when qTox is left open even though they are not online"
I would like to report a bug where contacts are showing up as online when they are no longer online. I have to quit qTox and reopen it for the contact list to update. If you could let me know what logs to gather, I'll see what I can do. I looked through ~/.config/tox/qtox.log and didn't find anything useful.

[2015-09-25 22:43] Jeeppler commented on #2299
@TheSpiritXIII has done a lot of work, still his work is far away from being merged. I guess merging those changes would solve a lot of issues. Then qTox alpha/beta or something like that should be released for testing and after the testing phase as new client.

[2015-09-26 07:17] agilob commented on #2299
I was thinking about cherry-picking some of the commits in his WIP branches. At least some issues would be solved.

[2015-09-26 07:49] antis81 commented on #2299
@TheSpiritXIII Is it true you're not contributing any longer to qTox for whatever reasons? Would you help in reviewing the stuff occasionally as required (no coding) until done?

In case TheSpiritXIII is no longer working on qTox, I'd happily go through the outstanding PR's and cherry-pick the good stuff. @agilob If you like, we can divide the work and pick (and separate) the branches onto master

[2015-09-26 08:11] zetok commented on #2299
Weird, I thought that I posted comment here, but it would seem that I forgot to press the button..

anyway, posting again.

#

@Jeeppler

Well. First, those PRs conflict against master, which makes them _harder_ to merge.
Additionally, most (all?) of them introduce some regressions, which would be _harder_ to fix without @TheSpiritXIII's help, since he knows the best code he wrote.

Now, since @Th

[2015-09-26 08:52] TheNain38 opened #2301 "When closing qTox and you were AFK and your status switch to 'Away' if you close qTox and reopen it your status is away"
It happens since #2298 was merged.
Reproduce:
- Set your status to 'Online'
- Wait for qTox to think you're AFK, so it sets your status to 'Away'
- Close qTox without moving mouse, use Alt+F4
- Reopen qTox and your status is set as if you set it to 'Away'

Expected behaviour:
qTox should load your status as if you were 'Online'

What happens:
qTox load the 'Away' status

[2015-09-26 08:54] agilob commented on #2301
What's the problem actually?

[2015-09-26 08:58] zetok commented on #2301
@agilob status not changing from `Away` back to `Online`

[2015-09-26 09:35] antis81 commented on #2301
@agilob :+1:

qTox saves the status and reloads it on next start correctly. So there's no problem!

[2015-09-26 09:37] TheNain38 commented on #2301
Yes, but if you were 'Online' and qTox set status to 'Away' because you were AFK, if you close and reopen it it loads status 'Away' even though you were 'Online' before

[2015-09-26 09:56] zetok commented on #2301
Or rather, the real problem is that qTox doesn't detect activity properly - i.e. it's probably about qTox not detecting activity before being closed, which causes status to be saved as `Away`, even though just before closing it should have been changed to `Online`, since there was an activity.

[2015-09-26 10:00] TheNain38 commented on #2301
It takes one second to detect activity. Also it could be made to change to 'Online' if you were AFK previously when closing it so it would save the good status?

[2015-09-26 10:29] antis81 commented on #2301
In this case, this also relates to #2300.

[2015-09-26 12:17] TheNain38 opened #2302 "Can't scroll when mouse is on a desactivated checkbox"

[2015-09-26 14:58] uxname opened #2303 "Screenshoting while multiple windows mode"
I set option multiple windows mode, and when i doing screenshot i press "space" to hide chat-window, but only contact-list window is hidden.
That's effect you can see in attached gif
![qtox](https://cloud.githubusercontent.com/assets/2634142/10118113/25fb57c8-6478-11e5-9fa1-fd61d60428d3.gif)
.

[2015-09-26 17:57] TheNain38 opened #2305 "If you invite someone to a group multiple times he receive multiple dialog asking if he wants to join"
Reproduce:
- Setup:
  - Create 2 profiles
  - Make them friends
- Create a group chat with one profile
- Then invite multiple times the friend
- The friend receive multiple times the dialog to join

Expected behaviour:
He receive only one dialog.

What happens:
He receive multiple times the same dialog

[2015-09-26 21:22] ProMcTagonist commented on #2301
This is the solution.

[2015-09-26 23:04] TheNain38 opened #2306 "Proposal: qTox could be made to detect email address and create a 'mailto:' link"

[2015-09-27 00:21] NoxNoctium commented on #2306
would probably heavily conflict with toxdns services.

[2015-09-27 06:29] ovalseven8 commented on #2287
That's what irungentoo wrote in the toxcore-issue:

Would change the priority to 'High'.

[2015-09-27 06:33] agilob commented on #2306
we don't modify user input/output!

[2015-09-27 06:33] #2306 closed, assigned to nobody

[2015-09-27 09:04] TheNain38 commented on #2306
@agilob And if you write mailto:example@example.com explicitly?

[2015-09-27 09:15] agilob commented on #2306
Personally, I don't think qtox should detect several most common protocols, currently @PKEv  was working on this.

[2015-09-27 09:30] sudden6 commented on #2305
I can confirm this and want to add the following:

If someone doesn't want to join a groupchat now, but maybe later, there is currently no way of doing that.
I would suggest a list of recieved groupchat invites where you can later join or delete the request permanently.

[2015-09-27 09:46] zetok commented on #2305
I wonder how doable is that..

[2015-09-27 10:04] sudden6 commented on #2305
Maybe we could add another tab to the filetransfer history, like "Groupchat Requests".
I don't know if this is even supported by toxcore, I'm just delivering ideas :)

[2015-09-27 10:20] NoxNoctium commented on #2246
@ProMcTagonist something like this: ![icon outline](http://qs.lc/3v0ne)

[2015-09-27 11:14] subliun commented on #2305
In Antox group invites act like friend requests. I'm not sure if they expire though, so it might not actually be doable.

[2015-09-27 12:17] SmoothDude opened #2308 "Memory leak after closing main window"
To reproduce this issue:
- Open your favourite task manager (to watch memory leak)
- In qTox's General settings enable these: Show system tray icon, Close to tray | Minimize to tray
- Now close main window
- Open it from system tray again
- Repeat last 2 steps above until you'll notice that memory leaks

Maybe related with: #2217

[2015-09-27 13:06] agilob commented on #2246
nice!

[2015-09-27 16:42] ProMcTagonist commented on #2246
@markus1540 +1 although I don't know if the outline is required where there's already transparent white.

[2015-09-27 18:31] NoxNoctium commented on #2246
the transparent white (or if the white icon is choosen grey) is not included in all icons currently. also it feels more consistent, filling it completely white looks good too imo.
a few examples where improvement is needed:
![](http://qs.lc/13jwu)
![](http://qs.lc/eicot)
![](http://qs.lc/w06bs)
![](http://qs.lc/uk1ze)
![](http://qs.lc/62g2l)

[2015-09-27 18:47] zetok commented on #2292
So. I could reproduce that with only 1 profile. Weird.

I've checked out to 47c4fab08bcecf31278cad9e78870a1161a618d0 and apparently things worked, whereas master (42c29c8b8fa5e719c9c78c15f109b358c9225c0c) didn't work.

I've used those points for bisect.

[code]

After reverting 564b32eb7c196b39016dfd67c5c4260fb78b8fca things work correctly.

@PKEv could you fix that? I think that problem exists wh

[2015-09-27 19:16] PKEv commented on #2292
What nickname was used? So I can repeat at itself

[2015-09-27 20:07] zetok commented on #2292
`Zetok\0`
\0 - null char

[2015-09-27 20:32] PKEv commented on #2306
The support can be made
but the user is unlikely to be handed typing "mailto:example@example.com"

[2015-09-27 20:39] TheNain38 commented on #2306
@PKEv Yes, I didn't think of that, but it would be cool. And for 'tox:' do they think to type it and create a link?

[2015-09-27 21:26] empirebuilder1 opened #2310 "qTox refuses to start on Windows 8.1"
Attempted to start the pre-built binary suppled by the Jenkins repo (https://build.tox.chat/view/Clients/job/qTox_build_windows_x86-64_release/), build 141. qTox starts to the profile selection page, and gets no farther. I attempted to create a new profile named "Testing123", but the program never loads, and the process disappears about 10 seconds later. Log, although it doesn't say much: http://p

[2015-09-27 21:30] TheNain38 commented on #2310
It is because of #2309 I think, also crashes on Windows 7 64-bits

[2015-09-27 21:45] #2310 closed, assigned to nobody

[2015-09-27 22:21] PKEv commented on #2306
you're right, but I still doubt that this demand
Make is not difficult.
Thus it is necessary to add something to the subject of the message (like I use the qTox ;) ) ?

[2015-09-27 22:29] TheNain38 commented on #2306
It could be written somewhere that they can create link using 'tox:' and 'mailto:' If 'mailto:' support would be added, evantualy.

[2015-09-27 22:52] empirebuilder1 commented on #2310
Thanks, latest build (144 on Jenkins) fixed the problem. It now starts as normal.

[2015-09-28 00:24] empirebuilder1 commented on #2308
Can confirm in Jenkins build 144 (Revision 14235c5a19fbd3c8484ec16068ea33a72d64ff0a). Closing and opening the program steadily increases memory usage by about 400-800k each time. However, if left idle and closed for about two minutes, memory usage drops to normal.

[2015-09-28 01:20] Getron commented on #1820
@zetok I have tested this one you sended to me, but, the same, no icon on tray. I have the breeze-dark theme, and breeze-dark icons. Maybe is this problem?

I have tested the newest one qTox, from 28.09.2015, but the same. No icon on tray. The "Light icon" doesn't change anything, no icon.

[2015-09-28 01:27] linux-modder commented on #1820
I checked with non breeze themes as well same  issue on anything kde Fedora 22

[2015-09-28 03:07] Getron commented on #1820
I don't compile qTox myself, i just use this version, download from here:
https://build.tox.chat/view/Clients/job/qTox_build_linux_x86-64_release/lastSuccessfulBuild/artifact/qTox_build_linux_x86-64_release.tar.xz

I think, it is the latest one (nightly builds)?

And the reason, why i'm use Fedora 22 Kde, is, that is the only one distro, that add my 2 SSD on Software RAID on Installing Fedora, wit

[2015-09-28 07:04] tux3 commented on #2228
Link to the bad commit: 22fcc3f7a0b854fa9c14090e7b529134046dcfeb

[2015-09-28 10:09] suhr commented on #2306
@agilob Reopen this please (“mailto links support”).

[2015-09-28 16:29] TheNain38 commented on #1999
You could use `QString QString::toHtmlEscaped() const` http://doc.qt.io/qt-5/qstring.html#toHtmlEscaped before printing, so it would just escape them, not strip them

[2015-09-28 16:59] TheNain38 opened #2313 "Proposal: When creating a groupchat, choose to create only a chat, or only an audiochat or both"

[2015-09-28 18:29] PKEv commented on #2167
I thought that such an address must also be supported ???
tox:user@doman.com

[2015-09-28 18:31] zetok commented on #2167
Yes - this is though about input that doesn't have `@` in it, and is a pubkey - people often try to use pubkey to add friend, which doesn't work.

[2015-09-28 18:33] ghost opened #2315 "Non Latin based Unicode Languages"
Issue:
Unicode based languages does now prints in output window, one can see fine when one type but it sends an empty line to other person. Check following video
https://www.youtube.com/watch?v=8ZJ-qH9t2v0
How to reproduce:
Open any chat window and type any Arabic script language (Arabic, Persian, Urdu, Daari, Pastho etc)
for example you can copy paste my name
امجد شیخ
u can see it correctly where

[2015-09-28 18:42] PKEv commented on #2167
What do you mean by input validation?
filtering of input characters?

[2015-09-28 18:46] PKEv commented on #2081
fixed in #2282 ?

[2015-09-28 18:51] ByteCommander opened #2316 "Unity tray icon does not stop blinking unless main window gets focussed (Multiple windows mode)"
I have set **Multiple windows mode** in `qtox-unity` on Ubuntu 15.04, so that the left main window (contact list) and chat/settings windows are separated and independent of each other.

Now when have the main window and a chat window open, both are not focussed and in background, the tray icon starts blinking when I receive a message (of the user in my open chat window). But when I now click on th

[2015-09-28 19:06] FabrizioMarana commented on #2316
Same here.

lsb_release --short --codename&&uname --kernel-release
trusty
3.13.0-63-generic

Commit hash: 42c29c8b8fa5e719c9c78c15f109b358c9225c0c

Any other info you need: shout!

[2015-09-28 19:41] PKEv commented on #1871
closed?

[2015-09-28 19:41] zetok commented on #2315
Duplicate of #1887, thus closing.

[2015-09-28 19:41] #2315 closed, assigned to nobody

[2015-09-28 19:41] zetok commented on #1887
From #2315 thanks to @shake031:

#

Issue:
Unicode based languages does now prints in output window, one can see fine when one type but it sends an empty line to other person. Check following video
https://www.youtube.com/watch?v=8ZJ-qH9t2v0
How to reproduce:
Open any chat window and type any Arabic script language (Arabic, Persian, Urdu, Daari, Pastho etc)
for example you can copy paste my name
ا

[2015-09-28 19:43] zetok commented on #1465
#1887 is actually a duplicate of this one, but this gets closed in favour of the other issue having more useful info.

[2015-09-28 19:43] #1465 closed, assigned to nobody

[2015-09-28 19:44] EwolBash commented on #2168
I'm having this issue as well.

qTox
Git commit: e1509a9f03d721fe9aa8741f63bdbaea7f3c5b6a

Cinnamon 2.6.13
Arch Linux. 4.2.1-1
Qt 5.5.0

[2015-09-28 19:55] zetok commented on #2316
This looks like a duplicate of #2211

[2015-09-28 20:20] zetok commented on #1871
yep

[2015-09-28 20:20] #1871 closed, assigned to nobody

[2015-09-28 20:39] zetok commented on #2306
@suhr if it's about supporting `mailto:` links without modifying user input, then I think that making a new issue would be better

[2015-09-28 20:44] Zer0-One opened #2317 "Renaming circles with mouse click"
While editing the label for a circle, if you make a change and then click outside of the editable box, the change is not saved. Currently, changes are only saved when the user presses the Return key. Instead, the default behavior should be to save the changes made after clicking outside of the box.

[2015-09-28 20:56] TheNain38 opened #2318 "mailto links support"
When entering manually 'mailto:'

[2015-09-28 21:15] Zer0-One commented on #2318
+1

No need for any kind of auto-detection, but if the user enters a mailto manually, it should be clickable.

[2015-09-28 22:44] ProMcTagonist commented on #2313
The user should not ever be /required/ to make this decision. The vast majority of users will be making chats where they will want to, at some point, use AV, so audio chats should be the default.

The question is, then, what's an easy way to indicate that you want to create a group chat where AV will never be allowed? What are the possible reasons for the user desiring this?

[2015-09-29 01:05] ProMcTagonist commented on #2317
+1

[2015-09-29 03:19] smc2000 commented on #2317
I also noticed that by clicking outside of a circle title when it is edit mode causes the horizontal white line to disappear. The line comes back if you edit the name of the circle again and press Enter to confirm the circle's name.

[2015-09-29 06:03] TheNain38 commented on #2313
Groupbot gave me this idea, so I looked at qTox's code and see it was creating the chat and the audio separatly.
The setting to make the user choose, when creating a groupchat, to create a chat or audio only or both should be in the advanced settings.

Also, when 06611d618e4306b2402717bc4a62d505b0a77200 would get reverted it could be two buttons next to the button to create a groupchat

[2015-09-29 06:39] agilob commented on #2317
1. start renaming circle
2. uppps not this circle
3. click out side because that's default behaviour for cancelling edit
4. circle renamed

[2015-09-29 06:57] zetok commented on #2313
Err, no, it shouldn't be in _settings_.

[2015-09-29 07:04] zetok commented on #2211
From #2316, thanks to @ByteCommander:

#

I have set **Multiple windows mode** in `qtox-unity` on Ubuntu 15.04, so that the left main window (contact list) and chat/settings windows are separated and independent of each other.

Now when have the main window and a chat window open, both are not focussed and in background, the tray icon starts blinking when I receive a message (of the user in my ope

[2015-09-29 07:04] zetok commented on #2316
Closing, since it's a duplicate.

[2015-09-29 07:04] #2316 closed, assigned to nobody

[2015-09-29 08:07] ByteCommander commented on #2211
Yes, same issue indeed. I just did not recognize it when searching through the titles...

[2015-09-29 08:29] ByteCommander commented on #1872
So how does exporting and importing profiles now work manually, as it's still not implemented?
Which files do I need to copy in order to replicate my profile on another device? May I rename files during the transfer?

[2015-09-29 14:45] ghost opened #2321 "Weekly to-do list # 1"
A few days ago I created an issue with suggestions how to bring qTox forward. Unfortunately, there was no really discussion about it.

Now, in consultation with @tux3, I will start the 'Weekly to-do list'.
Every week a new thread will be created with some open issues that should be done after the week. The goal of it is to work as many issues as possible off. Perhaps the motivation of some develop

[2015-09-29 17:39] ovalseven8 commented on #2287
For me the proxy should be enforced by default, right?

[2015-09-29 18:06] #2290 closed, assigned to nobody

[2015-09-29 18:07] #2318 closed, assigned to nobody

[2015-09-29 18:11] karanchahal commented on #2015
Where is the file where I can see where the search bar is?

[2015-09-29 18:48] agilob commented on #2015
Do you mean search contacts?

[2015-09-29 19:16] agilob commented on #2187
Personally I think the avatars are too big right now.

[2015-09-29 20:53] pantran commented on #816
sorry could not contact that affected party any more, which means I will not be able to verify the result.

anyway, looking at the code I believe the fix was due to both 32 and 64 bit windows and your change https://github.com/zetok/qTox/commit/b2b50c26ce64c8abead744277517f4655ca184e5 looks right. your prompt answer and fix were impressive, thanks.

[2015-09-29 23:04] EwolBash commented on #2168
I've discovered a workaround.

https://github.com/Eric89GXL/Cinnamon/commit/50ae241a414cc0208757b3e75fcb576132639d87

Basically if you open the 'Windows' settings in Cinnamon and go to 'Behaviour' there is an option that states 'Prevents focus stealing'. This fixes it for me.

[2015-09-29 23:05] SkyzohKey commented on #2015
http://doc.qt.io/qt-5/qlineedit.html#clearButtonEnabled-prop ← Just set this at true for the QLineEdit that is used to search contacts. :)

[2015-09-29 23:06] Getron commented on #2187
@agilob I don't known, if on my Fedora it is a bug, or not, but, look at this what for avatars i see on my qTox, they are extremly, not recognisable avatars, right now.

![auswahl_064](https://cloud.githubusercontent.com/assets/5913218/10180659/6dff155c-670f-11e5-8245-9bd107e2073b.png)

And this is the version from yesterday, nightly build of qTox

And, if you, like me, have an 32'' Monitor, and r

[2015-09-29 23:10] SkyzohKey commented on #2187
[**@Getron**](https://github.com/Getron) commented on [30 Sep 2015, 01:06 GMT+2](https://github.com/tux3/qTox/issues/2187#issuecomment-144216549):

You just enabled the Compact mode in settings, disable it and you'll have normal contacts item (so normal avatar sizes).

[2015-09-30 00:00] ProMcTagonist commented on #2187
Compact mode is on by default now.

[2015-09-30 00:04] SkyzohKey commented on #2187
o.o Looks stupid but...

[2015-09-30 00:34] karanchahal commented on #2015
Yeah search contacts .just tell me where I can find that and then I'll
figure something out
On 30-Sep-2015 12:18 am, "agilob" notifications@github.com wrote:

[2015-09-30 00:35] karanchahal commented on #2015
Thank you :)
On 30-Sep-2015 6:04 am, "Karan Chahal" karanbleep@gmail.com wrote:

[2015-09-30 06:24] agilob commented on #2187
Uncheck 'Compact contact list'

[2015-09-30 10:15] TheNain38 commented on #2187
Maybe it shouldn't be checked by default?

[2015-09-30 10:47] agilob commented on #2187
I agreed with @zetok  to set it by default on, we decided it looks better. When I show qTox to new people they usually ask me how to make contacts smaller. We still don't know if it's the issue.

This one is about compact list.

This is a feature request, because making the avatars that big would be huge waste of space.

Make it even bigger? It's already huge and size of the avatar is breaking lay

[2015-10-01 10:21] quininer opened #2326 "fcitx not working in qTox (from pkg.tox.chat)."
qTox (from pkg.tox.chat ) static compiled Qt, leading to fcitx-qt5 not working.
I recommend to provide a non-static compiled qTox, as well as independent toxcore package.

Non-static compiled qTox available to the user need to use input method, independent toxcore package can facilitate the use on the server, without having to compile it yourself.

I know it's not a qTox issue, but I can not find

[2015-10-01 13:46] zetok commented on #2326
@quininer from what I understood, only Qt has to be a shared lib?

[2015-10-01 13:56] zetok commented on #2326
welp, only @nurupo can make shared Qt libs builds, so right now I can't do anything.

[2015-10-01 14:09] quininer commented on #2326
Arch AUR: http://p.vim-cn.com/cchf
Debian pkg.tox.chat: http://paste.ubuntu.org.cn/3494528

[2015-10-01 15:57] nurupo commented on #2326
Well, we want our clients to work out of the box on as many distributions as possible. Some currently used distribution versions don't have Qt5 in their package repository, or they do, but it's too old for qTox, or different deb-based distributions use different dependency names for Qt5 packages, so we wouldn't be able to use the same .deb package on these distributions, we would have to make dist

[2015-10-01 16:04] quininer commented on #2326
@nurupo  Maybe we can fcitx-qt5 static compiled into qtox.

[2015-10-01 16:15] nurupo commented on #2326
@quininer that's for qTox folks to decide whether they want to build qTox with fcitx-qt5 compiled into it.

[2015-10-01 16:20] quininer commented on #2326
ok.

[2015-10-01 16:55] zetok commented on #2129
@LapFox doesn't ubuntu 15.04 have ffmpeg in repos?

If so, is there a particular reason to use custom-build ffmpeg?

[2015-10-01 17:29] zetok commented on #1202
So, it looks like it's a duplicate of #223, thus closing.

[2015-10-01 17:29] #1202 closed, assigned to nobody

[2015-10-01 17:31] zetok commented on #223
From #1202:

#

There should be a mic feedback feature\* in the Audio/Video settings to make sure audio input/output work.

\* think Mumble/Steam

[2015-10-01 20:57] antis81 commented on #2129
@zetok (L)ubuntu 15.04 has ffmpeg in repos - and more important 14.04 LTS has also.

[2015-10-02 08:16] DanTheBritish commented on #2129
Removed my compiled ffmpeg, installed pre-built from the repo.

[code]

Recompiled qTox, but same result, webcam is not in qTox dropdown.

[2015-10-02 19:49] TheLastProject opened #2328 "[Regression] When busy, qTox will not show new message circles"
qTox used to be quiet when a message arrived when busy, and still is, which is fine.

However, somehow, qTox started to not even change to the "unread messages" circle in the friend list when receiving a new message for a conversation, making it impossible to know anyone messaged you at all when busy, even when looking straight at qTox.

[2015-10-02 20:10] pizzamaker commented on #2328
I'm having the same issue, could you please increase the priority over this?

[2015-10-02 20:12] zetok commented on #2328
Mind doing https://github.com/tux3/qTox/wiki/Testing#regression-testing ?

[2015-10-03 09:18] antis81 commented on #2303
This happens most likely, when the chat window is not correctly parented by the main window. I'll have a look at it.

[2015-10-03 14:08] hedjour opened #2332 "[BUG] Start with computer ineffective on LXDE/Lubuntu"
Hi,
I have installed today qTox from the depot on a Lubuntu.
When I check the restart with computer case and reboot the computer qTox stay close.
The LXDE parameters allow autostart for application.
Have you any path to fix this problem ?
Thanks

[2015-10-03 15:58] ovalseven8 opened #2333 "Pale buttons on login window using Windows 10"
Hello,

when I used qTox on Windows 10, the buttons on the login window are pale. So it seems you aren't able to press the 'Load' or 'Create Profile' button, but actually it is possible what is also the desired behaviour.

Screenshot:
![qtox](https://cloud.githubusercontent.com/assets/8258609/10263713/416e7fd2-69f8-11e5-9117-974ca4e7c193.PNG)

[2015-10-03 16:08] ovalseven8 commented on #2333
When I look at the Screenshot with my Linux system that I'm using normally, everything seems OK. So, the display/lightness on Windows 10 is very unfavorable by default, eventually. Perhaps someone else with Windows 10 can check it and if it is too pale we should change the color a little. If everything is OK, we can close the issue and it's only a 'problem' of my specific hardware-Windows-10-inter

[2015-10-03 16:52] #2183 closed, assigned to nobody

[2015-10-03 16:56] agilob commented on #2333
Can you switch to that button using Tab?

[2015-10-03 17:00] agilob commented on #2332
It's probably better on Linux to add application manually to autostart as different desktop environment have different specification of how to auto-start application. It might be also misconfiguration of your DE not to work with "standard" .config/autostart. Anyway, thanks for reporting.

When checking 'Autostart' in settings, new file should be created in `.config/autostart`, just tried it, and f

[2015-10-03 18:22] TheNain38 opened #2334 "[Regression] Starting a second instance of qTox takes a long time (IPC needs overhaul)"
I've noticed that recently starting a second instance of qTox is taking a long time to launch than before

[2015-10-03 21:49] zetok commented on #2334
Could you elaborate on what "long time" means?

What's the change compared to earlier versions?

Difference in seconds / minutes?

Could you do https://github.com/tux3/qTox/wiki/Testing#regression-testing ?

[2015-10-04 07:48] TheNain38 opened #2336 "Bug, when receiving an action message, when reloading history, the sender name is displyed twice"
Reproduce:
- Create two profile
- Send an action message to the other
- Close and reopen receiver's qTox
- See that there is the sender's name twice

[2015-10-04 08:00] ovalseven8 commented on #2336
Can reproduce.

[2015-10-04 08:22] ovalseven8 opened #2337 "Modify 'Change password'-window (ask for password before modifying / removing it)"
Hello,
- [x] When clicking 'Change password' there is displayed 'The passwords don't match' by default. If nothing was typed in yet that also shouldn't be displayed.
  ![Screenshot](https://cloud.githubusercontent.com/assets/8258609/10267026/20b5eddc-6a81-11e5-9977-9605dadb8ecb.png)
- [x] The 'Password strength'-field looks a little bit ugly. At the first moment it looks like you have to type in s

[2015-10-04 08:25] TheNain38 commented on #2337
@ovalseven8 +1, To remove password, too, it would be better to type your password before removing it

[2015-10-04 08:29] ovalseven8 commented on #2337
Yes, think so too. Added to the start post. Thanks.

[2015-10-04 08:30] ovalseven8 commented on #2332
Just tested it with Lubuntu 14.04 and everything works for me.

[2015-10-04 08:36] ovalseven8 opened #2338 "If you want to delete your profile you should have to type in your current password"
For more security

[2015-10-04 08:53] ghost opened #2339 "Implement functionality to remove avatar"
At the moment there is no functionality to remove the avatar.

Just deleted my avatar for testing purposes directly in my .config/tox/avatars.
Worked, _but_ the friends can still see my old avatar. Only if they restart qTox it is updated. How should qtox handle it? Update immediately or after restart is enough?

[2015-10-04 09:30] agilob commented on #2339
Does toxcore allow nulling avatars?

[2015-10-04 09:35] zetok commented on #2339
Well, since toxcore treats avatars as file transfers, it's up to clients to do that, so if they comply with STS, they would remove it: https://github.com/Tox/Tox-STS/blob/master/STS.md#avatars

[2015-10-04 10:02] #816 closed, assigned to zetok

[2015-10-04 15:35] programizer opened #2342 "Tox disapears after logout and login again on ubuntu with all ticks set in system tray section"
If I have all ticks set in the system tray settings section.
Then I click the my profile name.
Scroll down to log out.
Log in again.

-> There's no way to see tox window, because neither left nor top-right corner a symbol anymore.
-> Have to kill process and restart.

[2015-10-04 16:35] ghost commented on #2321
No effect, thus closing.

[2015-10-04 16:35] #2321 closed, assigned to nobody

[2015-10-04 16:45] agilob commented on #2321
I guess people don't want to work with others who come out of nowhere and try to organize work for next days. tux3 is out of the loop in this project for a very long time. We are waiting with 3PRs for him to confirm or reject or test changes... and we're waiting. 1st and 2nd issue have **really** low priority, are on the bottom of a list. Third issue, for me is invalid. Author didn't respond to qu

[2015-10-04 18:50] ProMcTagonist commented on #2321
Why is tux3 being waited on? After he returned from his last absence authority was reorganized to prevent him from holding back PRs with absence, correct?

[2015-10-04 20:20] zetok commented on #2342
Which DE are you using? Unity?
If so, are you using `qtox-unity` ?

[2015-10-04 20:24] agilob commented on #2337
I don't understand 2.

[2015-10-04 20:27] zetok commented on #2337
@agilob 2 it's about making new password dialog from profile page look like `create new profile` page from login window

[2015-10-04 21:34] tux3 commented on #2321
Really? There's an organization problem then, I didn't know some PRs were waiting on me.
My 1st priority right now was and is still getting the new AV ready, tested and merged.
I pushed a partially working version in a branch, with only group calls needed before it's ready, and I'm going to finish it now.

I found the PRs assigned to me now, so I'll take a look at it. I suppose I must have gotten

[2015-10-05 01:03] linux-modder commented on #2337
@agilob  regarding 2.  I think he  means as a prevention against a overtake of  account, having to know and insert previous (current) pass to change it..

@OP, regarding  1. kinda makes sense but think a  `tooltip` or  toast msg  would be better for the no pass requirement bit.

[2015-10-05 06:31] zetok commented on #2328
Bisect with

bad commit:  da9157f1007dea75e6b6022c657a65d387f7d55c
good commit: 60c18d07a675759d3ef6f0ca451f31b2bb300729

points to 7bcf654c72bf3019b96284922a0428c87558efeb:

[code]

[2015-10-05 09:21] towlie commented on #2333
Doesn't it always look like this? (on windows at least)
![login](https://cloud.githubusercontent.com/assets/6986141/10276960/040ce726-6b53-11e5-97c1-e6b03b1df48f.jpg)
Your picture looks like mine.

[2015-10-05 09:22] agilob commented on #2333
Yea, that could be a bit darker green.

[2015-10-05 09:56] WileyECoyote commented on #1521
argument to g_once_init_enter is the wrong size for the target. This error will occur if the address of an "unsigned int" is passed for a 64 bit build,  which would be okay for a 32 bit build but should be an unsigned long for 64 bit. If defined using GType  then will be the size glib is building, maybe pass -m64 / -m32 on the command line to control the build target

[2015-10-05 15:32] ovalseven8 commented on #2333
Yep, we should make buttons like the above a bit darker green to avoid misunderstandings.

[2015-10-05 17:58] zetok commented on #2292
@PKEv ok, I've appended null char to my spambot's nick - now you can use it for testing:
`C7719C6808C14B77348004956D1D98046CE09A34370E7608150EAD74C3815D30C8BA3AB9BEB9`

I think that there also might be a related history bug, where history that contains some special chars isn't saved.

https://github.com/zetok/tox-rust-neurological-warfare-bot#friend-commands ← bot commands

[2015-10-05 19:43] PKEv commented on #2292
![qtox-screenshot-gilf4704](https://cloud.githubusercontent.com/assets/6053197/10291403/4657af6c-6bb2-11e5-9c54-f206c4a9a5e9.png)
Probably not yet done?
I do not see the problems of history loaded

[2015-10-05 20:04] zetok commented on #2292
@PKEv did you restart qTox after receiving the message?

[2015-10-05 20:08] PKEv commented on #2292
Yes, and checked database entry
![qtox-screenshot-scvfw948](https://cloud.githubusercontent.com/assets/6053197/10292093/f75849e0-6bb5-11e5-9d80-12dce69b0355.png)

[2015-10-05 20:08] zetok commented on #2292
~~Actually, nevermind, I too can't reproduce it with bot - though I'm not sure why, since bot has null character at the end.~~

~~I wonder - perhaps it has something do do with the fact that friend names are being saved as alias and that alias is being displayed - could null char be stripped from friend names?~~

[2015-10-05 20:10] PKEv commented on #2292
need time to look

[2015-10-05 20:20] zetok commented on #2292
Actually, nevermind that - I forgot that I was using patched version, with commit that was causing regression reverted.

On build from jenkins **it's totally reproducible**. (with bot)

[2015-10-05 20:50] antis81 commented on #2292
Just a guess: Looks like some `QString::fromUtf8()` or it's counterpart `QString::toUtf8()` is missing. Btw. We can (and should) forbid implicit cast from `char*` by setting `QT_NO_CAST_FROM_ASCII`, but someone would need to walk all the strings in qTox and change `QString(text);` to `QString::fromUtf8(text)`. Probably requires rebasing some of the open PR's, but it is worth the work.

[2015-10-06 04:44] Jacobtey opened #2347 "No tray icon in Plasma 5"
There isn't qtox icon in system tray in Plasma 5.