[2017-02-18 23:46] #1925 closed, assigned to nobody

[2017-02-18 23:46] #1926 closed, assigned to nobody

[2017-02-19 10:07] TheNain38 commented on #4172
@tux3 If I remember correctly, when the profile is encrypted, the avatars are saved inside the database, but when it's not encrypted, the avatars are saved inside the: "avatars" folder. So, if your profile was encrypted and then, later you decrypt it, all the avatars that were saved inside the database, won't be saved inside it anymore, so they will be lost, and if you re-encrypt the profile, beca

[2017-02-19 14:24] tux3 commented on #4172
@TheNain38 Yes, I suspect something like that. But I though there was already code for decrypting the avatars when changing or removing the password, so there must be a problem with that code.

[2017-02-19 14:28] sudden6 commented on #4172
If I read the code correctly, the avatars are never saved in the database.

[2017-02-19 23:25] smschumacher commented on #4181
And another question: Are there any nightlies which I can use to test the code on Linux or do I have to compile qTox myself, which seems rather complicated?

[2017-02-20 01:11] DjDiabolik commented on #4172
meanwhile i have try to see this path:
C:\Users\MyWindowsUser\AppData\Roaming\Tox\avatars

Inside this folder i can see it's present 5 .png file... one it's my avatar... one it's the avatar also you can see on my screenshot above and 3 other .png if i try to open whit irfanview sat it's corrupted and say it's impossible to read the header of files.
Apparently the names of two .png i can open whit

[2017-02-20 01:25] ghost opened #4187 "Add a new global option to clear the message after closing the window."
(Multiple window mode is on)

1. Select online contact.
2. Send some text.
3. Close the chat window.
4. Select same online contact again.

Expected:
All chats which I input was cleared.

Actual:
The message I sent was still there.

So, please add new option:
[X] When I close the window, clear displayed messages.
(and don't show "(i) Cleared XX:XX" -  I want a clear chat window)

[2017-02-20 01:27] ghost opened #4188 "Add an option to disable Audio/Video completely."
Settings > Audio/Video

Playback device: same
[X] Disable Capture and Video device completely <-----------------
Capture, Video

[2017-02-20 01:27] ghost commented on #4188
This wil prevent an attack if the hacker found a way to hear tox user's sound/video silently.

[2017-02-20 01:28] ghost commented on #4155
+1
Very unusable. I had to click "reconnect" button from settings several times a day. Can't this automated?

[2017-02-20 01:29] ghost opened #4189 "When the user use Tor proxy, try to use .onion peer."
TSIA.

[2017-02-20 06:18] Diadlo commented on #4188
What the problem with it?
- Audio/Video:
  - Audio
    - Capture device: Disabled
  - Video
    - Video device: None

[2017-02-20 12:00] sudden6 commented on #4172
@DjDiabolik yes you can try to delete them, they will be redownloaded from your friends when both of you are online at the same time.

I think they show as corrupted, because they got encrypted, but never decrypted apparently.

[2017-02-20 12:15] sudden6 commented on #4189
Please explain in more detail what you want.

[2017-02-20 12:17] sudden6 commented on #4187
You can already disable a logging, all messages will be cleared after a qTox restart. Take a look at the user manual https://github.com/qTox/qTox/blob/master/doc/user_manual_en.md

[2017-02-21 06:33] #3804 closed, assigned to nobody

[2017-02-21 11:29] zetok commented on #4181
There are no up-to-date nightly builds, we're looking for a maintainer that would be willing to pick up that stuff: #4174

Well, compiling qTox shouldn't be complicated if you have the dependencies installed – a single cmake command ought to do the job. If there are parts of INSTALL.md that aren't easy to follow, please don't hesitate to point them out.

Aside from INSTALL.md there is `simple_make

[2017-02-21 17:51] sudden6 commented on #4176
I edited your issue to fix the link.

I think this is the same problem as in the other issue report and AFAIK can only be fixed with newer Qt versions or setting the environment variables.

[2017-02-21 21:39] Hasshu commented on #4112
Looks like it just appends the version number of the [latest release](/qTox/qTox/releases/latest), instead of the build's actual one.

@tux3 Is that the expected behavior?

[2017-02-21 22:35] tux3 commented on #4112
@Hasshu Yes, and those should match. What were you expecting instead?

[2017-02-22 09:02] Hasshu commented on #4112
@tux3 Hmm... They do match now. You see, I downloaded the "v1.8.1" installer soon after #4177 was merged, but it actually contained an older version, for some reason (see also what @DjDiabolik said above).

[2017-02-22 10:41] geeteshtabjul opened #4192 "4k support"
OS: Windows
qTox version: v1.8.1.
Qt:  5.5.1
Hardware:  Dell XPS 15 (9550) with a 4k display

Reproducible: Always

The application doesn't look proper with 4k resolution, especially the icons, they are really tiny. I have attached screenshots for better understanding. The settings page looks perfectly fine. The text size and the emoji size were changed in the settings.

![login_screen](https://cl

[2017-02-22 10:49] geeteshtabjul opened #4193 "No indication as to who sent a message"
There is only a notification sound, but there is no indication to show who messaged us. A count of unread messages next to the person in the contact list would be better or maybe just a highlight.

[2017-02-22 16:14] Diadlo commented on #4192
Seems, duplicate of #2995, so it will be closed. Please comment if it isn't

[2017-02-22 16:14] #4192 closed, assigned to nobody

[2017-02-22 16:21] Diadlo commented on #4193
Notification mesage is duplicate of #2921
Friend status already highlighted (area around ststus icon)
Message count and another indication is duplicate of #1095
Closing. Please use a search before create new issue. Thanks

[2017-02-22 16:21] #4193 closed, assigned to nobody

[2017-02-22 20:06] tux3 commented on #4112
@Hasshu It might have been still building on the server when you downloaded it, my apologies for announcing it a bit too soon then!

[2017-02-23 09:48] #4101 closed, assigned to nobody

[2017-02-23 10:16] crzdeveloper opened #4198 "Ubuntu: qTox package cannot be authenticated"
##### Brief Description

When I try to install qTox, apt shows an error:
`
WARNING: The following packages cannot be authenticated!
  qtox
`

OS: Ubuntu 16.04.2 LTS (Linux myhost 4.8.0-39-generic #42 16.04.1-Ubuntu SMP Mon Feb 20 15:06:07 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux)
qTox version: 201611180121~v1.6.0
Commit hash:  ?
toxcore:  ?
Qt:  v5?
Hardware:  ?

Reproducible: Always

##### Steps t

[2017-02-23 10:21] crzdeveloper commented on #4198
Or is it better to create a ticket here https://github.com/abbat/tox.pkg ? Thanks.

[2017-02-23 10:24] Diadlo commented on #4198
https://qtox.github.io/blog/2017/02/15/Maintainer-Wanted.html

[2017-02-23 18:10] Hasshu commented on #4112
@tux3 Ah, no worries. The proper build is up now, so it's fine.

[2017-02-23 21:14] ghost commented on #4176
Thank you for the info.

[2017-02-23 21:14] #4176 closed, assigned to nobody

[2017-02-23 22:46] aaannndddyyy commented on #1855
Ok, renaming "friends" to "contacts" should be trivial. And it looks like many people prefer "contacts" over "friends". It's not a high priority thing, so I understand this will not immediately be changed, but there is also one thing that's needs to be resolved too: how to call "friend requests" then?
If it's not "friend" but "contacts", it can't be a "friend request"; yet "contact request" sounds

[2017-02-24 02:14] DjDiabolik commented on #4112
I can confirm i have upgrade to 1.8.1 about one or two days ago.....

[2017-02-24 08:08] Diadlo commented on #1569
Needed info not provided for over a month, thus closing.

[2017-02-24 08:08] #1569 closed, assigned to nobody

[2017-02-24 08:09] Diadlo commented on #1652
Needed info not provided for over a month, thus closing.

[2017-02-24 08:09] #1652 closed, assigned to nobody

[2017-02-24 08:10] Diadlo commented on #1911
Needed info not provided for over a month, thus closing.

[2017-02-24 08:10] #1911 closed, assigned to nobody

[2017-02-24 08:11] Diadlo commented on #2389
Needed info not provided for over a month, thus closing.

[2017-02-24 08:11] #2389 closed, assigned to nobody

[2017-02-24 08:17] Diadlo commented on #2499
Seems, duplicate of #3494, so it will be closed. Please comment if it isn't

[2017-02-24 08:17] #2499 closed, assigned to nobody

[2017-02-24 08:18] Diadlo commented on #3494
@antis81 suggest good solution: add file manager type selection to settings

[2017-02-24 08:26] Diadlo commented on #2892
Needed info not provided for over a month, thus closing.

[2017-02-24 08:26] #2892 closed, assigned to nobody

[2017-02-24 08:37] Diadlo commented on #3603
@ProMcTagonist seems your issue is #3538

[2017-02-24 08:42] Diadlo commented on #3939
Seems not qTox issue. Thus closing

[2017-02-24 08:42] #3939 closed, assigned to nobody

[2017-02-24 08:47] Diadlo commented on #3915
Needed info not provided for over a month, thus closing.

[2017-02-24 08:47] #3915 closed, assigned to nobody

[2017-02-24 08:56] Diadlo commented on #4175
Can you provide more detailed information? What commands did you run?

[2017-02-24 09:06] Diadlo commented on #4187
@sudden6, @ghost wants to clear messages not after restart, but after ChatForm close

[2017-02-24 09:51] Diadlo commented on #3812
Seems, duplicate of #2058, so it will be closed. Please comment if it isn't

[2017-02-24 09:51] #3812 closed, assigned to nobody

[2017-02-24 11:49] SkyzohKey commented on #1855
@aaannndddyyy "Invitations" ?

[2017-02-24 12:11] Diadlo commented on #3129
Seems qTox didn't create this file directly. If someone know or have an idea, who create this file -- tell us

[2017-02-24 12:14] Diadlo commented on #3156
@BiTOk said that all works fine. Can anyone else confirm?

[2017-02-24 13:34] zetok commented on #1855
Invitations to where?

[2017-02-24 13:46] SkyzohKey commented on #1855
Dunno, that's how it's called on Facebook, but maybe not the best example here. But "Contact request(s)" looks fine...

[2017-02-24 14:31] Diadlo commented on #3770
@yurivict Can you provide more information about errors? Text/log?

[2017-02-24 16:51] zetok opened #4201 "qTox segfaults when logging out after reconnect"
##### Brief Description

OS: Gentoo Linux amd64
qTox version: v1.8.1-63-g2248deb
Commit hash: 2248deb18b8573cab01db4f0b8b23c1ef0e4da43
toxcore: 0.1.5
Qt: 5.6.2

Reproducible: Always

##### Steps to reproduce

1. multiple windows mode
2. open settings `Advanced` tab
3. open `Profile` page
4. click on `Reconnect` in settings tab
5. click on `Logout` on `Profile` page

##### Observed Behavior
qTox se

[2017-02-25 06:23] yurivict commented on #4175
[code]
(succeeds)

[code]

On FreeBSD 11.

[2017-02-25 17:41] #3621 closed, assigned to nobody

[2017-02-25 19:57] Diadlo commented on #4159
Seems question is answered. Thus closing

[2017-02-25 19:57] #4159 closed, assigned to nobody

[2017-02-25 20:23] zetok commented on #4135
There has been a bit of talk on IRC about this, and we don't know whether qTox could support system themes. Someone interested in working on it should figure it out.

If anyone knows, please comment here about it.

[2017-02-25 22:58] Diadlo commented on #2378
For someone, who want to start from this issue:
1. Try to find settings, related with multiple window mode
2. Find notify signal for this settings
3. Find slots subscribed to this signal
4. Find place, where splitter state is loaded
5. Move/copy splitter loading to the slot

Also, better create different settings to window geometry of splitter window and non-splitted

If you have any question, you

[2017-02-25 23:00] Diadlo commented on #2520
Seems, duplicate of #4018, so it will be closed. Please comment if it isn't
Also, fixed

[2017-02-25 23:00] #2520 closed, assigned to nobody

[2017-02-25 23:12] sudden6 commented on #3129
This file is probably created using https://doc.qt.io/qt-5/qlockfile.html there's probably an unhandled error in the code.

[2017-02-26 07:45] #2587 closed, assigned to nobody

[2017-02-26 10:58] zetok commented on #4201
Note: I was not able to reproduce the crash on a profile without any contacts. On the other hand, it's ~easily reproducible with a big contact list (>40).

When trying to reproduce, one should keep clicking on `Logout` button until the crash.

[2017-02-26 11:52] #3601 closed, assigned to nobody

[2017-02-26 13:40] sudden6 commented on #3875
Has been fixed somewhere on the way to https://github.com/qTox/qTox/commit/4bcb8f65926504d9202bdc6dfdff19c0fa0d7885

[2017-02-26 14:15] Diadlo commented on #3875
It isn't
![spectacle i20894](https://cloud.githubusercontent.com/assets/6306608/23340425/21c5a84e-fc47-11e6-9017-a43ec237570d.png)

[2017-02-26 14:40] sudden6 commented on #3875
It is in German

![grafik](https://cloud.githubusercontent.com/assets/5585762/23340627/eb223efe-fc39-11e6-97a3-0b97a0f1f78c.png)

Maybe russian translation is wrong/missing? look for an error in qTox console output.

[2017-02-26 14:42] Diadlo commented on #3875
Are you sure, that you not relogin/restart after language change?

[2017-02-26 14:46] sudden6 commented on #3875
Ah, so you mean the real problem is it's not translated immediately?

[2017-02-26 15:54] Diadlo commented on #3875
Yes

[2017-02-26 15:55] #3278 closed, assigned to nobody

[2017-02-26 15:57] Diadlo commented on #3875
Sorry, duplicate of #1695, so it will be closed

[2017-02-26 15:57] #3875 closed, assigned to nobody

[2017-02-26 15:58] Diadlo commented on #1695
Same for `Important note` on advances tab

[2017-02-26 20:12] sudden6 commented on #2158
Sorry, this got somehow closed by the PR automatically.

The font https://raw.githubusercontent.com/dejavu-fonts/dejavu-fonts/master/status.txt definitely contains als the stuff needed to display this.

However when using the KDE font viewer for some font size the stress sign is very tiny, maybe it gets invisible somehow?

![grafik](https://cloud.githubusercontent.com/assets/5585762/23343217/29fd6

[2017-02-26 20:26] sudden6 opened #4210 "Settings/Font dropdown keeps closing itself"
##### Brief Description

OS: Linux openSUSE Leap 42.2
Commit hash:  https://github.com/qTox/qTox/commit/d812afe8291463a7cb848a9e277c66c8ba82c146
Qt-Version: 5.6.1
plasmashell 5.8.3

Reproducible: Always

##### Steps to reproduce

1. Go to `Settings`
2. choose `User Interface` tab
3. select `DejaVu Sans`  as Base font (note: this reproduces it for me, not necessarily for others)
4. choose `General`

[2017-02-26 22:09] aaannndddyyy commented on #1855
"invite contact" instead of "send friend request" sounds fie to me. Invite to what? To chat on qTox, of course.

[2017-02-26 22:13] camrodgers opened #4211 "Flatpak"
Given that the distribution methods for tox and qtox are pretty fragmented, have you considered putting out a flatpak? It's getting support in the KDE and GNOME3 package manager GUIs.

[2017-02-26 22:33] Diadlo commented on #4211
Seems, duplicate of #3879, so it will be closed. Please comment if it isn't

[2017-02-26 22:33] #4211 closed, assigned to nobody

[2017-02-27 02:24] yurivict opened #4212 "Missing files in qtox.pro"
These files are missing from qtox.pro:
[code]

qmake build shouldn't be discontinued due to this bug: https://github.com/qTox/qTox/issues/4175

[2017-02-27 06:12] Diadlo commented on #4175
Can you try this workaround?
[code]

Seems, problem somewhere in your system. Can you also, paste an output of command? (if path `/usr/share/qt4/mkspecs/` doesn't exist use `/usr/share/`)
[code]

[2017-02-27 06:49] yurivict opened #4213 "FlyoutOverlayWidget doesn't close when the file is dragged over it"
How to repeat: With your mouse drag some file over the "Send file" button into the message editor. FlyoutOverlayWidget opens and doesn't close by itself.

This isn't a major problem, just a small defect.

[2017-02-27 07:01] yurivict commented on #4175
```find CMakeFiles -type f -exec sed -i {} -e 's/;/ /' \;``` didn't help.

[code]

[2017-02-27 07:29] Diadlo commented on #4175
Same error after `sed`?

[2017-02-27 07:47] yurivict commented on #4175
Yes, the same error.

[2017-02-27 10:31] yurivict opened #4214 "Multi-line messages aren't properly copied into the clipboard: U+2028 LINE SEPARATOR (e2 80 a8) is inserted"
It inserts this character in place of the newline. Newlines are commonly encoded as 0x0a byte.

1.8.1 (rev.60e5375) on FreeBSD
Qt version: 5.6.2

[2017-02-27 10:51] yurivict opened #4215 "Chat window resizing takes a very long time"
I pasted and sent a large text. It got split into many messages. Now horizontal window resize causes  "Resizing" message to appear for 10 seconds.

This can be very annoying, and is a very undesirable effect.

[2017-02-27 11:53] SkyzohKey commented on #1855
+1 @aaannndddyyy

[2017-02-27 12:12] sudden6 commented on #4212
Yes, this is definitely not intended.

[2017-02-27 15:35] parsedarweb commented on #3915
It has been a bug within Qt project ([+](https://bugreports.qt.io/browse/QTBUG-42074)) that has been solved and will be released with the next version.

[2017-02-27 15:45] zetok commented on #4214
For some reason I couldn't even copy full multiline messages, only first selected line was copied.

Note: when copying one should not select whole message (nick, timestamp), but only the text.

When copying whole message (nick, text, timestamp), newlines are copied correctly.

[2017-02-27 17:44] yurivict commented on #4214
You should paste into the editor, save it as a file, and then look at its hexdump. The character U+2028 makes editors only show the first line, while the whole text is actually there.

[2017-02-27 18:37] zetok commented on #4214
I did `hexdump -C <<EOF`, pasted, pressed enter, `EOF`, enter, and hexdump showed only the first line. I guess I should get a better terminal?

[2017-02-27 18:41] yurivict commented on #4214
I am pasting into vim, saving it, then running hexdump on the saved file.

[2017-02-27 19:09] Hasshu commented on #1855
<s>To join their brethren in jolly cooperation.</s>

Personally, I think it should be either "Send contact request" or just "Invite" - "Invite contact" sounds a bit awkward.

[2017-02-27 19:28] Diadlo commented on #4175
@yurivict Can you add me in tox? diadlo@toxme.io

[2017-02-27 19:41] yurivict opened #4216 "Crash when trying to add the user using an e-mail"
e-mail is {user}@toxme.io

qTox 1.8.1 (rev.60e5375)
toxcore: 0.1.5
Qt version: 5.6.2
FreeBSD 11

[2017-02-27 20:15] Diadlo commented on #4216
Log?

[2017-02-27 20:47] yurivict commented on #4216
Without the debug info, the stack is:
[code]

[2017-02-28 16:41] sudden6 commented on #4216
The crash seems to happen inside openssl, anything special about your setup?

[2017-02-28 18:56] yurivict commented on #4216
The crash appears FreeBSD-specific. OpenSSL mixup. Will fix it in the port.

[2017-02-28 18:56] #4216 closed, assigned to nobody

[2017-02-28 19:02] zetok commented on #4175
@yurivict isn't that part added by something from your system? AFAICS it's not taken from qTox's build config..?

[2017-02-28 19:07] yurivict commented on #4175
I am not sure. There are really lots of projects that work fine with cmake. I always viewed cmake as very stable.

[2017-02-28 19:08] yurivict commented on #4216
base/port OpenSSL get mixed. This happened with some other ports, ex. qBittorrent.

[2017-02-28 19:37] yurivict opened #4217 "[suggestion] Tox should be able to decrypt/encrypt the existing db on disk"
Currently qTox creates the encrypted db when it is first run. Some users might not want to type the password every time. They should be able to decide that their local system is sufficiently secure to not require encryption. Users should also be able to encrypt db when they decide so.

* There should be buttons "decrypt database"/"encrypt database", warning the user about the security consequences

[2017-02-28 19:56] sudden6 commented on #4217
Storing only the db unencrypted makes no sense, since one needs to enter the password anyway to decrypt the `*.tox` file for an encrypted profile.

Additionally the password to encrypt the profile and `*.tox` file is optional and should therefore allow the user to decide his system is secure enough.

I hope I understood you correctly, but I think the thing you're asking for is already provide.

[2017-02-28 19:58] zetok commented on #4217
Since what you're asking for has been in qTox for years now, closing.

[2017-02-28 19:58] #4217 closed, assigned to nobody

[2017-02-28 20:04] yurivict commented on #4217
Sorry, maybe I don't see the obvious. But where is the button to decrypt?

[2017-02-28 20:06] yurivict commented on #4217
Ah, sorry, I found it!
Never mind!

[2017-03-01 11:55] DX37 opened #4220 "Windows nightlies error (again)"
On build.tox.chat:
[code]

[2017-03-01 15:32] DX37 opened #4221 "Large icons in menu of systray icon"
##### Brief Description

OS: ArchLinux
qTox version: latest from git (v1.8.1-93-gffd7d0e9)
Commit hash: ffd7d0e9
toxcore: 0.1.6
Qt: 5.8.0

Reproducible: Always

Just like that:
![_2017-03-01_22-28-16](https://cloud.githubusercontent.com/assets/12829428/23466860/e57b9076-fece-11e6-8805-3f5457eca99d.png)

[2017-03-01 18:14] zetok commented on #4221
Is it reproducible with Qt 5.6?
Which tray backend is used?

[2017-03-01 19:31] sudden6 commented on #4221
Also which desktop environment and systray are you using?

[2017-03-01 21:34] yurivict opened #4224 "Group chat doesn't see remote users after the local connection disruption"
1. I join the group chat and see its users.
2. Internet connection goes down, all chat users but me disappear.
3. Internet connection comes back up. Chat users are never shown again. I remain the only user in chat.

Once I have been invited, disruption of my local connection shouldn't modify the chat state.

[2017-03-01 23:49] DX37 commented on #4221
I fully using XFCE4 DE. Systray is an xfce4-panel.

Which tray backend is used?

I dunno. But I can try to downgrade qt5 to compile with it.

[2017-03-02 01:29] yurivict opened #4225 "Question: RawDatabase::execLater is actually synchronous?"
This function calls ```QMetaObject::invokeMethod(this, "process");```
The default ```type=Qt::AutoConnection``` uses ```Qt::DirectConnection``` when the thread is the same. When I am trying to run some more complex queries, I keep getting DB errors in ```OPEN;``` statement because in opens embedded transactions.

Shouldn't it be ```QMetaObject::invokeMethod(this, "process", Qt::QueuedConnection);`

[2017-03-02 09:38] DX37 commented on #4221
Doh... I can't downgrade to 5.6.1, because compilation will require icu 57, which all other packages can't use because of icu 58 dependency.

I'll set up container for testing...

[2017-03-02 09:43] #2597 closed, assigned to nobody

[2017-03-02 09:50] sudden6 commented on #4224
duplicate of  #896

once you drop out of a groupchat you have to get invited again.

[2017-03-02 09:50] #4224 closed, assigned to nobody

[2017-03-02 10:13] #4212 closed, assigned to sudden6

[2017-03-02 11:38] DX37 commented on #4221
@zetok - I have tested bug. It exists when I using Qt 5.6.1.

[2017-03-02 12:05] zetok commented on #4221
@DX37 could you provide info about used systray backend from the log, and perhaps try with other tray backends https://github.com/qTox/qTox/wiki/Tray-icon ?

[2017-03-02 12:25] DX37 commented on #4221
```[12:24:23.513 UTC] widget/systemtrayicon.cpp:61 : Debug: Using GTK backend```

[2017-03-02 12:32] DX37 commented on #4221
CMake don't support these flags, btw, but I'll test them through QMake.

[2017-03-02 12:40] zetok commented on #4221
@DX37 you don't need to pass flags to CMake/QMake, just start qTox with `XDG_CURRENT_DESKTOP="" KDE_SESSION_VERSION="" qtox`

[2017-03-02 12:43] DX37 commented on #4221
Aha, just tested this! It doesn't work!

Compiled without GTK backend:
```[12:39:27.886 UTC] widget/systemtrayicon.cpp:82 : Debug: Using the Qt backend```
And it's work:
![_2017-03-02_19-41-02](https://cloud.githubusercontent.com/assets/12829428/23507628/8f0c3710-ff80-11e6-8df3-945f932beabf.png)

[2017-03-02 14:14] DX37 commented on #4221
@zetok AHEM (GNOME X.Org. In GNOME on Wayland tray icon can just activate window and didn't show menu at all)
![_2017-03-02_21-12-27](https://cloud.githubusercontent.com/assets/12829428/23510713/3637fde2-ff8d-11e6-8314-06faeac2df59.png)

[2017-03-02 14:20] DX37 commented on #4221
MATE
![12](https://cloud.githubusercontent.com/assets/12829428/23510929/0545c57e-ff8e-11e6-922f-67ef32b511b6.png)

[2017-03-02 14:23] DX37 commented on #4221
Cinnamon
![_2017-03-02_21-21-57](https://cloud.githubusercontent.com/assets/12829428/23511044/74196e06-ff8e-11e6-9f0d-62b60377aaa7.png)
Seems like it's all GTK.

[2017-03-02 14:28] zetok commented on #4221
Could you see if it's a regression in qTox's code? And if it is, bisect it?

[2017-03-02 14:59] DX37 commented on #4221
Okay, I will do that tomorrow (after 12 hours, 'cause I need to sleep...).

[2017-03-02 15:05] DX37 commented on #4221
@zetok Maybe it's this commit - fac0021
But for now I can't test it.

[2017-03-02 18:32] yurivict opened #4228 "Messages arrive out of order when some of them are delayed by network"
Any individual message can get lost in transit.

Here's what I did to simulate the problem:
1. Created 3 faux messages: msg1, msg2, msg3.
2. Deleted the record for msg2 in faux_offline_pending (so that it appears to have been sent).
3. Started the receiving account, messages msg1, msg3 got sent.
4. Shut down both ends, added the record for msg2 back to faux_offline_pending.
5. Started both ends.
6

[2017-03-02 20:56] sudden6 commented on #4228
I can see nothing, where this has anything to do with the network. With the procedure you described, it is exactly the behavior I would expect from the implementation.

qTox only has "faux" (not real) offline messaging, because toxcore doesn't provide real offline messaging.

With your step 2 you basically told qTox "remove this message from the send queue" and qTox continues to try and send msg1

[2017-03-02 21:03] yurivict commented on #4228
If the network was 100% reliable and stable, this problem would have never happened. This is how it is related to network. Message loss triggers the problem.

I think both sequence numbers and sent timestamp should happen. There is no way to prevent lying, if someone chooses to lie, but good faith sent timestamp will be useful.

[2017-03-02 21:36] sudden6 commented on #4228
toxcore ensures that only messages really received by the other client are marked as sent, so message loss should not happen.

If you suspect a bug in toxcore or qTox, the instructions above are most probably not the correct way to find it.

[2017-03-02 21:53] sudden6 commented on #4225
Yes and No. If called from outside the class it's definitely asynchronous, since the db lives in it's own worker thread. If called from for example the `open` function it can be in the same thread and use a `Qt::DirectConnection`.

I think explicitly using a queued connection can't hurt, mind open a PR?

[2017-03-02 22:28] yurivict commented on #4228
They are all sent, but this happens when receipts arrive out of order.

[2017-03-02 22:31] yurivict commented on #4225
I think execLater should just use ```QMetaObject::invokeMethod(this, "process", Qt::QueuedConnection);``` to eliminate any other factors any assumptions.
Will create a PR.

I am trying it, qTox works fine this way.

[2017-03-02 23:16] yurivict opened #4229 "User lines on screen are duplicated when "Reconnect" is clicked"
I am not sure what is triggering this, but I observe this after "Reconnect":

![qtox-duplicate-user-records](https://cloud.githubusercontent.com/assets/271906/23531241/65371a3e-ff5a-11e6-9496-8e7cce3a5201.png)

In case of many users, each records gets duplicated.

Observed with the current revision, 60e5375 also has it.
Qt-5.6.2
FreeBSD-11, kde4

[2017-03-02 23:22] yurivict commented on #4225
https://github.com/qTox/qTox/pull/4230

[2017-03-03 01:17] yurivict opened #4231 "Times should be in UTC"
Currently times are generated with ```QDateTime::currentDateTime()```, which returns local time.

If I travel to different location and change system timezone, all displayed times in message history will be wrong.

Times should be obtained with ```QDateTime::currentDateTime().toUTC()```, and then converted to local time only for the display purposes.

There should be one function in Core that does

[2017-03-03 03:35] DX37 commented on #4221
@zetok Yep, that's this commit - fac0021. Icons are normal before this changes.

[2017-03-03 05:59] Diadlo commented on #4228
If toxcore will support offline messaging through blockchain, then we can prevent lying.
But I think, it will not

[2017-03-03 06:03] Diadlo commented on #4221
It's a bit strange, because in #4120 peoples said that Cinnamon and GNOME (maybe not wayland) has fine icons

[2017-03-03 06:06] yurivict commented on #4228
Fixing the order without lying prevention would be great. Random network failures cause messages being reordered, which is a major problem.

[2017-03-03 07:03] Diadlo commented on #4228
I think we should not implement anything what add ability to lie. ~Your~ @Renha's [example](https://github.com/TokTok/c-toxcore/issues/485#issuecomment-282985451) with "no" "dial" will be able (IMO this variant worse)

[2017-03-03 15:00] DX37 opened #4233 "URL, inserted in chat, becomes incorrect, due to a Message Styling"
OS: I think - All
qTox version: v1.8.1-98-ge65e45aa
Commit hash: e65e45aa
toxcore: 0.1.6
Qt: 5.8.0

Reproducible: Always

##### Steps to reproduce
Just insert URL in chat and send.

##### Observed Behavior
![_2017-03-03_21-57-10](https://cloud.githubusercontent.com/assets/12829428/23555687/7565d8ac-005c-11e7-89d2-083a4bab61d4.png)
URL, which opens in browser, looks like this: `https://<i>github.co

[2017-03-03 18:34] aaannndddyyy commented on #1855
that's fine too

[2017-03-03 23:03] #4225 closed, assigned to nobody

[2017-03-04 08:34] aaannndddyyy commented on #4155
am using qtox on tor 100% of the time. Connection is mostly stable.
Occasionally one side has to hit reconnect in order to see the other contact online when both are online but see each other as offline

[2017-03-04 08:37] aaannndddyyy commented on #3537
+1

[2017-03-04 09:51] aaannndddyyy commented on #3292
any news here?
this issue is old, and also an important one

[2017-03-04 10:49] zetok commented on #4233
A regression, v1.8.1 is not affected.

`git bisect` in range v1.8.0...e65e45aafe06b02c100474d13245370a4aba4257:

5047a65e119ac5094f67775c7ef18dd0e7eee9bc is the first bad commit
[code]

cc @noavarice

[2017-03-05 10:27] #4221 closed, assigned to nobody

[2017-03-05 11:15] noavarice commented on #4233
I observed this problem a bit earlier than that issue was posted so I'm about to fix this

[2017-03-05 14:31] sudden6 commented on #4229
I can confirm this bug.

[2017-03-07 14:04] #4233 closed, assigned to nobody

[2017-03-08 12:00] #4010 closed, assigned to nobody

[2017-03-08 12:27] zetok commented on #4175
E.g. part of output on Gentoo:

[code]

As you can see, there's no `-D_THREAD_SAFE  -pthread  -D_THREAD_SAFE;-pthread -D_THREAD_SAFE;-pthread` included, so the only conclusion that I come to is that it's something from your system that adds this stuff.

Btw, @Diadlo probably meant to write `qt5` in the path for `find` command.

[2017-03-08 16:48] sudden6 opened #4241 "Autoaccept groupinvites"
Similar to "auto-accept filetransfers" and "autoaccept call" there should be an option to automatically join groups if invited by a specific contact.

This feature, in combination with groupbots that invite automatically when a user comes online should allow for nearly permanent groupchats.

[2017-03-08 18:14] zetok commented on #4241
Duplicate of #1197, thus closing.

[2017-03-08 18:14] #4241 closed, assigned to nobody

[2017-03-09 09:20] randomname314 opened #4242 "Markdown in URL's"
##### Brief Description

OS: Arch Linux
qTox version: v1.8.1-107-g9c482455
Commit hash:  9c482455a8e369ac391c77da101b61a344efe1a0
toxcore:  0.1.5
Qt:  5.8.0

Reproducible: Always

##### Steps to reproduce

1. Send/recive a url with _ _  ~ ~ or other markdown symbols
2. Click
3. ???
4. 404!

http://i.imgur.com/uV7N6WB.png

[2017-03-09 09:53] eaterjolly commented on #3728
I greatly appreciate the mention of qtcreator, as I'm not familiar with qt. I completely over looked that the first time reading through your comment. I will probably do that the next time I get around to trying to compile this!

[2017-03-09 12:03] zetok commented on #4242
continuation of #4233,

cc @noavarice

[2017-03-09 12:06] noavarice commented on #4242
My fault, I'm gonna escape all markdown symbols inside of URL's to completely avoid this behavior

[2017-03-10 07:09] agilob opened #4244 "There must be calling sound"
When I make  call I should hear a calling sound, so I know the connection is there, the sound should stop when call is answered.

[2017-03-11 11:20] shinodem opened #4245 "Add missing emoji"
Add please missing emoji, for example facepalm 🤦

[2017-03-11 15:30] zetok opened #4246 "Repo description change"
I think that it should be changed from:

[code]

to:
[code]

Opinions?

cc @Diadlo @sudden6

[2017-03-11 16:29] sudden6 commented on #4246
The phrase `Most feature rich` sounds strange to me, I think `Feature-rich Tox client;....` sounds better. Or some other variant that emphases that qTox has the most features.

[2017-03-11 16:33] zetok commented on #4246
`The most feature-rich …` ?

[2017-03-11 19:15] yurivict opened #4247 "Crash when two qTox instances for different profiles start simultaneously"
How to reproduce:
1. Have two profiles: profile1 and profile2.
2. Start commands ```qtox -p profile1``` and ```qtox -p profile2``` at the same time.
3. The second instance has a high likelihood to crash.

[2017-03-11 19:29] Diadlo commented on #4247
Log? Backtrace? Or something like it

[2017-03-11 19:30] Diadlo commented on #4246
I don't care. Both versions looks good for me

[2017-03-11 19:33] Diadlo commented on #4245
qTox provide a few smiley packs. None of them was made by us, so we can't just add emoji (AFAIK). @zetok, am I right?

[2017-03-11 20:14] yurivict commented on #4247
[code]

In the line
[code]
mem is null.

[2017-03-11 20:29] yurivict opened #4248 "Clang compile warnings"
[code]

[2017-03-11 20:38] zetok commented on #4245
@Diadlo yeah.

From emoticons that are available, only part of the `emojione` pack is added to qTox's interface – would be good to add them all.

@shinodem would you be interested in adding them to qTox? it's as simple as adding the `.svg` files from `smileys/emojione` directory to those 2 files:
https://github.com/qTox/qTox/blob/master/smileys/ASCII%2Bemojione/emoticons.xml
https://github.com/qTo

[2017-03-12 07:42] Diadlo commented on #4248
Duplicate of #3727 and fixed in #4180

[2017-03-12 10:17] sudden6 commented on #4246
This one is better :)

[2017-03-12 10:27] zetok commented on #4246
Ok, changed the description.

[2017-03-12 10:27] #4246 closed, assigned to nobody

[2017-03-12 14:54] sudden6 commented on #4248
[code]

cc @noavarice

[2017-03-12 15:57] poiuytrezamlkjhgfdsq opened #4249 "UDP kills router, works in TCP-only mode"
Hello,
I've got a problem with qtox, when I want to join my qtox session it doesn't work anymore,
my connexion becomes directly "limited" (doesn't work anymore) (and do not know why..) I'd rather use tox than skype, so could you help me please ?
Thank you !

ps : if I want to solve that, I have to delete completely qtox ...

[2017-03-12 15:59] zetok commented on #4249
Could you try with TCP-only mode? `Settings → Advanced →` uncheck `Enable UDP` → `Reconnect`

[2017-03-12 16:00] zetok commented on #4249
Also, could you provide other relevant info?

[2017-03-12 16:02] poiuytrezamlkjhgfdsq commented on #4249
Hi, I'm about to try it,
The main info that's when I install qtox properly, .. when I log in, my connexion doesn't work instantly anymore therefore, I have to delete completely qtox and restart my rooter

[2017-03-12 16:08] zetok commented on #4249
https://github.com/qTox/qTox/blob/master/CONTRIBUTING.md#filing-an-issue

[2017-03-12 16:10] poiuytrezamlkjhgfdsq commented on #4249
've just tried and it works perfectly !

Thanks mate and have a long live qtox lol :)

[2017-03-12 17:46] sudden6 commented on #1021
This has been fixed along the way, please comment to reopen if it isn't fixed.

[2017-03-12 17:46] #1021 closed, assigned to nobody

[2017-03-12 17:46] sudden6 commented on #1075
Should be fixed by https://github.com/qTox/qTox/pull/4127

Please comment if it isn't.

[2017-03-12 17:46] #1075 closed, assigned to nobody

[2017-03-12 17:55] sudden6 commented on #847
There are no intentions to support this platform.

[2017-03-12 17:55] #847 closed, assigned to nobody

[2017-03-12 18:01] zetok commented on #847
Closing, since qTox currently doesn't have support for mobile.

If (when?) qTox gains support for the mobile, question of supporting a platform that practically no one uses could be raised again.

Oops, gh didn't show @sudden6's comment until it was too late :/

[2017-03-12 20:32] #4242 closed, assigned to nobody

[2017-03-12 23:27] life777eternal opened #4253 "Group Chats"
Can't add people to group chats or get a group invite link or a group key, or ID.

OS: Windows 7 Professional
qTox version: 1.8.1
Commit hash:  bdbf2b461bd2fde5c2cc00fca364f76e5b448356
toxcore:  0.1.5
Qt:  5.5.1
Hardware:  ?
…

Reproducible: Always

##### Steps to reproduce

1. Open qTox
2. Click "Create a Group Chat" at bottom
3. Type group title or hit [Enter] or click beside the name

##### Obs

[2017-03-13 06:14] Diadlo commented on #4247
Can you, also, post a log?

[2017-03-13 08:05] zetok commented on #4253
You have option to invite people: https://github.com/qTox/qTox/blob/master/doc/user_manual_en.md#contact-menu

There are no details to be shown. All that client knows about groupchat is already shown in the UI.

Current groupchats don't have that functionality. Perhaps new ones would have something like "Groupchat Link", but I'm not sure about that. You might want to inquire about that people work

[2017-03-13 08:05] #4253 closed, assigned to nobody

[2017-03-13 09:12] ezavod commented on #3156
Does not seem to be an issue anymore. Latest `setup-qtox64-1.8.1.exe` works good for me on Win10 x64. Had no problems with installing on Win10 x64 at least since summer 2016.

[2017-03-13 09:21] #3156 closed, assigned to nobody

[2017-03-13 11:23] yurivict commented on #4247
[code]

[2017-03-13 12:59] Diadlo commented on #2786
Needed info not provided for over a month, thus closing.

[2017-03-13 12:59] #2786 closed, assigned to nobody

[2017-03-13 13:01] DX37 commented on #4220
This error still exists.
@tux3

[2017-03-13 22:43] yurivict commented on #4249
@poiuytrezamlkjhgfdsq What is your router model?

I have an expensive router, and it had a problem with hole punching with BitMessage. The BitMessage dev fixed the bug in their UPnP implementation. Maybe qTox devs can take a look at hole-punching code in BM, because it is compatible with a lot of routers.

[2017-03-14 15:25] sudden6 commented on #4175
The same error happens to me when I try to compile qTox on FreeBSD 11. I don't think it's only on @yurivict's system but rather a problem with qTox or Qt on FreeBSD.

EDIT: maybe https://gist.github.com/sudden6/64cd1314c267c13a71d64b2993aecfd2 could also be intersting, it's the output of `grep "_THREAD_SAFE" -r ./` in the qTox directory.

[2017-03-14 16:41] sudden6 commented on #4175
I could trace the problem to lines searching for GTK, for example [this one](https://github.com/qTox/qTox/blob/2923697b5ce1ed4f28d6aa10c4621470ffee3a62/CMakeLists.txt#L457) after commenting out every single one the build fails due to some error with correctly finding toxcore.

[2017-03-14 16:56] yurivict commented on #4175
Does qTox really need GTK? Qt has icon handling and status notifier. Does GTK library offer anything anything extra?

[2017-03-14 17:10] zetok commented on #4175
No.

[2017-03-14 17:28] Diadlo commented on #4175
Depend on enviroment and what features do you want to have in qTox

[2017-03-14 17:40] sudden6 commented on #4175
Sorry wrong button

[2017-03-14 17:42] yurivict commented on #4175
What does GTK do that QT doesn't?

[2017-03-14 17:57] zetok commented on #4175
Tray support. Technically, Qt does that, but some DEs are broken, and they require special GTK tray in order to somehow work.

https://github.com/qTox/qTox/wiki/Tray-icon

[2017-03-15 00:14] yurivict commented on #4175
Quick grep in the existing ports shows that very few ports use Gtk and cmake combination. Examples are devel/allegro-devel, devel/monodevelop, devel/stlink, net-im/hotot, net-im/ring-gnome. Looking how other projects use GTK+cmake combination may help.

[2017-03-15 07:38] SkyzohKey opened #4254 "qTox crash when deleting a contact"
###### Brief Description
OS: Linux 4.4.0-64-generic - elementaryOS Loki (Ubuntu 16.04)
qTox version: v1.6.0-obs.
Commit hash: 5648106b34fc7dc3ad4e169651a0cbbd0139170a
toxcore: 0.0.0
Qt: Qt 5.5.1
Hardware: x86_64
Reproducible: **Always**

###### Steps to reproduce
1. Login to your profile
2. Wait for a contact to appear online (LainBot inn my case)
3. Right click the contact, «Delete» and check «Re

[2017-03-15 09:38] sudden6 commented on #4175
@yurivict were you able to successfully compile qTox with net-im/tox and can you write down the steps somewhere? because for me the compilation fails.

[2017-03-15 11:30] sudden6 commented on #4254
can you retest with git master? and if it happens with master provide the logs and a backtrace

[2017-03-15 13:58] yurivict commented on #4175
@sudden6
The port net-im/tox builds:

[code]

Does this succeed for you?

[2017-03-15 18:26] sudden6 commented on #4175
@yurivict thx, I made a mistake, I thought it wasn't installed but it turned out that the toxcore in `net-im/tox` is too old. qTox now needs toktok with a pretty recent version to build.

Btw is there an option to accept all default settings when compiling in FreeBSD? I had to confirm a lot of dialogs to make tox compile.

[2017-03-15 18:35] yurivict commented on #4175
@sudden6

Unmerged PR: https://github.com/TokTok/c-toxcore/pull/473

```make -DBATCH```

[2017-03-15 19:21] sudden6 commented on #4175
Thx

I don't have time right now, but can you confirm compiling works with `cmake DENABLE_STATUSNOTIFIER=False -DENABLE_GTK_SYSTRAY=False` ?

[2017-03-15 19:33] yurivict commented on #4175
No, there are also failures:
[code]

[2017-03-15 20:08] sudden6 commented on #4175
Can you post the output with `make VERBOSE=1`?

[2017-03-15 22:10] yurivict commented on #4175
[code]

[2017-03-15 22:24] sudden6 commented on #4175
can you also post the cmake output? There should be no gtk stuff in it with the options I gave you...

[2017-03-15 22:49] yurivict commented on #4175
No gtk in it:
[code]

[2017-03-16 07:42] sudden6 commented on #4175
Hmm, I've been trying git master. If this problem also persists, I think there's a bug in our cmake scripts...

[2017-03-16 11:36] ezavod commented on #3542
Can not reproduce in qTox version 1.8.1 neither on Windows 10 (64bit, qTox 1.8.1, Qt 5.5.1, toxcore 0.1.5) nor on Linux (openSuse Tumbleweed 64bit, KDE 5.9.2, qTox 1.8.1, Qt 5.7.1, toxcore 0.1.2).
Also not reproducible in qTox version 1.6.0 on Linux (openSuse Tumbleweed 64bit, KDE 5.9.2, qTox 1.6.0-91-gb392e2c-obs, Qt 5.7.1, toxcore 0.0.0, commit hash: [b392e2c320800c38f44370dd7deee53e7497b167](ht

[2017-03-16 14:13] zetok commented on #3542
Still reproducible on 2923697b5ce1ed4f28d6aa10c4621470ffee3a62 , Qt 5.6.2

[2017-03-16 17:05] Diadlo commented on #3542
Can't reproduce on 2923697b5ce1ed4f28d6aa10c4621470ffee3a62
with Qt 5.8.0, i3wm
@zetok, still under i3?

[2017-03-16 19:14] zetok commented on #3542
Yep.

[2017-03-18 02:21] DX37 commented on #4220
@zetok Looks like it's not builts after this - 80f5de31b - commit. The file is [`src/platform/camera/directshow.cpp`](https://github.com/qTox/qTox/blob/master/src/platform/camera/directshow.cpp)

[2017-03-18 05:40] Diadlo commented on #4220
@FX37 It may be related with include order. Can you try to compile with old order?
[code]

[2017-03-18 10:38] DX37 commented on #4220
I got msg, @Diadlo. I just arrived to home.

[2017-03-18 11:17] DX37 commented on #4220
Yeah, @Diadlo. It passes with that order. But after that it creates more errors with `/src/net/autoupdate.cpp`. Maybe I can create PR...

[2017-03-18 12:11] ezavod commented on #3542
Still not reproducible for me (tried Ubuntu 16.04.1, X.org 1.18.4, i3wm 4.11, Qt 5.5.1 qTox 1.6.0).
@zetok Which system are you on (OS version, X.org version, i3 version)?

I would speculate that this might be a problem of the window manager. This issue does not seem do be tied to a specific Qt version.

[2017-03-18 15:00] Diadlo commented on #3542
@ezavod I created this issue under KDE (with kwindow)

[2017-03-18 17:32] yurivict opened #4259 "[feature suggestion] Color-code icons based on the profile"
Since qTox can be started for different profiles, it will be good to make icon reflect the profile.
Ideally, user should select the color, and the label (a circle?) with this color should appear in the corner of the icon.
Otherwise it is confusing when there are many icons that look exactly the same.

Implementation notes: BitMessage has the code that paints the unread message count on the icon (I

[2017-03-18 21:40] zetok commented on #3542
@ezavod

Gentoo amd64
X: `1.18.4`, then it derped out due to buggy drivers and I had to restart it, so now I'm on `1.19.2`.
i3: `4.13`

[2017-03-19 12:37] #4220 closed, assigned to tux3

[2017-03-19 14:17] sudden6 commented on #4229
git bisect points to bff25ce8b14c3ed1a71fab4a39cf311166502c8b as the first bad commit

cc @Diadlo

[2017-03-19 16:01] ghost opened #4267 "simple_make.sh is broken"
simple_make.sh is broken
OS:
`uname -a`
Linux client0 4.4.0-53-generic #74-Ubuntu SMP Fri Dec 2 15:59:10 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
`lsb_release -a`
No LSB modules are available.
Distributor ID:	LinuxMint
Description:	Linux Mint 18 Sarah
Release:	18
Codename:	sarah

qTox version: v1.8.1-135-gf72c83a.
Commit hash:  f72c83afb76e4c4f055cb3e5bad9447bd03475e1

Relevant log snippit:

make[1

[2017-03-19 16:52] sudden6 commented on #4267
can you please test the linked PR and report if it works?

[2017-03-19 20:20] alexbakker opened #4269 "qTox overwrites Tox profiles that it can't parse"
I'm on qTox 1.8.1

Steps to reproduce:
1. Garble an existing Tox profile. Let's call it garbled_profile.
2. Start qTox with "qtox -p garbled_profile".
3. Watch qTox print "Warning: failed to parse Tox save data" while it overwrites garbled_profile.

I suggest showing a prompt asking the user what to do next instead of simply overwriting it with a new profile.

[2017-03-20 11:08] Diadlo commented on #4254
Seems, issue have same reason with #4229

[2017-03-20 22:37] #4254 closed, assigned to nobody

[2017-03-20 22:59] ghost commented on #4267
@sudden6 Sure, but... uh... how do I do that? Github noob here.

[2017-03-21 05:34] Diadlo commented on #4267
@avrildev Clone qTox sources using git (`git clone https://github.com/qTox/qTox`), execute `./test-pr.sh 4273` and try to build using `simple_make.sh`

[2017-03-21 09:35] ghost commented on #4267
@sudden6 @Diadlo That worked perfectly! Compiled with no problems.

[2017-03-21 13:38] randomname314 opened #4275 "URL's are still broken"
##### Brief Description

OS: Arch Linux
qTox version: v1.9.0-6-gc7202c8b
Commit hash:  c7202c8b243453d9630a51d7de1f745b4b865abb
toxcore:  0.1.5
Qt:  5.8.0

Reproducible: Always
![2017-03-21-224013_906x73_scrot](https://cloud.githubusercontent.com/assets/8555740/24152749/7b479dd0-0e87-11e7-8ae3-c9b974de86c2.png)

##### Steps to reproduce

1. Send/recive multiple links in message (Shift+Enter)
2.  ?

[2017-03-21 13:43] zetok commented on #4275
@randomname314
Could you perhaps provide a test case, and upload image to github post, so that it would not disappear?

cc @noavarice

[2017-03-22 07:13] wDraw opened #4277 "qTox network usage"
I was checking my "Resource Manager" on Windows 7 and saw that Viber had almost no network usage, but qTox was constantly pulling data for whatever reason.

![usage](https://cloud.githubusercontent.com/assets/20287696/24186161/ad08d016-0edf-11e7-89ed-dc24f93f8a28.PNG)

Why is that? And why is it around 8KB/s all the time?

[2017-03-22 09:24] zetok commented on #4277
I've added a FAQ entry: https://github.com/qTox/qTox/wiki/FAQ#network-usage

If it answers your question, feel free to close the issue :)

[2017-03-22 09:48] #4267 closed, assigned to nobody

[2017-03-22 10:10] #4277 closed, assigned to nobody

[2017-03-22 10:27] ElLamparto opened #4278 "Compilation Procedure for Debian 8"
I attempted to compile qTox according to the procedure: https://github.com/qTox/qTox/blob/master/INSTALL.md#debian-git

1. There is still one package missing there: libswscale-dev,
2. Toxcore compilation seems to be fine,
2. For qTox, cmake is happy, but make stops on the way:

[ 13%] Building CXX object CMakeFiles/qtox_static.dir/src/video/cameradevice.cpp.o
/home/anna/qTox/src/video/cameradevice

[2017-03-22 12:48] DX37 opened #4280 "Latest nightly build for Windows doesn't start at all or freezes right after launch"
##### Brief Description

OS: Windows
qTox version: Latest (Stable v1.8.1 isn't affected)

Reproducible: Always

##### Steps to reproduce
1. Just try to launch it. Login form will not appear at all.

##### Additional Info
Sometimes (or always, I still can't get it) it freezes in Task Manager and just doing nothing.

(I'm trying to locate commit, which introduces this bug, but a lot of linker flags

[2017-03-22 12:56] zetok commented on #4278
https://github.com/qTox/qTox/wiki/Troubleshooting-builds ← is this helpful?

[2017-03-22 13:13] ElLamparto commented on #4278
zetok, thanks.
I'll wait for the next Debian Stable (Stretch) - prefer not to mess with ffmpeg...

[2017-03-22 13:13] #4278 closed, assigned to nobody

[2017-03-22 15:28] DX37 commented on #4280
(for own use) It's commit 63ace85913f4c0de132a973f890f297b54a3328a

[2017-03-23 12:35] #4275 closed, assigned to nobody

[2017-03-23 19:01] kjcole opened #4283 "LIBAVDEVICE not found"
##### Brief Description

**OS:** Ubuntu Studio Linux 16.10 (yackkety)

[code]

**qTox version:** unavailable. compile fails.
**Commit hash:**  e9515f4898aedfd9c70094d61a6f3b85debb9e3e
[code]

**toxcore:**  bbdd7982563b7d8f89fcd3b7297b5fbdf21fc57f
[code]
**Qt:**  5.6.1

**Hardware:** Acer C710 Chromebook (rooted, SeaBIOS, John Lewis's JELTKA)

**Reproducible:** Always

##### Steps to reproduce

1.

[2017-03-23 20:39] zetok commented on #4283
Have you tried to install required deps, listed in INSTALL.md?

github changed their markdown parser, and current version of INSTALL.md on master might be in places hard to parse; corrected version is in #4282

[2017-03-24 01:07] kjcole commented on #4283
I'm feeling old. That's twice today that I read install docs and missed something. In this case, I installed the Debian dependencies instead of the Ubuntu dependencies. (In fairness, the stanzas looked fairly close to each other.  But, the difference turned out to be three packages. My bad.

[2017-03-24 01:07] #4283 closed, assigned to nobody

[2017-03-24 09:21] #4280 closed, assigned to nobody

[2017-03-24 09:56] ghost opened #4284 "Qtox automatically sets up links around URLs incorrectly and occasionally breaks them"
The blue clicky part that is supposed to go only around the URLs, sometimes ends up around other stuff instead. Furthermore, sometimes it messes up the link a lot worse.

E.g., typing in http://google.com http://google.com yields:
http://">ogle.com">http://google.com http://google.com

Expected behavior is that each link in an inline list has its own blue clicky part. And obviously, it shouldn't m

[2017-03-24 10:15] zetok commented on #4284
Duplicate of #4275, thus closing.

Should be fixed on latest master, if it's not, please comment for reopen.

[2017-03-24 10:15] #4284 closed, assigned to nobody

[2017-03-25 19:19] beekeeper1 commented on #1655
Qtox is good but not perfect yet, the echo cancellation still needs a bit of work, one other thing which would be a vast improvement would be the answer call button to be always on top, i find i have to click on a contacts name before i can answer the call as the call button is hiding, sadly i am no good with linux programming and too old to learn now, my knowledge  extends to visual basic and com

[2017-03-25 21:50] #1197 closed, assigned to nobody

[2017-03-26 00:55] yurivict opened #4290 "URLs in different lines aren't sent properly: their text is changed"
This message:
[code]

is sent like:
![qtox-urls](https://cloud.githubusercontent.com/assets/271906/24327368/3b10c6b0-1184-11e7-949a-b270eea412d7.png)

version 1.9.0

[2017-03-26 09:48] Diadlo commented on #4290
Can you use issue template? There is a lot of useful information, what you skip
Should be fixed on master. Can you test?

[2017-03-26 10:16] sudden6 commented on #4290
This is most probably already fixed by 08208e9aa515270a190ff85a1ba704c8a130c5cd

[2017-03-26 10:52] DX37 opened #4292 "Font in message input field differs from font in chat"
##### Brief Description

OS: Windows 10
qTox version: Latest nightly (v1.9.0-22-g2e4ac3c)
Commit hash: 2e4ac3c

This bug affects stable v1.8.1 too.
Looks like this:
![2017-03-26 16-40-25 qtox - online](https://cloud.githubusercontent.com/assets/12829428/24330627/ea61d618-124c-11e7-972d-09b2c85f02af.png)

[2017-03-26 11:37] UralZima commented on #1018
I agree. I totally need this. For now, I use screen+toxic and have 5 ToxIDs, and it is very uncomfortable to use it such way.

[2017-03-26 11:46] UralZima opened #4293 "Add ability to change background color of chat window, or just Dark Mode"
Hello. About 5 years I use only White on Black scheme everywhere. I have 4 monitors, everything is black by default. Also I use browser extension to do this for web.
The reason is one: LED destroys your eyes, because white is blue led + phosphoric luminofor that makes white. Too much ultraviolet hurts your eyes. I feel much more comfortable as I do.

I don't use qTox only for that reason, I don't

[2017-03-26 11:58] UralZima commented on #2602
Please support toxcore issue: https://github.com/TokTok/c-toxcore/issues/522

[2017-03-26 11:59] UralZima commented on #826
Please support toxcore issue: https://github.com/TokTok/c-toxcore/issues/522

[2017-03-26 12:01] zetok commented on #4293
Duplicate of #1639, thus closing.

[2017-03-26 12:01] #4293 closed, assigned to nobody

[2017-03-26 12:36] UralZima commented on #1639
+1. black bg on contact list and black on message window.

[2017-03-26 15:14] yurivict commented on #4290
yes, it is fixed as of 2e4ac3c

[2017-03-26 15:14] #4290 closed, assigned to nobody

[2017-03-26 16:32] ghostbuster008 opened #4294 "contacts limit"
I am using qtox version 1.7.0
toxcore version: 0.1.5
qt version: 5.5.1

I have successfully added nearly 300 contacts, but now when I try to add anymore, qtox crashes. So I removed 3 contacts to see and then I was allowed to add may be up to 4 co?ntacts and then it began to crash again. Is there a limit to this contact list? Can it be made larger?
This is reproducible always.

I am using windows 7

[2017-03-26 16:50] sudden6 commented on #4294
qTox definitely doesn't have an intentional limit on contacts, could be a stack overflow. A backtrace would be interesting.

[2017-03-27 01:10] ghost opened #4295 "Qtox includes quote marks in URL highlight"
Expected behavior: exclude double quote marks (") from the blue URL highlight.
But they are consistently included. It's a minor problem, but I assume it's also an easy fix, with a slight tweaking to the regex.

Commit hash: f839abf33fb666f586fef3bda06efd49165c0b2d
qTox version v1.9.0-18-gf839abf

[2017-03-27 08:03] dcapeletti opened #4296 "Who is Puripito?"
##### Brief Description

OS: GNU/Linux, Trisquel 7.0
qTox version: v1.6.0-obs
Commit hash:  5648106b34fc7dc3ad4e169651a0cbbd0139170a
toxcore:  0.0.0
Qt:  5.6.1

Reproducible: Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce

##### Steps to reproduce

1. I always get a notification from Puripito that I always reject. I do not know who it is.

##### Observed Behavior
I always receive

[2017-03-27 08:13] ezavod commented on #4296
@dcapeletti Have you tried the [NoSpam](https://github.com/qTox/qTox/blob/master/doc/user_manual_en.md#nospam) feature? It is probably spam. You could find NoSpam in privacy settings.

[2017-03-27 08:53] dcapeletti commented on #4296
@ezavod I have already generated a random NoSpam. I'll see if I keep getting notifications. You can close this thread.

[2017-03-27 08:53] #4296 closed, assigned to nobody

[2017-03-27 14:30] zetok commented on #4295
I've got the regexp in #4297, but that addresses the problem only partially, i.e. string that is being matched against regexp has escaped HTML, so while regexp doesn't match against `"`, it does match against `&quot;` … No idea how to fix that.

When not matching against letters:
![spectacle aq1995](https://cloud.githubusercontent.com/assets/3148759/24360105/4a22d302-12fe-11e7-80d5-60122f781caf.pn

[2017-03-27 15:24] nweyand opened #4298 "Add repository for Ubuntu 17.04"
Ubuntu 17.04 will be out in about 2 weeks. It might be intelligent to add a repo for Zesty before it goes from beta to stable and finish testing it so that everyone can use the repo from the first day on.

[2017-03-27 15:29] nweyand opened #4299 "Update the version available for download to 1.9.0"
According to the [change log](https://github.com/qTox/qTox/blob/master/CHANGELOG.md), version 1.9.0 is out since march 19th . The [download page](https://github.com/qTox/qTox/blob/master/README.md#qtox) still links to version 1.8.1 though.

[2017-03-27 18:08] Diadlo commented on #4298
https://qtox.github.io/blog/2017/02/15/Maintainer-Wanted.html

[2017-03-27 20:26] ezavod commented on #4214
Since qTox version 1.9.0 (Win10 64bit; toxcore: 0.1.7; Qt: 5.6.1) this is fixed for me.
@yurivict can you confirm as well, because I do not really know what has fixed that.

[2017-03-27 21:17] ghost opened #4301 "Qtox focuses window on new messages, irrespective of settings"
Commit hash: 2e4ac3c6ac88639967f3015854ccdf63c322af48
qTox version: v1.9.0-22-g2e4ac3c
Qt version: 5.5.1

Qtox focuses chat window when receiving a message. It does this repeatedly, whether or not I tell it not to. It seriously complicates multitasking for me. I'm guessing this is a recent regression, as this behavior just started a day ago or so ago.

Edit: tried removing qtox.ini in case it was

[2017-03-27 22:23] yurivict commented on #4214
Yes, 1.9.0 seems to have this fixed.

[2017-03-28 04:32] nweyand opened #4302 "Error in bootstrap script"
wget seems to be unable to retrieve some dependency:

[code]

[2017-03-28 04:41] nweyand opened #4303 "Avira hit while running bootstrap.bat"
Avira detects something called „TR/Agent.eweqd“ (which has helpfully no description on the Avira website) while the bootstrap script works with
`qTox\libs\openal-soft-1.16.0\build\CMakeFiles\CMakeTmp\<random_filename>.exe`

You might want to add a warning about that to the website.

[2017-03-28 05:31] nweyand commented on #4113
I might have a go at this myself if I a) get my build problems sorted out and b) find the time to do so in the coming weeks.

Concerning a) I have added some bug reports today ;)

[2017-03-28 05:33] #4214 closed, assigned to nobody

[2017-03-28 08:02] zetok commented on #4303
Would you mind adding it to [wiki](https://github.com/qTox/qTox/wiki/Problematic-antiviruses)?

[2017-03-28 15:08] nweyand commented on #4303
done!

[2017-03-28 15:44] nweyand opened #4306 "[Suggestion] Use QtAV instead of ffmpeg, openal etc. directly"
[QtAV](https://github.com/wang-bin/QtAV) would have the benefit of outsourcing part of the build management (i.e. somebody else is looking after that everything works fine with the latest versions of the libraries) and therefore possibly increasing future maintainability of qTox. Also it can be downloaded as precompiled binaries for several platforms, drastically reducing the build requirements on

[2017-03-28 16:06] nweyand commented on #4303
The pull request linked to above adds a small warning about there possibly being false positives on some anti virus software and refers to the wiki page zetok referred me to.

[2017-03-28 16:10] sudden6 commented on #4302
That's not an error in the script, the page where it downloads a dependency uses a wrong SSL certificate.

[2017-03-28 17:10] nweyand commented on #4302
Yeah, I know that. But for the purpose of oversimplification: If the script doesn’t work as it is, it needs fixing. One cannot provide a script which doesn’t run error free and then say “We’re sorry it doesn’t work – but it’s not our fault!” ;)

[2017-03-28 18:26] sudden6 commented on #4302
Agreed, that was to clarify the issue for whoever is going to fix it.

[2017-03-29 09:06] ezavod commented on #3682
This question could be closed since [Emoji Packs](https://github.com/qTox/qTox/blob/master/doc/user_manual_en.md#emoji-packs) are implemented in newer versions.

[2017-03-29 12:03] zetok commented on #4306
Not really. We would need to ensure that it can be compiled on travis on top of FFmpeg,

Doesn't QtAV error out on its own travis build?

[code]

It would make packaging harder, given that it's not available in distros' repos.

If it's really better than just using FFmpeg, why not though.

[2017-03-29 12:05] #3682 closed, assigned to nobody

[2017-03-29 12:06] zetok commented on #4292
Should be fixed by #4300.

[2017-03-29 12:06] #4292 closed, assigned to nobody

[2017-03-30 06:47] nweyand commented on #4302
I am working on fixing it and I’ve also contacted the server admin to inform him about the issue.

[2017-03-30 07:24] nweyand opened #4307 "Warnings during bootstrap.bat"
When running bootstrap.bat on Windows, a series of libraries is downloaded and automatically compiled. All of these libraries do generate hundreds of warnings.

Should we report these warnings to the librarie’s maintainers?

[2017-03-30 08:09] DX37 commented on #4307
bootstrap.bat is outdated, remember? At least the last ffmpeg is now version 3.2.4.

[2017-03-30 08:28] sudden6 commented on #4302
I assigned you to make it clear you're working on that problem.

[2017-03-30 08:29] nweyand commented on #4302
thx

[2017-03-30 08:33] DX37 opened #4308 "Bug with chat history"
##### Brief Description

OS: Arch Linux
qTox version: v1.9.0-30-g533c60b4
Commit hash: 533c60b4
toxcore: 0.1.6
Qt: 5.8.0

Reproducible: Always

##### Steps to reproduce

1. Log in into account.

##### Observed Behavior
![_2017-03-30_14-58-35](https://cloud.githubusercontent.com/assets/12829428/24495026/0d6b7c86-155e-11e7-9a9e-17e1d9b63836.png)

##### Additional Info
[qtox.log](https://github.com/q

[2017-03-30 08:39] nweyand commented on #4302
There you go.

Note that this doesn’t fix other existing problems like that some of the libraries are at outdated versions etc. It also doesn’t address the massive amount of warnings generated during the compile process mentioned in #4307.

[2017-03-30 08:42] nweyand commented on #4307
True, bootstrap.bat is outdated. But we ares still some time away until all issues with the new build process are addressed. Until they are, I think I am going to make sure the current build process works for me... And if I am working on making it work for me, why not share this with everyone?

[2017-03-30 09:53] ezavod commented on #3106
Seems to be fixed. Can not reproduce in versions since qTox 1.6.0 on Linux at least.

[2017-03-30 10:21] DX37 commented on #4308
Got it. The problem is on my side - sqlcipher from [community-testing] works incorrect, when compiled with OpenSSL 1.1.0. We should use OpenSSL 1.0.x.

[2017-03-30 10:21] #4308 closed, assigned to nobody

[2017-03-30 11:06] zetok commented on #4307
If it's reproducible with newest versions of those libs, sure.

[2017-03-30 12:43] #3106 closed, assigned to nobody

[2017-04-01 17:42] yurivict commented on #4248
There's the new one now:
[code]

[2017-04-01 18:39] yurivict opened #4314 "[questions] qtox.ini conflicts?"
Users can open different profiles simultaneously with -p option, but qtox.ini is reused through QSettings.

Shouldn't .ini file be per-profile to avoid conflicts?

There is also already a {profile}.ini file in a profile, but it has the list of friends in it. Shouldn't friends be in a db instead? IMO everything for one profile should be in a db for this profile.

[2017-04-02 04:29] zetok commented on #4314
Yeah.

Yep.

[2017-04-04 12:17] savegame opened #4318 "Cant change status to online when use synergy"
##### Brief Description

OS: OS X Sierra
qTox version: v1.9.0 (downloaded from git binary), v 1.8 (builded from sources)
Synergy version: 1.6.2 (builded from sources)
Commit hash: 7e0bcf089f519b82b6ebd88eb819b9174e5dd8dd
toxcore: 0.1.0
Qt: 5.8.0

Reproducible: Always

##### Steps to reproduce

1.  enable synergy client 1.6.2, connect to synergy server 1.6.2
2. run qTox and connect to account
3. tr

[2017-04-04 20:19] ezavod commented on #4318
Note (for someone who can fix this):

- timing is handled in [src/platform/timer_osx.cpp](https://github.com/qTox/qTox/blob/80f5de31b3b92fc5fc6fbe11380b0465de07ca2c/src/platform/timer_osx.cpp)
- qTox uses same code as [Pidgin's`pidgin_get_time_idle`](https://bitbucket.org/pidgin/main/src/107c6c2342ffd03ad2eae7a838f6b01adcf49291/pidgin/gtkidle.c) does, so there would be the same problem I assume(?)

[2017-04-06 08:28] alexpolevoy opened #4319 "Segfault on account creation, can't even use qTox"
##### Brief Description

OS: Debian GNU/Linux (Stretch, amd64), qTox is installed from openSuSE Build Service repo
qTox version: can't get there
Commit hash: 5648106b34fc7dc3ad4e169651a0cbbd0139170a
toxcore: ?
Qt: 5.7.1
Hardware: various

Reproducible: Always

##### Steps to reproduce

1. Install qTox
2. Start it up
3. Try to create a new account
4. …
5. ???
6. Segmentation fault.

##### Expected

[2017-04-06 10:49] Potracheno commented on #3892
Same here and same conditions but Ubuntu 16.04 tried with qTox 1.7.0 release and  04c280f702bf7287d99bf951e1ddef20dfe0672a

[2017-04-07 16:41] #4003 closed, assigned to nobody

[2017-04-08 10:38] sudden6 commented on #4319
Can you check if it's a duplicate of https://github.com/qTox/qTox/issues/4054 ?

[2017-04-08 16:18] bdimych commented on #4244
+1

[2017-04-08 16:19] Khomyachok5 commented on #4244
+1

[2017-04-08 16:44] DX37 opened #4321 "[build.tox.chat Windows] error: ‘time’ was not declared in this scope"
build.tox.chat can't compile qTox, and it says:
[code]
But I can build it on my PC with cmake and even with qmake...

Any ideas?
@zetok

[2017-04-08 17:11] Diadlo commented on #4321
This function should be included by `ctime`. What compiler do you use?

[2017-04-08 17:14] DX37 commented on #4321
@Diadlo GCC 6.3.0.
But there's is some misunderstandings by d126b18d commit. `<ctime>` was removed.

[2017-04-08 21:34] stikonas commented on #3926
At the moment if I click on the QComboBox to choose video device it crashes on Plasma Wayland session, I can't even choose any device.

Does it try to call any X-specific calls?

[2017-04-08 22:09] Diadlo commented on #3926
@stikonas [Kind of](https://github.com/qTox/qTox/blob/master/src/video/cameradevice.cpp#L87)

[2017-04-08 22:10] sudden6 commented on #4321
Interesting that it didn't get caught in Travis

[2017-04-08 23:43] stikonas opened #4323 "qTox icon is not shown in task manager"
##### Brief Description

OS: Linux (Gentoo)
qTox version: 1.8.1
…

Reproducible: Always

##### Steps to reproduce

1. Start Plasma Wayland session
2. Start qTox

##### Observed Behavior
Generic Wayland Icon is shown

##### Expected Behavior
qTox icon is shown.

##### Additional Info
It works if I rename desktop file name from qTox.desktop to qtox.desktop (so that desktop file name matches the name

[2017-04-09 06:24] Diadlo commented on #4321
@sudden6 It works for me too. Include tree:
[code]
**ADDED:** Lol, but my `qchar.h` doesn't include `<string>`

[2017-04-09 08:46] genodeftest commented on #3926
For now, there is no API on Wayland for doing screencasts correctly on all DEs. So I suggest disabling the feature until at least one API is stable.
@stikonas All of the screen casting "API" is X-specific.

[2017-04-09 10:43] stikonas commented on #3926
@genodeftest screen sharing API is of course X-specific (since preventing access to the screen is one of the points of compositors) but I would expect at least list of webcams to be shown on wayland instead of crashing.

[2017-04-09 13:39] Diadlo commented on #3926
@stikonas In the issue nothing about crash. Can you post backtrace or create new issue?

[2017-04-09 15:38] berndmehnert commented on #4319
I have exactly the same problem as alexpolevoy ...
does anybody have some news on this issue?

[2017-04-09 17:36] zetok opened #4324 "[Regression] qTox crashes on start on proxy settings"
##### Brief Description
Regression causes qTox to crash on proxy settings that worked just fine on earlier commits and weren't altered since.

OS: Gentoo amd64
qTox version: 1.9 ..
Commit hash:  0f54e442627e4882634e52c57e20f55b9454af48
toxcore:  0.1.6
Qt:  5.6.2

Reproducible: Always

##### Steps to reproduce

1. Start qTox profile that uses proxy
2. segfault

##### Observed Behavior
There's a pop

[2017-04-09 18:46] stikonas opened #4326 "Crashes in device selection comboboxes"
##### Brief Description

OS: Linux (Gentoo, Plasma Wayland)
qTox version: 1.8.10
toxcore:  0.1.6
Qt:  5.7.1
Hardware:  AMD64
…

Reproducible: Always

##### Steps to reproduce

1. Start qTox in Plasma Wayland session
2. Go to Settings->Audio and Video
3. Click on any of the four QComboBox'es

##### Observed Behavior
Crash

##### Expected Behavior
List of devices is shown (possibly without Desktop s

[2017-04-09 19:04] sudden6 commented on #4319
@bhmehnert check the linked issue, if your backtrace is similar to it, we can't really do anything.

[2017-04-09 22:59] stikonas commented on #4326
Actually the same crash happens when I right click on text edit fields. Although, I don't see anything qtox specific in these backtraces, somehow crash happens inside Qt event loop.

[2017-04-10 08:03] alexpolevoy commented on #4319
Here's the backtrace:
https://pastebin.com/bju4ecQd
Looks quite similar, but this doesn't mean the issue can be left unresolved.

[2017-04-10 08:55] Diadlo commented on #4319
@alexpolevoy It's not qTox issue, so we can't fix it

[2017-04-10 08:57] #4319 closed, assigned to nobody

[2017-04-10 08:58] alexpolevoy commented on #4319
Okay, so what should I do then? Don't tell me to compile it myself. You have a repository, you claim it to be compatible with Debian, but turns out it's not. This may be not your issue, but unless you tell everybody it doesn't work in Debian, it's yours.

[2017-04-10 09:04] Diadlo commented on #4319
@alexpolevoy "compile myself" will not help. Should we termorary remove official Debian support?
You can use workaround -- old sqlcipher version

[2017-04-10 09:14] alexpolevoy commented on #4319
@Diadlo Why don't you migrate to newer libs instead? Even the most “i-am-so-stable-but-so-outdated” distro has this lib newer than you did compile your software against. Looks like about time to migrate, otherwise qTox will stay unusable on some (possibly even all) major stuff like *buntus, Mint, Arch, Fedora, openSuSE (just to name a few), which is clearly your problem, not distro maintainers'. A

[2017-04-10 09:30] Diadlo commented on #4319
I haven't enough time to make migration (and don't know the suitable lib). If you have -- I will be very thankful for you

[2017-04-10 10:03] ezavod opened #4327 "[Regression] qTox crashes on group invite"
##### Brief Description

OS: openSUSE Tumbleweed
qTox version: v1.9.0-22-g2e4ac3c6
Commit hash:  2e4ac3c6ac88639967f3015854ccdf63c322af48
toxcore:  0.1.2
Qt:  5.7.1

Reproducible: Always

##### Steps to reproduce
1. Start qTox
2. Create a new group chat by inviting a contact

##### Observed Behavior
qTox crashes as soon as one accept the invite (by clicking the `join` button).
It does not matter i

[2017-04-10 10:43] zetok commented on #4319
@alexeysvrv https://qtox.github.io/blog/2017/02/15/Maintainer-Wanted.html - feel free to help with migrating.

[2017-04-10 22:19] yurivict opened #4329 "SEGV while joining groupchat"
New showstopper crash. This doesn't happen in 1.9.0.
There are a lot of TCP relay failure messages for some reason.

[code]

[2017-04-10 23:42] yurivict commented on #4329
Duplicate of https://github.com/qTox/qTox/issues/4327

[2017-04-10 23:42] #4329 closed, assigned to nobody

[2017-04-11 14:52] stikonas commented on #4323
I was looking at this issue more broadly in case of KDE Frameworks (there is a bug there too).

This could have also been fixed via calling setDesktopFileName().

[2017-04-11 22:17] sudden6 commented on #4327
cc @noavarice

[2017-04-12 03:42] yurivict commented on #4321
@DX37  This should be fixed in the current master.

[2017-04-12 03:46] yurivict commented on #4326
No such crash without Wayland on FreeBSD. Might as well be a QtWayland bug since it is new.

[2017-04-12 05:35] #4321 closed, assigned to nobody

[2017-04-12 08:39] #4323 closed, assigned to nobody

[2017-04-12 14:41] stikonas commented on #4326
@yurivict yeah, of course no crash on FreeBSD. I also have no crash on Gentoo when using X11. Well, it might still be QtWayland bug and not in qTox. I guess I'll upgrade to Qt 5.9.x (skipping 5.8 which was not a good release) at some point after it is released and report here.

[2017-04-12 21:31] #4327 closed, assigned to nobody

[2017-04-12 21:42] stikonas commented on #4326
There is also some unported code in qTox. E.g. in qTox/src/platform/timer_x11.cpp there are calls to XOpenDisplay. This is wrong even on X11 (see https://blog.martin-graesslin.com/blog/2015/07/porting-qt-applications-to-wayland/ for an explanation)

[2017-04-16 04:19] yurivict opened #4335 "Nothing happens when a very long user name is entered in "My name""
When the user enters 120 character name, it is accepted, but when the name is 140 bytes - nothing happens when the user hits Enter.

qTox should warn that the limit is reached.

[2017-04-16 19:15] Diadlo commented on #4324
Can't reproduce (using tor SOCKS proxy)

[2017-04-17 15:07] ste-h opened #4337 "Accidently sent 500,000 lines in a qTox message, now there are problems"
I mispasted something that was 500,000 lines and sent it to a friend in qTox.
Now, whenever I switch to them it says "Resizing" in bold and takes nearly a minute for anything to show up. It's also crashed as a result. I don't know if this is causing the same issues for him as I have no way to contact him due to this catastrophe.
Is there anything I can do (I'm in linux), such as some kind of comma

[2017-04-17 15:26] ste-h commented on #4337
I've tried opening the username.db with sqlitebrowser but I get invalid file format error with that. Is this because I use a password to sign in to that qtox ID?

[2017-04-17 16:00] Diadlo commented on #4337
@avirunes Yes, it's because database is encrypted (IDK is there any way to open it by external tool). As hotfix you can remove db file (make backup of old file)

[2017-04-18 09:20] ghost commented on #4337
For me it's incredibly slow with just over 20 words on the screen, takes some time to display text after startup, or adjust when resizing. CPU usage gets 100% for a few seconds, which of course depends on the length of the text being displayed.

[2017-04-18 11:16] sudden6 commented on #4337
@avirunes if you don't care about the chat history, deleting it for this particular friend should fix the problem.

[2017-04-19 07:15] Hasshu commented on #4299
Speaking of which, is there any particular reason why Windows doesn't get timely releases?

[2017-04-19 07:19] Hasshu commented on #4337
<s>OP, looks like you broke the Internet.</s>

Jokes aside, shouldn't there be some sort of safeguard against such "mispastings"?

[2017-04-19 08:53] ghost commented on #4337
@Hasshu Yeah, they should just limit the maximum length of text to 1, or disable messaging altogether instead of fixing how the text is displayed.

[2017-04-19 16:39] Hasshu commented on #4337
@zolk3ri People don't normally write messages comprising 500,000 lines... I'm not sure what prompted your sarcasm.

[2017-04-20 07:45] crevete commented on #3399
I've also got this error message every time I launch qTox... And it fails to load chat history...
Can you tell me how to fix this please? I hope I didn't lose all my chat history.. Thanks

[2017-04-20 15:55] DX37 opened #4344 "qTox doesn't ask password on encrypted profile login"
##### Brief Description

OS: Windows (and maybe other OSes)
qTox version: v1.9.0-62-g17abfe3
Commit hash: 17abfe3
toxcore: v0.1.7
Qt: 5.6.2
Reproducible: Always

qTox doesn't ask for password when I login into encrypted profile. As a result, chat database isn't loading, but I still can see my profile and friends list.

qTox log: [qtox.log.gz](https://github.com/qTox/qTox/files/944294/qtox.log.gz)

[2017-04-21 05:52] yurivict commented on #4337
Duplicate of https://github.com/qTox/qTox/issues/4215

To work around:
1. Remove the password from the profile
2. Open the DB in any sqlite UI and delete the corresponding row from he table
3. Add the password back

[2017-04-21 19:17] AboShanab opened #4345 "[Suggestion] Ability to remove chat history for someone"
Hello, I'd like to suggest to add an option for remove your friend chat without delete him, currently I can't delete my friend chat without remove him from my qTox client, That option will useful for qTox users

Have a nice day
AboShanab.

[2017-04-22 10:26] sudden6 commented on #4345
This feature is already available with right-click  on friend ->Show Details -> Remove History

[2017-04-22 10:26] #4345 closed, assigned to nobody

[2017-04-22 10:29] sudden6 commented on #4344
From the logs it seems your *.tox file isn't encrypted, but settings + db are. Did you perhaps remove the password from your profile with a client other than qTox?

[2017-04-22 13:44] #2100 closed, assigned to nobody

[2017-04-22 17:25] wellkwen opened #4346 "build in Mac OSX"
I'm new here, but when I try to build with a script, I get an error:

**`.    Starting build process ...

        Now working in /Users/nikki/qTox-Mac_Build

       Starting cmake ...
      /Users/nikki/Desktop/qTox-Mac-Deployer-ULTIMATE.sh: line 226: cmake: command not found`**

[2017-04-23 06:00] DX37 commented on #4344
No, I didn't do any of that.

Now I tested this on Arch Linux. qTox required password, but after login there was `Set profile password` in profile settings. After logout and launch qTox again, it doesn't require password anymore. And I can't set new password because of old password on database.

After creating pure new profile and setting password in the beginning or in profile settings, it still

[2017-04-23 11:30] sudden6 commented on #4344
I could reproduce this, working on a fix.

[2017-04-24 05:20] ezavod commented on #3399
@crevete These errors seem to be part of issue #4344. It should be fixed by PR #4347.

[2017-04-24 05:23] 0nomatopoeia opened #4349 "Pulseaudio in windows build"
Is there any way to install pulseaudio on the windows build (64 bit)?
And/or what is the status of the echo cancellation in it (eg. how well does it work)?
Alternatively is there any other way to implement working echo cancellation on the windows builds?

OS: Windows 7 x64
qTox version: 1.8.1
Commit hash:  bdbf2b461bd2fde5c2cc00fca364f76e5b448356
toxcore:  0.1.5
Qt:  5.5.1

[2017-04-24 05:27] ezavod commented on #4346
@wellkwen It appears that cmake is not installed. Make sure that you run this script with required privileges or try to install cmake manually.

[2017-04-24 17:58] #4344 closed, assigned to sudden6

[2017-04-24 20:17] NicoHood commented on #3912
@zetok Release 1.9.0 is not GPG signed, please do so.

@farseerfc Please do not simply disabled the signature if its not available and give upstream a hint. This is a security issue, especially because "Why should upstream drop gpg signatures if it was not by mistake?"

[2017-04-24 22:50] maverick74 commented on #4299
Without timely updates, i believe this won't go anywhere...

But maybe that's just me...

[2017-04-25 06:42] Tamila-2017 opened #4350 "Stagnation of the project?"
Hi!

Why do you no longer develop the **qTox** project? He is very necessary for many people!

[2017-04-25 17:40] stikonas commented on #4350
I'm not qTox developer but there are recent commits. And in any case if you want qTox to move further then contribute patches.

[2017-04-25 18:29] sudden6 commented on #4350
Probably what you're perceiving as stagnation is the lack of package updates, see https://github.com/qTox/qTox/issues/4174. Unfortunately nobody that complained about missing packages was willing to take up the task or mention someone who would be willing to do it.

[2017-04-25 18:32] stikonas commented on #4349
Pulseaudio does not work on windows. At least there are no attempts since 2011.

[2017-04-26 09:16] 0nomatopoeia commented on #4349
so...  no other way to implement echo cancellation in the windows build?

[2017-04-26 09:28] sudden6 commented on #4349
I'm currently experimenting with a new approach, but I don't know yet if it will work.

[2017-04-27 10:51] 0nomatopoeia commented on #4349
ok, let me know if you need help testing it.

[2017-04-27 19:21] meaz opened #4352 "Profile not loaded, qtox crashes"
Hi,

I'm on Debian stretch 64, so I installed qtox using the provided link [https://software.opensuse.org/download.html?project=home%3Aantonbatenev%3Atox&package=qtox](url)
The installation worked perfectly: no error messages.
However, when I create a new profile, qtox crashes. But some files are created in `~/.config/tox` (here a profile with the username "test"):
qtox.ini.lock
qtox.ini.T24284
te

[2017-04-28 10:47] sudden6 commented on #4352
Can you check if it's a duplicate of https://github.com/qTox/qTox/issues/4054 ?

[2017-04-28 15:48] meaz commented on #4352
Hi,

yes you're right, it is a duplicate...

[2017-04-28 18:30] sudden6 commented on #4352
Thx for checking, I'll close this one then.

[2017-04-28 18:30] #4352 closed, assigned to nobody

[2017-04-30 12:53] ghost opened #4353 "No "Ban" or "Report" button"
##### There are no safety buttons

OS: Linux Mint Cinnamon 18.1 Serena
qTox version: v1.6.0-obs
Commit hash: 5648106b34fc7dc3ad4e169651a0cbbd0139170a
toxcore: 0.0.0
Qt: 5.5.1

I am testing qTox on my Linux computer and I have seen who there are no "ban" or "report" button.

How to report a user with annoying or dangerous behavior ?

[2017-04-30 14:45] ProMcTagonist commented on #4353
I have personally witnessed a lot of both annoying and dangerous behavior on Tox. I believe the only way this can be resolved is immediate integration of a government-maintained SSN (or equivalent)-linked user list so that users exhibiting any behavior deemed dangerous by the community can be removed permanently, and potentially tried and jailed for their disruptive actions. This is the classical

[2017-04-30 16:58] Ripcurl99983 opened #4354 "Crypto integration"
Hello qTox,

Machinecoin is a Bitcoin alternative, which is essentially a free open source token system. I used to be the graphics guy for the development team, and we, like you, are always trying to figure out how to get more users.

I would like to propose integrating a Machinecoin wallet into qTox. Tokens could be used to tip people while chatting. Not only is that fun, but things could evolve

[2017-04-30 19:08] sudden6 commented on #4354
While I agree there are some common goals in both projects, I think for now qTox should keep a narrow focus on being a IM client.

[2017-04-30 20:29] Ripcurl99983 commented on #4354
That's too bad. It seems like peanut butter and jelly to me.

[2017-05-01 11:19] ezavod commented on #4353
@Mago7891
Banning people would be a great feature. However there is already a proposal on how this could be done (see #1958), but sadly this is not yet implemented.
At the moment it is possible to get rid of people by removing them from your friend/contact list and change your [NoSpam](https://github.com/qTox/qTox/blob/master/doc/user_manual_en.md#nospam). Then they are unable to add you again wit

[2017-05-02 12:06] zetok commented on #4346
@wellkwen did you run the script with appropriate permissions?

[2017-05-02 12:19] zetok commented on #4299
Windows updates depend on @tux3 to do some stuff manually. Given that he doesn't have time for it, they are significantly delayed.

It would be good if there was someone else who would be interested in doing that stuff. AFAIK current qTox maintainers (including myself) aren't interested in doing it. Not really surprising, given that there are no windows users among current maintainers..

Anyway; a

[2017-05-02 13:22] tux3 commented on #4299
I will make sure to update the Windows release today.

[2017-05-02 13:35] tux3 commented on #4294
Sounds like there's a uint8_t overflowing somewhere in there?

[2017-05-02 16:10] zetok commented on #4337
Proposed solution: ask user whether they really want to paste something that is really big, e.g:

`Are you sure that you want to paste 100 MB of text? (y/N)`

User would be asked whether they actually want to paste the text if text size exceeds 100 KB.

Thoughts?

[2017-05-02 17:57] sudden6 commented on #4337
I like this idea.

[2017-05-03 13:13] ghost opened #4358 "update 1.9.0 -qtox.exe not working"
##### Brief Description

OS: Windows10
qTox version: (version numbers in menu `Settings → About`)
Commit hash:
toxcore:
Qt:
Hardware:
…

Reproducible: Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce

##### Steps to reproduce

1.
2.
3. …

##### Observed Behavior

##### Expected Behavior

##### Additional Info
(links, images, etc go here)

----

E.g., include log located in `~/.cach

[2017-05-03 15:10] zetok commented on #4358
cc @tux3 ?

[2017-05-03 20:26] aldude999 commented on #4358
Same here, Windows 7 x64, neither 32 bit, 64 bit, or portable is working. No logs created, no command line output, or anything.

[2017-05-04 01:52] Geremia opened #4359 "Feature suggestion: Mouse-less Quoting"
Currently, alt+q will quote selected text and the up arrow will put my most recently typed message in the text field, but perhaps a new key combination (e.g., alt+up / alt+down) could scroll through the recipients' messages and automatically quote them so the mouse doesn't have to be used at all for selecting text to quote.

[2017-05-04 02:31] Geremia opened #4360 "Friend disappears"
##### Brief Description

OS:Linux (Slackware-current, kernel 4.4.38)
qTox version: 1.9.0
Commit hash:  7e0bcf0
toxcore:  0.1.5
Qt:  5.7.1
…

Reproducible: Always (with one specific buddy)

##### Steps to reproduce

1. Press the reconnect button.
2. One buddy (who is not in a circle) disappears.

I have to make that friend delete me from her buddy list and re-friend me in order to get her to appear

[2017-05-04 05:37] ezavod commented on #2760
@sudden6  I think this issue could be closed since #4356 has been merged.

[2017-05-04 05:41] ezavod commented on #300
@tyrylu Is there anything left to do in this issue, since #2100 has been closed?
I would say this one could be closed.

[2017-05-04 08:49] sudden6 commented on #2760
Thanks for the reminder

[2017-05-04 08:49] #2760 closed, assigned to nobody

[2017-05-04 08:52] sudden6 commented on #4360
Please post the log file. Also are you using an encrypted profile? Can you try if this still happens with master?

[2017-05-04 12:21] vonProteus opened #4361 "copy/paste don't work"
##### Brief Description

OS:  OS X 10.12.4
qTox version: 1.9.0
Commit hash: 7e0bcf089f519b82b6ebd88eb819b9174e5dd8dd
toxcore:  0.1.0
Qt:  5.8.0
Hardware:  Macmini7,1

copy/paste don't work

Reproducible: Always

##### Steps to reproduce

1. try to copy somthing inside qTox
2. can't paste it outside qTox
3. try to copy somthing outside qTox
4. can't paste it inside qTox

##### Expected Behavior

cl

[2017-05-04 12:46] nyakowint opened #4362 "qTox does not open gui on windows 10 creators update"
##### I'm running the latest Windows 10 update, and cannot run qTox. I don't think you can chat between qTox and uTox, so i **really** need this to be fixed

OS: Windows 10
qTox version: 1.9.0
Commit hash:  ? what does this mean ?
toxcore:  ? what does this mean ?
Qt:  don't know what this means either...
Hardware:  See picture attached [![https://gyazo.com/9a482c9dba2533bbe2b636a1063768f7](https:

[2017-05-04 13:04] vonProteus commented on #4361
sorry false alarm

[2017-05-04 13:04] #4361 closed, assigned to nobody

[2017-05-04 14:43] Hasshu commented on #4358
Alas, ditto.

[2017-05-04 16:46] zetok commented on #2760
@ezavod btw, https://help.github.com/articles/closing-issues-via-commit-messages/

[2017-05-04 19:34] ezavod commented on #4362
I can reproduce this with Win10 (up to date) using the 64bit installer from Readme page. Does not show up at all, not even logs or the like.

@ItzOnlyAnimalYT Try to use the [nightly](https://build.tox.chat/view/qtox/job/qTox_pkg_windows_x86-64_nightly_release/lastSuccessfulBuild/artifact/setup-qtox.exe). This works for me.

Edit: You could use whatever tox client you like, so uTox should work as

[2017-05-04 20:08] Geremia commented on #4360
@sudden6 Here's the `qtox.log`: https://gist.github.com/Geremia/a422846b4132593b88da3bc2c3935f7a

@sudden6 I don't think I'm using an encrypted profile. How do I tell of I am?

[2017-05-04 20:40] nyakowint commented on #4362
also wtf is with this message? [![https://gyazo.com/f6ca71b1b9ee25197e31581f5f12b4ce](https://i.gyazo.com/f6ca71b1b9ee25197e31581f5f12b4ce.png)](https://gyazo.com/f6ca71b1b9ee25197e31581f5f12b4ce)

[2017-05-04 23:35] Geremia commented on #4360
I don't know if this is related, but I also cannot invite anyone to groups.

[2017-05-05 05:24] ezavod commented on #4362
I am not an expert on Windows, but this looks like a warning that you are going to install an unsigned or untrusted package. This is because the nightly builds are not signed.
Maybe I should say more clearly that using the nightlies is just a quick fix and is not recommended at all. First they are test versions which are not tested to be stable, second they are not signed.

If you do not trust thi

[2017-05-05 07:59] tyrylu commented on #2100
This one can probably be closed, correct. But, unfortunately, some others will follow.

[2017-05-05 08:43] sudden6 commented on #4360
The logs don't really look like a qTox issue. Is there enough space on the filesystem? does `.config/tox` (the folder) have correct permissions?

[2017-05-05 22:07] ElonSatoshi opened #4366 "Is group chat encrypted in qTox?"

[2017-05-05 23:17] Geremia commented on #4360
@sudden6

For some reason some of the files were root. That seemed to be the problem. I'm not sure how they changed to root. Perhaps this is a local issue.

Still, I can't get group invites to work, but this is probably another issue.

This issue can be closed.

[2017-05-05 23:21] Geremia commented on #4366
@ElonSatoshi Yes, everything is.

[2017-05-05 23:24] #4360 closed, assigned to nobody

[2017-05-05 23:25] sudden6 commented on #4362
cc @tux3

[2017-05-05 23:27] sudden6 commented on #4349
@0nomatopoeia take a look at #4367 although you'll probably have troubles compiling it for windows at this time.

[2017-05-06 02:47] cfilgit commented on #4362
I noticed that the last version 1.9 after installed in the control panel to uninstall it shows 1.8, could be related to this info that the 1.9 version dont work?

[2017-05-06 02:48] cfilgit commented on #4358
I noticed that the last version 1.9 after installed in the control panel to uninstall it shows 1.8, could be related to this info that the 1.9 version dont work?!

[2017-05-06 18:03] tux3 commented on #4358
So something very strange is going on with the windows builds of qTox, the binary produced by the compiler doesn't actually run qTox, it starts and then immediately there is an unconditional return instruction stopping it:

![snap-25](https://cloud.githubusercontent.com/assets/5155966/25774767/6c97ec62-3296-11e7-9319-c19614307b53.png)

I'm still trying to understand what could possibly have caused

[2017-05-06 18:35] Diadlo commented on #4366
Seems, answered

[2017-05-06 18:36] #4366 closed, assigned to nobody

[2017-05-06 23:25] #4324 closed, assigned to nobody

[2017-05-07 08:43] Hasshu commented on #4362
Duplicate of #4358?

@ItzOnlyAnimalYT Change your settings -> About -> Version.

[2017-05-07 11:38] sudden6 commented on #1413
This seems to have been fixed somewhere until https://github.com/qTox/qTox/commit/bdbf2b461bd2fde5c2cc00fca364f76e5b448356

Please open a new issue if it still happens.

[2017-05-07 11:38] #1413 closed, assigned to nobody

[2017-05-07 11:52] sudden6 commented on #1842
Is this still an issue? If not please close.

[2017-05-07 11:54] sudden6 commented on #2270
Is this still an issue? If not please close.

[2017-05-07 11:55] sudden6 commented on #2576
Is this still an issue? If not please close.

[2017-05-07 11:55] sudden6 commented on #2485
Is this still an issue? If not please close.

[2017-05-07 11:55] sudden6 commented on #2913
Is this still an issue? If not please close.

[2017-05-07 12:00] sudden6 commented on #1360
Is this still an issue? If not please close.

[2017-05-07 12:09] sudden6 commented on #3080
I'm closing this since it's ancient and more up to date efforts are documented in https://github.com/qTox/qTox/issues/4302

[2017-05-07 12:09] #3080 closed, assigned to nobody

[2017-05-07 12:14] sudden6 commented on #3065
Since the upstream bug was closed long ago, I'll also close this one.

[2017-05-07 12:14] #3065 closed, assigned to nobody

[2017-05-07 12:16] sudden6 commented on #1528
Is this still a problem? If not please close.

[2017-05-07 12:25] sudden6 commented on #2692
Doesn't seem to happen in https://github.com/qTox/qTox/commit/bdbf2b461bd2fde5c2cc00fca364f76e5b448356 anymore.

[2017-05-07 12:25] #2692 closed, assigned to nobody

[2017-05-07 12:28] sudden6 commented on #3517
Most users probably have already migrated.

[2017-05-07 12:28] #3517 closed, assigned to tux3

[2017-05-07 12:30] Haarolean commented on #2485
Same on 1.9.0-104-g5...

[2017-05-07 12:37] sudden6 commented on #3727
Closed in https://github.com/qTox/qTox/pull/4266

[2017-05-07 12:37] #3727 closed, assigned to nobody

[2017-05-07 12:38] sudden6 commented on #3762
Is this still an issue? If not please close.

[2017-05-07 12:40] sudden6 commented on #3764
Is this still an issue? If not please close.

[2017-05-07 12:41] sudden6 commented on #3831
Closing since it seems fixed.

[2017-05-07 12:41] #3831 closed, assigned to nobody

[2017-05-07 12:45] sudden6 commented on #1754
Is this still an issue? If not please close.

[2017-05-07 12:48] sudden6 commented on #3646
Is this still an issue? If not pleas close.

[2017-05-07 12:50] sudden6 commented on #3969
Is this still an issue? If not please close.

[2017-05-07 12:56] sudden6 commented on #4188
Closing since the answer was provided and no activity.

[2017-05-07 12:56] #4188 closed, assigned to nobody

[2017-05-07 12:59] sudden6 commented on #4362
Duplicate of https://github.com/qTox/qTox/issues/4358

[2017-05-07 12:59] #4362 closed, assigned to nobody

[2017-05-07 13:39] NicoHood commented on #3646
Will further test. I had this only sometimes, so I need more testing. Currently it does not crash, but this doesnt mean anything.

[2017-05-07 14:08] #3708 closed, assigned to nobody

[2017-05-07 15:36] #2305 closed, assigned to nobody

[2017-05-07 16:52] yurivict commented on #3762
qTox-1.9.0 with toxcore-0.1.8 doesn't have the problem any more.

[2017-05-07 16:52] #3762 closed, assigned to nobody

[2017-05-07 18:01] #2576 closed, assigned to nobody

[2017-05-07 21:11] zetok commented on #3912
@NicoHood uploaded signed release for both 1.9 and 1.10.

[2017-05-07 21:21] NicoHood commented on #3912
Thanks

[2017-05-07 21:21] #3912 closed, assigned to nobody

[2017-05-08 03:02] farseerfc commented on #3912
@NicoHood You are right, I will not disable signature again.

[2017-05-08 09:46] KenOokamiHoro opened #4378 "Noto Color Emoji caused qTox crashed when try to copy toxid."
##### Brief Description

OS: Windows / OS X / Linux (include version and/or distro)
qTox version: (version numbers in menu `Settings → About`)
Commit hash:  v1.10.0
toxcore:   496f854897566a8ab1bda8449de4b2a71307d3d5
Qt:  5.8.0
Operating System: Arch Linux x86_64
…

Reproducible: Always

##### Steps to reproduce

1. Your fontconfig use Noto Color Emoji ,like https://gist.github.com/hexchain/47f550

[2017-05-08 13:17] NicoHood commented on #3646
Cannot reproduce for now.

[2017-05-08 13:17] #3646 closed, assigned to nobody

[2017-05-08 16:12] yurivict opened #4380 "Build fails: undefined reference to `OpenAL::OpenAL()'"
It was broken by 28c2298.
@sudden6

Building using qtox.pro on FreeBSD.

[code]

[2017-05-08 19:25] Diadlo commented on #4380
Problems with `CMakeLists.txt` still there?

[2017-05-08 19:43] Diadlo commented on #1855
'Friend' is typical word for IM. Closing since there is no activity

[2017-05-08 19:43] zetok commented on #1855
Well then, would you mind making a PR with the changes?

[2017-05-08 19:44] zetok commented on #1855
Whoops, a bit of miscommunication, reopening.

[2017-05-08 19:50] Diadlo commented on #2808
1) **No one can say for sure how long** (no one know)
2) Currently whole tox project is [experemental](https://github.com/TokTok/c-toxcore#-1)
3) There is many problem with project structure and architecture. It's problem №1 for me (AFAIK for others maintainer too) now

[2017-05-08 19:50] #2808 closed, assigned to nobody

[2017-05-08 19:54] Diadlo commented on #4062
Closing, since question is answered

[2017-05-08 19:54] #4062 closed, assigned to nobody

[2017-05-08 19:55] Diadlo commented on #4150
Is problem still there?

[2017-05-08 19:57] Diadlo commented on #4350
We still develop it ;)
I think, question is answered, so closing

[2017-05-08 19:57] #4350 closed, assigned to nobody

[2017-05-08 21:59] zetok commented on #1528
Still reproducible on v1.10.0-4-ge4d40dc

[2017-05-09 01:18] yurivict commented on #4380
cmake still breaks with 1.10.0

[2017-05-09 16:33] yurivict opened #4384 "[regression] -p feature is broken: subsequent unstances just bring up the previous instance window and exit"
This is a regression in 1.10.0 making the use of multiple accounts impossible.

For some reason this doesn't happen every time, it happens intermittently.

The first instance prints this:
[code]

The second instance prints this
[code]
and exits.

qtox should never activate other profile's instances.

[2017-05-09 16:41] yurivict opened #4385 "[regression] Some profiles fail to connect after the upgrade to 1.10.0"
Some profiles fail to connect in 1.10.0, see log below.
Some other instance connect fine.

This is a show-stopper regression.

[code]

[2017-05-09 16:47] yurivict commented on #4384
@Diadlo , you committed the IPC refactoring 22 days ago, it might be the culprit.

[2017-05-09 18:25] Geremia opened #4386 "If Tox already does onion routing, why use Tox over Tor?"
The section "[What is stopping people from tracking me through the public DHT?](https://wiki.tox.chat/users/techfaq#what_is_stopping_people_from_tracking_me_through_the_public_dht)" of the [Technical FAQ](https://wiki.tox.chat/users/techfaq) page says:

If Tox already uses onion routing, then why use [Tox over Tor](https://wiki.tox.chat/users/tox_over_tor_tot)? What's the difference?

<sup>[cross-

[2017-05-09 18:43] sudden6 commented on #4384
I think I also experienced this.

[2017-05-09 19:37] Diadlo commented on #4384
@yurivict Why you never use issue template?
What is the steps to reproduce?

[2017-05-09 20:16] Diadlo commented on #4385
Do you use proxy?

[2017-05-10 00:36] yurivict commented on #4385
There's no proxy.

[2017-05-10 00:39] yurivict commented on #4384
Because I try to leave the minimal information needed to reproduce the case. -)

1. Create account1
2. Create account2
3. Log into account1 with ```qtox -p account1```
4. Log into account2 with ```qtox -p account2```
5. Observe that step 4 leads only to account1 being activated

This doesn't happen every time, it is intermittent.

[2017-05-10 07:24] #4335 closed, assigned to nobody

[2017-05-10 07:34] zetok commented on #4385
I also have the same error, regardless of whether proxy is used.

[2017-05-10 07:36] zetok commented on #3969
I can't test right now because of #4385.

[2017-05-10 07:44] zetok commented on #4386
Onion routing used in Tox is not equivalent to the one used in Tor. Aside from that, it's used **~only for the DHT** – aside from DHT, peers and friends are connected to each other directly, no onion used. (that's the gist of it, without considering TCP-only mode)

If that answers the question, please close the issue.

[2017-05-10 08:23] fcore117 opened #4387 "Wont remember closing of username panel anymore."
##### Brief Description

OS: Win 7 x64(got report from friend) / Win 10 x64(i replicated this anomaly)
qTox version: v1.9.0
Commit hash:  104-g5d117e6
toxcore:   0.1.8
Qt:  5.5.1
Hardware:  multiple hw

##### Steps to reproduce

1. Make qTox multi window
2. open user and remove username area (pic with red X)

##### Observed Behavior
Do not remember removing user list window anymore, before it reme

[2017-05-10 11:34] SlugFiller opened #4388 "[Feature Request] Show dates in chat log"
I like to keep my computer, and my Tox, open 24/7. The problem is, messages which arrive show the time of arrival, but not the date. Contrast with Skype, which has a clear horizontal line separating messages which have arrived on different dates. This is particularly annoying with online/offline messages, which often arrive in large bulks, without proper alert, and I have no idea how long ago they

[2017-05-10 12:26] SlugFiller commented on #4353
Can't tell if trolling, or actually serious... In the interest of future readers, however, I will try to explain, as politely as possible, why this is so fundamentally wrong.

Tox is, first and foremost, a decentralized network. That is, no single entity or group can control Tox. Furthermore, being open source means that even the developers have limited control, as there is nothing preventing anyo

[2017-05-10 14:32] towlie commented on #4150
Yes, but I assume the reason is a broken cmake from my build environment "mxe".
The error is the same.
This is the cmakecache: https://gist.github.com/towlie/d375a68dd6293f1b1030490ee12f042f

[2017-05-10 17:14] ezavod commented on #4387
Can reproduce.
`git bisect` blames commit add8d51a2913fa6979674247696da9d397d252b5 as the culprit.

[2017-05-10 21:33] sudden6 commented on #4385
@zetok can you test with a fresh nodes list?

[2017-05-10 22:47] ghost commented on #4385
Is it possible that this affects the latest Windows binary too? I unable to connect in Linux with e4d4f147936c0481e7d20d20109be236be59bc24 and Windows with 5d117e6af854de194dc16575f1fe5c95a43741c8. No proxy, Windows runs in a VM.

[2017-05-11 04:29] Diadlo commented on #4388
What's wrong with current one?
![image](https://cloud.githubusercontent.com/assets/6306608/25932683/79911e2e-361b-11e7-8323-ef045603501c.png)

[2017-05-11 09:46] ghost commented on #4143
Log export is fine in good weather, but think about two-party consent and security.

Bob may want to chat with Alice, yet NOT for her to keep a log. Bob's reasons might pertain to the chat subject, Alice the person (human threat model), OR her computer security (technical threat model). There's little point in crypto chatting to a compromised box suffering nightly data exfiltration, whether legal

[2017-05-11 10:30] Hasshu commented on #1855
@Diadlo Not to sound rude, but... following that logic, you have over 400 other issues to close.

[2017-05-11 11:25] albesp77 opened #4390 "Proxy issues"
OS: Windows 7 x64
qTox version: 1.9.0 and 1.10.0

unable to use both http and socks5 proxy settings, receiving error on proxy settings and client crash
just to better clarify, with build 1.8.1 all works good, with 1.9.0 and 1.10.0 i don't see any type of traffic outgoing from my pc to web proxy, both http and socks5!

[2017-05-11 12:40] dolohow commented on #4385
Downgrading toxcore to 0.1.7 fixes problem.

[2017-05-11 12:51] cebe commented on #4385
could someone run a git bisect to figure out the breaking commit?

[2017-05-11 14:48] ghost commented on #4385
I can confirm that downgrading toxcore to 0.1.7 fixes the problem.
But toxic on the same profile works with 0.1.8 (qTox does not).
So it may be a qTox bug.

[2017-05-11 15:03] yurivict commented on #4385
Downgrading qTox to 1.9.0 also fixes the problem.

[2017-05-11 15:52] nurupo commented on #4385
Just an observation (it might not be what causes this issue) but qTox's bootstrap node list is a bit outdated, probably about of half of the nodes don't exist anymore. [31 nodes were removed](https://lists.tox.chat/pipermail/bootstrap/2017-April/000000.html) from nodes.tox.chat as they were offline for over 1 month.

[2017-05-11 16:09] yurivict opened #4392 "qtox.pro is broken: Failure to find: src/widget/tool/micfeedbackwidget.cpp"
[code]

[2017-05-11 16:10] yurivict commented on #4392
Until qtox.pro is retired it should be kept updated.

[2017-05-11 16:21] yurivict opened #4393 "Compile warnings in clang"
[code]

[2017-05-11 16:50] nurupo commented on #4385
It would be nice if qTox reported the exact error that `tox_bootstrap()` errors. Can someone re-compile qTox with that change? Just printing the error enum number is enough.

[2017-05-11 16:52] nurupo commented on #4385
The only reasons why `tox_boostrap()` would error are: NULL as argument for non-Nullable argument, bad address or bad port. https://github.com/TokTok/c-toxcore/blob/master/toxcore/tox.h#L869-L892

[2017-05-11 16:59] nurupo commented on #4385
@yurivict do you have "Creating a new profile" or "Loading user profile" in your log?

[2017-05-11 17:07] yurivict commented on #4385
Now the current head works for me.
It says: Debug: Loading user profile

[2017-05-11 17:09] yurivict commented on #4385
Now it still fails several times, but later it connects.
I can't tell if it's just that all bootstrap nodes happened to be down before, or there is a legit error in the code.

[code]

[2017-05-11 17:54] Diadlo commented on #1855
@Hasshu It's not the real issue

[2017-05-11 18:27] nurupo commented on #4385
It's qTox issue. For some reason it passes NULL as public key to `tox_bootstrap()` and `tox_add_relay()`.

I have made the following change on top of the commit that current qTox download is based on https://github.com/nurupo/qTox/commit/246fd9f20ea12339e13e46dbf35bdd3fb43d64ce

Here is the log of the modified qTox

[code]

As you can see, `pkPtr` is `0x0`, i.e. null. Toxcore returns 1 as error, w

[2017-05-11 19:17] nurupo commented on #4385
The bug was introduced by https://github.com/qTox/qTox/commit/d126b18d76150700caa52c801e91d94460fe4346 commit.

The bug is in line https://github.com/qTox/qTox/blob/d126b18d76150700caa52c801e91d94460fe4346/src/core/core.cpp#L397

[`ToxPk`'s constructor for `QByteArray` argument](https://github.com/qTox/qTox/blob/master/src/core/toxpk.cpp#L30-L42) expects the argument to be the byte representation

[2017-05-12 05:14] #4385 closed, assigned to nobody

[2017-05-12 05:32] Diadlo commented on #4248
Moved to #4393

[2017-05-12 05:32] #4248 closed, assigned to nobody

[2017-05-12 05:57] ezavod commented on #3016
Duplicate of #4214.
I think this could be closed.

[2017-05-12 06:44] Diadlo commented on #3016
@ezavod Thanks

[2017-05-12 06:44] #3016 closed, assigned to nobody

[2017-05-12 08:29] #4380 closed, assigned to sudden6

[2017-05-12 14:28] SlugFiller commented on #4388
Oh, I see the problem now. It doesn't activate for status messages. In fact, status messages across date lines seem to disable this display. This should be retagged as bug, then:
![toxdates](https://cloud.githubusercontent.com/assets/5435495/26002311/ed44248e-3737-11e7-8dd7-2534a18a7f80.png)

Version commit hash pictured: d320b1f259efc4a9200c00ca624d8289383c7f9e

[2017-05-12 18:13] Nevo0110 opened #4397 "qTox not connecting"
The title says it all, after downloading the executable for windows and installing on arch neither client connects.

OS: Windows / Linux(Arch)
qTox version: v1.9.0-104-g5d117e6
Commit hash:  5d117e6af854de194dc16575f1fe5c95a43741c8
toxcore: 0.1.8
Qt:  5.5.1
Hardware:
CPU: FX-8350
GPU: GTX 1060 6GB variant
MOBO: Gigabyte GA-78LMT
SSD: Samsung 850 Evo
HDD: Western Digital Blue

(not sure what other

[2017-05-12 18:53] yurivict opened #4398 "Can't make friends between two accounts"
Both hosts are qTox-1.9.0 with toxcore-0.1.8 on FreeBSD-11. The problem exists when both run with no proxy, and when both run with SOCK5 proxy.

What I did:
1. Copied ToxID on host2
2. Pressed "+" button on host1, pasted host2's ToxID, hit the"Add friend" button
3. host2 got a message "Friendship requested", which I accepted
4. Friends never got connected, they never became green on either end, ne

[2017-05-12 20:11] zetok opened #4399 "[Regression] running multiple instances no longer works"
##### Brief Description
Running multiple qTox instances no longer works.

OS: Gentoo
qTox version: v1.10.0-19-gd78a9790
Commit hash:  d78a979021578d6837f4ccb17a352b1ebfaeb8ff
toxcore:
Qt:  5.6.2

Reproducible: Always

##### Steps to reproduce

1. Start qTox instance
2. Try to start another qTox instance with `-p profile2`

##### Observed Behavior
Second instance exits without starting.

##### Expe

[2017-05-12 20:13] zetok commented on #4397
Duplicate of #4385, thus closing.

[2017-05-12 20:13] #4397 closed, assigned to nobody

[2017-05-12 20:14] zetok commented on #4399
Uh, a duplicate of #4384.

[2017-05-12 20:14] #4399 closed, assigned to nobody

[2017-05-12 20:16] Nevo0110 commented on #4397
My bad

[2017-05-12 20:18] #4392 closed, assigned to nobody

[2017-05-12 21:07] zetok commented on #4143
@nixitixin

Since no one is forcing Bob to do that then what's the problem? I mean, aside from you hijacking the issue and asking for something that is not doable?

Anyway, as far as logging goes:

* you can disable logging on your side
* you can ask other side to disable logging
* regardless of marketing bs logging is always possible and fairly easy to do – this point applies to everything, not j

[2017-05-12 21:09] zetok commented on #4390
Duplicate of #4324, thus closing.

[2017-05-12 21:09] #4390 closed, assigned to nobody

[2017-05-12 21:27] ghost commented on #1754
I'm not longer able to reproduce. ~Same setup, host running 2 profiles in 6420dc62ec6cf500ad4f71ed2cfa116160122018, guest running 5d117e6af854de194dc16575f1fe5c95a43741c8. All 3 profiles unencrypted.

[2017-05-12 21:27] #1754 closed, assigned to nobody

[2017-05-13 11:21] sudden6 commented on #4398
How long did you wait for the clients to connect? It sometimes takes several minutes for them to find each other.

[2017-05-13 15:06] yurivict commented on #4398
I waited many minutes. It sometimes took 1-2 minutes before, but this time even after 20-30 minutes there was no result.

I think, the recent toxcore version update also has to do with this, because before this never happened with 1.9.0.

[2017-05-13 20:42] netsafe commented on #4337
a simple proposal: display only first 100 chars of a chat posts longer than some treshold, and make a separate table for long posts. In the DB add a field like long_ref_fulltext to the id in that table. if it's zero - then msg is OK, if its greater than zero - add a button like "read full message" and display the long post separately. It won't slow the things down(main chat log table is OK) and wo

[2017-05-14 09:08] Hasshu commented on #1855
@Diadlo Erm... And what is?

[2017-05-14 10:01] Diadlo commented on #1855
@Hasshu Holywar

[2017-05-14 10:45] sudden6 commented on #4398
Ok. Can you find out if it was the toxcore change or a qTox one?

[2017-05-14 10:52] #2378 closed, assigned to nobody

[2017-05-14 10:52] #4387 closed, assigned to nobody

[2017-05-14 18:26] ezavod opened #4406 "[Regression] Warning: QObject::connect: invalid null parameter"
I am getting an error: `:0 : Warning: QObject::connect: invalid null parameter` on startup.
This is consistently reproducible since 7e3ad7ba873615f4b7a65071d678ac936f7504e7.
As far as I can tell the problem seems to be that `av` is `null` in lines 237-238 in above mentioned commit:
[code]
I think this is because `Core::getAv` is called **before** `Core::start` initializes the returned `av`.

Full

[2017-05-15 03:59] imf1ne86 opened #4408 ""Failed to prepare statement "SELECT count(*) FROM sqlite_master" with error 26" while making an attempt to open chat logs by qTox"
**qTox Version:**
Git commit: _5648106b34fc7dc3ad4e169651a0cbbd0139170a_
Built on:  14:11:53 May  5 2017 ( 1493993510 )

**Platform:**
Kernel: Linux 3.16.0-0.bpo.4-amd64 (x86_64)
Compiled: #1 SMP Debian 3.16.7-ckt4-3~bpo70+1 (2015-02-12)
Default C Compiler: GNU C Compiler version 4.7.2 (Debian 4.7.2-5)
Distribution: Debian GNU/Linux 7.11

**Steps:**
1. Type "qtox" into a command line - a form with

[2017-05-15 04:22] imf1ne86 opened #4409 "Causing a segfault while trying to "permanently delete all chat history" on qTox"
**qTox Version:**
Git commit: 5648106b34fc7dc3ad4e169651a0cbbd0139170a
Built on:  14:11:53 May  5 2017 ( 1493993510 )

**Platform:**
Kernel: Linux 3.16.0-0.bpo.4-amd64 (x86_64)
Compiled: #1 SMP Debian 3.16.7-ckt4-3~bpo70+1 (2015-02-12)
Default C Compiler: GNU C Compiler version 4.7.2 (Debian 4.7.2-5)
Distribution: Debian GNU/Linux 7.11

**Steps:**
1. Repeat all the steps from Error #4408
2. Open t

[2017-05-15 06:35] zetok commented on #4408
Is is reproducible on 1.10.1? 1.6 that you're using is rather old.

[2017-05-15 06:36] zetok commented on #4409
Is is reproducible on 1.10.1? 1.6 that you're using is rather old.

[2017-05-15 10:59] imf1ne86 commented on #4408
I am currently running:
qTox, ver. 1.6.0-obs
toxcore, ver. 0.0.0
Qt, ver. 5.6.1

qTox is taken from the official repository at http://download.opensuse.org/repositories/home:/antonbatenev:/tox/Debian_7.0/:

$ cat /etc/apt/sources.list | grep 'tox'
deb http://download.opensuse.org/repositories/home:/antonbatenev:/tox/Debian_7.0/ /

But I'm gonna get the latest version of qTox from Git:
$ git clone

[2017-05-15 11:01] imf1ne86 commented on #4409
I am currently running:
qTox, ver. 1.6.0-obs
toxcore, ver. 0.0.0
Qt, ver. 5.6.1

qTox is taken from the official repository at http://download.opensuse.org/repositories/home:/antonbatenev:/tox/Debian_7.0/:

$ cat /etc/apt/sources.list | grep 'tox'
deb http://download.opensuse.org/repositories/home:/antonbatenev:/tox/Debian_7.0/ /

But I'm gonna get the latest version of qTox from Git:
$ git clone

[2017-05-15 11:11] ezavod commented on #2152
Note: One could use [`QDir::toNativeSeparators`](http://doc.qt.io/qt-5/qdir.html#toNativeSeparators) and [`QDir::fromNativeSeparators`](http://doc.qt.io/qt-5/qdir.html#fromNativeSeparators).

However I strongly doubt that there is a point in adding unnecessary complexity by converting slashes in paths (maybe only for display purposes so that windows users are not disturbed):

[-- QDir Documentanti

[2017-05-16 05:19] zetok commented on #4408
Since it has only outdated, buggy builds, it has been removed from official repos.

Yeah, Debian 7 is not supported.

I'm closing the issue then, if you manage to reproduce it on newest qTox please comment for reopen.

[2017-05-16 05:19] #4408 closed, assigned to nobody

[2017-05-16 05:20] zetok commented on #4409
Since it has only outdated, buggy builds, it has been removed from official repos.

Yeah, Debian 7 is not supported.

I'm closing the issue then, if you manage to reproduce it on newest qTox please comment for reopen.

[2017-05-16 05:20] #4409 closed, assigned to nobody

[2017-05-16 09:36] Hasshu commented on #1855
@Diadlo Heh. Well, it's taking place for a good reason.

As a compromise, we could add an extra checkbox to the settings (User Interface -> Contact list -> **Refer to contacts as "friends"**), which would toggle the wording of some lines.

Should be enough for a ceasefire, methinks.

[2017-05-18 09:50] ghost opened #4410 "Long chat history causes absurdly long resizing time"
Window resizing takes an absurd time when you have lots of chat history. I tried popping into the profile sqlite3 database and doing `drop table history` and that instantly fixed it. It is probably a _very_ bad idea to try to display such a long history at once.

OS: Linux Mint 18.1 Serana
qTox version:  qTox version v1.6.0-obs.
Commit hash:  5648106b34fc7dc3ad4e169651a0cbbd0139170a
toxcore versio

[2017-05-19 00:00] Geremia opened #4411 "Feature request: "faux offline file-sending""
Currently, when I try sending a file to an offline friend, qTox immediately returns "Failed to send file". Instead, it could emulate the behavior of "faux offline messaging" and send the file when the user comes online.

[2017-05-19 19:57] Geremia commented on #4393
I get your first warning, in addition to an OpenAL make not found error, when trying to compile 1.10.1, but I don't get that error, or the "comparison of integers of different signs" warning, when compiling 1.10.0.

[2017-05-19 21:05] zetok commented on #2152
So the issue can be closed?

[2017-05-19 21:06] zetok commented on #1855
@Hasshu I don't think that an option is needed. If there is interest in the change, someone will make a PR with it and it will be merged. If there is no interest in the change, this issue will be closed after some time.

[2017-05-19 21:13] zetok commented on #4411
Duplicate of #1293, thus closing.

[2017-05-19 21:13] #4411 closed, assigned to nobody

[2017-05-19 22:08] project9501 commented on #2270
I'm having this issue.  When in multiple window mode, there's no window control buttons on the "Settings" window; have to close using taskbar context menu.

OS: Antergos (running as VM guest but I don't imagine that's relevant)
WM: Cinnamon 3.4.0
qTox: 1.10.1
Qt: 5.8.0

[2017-05-19 22:34] RadJaz commented on #2270
I am no longer experiencing this issue. I am on Ubuntu Gnome (with Wayland) 17.04 with Qtox 1.6.0.

![screenshot from 2017-05-19 17-18-27](https://cloud.githubusercontent.com/assets/10097860/26269134/b2af705e-3cb8-11e7-8147-70824464eed1.png)

[2017-05-19 23:36] yurivict commented on #4410
Duplicate of https://github.com/qTox/qTox/issues/4215

[2017-05-20 03:17] zetok commented on #4410
@avrildev

It's already limited to last 7 days, but yeah, it's not optimal and should be loaded dynamically (#1198).

You might want to check out https://github.com/sqlitebrowser/sqlitebrowser

Since the issue is a duplicate, closing.

[2017-05-20 03:17] #4410 closed, assigned to nobody

[2017-05-20 14:48] woxcab opened #4412 "qTox lags when offline messages are shown too long in the opened chat window"
OS: Linux Mint 18.1 KDE Edition 64bit (KDE Plasma 5.8.5, KDE Framework 5.28.0)
qTox version: 1.6.0-obs.
Commit hash:   5648106b34fc7dc3ad4e169651a0cbbd0139170a
toxcore:  0.0.0
Qt:  5.6.1
Hardware:  Processors AMD Athlon II X4 645, 7.8 GiB of RAM

Reproducible: Always

##### Steps to reproduce

1. Open the chat window.
2. Send message(s) to the offline contact.
3. Wait (several hours or whole day).

[2017-05-20 17:39] ghost opened #4413 "Can't compile on Raspbian Jessie"
Attempting to compile with `simple_make.sh`. Compiled and installed ffmpeg manually (via `make install`).  Confirmed that `ld.so.conf.d/libc.conf` is present and contains reference to `/usr/local/lib`.

Build log: https://gist.github.com/avrildev/d46d277014a0fa0d5288612dacf16fce

Attempting to compile commit hash fd04a2832aa885d260ded4e476eefcddd49237b3 from stable branch.

**OS info**

pi@raspber

[2017-05-20 17:39] Diadlo commented on #4384
Way to reproduce:
1. `qtox -p A`
2. Close qtox
3. `qtox -p B`
4. `qtox -p A`

[2017-05-20 18:07] sudden6 commented on #4413
please try to compile from the `v1.10.1` tag, those are the stable releases.

[2017-05-20 18:08] Diadlo commented on #4413
Can reproduce on master. But with another error
[code]

[2017-05-20 18:10] sudden6 commented on #4413
Google pointed me to our own bug report https://github.com/qTox/qTox/issues/2027

Please check if that fixes the issue.

[2017-05-20 18:21] ghost commented on #4413
@Diadlo Yeah, I ran into that problem, but didn't mention it because official compiling instructions gave that as a fix for a known problem on Debian. :P

@sudden6 Er, how do I compile from the `v1.10.1` tag? Sorry, still a bit of a git noob.

[2017-05-20 18:23] sudden6 commented on #4413
@avrildev `git checkout v1.10.1`

[2017-05-20 18:41] ghost commented on #4413
@sudden6 Tried compiling from `v1.10.1`. Failed with similar error. (Some ffmpeg functions are declared out of scope apparently, maybe a header file is out of date?)

Build log: https://gist.github.com/avrildev/5b2789c1149eb61e3a2f3898e78b6a55

Edit:  _Apparently_ my account is flagged, because... well, they don't bother to give you a reason. I suppose my family did always tell me I talked like a

[2017-05-20 18:46] ghost commented on #4410
@zetok @yurivict

I was wondering about that, but the person in question didn't recognize the fundamental issue being if you have a long chat history, so I didn't see this as a duplicate bug report. Hopefully at least my observations are noted?

Edit:
On the topic of sqlitebrowser, I meant a tool that'd be more designed for fuzzy searches and having a clean interface.

[2017-05-20 21:44] ghost commented on #4413
I reinstalled ffmpeg, just to make sure it was installed properly. Rather than following the compiling instructions this time, I installed it as such:

`./configure --enable-shared --prefix=/usr`

`make -j$(nproc)`

`sudo make install`

`sudo ldconfig`

This resulted in yet another failed build in the same vein.

Edit: actually, it failed in a slightly different way. The error messages are similar

[2017-05-21 06:45] zetok commented on #4412
Is the issue reproducible on master/latest release?

[2017-05-21 09:15] coderkun commented on #2420
Another use case of this would be to let a LED on the keyboard flash (e. g. `xset led named 'Scroll Lock'` and `xset -led named 'Scroll Lock'`. In [Gajim](https://gajim.org/) for instance this can be done with the [Flashingkeyboard](https://dev.gajim.org/gajim/gajim-plugins/wikis/FlashingKeyboardPlugin) plugin.

[2017-05-21 13:53] ezavod commented on #2152
I think so, technically it is superfluous, except somebody has a good point why this is needed as a kind of visual improvement.

[2017-05-21 17:03] #2152 closed, assigned to agilob

[2017-05-21 17:29] sudden6 commented on #4413
I think in the last build log the error messages suggest that the linker couldn't find the necessary `*.so` files. That's progress^^

Where did ffmpeg get installed? It should be `/usr/local/lib` or `/usr/local/lib64` (not sure if both directories exist on Debian). Are you sure `--prefix=/usr` is correct? Did you remove all the files from the previous ffmpeg install?

[2017-05-21 20:34] ghost commented on #4413
@sudden6 I originally tried installing ffmpeg via the official qtox compilation instructions, which currently advise you to drop this bash script in `libs/` that then installs the important parts of the ffmpeg library in that one directory. So yeah, the machine should be clean of broken installs. I only skimmed the script, but since it didn't need sudo, it couldn't have installed globally.

The de

[2017-05-22 09:21] sudden6 commented on #4413
Unfortunately the install instructions are probably not really up to date. Can you update them with the steps you did when it works?

You should never manually install anything into `/usr/lib/*` it's package manager directory and breaks things, as you just discovered.

Having `libswscale` installed by ffmpeg and the debian packages is probably not a good idea.

[2017-05-22 10:50] ghost commented on #4413
@sudden6 I _knew_ it might break things, but my experience has been it also breaks things when you _don't_ install to `/usr/`. :P I am glad this project conforms to the standards, tho. I'll reinstall ffmpeg in `/usr/local` and report back.

[2017-05-22 12:16] ghost commented on #4413
@sudden6 It compiled! I don't know _why_ that worked, but apparently somehow the two versions of swscale were interfering with each other.

So now we know that  compiling ffmpeg from source, installing that globally, NOT CHANGING THE PREFIX,  works to build qTox on Raspbian. Would anyone be interested in pull requests on your build instructions? I'd like to replicate my experiment on a fresh raspb

[2017-05-22 12:17] #4413 closed, assigned to nobody

[2017-05-22 19:22] sudden6 commented on #4413
A pull request will be very welcome.

[2017-05-23 15:59] Mattel88 opened #4416 "qTox on mac not saving settings"
I'm using the current version. After installation and changing settings it seems like that the changed settings are not being saved. If I try to disable chat logs and enable connection over Tor with Socks settings the same issue occur.

If I close Tox (red dot) the app is not being closed completely. I have to right click the app icon in the dock and close it again. It is annoying. Anything I can

[2017-05-23 19:15] ghost commented on #4416
Yes, same here. Are the older version free of this bug?
- Tox doesn't save anything of the settings (Chats are saved)
- The app close not correct (red dot or <kbd>CMD</kbd> + <kbd>Q</kbd>)

[2017-05-23 20:54] Cervero opened #4417 "Portable mode"
##### Brief Description

OS: Windows 7
qTox version: qtox64-1.9.0-104-g5d117e6
Commit hash: 5d117e6af854de194dc16575f1fe5c95a43741c8
toxcore: 0.1.8
Qt: 5.5.1
Hardware:
…

Reproducible: Always

##### Steps to reproduce

1-install program

2-open the program go to advanced settings and select "make portable"

3-restart the program (the program creates the tox folder inside install folder)

4-close t

[2017-05-23 21:27] Diadlo commented on #4417
Seems, duplicate of #3929, so it will be closed. Please comment if it isn't

[2017-05-23 21:27] #4417 closed, assigned to nobody

[2017-05-24 09:45] sudden6 commented on #4416
Can you please post the complete version string of your installed qTox version? Do you have "Close to tray" enabled in the settings?

[2017-05-24 12:08] ghost commented on #4416
"Close to tray" is disabled (default settings, because reset problem).
- qTox-Version v1.10.1.
- Commit-Hash: 981953ef140e6c11a83078ac80647f912de1e07d
- used device: Macbook Pro 13" Late 2016 (Touch Bar)
- used operating system: Mac OS X Sierra
Do you need more information?

[2017-05-24 12:16] Mattel88 commented on #4416
Where can I find the complete strong of my installed version?

no I did not had the setting to close it in the tray enabled.

Edit: you have to close the APP again (right click close) because it is not being closed probably. Using macOS Sierra

[2017-05-24 12:20] ghost commented on #4416
1. Click on the settings gear in the lower left corner
2. About section
3. It will be displayed to you above

[2017-05-24 12:35] supertriodo commented on #3747
I ended here while looking to solve a similar problem I had in my own project. In case it can help you guys, I found this project:

https://github.com/aurelien-rainone/macdeployqtfix

[2017-05-24 12:38] ghost opened #4418 "Chat window is jerky/lagging by scrolling"
##### Brief Description

OS: Mac OS X Sierra
qTox version: qTox-Version v1.10.1
Commit hash:  981953ef140e6c11a83078ac80647f912de1e07d
toxcore:  0.1.0
Qt-Version: 5.8.0
Hardware:  Macbook Pro 13" (Touch Bar) Late 2016

Reproducible: Always

##### Steps to reproduce

1. go to a chat window
2. scroll down or up

##### Additional Info

- it isn't important how much text is in the chat window
- (my op

[2017-05-24 13:11] Mattel88 commented on #4416
You are using qTox version v1.10.1.
Hash 981953ef140e6c11a83078ac80647f912de1e07d
toxcore version: 0.1.0
Qt version: 5.8.0

[2017-05-24 13:14] Diadlo commented on #4164
Seems, answered?

[2017-05-24 17:36] #4384 closed, assigned to nobody

[2017-05-25 17:30] guitarpicva opened #4419 "Crash when attempting to remove a circle with a user in it"
##### Brief Description

OS: Windows 10 64-bit
qTox version: v1.9.0-104-g5d117e6
Commit hash: 5d117e6af854de194dc16575f1fe5c95a43741c8
toxcore: 0.1.8
Qt: 5.5.1
Hardware:
…

Reproducible: Always

##### Steps to reproduce
1. Add user to a new circle
2. Attempt to remove circle with a user in it

##### Observed Behavior
Crash when attempting to remove circle with a user in it

##### Expected Behavior

[2017-05-26 07:15] PKEv opened #4420 "don't work links in chats"
##### Brief Description

OS: Windows
qTox version: 1.9

Reproducible: Always

[2017-05-27 09:38] ezavod commented on #4419
Can reproduce.
`git bisect` blames 4d806a36616e3d0a506c4385aba32cf5169054a7 as culprit.

Warning dialog to instruct user to remove all people from the circle before removing it
--or--
Disable the menu item if the circle is not empty

Before this commit if a populated circle is deleted the contained contacts go back to the main list.

[2017-05-27 09:49] ezavod commented on #4420
@PKEv
Could you please provide some more information (and maybe an example) what does not work for you.
This would make it a lot easier for somebody to fix it.

 Links work fine for me (qTox 65b1463933869db2d24d43d80e07c6013454bc18), except issue #4295.

[2017-05-27 10:04] ezavod opened #4422 "Exclude Style Tags from copied URLs"
##### Brief Description
qTox version: 65b1463933869db2d24d43d80e07c6013454bc18

Reproducible: Always

##### Steps to reproduce

1. Write `>https://qtox.github.io/` to a friend.
    Generally works if link is at the end of citation like `> look at this https://qtox.github.io/`.
2. Observe the normal looking link with citation mark in front.
3. Click the link (or do right click -> `Copy link address

[2017-05-27 12:39] Diadlo commented on #4419
@ezavod Thanks for bisect. Can you test the PR? #4423

[2017-05-29 07:12] PKEv commented on #4420
![default](https://cloud.githubusercontent.com/assets/6053197/26539851/268530fe-4457-11e7-8f75-fbb501598747.PNG)
After updating, the links become non-clickable

[2017-05-29 07:22] PKEv commented on #4420
Is there any configuration of link activity?
On another computer this is not (after the update)

[2017-05-29 08:55] glow12121 commented on #2102
I agree screen sharing should have its own button.
Another good addon here would be the option to share particular windows, not only a full screen or selected area.
Thanks.

[2017-05-29 11:41] Hasshu commented on #1855
@aaannndddyyy @SkyzohKey @TheNain38 @TheSpiritXIII What do you say, contributors?

[2017-05-29 12:12] ezavod commented on #4420
You are right, one could enable/disable links in `Settings -> User Interface -> Chat -> Text Style Format`.
Links work with: `Show formatting characters` or `Don't show formatting characters`.
They do not work when set to `Plaintext`!

Note: One has to **restart** qTox to update the displayed chat history.

[2017-05-29 15:24] PKEv commented on #4420
OK, this help

[2017-05-29 18:14] loskiq opened #4429 "Custom bootstrap node"
##### Brief Description

OS: Windows 7
qTox version: v1.9.0-104-g5d117e6
Commit hash:  5d117e6af854de194dc16575f1fe5c95a43741c8
toxcore:  0.1.8
Qt:  5.5.1
…

How to use a custom bootstrap node?

![image](https://cloud.githubusercontent.com/assets/22175047/26558731/a6389d2a-44b3-11e7-95f5-5680801725eb.png)

[2017-05-29 20:30] sudden6 commented on #4429
You would have to edit `res/settings.ini` and recompile qTox. Why do you want to use a custom bootstrap node?

[2017-05-29 21:13] sudden6 commented on #4418
I can't reproduce this on Linux, scrolling behaves normal there, maybe your Macbook is busy doing other stuff?

[2017-05-29 21:35] SkyzohKey commented on #1855
@Hasshu such option in settings would be confusing for the end user. I advocate for using contact word as that's how Ricin/Konv displayed it. Not every one is your friend so...

[2017-05-29 23:18] Hasshu commented on #1855
@SkyzohKey I concur. Actually, my question was about the hypothetical pull request.

[2017-05-30 06:09] loskiq commented on #4429
@sudden6 I want to help Tox and I want a full anonymity

[2017-05-30 06:30] Diadlo commented on #4429
1) Custom bootstrap node don't change level of your anonymity. https://wiki.tox.chat/users/nodes#bootstrap_nodes
2) Anonymity -- not the goal of Tox.
3) If you want anonymity -- use Tor proxy.

[2017-05-30 07:58] loskiq commented on #4429
@sudden6 why is this option turned off by default?

[2017-05-30 08:34] sudden6 commented on #4429
Because it isn't really needed, as Diadlo said a custom bootstrap node doesn't help your anonymity.

And if you run a bootstrap node, it's most useful if you make it available for everyone.

[2017-05-30 08:35] loskiq commented on #4429
@sudden6 then why do users create their nodes?

[2017-05-30 08:40] sudden6 commented on #4429
Because to enter the Tox network you need some known "entry points" with a fixed IP. If you want to run your own bootstrap node and make it available to others you should go to the `#tox-dev` and `#toktok` IRC channels on freenode.

[2017-05-30 10:53] sudden6 commented on #2270
@project9501 can you retest with the newest master? #4421 maybe fixed the issue

[2017-05-30 11:25] #4164 closed, assigned to nobody

[2017-05-30 11:44] zetok commented on #4429
Actually, one just needs to edit `settings.ini` that qTox places in the config dir.

In addition to what @sudden6 wrote, one can setup bootstrap node on a network that is not connected to the internet – that's practically the only case where one would want to use non-default bootstrap nodes. And if someone is going to setup bootstrap node, something like editing a config file to use the bootstrap

[2017-05-30 12:25] loskiq commented on #4429
@zetok I found only the file `qtox.ini`

`[DHT%20Server]`
`useCustomList=true`
`dhtServerList\size=1`
`dhtServerList\1\name=a68366`
`dhtServerList\1\userId=AEC204B9A4501412D5F0BB67D9C81B5DB3EE6ADA64122D32A3E9B093D544327D`
`dhtServerList\1\address=51.254.84.212`
`dhtServerList\1\port=33445`

Correctly?

[2017-05-30 15:16] Mattel88 commented on #4416
Seems like nothing is happening.

[2017-05-30 17:52] ghost commented on #4418
No, I have testet by looking on the mac task manager. Other Macbook Late 2016 13" Touch Bar users?

[2017-05-30 17:53] ghost commented on #4416
The described problem continues to exist.

[2017-05-30 18:31] Diadlo commented on #4416
Yes. Nothing happens. No one took this issue

[2017-05-30 20:24] quantumpacket commented on #4429
One reason I see being able to customize the list is to prioritize/re-order servers so to choose the nearest ones. This can be made a read-only list, which you can drag and re-order. If I live in France I might want to prioritize connecting to European nodes before attempting to connect to nodes in North/South America. Not sure how much of a speed/reliability improvement that would make though. As

[2017-05-31 08:11] aasimon opened #4430 "Patch: Fix crash when setIcon is called on settings window when it isn't yet opened."
When the account name in the rooster window is clicked to open the settings dialog the application often crashes. Possibly due to an race condition in the creation of the settings window and the call to setIcon on it.
The attached patch seem to fix the problem for me, but might not be the ideal solution...

[fix_settings_widget_set_icon_crash.patch.txt](https://github.com/qTox/qTox/files/1040674/f

[2017-05-31 10:39] ezavod commented on #4430
Can reproduce with qTox 65b1463933869db2d24d43d80e07c6013454bc18, Qt `5.7.1` and toxcore `0.1.2` on Linux 64bit.

It only crashes if one starts qTox in multiple windows mode. Does not crash in single window mode or if started in single window and then switched to multi windows mode then.
It just dies with segmentation fault.

[2017-05-31 11:23] sudden6 commented on #4429
@loskiq yes, this looks correct.

@quantumpacket We deliberately choose random bootstrap nodes, because this balances the load evenly. AFAIK the distance to the bootstrap node has nearly no influence on the time it takes to connect to the DHT.

[2017-05-31 11:42] sudden6 commented on #4430
I submitted the patch for you, next time please directly create a pull request

[2017-05-31 11:51] sudden6 commented on #4422
Can you confirm this is fixed by #4427 ?

[2017-05-31 12:02] aasimon commented on #4430
The patch wasn't intended as a pull request, but rather a hint about where/what the problem is.
I'm pretty sure that the solution is not simply to check the value of the pointer but rather fixing the race-condition itself.
I am not familiar with the code-base myself so I'd rather not try to figure out why exactly there is a race-condition in the first place...

[2017-05-31 14:02] sebmenard commented on #3343
**Brief description**

Operating System: Void Linux, Xorg DDX Intel video driver (i965 kernel module)
qTox version: 1.10.0
toxcore version: 0.1.8
Qt: 5.8.0
Hardware: CPU: Intel(R) Core(TM) i5 (without VP8 hardware decoding)

Reproducible: Almost Always

**Steps to reproduce:**
1. Accept a video call from someone
2. Observ CPU usage (with `top` for example)

**Observed Behavior:**

The CPU load use

[2017-05-31 14:21] ezavod commented on #4430
It is not a race condition it is just a null pointer.
`settingsWidget` is null, because settings were not opened yet (this explains why it works after settings were once shown). `settingsWidget` is _wrong_ at this place, it should have been `profileForm` (which makes sense, because we do not use `settingsWidget` in `showProfile`).

However I do not think that `onShowSettings` and `showProfile` sho

[2017-05-31 14:32] ezavod commented on #4422
Solves the problem.

[2017-05-31 14:32] #4422 closed, assigned to nobody

[2017-05-31 14:47] sudden6 commented on #4430
@aasimon sorry, then I misunderstood your intent.

@ezavod I didn't look into the details, but your explanation makes sense, a PR would be great.

[2017-05-31 16:50] yurivict opened #4433 "Build breaks: No rule to make target 'src/audio/backend/openal.cpp'"
Build of 1.10.1 using qmake on FreeBSD 11.

[code]

[2017-05-31 16:56] ezavod commented on #4416
@Mattel88
It would be nice if you could provide a [log](https://github.com/qTox/qTox/wiki/Writing-Useful-Bug-Reports).
Or try to start qTox from command line (you should see a log there). Look for lines like `persistence/settings.cpp:612 : Debug: Saving personal settings at  <path>"` and `persistence/settings.cpp:453 : Debug: "Saving global settings at <path>"` when you close qTox.

Do you see any

[2017-05-31 19:35] ghost commented on #4418
I have new installed qTox. Problem is fixed.

[2017-05-31 19:35] #4418 closed, assigned to nobody

[2017-05-31 19:48] ghost commented on #4416
Okay thanks, here is my log:

[code]

I dont't see any errors. Problem exists...

[2017-06-01 06:55] sudden6 commented on #4433
The problem seems to be https://github.com/qTox/qTox/blob/v1.10.1/qtox.pro#L427 and https://github.com/qTox/qTox/blob/v1.10.1/qtox.pro#L548 which shouldn't be present. Can you remove them and see if it's fixed?

Additionally, would you be interested in helping with porting the FreeBSD build to cmake?

[2017-06-01 08:41] rbmib opened #4435 ""Malwarebytes - Malicious Website Protection" regarding qtox?"
Currently I'm checking out Malwarebytes trial period to decide if I like it - so far all is quiet, but the real time protection goes crazy with incoming connections to qtox, seemingly originating from other countries I (to my understanding) shouldn't have any tox-connection with.

I'm aware that for "Who and why is that IP blocked?" I need to ask Malwarebytes, but maybe someone of you can identify

[2017-06-01 13:17] sudden6 commented on #4435
The connections to your PC happen because Tox is a peer to peer protocol and needs to communicate with other peers all over the world.

[2017-06-01 14:24] yurivict commented on #4433
Removing openal.h and openal.cpp from .pro helps.

I will look, but I can't promise. I am not too familiar with cmake. CMakeCache.txt is riddled with semicolon-separated CFLAGS and LIBS.

[2017-06-01 19:11] sudden6 commented on #4433
The problem should be fixed in the v1.10.2 release.

If you could make cmake on FreeBSD work it would be great. IIRC in the other issue about that I pinpointed the problem to some GTK libs, but I'm not entirely sure.

[2017-06-01 19:13] #4430 closed, assigned to nobody

[2017-06-02 08:37] rbmib commented on #4435
Thanks for taking the time to consider this and for your hint. I just think you might be dismissing this a bit too easily? qtox works - we're using it to communicate for quite a while now - we can find people and connect, send files, chat... everything fine and dandy and never ever the Malwarebytes routine blocks anything that seems to be related to our communication. That's what your statement ap

[2017-06-02 09:32] sudden6 commented on #4435
The point here is that not only the connections between you and your friend (audio/video/chat) are valid, but also those to other "random" IPs. This is because Tox uses a [DHT](https://en.wikipedia.org/wiki/Distributed_hash_table) in order to find the IP for your friend and to handle friend requests.

If their blacklist really contains a malicious node this would be bad and someone could be runnin

[2017-06-02 17:44] #4353 closed, assigned to nobody

[2017-06-02 18:03] farseerfc commented on #4045
Please also sign v1.10.2 release, thanks a lot.

[2017-06-02 18:10] BigElectricCat opened #4436 "qtox profile and "folder redirection" in ms windows"
##### Brief Description

OS: Windows 7 and ++
qTox version: 1.5++
Commit hash:  all
Hardware:  all

Reproducible: Always

##### Steps to reproduce

1. Configure «Folder Redirection» for AppData ("%USERPROFILE%\AppData\Roaming") to other location, for example, for a previously created network share \\server\share\user-roaming.
2. logoff
3. logon
4. run qtox.

##### Observed Behavior
The program los

[2017-06-02 18:53] NicoHood commented on #4045
@farseerfc https://github.com/qTox/qTox/releases/download/v1.10.2/v1.10.2.tar.lz.asc

[2017-06-02 19:03] farseerfc commented on #4045
@NicoHood wow, thanks

[2017-06-02 19:40] #4419 closed, assigned to nobody

[2017-06-03 07:35] yurivict opened #4439 "cmake and FreeBSD"
This sed call in osx/update-plist-version.sh breaks on the FreeBSD:
[code]
This is an invalid syntax for the FreeBSD sed.

It appears to be wrong that tools/update-versions.sh calls update_osx and update_windows on all systems. osx/info.plist contains Apple DTD for some reason, yet it is used on linux and FreeBSD, this isn't right.

Replacing sed -> gsed causes cmake build to succeed but this isn'

[2017-06-03 16:20] ezavod commented on #4416
That looks pretty normal to me (it is interesting that osx logs look that different than Linux or Windows logs).
It seems there is already an other instance of qTox running, but I doubt that this would break thinks.

[2017-06-03 22:06] sudden6 commented on #4436
Hmm, I don't think we use any paths directly and only use the builtin Qt functions for appdata paths. Do other Qt applications have the same problem?

[2017-06-04 00:32] strypey commented on #3435
Since the last comment on this thread, Ring has become a GNU project, and is getting a lot of attention. Is Tox still an active project? The last commits on toxcore appear to be about a year ago.

[2017-06-04 00:58] g4jc commented on #4358
Was about to open a new bug report, but spotted this.
Is this the reason why there are no 1.10.x releases for Windows?

In any case keep up the good work, great program. 👍

[2017-06-04 07:52] Diadlo commented on #3435
@strypey JFYI Current tox development migrated under [TokTok/c-toxcore](https://github.com/TokTok/c-toxcore)

[2017-06-04 09:45] Diadlo commented on #4436
@sudden6 [Wrong](https://github.com/qTox/qTox/blob/master/src/persistence/settings.cpp#L721) :)

[2017-06-04 10:25] and299 opened #4443 "Image from camera is inverted vertically"
##### Brief Description

OS: Linux OpenSuse 42.2
qTox version: Nightly
Commit hash: build without git
toxcore: 0.1.8
Qt: 5.6.1
Hardware:
laptop Asus K50AB

Reproducible: Always

##### Steps to reproduce

1. Inverted camera image vertically

##### Observed Behavior

Inverted camera image vertically

##### Expected Behavior

##### Additional Info

uTox camera image normal

Thanks!

----

More inform

[2017-06-04 12:09] ati3 commented on #4398
I have a similar problem between 1.9.0 (Windows 10) and 1.6.0 (Linux Mint), no proxy. I tried three times from both sides.

[2017-06-04 21:52] #4388 closed, assigned to nobody

[2017-06-05 06:43] strypey commented on #3435
Thanks for the link. Good to see Tox dev is ongoing, despite what looks from the outside like a challenging situation over the last few years. I look forward to testing Tox when I get a new testbed OS installed.

[2017-06-05 11:06] ghost opened #4444 "qTox loads normally but messages/calls/videocalls & status icons not working. Is it bug?"
##### Brief Description

OS: Windows 10
qTox version: v1.9.0-104-g5d117e6.
Commit hash: 5d117e6af854de194dc16575f1fe5c95a43741e8
toxcore:  0.1.8
Qt:  5.5.1
Hardware:
…

Reproducible: Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce

##### Steps to reproduce

1. ?
2.
3. …

##### Observed Behavior

##### Expected Behavior

##### Additional Info
(links, images, etc go here)

----

E.g

[2017-06-05 11:51] PKEv opened #4445 "Regressing: links to file in local network not worked"
##### Brief Description

OS: Windows
qTox version: 1.9

Reproducible: Always

##### Steps to reproduce

1. copy file from local network
2. paste to message input field
3. send

##### Observed Behavior
Link is displayed as text

##### Expected Behavior
Link is displayed as a hyperlink with the ability to go and open a remote file

##### Additional Info
example: file://192.168.3.15/box/Agent

[2017-06-05 12:38] sudden6 commented on #4444
Can you please include the log file?

[2017-06-05 13:55] ezavod commented on #4445
Seems to be reproducible since 3e2bfdd5482daaa21dfa54b0f78125359ca16bad.
Only links to files on local machine (`file://localhost/box/Agent` or `file:///box/Agent`) work.

[2017-06-05 14:00] PKEv commented on #4445
Please return back very uncomfortable to use

[2017-06-05 22:15] ZenClark opened #4447 "Build error, undefined"
Probably user error, but build process does not work when following instructions.

Toxcore and C-Toxcore built and installed without errors, and CMake processed fine, but qTox does not seem to find/link to everything it needs.

OS: Debian Stretch
qTox version: Latest git
Commit hash:  98a01dfefc6e4d9da254c635f19f5defd7a403bd
toxcore: [dcf2aaa](https://github.com/irungentoo/toxcore/commit/dcf2aaa53

[2017-06-06 06:24] Diadlo commented on #4447
Can you paste the output of `pkg-config --libs libtoxcore` ? Seems, toxcore not installed

[2017-06-06 06:34] loskiq opened #4448 "Socks5 not working"
##### Brief Description

OS: Windows 7 x64
qTox version: v1.10.0-56-g98a01df
Commit hash:  98a01dfefc6e4d9da254c635f19f5defd7a403bd
toxcore:  0.1.8
Qt:  5.5.1
Hardware:  Intel Pentium G3420
…

Program freezes

![image](https://cloud.githubusercontent.com/assets/22175047/26816600/1d4e6722-4a9b-11e7-8380-7ec9ee3ef542.png)

[2017-06-06 09:27] ezavod opened #4449 "[Regression] Changed save path on Windows"
I used qTox (dd60edb3d77e92d42b4e5716595646146bfc2b55) on Windows 10 and all user data (profile, settings etc.) were saved in `%appdata%/tox/`.
After update to 98a01dfefc6e4d9da254c635f19f5defd7a403bd qTox is looking for user data in  `%appdata%/tox/qTox/tox/`(the `/qTox/tox/` dirs were newly created).
So it apperear as if there are no existing profiles and settings were reseted.

Could be solved

[2017-06-06 10:30] sudden6 commented on #4449
cc @Diadlo

[2017-06-06 12:27] tux3 commented on #4358
The last 1.10 has been released, and this shouldn't be a problem anymore :)

[2017-06-06 19:43] #4439 closed, assigned to nobody

[2017-06-06 19:50] yurivict commented on #4439
Thanks!

[2017-06-06 20:27] ZenClark commented on #4447
-L/usr/local/lib -ltoxcore -ltoxdns -ltoxencryptsave -lm -lpthread

[2017-06-08 07:05] rbmib commented on #4435
Thanks alot for the follow up. So the hash tables get distributed over all clients, hence there might be incomming connections from unknown/other tox clients asking mine to provide it? This really would explain those incoming connections and why they seem unrelated.

I found intel in the qtox.log from core.cpp:423 mentioning some IPv4, IPv6 and some FQDN in context with "Connected to the DHT" in :

[2017-06-08 20:49] sudden6 commented on #4435
This is part of the bootstrapping process, your client trying to connect to a list of known nodes in the DHT. See [https://nodes.tox.chat/](https://nodes.tox.chat/)

IIRC we decided to not include dates in logs, to enhance privacy and because they aren't really needed for debugging.

I don't think they are exposed by toxcore and we haven't come across a significant usecase where they would be need

[2017-06-09 02:38] Geremia commented on #4386
@zetok thanks

[2017-06-09 02:38] #4386 closed, assigned to nobody

[2017-06-09 14:05] zetok commented on #4443
Sounds like a bug in FFmpeg. It should be reported upstream with more details, e.g. exact camera model.

[2017-06-09 14:18] zetok commented on #4447
Could you elaborate on that? I.e. what exactly has been done to make that happen?

[2017-06-10 12:01] #4449 closed, assigned to nobody

[2017-06-10 14:34] tele1 opened #4453 "[Feature request] Linux , New right click option "Search text" in history"
New  option "Search text" in history, after right click mouse.

Can be plugin for it.

[2017-06-10 14:37] tele1 opened #4454 "[Feature request] Linux , New right click option "Edit last message""
Linux , New right click option  "Edit last message"

Can be plugin for this.

[2017-06-10 14:39] Diadlo commented on #4453
Seems, duplicate of #1734, so it will be closed. Please comment if it isn't

[2017-06-10 14:39] #4453 closed, assigned to nobody

[2017-06-10 14:40] tele1 commented on #1734
+1

[2017-06-10 14:42] Diadlo commented on #4454
Seems, duplicate of #2603, so it will be closed. Please comment if it isn't

[2017-06-10 14:42] #4454 closed, assigned to nobody

[2017-06-10 14:43] tele1 commented on #2603
+1

[2017-06-10 14:45] ghost commented on #2603
+1

[2017-06-10 14:58] tele1 commented on #1655
+1 Add to QTox sound filter OPUS or other

[2017-06-10 15:01] ghost commented on #1655
+1 for echo limiter, echo cancellation

[2017-06-10 15:59] tele1 opened #4455 "[Feature request] Icons GUI - faster search icon"
It  help faster find icon.
![1](https://user-images.githubusercontent.com/8603411/27004243-80e54abc-4e06-11e7-9cbc-805513a357af.png)

[2017-06-10 16:01] ghost commented on #4455
+1

[2017-06-10 16:26] tele1 opened #4456 "[Feature request] Possibility to save group and his history"
Possibility to save and remove  group and his history,

To write with people in next day,
because in my qTox v1.6.0-obs after reboot not have groups.

[2017-06-10 16:35] Diadlo commented on #4456
Seems, duplicate of #896, so it will be closed. Please comment if it isn't

[2017-06-10 16:35] #4456 closed, assigned to nobody

[2017-06-10 16:36] Diadlo commented on #4456
Also, it's WIP TokTok/c-toxcore#295

[2017-06-10 20:51] ghost opened #4457 "[RESOLVED] Building qtox 1.10.2 on PCLinuxOS - redundant semicolon - "-D_REENTRANT;-pthread""
##### Brief Description

OS: PCLinuxOS (stable, rolling, fully updated)
qTox version: 1.10.2
Commit hash:  b73603b45a32e63a649294537a62a9f11176c73d
toxcore:  0.1.8
Qt:  5.9.0

Reproducible: Always

##### Steps to reproduce

1. Try to compile

##### Observed Behavior
Critcal part of build log is:
`/usr/bin/c++  -DENABLE_SYSTRAY_GTK_BACKEND=1 -DENABLE_SYSTRAY_STATUSNOTIFIER_BACKEND=1 -DGIT_DESCRIBE=

[2017-06-10 21:55] sudden6 commented on #4457
PCLinuxOS is a BSD right? I think this issue has been solved with cf72136b1417fd43c0c2db56f59c1500be80cf20 please try again with newest master.

[2017-06-10 21:57] sudden6 commented on #4448
@zetok IIRC you also had problems with proxies, could you solve them somehow?

[2017-06-10 21:58] Diadlo commented on #4457
@sudden6 Not. It's just fix #4439

[2017-06-10 22:00] sudden6 commented on #4457
I'm still not sure whether @yurivict meant this fixes all the cmake problems or just one...

[2017-06-10 22:02] zetok commented on #4455
Related, possibly an extension to #1294

[2017-06-10 22:06] Diadlo commented on #4457
cf72136b1417fd43c0c2db56f59c1500be80cf20 just remove using [update-versions.sh](https://github.com/qTox/qTox/blob/master/tools/update-versions.sh), which doesn't touch CMake at all

[2017-06-10 22:26] ghost commented on #4457
It's ordinary linux - uname -a
`Linux pclos 4.8.12-pclos1 #1 SMP Fri Dec 2 15:35:43 CST 2016 x86_64 x86_64 x86_64 GNU/Linux`

Compiling the latest master source code gives the same error.

[2017-06-10 22:28] sudden6 commented on #4457
Then there must be some bug in our cmake scripts

[2017-06-10 22:33] zetok commented on #4457
The only place where it could be added is https://github.com/qTox/qTox/blob/d90a60bdf7abcc03b0c74fae6f9f3b4bd43b76ed/cmake/Dependencies.cmake#L77

[2017-06-10 22:36] ghost commented on #4457
Some time ago I've been built packages for Mageia Cauldron ... works without any hacks. I suspect PCLinuxOS settings but can't find it ...
`ls -lah *tox*`
`-rw-r--r-- 1 marcin marcin 3,5M 05-15 20:08 qtox-1.10.0-1.mga6.src.rpm`
`-rw-r--r-- 1 marcin marcin 444K 05-13 19:40 toxcore-0.1.8-1.mga6.src.rpm`

 [Look here](https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/qto

[2017-06-10 22:40] zetok commented on #4457
Could be `pkg-config`

[2017-06-10 22:54] ghost commented on #4457
Ok - this change:
`%__sed -i 's/set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} ${${pkg}_CFLAGS_OTHER}" PARENT_SCOPE)/set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} ${${pkg-config}_CFLAGS_OTHER}" PARENT_SCOPE)/g' cmake/Dependencies.cmake`

**produces this set of flags - there is lack of -pthread at all?**
`/usr/bin/c++  -DENABLE_SYSTRAY_GTK_BACKEND=1 -DENABLE_SYSTRAY_STATUSNOTIFIER_BACKEND=1 -DGIT_DESCRIBE=\"1.1

[2017-06-10 23:47] sudden6 commented on #4457
The semicolon could be created by cmakes internal list handling

[2017-06-11 02:20] yurivict commented on #4457
@sudden6 When I first found the problem with failing sed, it has built for me on the FreeBSD. But for some reason now I can't repeat this, and it fails after the sed problem has been fixed. So there is still a problem with cmake.

[2017-06-11 06:56] yurivict commented on #4457
On FreeBSD, the problem involves ```-D_THREAD_SAFE;-pthread```. cmake doesn't like -D_THREAD_SAFE in .pc files.

The file ```/usr/local/libdata/pkgconfig/x11.pc``` has ```Cflags: -I${includedir} -D_THREAD_SAFE```
The file ```/usr/local/libdata/pkgconfig/check.pc``` has ```Cflags: -I${includedir} -D_THREAD_SAFE -pthread```

cmake build succeeds when ```-D_THREAD_SAFE``` is removed from those lines.

[2017-06-11 07:18] Diadlo commented on #4457
@yurivict check dependency was removed. So problem in x11.pc?

[2017-06-11 07:24] yurivict commented on #4457
@Diadlo Yes, the problem now is only with x11.pc. Try adding some define on linux into your x11.pc, you might get the same crash. This might just be a generic cmake bug that it doesn't remove semicolons when -D is present in pkg-config output.

[2017-06-11 07:36] Diadlo commented on #4457
https://cmake.org/pipermail/cmake/2013-June/055182.html

[2017-06-11 07:38] yurivict commented on #4457
Isn't cmake supposed to strip semicolons by itself? It itself adds them.
In any case, I created a bug report https://gitlab.kitware.com/cmake/cmake/issues/16958

[2017-06-11 07:52] ghost commented on #4457
Maybe [**this**](https://cmake.org/Wiki/CMake_FAQ#Why_do_I_have_unwanted_semicolons_.3B_in_my_compiler_flags.3F) will help with something.

##### Why do I have unwanted semicolons ; in my compiler flags?

[2017-06-11 08:04] yurivict commented on #4457
826e1c3 still fails.

[2017-06-11 08:30] yurivict opened #4459 "cmake fails to find v4l2 library on FreeBSD"
Link line is missing ```-lv4l2``` for some reason:

[code]

PR 1755f42

[2017-06-11 08:40] Diadlo commented on #4457
Seems, it's problem with PkgConfig cmake package

[2017-06-11 08:41] Diadlo commented on #4457
https://gist.github.com/Diadlo/59b7dd16f40075676e7d17c5219a4a51

[2017-06-11 08:46] yurivict commented on #4457
Let upstream cmake deal with this. The workaround is good enough.

[2017-06-11 08:52] ghost commented on #4457
Added this [patch](http://wklej.org/hash/55ac5b0a552/txt/) - with no luck.

[2017-06-11 08:54] Diadlo commented on #4457
@marcin-82 Try to add `"` around `${_pkgconfig_invoke_result}` in `/usr/share/cmake-3.8/Modules/FindPkgConfig.cmake` (path can be a bit different)

[2017-06-11 09:06] yurivict commented on #4457
@marcin-82  try 1755f42

[2017-06-11 09:10] ghost commented on #4457
Added double quotes in penultimate line:
```root@pclos ~# grep "\${_pkgconfig_invoke_result}" /usr/share/cmake/Modules/FindPkgConfig.cmake```

[code]

_EDITED_
Still no luck

[2017-06-11 09:15] Diadlo commented on #4457
@marcin-82 JFYI: Github supports multiline text with \``` $text_here \```. Can you update your output?

[2017-06-11 09:20] Diadlo commented on #4459
@yurivict Please, don't open issue for not merged PR's. Write it in PR discussion

[2017-06-11 09:21] Diadlo commented on #4459
#4458

[2017-06-11 10:31] ghost commented on #4457
OK. Finally I applied patch in place mentioned by @yurivict . It works - rpm building ends with success. Thank you very much: **_authors and all contributors_** in this thread. I also thanks user [tele.](https://github.com/tele1)

I'ts more gentle solution that brute force sed ;]

Because we're targeted to packaging last stable releases, I've used QTox 1.10.2 release and added just two patches (cm

[2017-06-11 10:32] #4457 closed, assigned to nobody

[2017-06-11 11:53] tele1 commented on #4455
Who will want to create ?
It does not have to look so perfect,
 however  https://github.com/qTox/qTox/issues/1294#issuecomment-87603503 looks good

package icons 2
├── config file
├── smiles
│   ├── cheerful.svg
│   ├── no.svg
│   └── yes.svg
└── cats
    ├── running.svg
    └── sitting.svg

config file:
______________
smiles=smiles/cheerful.svg
cats=cats/running.svg
______________

or

package ic

[2017-06-12 07:49] #4175 closed, assigned to nobody

[2017-06-12 08:09] ElLamparto opened #4461 "Win qTox Automatic Upgrade Fails"
qTox upgrade 1.8.1 --> 1.10.2
Win 7 32bit

During the automatic upgrade's download, qTox was taking 100% CPU, stopped download at about 50%.
Finally I installed v1.10.2 manually.

[2017-06-12 09:16] AliceGrey commented on #4244
@agilob @zetok I found this sound sample under creative commons. I cut it shorter for looping if you think it would make a good outgoing call sound I have it as a pcm/wav.

My cut: http://vocaroo.com/i/s1rWgemIvrqW
Original recording under CC: https://www.freesound.org/people/bgrun17/sounds/170692/

[2017-06-12 20:01] tele1 commented on #4455
I tried create example with gtkdialog
With this  sorted icons "Universe"
https://drive.google.com/open?id=0B8Z2iWXY2hIPQllybE5HdFJrQ0k
and I see Icons is a bit too much,
so I suggest leave the bottom dots
 and only add  below   "Combo Box"

Example with Combo box ( I don't have time only finish example with icons )
https://drive.google.com/open?id=0B8Z2iWXY2hIPeElHVEp1ei1HVU0

[2017-06-13 04:29] AliceGrey commented on #4244
@zetok @Diadlo This is what I have so far https://github.com/AliceGrey/qTox/commit/caaa76938504e45aae25f56dfb21e307bacfa135

I'm having a hard time finding where to emit/stop the notification loop though.

[2017-06-13 08:19] Diadlo commented on #4244
@AliceGrey Sorry, that not answer in IRC.
Please, send the PR with this changes. But in short testing I found, that [your sound](http://vocaroo.com/i/s1rWgemIvrqW) different from the [new one](https://github.com/AliceGrey/qTox/blob/caaa76938504e45aae25f56dfb21e307bacfa135/audio/ToxOutgoingCall.pcm)

[2017-06-13 09:27] rbmib commented on #4435
Hey there, awesome reply! Thanks again for taking the time to answer all this. It's really helpful :+1:
(and sorry for the high response delays)

[2017-06-13 09:28] #4435 closed, assigned to nobody

[2017-06-13 19:11] AliceGrey commented on #4244
@Diadlo My current changes leave the notification sound ringing even after the call is answered. I still haven't figured out how to get that fixed.

I had to change the sound because the old sound I proposed was too low quality and causing distortion when looped.

[2017-06-13 19:19] Diadlo commented on #4244
@AliceGrey See, how it works on recipient side

[2017-06-14 00:01] sergeevabc commented on #3929
Minor issue, but troublesome.
Half a year passed since initial report, could we have it fixed at last, please?

[2017-06-14 11:04] PKEv commented on #4445
@noavarice please fix your bug

[2017-06-14 15:22] FenioPL opened #4465 "qTox not save GUI settings after close left tab in chat window"
OS: Windows 10 x64 (Version 10.0.15063)
qTox version: 1.10.2
Commit hash:  b73603b45a32e63a649294537a62a9f11176c73d
toxcore:  0.1.8
Qt:  5.6.2
Hardware:  Xeon E3 1225 V3, 16GB DDR3, Geforce GTX1060 3GB
…

Reproducible: Always

##### Steps to reproduce

1. Open chat window.
2. Close left tab in chat window
3. Close chat window
4. Open chat window

##### Observed Behavior

qTox not save chat window

[2017-06-14 22:02] noavarice commented on #4445
I apologize for such a long waiting. This bug will be fixed as fast as I will get enough time, hopefully in next 1-2 days

[2017-06-15 04:56] yurivict commented on #4459
@Diadlo #4458 is closed, but symbols from v4l2 are still not found on FreeBSD.

[2017-06-15 06:14] yurivict opened #4466 "New warning: Warning: QObject::connect: invalid null parameter"
[code]

Revision 23ed1a3
FreeBSD 11

[2017-06-15 08:05] Diadlo commented on #4459
@yurivict But [here](https://github.com/qTox/qTox/pull/4458#issuecomment-307659395) you said, that it's ok?

[2017-06-15 10:31] Diadlo commented on #4244
Added in #4464

[2017-06-15 10:31] #4244 closed, assigned to nobody

[2017-06-15 14:27] yurivict commented on #4459
@Diadlo  The problem there was "fix cmake build when it includes semicolon in CXXFLAGS", this problem is gone after this fix.

Now in the end of the build it fails to find v4l2 - this is a different problem.

[2017-06-15 19:32] ezavod commented on #4465
Duplicate of #4387, this should be fixed in latest master.

[2017-06-15 19:33] ezavod commented on #4466
Seems to be a duplicate of #4406.

[2017-06-15 20:10] yurivict commented on #4466
yes

[2017-06-15 20:10] #4466 closed, assigned to nobody

[2017-06-15 20:21] Diadlo commented on #4465
@ezavod Thanks

[2017-06-15 20:21] #4465 closed, assigned to nobody

[2017-06-15 20:58] jontis opened #4468 "instuctions for compiling qtox lacks finding compiled toxcore, Fedora 25"
when compiling qtox with cmake, it will not find your manually compiled toxcore.
You need to add the directory containing libtoxcore.pc to your PKG_CONFIG_PATH

check for presence with pkg-config --libs libtoxcore

[2017-06-16 10:59] Diadlo commented on #4302
Fixed in #4463

[2017-06-16 10:59] #4302 closed, assigned to nweyand

[2017-06-16 12:11] sudden6 commented on #4468
On my system `make install` installs toxcore into `/usr/local/` by default. This directory is also in the default search path for `pkg-config`. Is this different on Fedora?

[2017-06-16 19:45] jontis commented on #4468
maybe. I have successfully compiled this app. This issue post is to help others do the same and spread the usage of tox.
I am using a Fedora 25 - 64 system, upgraded from F24.
Toxcore, by manual compilation, has been automatically installed to /usr/local/lib
pkg-config default search directories for my systems seems to be:
/usr/lib64/pkgconfig
/usr/share/pkgconfig

please let me know how I can hel

[2017-06-16 20:54] noavarice commented on #4468
I have the same issue with installing libtoxcore on Fedora 25 because PKG_CONFIG_PATH was not configured by default

[2017-06-16 21:00] sudden6 commented on #4468
Can one of you make a PR and point this out for Fedora in `INSTALL.md`?

[2017-06-16 21:17] minger0 commented on #4461
Some time back I did 1.8.1->1.9  win8 64bit auto upgrade first seemed ok, while it was left unfinished
It resulted in using the 1.9 executable, while the firewall settings were still on 1.8.1, so it was blocked.
I did not want to report it as a separate issue, because I could not reproduce it in lack of the old installer. However, I want to give a signal now that this may need to be tested in newe

[2017-06-17 10:17] demonlite commented on #4448
SOCKS5 proxy work for me on v1.10.2.
But! If "Enable UDP" is checked and wrong IP in address editbox the green status indicator is turned On. Only indicator. Message delivering are not work.

[2017-06-17 10:58] demonlite opened #4469 "Windows 10 SmartSrceen"
OS: Windows 10
qTox version: v1.10.2

The Windows 10 SmartScreen blocking install qTox from https://tox.chat/download.html

![smartscreen](https://user-images.githubusercontent.com/19503540/27252352-eea4c146-5364-11e7-8c5e-aa848745cd81.jpg)

[2017-06-17 13:34] Talkless opened #4470 "qTox does not handle common POSIX signals and quits abruptly"
##### Brief Description

OS: Linux (and probably macOS?)
qTox version: current HEAD
Qt:  5.3.2, 5.9.0

Reproducible: Always

##### Steps to reproduce

**Case #1:**
1. Launch qTox in terminal.
2. Close terminal.
3. qTox quits with `SIGHUP` signal, without `Debug: Clean exit with status 0` to log - abruptly.

**Case #2:**
1. Launch qTox in terminal.
2. Press `Ctrl + C`.
3. qTox quits with `SIGINT` s

[2017-06-17 13:36] Talkless commented on #4470
I am willing to provide PR for this bug.

I would like to suggest to implement `PosixSignalNotifier`, or `NativeQuitNotifier` (when fixing possible Windows logout issues too, making it cross-platform) helper class that would catch common OS-native quit notifications, and forward it to `QCoreApplication::quit()` so that qTox could exit properly.

[2017-06-17 16:08] sudden6 commented on #4470
@Talkless Yes, a PR will be very welcome. Maybe we should also implement http://doc.qt.io/qt-4.8/qcoreapplication.html#aboutToQuit correctly.

[2017-06-17 16:19] Talkless commented on #4470
@sudden6 about `aboutToQuit`: I am not very familiar with qTox internals yet, but I imagine good-behaving application should clean up appropriately by destructors in main(), though again, I lack qTox specifics to comment that.

Please elaborate if it's relevant to this task.

[2017-06-17 17:15] Diadlo commented on #4469
Translated message [here](https://www.ampercent.com/wp/wp-content/uploads/Windows-10-smartscreen-error.png)

[2017-06-17 17:19] Diadlo commented on #4448
@demonlite Can you create separate issue?
@loskiq Can you check your issue on current master?

[2017-06-17 18:06] sudden6 commented on #4470
If I read the docs to http://doc.qt.io/qt-5.6/qapplication.html#exec correctly, this signal should be used to handle cleanup tasks (In qTox mainly the db and saving settings). I'm not entirely sure if we should also do this in qTox or if this is in scope for your idea, but it may be worth a look.

[2017-06-18 08:14] anoadragon453 commented on #4469
Some more details about the process of getting an app trusted: https://stackoverflow.com/questions/12311203/how-to-pass-the-smart-screen-on-win8-when-install-a-signed-application

I doubt anyone wants to pay for a yearly license, users wanting to bypass this issue should just click on 'More info' and then a button to install regardless of warnings should appear.

[2017-06-18 11:08] Diadlo commented on #4469
@demonlite Is your problem solved now?

[2017-06-18 11:48] demonlite commented on #4469
@Diadlo, I believe an experienced user will install without any problems. But the average user scares this screen.

[2017-06-18 11:51] Diadlo commented on #4470
@sudden6 unfortunately `aboutToQuit` not fix the issue

[2017-06-18 12:09] loskiq commented on #4448
@Diadlo Sorry, but I can not compile qTox from source code

[2017-06-18 12:15] Diadlo commented on #4448
@loskiq Ok. Can you download latest version?

[2017-06-18 17:12] zetok commented on #4468
Closed in 5f418538817a2a8094717d9f1c793b356f1a53b2

[2017-06-18 17:12] #4468 closed, assigned to nobody

[2017-06-19 15:38] aphirst commented on #2917
I'm having this issue too in Windows 7 with the (currently) most recent version of qTox on my parents' machine, and combined with the various close/minimise-to-tray options (either enabled or disabled) the resulting confusion is too much for them to bear.

(I want their logged-in session to persist them minimising/closing the Window, but also for them to be able to "re-open" that instance by click

[2017-06-21 03:56] yurivict commented on #4459
https://github.com/qTox/qTox/pull/4481

[2017-06-21 19:19] #4459 closed, assigned to nobody

[2017-06-21 21:26] yurivict commented on #4433
This has been fixed. Thanks!

[2017-06-21 21:26] #4433 closed, assigned to nobody

[2017-06-22 03:11] ghost commented on #4461
In my case it downloads new binaries but does not update the program.
So it constantly download package each time when restarted.

[2017-06-22 07:05] AliceGrey commented on #3963
@nurupo @zetok @tux3 Any update on this? I think being able to cross-compile is an important issue to fix. Especially considering there are quite a few issues relating to windows open right now. It would be really helpful to be able to cross-compile so we could work on the windows bugs easily.

[2017-06-22 07:14] Diadlo commented on #3963
@AliceGrey AFAIK qtox already cross compiled in [jenkins](https://build.tox.chat/view/qtox/job/qTox-cmake_build_windows_x86-64_release/) with cmake
cc @sudden6

[2017-06-22 07:17] AliceGrey commented on #3963
@Diadlo It does cross compile in jenkins but individual contributors can't current;y cross-compile on their own linux PC.

[2017-06-22 07:18] optimumtact commented on #3963
I don't know if anyone even knows how at this point

[2017-06-22 07:19] nurupo commented on #3963
You can cross-compile it on your system, it's just a bit non-trivial as you have to cross-compile every qTox dependency and dependencies of those dependencies: Qt, sqlcipher, openssl, vpx, opus, sodium, toxcore, ffmpeg, qrencode, etc.

[2017-06-22 07:20] Diadlo commented on #3963
Also it's [problem](https://github.com/sqlcipher/sqlcipher/issues/176) to cross compile sqlcipher

[2017-06-22 07:21] AliceGrey commented on #3963
@nurupo Could you update the instructions in the docs if you're able to get it working? Also would it be possible to update the cmake build scripts to cross compile?

[2017-06-22 07:35] nurupo commented on #3963
Don't think I alone would be able to cross-compile it, I only know how to cross-compile qTox dependencies, not qTox itself. Maybe if @sudden6 helps, he is improving the cross-compilation of qTox given the dependencies. I could provide a bash script for cross-compiling qTox dependencies for 32-bit or 64-bit qTox on Ubuntu 16.04 LTS (you could presumably run it in docker if your distro is not Ubuntu

[2017-06-22 17:58] tWido commented on #4231
Looked a bit into this issue. Most probably there's no need to change anything. Dates are already saved as milliseconds since epoch. So  `QDateTime::currentDateTime().toMSecsSinceEpoch() ` equals `QDateTime::currentDateTime().toUTC().toMSecsSinceEpoch()`

Code:  https://github.com/qTox/qTox/blob/master/src/persistence/history.cpp#L205
Doc:  http://doc.qt.io/qt-5/qdatetime.html#toMSecsSinceEpoch

R

[2017-06-22 18:17] yurivict commented on #4231
Thanks for verifying this!

I must have misread the code when I created this bug report.

[2017-06-22 18:17] #4231 closed, assigned to nobody

[2017-06-23 12:22] raingloom opened #4485 "Windows downloads broken"
Friend told me they couldn't download the hot new chat thingy I recommended. I checked and I can't either. I get an empty page with some JavaScript, I have NoJS, so I whitelisted and reloaded. Still nothing.

They are not at all tech savvy so compiling is out of the question, I installed it for myself via `pacman` on Arhc Linux, so I'm good.

AFAIK they are not on any weird network, I know my netw

[2017-06-23 12:33] Diadlo commented on #4485
@sudden6 Is it related with your jenkins work?

[2017-06-23 14:14] sudden6 commented on #4485
@Diadlo no, these builds are not live on the website

[2017-06-23 14:15] Diadlo commented on #4485
cc @tux3

[2017-06-23 14:16] sudden6 commented on #4485
build.tox.chat seems down

[2017-06-23 17:09] Diadlo commented on #4412
Needed info not provided for over a month, thus closing.

[2017-06-23 17:10] Diadlo commented on #3969
@zetok #4385 Fixed. Can you retest?

[2017-06-23 20:15] kargaroc opened #4486 "Memory leak on Linux"
##### Brief Description

OS: Arch Linux (updated 22-Jun-2017)
qTox version: latest git
Commit hash:  8b6d3a19efd12d66ca69b5c57647c536ef910365
toxcore:  1:0.1.9-3 (stable Arch package)
Qt:  5.9.0
Hardware:  Linux x86_64 + Nvidia property driver
…

Reproducible: Sometimes

##### Steps to reproduce

1. Launch qTox and sign in
2. Go to the settings a flip through a few tabs
3. Click on the call button

[2017-06-24 16:03] Diadlo commented on #4485
Seems, fixed

[2017-06-24 16:03] #4485 closed, assigned to tux3

[2017-06-24 19:58] ghost opened #4487 "Compile error on cameradevice.cpp"
##### Brief Description

OS: Xubuntu 16.04 LTS, 32 bit
qTox version: 1.10.2
Commit hash: release version from GITHub (https://github.com/qTox/qTox/releases)
Qt:  5.5.1
Hardware: Desktop PC

Reproducible: Always

##### Steps to reproduce

Followed exactly the instructions from https://github.com/qTox/qTox/blob/master/INSTALL.md, including installation of all dependencies.

##### Observed Behavior

[2017-06-25 10:10] zetok commented on #3969
Yep, seems to be fixed.

[2017-06-25 10:10] #3969 closed, assigned to nobody

[2017-06-25 17:59] sudden6 commented on #4487
can you check the installed versions of ffmpeg and it's header files?

[2017-06-25 18:33] #4143 closed, assigned to nobody

[2017-06-25 19:32] tWido commented on #4134
Option to export history to plaintext has been added. Is there anything more to be done?

[2017-06-25 19:39] ghost commented on #4134
Well, the issue obviously persists, but this makes it possible to export history while not having to list it all.

[2017-06-25 19:39] Diadlo commented on #4134
@Amitari Ok, I will reopen it

[2017-06-25 20:51] tWido commented on #4134
@Amitari @Diadlo Don't wanna be a pessimist, but loading 100K+ messages in graphical window will surely cause problems. Probably exceeding memory.
One workaround could be paging i.e. count of messages loaded in window would be limited. Upon scrolling to bottom newer would be shown and old ones hidden.
Second way is adding range to history selection. So user could select messages in between dates a

[2017-06-25 20:52] ghost commented on #4487
On both computer I get the identical output:
[code]
I don't know how to check versions of the header file. I do find on the 32 bit computer, as example,
[code]
On the 64-bit machine only the first two appear (with x86_64 prefix).

Could you please advise how I get useful information on the header file versions?

[2017-06-25 22:12] yani opened #4490 "Multiple Windows: Disable Sidebar?"
Is it normal behavior, that when you have both options for multiple individual windows checked; that those windows still have the active chats list, but only with one chat?

You can hide the list by dragging it to the side, but the chat window does not remember this, and resets it after it's been closed.

![](https://v0id.us/uploads/qtox_2017-06-26_00-12-02.png)

[2017-06-25 22:19] Diadlo commented on #4490
Use cursor to resize this part. It will hide when you resize it to small width

[2017-06-25 22:22] Diadlo commented on #4134
@tWido Yes, I discussed it with @noavarice. We decided, that first workaround is good enough (load only visible messages)

[2017-06-25 22:25] Diadlo commented on #4134
But it's hard to implement with current architecture. We should start with creating `Message` model

[2017-06-25 23:20] yani commented on #4490
That's what I said:

"You can hide the list by dragging it off screen, but the chat window does not remember this, and resets it after it's been closed."

I should have used "dragging it to the side"

[2017-06-26 05:15] ezavod commented on #4490
@Yanikore Which commit hash do you use?
Probably duplicate of #4387.
If possible try latest master.

[2017-06-26 05:39] yani commented on #4490
Yes it seems to be a duplicate.

I'm using version 1.10.2 through the Windows installer.

[2017-06-26 06:49] #4490 closed, assigned to nobody

[2017-06-26 08:38] sudden6 commented on #4487
`dpkg -s ffmpeg-devel` and `dpkg -s ffmpeg` should produce the output we need.

[2017-06-26 08:49] #2296 closed, assigned to nobody

[2017-06-26 17:21] ghost commented on #4487
If get on the 32-bit machine (where the qTox compilation fails):
[code]
The result on the 64-bit machine is identical (also that `ffmpeg-devel` is not installed), except that it says `Installed-Size: 1855`, and of course `Architecture: amd64`.

[2017-06-26 23:06] yurivict opened #4496 "Dragging and dropping the separated chat back into the main window creates another entry in the main window for the same user"
How to reproduce:
1. Select some user on the left side
2. Click on the right mouse button
3. Select "Open chat in new window"
4. Focus this new window
5. Drag and drop the user name back to the main window's user list on the left of the main window
6. Observe that the second entry is created for the same user.

Revision: dd9b324 (current)
OS: FreeBSD 11
Qt version: 5.7.1
toxcore version: 0.1.8

[2017-06-27 17:17] r57zone opened #4497 "Feature request: New interface & new functions"
![](https://user-images.githubusercontent.com/9499881/27600548-6169b6a8-5b7d-11e7-8570-cf39d3c4c14b.png)
If the interface is slightly improved, it will become more convenient and more people will be able to go to it. For example, as on Telegram. Calm for eye color and minimal interface. Can generally make a clone and then it will be perfect.

Also [duplicate feature](https://github.com/TokTok/c-to

[2017-06-27 17:39] SergeyDjam commented on #4497
1. toxcore kernel doesn't support constant groups
2-4 tox doesn't support is
if you leave group all messages kill

[2017-06-27 17:45] r57zone commented on #4497
@SergeyDjam What about the new interface? This is important for user-friendly. Maybe can gradually change it?

[2017-06-27 17:49] Diadlo commented on #4497
@SergeyDjam TokTok/c-toxcore#217

[2017-06-27 18:11] SergeyDjam commented on #4497
@Diadlo, the patient is rather dead than living

[2017-06-27 18:13] SergeyDjam commented on #4497
@r57zone, the new interface isn't so important as a new functionality

[2017-06-27 18:17] r57zone commented on #4497
@SergeyDjam The interface is very important! Because it is used every day and it should be pleasant to the eyes. Telegram does not differ much from Tox in the interface, but it is more pleasant and convenient to read and write. It is necessary to change very little so that everyone is happy.

Need to change quite a bit (colors, border padding, some elements to enlarge, some to move, some to transf

[2017-06-27 18:35] SergeyDjam commented on #4497
@r57zone, The interface important piece, but to whom it is necessary when there is no working things?

[2017-06-27 18:39] r57zone commented on #4497
@SergeyDjam Сan do it in parallel. While someone is making a kernel, can update the interface.

[2017-06-27 19:24] ghost commented on #4497
Frankly, I much prefer the current qTox interface to the example in the original post (if that was intended as an example).

[2017-06-27 19:43] SergeyDjam commented on #4497
@OliverGITReport, yes i too, but preview images, video, markdown, code view and stikers are very necessary in a chat window

[2017-06-27 20:35] r57zone commented on #4497
The current interface is very engineering, it's probably good for engineers, but not so good for everyone, maybe you just got used to it? I think it's outdated, chatView exactly. White background and elements need change, in Telegram is faster distinguishable elements and a nice blue background. A white background burns the eyes.

Let's just move in this direction? To create a product for everyone

[2017-06-28 08:22] zetok commented on #4497
@r57zone NB: for the most efficient handling of things, it's best to make separate issues for separate things – e.g. it wouldn't be good to have discussion about UI improvement derail because of other, not related to UI points.

Of course one can make a meta-issue about the general direction in which things are supposed to go, but in that case it should just link to other issues that are about sep

[2017-06-28 10:18] Diadlo commented on #4497
Conflict with #4135?

[2017-06-28 14:03] Hasshu commented on #4420
What if one doesn't need text formatting, but would like hyperlinks to be recognized?

This issue should be reopened.

[2017-06-28 14:10] Diadlo commented on #4420
cc @noavarice

[2017-06-29 17:17] soredake commented on #4448
Same problem, yesterdays master, after upgrading socks settings is lost, and when i trying to set proxy, qtox freezes.

[2017-06-29 21:51] SlugFiller opened #4502 "[Feature Request] Plugins"
Okay, so I was hearing about some of the gimmicks Discord has the other day. Stuff like having bots playing music, or setting your status to the game you're currently playing. These are small features possible on almost any chat protocol, Tox included. At the same time, they're too small and gimmicky to be part of the core.

I suggest some sort of API or protocol that would allow controlling a cli

[2017-06-30 06:24] kargaroc commented on #4486
I'm willing to bet this is a Toxcore bug, since it happens in the Toxic client as well.  Either that or its in Pulseaudio or whatever.  In Toxic, all you need to do is get a sound to play, and it crashes and leaks memory.

Running it in GDB and LLDB suggests something about __lll_lock_wait() but I don't know if that's relevant.

[2017-06-30 14:53] Hasshu commented on #4497
@r57zone Not to sound rude, but the flat abomination you showed in the OP is anything but this.

[2017-06-30 16:29] r57zone commented on #4497
@Hasshu This is not rude, i had in mind to move on and make the interface better than now. Do not stand still. I like Tox and I want Tox to become a messenger for everyone.

[2017-07-01 21:30] yurivict commented on #4486
You can build qTox with debug info, and use google perftools to find what loses memory: http://goog-perftools.sourceforge.net/doc/heap_profiler.html

[2017-07-02 18:17] TheNain38 commented on #3494
Is there anyone willing to take on this issue?

[2017-07-02 20:49] Diadlo opened #4503 "New group chat has 0 members"
##### Brief Description

OS: Linux
qTox version: v1.10.0-69-g23ed1a39
Commit hash: 23ed1a3966c66a21b19382f918a751a979e9660e
toxcore: 0.1.7
Qt: 5.9.0

Reproducible: Always

##### Steps to reproduce

1. Create new groupchat
2. Open chat

##### Observed Behavior
"0 users in chat"

##### Expected Behavior
"1 user in chat"

##### Additional Info
![image](https://user-images.githubusercontent.com/630660

[2017-07-03 12:39] Talkless commented on #4354
Some sort of qTox plugin API would help for these kind of cases. No need to "marry" one specific cryptocurrency.... ([there are almost a 1000 of them](https://coinmarketcap.com/all/views/all/)).

[2017-07-03 13:54] Talkless commented on #3917
I assume you want to hide password from appearing in swap/hybernate file, for example?

Is it actually possible to zero QString data that's somewhere within QLineEdit where user enters password..?

Please keep in mind that QString is implicitly shared, so calling non-const `data()`, when reference count is more than one, it will simply detach it and you will naively zero a copy.

If QLineEdit (use

[2017-07-03 15:00] Diadlo commented on #3494
As I can see -- no one

[2017-07-03 19:58] ShoelessSmith opened #4505 "Download folder isn't persistant"
##### Brief Description

OS: Windows 7
qTox version: v1.10.2
Commit hash: b73603b45a32e63a649294537a62a9f11176c73d
toxcore: 0.1.8
Qt: 5.6.2
Hardware:
…

Reproducible: Always

##### Steps to reproduce

1. Change the download folder
2. Restart qTox
3. …

##### Observed Behavior
The download folder has done back to the original

##### Expected Behavior
The download folder is changed to what the user

[2017-07-04 01:30] anoadragon453 commented on #3494
Would this not just be a simple `#ifdef Q_OS_WIN32` around the code file manager code block? I can take a look into this in a couple days.

[2017-07-04 09:06] sudden6 commented on #3494
maybe we can even find a proper solution so we can use the native file dialog where possible and only use the Qt one where it's needed.

[2017-07-04 09:08] anoadragon453 commented on #3494
Well windows and Mac should always return their file picker. Is there a
way to consistently get the DE's one on Linux and return Qt's if none
are found (i.e. tiling wm's)?

On 07/04/2017 02:06 AM, sudden6 wrote:

[2017-07-04 09:12] sudden6 commented on #3494
Maybe we can use a system similar to https://github.com/qTox/qTox/blob/master/src/widget/systemtrayicon.cpp

And use a whitelist of working DE's for the native dialog?

[2017-07-04 09:14] anoadragon453 commented on #3494
That looks fine, as long as KDE having Qt's native one is fine.

...does KDE have it's own file picker?

[2017-07-04 09:16] sudden6 commented on #3494
Yes, the KDE one is slightly different to the Qt one

[2017-07-04 09:17] anoadragon453 commented on #3494
Alright, well now one just has to figure out how to launch each of those from Qt pointing to a specific folder and we should be good. As I said I can take a crack at this, though possibly in a couple days, after July 4th and all that.

[2017-07-04 09:22] sudden6 commented on #3494
IIRC switching to the native file picker is just changing a parameter to `QFileDialog::getOpenFileName`

Take your time and enjoy your holidays :)

[2017-07-04 09:27] anoadragon453 commented on #3494
Oh yeah, I forgot how nice Qt is.

Thanks :)

[2017-07-05 00:07] raingloom opened #4506 "Allow typing Unicode (on Linux) somehow."
Most graphical Linux applications allow one to type in Unicode character codes by pressing Ctrl+Shift+U, I wanted to use this to send an unsupported emoji and noticed I can't use it in qTox. Is this a QT limitation? Can it be worked around?

It's not a hugely important thing, since it can be worked around (eg.:writing things in Emacs and pasting them) and has limited use, but it'd be nice to have.

[2017-07-05 14:59] anoadragon453 commented on #4505
This is due to `QDir::homePath()` used in the `QFileDialog::getOpenFileName(s)` calls, which you can see an example of [here](https://github.com/qTox/qTox/blob/master/src/widget/form/chatform.cpp#L248).

Simple fix, just need to store the directory where the last file was opened from in qTox's config and use that in the future. If it's not available, use home instead.

[2017-07-05 20:43] yurivict commented on #4506
It works for me in qTox in xfce4.

[2017-07-06 05:36] raingloom commented on #4506
Then I'll edit this into a bug report later, I guess.

[2017-07-06 08:31] #2058 closed, assigned to nobody

[2017-07-06 11:42] anoadragon453 commented on #3943
Cannot reproduce on latest master, suggest closing.

[2017-07-06 11:53] anoadragon453 commented on #3575
Same issue(?), but only happened with one camera/device configuration for me.

Using a camera with the default '480p' mode worked fine, however after switch to 1080p qTox froze. qTox still logs and connects to servers in the background, so it's not a full application freeze, more like just a UI freeze.

Log
[code]

gdb backtrace
[code]

And finally my `v4l2-ctl` output
[code]

Notice there is a 10

[2017-07-06 12:53] #3943 closed, assigned to nobody

[2017-07-06 14:30] Diadlo commented on #3575
@anoadragon453 Freeze should be fixed on master. Can you try on master

[2017-07-06 14:33] anoadragon453 commented on #3575
@Diadlo That was on master, yeah.

Edit: Well master about 5 hrs ago, has it changed?

[2017-07-06 14:50] Diadlo commented on #3575
#4492 was merged 6 hours ago. Is your master include it?

[2017-07-06 16:50] anoadragon453 commented on #3575
Ah, possibly not. Will check in a bit.

On 07/06/2017 07:50 AM, Polshakov Dmitry wrote:

[2017-07-06 17:02] Diadlo commented on #3575
@anoadragon453 Also, wrong PR number, sorry #4495

[2017-07-06 20:47] anoadragon453 commented on #3575
@Diadlo I could initially change from a broken device to a working one, but after clicking about for a bit it froze again. Closing and running again in gdb, now just switching to the broken device freezes again.

Log:
[code]

Backtrace:
[code]

It does not default to the broken device on startup any more, which is certainly an improvement, as the user can then select another, correct device withou

[2017-07-07 08:07] zetok commented on #3594
Since it's a behaviour defined by the DE, there's nothing that qTox can do about it, thus closing.

If you feel that this behaviour should be changed, an issue should be opened in Cinnamon's bug tracker for it.

[2017-07-07 08:07] #3594 closed, assigned to nobody

[2017-07-07 08:55] UralZima commented on #1639
Anything on this? I am still on Toxic because no dark mode in qTox exists

[2017-07-07 09:19] Diadlo commented on #1639
@UralZima No. Feel free to create it
Currently it's low-priority qTox issue

[2017-07-07 16:29] yurivict opened #4508 "Failure in SQL doesn't re-enqueue transactions, causes data loss"
In rawdatabase.cpp, in RawDatabase::process(), in case of SQL failure, ```goto cleanupStatements;``` is called:
https://github.com/tWido/qTox/blob/20105dfaaf151dfe129e52564e4da849b913aad6/src/persistence/db/rawdatabase.cpp#L641

One of the statements failed but the error might be recoverable. This one, and the rest of the statements in a batch are obviously abandoned, due to these ```goto``` state

[2017-07-08 11:13] zetok commented on #4502
Plugin candidates (updated):

- #1137  "Dice Roller"
- #3511 "Now Listening to Song"
- #3529 "Web services in chat context menu"
- #4354 "Machinecoin wallet integration"
- #4514 "Word lookup through the preferred dictionary"

[2017-07-08 11:36] zetok commented on #4502
Opinions on using [Guile](https://www.gnu.org/software/guile/) for plugins?

[2017-07-08 12:05] zetok opened #4509 "[Regression] UI stops responding to input after clicking `Reconnect`"
##### Brief Description

After repeatedly quickly clicking on `Reconnect` button in Advanced settings qTox's UI stops responding to user input and no longer connects to the network. UI doesn't actually freeze, just doesn't react to input. The only way to close qTox is to kill it.

OS: Gentoo/Linux
qTox version: v1.10.0-114-gd704f5d2
Commit hash: d704f5d21d7b33fbb52f89d9d2a5386015e6a3ce
toxcore: 0.

[2017-07-08 12:37] Diadlo commented on #4502
- #4354 "Crypto integration"

[2017-07-08 13:50] towlie commented on #4150
Issue solved with https://github.com/qTox/qTox/pull/4504
But only when you compile c-toxcore with cmake? I see that the autotools variant produces less libs than
 the cmake variant.
qmake qTox is also incompatible with the c-toxcore libs created with cmake.

[2017-07-08 14:38] Diadlo commented on #4509
Need to disable button until core restart

[2017-07-08 15:18] SlugFiller commented on #4502
Hrm, I've only had cursory encounter with LISP-based languages. However, in the case of any interpreted language the most important part is: How well could it interact with the OS directly (That is, work AROUND qTox)?

Example use cases: Reading the title of a window (e.g. a browser or media player), and producing a "Now playing: blah blah" as the status. If the interpreter doesn't allow this dire

[2017-07-08 18:06] yurivict commented on #4506
Which OS/window manager you use where this fails?

[2017-07-08 18:47] sudden6 commented on #4505
Two ideas:

* It could be interesting to see what happens if we pass an empty string as filename, maybe the dialog does the saving itself? I think I have seen this sort of behavior.
* IMO it would be sufficient to save the last directory per session, ie in RAM. Any different opinions?

[2017-07-08 18:54] sudden6 commented on #4506
According to this https://en.wikipedia.org/wiki/Unicode_input#In_X11_.28Linux_and_Unix_variants.29 Qt doesn't support that. Does entering unicode this way work for you in other Qt applications?

[2017-07-08 19:06] yurivict commented on #4506
@sudden6 You are right, this was a side-effect of IBus.

This bug should be closed as invalid.

[2017-07-08 23:01] najamelan commented on #3732
Still can't install on debian testing, even though I have `libqt5core5a` which provides `qtbase-abi-5-7-1`. Maybe it's more appropriate to depend on  `libqt5core5a`, since `qtbase-abi-5-3-2` is a virtual package that can't be resolved by apt?

[2017-07-09 02:21] anoadragon453 commented on #4505
@sudden6 Apparently it's common practice to use `QFileDialog::saveState()` and `QFileDialog::restoreState(state)` [1] and storing the state in [QSettings](https://doc.qt.io/qt-5/qsettings.html) to use later.

[1]: https://doc.qt.io/qt-5/qfiledialog.html

[2017-07-09 11:43] sudden6 commented on #4505
@anoadragon453 this is exactly what I was looking for, thanks.

[2017-07-10 11:43] raingloom commented on #4506
I tried it with transmission-qt and that does not work either. Thanks for the wiki link, I only knew about the ctr-shift-u method.

[2017-07-10 11:43] #4506 closed, assigned to nobody

[2017-07-10 18:42] anthonybilinski commented on #3992
Seeing the same thing on Ubuntu 16.04.
I have my timeout at 1m to try to characterise this a bit, and it definitely doesn't get stuck in "away" consistently. It seems to usually auto-away and auto-available on mouse movement / when unlocking computer, but occasionally does not auto-available, and then seems to get stuck like that until I force available manually.

I see this about once a day, walk

[2017-07-11 12:03] svedbox commented on #1655
+1 add to qTox echo cancellation

[2017-07-11 19:26] tr37ion commented on #4497
@r57zone Maybe, you can start with branching the code and then implement your UI. Then we will see.

To me the proposed UI is not of my taste, but that is a personal thing and has nothing to say at all. I agree, Tox needs a more pleasant/modern UI. I sometimes have difficulties to explain ordinary users how to use it or even how to use/set it up.

Some UI examples of similar application UIs

 ![Ma

[2017-07-12 05:16] yurivict opened #4513 "qTox should start in single window mode by default"
I just tried a fresh installation. qTox now starts in "Multiple windows mode", a change from a while ago.
IMO it should be off by default. User should enable "Multiple windows mode" manually, since it isn't as intuitive.

qTox-1.10.2, xfce4

[2017-07-12 21:09] anoadragon453 commented on #4513
I agree, I switch it on every new installation. Looks broken by default.

[2017-07-13 16:35] #3494 closed, assigned to nobody

[2017-07-13 17:36] yurivict commented on #4502
Why not python? Python has tons of libraries and bindings. Multimedia player application Kodi (https://kodi.tv/) uses python for their plugins.

[2017-07-13 19:05] yurivict commented on #1137
It isn't clear from the OP what is this feature and how is it used. Random number will be generated, but what's the purpose? Cursory look through the thread didn't help to understand it.

[2017-07-13 19:14] yurivict opened #4514 "[plugin idea] Word lookup through the preferred dictionary"
Once plugin system is developed, it would be nice to have a plugin that would show the selected word in the dictionary.

* User chooses the preferred dictionary from the pre-defined list
* Each item in the list has a name and a template URL for a word
* The user can choose any text to look up in the dictionary. qTox will open it in the pop-up web browser with this URL.

[2017-07-13 19:18] yurivict commented on #4502
I suggest the plugins system to be a separate project that Tox clients optionally depend on. This will allow plugins to be shared between clients. Clients should provide some basic functionality that plugin system can depend on, like "pop up the browser" or "read the user history".

[2017-07-13 21:32] woxcab commented on #4412
Issue was confirmed for the last release: b73603b45a32e63a649294537a62a9f11176c73d with toxcore 0.1.2.

[2017-07-14 22:45] shalnoff commented on #1560
This issue could be solved in qTox as well. Would be great to have something like checkbox in settings (maybe as temporary workaround)?

[2017-07-16 12:11] #4513 closed, assigned to nobody

[2017-07-16 20:53] #4150 closed, assigned to nobody

[2017-07-17 08:47] yurivict opened #4518 "1.11.0 build fails: 'toxpk_test.moc' file not found"
[code]

Found on the FreeBSD 11.1 using cmake.

Revision dd9b324 was building successfully.

[2017-07-17 13:48] rugk commented on #3879
Any news for flatpak support? Could be published on https://flathub.org/ e.g.

[2017-07-17 16:16] Serkan-devel commented on #3349
Any updates on appimage support?

[2017-07-17 17:37] sudden6 commented on #4518
Can you find out what commit introduced this regression?

[2017-07-17 18:04] sudden6 commented on #3879
No changes so far, do you want to try making qTox into one?

[2017-07-17 18:05] rugk commented on #3879
No, I'm just interested in this issue too. :smiley:

[2017-07-17 18:21] yurivict commented on #4518
Now even dd9b324 doesn't build for me. It used to build fine, I have qTox installed that says it was built from dd9b324.

What changed - cmake and other packages got updated on this system.
My guess is that this is some kind of cmake problem again.

1.11.0 fails with:
[code]

Revision dd9b324 fails with:
[code]

[2017-07-17 18:23] yurivict commented on #4518
Why isn't toxpk_test.cpp listed in any CMakeLists.txt files?

The only mention of ```toxpk_test``` is:
[code]

[2017-07-17 19:06] sudden6 commented on #4518
@yurivict maybe try removing `CMakeCache.txt` and the `CMakeFiles` folder? If you do an out of tree build, make sure that the source directory doesn't have these files either.

[2017-07-17 19:10] Diadlo commented on #4518
@yurivict It's used [here](https://github.com/qTox/qTox/blob/master/cmake/Testing.cmake#L23)

[2017-07-17 19:43] yurivict commented on #4518
When I comment out ```include(Testing)```, it still fails:
[code]

It doesn't run Qt's moc for some reason?

cmake framework for FreeBSD ports is used. It successfully builds hundreds of other cmake-based projects the same way. So it doesn't look like clean is a problem.

[2017-07-17 20:05] yurivict commented on #4518
'moc' is never called for some reason. On Linux, does log show moc calls?

Only moc files produced are these:
[code]
Shouldn't there be a lot more of them?

[2017-07-17 20:13] sudden6 commented on #4518
yes, moc is run on linux

[2017-07-17 20:16] sudden6 commented on #4518
here the full build output on linux for reference: https://gist.github.com/sudden6/06359e7c88ed55652cecc80edcbf01a0